<script>
setInterval(function () {
    $('.multiselect-parent').css({ 'width': '100%', 'width': '100%', 'text-align': 'left' });
    $('.dropdown-toggle').css({ 'width': '100%', 'width': '100%', 'text-align': 'left' });
    $('.caret').css({ 'float': 'right', 'margin-top': '9px' });
}, 100);
</script>
 <section class="module parallax-in parallax-mailing-list-bannerAAD">
    <div id="mailing-page" class="container">
        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white">AAD Search</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
        <div id="containerBox"></div>
</section>
<div id="search" class="container search-page">
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
<!--                 <li ng-class="{'active' : tabHref == 1}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); keywordSearchResetFunction(); tabHref = 1">Institutional Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 2}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); tabHref = 2">Personnel Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 3}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); tabHref = 3">Keyword Search</a>
                </li> -->
                <li ng-class="{'active' : tabHref == 1}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="vm.init();tabHref = 1">Institutional Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 2}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="vm.init();tabHref = 2">Personnel Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 3}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="vm.init();tabHref = 3">Keyword Search</a>
                </li>
            </ul>
            <div class="inputbg tab-content">
                <div id="church-search" class="tab-pane fade" ng-class="{'in active': tabHref == 1}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                 <h5 class="titletxt">Basic Search: Find an institution by name.</h5>
                             </div>
                         </div>
                     </div>
                     <hr/>
                     <div class="row inputlabel">
                        <div class="container-fluid">
                            <div class="form-group col-md-5">
                                <label for="">Institute Name :</label>
                                <input type="text" class="form-control" 
                                placeholder="" ng-model="name">
                                <br>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="instituteNameAllFlag">All of these words
                                    </label>
                                </div>
                            </div>
<!--                                 <div class="form-group col-md-5">
                                    <label for="">Minor Name :</label>
                                    <input type="text" class="form-control" 
                                    placeholder="" ng-model="shortName">
                                    <br>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"  ng-model="minorNameAllFlag">All of these words
                                        </label>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="submit" class="btn btn-color no-radius" ng-click="vm.institutionalSearch();">SEARCH</button>
                            <button type="button" class="btn btn-cancel no-radius" ng-click="vm.newSearchAAD()">RESET FORM</button>
                        </div>
                    </form>
                </div>
                <div id="personnel-search" class="tab-pane fade" 
                ng-class="{'in active': tabHref == 2}">
                <form>
                    <div class="row inputlabel">
                        <div class="container-fluid">
                            <div class="col-md-12">
                               <h5 class="titletxt">Basic Search: Find personnel by name.</h5>
                           </div>
                       </div>
                   </div>
                   <hr/>
                   <div class="row inputlabel">
                    <div class="container-fluid">
                        <div class="form-group col-md-6">
                            <label for="">First Name :</label>
                            <input type="text" class="form-control" 
                            placeholder="" ng-model="firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Last Name :</label>
                            <input type="text" class="form-control"  
                            placeholder=""  ng-model="lastName">
                        </div>
                    </div>
                </div>
                <div class="btnfooter">
                    <!--         <button type="button" class="btn btn-color no-radius" ng-click="searchFunction()">SEARCH</button> -->
                    <a class="btn btn-color no-radius" 
                    ng-click="vm.pSearch()">SEARCH</a>
                    <button type="button" class="btn btn-cancel no-radius" ng-click="vm.newSearchAAD()">RESET FORM</button>
                </div>
            </form>
        </div>
        <div id="keyword-search" class="tab-pane fade" ng-class="{'in active': tabHref == 3}">
            <div class="row inputlabel">
                <div class="container-fluid">
                    <div class="form-group col-md-3">
                        <label for="">Keyword :</label>
                        <input type="text" class="form-control" ng-model=keyword>
                        <div class="checkbox">
                            <div class="space-10"></div>
                            <label>
                                <input type="checkbox" ng-model="keywordSearchAllFlag">All of these words
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="">
                            <br/>
                        </label>
                        <!-- <select name="" id="" class="form-control" ng-model="keywordDropDown">
                            <option value="">Select</option>
                            <option value="features.name">Collection Description</option>
                            <option value="exhibition.exhibitName">Exhibit Description</option>
                        </select> -->
                            <div 
                            ng-dropdown-multiselect="" 
                            //search-filter="stateName1" 
                            options="keywordDropDownOptions" 
                            selected-model="keywordDropDown"
                            extra-settings="keywordDropDownSettings"
                            >
                            </div>
                    </div>
                </div>
            </div>
            <div class="btnfooter">
                <a class="btn btn-color no-radius" 
                ng-click="vm.keywordSearch()">SEARCH</a>
                <a class="btn btn-cancel no-radius" 
                ng-click="vm.newSearchAAD()">RESET FORM</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="space-10"></div>
<div class="row">
    <div class="col-md-12" ng-if="tabHref != 3">
        <div id="accordion">
            <h3><u style="color:blue">Advanced Search:</u> Find institutions by searching on ANY of the following fields.</h3>
            <div class="container-fluid">
                <div class="row inputlabel">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">City</label>
                                <input id="CityAuto" 
                                size="50" 
                                ng-model="cityName"
                                class="form-control">
                            
                      </div>
                    <div class="form-group">
                        <label for="">State</label>
                                  <!-- <input id="StateAuto" 
                                    size="50" 
                                    ng-model="stateName1"
                                    class="form-control"> -->
                                    <div 
                                    ng-dropdown-multiselect="" 
                                    search-filter="stateName1" 
                                    options="stateData" 
                                    selected-model="stateDatadata"
                                    extra-settings="InstitutionCategoryArrayDataSettings"
                                    >
                                    </div>
</div>
                            <div class="form-group">
                                <label for="">Established Detail</label>
                                <textarea name="" id="" rows="3" class="form-control" placeholder="" ng-model="establishedDetail"></textarea>
                            </div>
                            <div class="checkbox">
                                <div class="space-10"></div>
                                <label>
                                    <input type="checkbox" 
                                    ng-model="establishedDetailbFlag">All of these words
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="">Gallery Description</label>
                                <textarea name="" id="" rows="3" class="form-control" placeholder="" ng-model="galleryDescription"></textarea>
                            </div>
                            <div class="checkbox">
                                <div class="space-10"></div>
                                <label>
                                    <input type="checkbox" 
                                    ng-model="galleryDescriptionFlag">All of these words
                                </label>
                            </div>
                            <div class="checkbox col-md-4 pad">
                                <label>
                                    <input type="checkbox" ng-model="scholarship"><b>Scholarship</b></label>
                                    <div class="space-10"></div>
                                    <label>
                                        <input type="checkbox" ng-model="grants"><b>Grants</b></label>
                                    </div>

                                    <div class="checkbox col-md-4">
                                        <label>
                                            <input type="checkbox" ng-model="fellowship"><b>Fellowship</b></label>
                                        </div>
                                        <div class="checkbox col-md-4">
                                            <label>
                                                <input type="checkbox" ng-model="assistantship"><b>Assistantship</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Zip Code</label>
                                                <input type="text" class="form-control" 
                                                placeholder="" ng-model="zip">
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="">Attendance Method</label>
                                                        <select class="form-control" ng-model="vm.attendanceMethod">
                                                            <option value="">Select</option>
                                                            <option value="A">More than</option>
                                                            <option value="E">Between</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6" ng-if="vm.attendanceMethod == 'E'">
                                                        <label for="">Attendance Count</label>
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <input type="text" 
                                                                class="form-control" 
                                                                onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode <= 0"
                                                                ng-model="vm.attendanceCount">
                                                            </div>
                                                            <div class="col-md-2">
                                                                and
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" 
                                                                ng-model="vm.attendanceCounts">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" ng-if="vm.attendanceMethod == 'A'">
                                                        <label for="">Attendance Count</label>
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" 
                                                                ng-model="vm.attendanceCount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label for="">Education Programs</label>
                          <!--       <input type="text" class="form-control" 
                                placeholder="" 
                                ng-model="activitiesEducationDept"> -->
                                <textarea name="" id="" rows="3" 
                                placeholder="" class="form-control" ng-model="activitiesEducationDept"></textarea>

                            </div>
                            <div class="checkbox">
                                <div class="space-10"></div>
                                <label>
                                    <input type="checkbox" 
                                    ng-model="activitiesEducationDeptbFlag">All of these words
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="">Collection Description</label>
                                <textarea name="" id="" rows="3" 
                                placeholder="" class="form-control" ng-model="collectionDescription"></textarea>
                            </div>
                            <div class="checkbox">
                                <div class="space-10"></div>
                                <label>
                                    <input type="checkbox" ng-model="collectionDescriptionAllFlag">All of these words
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="">Degree Granted</label>
                                <input type="text" 
                                placeholder="" 
                                class="form-control" 
                                ng-model="degreeGranted">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="btnfooter">
                        <button type="submit" 
                        class="btn btn-color no-radius white" 
                        ng-click="searchFunction(tabHref);vm.gotoDiv('#gotoSearch');">
                        SEARCH
                        </button>
                        <button type="button" class="btn btn-cancel no-radius white" ng-click="vm.newSearchAAD()">
                        RESET FORM
                        </button>
                    </div>
                    <div class="space-10"></div>
                </div>
                <!--      </div> -->
            </div>
        </div>
    </div>

    <div class="space-10"></div>
<!--     <div class="row">
         <div class="col-md-12" id="searchData">
            <h4><b>Search Results</b></h4><br>
            <div class="table-responsive">
                <table datatable="" id="searchDataTable" dt-options="vm.dtO" dt-columns="vm.dtC" dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div> -->
    <div class="contener">
       <div class="col-md-12" id="gotoSearch">
           
           <!--  <h4><b>Search Results</b> </h4> -->
           <div class="col-md-6 pd-top">
               <h4><strong>Search Results</strong></h4>
           </div>
           <div class=" col-md-6 btnfooter pull-right">
            <button type="button" class="btn btn-cancel no-radius"
            ng-click="vm.newSearchAAD()">New Search</button>
            <button type="button" class="btn btn-cancel no-radius" 
            ng-click="vm.refinesearchAAD()">Refine Search</button>
        </div>
    </div>
    <div class="col-md-12" id="searchData">
        <div class="space-8"></div>
        <!--  ng-if="searchData" -->
        <div class="table-responsive" >
            <table datatable="" id="searchDataTable"
            dt-options="vm.dtO" 
            dt-columns="vm.dtC" 
            dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>
</div>
<div class="space-40"> </div>
<div class="space-40"> </div>
