<br>
<br>
<br>
<div class="container border-bottom">
        <div class="pull-right" ng-click="printDiv()">
            <a class="btn btn-default" >Print</a>
        </div>
    <div class="pull-right"  ng-click="show('ref')">
        <a class="btn btn-default" 
        ui-sref="core.search({navigateTo: '#gotoSearch', navigatePosition:+50})">
        <!-- <i class="fa fa-arrow-left"></i> -->
            Back
        </a>
    </div>
        <div class="pull-right"  ng-click="show('ref')">
        <a class="btn btn-default" 
        ui-sref="core.search({navigateTo: '#containerBox', navigatePosition: 50})">Refine Search</a>
    </div>
        <div class="pull-right"  ng-click="show('new')">
        <a class="btn btn-default" 
        ui-sref="core.search({navigateTo: '#containerBox', navigatePosition: 50})">New Search</a>
    </div>
    <div class="clearfix"></div>
    <div class="row"  id="printDiv">
        <div class="col-md-12 border-bottom" ng-if="organization.name">
            <span>
                <h3 class="dark-orange">{{organization.name}} </h3>
                <div ng-if="organization.galleryDescription">
                    <span class="titlelable">Gallery Description:</span>
                   <p>{{organization.galleryDescription}}</p>
                </div>
 
        </div>
        <div>
            <div class="col-md-12">
                <div ng-if="organization.address.length > 0" ng-init=showAddress(organization.address)>
                <span class="titlelable">Address:</span>
                <p class="text-linehight" 
                ng-repeat="address in organization.address"
                ng-if="!address.deleted && address.addressType.codeValue==organization.showAddressData">{{address.street1}} {{address.street2}} {{address.cityName}} {{address.stateName}} {{address.countryName}} {{address.zip}}
                </p>
                </div>
                <div>
                <any ng-if="organization.contact.phoneNumbers">
                    <span class="titlelable">Telephone:</span>
                    {{organization.contact.phoneNumbers}}
                </any>
                <any ng-if="organization.contact.faxNumbers">
                       <span class="titlelable">Fax:</span>
                    {{organization.contact.faxNumbers}}
                </any>
                </div>
                    
                <div ng-if="organization.contact.emails.primary">
                    <span class="titlelable">E-mail:</span>
                    {{organization.contact.emails.primary}}
                </div>
                <div ng-if="organization.contact.websites">
                    <span class="titlelable">Web Site:</span>
                    <a href="http://{{organization.contact.websites}}">{{organization.contact.websites}}</a>
                </div>
                <div ng-if="organization.timing">
                    <span class="titlelable ">Hours & Admission Prices:</span>
                    <p>{{organization.timing}}</p>
                </div>
                <div ng-repeat="x in organization.features"
                 ng-if="x.featureType == 'COLLECTION'">
                 <div ng-init="organization.collectionShow=1"></div>
                </div>
                <!-- <div>
                    <span class="titlelable text-style bottom-pd" 
                    ng-init="featureTypeViewShow=1" 
                    ng-if="featureTypeViewShow ==1">Collections:</span>
                    <div ng-repeat="x in organization.features" ng-if="x.featureType == 'COLLECTION'" 
                    ng-init="featureTypeViewShow+=1">{{x.name}}</div>
                </div> -->
                <div>
                <span 
                class="titlelable text-style bottom-pd"></span>
                <div 
                ng-repeat="x in organization.features" 
                ng-if="x.featureType == 'COLLECTION'" >
                    <span ng-init="featureTypeCollectionShow=1">{{show(featureTypeCollectionShow)}}</span>
                </div>
                </div>
                {{featureTypeCollectionShow}}
                <div>
                <span 
                class="titlelable text-style bottom-pd">Collections:</span>
                <div 
                ng-repeat="x in organization.features" 
                ng-if="x.featureType == 'COLLECTION'">{{x.name}}</div>
                </div>
                <div ng-if="organization.exhibition.length > 0">
                <span class="titlelable">Major Exhibitions:</span>
                    <div ng-repeat="keyPersonnel in organization.exhibition">
                    {{keyPersonnel.exhibitName}} {{keyPersonnel.showDate}}
                    </div>
                </div>                
                <div ng-if="organization.personnel.length > 0">
                    <span class="titlelable text-style">Key Personnel:</span>
                    <div class="text-linehight" ng-repeat="keyPersonnel in organization.personnel">
                      {{keyPersonnel.name.prefix}}   {{keyPersonnel.name.first}} {{keyPersonnel.name.last}} {{keyPersonnel.name.suffix}}- {{keyPersonnel.title}}
                    
                    </div>
                </div>
                
                <div ng-if="organization.volunteer.totalFullTimePaid || organization.volunteer.totalPartTimePaid || organization.volunteer.totalPartTimeUnpaid">
                    <span class="titlelable">Personnel Profile:</span>
                    <p class="text-linehight">Full-Time Paid {{organization.volunteer.totalFullTimePaid}}; Part-Time Paid {{organization.volunteer.totalPartTimePaid}}; Part-Time Volunteers {{organization.volunteer.totalPartTimeUnpaid}}.</p>
                </div>
                <div ng-if="organization.governing">
                    <span class="titlelable">Governing Authority:</span>
                    <p>{{organization.governing}}</p>
                </div>

                <div ng-if="organization.research.length > 0">
                    <span class="titlelable">Research Fields:</span>
                    <p ng-repeat="x in organization.research">{{x.description}}</p>
                </div>     
                <div ng-if="organization.featureType">

                <span class="titlelable bottom-pd" >Facilities:</span>
                    <div 
                        ng-repeat="x in organization.features" 
                        ng-if="x.featureType == 'FACILITY'">
                        {{x.name}}
                    </div>
                </div>
                <div ng-if="organization.activities.freeText">
                    <span class="titlelable">Activities:</span>
                    <p>{{organization.activities.freeText}}</p>
                </div>

                <div ng-if="organization.publication.length > 0">
                <span class="titlelable">Publications:</span>
                <p ng-repeat="x in organization.publication">{{x.description}}</p>
                </div>
                <div ng-if="organization.attendance.count.length > 0">
                    <span class="titlelable">Attendance:</span>
                    {{organization.attendance.countNumber | number}} {{organization.attendance.countNumber ? (organization.attendance.method === "E" ? "(Estimated)" : "(Accurate)") : "" }}
                </div>
                <div ng-if="organization.membership.length > 0 && organization.membership[0] != null">
                    <span class="titlelable">Membership:</span>
                    <any ng-repeat="val in organization.membership">
                    {{val}}
                    </any>
                </div>
                <div ng-if="organization.established.year">
                    <span class="titlelable">Founded:</span>
                    {{organization.established.year}}
                </div>
                <div ng-if="organization.congressDistrict">
                    <span class="titlelable">Congressional District:</span>
                    {{organization.congressDistrict}}
                </div>         
                    <div ng-if="organization.volunteerHours!= null">
                    <span class="titlelable">Volunteer Hours:</span>
                    {{organization.volunteerHours}}
                </div>     
                <div ng-if="organization.income!= null">
                    <span class="titlelable">Operating Income:</span>
                    {{organization.income}}
                </div>                    
                   <div ng-if="organization.expenses!= null">
                    <span class="titlelable">Operating Expenses:</span>
                    {{organization.expenses}}
                </div> 
                  <div ng-if="organization.artSchool[0].scholarship">
                    <!-- <span class="glyphicon glyphicon-ok"></span> -->
                    <span class="titlelable">Scholarship:</span> Yes
                 </div>  
                <!-- <div ng-if="!organization.artSchool[0].scholarship">
                    <span class="glyphicon glyphicon-remove "></span>
                   <span class="titlelable"> Scholarship</span>
                </div>   -->
                <div ng-if="organization.artSchool[0].fellowships">
                    <!-- <span class="glyphicon glyphicon-ok"></span> -->
                   <span class="titlelable">Fellowship:</span> Yes
                 </div>  
                <!-- <div ng-if="!organization.artSchool[0].fellowships">
                    <span class="glyphicon glyphicon-remove"></span>
                   <span class="titlelable"> Fellowship</span>
                 </div> -->
                <div ng-if="organization.artSchool[0].assistantships">
                    <!-- <span class="glyphicon glyphicon-ok"></span> -->
                   <span class="titlelable"> Assistantship:</span> Yes
                 </div>  
                <!-- <div ng-if="!organization.artSchool[0].assistantships">
                    <span class="glyphicon glyphicon-remove"></span>
                  <span class="titlelable">  Assistantship</span>
                 </div> -->
                 <div ng-if="organization.artSchool[0].grants">
                    <!-- <span class="glyphicon glyphicon-ok"></span> -->
                    <span class="titlelable">Grants:</span> Yes
                 </div>  
                <!-- <div ng-if="!organization.artSchool[0].grants">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="titlelable">Grants</span>
                 </div> -->
                <div>
                <label class="titlelable" ng-if="_degreeGranted !=null">Degree Granted:</label>
                <div ng-repeat="val in organization.artSchool">
                <p ng-init="_degreeGranted=val.degreeGranted">{{val.degreeGranted}}</p>
                </div>
            </div>
           <div>
                <label class="titlelable" ng-if="organization.activities.educationDept">Education Programs:</label>
                
                <p>{{organization.activities.educationDept}}</p>
                
            </div>         
              <div>
                <label class="titlelable" ng-if="organization.established.detail">Established:</label>
                
                {{organization.established.detail}}
                
            </div>
                 
            </div>
        </div>
    </div>
</div>
<div class="space-40"> </div>
