<script>
setInterval(function () {
    $('.multiselect-parent').css({ 'width': '100%', 'width': '100%', 'text-align': 'left' });
    $('.dropdown-toggle').css({ 'width': '100%', 'width': '100%', 'text-align': 'left' });
    $('.caret').css({ 'float': 'right', 'margin-top': '9px' });
}, 100);
</script>
<section class="module parallax-in parallax-mailing-list-bannerCFS">
    <div id="mailing-page" class="container">

        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white">CFS Search</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
</section>
<div id="search" class="container search-page">
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active' : tabHref == 1}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); keywordSearchResetFunction(); tabHref = 1">Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 2}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); tabHref = 2">Personnel Search</a>
                </li>
            </ul>
            <div class="inputbg tab-content">
                <div id="church-search" class="tab-pane fade" ng-class="{'in active': tabHref == 1}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <h5 class="titletxt">Basic Search:Find an institution by name.</h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-5">
                                    <label for="">Institute Name :</label>
                                    <input type="text" class="form-control" ng-model="vm.data.name.value">
                                    <span ng-show="name.$touched ">The name is required.</span>
                                    <div class="space-5"></div>
                                    <div class="checkbox">
                                        <label>
                                        <br>
                                            <input type="checkbox" ng-model="vm.data.name.regx">All of these words
                                        </label>
                                    </div>
                                </div>
             <!--                    <div class="form-group col-md-5">
                 <label for="">Parent Name :</label>
                 <input type="text" class="form-control" ng-model="parentName">
                 <div class="checkbox">
                     <label>
                         <input type="checkbox" ng-model="instituteParentNameAllFlag">All of these words
                     </label>
                 </div>
             </div> -->
                            </div>
                        </div>
                        <div class="btnfooter">
                            <!-- <button type="submit" class="btn btn-color no-radius" ng-click="vm.institutionalSearch();">SEARCH</button> -->
                            <button type="submit" class="btn btn-color no-radius" ng-click="vm.institutionalSearch()">SEARCH</button>
                            <button type="button" class="btn btn-cancel no-radius" ng-click="basicSearchResetFunction()">RESET FORM</button>

                        </div>
                    </form>
                </div>
                <div id="personnel-search" class="tab-pane fade" ng-class="{'in active': tabHref == 2}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                    <h5 class="titletxt">Basic Search:Find personnel by name.</h5>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-6">
                                    <label for="">First Name :</label>
                                    <input type="text" class="form-control" ng-model="firstName">
                                    <br>
                                    <label for="">Officer Type</label>
                            <!--         <select class="form-control" ng-model="officerType.codeVal" ng-options="thisofficerType as thisofficerType.codeValue for thisofficerType in officerTypeArray"></select> -->
                                   <div ng-dropdown-multiselect="" 
                                        search-filter="officerType1" 
                                        options="officerTypeArray" 
                                        selected-model="vm.data.officerType.value" 
                                        extra-settings="example15settings" 
                                        style="width:500px">
                                        </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Last Name :</label>
                                    <input type="text" class="form-control" ng-model="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="button" class="btn btn-color no-radius" ng-click="searchFunction()">SEARCH</button>
                            <button type="button" class="btn btn-cancel no-radius" ng-click="basicSearchResetFunction()">RESET FORM</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12" ng-if="tabHref != 3">
            <div id="accordion">
                 <h3><u style="color:blue">Advanced Search:</u> Find institutions by searching on ANY of the following fields.</h3>
                <div class="container-fluid">
                    <div class="row inputlabel">
                        <div class="col-md-6">
                            <form role="form" name="searchForm" ng-submit="searchFunction()">
                                <div class="form-group">
                                     <label for="">City</label>
                           <!--
                           <input type="text" id="auto-complete-city" class="form-control" name="cityName" ng-model="cityName">
                           <span style="color:red" ng-show="searchForm.cityName.$error.minlength">Enter minimum 3 characters</span>
                           </input> -->
                                        <!-- <div ng-dropdown-multiselect="" 
                                        search-filter="cityName" 
                                        options="cityData" 
                                        selected-model="cityDatadata" 
                                        extra-settings="example15settings" 
                                        style="width:500px">
                                        </div> -->
                                          <input id="CityAuto" 
                                size="50" 
                                ng-model="vm.data.City.value"
                                class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">State</label>
                            <!--         <input type="text" id="auto-complete-state" name="stateName" ng-model="stateName" class="form-control"></input>
                            <span style="color:red" ng-show="searchForm.stateName.$error.minlength">Enter minimum 3 characters</span> -->
                                                                        
                                <div ng-dropdown-multiselect="" 
                                search-filter="stateName1" 
                                options="stateData" 
                                selected-model="vm.data.state.value" 
                                extra-settings="InstitutionCategoryArrayDataSettings">
                                </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <label for="">Established Year</label>
                                <input type="text" class="form-control" ng-model="vm.data.establishedYear.value">
                            </div>
                            <div class="form-group">
                                <label for="">Industry Preferences</label>
               <!--                  <select class="form-control" 
                                ng-model="industryPreferences.codeVal" 
                                ng-options="thisIndustryPreference as thisIndustryPreference.codeValue for thisIndustryPreference in IndustryPreferenceArray"></select> -->
                                        <!-- <div ng-dropdown-multiselect="" 
                                        search-filter="industryPreferences1" 
                                        options="IndustryPreferenceArray" 
                                        selected-model="industryPreferences" 
                                        extra-settings="InstitutionCategoryArrayDataSettings" 
                                        >
                                        </div> -->          
                                        <div ng-dropdown-multiselect="" 
                                        search-filter="industryPreferences1" 
                                        options="IndustryPreferenceArray" 
                                        selected-model="vm.data.industryPreferences.value" 
                                        extra-settings="InstitutionCategoryArrayDataSettings" 
                                        >
                                        </div>
                            </div>
                            <div class="form-group">
                                <label for="">Geographical Preferences</label>
                   <!--              <select class="form-control" ng-model="geographicalPreference.codeVal" ng-options="thisGeographicalPreference as thisGeographicalPreference.codeValue for thisGeographicalPreference in GeographicalPreferenceArrray"></select> -->
                               <div ng-dropdown-multiselect="" 
                                        search-filter="geographicalPreference1" 
                                        options="GeographicalPreferenceArrray" 
                                        selected-model="vm.data.geographicalPreference.value" 
                                        extra-settings="InstitutionCategoryArrayDataSettings" 
                                        >
                                        </div>
                            </div>
                            <div class="form-group">
                                <label for="">International Geographical Preferences</label>
                                <input type="text" class="form-control" ng-model="vm.data.geographicalPreferencesAroundTheWorld.value">
                            </div>
                            <div class="form-group">
                                <label for="">Firm Will Take Active Role as</label>
                       <!--          <select class="form-control" ng-model="firmWillTakeActiveRoleAs.codeVal" ng-options="firmWillTakeActiveRoleAs as firmWillTakeActiveRoleAs.codeValue for firmWillTakeActiveRoleAs in firmWillTakeActiveRoleAsArray"></select> -->
                               <div ng-dropdown-multiselect="" 
                                        search-filter="firmWillTakeActiveRoleAs1" 
                                        options="firmWillTakeActiveRoleAsArray" 
                                        selected-model="vm.data.firmWillTakeActiveRoleAs.value" 
                                        extra-settings="InstitutionCategoryArrayDataSettings" 
                                        >
                                        </div>
                            </div>
                            <div class="form-group">
                                <label for="">Minimum Size Investment</label>
                                <input type="text" class="form-control" 
                                ng-model="vm.data.minimumSizeInvestment.value">
                            </div>
                            <div class="form-group">
                                <label for="">Preferred Size Investment</label>
                                <input type="text" class="form-control" 
                                ng-model="vm.data.preferredSizeInvestment.value">
                            </div>
                            <div class="form-group">
                                <label for="">Maximum Size Investment in One Company</label>
                                <input type="text" class="form-control" 
                                ng-model="vm.data.maximumSizeInvestmentInOneCompany.value">
                            </div>
                            <div class="form-group">
                                <label for="">Portfolio Relationship</label>
                     <!--            <select class="form-control" ng-model="portfolioRelationship.codeVal" ng-options="portfolioRelationship as portfolioRelationship.codeValue for portfolioRelationship in portfolioRelationshipArray"></select> -->
                               <div ng-dropdown-multiselect="" 
                                        search-filter="portfolioRelationship1" 
                                        options="portfolioRelationshipArray" 
                                        selected-model="vm.data.portfolioRelationship.value" 
                                        extra-settings="example15settings" 
                                        style="width:500px">
                                        </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Zip Code</label>
                                <input type="text" class="form-control" ng-model="vm.data.zip.value">
                            </div>
                            <div class="form-group">
                                <label for="">Funds Available for Investments or Loans</label>
                                <input type="text" class="form-control" 
                                ng-model="vm.data.fundsAvailabel.value">
                            </div>
                            <div class="form-group">
                                <label for="">Main Sources of Capital</label>
                                <input type="text" class="form-control" 
                                ng-model="vm.data.mainSourcesOfCapital.value">
                            </div>
                            <div class="form-group">
                                <label for="">Financing Preferred</label>
                          <!--       <select class="form-control" ng-model="financingPreferred.codeVal" ng-options="financingPreferred as financingPreferred.codeValue for financingPreferred in financingPreferredArray"></select> -->
                                <div ng-dropdown-multiselect="" 
                                        search-filter="financingPreferred1" 
                                        options="financingPreferredArray" 
                                        selected-model="vm.data.financingPreferred.value" 
                                        extra-settings="example15settings" >
                                        </div>
                            </div>
                            <div class="form-group">
                                <label for="">Firm Prefers Not to Invest in</label>
                                <input type="text" class="form-control" 
                                ng-model="vm.data.firmPrefersNotToInvestIn.value">
                            </div>
                            <div class="form-group">
                                <label for="">Minimum Operating Data Required to Consider Financing</label>
                                <input type="text" class="form-control" ng-model="vm.data.minimumOperatingData.value">
                            </div>
                            <div class="form-group">
                                <label for="">Exit Criteria</label>
                                <input type="text" class="form-control" ng-model="vm.data.exitCriteria.value">
                            </div>
                            <div class="form-group">
                                <label for="">Investment Portfolio Size</label>
                                <input type="text" class="form-control" ng-model="vm.data.investmentPortfolioSize.value">
                            </div>
                            <div class="form-group">
                                <label for="">Average Number of Deals Completed Annually</label>
                                <input type="text" class="form-control" ng-model="vm.data.averageNumberOfDealsCompletedAnnually.value">
                            </div>
                            <div class="form-group">
                                <label for="">Average Amount Invested Annually</label>
                                <input type="text" class="form-control" ng-model="vm.data.averageAmountInvestedAnnually.value">
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!-- "searchFunction()" -->
                    <div class="container-fluid text-right">
                        <a class="btn btn-color no-radius" 
                        ng-click=searchFunction(tabHref)>
                            <font color="white">SEARCH</font>
                        </a>
                        <a class="btn btn-cancel no-radius" ng-click="advanceCFSSearchResetFunction()">
                            <font color="white">RESET FORM</font>
                        </a>
                    </div>
                    <div class="space-10"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12" id="gotoSearch">
            <h4><b>Search Results</b></h4>
              <div class="space-10"></div>
            <div class="table-responsive">
                <table datatable="" id="searchDataTable" dt-options="vm.dtO" dt-columns="vm.dtC" dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<div class="space-40"></div>
<div class="space-40"></div>
