<!-- <br>
<br>
<br>
<div class="container border-bottom">
    <div class="pull-right">
        <a class="btn btn-default" ui-sref="core.search({navigateTo: '#search'})"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 border-bottom">
            <label>
                <h3 class="dark-orange">{{organization.name}}</h3>
                <p class="titlelable">Institution Description:</p>{{organization.entityType}}
            </label>
        </div>
        <div class="col-md-12">
            <div class="space-10"></div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Telephone:</label>
                    <p>{{organization.contact.phoneNumbers}}</p>
                </div>
                <div>
                    <label class="titlelable">Primary E-mail:</label>
                    <p>{{organization.contact.emails.primary}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Fax:</label>
                    <p>{{organization.contact.faxNumbers}}</p>
                </div>
                <div>
                    <label class="titlelable">Secondary E-mail:</label>
                    <p>{{organization.contact.emails.secondary}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Web Site:</label>
                    <a href="http://{{organization.contact.websites}}">
                        <br>{{organization.contact.websites}}</a>
                </div>
                <div>
                    <label class="titlelable">Established Year:</label>
                    <p>{{organization.established.year}}</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="titlelable">Address:</label>
                        <p></p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10">#</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in organization.address" ng-if="!address.deleted">
                                    <td class="text-center">{{ ($index+1) }}</td>
                                    <td>{{address.addressType.description}}</td>
                                    <td>
                                        <b>Street 1: </b>{{address.street1}}
                                        <br>
                                        <b>Street 2: </b>{{address.street2}}
                                        <br>
                                        <b>City: </b>{{address.cityName}}
                                        <br>
                                        <b> State/Territory: </b>{{address.stateName}}
                                        <br>
                                        <b>Country: </b>{{address.countryName}}
                                        <br>
                                        <b>Zip: </b>{{address.zip}}
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <label class="titlelable">Collections:</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in organization.features" ng-if="x.featureType == 'COLLECTION'">
                                <td>{{x.codeName}}</td>
                                <td>{{x.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <label class="titlelable">Key Personnel:</label>
                <div class="container-fluid box-body table-responsive cf">
                    <div class="row">
                        <p></p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl" width="10">#</th>
                                    <th>Title </th>
                                    <th>Custom Title</th>
                                    <th>Name</th>
                                    <th>Contact Details</th>
                                    <th>Kind Attention</th>
                                    <th>Print</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="keyPersonnel in organization.personnel">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                                    <td>{{keyPersonnel.title}}</td>
                                    <td>{{keyPersonnel.name.first}} {{keyPersonnel.name.last}} </td>
                                    <td>
                                        <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                        <br>
                                        <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                        <br>
                                        <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                        <br>
                                        <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                        <br>
                                        <strong>Websites</strong>: {{ keyPersonnel.website }}
                                        <br>
   
                                    </td>
                                    <td class="text-center">{{ keyPersonnel.attention ? "YES" : (keyPersonnel.attention === false ? "NO" : "") }}</td>
                                    <td class="text-center">{{ keyPersonnel.printFlag ? "YES" : (keyPersonnel.printFlag === false ? "NO" : "") }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div>
                        <label class="titlelable">Facilities:</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in organization.features" ng-if="x.featureType == 'FACILITY'">
                                    <td>{{x.codeName}}</td>
                                    <td>{{x.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <label class="titlelable">Chapter Specifications:</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <p></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="10">#</th>
                                        <th>Specification Type</th>
                                        <th>Specification Code</th>
                                        <th>Name</th>
                                        <th>Listing Type</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="chapterSpecification in organization.chapterSpecification">
                                        <td class="text-center">{{ ($index+1) }}</td>
                                        <td>{{chapterSpecification.specificationType}}</td>
                                        <td>{{chapterSpecification.code.codeValue}}</td>
                                        <td>{{chapterSpecification.name}}</td>
                                        <td>{{chapterSpecification.listingType.codeValue}}</td>
                                        <td>{{chapterSpecification.activeFlag ? "YES" : (chapterSpecification.activeFlag == false ? "NO" : "")}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-40"> </div>
 -->
 <br>
<br>
<br>
<div class="container border-bottom">
    <!-- <div class="pull-right">
        <a class="btn btn-default" ui-sref="core.search({navigateTo: '#search', navigatePosition: 50})"><i class="fa fa-arrow-left"></i> Back</a>
    </div> -->
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 border-bottom">
            <label>
                <h3 class="dark-orange">{{organization.name}}</h3>
                <p class="titlelable">Institution Description:</p> {{organization.entityType}}
            </label>
        </div>
        <div class="col-md-12">
            <div class="space-10"></div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Telephone:</label>
                    <p>{{organization.contact.phoneNumbers}}</p>
                </div>
                <div>
                    <label class="titlelable">Primary E-mail:</label>
                    <p>{{organization.contact.emails.primary}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Fax:</label>
                    <p>{{organization.contact.faxNumbers}}</p>
                </div>
                <div>
                    <label class="titlelable">Secondary E-mail:</label>
                    <p>{{organization.contact.emails.secondary}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Web Site:</label>
                    <a href="http://{{organization.contact.websites}}">
                        <br>{{organization.contact.websites}}</a>
                </div>
                <div>
                    <label class="titlelable">Hours & Admission Prices:</label>
                    <p>{{organization.timing}}</p>
                </div>
            </div>
  <!--           <div class="col-md-4">
                <div>
                    <label class="titlelable">officers:</label>
                    <p ng-repeat="val in organization.personnel[0].officers">
                            {{val.OfficerTypeName}}
                    </p> 
                </div>
            </div> -->

            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="titlelable">Address:</label>
                        <p></p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10">#</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in organization.address" ng-if="!address.deleted">
                                    <td class="text-center">{{ ($index+1) }}</td>
                                    <td>{{address.addressType.description}}</td>
                                    <td>
                                        <b>Street 1: </b>{{address.street1}}
                                        <br>
                                        <b>Street 2: </b>{{address.street2}}
                                        <br>
                                        <b>City: </b>{{address.cityName}}
                                        <br>
                                        <b> State/Territory: </b>{{address.stateName}}
                                        <br>
                                        <b>Country: </b>{{address.countryName}}
                                        <br>
                                        <b>Zip: </b>{{address.zip}}
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
              <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                    <label class="titlelable">Chapter Specifications:</label>
                        <p></p>
                               <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10">#</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in organization.chapterSpecification">
                              <td>{{$index+1}}</td>
                            <td>{{val.specificationType}}</td>
                            <td>{{val.codeName}}</td>
                            <tr>
                            </tbody>
                            </table>
                            <!-- <div ng-repeat="val in organization.chapterSpecification">
                            <p> {{val.specificationType}}   -   {{val.codeName}}</p>
                            </div> -->
                    </div>
                </div>
                </div>
            <div class="col-md-12">
                <div>
                    <label class="titlelable">Collections:</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in organization.features" ng-if="x.featureType == 'COLLECTION'">
                                <td>{{x.codeName}}</td>
                                <td>{{x.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div ng-if="x">
                    <label class="titlelable">Major Exhibitions:</label>
                    <p ng-repeat="x in organization.exhibition">{{x.exhibitName}} {{x.showDate}}</p>
                </div>
                <div>
                    <label class="titlelable" ng-if="organization.personnel.length > 0">Key Personnel:</label>
                    <div ng-repeat="keyPersonnel in organization.personnel">
                        <p>{{keyPersonnel.name.first}} {{keyPersonnel.name.last}} - {{keyPersonnel.title}}</p>
                                 
                     <!--        <label class="titlelable">officers:</label>
                            <p ng-repeat="val in keyPersonnel.officers">
                                    {{val.OfficerTypeName}}
                            </p>  -->
                            <label>Officer Details:</label>
                            <ul>
                                
                                <li  ng-repeat="val in keyPersonnel.officers">{{val.OfficerTypeName}}</li>
                            </ul>
                
                    </div>
                </div>
                <!--    <div class="container-fluid box-body table-responsive cf">
                 <div class="row">
                     <p></p>
                     <table class="table table-bordered">
                         <thead>
                             <tr>
                                 <th class="widthfcl" width="10">#</th>
                                 <th>Title </th>
                                 <th>Custom Title</th>
                                 <th>Name</th>
                                 <th>Contact Details</th>
                                 <th>Kind Attention</th>
                                 <th>Print</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="keyPersonnel in organization.personnel">
                                 <td class="text-center">{{$index+1}}</td>
                                 <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                                 <td>{{keyPersonnel.title}}</td>
                                 <td>{{keyPersonnel.name.first}} {{keyPersonnel.name.last}} </td>
                                 <td>
                                     <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                     <br>
                                     <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                     <br>
                                     <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                     <br>
                                     <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                     <br>
                                     <strong>Websites</strong>: {{ keyPersonnel.website }}
                                     <br>
                                     //commentedline//<strong>Social</strong>: {{ keyPersonnel.social }}<br>
                                 </td>
                                 <td class="text-center">{{ keyPersonnel.attention ? "YES" : (keyPersonnel.attention === false ? "NO" : "") }}</td>
                                 <td class="text-center">{{ keyPersonnel.printFlag ? "YES" : (keyPersonnel.printFlag === false ? "NO" : "") }}</td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div> -->
                <div ng-if="organization.volunteer.totalFullTimePaid || organization.volunteer.totalPartTimePaid || organization.volunteer.totalPartTimeUnpaid">
                    <label class="titlelable">Personnel Profile:</label>
                    <p>Full-Time Paid {{organization.volunteer.totalFullTimePaid}}; Part-Time Paid {{organization.volunteer.totalPartTimePaid}}; Part-Time Volunteers {{organization.volunteer.totalPartTimeUnpaid}}.</p>
                </div>
                <div>
                    <label class="titlelable">Governing Authority:</label>
                    <p>{{organization.governing}}</p>
                </div>
                <div ng-if="organization.research.length>0">
                    <label class="titlelable">Research Fields:</label>
                    <p ng-repeat="x in organization.research">{{x.description}}</p>
                </div>
                <div>
                    <div>
                        <label class="titlelable">Facilities:</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in organization.features">
                                    <td>{{x.codeName}}</td>
                                    <td>{{x.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <label class="titlelable">Facilities:</label>
                    <div ng-repeat="x in organization.features">
                        <div ng-if="x.featureType == 'FACILITY'">
                            <p>{{x.codeName}} {{x.name}}</p>
                        </div>
                    </div> -->
                </div>
                <div>
                    <label class="titlelable">Activities:</label>
                    <p>{{organization.activities.freeText}}</p>
                </div>
                <div>
                    <label class="titlelable" ng-if="organization.publication.length>0">Publications:</label>
                    <p ng-repeat="x in organization.publication">{{x.description}}</p>
                </div>
                <div>
                    <label class="titlelable">Attendance:</label>
                    <p>{{organization.attendance.count | number}} {{organization.attendance.count ? (organization.attendance.method === "E" ? "(Estimated)" : "(Accurate)") : "" }}</p>
                </div>
                <div ng-if="organization.membership[0]">
                    <label class="titlelable">Membership:</label>
                    <p>{{organization.membership[0]}}</p>
                </div>
                <div>
                    <label class="titlelable">Established Detail:</label>
                    <p>{{organization.established.year}}</p>
                </div>
                <div>
                    <label class="titlelable">Congressional District:</label>
                    <p>{{organization.congressDistrict}}</p>
                </div>       
                <div>
                    <label class="titlelable">Institution Description:</label>
                    <p>{{organization.galleryDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-40"> </div>
