<script>
setInterval(function(){
$('.multiselect-parent').css({'width':'100%','width':'100%','text-align':'left'});
$('.dropdown-toggle').css({'width':'100%','width':'100%','text-align':'left'});
$('.caret').css(    {'float': 'right','margin-top':'9px'});
},100);
</script>
<section class="module parallax-in parallax-mailing-list-bannerDMMP">
    <div id="mailing-page" class="container">
        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white">DMMP Search</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
         <div id="containerBox"></div>
</section>
<div id="search" class="container search-page">
    <div class="space-10"></div>
    <div class="row">
         <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active' : tabHref == 1}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); keywordSearchResetFunction(); tabHref = 1">Institutional Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 2}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); tabHref = 2">Personnel Search</a>
                </li>
            </ul>
            <div class="inputbg tab-content">
                <div id="church-search" class="tab-pane fade" ng-class="{'in active': tabHref == 1}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                 <h5 class="titletxt">Basic Search: Find an institution by name.</h5>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-5">
                                    <label for="">Institute Name :</label>
                                    <input type="text" class="form-control" 
                                    placeholder="" 
                                    ng-model="name"><br>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="instituteNameAllFlag">All of these words
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button 
                            type="submit" 
                            class="btn btn-color no-radius" 
                            ng-click="vm.institutionalSearch();">SEARCH</button>
                            <button type="button" class="btn btn-cancel no-radius" ng-click="vm.newSearchAAD()">RESET FORM</button>
                        </div>
                    </form>
                </div>
                <div id="personnel-search" class="tab-pane fade" ng-class="{'in active': tabHref == 2}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                  <h5 class="titletxt">Basic Search: Find personnel by name.</h5>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-6">
                                    <label for="">First Name :</label>
                                    <input type="text" class="form-control" 
                                    placeholder="" ng-model="firstName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Last Name :</label>
                                    <input type="text" class="form-control" 
                                    placeholder="" ng-model="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="button" class="btn btn-color no-radius" ng-click="vm.pSearch()">SEARCH</button>
                            <button type="button" class="btn btn-cancel no-radius" ng-click="advanceSearchResetFunctionDMMP()">RESET FORM</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12" ng-if="tabHref != 3">
            <div id="accordion">
             <h3><u style="color:blue">Advanced Search:</u> Find institutions by searching on ANY of the following fields.</h3>
                <div class="container-fluid">
                    <div class="row inputlabel">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">City</label>
                              <input id="CityAuto" 
                                size="50" 
                                ng-model="cityName"
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">State</label>
                                    <div 
                                    ng-dropdown-multiselect="" 
                                    search-filter="stateName1" 
                                    options="stateData" 
                                    selected-model="stateDatadata"
                                    extra-settings="InstitutionCategoryArrayDataSettings"
                                    >

                            </div>
                            </div>
                            <div class="form-group">
                                <label for="">Established Year</label>
                                <input type="text" class="form-control" 
                                placeholder="" ng-model="establishedYear ">
                            </div>
                                <div class="form-group">
                                <div class="row">
                                   <div class="col-md-12 ">
                                        <label for="">Advertising Marketing Budget Related to Direct Marketing</label>  
                                         </div>  
                                        <div class="space-10"></div>
                                          <div class="col-md-5">
                                        <select class="form-control" ng-model="vm.totalAdvertisingBudgeMethod">
                                            <option value="select">Select</option>
                                            <option value="A">More than</option>
                                            <option value="E">Between</option>
                                        </select>
                               
                                </div>
                                
                                <div class="space-10"></div>
                                <div class="space-10"></div>
                                <div class="space-10"></div>
                                <div class="space-10"></div>  
                                <br>
                                    <div class="col-md-6" ng-if="vm.totalAdvertisingBudgeMethod == 'E'">
                                        
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type="text" 
                                                class="form-control" 
                                                ng-model="vm.totalAdvertisingBudget1">
                                                <!-- {{attendanceCount}} -->
                                            </div>
                                            <div class="col-md-2">
                                                and
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" 
                                                ng-model="vm.totalAdvertisingBudget2">
                                                <!-- {{attendanceCounts}} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-if="vm.totalAdvertisingBudgeMethod == 'A'">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" 
                                                ng-model="vm.totalAdvertisingBudget1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label for="">Vendor Name</label>
                                <input type="text" class="form-control" 
                                placeholder="" ng-model="vendorsName">
                            </div>
                            <div class="form-group">
                                <label for="">Conduct Business</label>
                            <textarea name="" id="" rows="3" class="form-control" placeholder="" ng-model="conductBusiness"></textarea>
                            </div>
                            <div class="checkbox">
                                <div class="space-10"></div>
                                <label>
                                    <input type="checkbox" 
                                    ng-model="conductBusinessbFlag">All of these words
                                </label>
                            </div>
                              <div class="space-10"></div> 
                             <div class="space-10"></div> 
                            <div class="form-group ">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" name="catalogOnline" ng-model="catalogOnline">
                                    <span class="lbl"><strong class="checkboxspace">Catalog Available Online</strong></span>
                                </label>
                                <ul class="nav catlog-available-online">
                                    <li>
                                        <label>
                                            <input type="radio" class="ace ace-checkbox-2" name="catalogOnline" value="D" ng-disabled="!catalogOnline" ng-model="onlineSales">
                                            <span class="lbl"><span class="radiospace">Direct Online Sales</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" name="catalogOnline" value="I" class="ace ace-checkbox-2" ng-disabled="!catalogOnline" ng-model="onlineSales">
                                            <span class="lbl"><span class="radiospace">Indirect Online Sales</span></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Zip Code</label>
                                <input type="text" class="form-control" 
                                placeholder="" ng-model="zip ">
                            </div>
                            <div class="form-group">
                                <label for="">Employees</label>
                                <input type="text" class="form-control" 
                                placeholder="" ng-model="employees ">
                            </div>
                            <div class="form-group">
                                <label for="">Listing Type</label>
                                <div ng-dropdown-multiselect="" 
                                        search-filter="listingType1" 
                                        options="listingTypeArray" 
                                        selected-model="listingType" 
                                        extra-settings="example15settings" 
                                        style="width:500px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Direct Marketing Ad Budget</label>
                                <div ng-dropdown-multiselect="" 
                                        search-filter="disbursalType1" 
                                        options="disbursalTypeArray" 
                                        selected-model="disbursalType" 
                                        extra-settings="example15settings" 
                                        style="width:500px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Direct Marketing Ad Budget</label>
                                 <div class="row">
                                <div class="col-md-4">
                                <label for="">Min:</label>
                                <input 
                                type="text" 
                                class="form-control"
                                ng-model="t1">
                                </div>

                                <div class="col-md-4">
                                <label for=""> Max:</label>
                                <input 
                                type="text" 
                                class="form-control"
                                ng-model="t2">
                                </div>
                                </div>
                            </div>
                                <div class="form-group">
                                <label for="">Business Description</label>
                                <textarea name="" id="" rows="3" class="form-control" placeholder="" ng-model="galleryDescription"></textarea>
                            </div>
                            <div class="checkbox">
                                <div class="space-10"></div>
                                <label>
                                    <input type="checkbox" 
                                    ng-model="galleryDescriptionFlag">All of these words
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="container-fluid text-right">
                        <button type="submit" class="btn btn-color no-radius" ng-click="searchFunction(tabHref);vm.gotoDiv('#gotoSearch');">
                            <font color="white">SEARCH</font>
                        </button>
                        <button type="button" class="btn btn-cancel no-radius" ng-click="advanceSearchResetFunctionDMMP()">
                            <font color="white">RESET FORM</font>
                        </button>
                    </div>
                    <div class="space-10"></div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="contener">
     <div class="col-md-12" id="gotoSearch">
             <div class="col-md-6 pd-top">
                 <h4><strong>Search Results</strong></h4>
             </div>
          <div class=" col-md-6 btnfooter pull-right">
            <button type="button" class="btn btn-cancel no-radius"
            ng-click="vm.newSearchAAD()">New Search</button>
            <button type="button" class="btn btn-cancel no-radius" 
            ng-click="vm.refinesearchAAD()">Refine Search</button>
          </div>
        </div>
        <div class="col-md-12" id="searchData">
         
            <div class="space-8"></div>
            <div class="table-responsive" >
                <table datatable="" id="searchDataTable" 
                dt-options="vm.dtO" 
                dt-columns="vm.dtC" 
                dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<div class="space-40"></div>
<div class="space-40"></div>

