<br>
<br>
<br>
<div class="container border-bottom">
        <div class="pull-right" ng-click="printDiv()">
            <a class="btn btn-default" >Print</a>
        </div>
    <div class="pull-right"  ng-click="show('ref')">
        <a class="btn btn-default" 
        ui-sref="core.search({navigateTo: '#gotoSearch', navigatePosition:+50})">
        <!-- <i class="fa fa-arrow-left"></i> -->
            Back
        </a>
    </div>
        <div class="pull-right"  ng-click="show('ref')">
        <a class="btn btn-default" 
        ui-sref="core.search({navigateTo: '#containerBox', navigatePosition: 50})">Refine Search</a>
    </div>
        <div class="pull-right"  ng-click="show('new')">
        <a class="btn btn-default" 
        ui-sref="core.search({navigateTo: '#containerBox', navigatePosition: 50})">New Search</a>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 border-bottom" ng-if="organization.name">
            <span>
                <h3 class="dark-orange">{{organization.name}} </h3>
                <div ng-if="organization.entityType">
                    <span class="titlelable">Institution Description:</span>
                   <p>{{organization.entityType}}</p>
                </div>
 
        </div>
        <div>
            <div class="col-md-12">
                <div ng-if="organization.address.length > 0" ng-init=showAddress(organization.address)>
                <span class="titlelable">Address:</span>
                <p class="text-linehight" 
                ng-repeat="address in organization.address">{{address.street1}} {{address.street2}} {{address.cityName}} {{address.stateName}} {{address.countryName}} {{address.zip}}
                </p>
                </div>
                <div>
                <any ng-if="organization.contact.phoneNumbers">
                    <span class="titlelable">Telephone:</span>
                    {{organization.contact.phoneNumbers}}
                </any>
                <any ng-if="organization.contact.faxNumbers">
                       <span class="titlelable">Fax:</span>
                    {{organization.contact.faxNumbers}}
                </any>
                </div>
                    
                <div ng-if="organization.contact.emails.primary">
                    <span class="titlelable">E-mail:</span>
                    {{organization.contact.emails.primary}}
                </div>
                <div ng-if="organization.contact.websites">
                    <span class="titlelable">Web Site:</span>
                    <a href="http://{{organization.contact.websites}}">{{organization.contact.websites}}</a>
                </div>
                <div ng-if="organization.personnel.length > 0">
                    <span class="titlelable text-style">Key Personnel:</span>
                    <div class="text-linehight" ng-repeat="keyPersonnel in organization.personnel">
                      {{keyPersonnel.name.prefix}}   {{keyPersonnel.name.first}} {{keyPersonnel.name.last}} {{keyPersonnel.name.suffix}}- {{keyPersonnel.title}}
                    
                    </div>
                </div>
                <div ng-if="organization.established.year">
                    <span class="titlelable ">Established Year:</span>
                    {{organization.established.year}}
                </div>         
                <div ng-if="organization.conductBusiness">
                    <span class="titlelable ">Conduct Business:</span>
                    {{organization.conductBusiness}}
                </div>                
                <div ng-if="organization.totalAdvertisingBudget">
                    <span class="titlelable ">Advertising Marketing Budget Related to Direct Marketing:</span>
                    {{organization.totalAdvertisingBudget}}
                </div>
                <div ng-if="organization.directMarketingBudget">
                    <span class="titlelable ">Direct Marketing Ad Budget:</span>
                    {{organization.directMarketingBudget}}
                </div>
                <div ng-if="organization.onlineSales">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="titlelable ">Catalog Available Online</span>
                    <span ng-if="organization.onlineSales=='D'">(Direct Online Sales)</span>
                    <span ng-if="organization.onlineSales=='I'">(Indirect Online Sales)</span>
                </div>
                <div ng-if="organization.onlineSales==null">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="titlelable ">Catalog Available Online</span>
                </div>  
                  
                <div ng-if="organization.employees">
                    <span class="titlelable ">Employees:</span>
                    {{organization.employees}}
                </div>   
                <div ng-if="organization.listingType.length > 0">
                    <span class="titlelable ">Listing Types:</span>
                    <p ng-repeat="val in organization.listingType">
                        {{val.listingName}}
                    </p>
                </div>   
               
                <div ng-if="organization.directMarketingBudgetDisbursal.length > 0">
                    <span class="titlelable "> Direct Marketing Ad Budget:</span>
                    <br><any ng-repeat="val in organization.directMarketingBudgetDisbursal">
                    <any>{{val.codeName}}</any><br>
                    </any>

                </div> 
                
                <div ng-if="organization.vendors.length > 0">
                    <span class="titlelable ">Vendor Name:</span>
                    <br><any ng-repeat="val in organization.vendors">
                    <any ng-if="val.name != null">{{val.name}}</any><br>
                    </any>
                </div>
                
                         <div ng-if="organization.galleryDescription">
                    <span class="titlelable ">Business Description:</span>
                    {{organization.galleryDescription}}
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="space-40"> </div>

<!-- <br>
<br>
<br>
<div class="container border-bottom">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 border-bottom">
            <label>
                <h3 class="dark-orange">{{organization.name}}</h3>
                <p class="titlelable">Institution Description:</p> {{organization.entityType}}
            </label>
        </div>
        <div class="col-md-12">
            <div class="space-10"></div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Telephone:</label>
                    <p>{{organization.contact.phoneNumbers}}</p>
                </div>
                <div>
                    <label class="titlelable">Primary E-mail:</label>
                    <p>{{organization.contact.emails.primary}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Fax:</label>
                    <p>{{organization.contact.faxNumbers}}</p>
                </div>
                <div>
                    <label class="titlelable">Secondary E-mail:</label>
                    <p>{{organization.contact.emails.secondary}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label class="titlelable">Web Site:</label>
                    <a href="http://{{organization.contact.websites}}">
                        <br>{{organization.contact.websites}}</a>
                </div>
                <div>
                    <label class="titlelable">Hours & Admission Prices:</label>
                    <p>{{organization.timing}}</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="titlelable">Address:</label>
                        <p></p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10">#</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in organization.address" ng-if="!address.deleted">
                                    <td class="text-center">{{ ($index+1) }}</td>
                                    <td>{{address.addressType.description}}</td>
                                    <td>
                                        <b>Street 1: </b>{{address.street1}}
                                        <br>
                                        <b>Street 2: </b>{{address.street2}}
                                        <br>
                                        <b>City: </b>{{address.cityName}}
                                        <br>
                                        <b> State/Territory: </b>{{address.stateName}}
                                        <br>
                                        <b>Country: </b>{{address.countryName}}
                                        <br>
                                        <b>Zip: </b>{{address.zip}}
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div ng-repeat="x in organization.features"
                 ng-if="x.featureType == 'COLLECTION'">
                 <div ng-init="organization.collectionShow=1"></div>
                </div>
                <div>
                    <label class="titlelable">Collections:</label>
                    <table class="table table-bordered" 
                    ng-if="organization.collectionShow==1">
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in organization.features" ng-if="x.featureType == 'COLLECTION'">
                                <td>{{x.codeName}}</td>
                                <td>{{x.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div ng-if="x">
                    <label class="titlelable">Major Exhibitions:</label>
                    <p ng-repeat="x in organization.exhibition">{{x.exhibitName}} {{x.showDate}}</p>
                </div>
                <div>
                    <label class="titlelable">Key Personnel:</label>
                    <div ng-repeat="keyPersonnel in organization.personnel">
                        <p>{{keyPersonnel.name.first}} {{keyPersonnel.name.last}} - {{keyPersonnel.title}}</p>
                    </div>
                </div>
                <div ng-if="organization.volunteer.totalFullTimePaid || organization.volunteer.totalPartTimePaid || organization.volunteer.totalPartTimeUnpaid">
                    <label class="titlelable">Personnel Profile:</label>
                    <p>Full-Time Paid {{organization.volunteer.totalFullTimePaid}}; Part-Time Paid {{organization.volunteer.totalPartTimePaid}}; Part-Time Volunteers {{organization.volunteer.totalPartTimeUnpaid}}.</p>
                </div>
                <div ng-if="organization.governing">
                    <label class="titlelable">Governing Authority:</label>
                    <p>{{organization.governing}}</p>
                </div>
                <div ng-if="organization.research">
                    <label class="titlelable">Research Fields:</label>
                    <p ng-repeat="x in organization.research">{{x.description}}</p>
                </div>
                <div>

                    <div>
                        <label class="titlelable">Facilities:</label>
                        <table class="table table-bordered" 
                        ng-if="organization.features.length > 0">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in organization.features">
                                    <td>{{x.codeName}}</td>
                                    <td>{{x.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-if="organization.activities.freeText">
                    <label class="titlelable">Activities:</label>
                    <p>{{organization.activities.freeText}}</p>
                </div>
                <div ng-if="organization.membership[0]">
                    <label class="titlelable">Membership:</label>
                    <p>{{organization.membership[0]}}</p>
                </div>
                <div>
                    <label class="titlelable">Congressional District:</label>
                    <p>{{organization.congressDistrict}}</p>
                </div>
                <div>
                       <label class="titlelable">Established Year:</label>
                    {{organization.established.year}}
            </div> 
            <div>
            <label class="titlelable">Conduct Business:</label>
                    {{organization.conductBusiness}}
            </div>
         
         <div>
            <label class="titlelable">Direct Marketing Budget:</label>
                    {{organization.directMarketingBudget}}                 
            </div>
                    <div>
        <label class="titlelable">Advertising Marketing Budget Related to Direct Marketing:</label>
                    {{organization.totalAdvertisingBudget}}                
            </div>
                   <div>
            <label class="titlelable">Employees:</label>
                   {{organization.employees}}                 
            </div>
             <div>
            <label class="titlelable">Business Description:</label>
                    {{organization.galleryDescription}}                 
            </div>
  
            <div>
            <label class="titlelable">Listing Type:</label>
            <div ng-repeat="val in organization.listingType">
                    <p>{{val.listingName}}</p>                  
            </div>
            </div>   
            <div>
            <label class="titlelable">Direct Marketing Ad Budget:</label>
                    <div ng-repeat="val in organization.directMarketingBudgetDisbursal">
                    <p>{{val.codeName}}</p>  
                    </div>
            </div>          
            <div>
            <label class="titlelable">Vendor Name:</label>
                    <div ng-repeat="val in organization.vendors">
                      <p>{{val.name}}</p>  
                      </div>
            </div>           
            <div>
            <label class="titlelable">Catalog Available Online:</label>
                    <div ng-if="organization.onlineSales=='D'">Direct Online Sales</div> 
                    <div ng-if="organization.onlineSales=='I'">Indirect Online Sales</div>
            </div>
        </div>
 
        </div> 
</div>
<div class="space-40"> </div>
 -->