<section class="module parallax-in parallax-mailing-list-banner">
    <div id="mailing-page" class="container">
        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white">OCD Search</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
</section>
<div id="search" class="container search-page">
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active' : tabHref == 1}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); keywordSearchResetFunction(); tabHref = 1">Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 2}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); tabHref = 2">Personnel Search</a>
                </li>
            </ul>
            <div class="inputbg tab-content">
                <div id="church-search" class="tab-pane fade" ng-class="{'in active': tabHref == 1}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <h5 class="titletxt">Basic Search</h5>
                                    <p>Find an institution by name.</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-5">
                                    <label for="">Institute Name :</label>
                                    <input type="text" class="form-control" ng-model="name">
                                    <span ng-show="name.$touched ">The name is required.</span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="instituteNameAllFlag">All of these words
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="submit" class="btn btn-color no-radius" ng-click="searchFunction()">SEARCH</button>
                            <button type="button" class="btn btn-cancel no-radius" ng-click="basicSearchResetFunction()">RESET FORM</button>
                        </div>
                    </form>
                </div>
                <div id="personnel-search" class="tab-pane fade" ng-class="{'in active': tabHref == 2}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <h5 class="titletxt">Basic Search</h5>
                                    <p>Find personnel by name.</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-6">
                                    <label for="">First Name :</label>
                                    <input type="text" class="form-control" ng-model="firstName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Last Name :</label>
                                    <input type="text" class="form-control" ng-model="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="button" class="btn btn-color no-radius" ng-click="searchFunction()">SEARCH</button>
                            <button type="button" class="btn btn-cancel no-radius" ng-click="basicSearchResetFunction()">RESET FORM</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12" ng-if="tabHref != 3">
            <div id="accordion">
                <!-- <h3 class="row inputlabel">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <h5 class="titletxt">Advanced Search</h5>
                            <p>Find institution by searching on any of the following fields</p>
                        </div>
                    </div>
                </h3> -->
                <h3>Advanced Search</h3>
                <div class="container-fluid">
                    <div class="row inputlabel">
                        <div class="col-md-6">
                            <form role="form" name="searchForm" ng-submit="searchFunction()">
                                <div class="form-group">
                                    <label for="">City</label>
                                    <!-- <input type="text" class="form-control" ng-model="cityName"> -->
                                    <!-- <input type="text" 
                                    id="auto-complete-city" 
                                    autocomplete="off" 
                                    ng-minlength="3" 
                                    name="cityName" 
                                    ng-model="cityName" 
                                    class="form-control"> -->
                                    <input  type="text" id="auto-complete-city" class="form-control" name="cityName" ng-model="cityName">
                                    <span style="color:red" ng-show="searchForm.cityName.$error.minlength">
                                            Enter minimum 3 characters
                                   </span>
                                   
                                    </input>
                                </div>
                                <div class="form-group">
                                    <label for="">State</label>
                                    <!-- <input type="text" class="form-control" ng-model="stateName"> -->
                                    <input type="text" id="auto-complete-state" name="stateName" ng-model="stateName" class="form-control"></input>
                                    <span style="color:red" ng-show="searchForm.stateName.$error.minlength">
                                            Enter minimum 3 characters
                                   </span>
                                </div>
                            </form>
                            <div class="form-group">
                            </div>
                            <div class="row">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Zip Code</label>
                                <input type="text" class="form-control" ng-model="zip ">
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="container-fluid text-right">
                        <button type="submit" class="btn btn-color no-radius" ng-click="searchFunction()">
                            <font color="white">SEARCH</font>
                        </button>
                        <button type="button" class="btn btn-cancel no-radius" 
                        ng-click="advanceSearchResetFunction()"
                        >
                            <font color="white">RESET FORM</font>
                        </button>
                    </div>
                    <div class="space-10"></div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <h4><b>Search Results</b></h4>
            <div class="table-responsive">
                <table datatable="" id="searchDataTable" dt-options="vm.dtO" dt-columns="vm.dtC" dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<div class="space-40"></div>
<div class="space-40"></div>
<!-- volunteer
volunteerHours
income
 -->
