<br>
<br>
<br>
<div class="container border-bottom">
    <!--         <div class="pull-right"
        ng-click="show('new')">
                <a class="btn btn-default" 
                ui-sref="core.search({navigateTo: '#search', navigatePosition: 50})">
                
                New Search</a>
        </div> -->
    <div class="pull-right" ng-click="printDiv()">
        <a class="btn btn-default">Print</a>
    </div>
    <div class="pull-right" ng-click="show('ref')">
        <a class="btn btn-default" ui-sref="core.search({navigateTo: '#gotoSearch', navigatePosition:+50})">
            <!-- <i class="fa fa-arrow-left"></i> -->
            Back
        </a>
    </div>
    <div class="pull-right" ng-click="show('ref')">
        <a class="btn btn-default" ui-sref="core.search({navigateTo: '#containerBox', navigatePosition: 50})">Refine Search</a>
    </div>
    <div class="pull-right" ng-click="show('new')">
        <a class="btn btn-default" ui-sref="core.search({navigateTo: '#containerBox', navigatePosition: 50})">New Search</a>
    </div>
    <div class="clearfix"></div>
    <div class="row" id="printDiv">
        <div class="col-md-12 border-bottom" ng-if="organization.name">
            <span>
                <h3 class="dark-orange">{{organization.name}} </h3>
                <div ng-if="organization.entityType">
                    <span class="titlelable">Institution Description:</span>
            <div>{{organization.entityType}}</div>
        </div>
    </div>
    <div>
        <!--             <div class="col-md-12">
                <div>
                    <label class="titlelable">Collections:</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in organization.features" ng-if="x.featureType == 'COLLECTION'">
                                <td>{{x.codeName}}</td>
                                <td>{{x.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        <div class="col-md-12">
            <!-- <div ng-if="organization.address.length > 0">
                    <span class="titlelable">Address:</span>
                    
                <p class="text-linehight" ng-init=showAddress(organization.address)>{{address.street1}} {{address.street2}} {{address.cityName}} {{address.stateName}} {{address.countryName}} {{address.zip}}
                </p>

                </div> -->
            <div class="space-8"></div>
            <div class="title-space" ng-if="organization.address.length > 0" ng-init=showAddress(organization.address)>
                <span class="titlelable text-style">Address:</span>
                <div class="text-linehight" ng-repeat="address in organization.address" ng-if="!address.deleted && address.addressType.codeValue==organization.showAddressData">{{address.street1}} {{address.street2}} {{address.cityName}} {{address.stateName}} {{address.countryName}} {{address.zip}}
                </div>
            </div>
            
            <div class="title-space" ng-if="organization.contact.social">
                <span class="titlelable text-style">Other Address: </span>{{ organization.contact.social}}
            </div>
            
            <div>
                <any ng-if="organization.contact.phoneNumbers">
                    <span class="titlelable text-style">Telephone:</span> {{organization.contact.phoneNumbers}}
                </any>
            </div>
            <div>
                <any ng-if="organization.contact.faxNumbers">
                    <span class="titlelable text-style">Fax:</span> {{organization.contact.faxNumbers}}
                </any>
            </div>
            <div ng-if="organization.contact.emails.primary">
                <span class="titlelable text-style">E-mail:</span> {{organization.contact.emails.primary}}
            </div>
            <div ng-if="organization.contact.websites">
                <span class="titlelable text-style">Web Site:</span>
                <a href="http://{{organization.contact.websites}}">{{organization.contact.websites}}</a>
            </div>
            <div class="space-4"></div>
            <!-- <div ng-if="organization.flags.handicapped">
                    <span class="titlelable">Handicapp:</span>
                    <a href="http://{{organization.flags.handicapped}}">{{organization.flags.handicapped}}</a>
                </div> -->
            <div class="title-space" ng-if="organization.flags.handicapped">
                <!-- <span class="glyphicon glyphicon-ok"></span> -->
                <ANY ng-switch="organization.handicapped">
                    <span class="titlelable"> Handicapped Accessible: </span> Yes
                    <br>
                    <ANY ng-switch-when="P">
                        <ANY class="titlelable">Handicapped Accessible: </ANY> Partial
                    </ANY>
                    <ANY ng-switch-when="F">
                        <ANY class="titlelable">Handicapped Accessible: </ANY> Fully
                    </ANY>
                </ANY>
            </div>
            
            <!-- <div ng-if="!organization.flags.handicapped">
                    <span class="glyphicon glyphicon-remove "></span>
                   <span class="titlelable"> Handicapped Accessible</span>
                 </div>   -->
            <!--           <div>
                    <span class="titlelable">Secondary E-mail:</span>
                    <p>{{organization.contact.emails.secondary}}</p>
                </div> -->
            <div class="title-space" ng-if="organization.timing">
                <span class="titlelable text-style">Hours & Admission Prices:</span>
                <div class="text-linehight">{{organization.timing}}</div>
            </div>
            
            <div class="title-space" ng-repeat="x in organization.features" ng-if="x.featureType == 'COLLECTION'">
                <div class="text-linehight" ng-init="organization.collectionShow=1"></div>
            </div>
            
            <div class="title-space">
                <span class="titlelable text-style ">Collections:</span>
                <div class="text-linehight" ng-repeat="x in organization.features" ng-if="x.featureType == 'COLLECTION'">{{x.name}}</div>
            </div>
            
            <div class="title-space" ng-if="organization.exhibition.length > 0">
                <span class="titlelable text-style">Major Exhibitions:</span>
                <div class="text-linehight" ng-repeat="keyPersonnel in organization.exhibition">
                    {{keyPersonnel.exhibitName}} {{keyPersonnel.showDate}}
                </div>
            </div>
            
            <div class="title-space" ng-if="organization.personnel.length > 0">
                <span class="titlelable text-style">Key Personnel:</span>
                <div class="text-linehight" ng-repeat="keyPersonnel in organization.personnel">
                    {{keyPersonnel.name.prefix}} {{keyPersonnel.name.first}} {{keyPersonnel.name.last}} {{keyPersonnel.name.suffix}}- {{keyPersonnel.title}}
                </div>
            </div>
            
            <div class="title-space" ng-if="organization.volunteer.totalFullTimePaid || organization.volunteer.totalPartTimePaid || organization.volunteer.totalPartTimeUnpaid">
                <span class="titlelable text-style">Personnel Profile:</span>
                <div class="text-linehight">Full-Time Paid {{organization.volunteer.totalFullTimePaid}}; Part-Time Paid {{organization.volunteer.totalPartTimePaid}}; Part-Time Volunteers {{organization.volunteer.totalPartTimeUnpaid}}.</div>
            </div>
            
            <div class="title-space" ng-if="organization.governing">
                <span class="titlelable text-style">Governing Authority:</span>
                <div class="text-linehight">{{organization.governing}}</div>
            </div>
            
            <div class="title-space" ng-if="organization.research.length > 0">
                <span class="titlelable text-style">Research Fields:</span>
                <div class="text-linehight" ng-repeat="x in organization.research">{{x.description}}</div>
            </div>
            
            <div class="title-space" ng-if="organization.featureType">
                <span class="titlelable text-style">Facilities:</span>
                <div class="text-linehight" ng-repeat="x in organization.features" ng-if="x.featureType == 'FACILITY'">
                    {{x.name}}
                </div>
            </div>
            
            <!--                <div>
                    <div>
                        <span class="titlelable">Facilities:</span>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in organization.features">
                                    <td>{{x.codeName}}</td>
                                    <td>{{x.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
            <!-- <span class="titlelable">Facilities:</span>
                    <div ng-repeat="x in organization.features">
                        <div ng-if="x.featureType == 'FACILITY'">
                            <p>{{x.codeName}} {{x.name}}</p>
                        </div>
                    </div> -->
            <!--   </div> -->
            <div class="title-space" ng-if="organization.activities.freeText">
                <span class="titlelable text-style">Activities:</span>
                <div class="text-linehight">{{organization.activities.freeText}}</div>
            </div>
            
            <div class="title-space" ng-if="organization.publication[0].description!= null">
                <span class="titlelable text-style">Publications:</span>
                <div class="text-linehight" ng-repeat="x in organization.publication">{{x.description}}</div>
            </div>
            
            <div class="title-space" ng-if="organization.attendance.count.length > 0">
                <span class="titlelable text-style">Attendance:</span> {{organization.attendance.count | number}} {{organization.attendance.count ? (organization.attendance.method === "E" ? "(Estimated)" : "(Accurate)") : "" }}
            </div>
            
            <div class="title-space" ng-if="organization.membership[0] != null">
                <span class="titlelable text-style">Membership:</span>
                <any ng-repeat="val in organization.membership">
                    {{val}}
                </any>
            </div>
            
            <div class="title-space" ng-if="organization.established.year">
                <span class="titlelable text-style">Founded:</span> {{organization.established.year}}
            </div>
            
            <div class="title-space" ng-if="organization.congressDistrict">
                <span class="titlelable text-style">Congressional District:</span> {{organization.congressDistrict}}
            </div>
            
            <div class="title-space" ng-if="organization.volunteerHours!= null && organization.volunteerHours != 0">
                <span class="titlelable text-style">Volunteer Hours:</span> {{organization.volunteerHours | number}}
            </div>
            
            <div class="title-space" ng-if="organization.income!= null && organization.income!=0">
                <span class="titlelable text-style">Operating Income:</span> {{organization.income | number}}
            </div>
            
            <div class="title-space" ng-if="organization.expenses!= null && organization.expenses!=0">
                <span class="titlelable text-style">Operating Expenses:</span> {{organization.expenses | number}}
            </div>
            
        </div>
    </div>
</div>
</div>
<div class="space-40"> </div>
