<script>
setInterval(function () {
    $('.multiselect-parent').css({ 'width': '100%', 'width': '100%', 'text-align': 'left' });
    $('.dropdown-toggle').css({ 'width': '100%', 'width': '100%', 'text-align': 'left' });
    $('.caret').css({ 'float': 'right', 'margin-top': '9px' });
    $('.caret').css({ 'float': 'right', 'margin-top': '9px' });
}, 100);
</script>
<section class="module parallax-in parallax-mailing-list-banner01">
    <div id="mailing-page" class="container">
        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white">OMD Search</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
       <div id="containerBox"></div>
</section>

<div id="search" class="container search-page">
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active' : tabHref == 1}">
           <!--          <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); keywordSearchResetFunction(); tabHref = 1"> -->
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="advanceSearchResetOMD();tabHref = 1">Institutional Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 2}">
         <!--            <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); tabHref = 2">Personnel Search</a> -->
         <a data-toggle="tab" href="javascript:void(0)" 
         ng-click="advanceSearchResetOMD;tabHref = 2">Personnel Search</a> 
                </li>
                <li ng-class="{'active' : tabHref == 3}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="advanceSearchResetOMD();keywordSearchResetFunction(); tabHref = 3">Keyword Search</a>
                   <!--<a data-toggle="tab" href="javascript:void(0)" ng-click="tabHref = 3">Keyword Search</a> -->
                </li>
            </ul>
            <div class="inputbg tab-content">
                <div id="church-search" class="tab-pane fade" ng-class="{'in active': tabHref == 1}">
                    <div class="row inputlabel">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <h5 class="titletxt">Basic Search: Find an institution by name.</h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row inputlabel">
                        <div class="container-fluid">
                            <div class="form-group col-md-5">
                                <label for="">Institution Name :</label>
                                <input type="text" class="form-control" ng-model="name">
                                <span ng-show="name.$touched ">The name is required.</span>
                                <div class="checkbox">
                                    <div class="space-10"></div>
                                    <label>
                                        <input type="checkbox" ng-model="instituteNameAllFlag">All of these words
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btnfooter">
                        <a class="btn btn-color no-radius" 
                        ng-click="showFlag();searchFunctionOMD();">SEARCH</a>
                        <a class="btn btn-cancel no-radius" ng-click="basicSearchResetFunction()">RESET FORM</a>
                    </div>
                </div>
                <div id="personnel-search" class="tab-pane fade" ng-class="{'in active': tabHref == 2}">
                    <div class="row inputlabel">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <h5 class="titletxt">Basic Search: Find personnel by name.</h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row inputlabel">
                        <div class="container-fluid">
                            <div class="form-group col-md-6">
                                <label for="">First Name :</label>
                                <input type="text" class="form-control" ng-model="firstName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Last Name :</label>
                                <input type="text" class="form-control" ng-model="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="btnfooter">
                        <a class="btn btn-color no-radius" 
                        ng-click="showFlag();searchFunctionOMD()">SEARCH</a>
                        <a class="btn btn-cancel no-radius" ng-click="basicSearchResetFunction()">RESET FORM</a>
                    </div>
                </div>
                <div id="keyword-search" class="tab-pane fade" ng-class="{'in active': tabHref == 3}">
                    <div class="row inputlabel">
                        <div class="container-fluid">
                            <div class="form-group col-md-3">
                                <label for="">Keyword :</label>
                                <input type="text" class="form-control" ng-model=keyword>
                                <div class="checkbox">
                                    <div class="space-10"></div>
                                    <label>
                                        <input type="checkbox" 
                                        ng-model="keywordSearchAllFlag">All of these words
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="">
                                    <br />
                                </label>
                                <!-- <select name="" id="" class="form-control" ng-model="keywordDropDown">
                                    <option value="">Select</option>
                                    <option value="entityType">Institution Description</option>
                                    <option value="activities.freeText">Activities</option>
                                    <option value="features.name">Collection Description</option>
                                    <option value="exhibition.exhibitName">Exhibit Description</option>
                                    <option value="facilities">Facilities</option>
                                    <option value="governing">Governing Authority</option>
                                    <option value="research.description">Research Fields</option>
                                </select> -->
                                    <div 
                                    ng-dropdown-multiselect="" 
                                    options="omdKeywordSearchArray" 
                                    selected-model="omdKeywordSearchModel"
                                    extra-settings='keywordSearchsettings'
                                    >
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="btnfooter">
                        <a class="btn btn-color no-radius" 
                        ng-click="showFlag();keywordSearchFunctionOMDGotoRes()">SEARCH</a>
                        <a class="btn btn-cancel no-radius" 
                        ng-click="keywordSearchResetFunction()">RESET FORM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12" ng-if="tabHref != 3">
            <div id="accordion">
                <!-- <h3 class="row inputlabel">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <h5 class="titletxt">Advanced Search</h5>
                            <p>Find institution by searching on any of the following fields</p>
                        </div>
                    </div>
                </h3> -->
                <h3>
                <u style="color:blue">Advanced Search:</u> Find institutions by searching on ANY of the following fields.
                </h3>
                <div class="container-fluid">
                    <div class="row inputlabel">
                        <div class="col-md-6">
                            <form role="form" name="searchForm" 
                            ng-submit="showFlag();searchFunctionOMD()">
                                <div class="form-group mar-less">
                                    <label for="">City</label>
                                        <!-- <div 
                                        ng-dropdown-multiselect="" 
                                        search-filter="cityName" 
                                        options="cityData" 
                                        selected-model="cityDatadata" 
                                        extra-settings="example15settings" 
                                        buttonClasses="form-group mar-less"
                                        >
                                        </div> -->
                                <input id="CityAuto" 
                                size="50" 
                                ng-model="cityName"
                                class="form-control">

              

                                </div> 
                             <div class="space-10"></div>
                                <div class="form-group mar-less">
                                    <label for="">State</label>
                                  <!-- <input id="StateAuto" 
                                    size="50" 
                                    ng-model="stateName1"
                                    class="form-control"> -->
                                    <div 
                                    ng-dropdown-multiselect="" 
                                    search-filter="stateName1" 
                                    options="stateData" 
                                    selected-model="stateDatadata"
                                    extra-settings="InstitutionCategoryArrayDataSettings"
                                    >
                                    </div>
                                </div>
                            </form>
                            <div class="space-10"></div>
                            <div class="form-group mar-less">
                                <a href="#" class="help-text pull-right small whatisthis"
                                title="These categories enable users to isolate institutions by type. OMD maintains a predefined list of 83 categories that are used to classify institutions in the print directory index. Each institution in the OMD can be indexed under a maximum of 5 categories.">What is this?</a> <label for="">Institution Category </label>
                                <!-- <select class="form-control" 
                                ng-model="institutionCategory.codeVal" 
                                ng-options="thisInstitutionCategory as thisInstitutionCategory.codeValue for thisInstitutionCategory in InstitutionCategoryArray"></select> -->
                        <!-- <select ng-model="vm.mainCat" ng-change="InstitutionCategoryArrayDataPush(vm.mainCat)" class="form-control"
                        id="select_id">
                        <option value="" >select</option>
                        <option value="5763dc21c19ce14186492dc3" >ART</option>
                        <option value="5763dc21c19ce14186492dcf">HISTORY</option>
                        <option value="5763dc21c19ce14186492ddf">SCIENCE</option><option  value="5763dc21c19ce14186492df2" selected>SPECIALIZED</option>
                        </select> -->
                        <div 
                    ng-dropdown-multiselect="" 
                    options="InstitutionCategoryArrayDataMainCat" 
                    selected-model="vm.mainCat"
                    extra-settings="example10001settings"
                    >
                    </div>
                   <div class="space-10"></div>
                        <label for="">Institution Sub Category </label>
                    <div 
                    ng-dropdown-multiselect="" 
                    search-filter="stateName5" 
                    options="InstitutionCategoryArrayData" 
                    selected-model="nstitutionCategorySelData"
                    extra-settings="InstitutionCategoryArrayDataSettings"
                    group-by="pid">
                    </div>
                    <!--
                    <div 
                    ng-dropdown-multiselect="" 
                    search-filter="stateName5" 
                    options="InstitutionCategoryArrayData1" 
                    selected-model="nstitutionCategorySelData1"
                    extra-settings="InstitutionCategoryArrayDataSettings">
                    </div> 
                    -->
                            </div>
                            <div class="space-10"></div>
                            <div class="form-group box-align-bottom">
                                <a href="#" 
                                class="help-text pull-right small whatisthis"
                                title="The purpose of the Institution Description field is to provide subscribers with an understanding of the general focus of the institution (e.g. Children&#39;s Museum; Art Museum; Botanical Garden; Nature Center; Arboretum, etc.). Oftentimes institutions will provide additional information about the location, type, and/or historical context of the building/facility/landmark. The information contained within the field is in narrative free text format and is most often supplied directly by the institution. Occasionally it is supplied by our research staff.">What is this?</a> <label for="">Institution Description</label>
                                <textarea name="" id="" rows="3" class="form-control" ng-model="entityType"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="institutionDescriptionAllFlag"> All of these words
                                </label>
                            </div>
                            <div class="space-10"></div>
                             <div class="form-group mar-less">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Attendance Method</label>
                                        <select class="form-control" ng-model="vm.attendanceMethod">
                                            <option value="">Select</option>
                                            <option value="A">More than</option>
                                            <option value="lt">Less than</option>
                                            <option value="eq">Equal to</option>
                                            <option value="E">Between</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6" ng-if="vm.attendanceMethod == 'E'">
                                        <label for="">Attendance Count</label>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type="text" 
                                                class="form-control" 
                                                ng-model="vm.attendanceCount"
                                                ng-change="attendanceCountFun('attendanceCount',vm.attendanceCount)">
                                                <!-- {{attendanceCount}} -->
                                            </div>
                                            <div class="col-md-2">
                                                and
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" 
                                                ng-model="vm.attendanceCounts"
                                                ng-change="attendanceCountFun('attendanceCounts',vm.attendanceCounts)">
                                                <!-- {{attendanceCounts}} -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" 
                                    ng-if="vm.attendanceMethod == 'A' || 
                                    vm.attendanceMethod == 'lt' || 
                                    vm.attendanceMethod == 'eq'">
                                        <label for="">Attendance Count</label>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" 
                                                ng-model="vm.attendanceCount"
                                                ng-change="attendanceCountFun('attendanceCount',vm.attendanceCount)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="checkbox col-md-4">
                                    <label>
                                        <input type="checkbox" ng-model="aamId"> AAM Member
                                        <img src="/assets/aam-icon.png" width=18 height=18>
                                    </label>
                                     

 

                                </div>
                                <!-- <div class="checkbox col-md-4">
                                    <label>
                                        <input type="checkbox" ng-model="icom"> ICOM Member
                                        <img src="/assets/icom-icon.png" width=25 height=15>
                                    </label>
                                </div> -->
                                <div class="checkbox col-md-6">
                                    <label>
                                        <input type="checkbox" ng-model="handicappedFlag"> Handicapped Accessible
                                        <img src="/assets/Handicapped-Accessible.png" width=18 height=18>
                                    </label>
                                </div>
                                <div class="checkbox col-md-4">
                                    <label>
                                        <input type="checkbox" ng-model="accredited"> Accredited
                                        <img src="/assets/star_icon.png" width=18 height=18>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group mar-less">
                                          <a href="#" 
                                          class="help-text pull-right small whatisthis"
                                          title="This field lists the activities the museum or institution has to offer (e.g. guided tours; conferences; symposia; performances; lectures & films; inter-museum loan & traveling exhibitions. Museum Sponsors: Art Show in May; Members Dinner in August. Annual Events: Independence Day Picnic; Christmas Open House in December). Per editorial style rules, specific dates are not included in this field.">What is this?</a> <label for="">Activities</label>
                                        <input type="text" class="form-control" ng-model="freeText">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label class="allof-check-box">
                                            <input type="checkbox" ng-model="freeTextAllFlag"> All of these words
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="form-group mar-less">
                                <label for="">Zip Code</label>
                                <input type="text" class="form-control" ng-model="zip">
                            </div>
                            <div class="space-10"></div>
                            <div class="form-group mar-less">
                                <a href="#" class="help-text pull-right small whatisthis"
                                title="Collection categories enable users to isolate institutions by the type of collections the intuitions maintain. OMD maintains a predefined list of 27 collection categories which are used to classify institutions in the print directory index. Each institution in the OMD can be indexed under a maximum of 10 categories. For more granular searching of collections information, use the related &#39;Collection Description&#39; field.">What is this?</a> <label for="">Collection Category</label>

                        <!-- <select 
                        ng-model="vm.collectionCategorySub" 
                                ng-change="collectionCategoryArrayDataPush(vm.collectionCategorySub)" 
                                class="form-control"
                                id="select_id">
                        <option value="" >select</option>
                        <option value="5763dc21c19ce14186492e1e">ART COLLECTIONS</option>
                        <option value="5763dc21c19ce14186492e19">ANTHROPOLOGY AND ARCHAEOLOGICAL COLLECTIONS</option>
                        <option value="5763dc21c19ce14186492e27">HISTORICAL COLLECTIONS</option><option  value="5763dc21c19ce14186492e31">NATURAL COLLECTIONS</option>
                        </select> -->
                    <div 
                    ng-dropdown-multiselect="" 
                    options="collectionCategoryArrayDataMain" 
                    selected-model="vm.collectionCategorySub"
                    extra-settings="example10001settings"
                    >
                    </div>
                        <div class="space-10"></div>
                         <label for="">Collection Sub Category</label>                       
                    <div ng-dropdown-multiselect="" 
                    search-filter="stateName" 
                    options="collectionCategoryArrayData" 
                    selected-model="collectionCategorySelData" 
                    extra-settings="collectionCategoryArrayDatasettings"
                    group-by="pid">
                    </div>
                            <div class="space-10"></div>                            
                            <div class="form-group box-align-bottom">
                                <a href="#" 
                                class="help-text pull-right small whatisthis"
                                title="Collection Description is a narrative, free text field on The Official Museum Directory database. The information contained within the field is most often supplied directly by the institution. Occasionally it is supplied by our research staff. The purpose of the data is to provide readers with a description of the collections maintained at the institution.">What is this?</a> <label for="">Collection Description</label>
                                <textarea name="" id="" rows="3" class="form-control" ng-model="collectionDescription"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="collectionDescriptionAllFlag"> All of these words
                                </label>
                            </div>
                            <div class="space-20"></div>
                            
                            <div class="row">
                                <div class="checkbox col-md-6">
                                    <label>
                                        <input type="checkbox" ng-model="travelFlag" ng-true-value="'Y'" ng-false-value="'N'"> Has Travelling Exhibits
                                    </label>
                                </div>
<!--                                 <div class="checkbox col-md-6">
                                    <label>
                                        <input type="checkbox" ng-model="handicappedFlag"> Handicapped Accessible
                                        <img src="/assets/Handicapped-Accessible.png" width=18 height=18>
                                    </label>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="container-fluid text-right">
                        <a class="btn btn-color no-radius" 
                        ng-click="showFlag();searchFunctionOMD()">
                            <font color="white">SEARCH</font>
                        </a>
                        <a class="btn btn-cancel no-radius" ng-click="advanceSearchResetOMD()">
                            <font color="white">RESET FORM</font>
                        </a>
                    </div>
                    <div class="space-10"></div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- ng-if="searchData" -->
    <div class="space-10"></div>
    <div class="contener">
     <div class="col-md-12" id="gotoSearch">
             <div class="col-md-6 pd-top">
                 <h4><strong>Search Results</strong></h4>
             </div>
          <div class=" col-md-6 btnfooter pull-right">
            <button type="button" class="btn btn-cancel no-radius"
            ng-click="newSearchOMD()">New Search</button>
            <button type="button" class="btn btn-cancel no-radius" 
            ng-click="refineSearchGotoUp()">Refine Search</button>
          </div>
        </div>
        <div class="col-md-12" id="searchData" ng-if="tabHref==1">
            <div class="space-8"></div>
            <!--  ng-if="searchData" -->
            <div class="table-responsive" >
                <table datatable="" id="searchDataTable" 
                dt-options="vm.dtO" 
                dt-columns="vm.dtC" 
                dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>

        <div class="col-md-12" id="searchData" ng-if="tabHref==2">
         
            <div class="space-8"></div>
            <!--  ng-if="searchData" -->
            <div class="table-responsive" >
                <table datatable="" id="searchDataTable" 
                dt-options="vm.dtO" 
                dt-columns="vm.dtC" 
                dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>
                <div class="col-md-12" id="searchData" ng-if="tabHref==3">
         
            <div class="space-8"></div>
            <!--  ng-if="searchData" -->
            <div class="table-responsive" >
                <table datatable="" id="searchDataTable" 
                dt-options="vm.dtO" 
                dt-columns="vm.dtC" 
                dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<div class="space-40"></div>
<div class="space-40"></div>
