<div class="action-buttons">
    <!-- <a class="blue" ui-sref="core.searchView({id: recordId})" title="View Record" target="_blank"> -->
    <a class="blue" ui-sref="core.searchView({id: recordId})" title="View Record">
    <!-- <i class="fa fa-file-o bigger-130"></i> -->
    View Details
</a>
</div>
