<div class="space-40"></div>
<section class="module parallax-in parallax-mailing-list-banner">
    <div id="mailing-page" class="container">
        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white">Search Museum</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
</section>
<div id="search" class="container search-page">
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active' : tabHref == 1}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); keywordSearchResetFunction(); tabHref = 1">Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 2}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="basicSearchResetFunction(); advanceSearchResetFunction(); tabHref = 2">Personnel Search</a>
                </li>
                <li ng-class="{'active' : tabHref == 3}">
                    <a data-toggle="tab" href="javascript:void(0)" ng-click="keywordSearchResetFunction(); tabHref = 3">Keyword Search</a>
                </li>
            </ul>
            <div class="inputbg tab-content">
                <div id="church-search" class="tab-pane fade" ng-class="{'in active': tabHref == 1}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <h5 class="titletxt">Basic Search</h5>
                                    <p>Find an institution by name.</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-5">
                                    <label for="">Institute Name :</label>
                                    <input type="text" class="form-control" ng-model="name">
                                    <span ng-show="name.$touched ">The name is required.</span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="instituteNameAllFlag">All of these words
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="submit" class="btn btn-color no-radius" ng-click="searchFunction()">SEARCH</button>
                            <button type="button" class="btn btn-cancle no-radius" ng-click="basicSearchResetFunction()">RESET FORM</button>
                        </div>
                    </form>
                </div>
                <div id="personnel-search" class="tab-pane fade" ng-class="{'in active': tabHref == 2}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <h5 class="titletxt">Basic Search</h5>
                                    <p>Find personnel by name.</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-6">
                                    <label for="">First Name :</label>
                                    <input type="text" class="form-control" ng-model="firstName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Last Name :</label>
                                    <input type="text" class="form-control" ng-model="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="button" class="btn btn-color no-radius" ng-click="searchFunction()">SEARCH</button>
                            <button type="button" class="btn btn-cancle no-radius" ng-click="basicSearchResetFunction()">RESET FORM</button>
                        </div>
                    </form>
                </div>
                <div id="keyword-search" class="tab-pane fade" ng-class="{'in active': tabHref == 3}">
                    <form>
                        <div class="row inputlabel">
                            <div class="container-fluid">
                                <div class="form-group col-md-4">
                                    <label for="">Keyword :</label>
                                    <input type="text" class="form-control" ng-model=keyword>
                                </div>
                                <div class="col-md-4">
                                    <label for="">
                                        <br />
                                    </label>
                                    <select name="" id="" class="form-control" ng-model="keywordDropDown">
                                        <option value="">Select</option>
                                        <option value="entityType">Institution Description</option>
                                        <option value="activities.freeText">Activities</option>
                                        <option value="features.name">Collection Description</option>
                                        <option value="exhibition.exhibitName">Exhibit Description</option>
                                        <option value="facilities">Facilities</option>
                                        <option value="governing">Governing Authority</option>
                                        <option value="research.description">Research Fields</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="keywordSearchAllFlag">All of these words
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btnfooter">
                            <button type="button" class="btn btn-color no-radius" ng-click="keywordSearchFunction()">SEARCH</button>
                            <button type="button" class="btn btn-cancle no-radius" ng-click="keywordSearchResetFunction()">RESET FORM</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12" ng-if="tabHref != 3">
            <div id="accordion">
                <!-- <h3 class="row inputlabel">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <h5 class="titletxt">Advanced Search</h5>
                            <p>Find institution by searching on any of the following fields</p>
                        </div>
                    </div>
                </h3> -->
                <h3>Advanced Search</h3>
                <div class="container-fluid">
                    <div class="row inputlabel">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">City</label>
                                <input type="text" class="form-control" ng-model="cityName">
                            </div>
                            <div class="form-group">
                                <label for="">State</label>
                                <input type="text" class="form-control" ng-model="stateName">
                            </div>
                            <div class="form-group">
                                <a href="#" class="help-text pull-right small">What is this?</a>
                                <label for="">Institution Category</label>
                                <select class="form-control" ng-model="institutionCategory.codeVal" ng-options="thisInstitutionCategory as thisInstitutionCategory.codeValue for thisInstitutionCategory in InstitutionCategoryArray"></select>
                            </div>
                            <div class="form-group">
                                <a href="#" class="help-text pull-right small">What is this?</a>
                                <label for="">Institution Description</label>
                                <textarea name="" id="" rows="3" class="form-control" ng-model="entityType"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="institutionDescriptionAllFlag"> All of these words
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Attendance Method</label>
                                        <select class="form-control" ng-model="attendanceMethod">
                                            <option value="">Select</option>
                                            <option value="A">Accurate</option>
                                            <option value="E">Estimated</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Attendance Count</label>
                                        <input type="text" class="form-control" ng-model="attendanceCount">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="checkbox col-md-4">
                                    <label>
                                        <input type="checkbox" ng-model="aamId"> AAM Member
                                    </label>
                                </div>
                                <div class="checkbox col-md-4">
                                    <label>
                                        <input type="checkbox" ng-model="icom"> ICOM Member
                                    </label>
                                </div>
                                <div class="checkbox col-md-4">
                                    <label>
                                        <input type="checkbox" ng-model="accredited"> Accredited
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="">Activities</label>
                                        <input type="text" class="form-control" ng-model="freeText">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="freeTextAllFlag"> All of these words
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Zip Code</label>
                                <input type="text" class="form-control" ng-model="zip ">
                            </div>
                            <div class="form-group">
                                <a href="#" class="help-text pull-right small">What is this?</a>
                                <label for="">Collection Category</label>
                                <select class="form-control" ng-model="collectionCategory.codeVal" ng-options="thiscollectionCategory as thiscollectionCategory.codeValue for thiscollectionCategory in collectionCategoryArray"></select>
                            </div>
                            <div class="form-group">
                                <a href="#" class="help-text pull-right small">What is this?</a>
                                <label for="">Collection Description</label>
                                <textarea name="" id="" rows="3" class="form-control" ng-model="collectionDescription"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="collectionDescriptionAllFlag"> All of these words
                                </label>
                            </div>
                            <div class="row">
                                <div class="checkbox col-md-6">
                                    <label>
                                        <input type="checkbox" ng-model="travelFlag" ng-true-value="'Y'" ng-false-value="'N'"> Has Travelling Exhibit
                                    </label>
                                </div>
                                <div class="checkbox col-md-6">
                                    <label>
                                        <input type="checkbox" ng-model="handicappedFlag"> Handicapped Accesible
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="container-fluid text-right">
                        <button type="submit" class="btn btn-color no-radius" ng-click="searchFunction()">SEARCH</button>
                        <button type="button" class="btn btn-cancle no-radius" ng-click="advanceSearchResetFunction()">RESET FORM</button>
                    </div>
                    <div class="space-10"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <h4><b>Search Results</b></h4>
            <div class="table-responsive">
                <table datatable="" id="searchDataTable" dt-options="vm.dtO" dt-columns="vm.dtC" dt-instance="vm.dtIC" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
<div class="space-40"></div>
