<section class="module parallax-in parallax-mailing-list-banner01">
         <div id="mailing-page" class="container">
            <div class="row">
      
      <div id="animated-example" class="animated fadeInUp">
                  <div class="col-md-12">
                     <div class="space-40"> </div>
                  </div>
                  <div class="col-md-12 text-center">
                     <div class="space-40"> </div>
                     <div class="space-40 visible-xs"> </div>
                     <h1 class="white">Privacy Policy</h1>
                  </div>
                  <div class="space-40"> </div>
               </div>
         
            </div>
         </div>
      </section>
    <div id="mailing-page" class="container">
 
     <div class="row">
     
     <div class="col-md-9">

      <div class="space-18"></div>
               <h5 class="text-left dark-orange">Privacy Policy</h5>
               <div class="space-8"></div>

    
                  <h6 class="text-left black">This Privacy Policy, which is applicable to <a href="http://www.officialmuseumdirectory.com/">officialmuseumdirectory.com</a> (the "Site"), explains how we collect information from you and other users of the Site and how we use that information. This Privacy Policy is part of the Terms and Conditions.</h6>
          
           <div class="space-8"></div>

         <h5 class="text-left dark-orange">Table of Contents</h5>
                    <div class="space-8"></div> 
                
        
       <section class="ac-container">
        <div>
          <input id="ac-1" name="accordion-1" type="radio" checked />
          <button  class="accordion">Information We Collect</button>
          <div class="panel">
          <div class="italic-info"><i class="fa fa-arrow-right arrow-space" aria-hidden="true"></i>Non-personally Identifiable Information</div>
            <p>
            We may collect and use non-personally identifiable information from you when you are visiting the Site through the standard operation of our Internet servers. Non-personally identifiable information collected from you may include user Internet Protocol (IP) addresses, browser types, domain names, and anonymous statistical data regarding your use of the Site. For example, we can tell which Internet Service Provider our visitors use, but not the names, addresses or other information about our visitors that would allow us to identify particular visitors to the Site.
</br></br>
The Site also collects information through the use of "cookies." Cookies are small text files that a website can use to recognize repeat users, facilitate the user's ongoing access to and use of a website, allow the site to track usage behavior and compile aggregate data that will allow content improvements and targeted advertising. Cookies work by assigning a unique number to the user that has no meaning outside the assigning site. If you do not want information collected from you through cookies, there is a simple procedure in most browsers that allows you to deny or accept the cookie feature. Note, however, that cookies may be necessary to provide you with certain features available on the Site.
</br></br>
Additionally, the Site may collect information by using "web beacons." Web beacons are small, transparent graphic images placed on a site or in an email that record the actions of the user opening the page that contains the beacon. If you do not want information collected from you through web beacons, turning off your browser's cookie feature will prevent web beacons from tracking your activity.


</p>
<div class="italic-info"><i class="fa fa-arrow-right arrow-space" aria-hidden="true"></i>Personally Identifiable Information</div>
          <p>
            <b>We collect personally identifiable information about you only when you provide such information voluntarily on the Site, including:</b>
            <ul class="c">
                          <li>
                         if you register on the Site or log-on with your username and password</br></li> <li>
             when you sign-up to subscribe to a service, a newsletter, or ask to be added to our mailing lists for other products or services, </br></li> <li>
             when you place an order for products or services</br></li> <li>
             when you participate in a promotional offer</br></li> <li>
             when you provide feedback in an online survey or </br></li> <li>
             when you submit other content and suggestions, including comments in chat groups or on bulletin boards, blogs, or similar locations. We do not knowingly collect personally identifiable information from children under the age of 13.</li> </ul>

<p>In each of the instances above, we typically ask for some or all of the following information: your name, e-mail address, phone number, mailing address, the type of business you are in, product preference information, any applicable identification number or password that we may require, as well as other similar information that is needed to register or subscribe you to services or offers. On occasion, we may ask for additional information to enable us to provide you with access to and use of certain other information, materials and services.


</p>

          </div>
        </div>
        <div>
          <input id="ac-2" name="accordion-1" type="radio" />
          <button  class="accordion">How We Use Collected Information</button>
          <div class="panel">
            <p>The personally identifiable information you provide to us may be used to provide products and services to you or to enhance your experience at the Site or as a subscriber to <a href="http://www.officialmuseumdirectory.com/">officialmuseumdirectory.com</a> products and services. We may also use such information to notify you of special offers and products or services from Whoswhoinamerica.com and/or from third parties that might be of interest to you. We may share your personally identifiable information with our affiliates.
            </br> </br>In addition, we may rent, sell or otherwise transfer to third parties your personally identifiable information. At any time, you can contact <a href="http://www.officialmuseumdirectory.com/">officialmuseumdirectory.com</a> to request that we not share your personally identifiable information with third parties, as described in the "Opt-out" section below.
            </br> </br>We may employ independent contractors, vendors and suppliers (collectively, "Outside Contractors") to provide services and products related to The Official Catholic Directory and the Site, such as providing credit card-processing and fraud screening, order fulfillment and shipment, mailing of The Official Museum Directory publications and other materials, hosting and maintaining the Site, and developing applications for the Site. The Outside Contractors may sometimes have limited access to information collected from you, including your personally identifiable information, in the course of providing products or services to us. Access to your personally identifiable information by the Outside Contractors is limited to the information necessary for them to perform the contracted services. Lastly, we require that the Outside Contractors (i) protect the privacy of your personally identifiable information consistent with this Privacy Policy, and (ii) not use or disclose such information for any purpose other than providing us with products or services for which we contracted.
          </br> </br><a href="http://www.officialmuseumdirectory.com/">officialmuseumdirectory.com</a> may merge your information collected on the Site with similar data obtained from third parties or collected from you offline. We may use this enhanced personally identifiable information for marketing purposes, including to notify you of special offers, updated information and new products and services. Other unique circumstances may arise that require our disclosure of your personal information to third parties, such as in connection with a corporate transaction where all or a portion of our business or assets (including our associated customer lists containing your personal information) are sold or transferred, or if disclosure is required by law or operation of law.
          </br> </br>
          Please be aware that, if you voluntarily disclose personally identifiable information in an e-mail or other communications with third parties listed on the Sites or in other materials, that information, along with any other information disclosed in your communication, can be collected and correlated and used by such third parties and may result in your receiving unsolicited messages from other persons. Such collection, correlation, use and messages are beyond our control.
          </p>
          
          
          </div>
          
        </div>
        <div>
          <input id="ac-3" name="accordion-1" type="radio" />
          <button  class="accordion">Your California Privacy Rights</button>
          <div class="panel">
          <p>
            <b>Under California Civil Code sections 1798.83-1798.84, California residents may request </b>
            </br> </br>(i) the categories/ of their personal information that we disclosed to third parties or our affiliates for such parties' direct marketing purposes in the preceding calendar year, and
          
</br>(ii) such parties' names and addresses. Please direct the requests to us at the e-mail or mailing address provided below under "How to Contact Us."</p>
        
          </div>
        </div>
                <div>
          <input id="ac-4" name="accordion-1" type="radio" />
          <button  class="accordion">Our Commitment to Data Security</button>
          <div class="panel">
          <p><a href="http://www.officialmuseumdirectory.com/">officialmuseumdirectory.com</a> takes every effort to protect against unauthorized access, loss, misuse or alteration by third parties of your personal information, and has put in place commercially reasonable physical, electronic, and managerial procedures to safeguard and secure your information. Notwithstanding the foregoing, there is always some risk involved in transmitting information over the Internet. Additionally, there is some risk our security systems could be circumvented or breached. While we strive to protect your information, we cannot ensure or warrant the security and privacy of any information you transmit to us, and you do so at your own risk.</p>
          
          </article>
        </div>
        <div>
          <input id="ac-5" name="accordion-1" type="radio" />
          <button  class="accordion">Opt-out</button>
          <div class="panel">
            <p>You may at any time opt-out of receiving promotional or other communications from <a href="http://www.officialmuseumdirectory.com/">officialmuseumdirectory.com</a> or having your personally identifiable information shared with third parties by contacting our Information Privacy Manager at the address below. If you decide to so opt-out after you have previously opted-in, your change in preference will only affect future contacts. If we had provided your information to third parties prior to your opt-out, they may continue to use it.</br> </br>
Even if you do not opt-in to receive promotional or other communications or you have opted-in and then later choose to opt-out, we reserve the right to contact you as necessary in our sole discretion regarding <a href="http://www.officialmuseumdirectory.com/">OfficialMuseumDirectory.com,</a> any request you have made for services or products from <a href="http://www.OfficialMuseumDirectory.com/">OfficialMuseumDirectory.com</a>, changes to this Privacy Policy, or any other matters that may be relevant to the information we collect.</p>
          </div>
        </div>
                
                <div>
          <input id="ac-6" name="accordion-1" type="radio" />
          <button  class="accordion">Correcting Information</button>
          <div class="panel">
            <p>You are responsible for providing accurate information when making purchases, registering with any portions of the Site that require registration, or performing other functions requiring the submission of your personally identifiable information. If you wish to correct your personally identifiable information, please contact our Information Privacy Manager at the address below. </p>
          </div>
        </div>
                  <div>
          <input id="ac-7" name="accordion-1" type="radio" />
          <button  class="accordion">Contact us</button>
          <div class="panel">
            <p>If you would like to contact <a href="http://www.OfficialMuseumDirectory.com/">OfficialMuseumDirectory.com</a> regarding our privacy practices, please write or e-mail us at the following address. </br></br><b>Mailing Address:</b></br>
                        The Official Museum Directory
Information Privacy Manager</br>
430 Mountain Avenue, Suite 400</br>
New Providence, NJ 07974</br>
e-mail: <a href="mailto:privacy@marquiswhoswho.com">privacy@marquiswhoswho.com</a> </p>
          </div>
        </div>
                
                <div>
          <input id="ac-8" name="accordion-1" type="radio" />
          <button  class="accordion">Changes to Privacy Policy</button>
          <div class="panel">
            <p>We reserve the right to change this Privacy Policy at any time. In the event of any material change, we will notify users through a notice on the Site, e-mail or other means. Your continued use of the Site following such notification means you accept those changes. </p>
          </div>
        </div>
                
                <div>
          <input id="ac-9" name="accordion-1" type="radio" />
          <button  class="accordion">Agreement to Terms of Privacy Policy</button>
          <div class="panel">
            <p>As a subscriber to the Site, or otherwise by using the Site, you signify that you agree to this Privacy Policy. If you do not agree to this Privacy Policy, please do not make any use of the Site.
Effective Date: November 14, 2008 </p>
          </div>
        </div>
                
      </section>
      
         </div>
         <div class="col-md-3">
                      <div class="space-18"></div>
                        <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                        <div class="space-18"></div>
                    </div>
     
                  
     
     </div>
      </div>
    <div class="space-40"> </div>
     