<div class="panel panel-default">
    <nav class="panel-heading-navbar panel-heading navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-action" aria-expanded="false" aria-controls="navbar-action">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="core.acl.module.list">Modules</a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="core.acl.module.list">Modules</a>
        </div>
        <div id="navbar-action" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="core.acl.module.list"><i class="fa fa-list"></i> List</a></li>
                <li ui-sref-active="active"><a ui-sref="core.acl.module.add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>
        </div>
    </nav>
    <div class="panel-body" ui-view></div>
</div>
