<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Module</th>
                <th>Page</th>
                <th>Name</th>
                <th width="10%" class="text-center">Status</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Module</th>
                <th>Page</th>
                <th>Name</th>
                <th width="10%" class="text-center">Status</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="aclAction in aclActions">
                <td><i class="fa fa-{{aclAction.module.icon}}"></i> {{aclAction.module.name}}</td>
                <td><i class="fa fa-{{aclAction.page.icon}}"></i> {{aclAction.page.name}}</td>
                <td><a ui-sref="core.acl.action.edit({id: aclAction._id})"><i class="fa fa-{{aclAction.icon}}"></i> {{aclAction.name}}</a></td>
                <td class="text-center" ng-class="aclAction.active ? 'bg-success text-success' : 'bg-danger text-danger'">
                    {{ aclAction.active ? 'Active' : 'Inactive' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
