<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="pageForm" ng-submit="save()">
            <div class="form-group">
                <label>Module</label>
                <ui-select ng-model="selectedModule.value">
                    <ui-select-match>
                        <span><i class="fa fa-{{ $select.selected.icon }}"></i> {{ $select.selected.name }}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="module in (moduleArray | filter: $select.search) track by module._id">
                        <span><i class="fa fa-{{ module.icon }}"></i> {{ module.name }}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': pageForm.object.$touched && pageForm.object.$invalid }">
                <label>Object</label>
                <input type="text" class="form-control" name="object" ng-model="page.object" required validate-is-acl-page-unique acl-module-id="{{ selectedModule.value._id }}" except-acl-page-id="{{ page._id }}">
                <div class="help-block" ng-messages="pageForm.object.$error" ng-show="pageForm.object.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsAclPageUnique"><b>{{ page.object }}</b> already exists!</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': pageForm.order.$touched && pageForm.order.$invalid }">
                <label>Order</label>
                <input type="text" class="form-control" name="order" ng-model="page.order" required validate-is-number="{ natural: true, nonZero: true, decimal: false }">
                <div class="help-block" ng-messages="pageForm.order.$error" ng-show="pageForm.order.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsNumber">Enter a valid, non-zero number</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': pageForm.name.$touched && pageForm.name.$invalid }">
                <label>Name</label>
                <input type="text" class="form-control" name="name" ng-model="page.name" required>
                <div class="help-block" ng-messages="pageForm.name.$error" ng-show="pageForm.name.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <div class="form-group">
                <label>Icon</label>
                <input type="text" class="form-control" name="icon" ng-model="page.icon">
            </div>
            <label>Options</label>
            <div class="form-group well well-sm">
                <label>
                    <input type="checkbox" ng-model="page.options.directorySwitcher"> Enable Directory Switcher?
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="page.active"> Active
                </label>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="pageForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>
