<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Module</th>
                <th>Name</th>
                <th width="10%" class="text-center">Status</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Module</th>
                <th>Name</th>
                <th width="10%" class="text-center">Status</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="aclPage in aclPages">
                <td><i class="fa fa-{{aclPage.module.icon}}"></i> {{aclPage.module.name}}</td>
                <td><a ui-sref="core.acl.page.edit({id: aclPage._id})"><i class="fa fa-{{aclPage.icon}}"></i> {{aclPage.name}}</a></td>
                <td class="text-center" ng-class="aclPage.active ? 'bg-success text-success' : 'bg-danger text-danger'">
                    {{ aclPage.active ? 'Active' : 'Inactive' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
