<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Code Type</th>
                <th width="10%" class="text-center">Status</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Code Type</th>
                <th width="10%" class="text-center">Status</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="refCodeType in refCodeTypes">
                <td>{{refCodeType.codeType}}</td>
                <td class="text-center" ng-class="refCodeType.active ? 'bg-success text-success' : 'bg-danger text-danger'">
                    {{ refCodeType.active ? 'Active' : 'Inactive' }}
                </td>
                <td class="text-center">
                    <a class="btn btn-primary" ui-sref="core.policy.refCodeType.edit({id: refCodeType._id})"><i class="fa fa-edit"></i></a>
                </td>
                <td class="text-center">
                    <a class="btn btn-danger" ui-sref="core.policy.refCodeType.remove({id: refCodeType._id})"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
