<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form name="refCodeTypeForm" ng-submit="update()">
            <div class="form-group" ng-class="{ 'has-error': refCodeTypeForm.codeType.$touched && refCodeTypeForm.codeType.$invalid }">
                <label>Code Type</label>
                <input type="text" class="form-control" name="codeType" ng-model="refCodeType.codeType" required validate-is-ref-code-type-unique except-ref-code-type-id="{{ refCodeType._id }}">
                <div class="help-block" ng-messages="refCodeTypeForm.codeType.$error" ng-show="refCodeTypeForm.codeType.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsRefCodeTypeUnique"><b>{{refCodeType.codeType}}</b> already exists</p>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="active" ng-model="refCodeType.active"> Active
                </label>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="refCodeTypeForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>
