<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Account Details</h3>
        <div class="well well-sm">
            <div class="form-group">
                <label>Role</label>
                <ui-select ng-model="user.role">
                    <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="thisRole._id as thisRole in (roleArray | filter: $select.search) track by thisRole._id">
                        <span ng-bind="thisRole.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Access Date </label>
                <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                    <input type="text" readonly name="accessDate" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.accessDate" is-open="popup1.opened" datepicker-options="accessDateOptions" close-text="Close" />
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label>Expiry Date </label>
                <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                    <input type="text" readonly name="expiryDate" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.expiryDate" is-open="popup2.opened" ng-change="alert('changed')" datepicker-options="expiryDateOptions" close-text="Close" />
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="user.active"> Active
                </label>
            </div>
        </div>
    </div>
</div>
