<div class="panel panel-default">
    <nav class="panel-heading-navbar panel-heading navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user-edit" aria-expanded="false" aria-controls="navbar-user-edit">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="core.security.user.edit.account({id:user._id})">User Details: {{user.auth.email}}</a>
        </div>
        <div id="navbar-user-edit" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="core.security.user.edit.account({id:user._id})"><i class="fa fa-gears"></i> Account</a></li>
            </ul>
        </div>
    </nav>
    <form name="userForm" ng-submit="update()">
        <div class="panel-body" ui-view></div>
        <div class="panel-footer">
            <div class="pull-right">
                <a class="btn btn-default" ui-sref="core.security.user.list">
                    <i class="fa fa-remove"></i> Cancel
                </a>
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid || loading">
                    <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
