<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name & Email</th>
                <th>Role</th>
                <th width="10%" class="text-center">Status</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name & Email</th>
                <th>Role</th>
                <th width="10%" class="text-center">Status</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="user in users">
                <td>
                    {{ user.details.personal.name.last + " " + user.details.personal.name.first + " " + user.details.personal.name.middle }}
                    <br> <b>{{user.auth.email}}</b>
                </td>
                <td>
                    {{user.role.name}}
                </td>
                <td class="text-center" ng-class="user.active ? 'bg-success text-success' : 'bg-danger text-danger'">
                    {{ user.active ? 'Active' : 'Inactive' }}
                </td>
                <td class="text-center">
                    <a class="btn btn-primary" ui-sref="core.security.user.edit.account({id: user._id})"><i class="fa fa-edit"></i></a>
                </td>
                <td class="text-center">
                    <a class="btn btn-danger" ui-sref="core.security.user.remove({id: user._id})"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
