footer#footer.footer-custom(role='contentinfo')
  .container
    .row
      .text-left
        .col-sm-6.col-md-3.col-xs-12.ml
          h4 About Catholic
          ul.links
            li
              a(href='about-us.html') About Catholic
            li
              a(href='privacy-policy.html') Privacy
            li
              a(href='terms-of-use .html') Terms & Conditions
            li
              a(href='advertising.html') Advertise with us
            li
              a(href='catholic-news.html') News & Announcement
        .col-sm-6.col-md-3.col-xs-12.ml
          h4 Here to Help
          ul.links
            li
              a(href='javascript:void(0)') Frequently Asked Questions
            li
              a(href='javascript:void(0)') Buying Guides
            li
              a(href='javascript:void(0)') Catalogue
            li
              a(href='javascript:void(0)') Online Support
            li
              a(href='javascript:void(0)') Resources
        .col-sm-6.col-md-4.col-xs-12.ml
          h4 Call Us
          ul.links
            li
              span Customer services & sales team can be reached.
            li
              span.service-txt The Official Catholic Directory
            li
              a(href='javascript:void(0)')
                i.fa.fa-phone
                |  1-800-473-7020
        .col-sm-6.col-md-2.col-xs-12.ml
          h4 Keep in Touch
          ul.links
            li
              a(href='javascript:void(0)')
                i.fa.fa-facebook
                |  Facebook
            li
              a(href='javascript:void(0)')
                i.fa.fa-twitter
                |  Twitter
            li
              a(href='javascript:void(0)')
                i.fa.fa-linkedin
                |  Linkedin
      .space-18
    .row
      .col-sm-6.col-md-12.col-xs-12.text-center
      .space-18
        .terms.mr.ml
          div © 2016 The Official Catholic Directory.  All Rights Reserved.
        .space-18