<footer role="contentinfo" class="footer-custom" id="footer" ng-class="{footerSpace:!footerData}">
    <!-- ng-class="{footerSpace:!footerData}" ng-if="footerData" ng-class="{footerSpace:!footerData}" -->
    <div class="container">
        <div class="row">
            <div class="text-left">
                <div ng-class="footer.class" ng-repeat="footer in footer | orderBy:'sequenceNo'" ng-if="footer.subMenu==true">
                    <h4>{{footer.caption}}</h4>
                    <ul class="links" ng-repeat="subMenu in footer.subMenus | orderBy:'sequenceNo'">
                        <li ng-if="subMenu.linkFlag==true " ng-click="stload()">
                            <div ng-switch on="subMenu.target">
                                <a href="{{subMenu.link}}" target="_blank" ng-switch-when="_blank">
                                    <i ng-if="subMenu.showIcon" class="{{subMenu.class}}"></i> {{ subMenu.toolTip}}
                                </a>
                                <div ng-if="subMenu.toolTip != 'Advertise with Us' && subMenu.toolTip != 'About Us' ">
                                    <a href="{{subMenu.link}}" ng-disabled="subMenu.link == null || subMenu.link == '#'" ng-switch-default>
                                        <i ng-if="subMenu.showIcon" class="{{subMenu.class}}"></i> {{ subMenu.toolTip}}
                                    </a>
                                </div>
                                <!-- <div ng-if="subMenu.toolTip == 'Advertise with Us' && pageType== 'home'">
                                    <a data-params="#advertisingSection" class="page-scroll" scroll-on-click="" href="#advertisingSection" ng-disabled="subMenu.link == null || subMenu.link == '#'" ng-switch-default>
                                        <i ng-if="subMenu.showIcon" class="{{subMenu.class}}"></i> {{ subMenu.toolTip}}
                                    </a>
                                </div> -->
                                <div ng-if="subMenu.toolTip == 'Advertise with Us' && pageType=='home'">
                                    <a ui-sref-opts="{ reload: true }" ui-sref="{{subMenu.insideLink}}" data-params="{{subMenu.insideLink}}" scroll-on-click>{{ subMenu.toolTip}}</a>
                                </div>
                                <div ng-if="subMenu.toolTip == 'Advertise with Us' && pageType=='inner'">
                                    <a ui-sref-opts="{ reload: true }" ui-sref="{{subMenu.insideLink}}" data-params="{{subMenu.insideLink}}" scroll-on-click>{{ subMenu.toolTip}}</a>
                                </div>
                                <div ng-if="subMenu.toolTip == 'About Us' && pageType=='home'">
                                    <a ui-sref-opts="{ reload: true }" ui-sref="{{subMenu.insideLink}}" data-params="{{subMenu.insideLink}}" s
                                    croll-on-click>{{ subMenu.toolTip}}</a>
                                </div>

                                <div ng-if="subMenu.toolTip == 'About Us' && pageType=='inner'">
                                    <a ui-sref-opts="{ reload: true }" ui-sref="{{subMenu.insideLink}}" data-params="{{subMenu.insideLink}}" scroll-on-click>{{ subMenu.toolTip}}</a>
                                </div>
                            </div>
                        </li>
                        <li ng-if="subMenu.linkFlag==false">
                            <span ng-class="subMenu.class">{{ subMenu.toolTip}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="space-18"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                <div class="space-18"></div>
                <div class="terms mr ml">
                    <div ng-repeat="footer in footer | orderBy:'sequenceNo'" ng-if="footer.subMenu==false">{{footer.caption}}</div>
                </div>
                <div class="space-18"></div>
            </div>
        </div>
    </div>
</footer>
