<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{{logo.link}}" class="navbar-brand page-scroll" data-ng-if="pageType == 'home'" scroll-on-click>
                    <img ng-cloak="ng-cloak" ng-src="{{logo.logo}}" alt="{{logo.caption}}" title="{{logo.caption}}" class="second-slide img-responsive"/>
                </a>
                <a ui-sref-opts="{ reload: true }" ui-sref="{{logo.insideLink}}" class="navbar-brand page-scroll" data-ng-if="pageType == 'inner'">
                    <img ng-cloak="ng-cloak" ng-src="{{logo.logo}}" alt="{{logo.caption}}" title="{{logo.caption}}" class="second-slide img-responsive" ng-click="goToHome()"/>
                </a>
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed" ng-click="toggleShowHide(menu);">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div ng-if="showHide">
                <ul class="nav navbar-nav navbar-right navigation_margin" data-ng-if="pageType == 'home'">
                    <li class="hidden-lg" data-ng-repeat="menu in menus | orderBy:'sequenceNo'" uib-dropdown on-toggle="toggled(open)" ng-if="!menu.private || (menu.private && isUserLoggedIn())" ng-click="toggleShowHide(menu);">
                        <a data-ng-hide="menu.subMenu" data-params="{{menu.privateLink && isUserLoggedIn() ? menu.privateLink : menu.link}}" ui-sref="{{menu.privateLink && isUserLoggedIn() ? menu.privateLink : menu.link}}" class="{{menu.class}}" scroll-on-click target="_self">
                            <i data-ng-show="menu.showIcon" class="{{menu.icon}}"></i>
                            <span data-ng-hide="menu.showIcon">{{menu.caption}}</span>
                        </a>
                        <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="!menu.showIcon">{{menu.caption}}<span class="caret"></span></a>
                        <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="menu.showIcon"><i class="{{menu.icon}}"></i><span class="caret"></span></a>
                        <ul data-ng-if="menu.subMenu" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li data-ng-repeat-start="submenu in menu.subMenus" ng-if="submenu.active==true" ng-click="toggleShowHide(submenu);" ui-sref-active="active" ng-if="submenu.active==true">
                                <a ui-sref="{{submenu.link}}" data-params="{{submenu.link}}" ui-sref-opts="{ reload: true }" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout && !submenu.disableScroll" scroll-on-click target="_self">{{submenu.caption}}</a>
                                <a ui-sref="{{submenu.link}}" data-params="{{submenu.link}}" ui-sref-opts="{ reload: true }" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout && submenu.disableScroll" scroll-on-click target="_self">{{submenu.caption}}</a>
                                <a href="javascript:void(0)" class="{{submenu.class}}" ng-if="submenu.linkActionLogout" ng-click="logout()">{{submenu.caption}}</a>
                            </li>
                            <li role="separator" data-ng-repeat-end="data-ng-repeat-end" ng-if="$index != 0" data-ng-hide="$last" class="divider"></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navigation_margin" data-ng-if="pageType =='inner'">
                    <li class="hidden-lg" data-ng-repeat="menu in menus | orderBy:'sequenceNo'" uib-dropdown on-toggle="toggled(open)" ng-if="!menu.private || (menu.private && isUserLoggedIn())" ng-click="toggleShowHide(menu);">
                        <a data-ng-hide="menu.subMenu" ui-sref-opts="{ reload: true }"  scroll-on-click target="_self" data-params="{{menu.privateInsideLink && isUserLoggedIn() ? menu.privateInsideLink : menu.insideLink}}" ui-sref="{{menu.privateInsideLink && isUserLoggedIn() ? menu.privateInsideLink : menu.insideLink}}" class="{{menu.class}}">
                            <i data-ng-show="menu.showIcon" class="{{menu.icon}}"></i>
                            <span data-ng-hide="menu.showIcon">{{menu.caption}}</span>
                        </a>
                        <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="!menu.showIcon">{{menu.caption}}<span class="caret"></span></a>
                        <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="menu.showIcon"><i class="{{menu.icon}}"></i><span class="caret"></span></a>
                        <ul data-ng-if="menu.subMenu" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li data-ng-repeat-start="submenu in menu.subMenus | orderBy:'sequenceNo'" ng-if="submenu.active==true" ng-click="toggleShowHide(submenu);" ui-sref-active="active" ng-if="submenu.active==true" >
                                <a ui-sref-opts="{ reload: true }" ui-sref="{{submenu.insideLink}}" data-params="{{submenu.insideLink}}" class="{{submenu.class}}" scroll-on-click target="_self">{{submenu.caption}}</a>
                                <!-- <a href="javascript:void(0)" class="{{submenu.class}}" ng-if="submenu.linkActionLogout" ng-click="logout()">{{submenu.caption}}</a> -->
                            </li>
                            <li role="separator" data-ng-repeat-end="data-ng-repeat-end" ng-if="$index != 0" data-ng-hide="$last" class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div data-ng-switch on="pageType">
                    <ul class="nav navbar-nav navbar-right navigation_margin" data-ng-if="pageType == 'home'">
                        <li data-ng-repeat="menu in menus | orderBy:'sequenceNo'" uib-dropdown on-toggle="toggled(open)" ng-if="!menu.private || (menu.private && isUserLoggedIn())" ui-sref-active="active">
                            <a data-ng-hide="menu.subMenu" data-params="{{menu.privateLink && isUserLoggedIn() ? menu.privateLink : menu.link}}" ui-sref="{{menu.privateLink && isUserLoggedIn() ? menu.privateLink : menu.link}}" class="{{menu.class}}" scroll-on-click>
                                <i data-ng-show="menu.showIcon" class="{{menu.icon}}"></i>
                                <span data-ng-hide="menu.showIcon">{{menu.caption}}</span>
                            </a>
                            <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="!menu.showIcon">{{menu.caption}}<span class="caret"></span></a>
                            <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="menu.showIcon"><i class="{{menu.icon}}"></i><span class="caret"></span></a>
                            <ul data-ng-if="menu.subMenu" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li data-ng-repeat-start="submenu in menu.subMenus | orderBy:'sequenceNo'" ng-if="submenu.active==true" ui-sref-active="active" ng-if="submenu.active==true">
                                    <a ui-sref="{{submenu.link}}" data-params="{{submenu.link}}" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout && !submenu.disableScroll" scroll-on-click>{{submenu.caption}}</a>
                                    <!-- <a ui-sref-opts="{ reload: true }" ui-sref="{{submenu.insideLink}}" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout">{{submenu.caption}}</a> -->
                                    <a ui-sref="{{submenu.link}}" data-params="{{submenu.link}}" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout && submenu.disableScroll" scroll-on-click>{{submenu.caption}}</a>
                                    <a href="javascript:void(0)" class="{{submenu.class}}" ng-if="submenu.linkActionLogout" ng-click="logout()">{{submenu.caption}}</a>
                                    <!-- <div role="separator" class="divider" ng-if="$index ==1 "> </div> -->
                                </li>
                                <li 
                                data-ng-repeat-end="data-ng-repeat-end"></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- <ul class="nav navbar-nav navbar-right" data-ng-if="pageType == 'inner'">
                        <li data-ng-repeat="menu in menus | orderBy:'sequenceNo'" uib-dropdown on-toggle="toggled(open)" ng-if="!menu.private || (menu.private && isUserLoggedIn())" ui-sref-active="active">
                            <a data-ng-hide="menu.subMenu" ui-sref-opts="{ reload: true }" ui-sref="{{menu.privateInsideLink && isUserLoggedIn() ? menu.privateInsideLink : menu.insideLink}}" scroll-on-click data-params="{{menu.privateInsideLink && isUserLoggedIn() ? menu.privateInsideLink : menu.insideLink}}" class="{{menu.class}}">
                                <i data-ng-show="menu.showIcon" class="{{menu.icon}}"></i>
                                <span data-ng-hide="menu.showIcon">{{menu.caption}}</span>
                            </a>
                            <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="!menu.showIcon">{{menu.caption}}<span class="caret"></span></a>
                            <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="menu.showIcon"><i class="{{menu.icon}}"></i><span class="caret"></span></a>
                            <ul data-ng-if="menu.subMenu" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li  data-ng-repeat-start="submenu in menu.subMenus | orderBy:'sequenceNo'" ng-click="stload(submenu.caption)" ui-sref-active="active">
                                    <!-- <a ui-sref="{{submenu.insideLink}}" data-params="{{submenu.insideLink}}" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout && !submenu.disableScroll" scroll-on-click>{{submenu.caption}}</a> -->
                                    <!-- <a ui-sref-opts="{ reload: true }" data-params="{{submenu.insideLink}}" ui-sref="{{submenu.insideLink}}" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout">{{submenu.caption}}</a>
                                    <a href="javascript:void(0)" class="{{submenu.class}}" ng-if="submenu.linkActionLogout" ng-click="logout()">{{submenu.caption}}</a>
                                </li>
                                <li role="separator" data-ng-repeat-end="data-ng-repeat-end" ng-if="$index % 1 == 0" data-ng-hide="$last" class="divider"></li>
                            </ul>
                        </li>
                    </ul> -->
                    <ul class="nav navbar-nav navbar-right navigation_margin" data-ng-if="pageType =='inner'">
                        <li data-ng-repeat="menu in menus | orderBy:'sequenceNo'" uib-dropdown on-toggle="toggled(open)" ng-if="!menu.private || (menu.private && isUserLoggedIn())" ng-click="!menu.private ? stload(menu) : ''" ui-sref-active="active">
                            <a data-ng-hide="menu.subMenu" ui-sref-opts="{ reload: true }" ui-sref="{{menu.privateInsideLink && isUserLoggedIn() ? menu.privateInsideLink : menu.insideLink}}" data-params="{{menu.privateInsideLink && isUserLoggedIn() ? menu.privateInsideLink : menu.insideLink}}" class="{{menu.class}}">
                                <i data-ng-show="menu.showIcon" class="{{menu.icon}}"></i>
                                <span data-ng-hide="menu.showIcon">{{menu.caption}}</span>
                            </a>
                            <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="!menu.showIcon">{{menu.caption}}<span class="caret"></span></a>
                            <a data-ng-show="menu.subMenu" href="#" id="simple-dropdown" uib-dropdown-toggle class="{{menu.class}}" ng-if="menu.showIcon"><i class="{{menu.icon}}"></i><span class="caret"></span></a>
                            <ul data-ng-if="menu.subMenu" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li data-ng-repeat-start="submenu in menu.subMenus | orderBy:'sequenceNo'" ng-click="stload(submenu.caption)" ui-sref-active="active" ng-if="submenu.active==true" >
                                    <a ui-sref-opts="{ reload: true }" ui-sref="{{submenu.insideLink}}" data-params="{{submenu.insideLink}}" class="{{submenu.class}}" ng-if="!submenu.linkActionLogout" scroll-on-click>{{submenu.caption}}</a>
                                    <a href="javascript:void(0)" class="{{submenu.class}}" ng-if="submenu.linkActionLogout" ng-click="logout()">{{submenu.caption}}</a>
                                        <!-- <div role="separator" class="divider" ng-if="$index ==1 "> </div> -->
                                </li>
                                <li data-ng-repeat-end="data-ng-repeat-end" > </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="back_to_top" style="display: block;" back-to-top>
    <a href="#">
        <b class="arrow fa fa-angle-up"></b>
    </a>
</div>
