header(data-ng-controller='web.header.controller')
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand.page-scroll(href='#home')
          img.second-slide.img-responsive(ng-cloak ng-src='{{logo.image}}' alt='{{logo.title}}' title='{{logo.title}}')
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li(data-ng-repeat='menu in menus')
            a(data-ng-hide='menu.subMenu' class='{{menu.class}}' href='{{menu.link}}') 
              i(class='{{menu.icon}}' data-ng-show='menu.showIcon')
              span(data-ng-hide='menu.showIcon') {{menu.caption}}
              //- span.caret(data-ng-show='menu.dropdown')
            a(data-ng-show='menu.subMenu' href='#' data-toggle='subMenu' role='button' aria-haspopup='true' aria-expanded='false')
              | {{menu.caption}}
              span.caret
            ul.dropdown-menu(data-ng-if='menu.subMenu')
              li(data-ng-repeat-start='submenu in menu.subMenus')
                a(class='{{submenu.class}}' href='{{submenu.link}}')
                  | {{submenu.caption}}
              li.divider(role='separator' data-ng-repeat-end ng-if="$index % 1 == 0"  data-ng-hide='$last')
        //- ul.nav.navbar-nav.navbar-right
          li
            a.page-scroll(href='#home')
              i.fa.fa-home.home-icon
          li
            a.page-scroll(href='#about') About Us
          li
            a.page-scroll(href='#sales') OCD Sales
          li
            a.page-scroll(href='#mailing') Mailing Lists
          li.dropdown.hidden-xs
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | More Links span.caret
              
            ul.dropdown-menu
              li
                a.page-scroll(href='#advertising') Advertise
              li.divider(role='separator')
              li
                a.page-scroll(href='#contact') Contact Us
              li.divider(role='separator')
              li
                a.page-scroll(href='#news') News
              li.divider(role='separator')
              li
                a.page-scroll(href='catholic-links.html') Catholic Links
              li.divider(role='separator')
              li
                a.page-scroll(href='archive-reflections.html') Archive & Reflections
              li.divider(role='separator')
              li
                a.page-scroll(href='biography.html') Hierarchy of Biography
              li.divider(role='separator')
              li
                a.page-scroll(href='#product') Products & Services
              li.divider(role='separator')
              li
                a.page-scroll(href='#customer') Customer Says
          li.visible-xs
            a.page-scroll(href='#advertising') Advertise
          li.visible-xs
            a.page-scroll(href='#contact') Contact Us
          li.visible-xs
            a.page-scroll(href='#news') News
          li.visible-xs
            a.page-scroll(href='catholic-links.html') Catholic Links
          li.visible-xs
            a.page-scroll(href='archive-reflections.html') Archive & Reflections
          li.visible-xs
            a.page-scroll(href='biography.html') Hierarchy of Biography
          li.visible-xs
            a.page-scroll(href='#product') Products & Services
          li.visible-xs
            a.page-scroll(href='#customer') Customer Says
          li
            a.page-scroll(href='#subscribe') Special Offers
          li
            a.page-scroll.login-button(href='javascript:void(0);', data-toggle='modal', data-target='#myLogin') Sign In
      // /.nav-collapse
  #back_to_top
    a(href='#' ng-click='goTop()')
      b.arrow.fa.fa-angle-up
  // end #top