<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div ng-hide="editState">
                        <div class="form-group" ng-class="{'has-error': addForm.orgId.$touched && addForm.orgId.$invalid}">
                            <label for="pwd">Organization ID</label>
                            <input type="text" class="form-control" name="orgId" ng-model="organization.org_id" validate-this="orgId" validate-as="digits" ng-disabled="editStateDisable">
                            <div class="help-block" ng-messages="addForm.orgId.$error" ng-show="addForm.orgId.$touched">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.orgId.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid}">
                        <label for="pwd">Sequence No.</label>
                        <input type="text" class="form-control" name="sequenceNo" ng-model="organization.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.sequenceNo.$error" ng-show="addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.name.$touched && addForm.name.$invalid}">
                        <label for="pwd">Name<span class="meditator">*</span></label>
                        <input type="text" class="form-control" name="name" ng-model="organization.name" required validate-is-name-unique except-organization-id="{{ organization._id }}">
                        <div class="help-block" ng-messages="addForm.name.$error" ng-show="addForm.name.$touched">
                            <div ng-message="required">Please fill this field</div>
                            <p ng-message="validateIsNameUnique"><b>{{organization.name}}</b> already exists</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Minor Name</label>
                        <input type="text" class="form-control" name="shortName" ng-model="organization.shortName">
                    </div>
                    <div class="form-group">
                        <!-- <label>Established Year</label> -->
                        <label>Established</label>
                        <input type="text" class="form-control" name="estd" ng-model="organization.established.year">
                    </div>
                    <!-- <div class="form-group" ng-class="{'has-error': addForm.estd.$touched && addForm.estd.$invalid}">
                        <label for="pwd">Established Year<span class="meditator">*</span></label>
                        <input type="text" class="form-control" required name="estd" ng-model="organization.established.year" validate-this="estd" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.estd.$error" ng-show="addForm.estd.$touched">
                            <div ng-message="required">Please fill this field</div>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.estd.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label>Status</label>
                        <ui-select ng-model="organization.status">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in recordStatusArray">
                                <span ng-bind="thisRecordStatus.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Comments</label>
                        <input type="text" class="form-control" name="Comment" ng-model="organization.comments[0]">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">Sort Name</label>
                        <input type="text" class="form-control" name="sortMajorName" ng-model="organization.sortMajorName">
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.aamId.$touched && addForm.aamId.$invalid}">
                        <label for="pwd">AAM ID</label>
                        <input type="text" class="form-control" name="aamId" ng-model="organization.aamId" validate-this="aamId" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.aamId.$error" ng-show="addForm.aamId.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.aamId.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" name="accredited" ng-model="organization.flags.aam
">
                            <span class="lbl"><strong> AAM</strong></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Institution Type/Description</label>
                        <textarea class="form-control" name="institutionType" rows="5" ng-model="organization.entityType"></textarea>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.congressDistrict.$touched && addForm.congressDistrict.$invalid}">
                        <label for="pwd">Congressional District</label>
                        <input type="text" class="form-control" name="congressDistrict" ng-model="organization.congressDistrict" validate-this="congressDistrict" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.congressDistrict.$error" ng-show="addForm.congressDistrict.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.congressDistrict.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" name="handicapped" ng-model="organization.flags.handicapped">
                            <span class="lbl"><strong> Handicapped Accessible?</strong></span>
                        </label>
                        <label class="position-relative">
                            <input type="radio" class="ace radiospace" name="handicapped" ng-model="organization.handicapped" value="P" ng-disabled="!organization.flags.handicapped">
                            <span class="lbl"><strong> Partial</strong></span>
                        </label>
                        <label class="position-relative">
                            <input type="radio" class="ace radiospace" name="handicapped" ng-model="organization.handicapped" value="F" ng-disabled="!organization.flags.handicapped">
                            <span class="lbl"><strong> Full</strong></span>
                        </label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class="form-group" ng-class="{'has-error': addForm.attendanceCount.$touched && addForm.attendanceCount.$invalid}">
                            <label for="pwd">Attendance Count</label>
                            <input type="text" class="float-left" name="attendanceCount" ng-model="organization.attendance.count" validate-this="attendanceCount" validate-as="digits" id="fromDate">
                            <div class="help-block" ng-messages="addForm.attendanceCount.$error" ng-show="addForm.attendanceCount.$touched">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.attendanceCount.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class="form-group">
                            <label for="pwd">Attendance Method</label>
                            <div class="inp">
                                <select ng-model="organization.attendance.method" class="form-control" id="form-field-select-1">
                                    <option value="">Select</option>
                                    <option value="A">Actual</option>
                                    <option value="E">Estimated</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Hours & Admission Prices</label>
                        <textarea class="form-control" name="admissionPrice" rows="5" ng-model="organization.timing"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Membership</label>
                        <textarea class="form-control" name="membership" rows="5" ng-model="organization.membership"></textarea>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" name="accredited" ng-model="organization.flags.accredited">
                                <span class="lbl"><strong> Accredited</strong></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" name="firstMail" ng-model="organization.flags.firstMail">
                                <span class="lbl"><strong> First Email</strong></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" name="secondMail" ng-model="organization.flags.secondMail">
                                <span class="lbl"><strong> Second Email</strong></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" name="nrm" ng-model="organization.flags.nrm">
                                <span class="lbl"><strong> NRM</strong></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" name="otherSrc" ng-model="organization.flags.otherSrc">
                                <span class="lbl"><strong> Other</strong></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" name="icom" ng-model="organization.flags.icom">
                                <span class="lbl"><strong> Icom</strong></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mailer</label>
                        <div class="inp">
                            <select ng-model="organization.flags.mailer" class="form-control" id="form-field-select-1">
                                <option value="">Select</option>
                                <option value="I">In</option>
                                <option value="O">Out</option>
                                <option value="N">New</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="pwd">Mailer</label>
                        <input type="text" class="form-control" name="mailer" ng-model="organization.flags.mailer">
                    </div> -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFormerNamesPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Former Name(s)</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && formerName.deleted != true">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{formerName.name}}</td>
                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openFormerNamesPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'FormerName(s)')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Stathist</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group" ng-class="{'has-error': addForm.stathistSequenceNo.$touched && addForm.stathistSequenceNo.$invalid}">
                            <label for="pwd">Sequence No.</label>
                            <input type="text" class="form-control" name="stathistSequenceNo" ng-model="omdStathist.sequenceNo" validate-this="stathistSequenceNo" validate-as="digits">
                            <div class="help-block" ng-messages="addForm.stathistSequenceNo.$error" ng-show="addForm.stathistSequenceNo.$touched && addForm.stathistSequenceNo.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.stathistSequenceNo.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label for=" pwd ">Status Note</label>
                            <input type="text " class="form-control " name="stathisStatusNote " ng-model="omdStathist.statusNote " placeholder="Please fill the Status Note">
                        </div>
                    </div>
                </div>
                <div class="pull-right ">
                    <button type="button" class="btn btn-sm btn-primary " ng-click="addStathist() " ng-disabled="!(omdStathist.statusNote && omdStathist.sequenceNo)">
                        <i class="fa fa-check "></i> Save Stathist Details </button>
                    <a class="btn btn-sm btn-default " ng-click="resetStathist() ">
                        <i class="fa fa-remove "></i> Clear
                    </a>
                </div>
                <div class="row ">
                    <div class="col-xs-12 ">
                        <p></p>
                        <table class="table table-bordered " datatable="ng" dt-options="stathistDtOptions">
                            <thead>
                                <tr>
                                    <th class="widthfcl ">Sequence No.</th>
                                    <th>Status Note</th>
                                    <th class="widthth text-center" width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="stathist in organization.stathist " ng-class="{'selectedRow': $index == newStathistIndex}">
                                    <td class="text-center ">{{stathist.sequenceNo}}</td>
                                    <td>{{stathist.statusNote}}</td>
                                    <td class="text-center">
                                        <div class="action-buttons">
                                            <a class="blue" ng-click="editStathist($index)">
                                                <i class="fa fa-pencil bigger-130"></i>
                                            </a>
                                            <a class="red" ng-click="openRemovePopup($index,'Stathist')">
                                                <i class="ace-icon fa fa-trash bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
