<div class="tab-pane " id="dropdown14">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Activities</label>
                        <textarea class="form-control" rows="5" name="institutionType" ng-model="organization.activities.freeText"></textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Governing Authority</label>
                        <textarea class="form-control" rows="5" name="institutionType" ng-model="organization.governing"></textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Operating Income</label>
                        <input type="text" class="form-control" name="Operating Income" ng-model="organization.income">
                    </div>
                    <div class="form-group">
                        <label>Operating Expense</label>
                        <input type="text" class="form-control" name="Operating Expense" ng-model="organization.expenses">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFeaturePopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Features</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Type</th>
                            <th>Feature</th>
                            <th>Description</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feature in organization.features" ng-if="!feature.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{feature.featureType}}</td>
                            <td>{{feature.code.codeValue}}</td>
                            <td>{{feature.name}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openFeaturePopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Features')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="cal-md-12 pull-right add-button">
                    <a href="javascript:void(0)" type="button" class="addnew" ng-click="openPublicationsPopup()">
                        <ins>Add New Record</ins>
                    </a>
                </div>
                <div class="pull-left addnewt add-button">Publications</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th> Description</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="publication in organization.publication" ng-if="publication.description != null && !publication.deleted">
                            <td class="text-center">{{publication.sequenceNumber}}</td>
                            <td>{{publication.description}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openPublicationsPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Publications')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="cal-md-12 pull-right add-button">
                    <a href="javascript:void(0)" type="button" class="addnew" ng-click="openResearchPopup()">
                        <ins>Add New Record</ins>
                    </a>
                </div>
                <div class="pull-left addnewt add-button">Research Fields</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th> Description</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="research in organization.research" ng-if="research.description != null && !research.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{research.description}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openResearchPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Research')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="cal-md-12 pull-right add-button">
                    <a href="javascript:void(0)" type="button" class="addnew" ng-click="openExhibitionPopup()">
                        <ins>Add New Record</ins>
                    </a>
                </div>
                <div class="pull-left addnewt add-button">Exhibitions</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Show Date</th>
                            <th>Travel</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exhibition in organization.exhibition" ng-if="exhibition.exhibitName != null && !exhibition.deleted">
                            <td class="text-center">{{exhibition.sequenceNumber}}</td>
                            <td>{{exhibition.exhibitName}}</td>
                            <td>{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}</td>
                            <td>{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}</td>
                            <td>{{exhibition.showDate}}</td>
                            <td>{{exhibition.travelFlag == 'Y' ? "YES" : (exhibition.travelFlag == 'N' ? "NO" : "")}}
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openExhibitionPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Exhibition')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
