<div class="tab-pane active" id="home4">
    <div class="widget-box ">
        <div class="widget-main">
            <div class="row ng-scope ">
                <div class="col-md-4 ">
                    <div class>
                        <label class="h5 boldfont">Organization ID</label>
                        <p class="ng-binding">{{organization.org_id}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Sequence No.</label>
                        <p class="ng-binding">{{organization.sequenceNo}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Name</label>
                        <p class="ng-binding">{{organization.name}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Minor Name</label>
                        <p class="ng-binding">{{organization.shortName}}</p>
                    </div>
                    <div class>
                        <!-- <label class="h5 boldfont">Established Year</label> -->
                        <label class="h5 boldfont">Established</label>
                        <p class="ng-binding">{{organization.established.year}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Status</label>
                        <p class="ng-binding">{{directoryRecordStatus[organization.status._id].label}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Comments</label>
                        <p class="ng-binding">{{organization.comments[0]}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class>
                        <label class="h5 boldfont">Sort Name</label>
                        <p class="ng-binding">{{organization.sortMajorName}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">AAM ID</label>
                        <p class=".h5">{{organization.aamId}}</p>
                    </div>
                    <div class>
                        <label class="position-relative boldfont">
                            <i class="fa fa-check " ng-class="organization.flags.aam ? 'fa-check' : 'fa-remove'"></i> AAM
                        </label>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Institution Type/Description</label>
                        <p class="ng-binding">{{organization.entityType}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Congressional District</label>
                        <p class="ng-binding">{{organization.congressDistrict}}</p>
                    </div>
                    <div class>
                        <label class="position-relative boldfont">
                            <i class="fa fa-check " ng-class="organization.flags.handicapped? 'fa-check' : 'fa-remove'"></i> Handicapped Accessible {{ (organization.handicapped && organization.handicapped !='') ? ("(" + (organization.handicapped == 'P' ? 'Partial' : 'Full') + ")") : "" }}
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class>
                        <label class="h5 boldfont">Attendance Count</label>
                        <p class="ng-binding">{{organization.attendance.count | number}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Attendance Method</label>
                        <div ng-switch on="organization.attendance.method">
                            <span ng-switch-when=""></span>
                            <span ng-switch-when="A">Actual</span>
                            <span ng-switch-when="E">Estimated</span>
                        </div>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Hours & Admission Prices</label>
                        <p class="ng-binding">{{organization.timing}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Membership</label>
                        <p class="ng-binding">{{organization.membership[0]}}</p>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class>
                            <label class="position-relative boldfont">
                                <i class="fa fa-check " ng-class="organization.flags.accredited ? 'fa-check' : 'fa-remove'"></i> Accredited
                            </label>
                        </div>
                        <div class>
                            <label class="position-relative boldfont">
                                <i class="fa fa-check " ng-class="organization.flags.firstMail ? 'fa-check' : 'fa-remove'"></i> First Email
                            </label>
                        </div>
                        <div class>
                            <label class="position-relative boldfont">
                                <i class="fa fa-check " ng-class="organization.flags.secondMail ? 'fa-check' : 'fa-remove'"></i> Second Email
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class>
                            <label class="position-relative boldfont">
                                <i class="fa fa-check " ng-class="organization.flags.nrm ? 'fa-check' : 'fa-remove'"></i> NRM
                            </label>
                        </div>
                        <div class>
                            <label class="position-relative boldfont">
                                <i class="fa fa-check " ng-class="organization.flags.otherSrc ? 'fa-check' : 'fa-remove'"></i> Other
                            </label>
                        </div>
                        <div class>
                            <label class="position-relative boldfont">
                                <i class="fa fa-check " ng-class="organization.flags.icom ? 'fa-check' : 'fa-remove'"></i> Icom
                            </label>
                        </div>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Mailer</label>
                        <div ng-switch on="organization.flags.mailer">
                            <span ng-switch-when="I">In</span>
                            <span ng-switch-when="O">Out</span>
                            <span ng-switch-when="N">New</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">
                Former Name(s)</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && formerName.deleted != true">
                            <td class="text-center ">{{ ($index+1) }}</td>
                            <td>{{formerName.name}}</td>
                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Stathist</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p></p>
                        <table class="table table-bordered" datatable="ng">
                            <thead>
                                <tr>
                                    <th class="widthfcl">Sequence No.</th>
                                    <th>Status Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="stathist in organization.stathist" ng-if="!stathist.deleted">
                                    <td class="text-center">{{stathist.sequenceNo}}</td>
                                    <td>{{stathist.statusNote}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
