<div class="tab-pane active" id="home4">
    <div class="widget-box ">
        <div class="widget-main">
            <div class="row ng-scope ">
                <div class="col-md-4 ">
                    <div class>
                        <label class="h5 boldfont">Part-Time Paid</label>
                        <p class="ng-binding">{{organization.volunteer.totalPartTimePaid || '&nbsp;'}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Part-Time Volunteers</label>
                        <p class="ng-binding">{{organization.volunteer.totalPartTimeUnpaid || '&nbsp;'}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class>
                        <label class="h5 boldfont">Full-Time Paid</label>
                        <p class="ng-binding">{{organization.volunteer.totalFullTimePaid || '&nbsp;'}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Full-Time Volunteers</label>
                        <p class="ng-binding">{{organization.volunteer.totalFullTimeUnpaid || '&nbsp;'}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class>
                        <label class="h5 boldfont">Interns</label>
                        <p class="ng-binding">{{organization.volunteer.totalIntern || '&nbsp;'}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Volunteer Hours</label>
                        <p class="ng-binding"> {{organization.volunteerHours}}</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">
                Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Title </th>
                            <th>Custom Title</th>
                            <th>Name</th>
                            <th>Contact Details</th>
                            <th>Kind Attention</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel">
                            <td class="text-center">{{keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{keyPersonnel.title}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td>
                                <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                <br>
                                <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                <br>
                                <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                <br>
                                <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                <br>
                                <strong>Websites</strong>: {{ keyPersonnel.website }}
                                <br>
                                <!-- <strong>Social</strong>: {{ keyPersonnel.social }}
                    <br> -->
                            </td>
                            <td class="text-center">{{ keyPersonnel.attention ? "YES" : (keyPersonnel.attention === false ? "NO" : "") }}</td>
                            <td class="text-center">{{ keyPersonnel.printFlag ? "YES" : (keyPersonnel.printFlag === false ? "NO" : "") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
