<div class="tab-pane " id="dropdown3">
    <div class="widget-box">
        <!-- Lagend start-->
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone">   
                    </label>
                </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo">    
                    </label>
                </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <!-- Lagend end-->
        <!-- Record History start-->
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <!-- Record History end-->
        <div class="widget-main">
            <!-- History Details start-->
            <div class="row inforowcolor">
                <div class="col-md-4">
                    <label>Date & Time</label>
                    <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                    <label>Comments</label>
                    <br>{{ versions[indexPos].comments }}</br>
                </div>
                <div class="col-md-4">
                    <label> Record History Details</label>
                    <br>{{ versions[indexPos].status.description }}</br>
                </div>
                <div class="col-md-4">
                    <label> By</label>
                    <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                        <br>
                        <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                </div>
            </div>
            <!-- History Details start-->
            <!-- #section:elements.form -->
            <div class="col-md-3 pdtop">
                <div class="">
                    <label class="h5 boldfont">Activities</label>
                    <p class=".h5 ng-binding">
                        <div ng-if="organization.activities.freeText ==originalOrg.activities.freeText">
                            {{organization.activities.freeText}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.activities.freeText != originalOrg.activities.freeText">
                        <span class="nextcolor"> {{originalOrg.activities.freeText}}&nbsp;</span>
                        <div class="boxcolor">{{organization.activities.freeText}}&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pdtop">
                <div class="">
                    <label class="h5 boldfont">Governing Authority</label>
                    <p class=".h5 ng-binding">
                        <div ng-if="organization.governing == originalOrg.governing">
                            {{organization.governing}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.governing != originalOrg.governing">
                        <span class="nextcolor"> {{originalOrg.governing}}&nbsp;</span>
                        <div class="boxcolor">{{organization.governing}}&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pdtop">
                <div class="">
                    <label class="h5 boldfont">Operating Income</label>
                    <p class=".h5 ng-binding">
                        <div ng-if="organization.income ==originalOrg.income">
                            {{organization.income}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.income != originalOrg.income">
                        <span class="nextcolor"> {{originalOrg.income}}&nbsp;</span>
                        <div class="boxcolor">{{organization.income}}&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pdtop">
                <div class="">
                    <label class="h5 boldfont">Operating Expense</label>
                    <p class=".h5 ng-binding">
                        <div ng-if="organization.expenses == originalOrg.expenses">
                            {{organization.expenses}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.expenses != originalOrg.expenses">
                        <span class="nextcolor">  {{originalOrg.expenses}}&nbsp;</span>
                        <div class="boxcolor">{{organization.expenses}}&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- /section:elements.form -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Features</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Type</th>
                            <th>Feature</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null && feature.deleted != true">
                            <td class="text-center">
                                {{ ($index+1) }}</td>
                            <td>
                                <div ng-if="feature.featureType == originalOrg.features[$index].featureType">
                                    {{feature.featureType}}
                                </div>
                                <div class="text-danger" ng-if="feature.featureType != originalOrg.features[$index].featureType">
                                    <span class="nextcolor"> {{originalOrg.features[$index].featureType}}&nbsp;</span>
                                    <div class="boxcolor">{{feature.featureType}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.code.codeValue == originalOrg.features[$index].code.codeValue">
                                    {{feature.code.codeValue}}
                                </div>
                                <div class="text-danger" ng-if="feature.code.codeValue != originalOrg.features[$index].code.codeValue">
                                    <span class="nextcolor"> {{originalOrg.features[$index].code.codeValue}}&nbsp;</span>
                                    <div class="boxcolor">{{feature.code.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.name == originalOrg.features[$index].name">
                                    {{feature.name}}
                                </div>
                                <div class="text-danger" ng-if="feature.name != originalOrg.features[$index].name">
                                    <span class="nextcolor"> {{ originalOrg.features[$index].name}}&nbsp;</span>
                                    <div class="boxcolor">{{feature.name}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="feature in deletedFeatures" bgcolor="42b6da">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{feature.featureType}}</td>
                            <td>{{feature.code.codeValue}}</td>
                            <td>{{feature.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Publications</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th> Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="publication in organization.publication" ng-if="publication.description != null && publication.deleted != true">
                            <td class="text-center">
                                <div ng-if="publication.sequenceNumber == originalOrg.publication[$index].sequenceNumber">{{publication.sequenceNumber}}
                                </div>
                                <div class="text-danger" ng-if="publication.sequenceNumber != originalOrg.publication[$index].sequenceNumber">
                                    <span class="nextcolor"> {{originalOrg.publication[$index].sequenceNumber}}&nbsp;</span>
                                    <div class="boxcolor">{{publication.sequenceNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="publication.description == originalOrg.publication[$index].description">{{publication.description}}
                                </div>
                                <div class="text-danger" ng-if="publication.description != originalOrg.publication[$index].description">
                                    <span class="nextcolor"> {{originalOrg.publication[$index].description}}&nbsp;</span>
                                    <div class="boxcolor">{{publication.description}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="publication in deletedPublication" bgcolor="42b6da">
                            <td class="text-center">{{publication.sequenceNumber}}</td>
                            <td>{{publication.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Research Fields</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th> Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="research in organization.research" ng-if="research.description != null && research.deleted != true">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="research.description == originalOrg.research[$index].description">
                                    {{research.description}}
                                </div>
                                <div class="text-danger" ng-if="research.description != originalOrg.research[$index].description">
                                    <span class="nextcolor"> {{originalOrg.research[$index].description}}&nbsp;</span>
                                    <div class="boxcolor">{{research.description}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="research in deletedResearch" bgcolor="42b6da">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{research.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Exhibitions</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Show Date</th>
                            <th>Travel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exhibition in organization.exhibition" ng-if="exhibition.exhibitName != null">
                            <td class="text-center">
                                <div ng-if="exhibition.sequenceNumber == originalOrg.exhibition[$index].sequenceNumber">
                                    {{exhibition.sequenceNumber}}
                                </div>
                                <div class="text-danger" ng-if="exhibition.sequenceNumber != originalOrg.exhibition[$index].sequenceNumber">
                                    <span class="nextcolor"> {{originalOrg.exhibition[$index].sequenceNumber}}&nbsp;</span>
                                    <div class="boxcolor">{{exhibition.sequenceNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="exhibition.exhibitName == originalOrg.exhibition[$index].exhibitName">
                                    {{exhibition.exhibitName}}
                                </div>
                                <div class="text-danger" ng-if="exhibition.exhibitName != originalOrg.exhibition[$index].exhibitName">
                                    <span class="nextcolor"> {{originalOrg.exhibition[$index].exhibitName}}&nbsp;</span>
                                    <div class="boxcolor">{{exhibition.exhibitName}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="(exhibition.startDateText + '') == (originalOrg.exhibition[$index].startDateText + '')">
                                    {{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}
                                </div>
                                <div class="text-danger" ng-if="(exhibition.startDateText + '') != (originalOrg.exhibition[$index].startDateText + '')">
                                    <span class="nextcolor"> {{originalOrg.exhibition[$index].startDate ? to_date_format(originalOrg.exhibition[$index].startDate,'jS M, Y'): originalOrg.exhibition[$index].startDateText}}&nbsp;</span>
                                    <div class="boxcolor">{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="(exhibition.endDateText + '') == (originalOrg.exhibition[$index].endDateText + '')">
                                    {{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}
                                </div>
                                <div class="text-danger" ng-if="(exhibition.endDateText + '') != (originalOrg.exhibition[$index].endDateText + '')">
                                    <span class="nextcolor"> {{originalOrg.exhibition[$index].endDate ? to_date_format(originalOrg.exhibition[$index].endDate,'jS M, Y'): originalOrg.exhibition[$index].endDateText}}&nbsp;</span>
                                    <div class="boxcolor">{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="exhibition.showDate ==originalOrg.exhibition[$index].showDate">
                                    {{exhibition.showDate}}
                                </div>
                                <div class="text-danger" ng-if="exhibition.showDate != originalOrg.exhibition[$index].showDate">
                                    <span class="nextcolor"> {{originalOrg.exhibition[$index].showDate}}&nbsp;</span>
                                    <div class="boxcolor">{{exhibition.showDate}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="exhibition.travelFlag ==originalOrg.exhibition[$index].travelFlag">
                                    {{exhibition.travelFlag == 'Y' ? "YES" : (exhibition.travelFlag == 'N' ? "NO" : "")}}
                                </div>
                                <div class="text-danger" ng-if="exhibition.travelFlag != originalOrg.exhibition[$index].travelFlag">
                                    <span class="nextcolor">{{originalOrg.exhibition[$index].travelFlag == 'Y' ? "YES" : (originalOrg.exhibition[$index].travelFlag == 'N' ? "NO" : "")}}&nbsp;</span>
                                    <div class="boxcolor">{{exhibition.travelFlag == 'Y' ? "YES" : (exhibition.travelFlag == 'N' ? "NO" : "")}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="exhibition in deletedExhib" bgcolor="42b6da">
                            <td class="text-center">{{exhibition.sequenceNumber}}</td>
                            <td>{{exhibition.exhibitName}}</td>
                            <td>{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}</td>
                            <td>{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}</td>
                            <td>{{exhibition.showDate}}</td>
                            <td>{{exhibition.travelFlag == 'Y' ? "YES" : (exhibition.travelFlag == 'N' ? "NO" : "")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
