<div class="widget-box abc">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Name</label>
                    <div>{{[(nrpInquiry.name.first || ''), (nrpInquiry.name.last || '')].join(' ')}}</div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Email</label>
                    <div>{{nrpInquiry.email}}</div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Phone No.</label>
                    <div>{{nrpInquiry.phone}}</div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Reason for Contacting</label>
                    <div>{{nrpInquiry.reasons}}</div>
                </div>
                <!-- <div class="col-md-3 form-group">
                    <label>Comments and Feedback</label>
                    <div>{{nrpInquiry.comments}}</div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>
                        <strong><i class="fa" ng-class="{'fa-check': nrpInquiry.active, 'fa-remove': !nrpInquiry.active }"></i> Active</strong>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label>Progress Status</label>
                    <div>{{progressMap[nrpInquiry.progress]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
