<!DOCTYPE html>
<html ng-app="dmsDev">

<head>
    <title>Directory Management System :: Developers :: {{ page.name }}</title>
    <link rel="stylesheet" type="text/css" href="styles/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="styles/app.min.css">
</head>

<body ng-class="theme.body">
    <div ui-view></div>
    <script type="text/javascript" src="config/web-config.js"></script>
    <script type="text/javascript" src="scripts/vendor.min.js"></script>
    <script type="text/javascript" src="scripts/apps.min.js"></script>
    <script type="text/javascript" src="scripts/services.min.js"></script>
    <script type="text/javascript" src="scripts/directives.min.js"></script>
    <script type="text/javascript" src="scripts/controllers.min.js"></script>
</body>

</html>