@import url("../custom-font/stylesheet.css");
body {
    background-color: #00223e;
    font-family: 'Segoe UI' !important;
}


/*...........................................Login CSS Start.....................................*/

.Login {
    font-weight: bold !important;
    font-style: normal !important;
    font-family: 'Segoe UI' !important;
    color: #fff;
    background: rgba(0, 0, 0, 0) url("../../dist/images/login-bg.jpg") no-repeat scroll 0 0 / cover;
}

.Login .blue {
    color: #333333 !important;
}

.Login .white {
    color: #004d82 !important;
}

.login-layout .widget-box {
    background-color: #004D82;
    padding: 0px;
}

.Login h1 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Segoe UI' !important;
}

.Login h4 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Segoe UI' !important;
}

.login-layout {
    background-color: #edf8ff;
    min-height: calc(100vh - 29px);
    overflow: hidden;
}

.Login .width-35 {
    width: 100% !important;
}

.Login .btn {
    border-radius: 3px;
}

.Login .input-icon.input-icon-right > .ace-icon {
    left: 3px;
    right: auto;
}

.Login .input-icon.input-icon-right > input {
    padding-left: 26px;
    padding-right: 24px;
    border-radius: 2px !important;
}

.login-layout .widget-box.visible {
    border-radius: 5px;
    background-color: none;
}

.login-layout .widget-box .widget-main {
    background: none !important;
}

.Login #login-box .widget-body {
    border-radius: 5px 5px 0px 0px;
}

.Login .footercopy {
    height: 47px;
    background-color: #004d82;
    bottom: 0px;
    position: absolute;
    text-align: center;
    padding: 17px;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
}

.Login .logo-section {
    background-color: #fff;
    height: 100px;
    padding: 24px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

.Login .logo-section1 {
    background-color: #fff;
    height: 173px;
    text-align: center;
}

.Login .image-top-space {
    margin-top: 5px;
}

.Login .btn-primary,
.btn-primary:focus {
    background-color: #00aded !important;
    border-color: #00aded !important;
}

.Login .btn-primary:hover,
.btn-primary:active,
.open .btn-primary.dropdown-toggle {
    background-color: #04b5f6!important;
}

.Login .input-icon > .ace-icon {
    top: 35px;
}

.Login .bigger-110 {
    font-size: 14px !important;
    font-weight: regular;
    text-transform: uppercase;
}

.Login .login-container {
    width: 334px;
}

.Login .content-top {
    top: 300px;
    left: 64px;
}

.Login .form-top {
    top: 80px;
    left: 170px;
}


/* .login-layout label{
    margin-top: 11px;
} */

.login-layout .widget-box .widget-main {
    padding: 0px 30px 30px;
    background-color: #004d82 !important;
    border-radius: 0px 0px 5px 5px;
}

.login-layout .login-box .widget-main {
    padding-bottom: 0px;
}

.Login .lbl a {
    color: #fff;
}

.Login .lbl a:hover {
    color: #dedfe0;
}


/*.............................................................Login CSS End.....................................*/


/*.............................................................Login media start.....................................*/

@media only screen and (max-width: 480px) {
    .Login .content-top {
        left: 0px;
        top: 82px;
    }
    .Login .form-top {
        left: 0px;
        top: 111px;
    }
    .Login .align-left {
        text-align: center !important;
    }
    .Login .login-container {
        width: 100% !important;
    }
    .Login .logo-section {
        /*  background-color: #f4fbff; */
        border-radius: 5px 5px 0 0;
        box-shadow: 0 16px 70px -20px #000;
    }
    .Login .logo-section1 img {
        background-image: none;
        display: none;
    }
    .Login .white {
        color: #004d82 !important;
        /* text-shadow: 1px 1px 1px #000; */
    }
    .Login .blue {
        color: #333 !important;
        /*   text-shadow: 1px 1px 1px #000; */
    }
    .table-responsive {
        width: auto;
    }
}

@media only screen and (min-width:481px) and (max-width: 640px) {
    .Login .content-top {
        left: 0px;
        top: 134px;
    }
    .Login .form-top {
        left: 0px;
        top: 163px;
    }
    .Login .align-left {
        text-align: center !important;
    }
    .Login .login-container {
        width: 100% !important;
    }
    .Login .logo-section {
        /*  background-color: #f4fbff; */
        border-radius: 5px 5px 0 0;
        box-shadow: 0 16px 70px -20px #000;
    }
    .Login .logo-section1 img {
        background-image: none;
        display: none;
    }
    .Login .white {
        color: #004d82 !important;
        /* text-shadow: 1px 1px 1px #000; */
    }
    .Login .blue {
        color: #333 !important;
        /*   text-shadow: 1px 1px 1px #000; */
    }
    .Login .footercopy {
        background-color: #004d82;
        bottom: 0;
        font-size: 11px;
        font-weight: normal;
        height: 47px;
        padding: 17px;
        position: relative;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (min-width:641px) and (max-width: 800px) {
    .Login .content-top {
        left: 0px;
        top: 243px;
    }
    .Login .form-top {
        left: 0px;
        top: 131px;
    }
    .Login .align-left {
        text-align: left !important;
    }
    .Login .login-container {
        width: 334px !important;
    }
    .Login .white {
        color: #004d82 !important;
    }
    .Login .blue {
        color: #333 !important;
    }
}


/*.............................................................Login media end.....................................*/

.navbar {
    min-height: 5em;
    background: #00223e;
}

.no-skin .sidebar.h-sidebar::before {
    background-color: #00223e;
}

@media only screen and (max-width: 480px) {
    .inner-content {
        margin: 0 10px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar.h-navbar {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .sidebar.h-sidebar {
        margin-top: 0px;
    }
    .inner-content {
        margin: 0 20px;
    }
    .sidebar.h-sidebar .nav-list > li > a > .menu-icon {
        display: inline-block;
    }
    .sidebar.h-sidebar .nav-list {
        border-width: 0;
        border-bottom: 0x;
    }
    .no-skin .sidebar.h-sidebar {
        background-color: #00223e;
    }
    h5.pull-left {
        border: 1px solid #B1D3EF;
        padding: 10px;
        margin-bottom: -10px;
        margin-left: 22px;
        border-bottom: 1px solid #fff;
        font-family: 'bebas_neuebold';
        font-size: 18px;
        letter-spacing: 0.3px;
    }
    .page-header {
        margin: 0 0 12px;
        border-bottom: 1px solid #B1D3EF;
        padding-bottom: 9px;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li.active,
    .no-skin .sidebar.h-sidebar .nav-list > li.active + li,
    .no-skin .sidebar.h-sidebar .nav-list > li:hover + li.active {
        border-left-color: #00223E;
    }
    .no-skin .nav-list > li {
        border-color: #00223E;
    }
}


/* media query ends */

.ace-nav > li > a {
    background-color: #00223e;
    color: #FFF;
    display: block;
    line-height: inherit;
    text-align: center;
    height: 100%;
    width: auto;
    min-width: 50px;
    padding: 0 10 px;
    position: relative;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
}

.ace-nav > li {
    border-left: none;
}

.no-skin .nav-list > li > a {
    background-color: #65A7E3;
    color: #ffffff;
    -webkit-box-shadow: inset 0px -23px 11px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -23px 11px -21px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -23px 11px -21px rgba(0, 0, 0, 0.75);
    font-family: bebas_neue_regular;
    font-size: 18px;
    letter-spacing: 1px;
}

.no-skin .nav-list > li.active > a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.no-skin .nav-list > li {
    border-color: #00223E;
}


}
.no-skin {
    background-color: #00223e;
}
.inner-content {
    background-color: white;
}
.main-container:before {
    background-color: #00223E;
}
.ace-nav > li.light-blue > a {
    background-color: #00223e;
}
.ace-nav > li.light-blue > a:hover {
    background-color: #;
}
.page-header {
    color: #012245;
}
.user-info {
    font-family: bebas_neue_regular;
    font-size: 1.4em;
}
.user-info span {
    font-family: bebas_neue_regular;
    font-size: 0.9em;
}
th {
    background-color: #596D86;
    color: #f1f1f1;
    !
}
.dataTable > thead > tr > th[class*=sorting_] {
    color: #ffffff;
}
.dataTable > thead > tr > th[class*=sorting_] {
    color: #ffffff;
}
.sidebar.h-sidebar .nav-list > li:before {
    height: 0px;
}
.dropdown-menu.dropdown-closer {
    top: 23px;
    left: -15px;
}
.dataTable > thead > tr > th[class*=sort]:after {
    color: #f1f1f1;
}
.sp10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mr {
    margin-right: 0px;
    margin-top: 2px;
}
.table > thead > tr > th .ace-icon:first-child {
    margin-right: 2px;
    color: white;
}
.dataTables_wrapper .row:first-child {
    background-color: #fff;
}
.dataTables_wrapper .row:last-child {
    background-color: #fff;
}
.dataTable > thead > tr > th.sorting_desc,
.dataTable > thead > tr > th.sorting_asc {
    background-image: -webkit-linear-gradient(top, #596D86 0%, #596D86 100%);
    background-image: -o-linear-gradient(top, #596D86 0%, #596D86 100%);
    background-image: linear-gradient(to bottom, #596D86 0%, #596D86 100%);
    background-repeat: repeat-x;
}
.dataTable > thead > tr > th[class*=sort]:hover {
    color: #1C314A;
}
.nav-list > li > a > .menu-icon {
    vertical-align: 0px;
}
.omd-dropdown {
    /*  position:absolute;
    float: right;
    z-index: 1000;
    margin-right: 10px;
    right: 0.8%;
    top: 10%;
  font-family: bebas_neue_regular !important; */
    
    position: relative;
    float: right;
    z-index: 1000;
    margin-right: 10px;
    /* right: 0.8%; */
    /* top: 10%; */
    
    font-family: bebas_neue_regular !important;
    margin-top: -42px;
}
.omd-dropdown a {
    color: #65A7E3 !important;
    font-family: bebas_neue_regular;
    font-size: 1.2em;
}
.omd {
    color: #ffffff !important;
    font-size: 18px;
    font-family: 'Segoe UI' !important;
}
.dropdown-navbar .nav-tabs > li.active > a {
    border-bottom: 2px solid #335472 !important;
    color: #ECF2F7 !important;
    background-color: #335472 !important;
}
@media only screen and (max-width: 991px) {
    .navbar.navbar-collapse .navbar-header {
        float: none !important;
        min-height: 45px;
        background-color: #00223e;
    }
    
    .omd-dropdown {
        display: none;
    }
    
    .no-skin .nav-list > li > a {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    
    .navbar.navbar-collapse .navbar-buttons > .ace-nav > li:first-child {
        border-left: 0px;
    }
}
@media only screen and (max-width: 991px) {
    .navbar.navbar-collapse .navbar-buttons > .ace-nav > li:last-child {
        border-right: 0px;
    }
    
    .navbar.navbar-collapse .navbar-buttons {
        border: 1px solid rgb(0, 34, 62);
    }
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #00223E;
    border-color: #428bca;
}
.directory {
    background-color: #aaa;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px
}
.footertext {
    color: #fff;
    text-align: center;
    padding: 5px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 0px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.thumbnail > img.image,
.thumbnail a > img.image {
    width: 40%;
}
.modal-footer {
    padding-top: 12px;
    padding-bottom: 14px;
    border-top-color: #B1D3EF;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
}
.modal-header {
    background-color: #65A7E3;
    color: #fff;
}
.close {
    color: #fff;
    opacity: 1000;
}
.modal-header {
    padding: 9px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    margin-top: 10px;
}
th.center.gray {
    background-color: #F0F0F0;
}
.ace-nav > li > a > .badge {
    top: -15px;
    left: -8px;
}
.navbar-collapse {
    box-shadow: inset 0 1px 0 rgb(0, 34, 62);
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .navbar.navbar-collapse .navbar-container {
        background-color: #00223E;
    }
}
.dataTables_wrapper .row:last-child {
    border-bottom: none;
}

/* @media (min-width: 768px){
.form-inline .form-control {
 width: 100% !important;}
}
 */
.table-responsive {
    overflow-x: hidden;
    min-height: 0.01%;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        /*  width: 100%; */
        margin-bottom: 15px;
        overflow-y: hidden;
        border: 1px solid #dddddd;
        overflow-x: auto;
    }
}
.ispace {
    margin-right: 7px !important;
}

/*  .input-select{
  width:100%;
  } */

/* .....................................................Add New Record-General page css start................................... */
.abc .nav.nav-tabs.padding-12 {
    padding-left: 0px;
    height: 41px;
    z-index: 1;
}
.abc .nav-tabs.background-blue {
    padding-top: 0px;
    background-color: #00223e;
    border: 0px;
    font-weight: 600;
}
.abc .nav-tabs[class*="tab-color-"] > li > a {
    margin: 3px;
    margin-left: 0px;
}
.abc .nav-tabs.tab-color-blue > li.active > a {
    border: 0px;
    /* height:40px; */
    
    padding: 11px;
}
.abc .nav-tabs.tab-color-blue > li > a {
    background-color: #00223e;
    margin-bottom: 0px
}
.nav-tabs {
    border-bottom: 0px;
}
.abc .nav-tabs > li {
    margin-bottom: 0px;
}
.abc .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    margin-top: 0px;
    background-color: #286092 !important;
    color: #fff !important;
}
.abc .widget-header {
    background-image: none;
    background: #fef5e4;
    /*  border:1px solid #dbd5c9; */
}
.abc .info-section {
    color: #ba9143 !important;
    font-size: 14px;
    font-family: 'Segoe UI' !important;
}
.nav-tabs > li > a {
    padding: 9px 12px 8px;
}
.abc .tab-content {
    padding: 12px 16px !important;
    margin-top: 0em;
}
.meditator {
    color: #ff0000;
}

/*.abc .widget-body label,*/
.boldfont {
    font-weight: bold !important;
    color: #333333;
}

/* .abc .nav-tabs.tab-color-blue > li.active > a, .nav-tabs.tab-color-blue > li.active > a:focus, .nav-tabs.tab-color-blue > li.active > a:hover{
    border-color: 0px !important; 
 } */

/* .....................................................Add New Record-General page css start................................... */
.addnew {
    margin-top: 10px;
    color: #266cad !important;
    /*  font-family: bebas_neue_regular; */
    
    font-size: 1.1em;
    font-weight: bold;
}
.cf {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
@media all and (max-width: 480px) and (min-width: 321px) {
    .widget-box {
        margin-top: 1em;
    }
    
    .abc .tab-content {
        padding: 0px 16px !important;
        margin-top: 3em;
    }
}
@media only screen and (max-width: 320px) {
    .mr {
        margin-right: 11px;
        margin-top: 2px;
    }
    
    .widget-box {
        margin-top: 3em;
    }
    
    .boxmarjin {
        margin-left: 0em;
        margin-top: 1em;
    }
}
.txt {
    margin-left: 1em !important;
}
.addnewt,
h4.addnewt {
    /* margin-top:10px; */
    
    color: #333333 !important;
    /* font-family: bebas_neue_regular; */
    
    font-size: 1.3em;
    font-weight: bold;
}

/* .dataTables_info {
    font-size: 14px;
    font-weight: 600;
  margin-left: -12px;
} */
.col-xs-6 {
    font-weight: 600;
}
.mla {
    padding-left: 0px;
}
.mra {
    padding-right: 0px;
}
.badge-danger {
    background-color: #FFAC14 !important;
}
.orange {
    color: #ffac14;
}
.green {
    color: #87b87f;
}
.add-button {
    margin-top: 10px;
    margin-bottom: 5px;
}
.modal-header .close {
    margin-top: -7px !important;
}
.radiospace {
    font-weight: bold;
    margin-left: 5px;
    color: #333;
}
.checkboxspace {
    margin-left: 5px;
    color: #333;
    font-weight: bold;
}
.revenueportfolio {
    font-weight: bold;
    font-size: 15px;
    color: #333;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #efefef;
}
.revenueportfolio-border {
    /*  font-weight:bold; */
    
    font-size: 13px;
    color: #393939;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.revenueportfolio-border2 {
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 13px;
}
.revenueportfolio-subtitle {
    font-weight: bold;
    font-size: 15px;
    color: #333;
}
.widthth {
    width: 100px;
}
.widthfcl {
    width: 30px;
}
.dataTables_wrapper label {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #666666;
}
.dataTables_info {
    font-size: 13px;
    font-weight: bold;
}

/* / ...........................................Vilas css tab .......................................... /*/
.catlog-available-online li {
    padding: 2px 0;
}
.abc .nav-tabs.tab-color-blue > li > a {
    padding: 11px;
    line-height: 18px;
    margin: 0;
    border: 0;
}
.page-content {
    background-color: #ffffff;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px;
    min-height: calc(100vh - 149px) !important;
}

/*  / ...........................................Vilas css tab.......................................... /   */

/* ............................New changes................................. */
.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 5px 0;
}
.pdt {
    padding: 10px;
}
@media only screen and (min-width: 480px) {
    .abc .tab-content {
        padding: 12px 16px !important;
        margin-top: 0em;
        !important;
    }
}
.contacttop {
    margin-bottom: 10px;
}

/*  ............................shivaji New CSS.................................  */
.nav-tabs {
    top: 0px !important;
}
.ispace-np {
    margin-left: 5px !important;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border-radius: 0 !important;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    font-weight: normal;
}

/*  ............................shivaji New CSS.................................  */

/*  ............................USER PAGE .................................  */
.userbtn {
    padding-top: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    float: right;
    /*  margin-right: 10px; */
}

/*body.no-skin.modal-open {
  padding-right: 17px;
}
.modal-open .modal {
  overflow-y: scroll;
}*/
.form-group .position-relative,
.form-group .pos-rel {
    display: block;
}
.modal hr {
    margin: 0;
    border-color: #ddd;
}
.footercopy {
    text-align: center;
    color: #fff;
}
.footercopy p {
    margin: 4px 0;
}
span.lbl {
    font-weight: bold !important;
}
.usertitle {
    color: #333 !important;
    /*  font-family: bebas_neue_regular; */
    
    font-size: 1em;
    font-weight: bold;
    background: #E6E6E6;
    padding: 9px;
    /* text-align: center; */
    
    border-bottom: 1px solid #ccc;
}
label {
    font-weight: bold;
    font-size: 14px;
}
.accoutmar {
    margin-left: 13px;
}
.table-responsive.cf {
    min-height: 110px;
}
form-control,
select {
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
}
.action-buttons {
    text-align: center;
}
.action-buttons a {
    cursor: pointer;
}
.modal-900 .modal-dialog {
    width: 900px;
}
.bold {
    font-weight: bold;
}
.table label {
    font-weight: normal;
}
.legenthree {
    background-color: #42b6da!important;
    border-color: #42b6da;
}
table.dataTable {
    width: 100% !important;
}
#fieldsSection {
    height: 140px;
    overflow: hidden;
}
.dirSelected {
    pointer-events: none;
    cursor: default;
    border-color: #65A7E3;
}
.lagentwo.deleted {
    background-color: #42b6da !important;
    border-color: #42b6da;
}

/*Export Button override*/
.btn-export {
    min-height: 34px;
    max-height: 34px;
    line-height: 20px;
    padding: 0 9px;
}
.btn-export .icon-csv {
    top: 2px;
    position: relative;
    font-size: 22px !important;
}
.btn-export span {
    top: -1px;
    position: relative;
}
.full-window .modal-dialog {
    width: 96%;
}
.full-window .form-group {
    margin-bottom: 10px;
}
.full-window .form-control {
    height: 30px;
}
.border-right {
    border-left: 1px solid #ddd;
}

/*OCD keyPersonnel starts*/
.ocd-keyPersonnel .nav {
    background-color: #00223e;
}
.ocd-keyPersonnel .nav-tabs > li > a,
.ocd-keyPersonnel .nav-tabs > li > a:focus {
    background-color: transparent;
    color: #fff;
    border: 0;
}
.ocd-keyPersonnel .nav-tabs.nav-justified>.active>a,
.ocd-keyPersonnel .nav-tabs.nav-justified>.active>a:focus,
.ocd-keyPersonnel .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
    background-color: rgba(255, 255, 255, .2);
}
.lagentwo.deleted {
    background-color: #42b6da !important;
    border-color: #42b6da;
}

/*OCD keyPersonnel ends*/

/*summary Report for OCD*/
.summaryDetails {
    padding: 0 12px;
    border: 1px solid #ddd;
}
.ui-select-bootstrap .ui-select-toggle span {
    width: 96%;
    overflow: hidden;
}
