/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom.eot");
  src: url("../fonts/fontcustom.eot?#iefix") format("embedded-opentype"),
url("../fonts/fontcustom.woff") format("woff"),
url("../fonts/fontcustom.ttf") format("truetype"),
url("../fonts/fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-accident:before,
.icon-action-plan:before,
.icon-activate:before,
.icon-add-asset:before,
.icon-add-doc:before,
.icon-add-income:before,
.icon-add-notes:before,
.icon-advice-assumption:before,
.icon-advice-assumption-dropdown:before,
.icon-analysis:before,
.icon-announcement:before,
.icon-assets:before,
.icon-back:before,
.icon-business:before,
.icon-calculator:before,
.icon-calender:before,
.icon-cancel:before,
.icon-car:before,
.icon-cashflow:before,
.icon-client:before,
.icon-con-calendar:before,
.icon-contacts:before,
.icon-csv:before,
.icon-data-collection:before,
.icon-dc-active-status:before,
.icon-deposit:before,
.icon-education:before,
.icon-emergency-planning:before,
.icon-endowment:before,
.icon-expenses:before,
.icon-faq:before,
.icon-feedback:before,
.icon-genrate-report:before,
.icon-goal-base-status:before,
.icon-goal-plan:before,
.icon-gold:before,
.icon-health:before,
.icon-illiness:before,
.icon-insurance:before,
.icon-leisure:before,
.icon-loan-status:before,
.icon-money-access:before,
.icon-money-back:before,
.icon-mutual-funds:before,
.icon-my-account:before,
.icon-my-goals:before,
.icon-my-income:before,
.icon-my-plans:before,
.icon-my-portfolio:before,
.icon-my-reports:before,
.icon-name:before,
.icon-natural-calamity:before,
.icon-next:before,
.icon-opportunity:before,
.icon-others:before,
.icon-parental-goal:before,
.icon-personal-accident:before,
.icon-personal-info:before,
.icon-polls:before,
.icon-premium-client:before,
.icon-property:before,
.icon-quick-help:before,
.icon-recommendation:before,
.icon-reminder:before,
.icon-retirement:before,
.icon-retirement-fund:before,
.icon-retirement-planning:before,
.icon-risk-cover:before,
.icon-risk-profile:before,
.icon-save:before,
.icon-send-report:before,
.icon-shares:before,
.icon-skip:before,
.icon-special-goal:before,
.icon-succession-planning:before,
.icon-suggestion:before,
.icon-target-corpus:before,
.icon-task-list:before,
.icon-tax-planning:before,
.icon-term:before,
.icon-thumb-down:before,
.icon-thumb-neutral:before,
.icon-thumb-up:before,
.icon-ulip:before,
.icon-vacation-planning:before,
.icon-view:before,
.icon-wedding:before,
.icon-will:before,
.icon-x-ray:before,
.icon-x-ray-dc:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-accident:before { content: "\f140"; }
.icon-action-plan:before { content: "\f108"; }
.icon-activate:before { content: "\f141"; }
.icon-add-asset:before { content: "\f142"; }
.icon-add-doc:before { content: "\f143"; }
.icon-add-income:before { content: "\f109"; }
.icon-add-notes:before { content: "\f10a"; }
.icon-advice-assumption:before { content: "\f10b"; }
.icon-advice-assumption-dropdown:before { content: "\f144"; }
.icon-analysis:before { content: "\f10c"; }
.icon-announcement:before { content: "\f10d"; }
.icon-assets:before { content: "\f145"; }
.icon-back:before { content: "\f10f"; }
.icon-business:before { content: "\f110"; }
.icon-calculator:before { content: "\f111"; }
.icon-calender:before { content: "\f112"; }
.icon-cancel:before { content: "\f113"; }
.icon-car:before { content: "\f114"; }
.icon-cashflow:before { content: "\f115"; }
.icon-client:before { content: "\f101"; }
.icon-con-calendar:before { content: "\f15b"; }
.icon-contacts:before { content: "\f107"; }
.icon-csv:before { content: "\f102"; }
.icon-data-collection:before { content: "\f116"; }
.icon-dc-active-status:before { content: "\f147"; }
.icon-deposit:before { content: "\f148"; }
.icon-education:before { content: "\f117"; }
.icon-emergency-planning:before { content: "\f118"; }
.icon-endowment:before { content: "\f149"; }
.icon-expenses:before { content: "\f119"; }
.icon-faq:before { content: "\f11a"; }
.icon-feedback:before { content: "\f11b"; }
.icon-genrate-report:before { content: "\f160"; }
.icon-goal-base-status:before { content: "\f14a"; }
.icon-goal-plan:before { content: "\f11c"; }
.icon-gold:before { content: "\f14b"; }
.icon-health:before { content: "\f14c"; }
.icon-illiness:before { content: "\f14d"; }
.icon-insurance:before { content: "\f14e"; }
.icon-leisure:before { content: "\f11d"; }
.icon-loan-status:before { content: "\f11e"; }
.icon-money-access:before { content: "\f11f"; }
.icon-money-back:before { content: "\f14f"; }
.icon-mutual-funds:before { content: "\f150"; }
.icon-my-account:before { content: "\f120"; }
.icon-my-goals:before { content: "\f100"; }
.icon-my-income:before { content: "\f121"; }
.icon-my-plans:before { content: "\f122"; }
.icon-my-portfolio:before { content: "\f123"; }
.icon-my-reports:before { content: "\f124"; }
.icon-name:before { content: "\f152"; }
.icon-natural-calamity:before { content: "\f153"; }
.icon-next:before { content: "\f125"; }
.icon-opportunity:before { content: "\f104"; }
.icon-others:before { content: "\f126"; }
.icon-parental-goal:before { content: "\f127"; }
.icon-personal-accident:before { content: "\f128"; }
.icon-personal-info:before { content: "\f129"; }
.icon-polls:before { content: "\f12a"; }
.icon-premium-client:before { content: "\f161"; }
.icon-property:before { content: "\f12b"; }
.icon-quick-help:before { content: "\f12c"; }
.icon-recommendation:before { content: "\f12d"; }
.icon-reminder:before { content: "\f154"; }
.icon-retirement:before { content: "\f12e"; }
.icon-retirement-fund:before { content: "\f155"; }
.icon-retirement-planning:before { content: "\f15c"; }
.icon-risk-cover:before { content: "\f12f"; }
.icon-risk-profile:before { content: "\f156"; }
.icon-save:before { content: "\f130"; }
.icon-send-report:before { content: "\f15d"; }
.icon-shares:before { content: "\f157"; }
.icon-skip:before { content: "\f131"; }
.icon-special-goal:before { content: "\f132"; }
.icon-succession-planning:before { content: "\f133"; }
.icon-suggestion:before { content: "\f134"; }
.icon-target-corpus:before { content: "\f15e"; }
.icon-task-list:before { content: "\f15f"; }
.icon-tax-planning:before { content: "\f135"; }
.icon-term:before { content: "\f158"; }
.icon-thumb-down:before { content: "\f136"; }
.icon-thumb-neutral:before { content: "\f137"; }
.icon-thumb-up:before { content: "\f138"; }
.icon-ulip:before { content: "\f159"; }
.icon-vacation-planning:before { content: "\f139"; }
.icon-view:before { content: "\f13a"; }
.icon-wedding:before { content: "\f13b"; }
.icon-will:before { content: "\f13c"; }
.icon-x-ray:before { content: "\f106"; }
.icon-x-ray-dc:before { content: "\f15a"; }
