<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
    <h3 class="modal-title">Export as CSV</h3>
</div>
<form ng-submit="limit == 0 ? sendDataDownloadRequest() : exportToExcel()" name="formExp">
    <div class="modal-body">
        <div class="alert alert-danger text-center" ng-if="selectedFields.length == 0">
            <!-- <i class="fa fa-warning"></i> Please select a field to sort by -->
            <i class="fa fa-warning"></i> Please select a field
        </div>
        <!-- <div class="row">
            <div class="col-md-6"> -->
        <div class="well well-sm">
            <div class="input-group">
                {{getOrganizationCount}}
                <label class="position-relative input-group-addon">
                    <input class="ace" type="checkbox" ng-model="allSelected" ng-change="toggleAll()"><span class="lbl"></span>
                </label>
                <input type="text" ng-model="nameKey" class="form-control" placeholder="Select columns for CSV">
            </div>
            <br>
            <div id="fieldsSection" slim-scroll="140px">
                <div ng-repeat="field in (fields[currentDirectory] | filter: {label: nameKey})">
                    <div class="form-group">
                        <label class="position-relative inline">
                            <input class="ace" id="{{field.label}}" type="checkbox" value="{{field.label}}" ng-model="field.checked" ng-change="toggleSelection(field)">
                            <span class="lbl"> {{field.label}}</span>
                        </label>
                    </div>
                </div>
                <div class="alert alert-danger text-center" ng-if="(fields[currentDirectory] | filter: nameKey).length==0">No matching record found</div>
            </div>
        </div>
        <!-- </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    <div class="form-group">
                        <input type="text" ng-model="sortKey" class="form-control" placeholder="Select columns for sorting">
                    </div>
                    <div slim-scroll="200px">
                        <div ng-repeat="field in (selectedFields | filter: sortKey)">
                            <div class="form-group">
                                <label class="position-relative inline">
                                    <input class="ace" type="radio" value="{{field.ngModel}}" ng-model="sort.name">
                                    <span class="lbl"> {{field.label}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-6">
                <div class="well well-sm">
                    <div class="form-group" ng-class="{'has-error': formExp.limit.$touched && formExp.limit.$invalid}">
                        <label>Limit<span class="meditator">*</span></label>
                        <!-- <input type="text" class="form-control" name="limit" ng-model="limit" validate-this="limit" validate-as="digits"> -->
                        <select required class="form-control" name="limit" ng-model="limit" validate-this="limit" validate-as="digits">
                            <option value="">Select</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="750">750</option>
                            <option value="1000">1000</option>
                            <!-- <option value="2500">2500</option> -->
                            <!-- <option value="5000">5000</option> -->
                            <!-- <option value="0">All</option> -->
                        </select>
                        <div class="help-block" ng-messages="formExp.limit.$error" ng-show="formExp.limit.$touched && formExp.limit.$invalid">
                            <div ng-message="required">Please fill this field</div>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.limit.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    <div class="form-group" ng-class="{'has-error': formExp.skip.$touched && formExp.skip.$invalid}">
                        <label>Skip</label>
                        <input type="text" class="form-control" name="skip" ng-model="skip" validate-this="skip" validate-as="digits" ng-disabled="limit == 0">
                        <div class="help-block" ng-messages="formExp.skip.$error" ng-show="formExp.skip.$touched && formExp.skip.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.skip.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-info" ng-if="limit == 0">
            <div class="col-md-2"><i class="fa fa-info fa-4x fa-fw"></i></div>
            <div class="col-md-10">
                You will have to request for Data Download. For that, please click the button "Send a Data Download Request". You can check the status of the request in the <a class="alert-link" ui-sref="portal.directory.dataDownload">Data downloads</a> section.
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="well well-sm" style="display: none">
                    <div class="form-group">
                        <label>Output format</label>
                        <select class="form-control" ng-model="outputFormat">
                            <option value="row">Single file (Row Transposition)</option>
                            <option value="column">Multiple files (Columnar Transposition)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm" ng-if="sort.name">
                    <div class="form-group">
                        <label>Sort Order</label>
                        <select class="form-control" ng-model="sort.order">
                            <option value="1">Ascending</option>
                            <option value="-1">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <div class="form-group" name="totalEntries">
                        <label>Total Entries: {{Orgcount.count}} </label>
                        <div ng-show="(limit *1 + skip *1) > Orgcount.count ">
                            <div class="alert alert-danger text-center" ng-class="{'has-error': formExp.$touched}" ng-show="((Orgcount.count*1 - skip*1) <= 0)">
                                Records doesn't exist for Export.
                            </div>
                        </div>
                        <div ng-show="((Orgcount.count*1 - skip*1) > 0)">
                            <div class="form-group has-success" ng-show="( limit  > (Orgcount.count*1 - skip*1))">
                                <label class="control-label" for="inputSuccess1">You can download only <a>{{(Orgcount.count*1 - skip*1)}}</a> record(s).</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--
        <button class="btn btn-success btn-sm sp10 mr" type="submit" ng-disabled="loading || formExp.$invalid || selectedFields.length == 0">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-arrow-down'"></i> Send a Data Download Request
        </button>
        -->
        <button class="btn btn-primary btn-sm sp10 mr btn-export" type="submit" ng-disabled="loading || formExp.$invalid || selectedFields.length == 0 || (Orgcount.count <= skip) ">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'icon-csv'"></i> Export
        </button>
        <!--         <span ng-switch on="limit" ng-cloak>
            <button ng-switch-default class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="loading || formExp.$invalid || selectedFields.length == 0 || (Orgcount.count <= skip) ">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-file-excel-o'"></i> Export
            </button>
            <button ng-switch-when="0" class="btn btn-success btn-sm sp10 mr" type="submit" ng-disabled="loading || formExp.$invalid || selectedFields.length == 0">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-arrow-down'"></i> Send a Data Download Request
            </button>
        </span> -->
        <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
    </div>
</form>
