<script type="text/ng-template" id="customTemplate.html">
    <a>
        <p ng-bind-html="match.codeValue | uibTypeaheadHighlight:query"></p>
        <strong ng-bind-html="match.parentId.codeValue"></strong>,
        <strong ng-bind-html="match.parentId.parentId.codeValue"></strong>
    </a>
</script>