<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Personalization Details</h3>
        <div class="well well-sm">
            <div class="form-group">
                <label>Theme</label>
                <ui-select ng-model="selectedTheme.value" on-select="setTheme($item, $model)">
                    <ui-select-match>
                        <span ng-bind="$select.selected.label"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="thisTheme.id as thisTheme in (themeArray | filter: $select.search) track by thisTheme.id">
                        <span ng-bind="thisTheme.label"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
