<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Security Question</h3>
        <div class="well well-sm">
            <div class="form-group">
                <label class="control-label"><i class="fa fa-question"></i> Question</label>
                <ui-select ng-model="user.auth.securityQuestion.question" required>
                    <ui-select-match>
                        <span ng-bind="$select.selected.question"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="thisSecurityQuestion._id as thisSecurityQuestion in (securityQuestionArray | filter: $select.search) track by thisSecurityQuestion._id">
                        <span ng-bind="thisSecurityQuestion.question"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userForm.securityQuestionAnswer.$touched && userForm.securityQuestionAnswer.$invalid }">
                <label class="control-label"><i class="fa fa-check"></i> Answer</label>
                <input type="text" required class="form-control" name="securityQuestionAnswer" ng-model="user.auth.securityQuestion.answer">
                <div class="help-block" ng-messages="userForm.securityQuestionAnswer.$error" ng-show="userForm.securityQuestionAnswer.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
        </div>
    </div>
</div>
