<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Account Details: Change Password</h3>
        <div class="well well-sm">
            <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                <label class="control-label"><i class="fa fa-at"></i> Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" required name="email" ng-model="user.auth.email" validate-is-email-unique except-user-id="{{user._id}}" validate-this="emailId" validate-as="email">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
                <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
                    <p ng-message="required">This field is required</p>
                    <div ng-message="validateAs">
                        <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                    </div>
                    <p ng-message="validateIsEmailUnique"><b>{{user.auth.email}}</b> already exists</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid }">
                <label class="control-label"><i class="fa fa-asterisk"></i> New Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" required name="confirmPassword" ng-model="user.auth.confirmPassword" validate-password ng-minlength="8" ng-maxlength="15">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
                <div class="help-block" ng-messages="userForm.confirmPassword.$error" ng-show="userForm.confirmPassword.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="minlength">The password should be minimum 8 characters long</p>
                    <p ng-message="maxlength">The password should be maximum 15 characters long</p>
                    <ul ng-message="validatePassword">
                        <li ng-show="passwordValidationErrors.indexOf('lowercase') >= 0">The password needs to have at least 1 Lowercase character</li>
                        <li ng-show="passwordValidationErrors.indexOf('uppercase') >= 0">The password needs to have at least 1 Uppercase character</li>
                        <li ng-show="passwordValidationErrors.indexOf('digit') >= 0">The password needs to have at least 1 Digit</li>
                        <li ng-show="passwordValidationErrors.indexOf('special') >= 0">The password needs to have at least 1 Special character</li>
                    </ul>
                </div>
            </div>
            <p password-strength="userForm.confirmPassword.$viewValue"></p>
            <div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
                <label class="control-label"><i class="fa fa-check"></i> Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" required name="password" ng-model="user.auth.password" validate-match="user.auth.confirmPassword">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
                <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.password.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateMatch">Both the passwords do not match</p>
                </div>
            </div>
        </div>
    </div>
</div>
