/*html,
body {
    min-height: 100% !important;
}

.body-dark {
    background: #222;
}

.body-light {
    background: #337ab7;
}*/

.login-page {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.checkboxstyle {
    font-size: 13px;
    font-color: #666;
    font-weight: bold;
}


/*
.page-modal {
    position: relative;
    display: block;
}*/

.panel-heading-navbar {
    padding: 0 !important;
    margin-bottom: 0 !important;
    min-height: auto !important;
    background-color: #00223e !important;
}

.panel-heading-navbar li.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.toast-success {
    background-color: #2ECC71 !important;
    color: #1E824C !important;
}

.toast-error {
    background-color: #EF4836 !important;
    color: #630508 !important;
}

.toast-info {
    background-color: #19B5FE !important;
    color: #22313F !important;
}

.toast-warning {
    background-color: #F5AB35 !important;
    color: #F9690E !important;
}

#loading-bar .bar {
    background: rgba(255, 80, 90, 0.7);
    height: 4px;
}


/*#page-wrapper {
    min-height: 561px;
    padding: 0 !important;
}*/


/*.page-content {
    min-height: 500px !important;
}*/


/*.border-bottom {
    border-bottom: thin solid #ddd;
}*/

.overlay {
    z-index: 100000;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay>h1 {
    text-align: center;
    vertical-align: middle;
}

.ui-select-bootstrap>.ui-select-choices {
    max-height: 139px !important;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border-radius: 0 !important;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    font-weight: normal;
}

textarea {
    resize: vertical;
    /* user can resize vertically, but width is fixed */
}


/*  ............................USER PAGE .................................  */

.userbtn {
    padding-top: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    float: right;
    /*  margin-right: 10px; */
}

.usertitle {
    color: #333 !important;
    /*  font-family: bebas_neue_regular; */
    font-size: 1em;
    font-weight: bold;
    background: #E6E6E6;
    padding: 9px;
    /* text-align: center; */
    border-bottom: 1px solid #ccc;
}

label {
    font-weight: bold;
    font-size: 14px;
}

.accoutmar {
    margin-left: 13px;
}

.inforowcolor {
    background-color: #F1F1F1;
    margin-top: -12px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-left: -12px;
    margin-right: -13px;
}

.nextcolor {
    background-color: #87B87F;
    color: #fff;
    padding: 2px;
    display: inherit;
    margin-bottom: 2px;
}

.boxcolor {
    background-color: #e5725e;
    color: #fff;
    padding: 2px;
    margin-bottom: 2px;
}

.pdtop {
    padding-top: 1em;
}

.historytitle {
    background-color: #286092;
    color: #fff;
    padding: 3px;
    padding-left: 10px;
}

.lagentone {
    background-color: #87B87F !important;
    border-color: #87B87F;
    margin: 7px 0 0px 0px;
    width: 1em;
    height: 1em;
}

.lagentwo {
    background-color: #D15B47!important;
    border-color: #D15B47;
    margin: 7px 0 0px 0px;
    width: 1em;
    height: 1em;
}

.legenthree {
    background-color: #red!important;
    border-color: #red;
}

.mglagtop{
      margin-right: 16px;  

}
.lagentmedil {
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
}

.tablecolor {
    background-color: #87B87F;
    color: #fff;
    padding: 2px;
    /*    display: inherit; */
    margin-bottom: 2px;
}

[uib-typeahead-popup].dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 1px;
    white-space: nowrap;
}

.form-control,
select {
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
}


/**/
table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
    background-color: white;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: inherit !important;
}

table.dataTable.fixedHeader-floating {
    position: fixed !important;
}

table.dataTable.fixedHeader-locked {
    position: absolute !important;
}

@media print {
  table.fixedHeader-floating {
    display: none;
  }
}

.dataTables_wrapper input[type=text], .dataTables_wrapper input[type=search], .dataTables_wrapper select {
    margin: 0;
}