<div class="space-40"> </div>
<div class="space-40"> </div>
<div class="space-60 visible-lg"> </div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="modal-title">
                <h4>Get new password by Mail</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="loginForm" ng-submit="forgot(); loginForm.$setUntouched();">
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error': loginForm.username.$touched && loginForm.username.$invalid}">
                            <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="email" class="form-control" name="username" ng-model="auth.email" placeholder="Username or Email" required required validate-this="username" validate-as="email">
                            </div>
                            <div class="help-block" ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched">
                                <p ng-message="required">This field is required</p>
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.username.email">Invalid Email</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <button class="btn login-btn" type="submit" ng-disabled="loginForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="space-20 visible-lg"> </div>
<div class="space-40"> </div>
<div class="space-40"> </div>
<div class="space-40"> </div>
