<div class="space-40"> </div>
<div class="space-40 hidden-xs"> </div>
<div class="container">
    <div class="row">
        <div class="space-40 hidden-xs"> </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="modal-title">
                <h4>Login to {{dirName}} Online</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="loginForm" ng-submit="login(); loginForm.$setUntouched();">
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error': loginForm.username.$touched && loginForm.username.$invalid}">
                            <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="email" class="form-control" name="username" ng-model="subscriber.auth.email" placeholder="Username or Email" required validate-this="username" validate-as="email">
                            </div>
                            <div class="help-block" ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched">
                                <p ng-message="required">This field is required</p>
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.username.email">Invalid Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="space-10"> </div>
                        <div class="form-group" ng-class="{'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
                            <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" ng-model="subscriber.auth.password" name="password" placeholder="Password" required>
                            </div>
                            <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                    </fieldset>
                    <button class="btn login-btn" type="submit" ng-disabled="loginForm.$invalid">Sign In</button>
                </form>
                <!-- <div class="col-xs-6 col-sm-6 col-md-6 forgot-pass">Forgot Your Password?</div> -->
                <a class="pull-left" ui-sref="core.forgot">Forgot Your Password?</a>
                <!-- <div class="col-xs-6 col-sm-6 col-md-6 register" ui-sref="core.register">Register </div> -->
                <!-- <a class="pull-right" ui-sref="core.register" class="btn btn-cancel">Sign Up</a> -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="space-40 hidden-xs"> </div>
<div class="space-40 hidden-xs"> </div>
<div class="space-40"> </div>
