<div class="space-40"> </div>
<div class="space-40"> </div>
<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="modal-title">
            <h4>SIGN UP</h4></div>
        <div class="modal-body">
            <form name="regForm" ng-submit="register(); regForm.$setUntouched();">
                <fieldset>
                    <div class="form-group pdbottom" ng-class="{'has-error': regForm.emailId.$touched && regForm.emailId.$invalid}">
                        <label>Email ID</label> <span class="meditator">*</span>
                        <input type="email" class="form-control" name="emailId" id="email" placeholder="Email ID" ng-model="user.auth.email" required validate-this="emailId" validate-as="email">
                        <div class="help-block" ng-messages="regForm.emailId.$error" ng-show="regForm.emailId.$touched">
                            <p ng-message="required">This field is required</p>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pdbottom" ng-class="{'has-error': regForm.currentPassword.$touched && regForm.currentPassword.$invalid}">
                        <label>Current Password</label> <span class="meditator">*</span>
                        <input type="password" class="form-control" id="password" placeholder="Current Password" required ng-model="user.auth.currentPassword" name="currentPassword">
                        <div class="help-block" ng-messages="regForm.currentPassword.$error" ng-show="regForm.currentPassword.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="form-group pdbottom" ng-class="{'has-error': regForm.registrationCode.$touched && regForm.registrationCode.$invalid}">
                        <label>Registration Code</label> <span class="meditator">*</span>
                        <input type="password" class="form-control" id="Code" placeholder="Registration Code" required ng-model="user.auth.registrationCode" name="registrationCode">
                        <div class="help-block" ng-messages="regForm.registrationCode.$error" ng-show="regForm.registrationCode.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="form-group pdbottom" ng-class="{'has-error': regForm.confirmPassword.$touched && regForm.confirmPassword.$invalid}">
                        <label>New Password</label> <span class="meditator">*</span>
                        <input type="password" class="form-control" id="New Password" placeholder="New Password" required ng-model="user.auth.confirmPassword" name="confirmPassword" validate-password ng-minlength="8" ng-maxlength="15">
                        <div class="help-block" ng-messages="regForm.confirmPassword.$error" ng-show="regForm.confirmPassword.$touched">
                            <p ng-message="required">This field is required</p>
                            <p ng-message="minlength">The password should be minimum 8 characters long</p>
                            <p ng-message="maxlength">The password should be maximum 15 characters long</p>
                            <ul ng-message="validatePassword">
                                <li ng-show="passwordValidationErrors.indexOf('lowercase') >= 0">The password needs to have at least 1 Lowercase character</li>
                                <li ng-show="passwordValidationErrors.indexOf('uppercase') >= 0">The password needs to have at least 1 Uppercase character</li>
                                <li ng-show="passwordValidationErrors.indexOf('digit') >= 0">The password needs to have at least 1 Digit</li>
                                <li ng-show="passwordValidationErrors.indexOf('special') >= 0">The password needs to have at least 1 Special character</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group pdbottom" ng-class="{'has-error': regForm.password.$touched && regForm.password.$invalid}">
                        <label>Confirm Password</label> <span class="meditator">*</span>
                        <input type="password" class="form-control" id="confirm password" placeholder="Confirm password" required ng-model="user.auth.password" name="password" validate-match="user.auth.confirmPassword">
                        <div class="help-block" ng-messages="regForm.password.$error" ng-show="regForm.password.$touched">
                            <p ng-message="required">This field is required</p>
                            <p ng-message="validateMatch">Both the passwords do not match</p>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-color pull-right" ng-disabled="regForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
<div class="space-40"> </div>
<div class="space-40"> </div>
