<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div data-ng-switch on="section.sectionName">
            <div data-ng-switch-when="sampleListing">
                <div class="row">
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="col-md-12">
                            <div class="space-40"> </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"> </div>
                            <div class="space-40 visible-xs"> </div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container">
    <div class="row">
        <div class="col-md-9 ">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="features">
                        <div class="space-18"></div>
                        <img src="{{section.imgLink}}" class="img-responsive center-block" />
                    </div>
                    <div data-ng-switch-when="features1">
                        <div class="space-18"></div>
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <!-- <div class="col-md-6 "> -->
                        <div class="space-18"></div>
                        <div class="{{features.panelClass}}" ng-repeat="features in section.featuresData">
                            <ul>
                                <li ng-repeat="feature in features.panelData | orderBy:'sequenceNo'">
                                    <b>{{feature.featureDetail}}</b>
                                </li>
                            </ul>
                        </div>
                        <!-- </div> -->
                        <div class="col-md-6 ">
                            <img src="{{section.imgLink}}" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
    <div class="space-20"></div>
</div>
