<div id="navbar" class="navbar navbar-default navbar-collapse h-navbar">
    <script type="text/javascript">
    try {
        ace.settings.check('navbar', 'fixed')
    } catch (e) {}
    </script>
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href="javascript:void(0)" class="navbar-brand">
                <small><img src="nrp-admin-theme/assets/images/gallery/logo.jpg"/></small>
            </a>
            <!-- /section:basics/navbar.layout.brand -->
            <!-- #section:basics/navbar.toggle -->
            <button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons,.navbar-menu">
                <span class="sr-only">Toggle user menu</span>
                <img ng-src="{{ currentUser.avatar || '/nrp-admin-theme/assets/avatars/avatar5.png' }}" alt="Photo" />
            </button>
            <button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /section:basics/navbar.toggle -->
        </div>
        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation">
            <ul class="nav ace-nav">
                <li class="transparent" ui-sref-active="active" style="display: none">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                        <i class="ace-icon fa fa-envelope-o "></i>
                        <span class="badge badge-danger">{{ unreadMails.length }}</span>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu">
                        <li class="lead text-center">
                            Messages <span class="badge badge-danger">{{ unreadMails.length }}</span>
                        </li>
                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li ng-repeat="unreadMail in unreadMails">
                                    <a ui-sref="portal.mailbox.read({id: unreadMail._id})" ui-sref-opts="{reload: true}">
                                        <img ng-src="{{ currentUser.avatar || '/nrp-admin-theme/assets/avatars/avatar5.png' }}" class="msg-photo" alt="Avatar" />
                                        <span class="msg-body"><span class="msg-title"><span class="blue">{{getNameOfUser(unreadMail.from)}}:</span> {{unreadMail.subject}}
                                        </span><span class="msg-time"><i class="ace-icon fa fa-clock-o"></i><span>{{to_date_format(unreadMail.sent, 'jS M, Y')}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-footer">
                            <a ui-sref="portal.mailbox" ui-sref-opts="{reload: true}">See all messages<i class="ace-icon fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- #section:basics/navbar.user_menu -->
                <li>
                    <a data-toggle="dropdown" href="javascript:void(0)" class="dropdown-toggle">
                        <img class="nav-user-photo" ng-src="{{ currentUser.avatar || '/nrp-admin-theme/assets/avatars/avatar5.png' }}" alt="Photo" />
                        <span class="user-info">{{ getNameOfUser(currentUser) }},</br><span class="test">{{ currentUser.role.name }}</span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-caret dropdown-close">
                        <li>
                            <a ui-sref="portal.profile" ui-sref-opts="{reload: true}">
                                <i class="ace-icon fa fa-user"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a ui-sref="portal.quickLinks" ui-sref-opts="{reload: true}">
                                <i class="ace-icon fa fa-bolt"></i> Quick Links
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" ng-click="logout()" class="text-danger">
                                <i class="ace-icon fa fa-power-off"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>
        <!-- /section:basics/navbar.dropdown -->
        <nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">
            <!-- #section:basics/navbar.nav -->
        </nav>
    </div>
    <!-- /.navbar-container -->
</div>
