<div class="alert alert-lg alert-danger text-center" ng-if="portalPageActive.options && portalPageActive.options.directorySwitcher && !currentDirectory">
    <p class="lead"><i class="fa fa-warning"></i> Please select a Directory</p>
</div>
<div ng-if="!(portalPageActive.options && portalPageActive.options.directorySwitcher) || (portalPageActive.options && portalPageActive.options.directorySwitcher && currentDirectory)">
    <div class="page-header">
        <h5 class="pull-left">{{page.name}}</h5>
        <a class="btn btn-sm btn-primary pull-right sp10 mr" ng-if="page.actions.add && page.actions.add.allowed()" ui-sref="portal.{{page.actions.add.object}}" ui-sref-opts="{reload: true}">
            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
            <span>{{ page.actions.add.label ? page.actions.add.label : "Add New" }}</span>
        </a>
        <a class="btn btn-sm btn-success pull-right sp10 mr btn-export" ng-if="page.actions.export && page.actions.export.allowed()" ng-click="page.actions.export['ngClick']()">
            <i class="ace-icon icon-csv bigger-120"></i>
            <!-- <i class="ace-icon fa fa-file-excel-o bigger-120"></i> -->
            <span>Export as CSV</span>
        </a>
        <button class="btn btn-sm btn-primary pull-right sp10 mr" ng-if="page.actions.submit" ng-click="page.actions.submit['ngClick']()" ng-disabled="page.actions.submit['ngDisabled']()">
            <i class="ace-icon fa fa-check bigger-120"></i><span>{{page.actions.submit.label}}</span>
        </button>
        <button class="btn btn-sm btn-info pull-right sp10 mr" ng-if="page.actions.send && page.actions.send.allowed()" ng-click="page.actions.send['ngClick']()" ng-disabled="page.actions.send['ngDisabled']()">
            <i class="ace-icon fa fa-send bigger-120"></i>
            <span>{{page.actions.send.label}}</span>
        </button>
        <a class="btn btn-sm btn-default pull-right sp10 mr" ng-if="page.actions.back && page.actions.back.allowed()" ui-sref="portal.{{page.actions.back.object}}" ui-sref-opts="{reload: true}">
            <i class="ace-icon fa fa-arrow-left bigger-120"></i>
            <span>Back</span>
        </a>
        <div class="clearfix"></div>
    </div>
    <div ui-view></div>
</div>
