<dms-header></dms-header>
<div class="main-container" id="main-container">
    <div class="inner-content">
        <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {}
        </script>
        <dms-sidebar></dms-sidebar>
        <div class="omd-dropdown omd" ng-if="portalPageActive.options && portalPageActive.options.directorySwitcher">
            <!-- <small>Current Directory: </small>   -->
            <a href="javascript:void(0)" ng-click="openDirectorySwitcher()" title="Click to Switch Directory">
                {{ currentDirectory ? ('Current Directory: ' + currentDirectory.codeValue) : 'Choose a Directory...' }} <i class="menu-icon fa fa-caret-down"></i> 
            </a>
            <!-- <a href="#"><b>Switch Directory<b></a> -->
        </div>
        <div class="page-content" ui-view></div>
        <!-- /.page-content -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- /.main-content -->
<div>
    <div class="col-sm-12 footertext"><span>NRP &copy; 2016.  All rights reserved</span></div>
</div>
