<div id="sidebar" class="sidebar h-sidebar navbar-collapse collapse">
    <script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'fixed')
    } catch (e) {}
    </script>
    <ul class="nav nav-list">
        <li class="hover" ui-sref-active="active">
            <a ui-sref="portal.dashboard" ui-sref-opts="{reload: true}">
                <i class="menu-icon fa fa-tachometer bigger-100"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>
        <li class="hover mar" ui-sref-active="active" ng-repeat="portalModule in portalModules">
            <a href="javascript:void(0)" data-toggle="dropdown" ng-class="{'': portalModule.pages && portalModule.pages.length > 0}">
                <i class="menu-icon fa fa-{{portalModule.icon}} bigger-100"></i>
                <span class="menu-text">{{portalModule.name}}</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow" ng-if="portalModule.pages && portalModule.pages.length > 0"></b>
            <ul class="submenu" ng-if="portalModule.pages && portalModule.pages.length > 0">
                <li class="hover" ng-repeat="portalPage in portalModule.pages">
                    <a ui-sref="portal.{{portalPage.object}}" ui-sref-opts="{reload: true}">
                        <i class="menu-icon fa fa-caret-right"></i> <i class="fa fa-{{portalPage.icon}}"></i> {{portalPage.name}}
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <!-- <li class="hover">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-link bigger-100"></i>
                <span class="menu-text"> More Link </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i> Form Elements
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i> Form Elements 2
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i> Wizard &amp; Validation
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i> Wysiwyg &amp; Markdown
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="hover">
                    <a href="dropzone.html">
                        <i class="menu-icon fa fa-caret-right"></i> Dropzone File Upload
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li> -->
        <li class="hover hidden-lg hidden-md" ng-if="portalPageActive.options && portalPageActive.options.directorySwitcher">
            <a href="javascript:void(0)" ng-click="openDirectorySwitcher()" title="Click to Switch Directory">
                <i class="menu-icon fa fa-caret-right"></i> {{ (currentDirectory && isSelectedDirectoryStillValidForCurrentUser()) ? ("Current Directory: " + currentDirectory.codeValue) : 'Choose a Directory...' }}
            </a>
            <b class="arrow"></b>
        </li>
    </ul>
    <!-- /.nav-list -->
    <!-- #section:basics/sidebar.layout.minimize -->
    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'collapsed')
    } catch (e) {}
    </script>
</div>
