<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Directory</b> Management System
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h1>403: Unauthorized Access</h1>
            <a class="btn btn-primary" ui-sref="portal">
                <i class="fa fa-arrow-left"></i> Back to Portal
            </a>
            <br>
        </div>
    </div>
</div>
