<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Address":"Address")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="addressForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="pwd">Type</label>
                                <ui-select ng-model="address.addressType">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.description"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thisAddressType as thisAddressType in (addressTypeArray | filter: $select.search) track by thisAddressType._id">
                                        <span ng-bind="thisAddressType.description"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label>Street 1</label>
                                <input type="text" class="form-control" ng-model="address.street1">
                            </div>
                            <div class="form-group">
                                <label>Street 2</label>
                                <input type="text" class="form-control" ng-model="address.street2">
                            </div>
                            <div class="form-group" ng-class="{'has-error' : addressForm.addressCity.$touched && addressForm.addressCity.$invalid}">
                                <label>City<span class="meditator">*</label>
                    <script type="text/ng-template" id="directory.organization.address-city-typeahead.tpl.html">
                        <a>
                            <p ng-bind-html="match.label | uibTypeaheadHighlight:query"></p>
                            <span>{{match.model.parentId.codeValue}} ({{match.model.parentId.description}})</span>,
                                    <span ng-bind-html="match.model.parentId.parentId.codeValue"></span>
                                    </a>
                                    </script>
                                    <input type="text" required name="addressCity" ng-model="address.city" uib-typeahead="addressCity as addressCity.codeValue for addressCity in getAddressCities($viewValue)" typeahead-wait-ms="500" typeahead-editable="false" typeahead-template-url="directory.organization.address-city-typeahead.tpl.html" typeahead-on-select="selectAddressCityTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCity" typeahead-no-results="noResultsCity" class="form-control" autocomplete="off">
                                    <i ng-show="loadingAddressCity" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResultsCity">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <div class="help-block" ng-messages="addressForm.addressCity.$error" ng-show="addressForm.addressCity.$touched">
                                        <div ng-message="required">Please fill this field</div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State/Territory</label>
                                <script type="text/ng-template" id="directory.organization.address-state-typeahead.tpl.html">
                                    <a>
                                        <span ng-bind-html="(match.model.codeValue + ' (' + match.model.description + ')') | uibTypeaheadHighlight:query"></span>,
                                        <span ng-bind-html="match.model.parentId.codeValue"></span>
                                    </a>
                                </script>
                                <input type="text" class="form-control" ng-model="address.stateName" uib-typeahead="addressState as addressState.codeValue for addressState in getAddressStates($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-state-typeahead.tpl.html" typeahead-on-select="selectAddressStateTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressState" typeahead-no-results="noResultsState" class="form-control">
                                <i ng-show="loadingAddressState" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsState">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <div class="help-block" ng-messages="addressForm.addressState.$error" ng-show="addressForm.addressState.$touched">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <script type="text/ng-template" id="directory.organization.address-country-typeahead.tpl.html">
                                    <a>
                                        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                    </a>
                                </script>
                                <input type="text" class="form-control" ng-model="address.countryName" uib-typeahead="addressCountry as addressCountry.codeValue for addressCountry in getAddressCountries($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-country-typeahead.tpl.html" typeahead-on-select="selectAddressCountryTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCountry" typeahead-no-results="noResultsCountry" class="form-control">
                                <i ng-show="loadingAddressCountry" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsCountry">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <div class="help-block" ng-messages="addressForm.addressCountry.$error" ng-show="addressForm.addressState.$touched">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                            </div>
                            <!--  <div class="form-group">
                                <label>State/Territory</label>
                                <input type="text" class="form-control" ng-model="address.stateName">
                            </div> -->
                            <!-- <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" ng-model="address.countryName">
                            </div> -->
                            <div class="form-group">
                                <label>Post Box</label>
                                <input type="text" class="form-control" ng-model="address.postBox">
                            </div>
                            <div class="form-group">
                                <label>Zip</label>
                                <input type="text" class="form-control" ng-model="address.zip">
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="address.mailingIndex">
                                    <span class="lbl"><strong>   Mailing Index</strong></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="addressForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
