<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Vendor":"Vendor")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="vendorForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="row"> -->
                            <div class="form-group" ng-class="{'has-error': vendorForm.sequenceNo.$touched && vendorForm.sequenceNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control" name="sequenceNo" ng-model="vendors.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                                <div class="help-block" ng-messages="vendorForm.sequenceNo.$error" ng-show="vendorForm.sequenceNo.$touched && vendorForm.sequenceNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label>Sequence No.</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vendors.sequenceNumber">
                                </div>
                            </div> -->
                            <div class="form-group">
                                <div class="form-group " ng-class="{ 'has-error': vendorForm.type.$touched && vendorForm.type.$invalid }">
                                    <label>Vendor Type</label>
                                    <ui-select ng-model="vendors.vendorType">
                                        <ui-select-match placeholder="Select">
                                            <span ng-bind="$select.selected.codeValue"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="thisVendorType as thisVendorType in (vendorTypeArray | filter: $select.search) track by thisVendorType._id">
                                            <span ng-bind="thisVendorType.codeValue"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="help-block" ng-messages="vendorForm.type.$error" ng-show="vendorForm.type.$touched">
                                        <div ng-message="required">Please fill this field</div>
                                    </div>
                                    <!-- <input type="text" class="form-control" ng-model="vendors.vendorType.codeValue"> -->
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="vendors.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Post Box</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="vendors.postBox">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Street</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="vendors.street">
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error' : addressForm.addressCity.$touched && addressForm.addressCity.$invalid}">
                                    <label>City<span class="meditator">*</span></label>
                                    <script type="text/ng-template" id="directory.organization.address-city-typeahead.tpl.html">
                                        <a>
                                            <p ng-bind-html="match.label | uibTypeaheadHighlight:query"></p>
                                            <span>{{match.model.parentId.codeValue}} ({{match.model.parentId.description}})</span>,
                                            <span ng-bind-html="match.model.parentId.parentId.codeValue"></span>
                                        </a>
                                    </script>
                                    <input type="text" required name="addressCity" ng-model="vendors.cityName" uib-typeahead="addressCity as addressCity.codeValue for addressCity in getAddressCitiesVendors($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-city-typeahead.tpl.html" typeahead-on-select="selectAddressCityTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCity" typeahead-no-results="noResultsCity" class="form-control" autocomplete="off">
                                    <i ng-show="loadingAddressCity" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResultsCity">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <div class="help-block" ng-messages="addressForm.addressCity.$error" ng-show="addressForm.addressCity.$touched">
                                        <div ng-message="required">Please fill this field</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>State</label>
                                    <script type="text/ng-template" id="directory.organization.address-state-typeahead.tpl.html">
                                        <a>
                                            <span ng-bind-html="(match.model.codeValue + ' (' + match.model.description + ')') | uibTypeaheadHighlight:query"></span>,
                                            <span ng-bind-html="match.model.parentId.codeValue"></span>
                                        </a>
                                    </script>
                                    <input type="text" class="form-control" ng-model="vendors.stateName" uib-typeahead="addressState as addressState.codeValue for addressState in getAddressStatesVendors($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-state-typeahead.tpl.html" typeahead-on-select="selectAddressStateTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressState" typeahead-no-results="noResultsState" class="form-control">
                                    <i ng-show="loadingAddressState" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResultsState">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <div class="help-block" ng-messages="addressForm.addressState.$error" ng-show="addressForm.addressState.$touched">
                                        <div ng-message="required">Please fill this field</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Zip</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="vendors.zip">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="vendorForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
