<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: General</h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h4 class="addnewt container">General Details</h4>
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Sequence No.</label>
                <div ng-if="keyPersonnel.sequenceNumber == originalPers.sequenceNumber">
                    <p> {{keyPersonnel.sequenceNumber}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.sequenceNumber != originalPers.sequenceNumber">
                    <p class="nextcolor">{{originalPers.sequenceNumber}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.sequenceNumber}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Personnel ID</label>
                <div ng-if="keyPersonnel.personnel_id == originalPers.personnel_id">
                    <p> {{keyPersonnel.personnel_id}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.personnel_id != originalPers.personnel_id">
                    <p class="nextcolor">{{originalPers.personnel_id}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.personnel_id}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Title</label>
                <div ng-if="keyPersonnel.titleMaster.codeValue == originalPers.titleMaster.codeValue">
                    <p> {{keyPersonnel.titleMaster.codeValue}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.titleMaster.codeValue != originalPers.titleMaster.codeValue">
                    <p class="nextcolor">{{originalPers.titleMaster.codeValue}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.titleMaster.codeValue}}&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Name</label>
                <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalPers)">
                    <p>{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                </div>
                <div ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalPers)">
                    <p class="nextcolor">{{showPersonnelName(originalPers)}}&nbsp;</p>
                    <p class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <h4 class="addnewt container">Contact Details</h4>
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Phone No.</label>
                <div ng-if="keyPersonnel.phoneNumbers == originalPers.phoneNumbers">
                    <p> {{keyPersonnel.phoneNumbers}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.phoneNumbers != originalPers.phoneNumbers">
                    <p class="nextcolor">{{originalPers.phoneNumbers}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.phoneNumbers}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Primary Email</label>
                <div ng-if="keyPersonnel.email.primary == originalPers.email.primary">
                    <p> {{keyPersonnel.email.primary}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.email.primary != originalPers.email.primary">
                    <p class="nextcolor">{{originalPers.email.primary}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.email.primary}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Websites</label>
                <div ng-if="keyPersonnel.website == originalPers.website">
                    <p> {{keyPersonnel.website}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.website != originalPers.website">
                    <p class="nextcolor">{{originalPers.website}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.website}}&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Fax No.</label>
                <div ng-if="keyPersonnel.faxNumbers == originalPers.faxNumbers">
                    <p> {{keyPersonnel.faxNumbers}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.faxNumbers != originalPers.faxNumbers">
                    <p class="nextcolor">{{originalPers.faxNumbers}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.faxNumbers}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 boldfont">Secondary Email</label>
                <div ng-if="keyPersonnel.email.secondary == originalPers.email.secondary">
                    <p> {{keyPersonnel.email.secondary}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.email.secondary != originalPers.email.secondary">
                    <p class="nextcolor">{{originalPers.email.secondary}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.email.secondary}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="position-relative">
                    <div class="form-group boldfont">
                        <div ng-if="keyPersonnel.activeFlag == originalPers.activeFlag">
                            <i class="fa fa-check" ng-class="keyPersonnel.activeFlag ? 'fa-check' : 'fa-remove'"></i> Active
                        </div>
                        <div ng-if="keyPersonnel.activeFlag != originalPers.activeFlag">
                            <p class="nextcolor">
                                <i class="fa fa-check" ng-class="originalPers.activeFlag? 'fa-check' : 'fa-remove'"></i> Active &nbsp;
                            </p>
                            <p class="boxcolor">
                                <i class="fa fa-check" ng-class="keyPersonnel.activeFlag? 'fa-check' : 'fa-remove'"></i> Active &nbsp;
                            </p>
                        </div>
                    </div>
                </label>
                <label class="position-relative">
                    <div class="form-group boldfont">
                        <div ng-if="keyPersonnel.chairman == originalPers.chairman">
                            <i class="fa fa-check" ng-class="keyPersonnel.chairman ? 'fa-check' : 'fa-remove'"></i> Chairman
                        </div>
                        <div ng-if="keyPersonnel.chairman != originalPers.chairman">
                            <p class="nextcolor">
                                <i class="fa fa-check" ng-class="originalPers.chairman? 'fa-check' : 'fa-remove'"></i> Chairman &nbsp;
                            </p>
                            <p class="boxcolor">
                                <i class="fa fa-check" ng-class="keyPersonnel.chairman? 'fa-check' : 'fa-remove'"></i> Chairman &nbsp;
                            </p>
                        </div>
                    </div>
                </label>
                <label class="position-relative">
                    <div class="form-group boldfont">
                        <div ng-if="keyPersonnel.dmmpContact == originalPers.dmmpContact">
                            <i class="fa fa-check" ng-class="keyPersonnel.dmmpContact ? 'fa-check' : 'fa-remove'"></i> DMMP Contact
                        </div>
                        <div ng-if="keyPersonnel.dmmpContact != originalPers.dmmpContact">
                            <p class="nextcolor">
                                <i class="fa fa-check" ng-class="originalPers.dmmpContact? 'fa-check' : 'fa-remove'"></i> DMMP Contact &nbsp;
                            </p>
                            <p class="boxcolor">
                                <i class="fa fa-check" ng-class="keyPersonnel.dmmpContact? 'fa-check' : 'fa-remove'"></i> DMMP Contact &nbsp;
                            </p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
