html,
body {
    min-height: 100% !important;
}

.body-dark {
	background: #080808;
}
.body-light {
	background: #e7e7e7;
}

.page-modal {
    position: relative;
    display: block;
}

.panel-heading-navbar {
    padding: 0;
    margin-bottom: 0;
}
