<!DOCTYPE html>
<html lang="en" ng-app="nrp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <title>National Register Publishing - NRP</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/NRP/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="assets/NRP/font/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/NRP/font/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="assets/NRP/css/angular-toastr.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/toastr/toastr.css" />
    <!-- Theme CSS -->
    <link href="assets/NRP/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/NRP/img/favicon.ico" />

    <script src='assets/angular/angular.min.js'></script>
    <!-- add toster -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
    <script src="https://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
    <!-- toster -->
    <script src="assets/NRP/js/angular-toastr.min.js"></script>
    <script src="assets/NRP/js/module.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="
   nrp.main.controller">
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
    <div id="preloader"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!--<a class="navbar-brand page-scroll" href="#page-top">
               <img src="assets/NRP/img/NRPlogo.png" class="logoimg">
               </a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">ABOUT US</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mailinglist">Mailing Lists</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{BASE_PATH.OCD}}" target="_blank">OCD</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHER PRODUCTS<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- <li><a class="page-scroll" href="http://extrapreneursindia.com/projects/ocd/index.html" target="_blank">OCD</a></li> -->
                            <li><a class="page-scroll" href="{{BASE_PATH.OMD}}" target="_blank">OMD</a></li>
                            <li><a class="page-scroll" href="{{BASE_PATH.CFS}}" target="_blank">CFS</a></li>
                            <li><a class="page-scroll" href="{{BASE_PATH.AAD}}" target="_blank">AAD</a></li>
                            <li><a class="page-scroll" href="{{BASE_PATH.DMMP}}" target="_blank">DMMP</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">NRP / DIRECT</h1>
                        <p class="intro-text">A new vision for the collection, storage, and publication of reference data. 
                        </p>
                        <!--           <a href="#about" class="btn btn-circle page-scroll">
                     <i class="fa fa-angle-double-down animated"></i>
                     </a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="container-fluid content-section">
        <div class="text-center pd-10">
            <h2 class="blue">NRP Direct<sup></sup></h2>
            <p>
                Formally known as National Register Publishing, NRP Direct is dedicated to providing our customers with valuable business reference information. Whether you are seeking to penetrate new markets, analyze the competition, or simply find a qualified vendor or partner, the NRP Direct family of professional reference products offers the most accurate, comprehensive and up-to-date information available. To satisfy the changing needs of our customers, all of the NRP Direct reference books will soon be made available online and we are currently working to bring other changes to the market as quickly as possible. To find out more about NRP Direct and its products, please read on or select a specific product from the menu at the top of the page.
            </p>
            <div class="space-20"></div>
        </div>
        <div class="row">
            <div class="col-md-3 pdimag">
                <div><img src="assets/NRP/img/dirctory-image.png" class="img-responsive center-block"></div>
            </div>
            <div class="col-md-9">
                <div class="col-md-4 ">
                    <div class="directory border-bottom">
                        <div class="title">Religious & Specialty</div>
                        <div class="subtitle ocd"><a href="{{BASE_PATH.OCD}}" target="_blank">The Official <br>Catholic Directory®</a></div>
                        <div class="space-4"></div>
                        <span class="textsaction">
                     Published since 1817 by P.J. Kenedy & Sons, it's the only authorized directory listing the personnel, institutions, and organizations related to the Catholic Church. 
                     </span>
                        <div class="space-8"></div>
                        <p class="visit-btn">
                            <a href="{{BASE_PATH.OCD}}" target="_blank" class="btn btn-color-search">Visit Website</a>
                        </p>
                    </div>
                    <div class="space-10 "></div>
                    <div class="space-10 visible-xs"></div>
                    <div class="directory border-bottom">
                        <div class="title">Museums & Art</div>
                        <div class="subtitle omd"><a href="{{BASE_PATH.OMD}}" target="_blank">The Official <br>Museum Directory®</a></div>
                        <div class="space-4"></div>
                        <span class="textsaction">
                     The official guide to over 15,000 museums, historic sites, planetariums, technology centers — everything from aquariums to zoos. Data on industry services and suppliers is included.
                     </span>
                        <div class="space-8"></div>
                        <p class="visit-btn">
                            <a href="{{BASE_PATH.OMD}}" target="_blank" class="btn btn-color-search">Visit Website</a>
                        </p>
                    </div>
                </div>
                <div class="space-10 visible-xs"></div>
                <div class="col-md-4">
                    <div class="directory border-bottom">
                        <div class="title">Marketing & Advertising</div>
                        <div class="subtitle dmmp"><a href="{{BASE_PATH.DMMP}}" target="_blank">Direct Marketing <br>Market Place®</a></div>
                        <div class="space-4"></div>
                        <span class="textsaction">
                     "The Networking Source of the Direct Marketing Industry!" Used by both direct marketers and service firms/suppliers to make key contacts and prospect for new business.
                     </span>
                        <div class="space-8"></div>
                        <p class="visit-btn">
                            <a href="{{BASE_PATH.DMMP}}" target="_blank" class="btn btn-color-search">Visit Website</a>
                        </p>
                    </div>
                    <div class="space-10"></div>
                    <div class="space-20 visible-xs"></div>
                    <div class="directory border-bottom">
                        <div class="title">Business & Financial Information</div>
                        <div class="subtitle cfs"><a href="{{BASE_PATH.CFS}}" target="_blank">The Corporate Finance <br>Sourcebook®</a></div>
                        <div class="space-4"></div>
                        <span class="textsaction">
                     Tap into the global economy with the financial industry's number one money-finder. Find complete details on the top investment sources and the foremost service firms.
                     </span>
                        <div class="space-8"></div>
                        <p class="visit-btn">
                            <a href="{{BASE_PATH.CFS}}" target="_blank" class="btn btn-color-search">Visit Website</a>
                        </p>
                    </div>
                </div>
                <div class="space-10 visible-xs"></div>
                <div class="col-md-4">
                    <div class="directory border-bottom">
                        <div class="title">American Art</div>
                        <div class="subtitle aad"><a href="{{BASE_PATH.AAD}}" target="_blank">American Art<br>Directory®</a></div>
                        <div class="space-4"></div>
                        <span class="textsaction">
                     The visual arts resource with vital data on thousands of art institutions in the U.S. and Canada. Also included is information on art schools and fellowships, state arts councils, and more.
                     </span>
                        <div class="space-8"></div>
                        <p class="visit-btn">
                            <a href="{{BASE_PATH.AAD}}" target="_blank" class="btn btn-color-search">Visit Website</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- mailinglist Section -->
    <section id="mailinglist" class="container-fluid content-section text-center">
        <div class="row txtcenter">
            <div class="col-lg-12">
                <div class="space-10"></div>
                <h2>MAILING LISTS</h2>
                <div class="space-10"></div>
                <h4>For information on mailing lists for The Official Catholic Directory <br><br>and The Official Museum Directory, please contact Agnes Orlowska</h4>
                <h3><div class="space-20"></div>
                  <i class="fa fa-envelope"></i> Aorlowska@nrpdirect.com
               </h3>
                <div class="space-10"></div>
                <h3>
                  <i class="fa fa-phone"></i> 908-517-1116, ext. 410 <span class="br"></span>
                  <div class="space-8 visible-xs"></div>
                  &nbsp;
                  <i class="fa fa-fax"></i> 908-608-3012
               </h3>
                <div class="space-10"></div>
                <h3>
                  Toll Free: 844-592-4197 <span class="br"></span>
               </h3>
                <div class="space-8"></div>
            </div>
        </div>
    </section>
    <!-- contact Section -->
    <section id="contact" class="content-section text-center cont-btm">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2 class="blue">Contact NRP Direct</h2>
                    <div class="space-20"></div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                  <div class="sactionone border-bottom">
                     
                     <label class="blue">Advertising & General Sales</label><br>
                        <label class="black"> Gina Marie Delia</label>
                     <span class="textstyle">
                        <p><i class="iconfa fa fa-phone"></i> &nbsp; 908-517-0801, ext. 413</p>
                        <p><i class="iconfa fa fa-envelope"></i><a href="#"> &nbsp; Gdelia@nrpdirect.com</a></p>
                     </span>
                  </div>
                  <div class="space-10"></div>
                  <div class="sactionone border-bottom">
                     <label class="blue">Editorial</label><br>
                     <label class="black">Eileen Fanning</label><br>
                    <!--  <label class="black">Eileen Fanning</label><br>
                     <span class="textstyle"> Treasured Works, LLC / National Register Publishing, <br>
430 Mountain Avenue, Suite 403, New Providence, NJ 07974.​</span>
                     <div  class="space-8"></div> -->
                     <span class="textstyle">
                        <p><i class="iconfa fa fa-phone"></i> &nbsp; 908-517-1057 , ext. 408</p>
                        <p><i class="iconfa fa fa-envelope"></i><a href="#"> &nbsp; Efanning@nrpdirect.com</a></p>
                     </span>
                  </div>
                  <div class="space-10"></div>
                  <div class="sactionone">
                     <label class="blue">Customer Service</label><br>
                     <!-- <span class="textstyle"> Treasured Works, LLC / National Register Publishing, <br>
430 Mountain Avenue, Suite 403, New Providence, NJ 07974.​</span> -->
                     <div  class="space-8"></div>
                     <span class="textstyle">
                        <p><i class="iconfa fa fa-phone"></i> &nbsp; 908-517-0780 &nbsp; <span class="br"></span>
                         <i class="iconfa fa fa-fax"></i> &nbsp; 908-608-3012</p>
                        <p><i class="iconfa fa fa-envelope"></i><a href="#"> &nbsp; Sales@nrpdirect.com</a></p>
                     </span>
                  </div>
                  <div class="space-10"></div>
               </div>
                <div class="col-md-6 bgstyle">
                    <div class="col-md-12">
                        <div class="space-10"></div>
                        <div class="sactionone border-bottom">
                            <label class="black linehight">
                            Please enter your questions, comments, and suggestions here. </label>
                            <br>
                        </div>
                        <div class="space-10"></div>
                    </div>
                    <div class="space-10"></div>
                    <div class="sactionone ">
                        <form role="form" name="nrpForm" ng-submit="nrpsend()">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Your Name:<span class="meditator">*</span></label>
                                    <input type="text" class="form-control" id="name" ng-model="data.name.first" name="name" ng-class="{nrpText:nrpForm.name.$touched && nrpForm.name.$invalid}" placeholder="Your Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Your Email:<span class="meditator">*</span></label>
                                    <input type="email" class="form-control" id="email" ng-model="data.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" ng-class="{nrpText:nrpForm.email.$touched && nrpForm.email.$invalid}" placeholder="Your Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Your Phone Number:<span class="meditator">*</span></label>
                                    <input type="text" class="form-control" id="phone" name="phone" ng-class="{nrpText:nrpForm.phone.$touched && nrpForm.phone.$invalid}" ng-model="data.phone" placeholder="Your Phone Number" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                  <!--               <div class="form-group">
                      <label for="email">Comments and Feedback:<span class="meditator">*</span></label>
                      <textarea class="form-control" rows="4" id="comments" ng-class="{nrpTextarea:nrpForm.comments.$touched && nrpForm.comments.$invalid}" name="comments" ng-model="data.comments" placeholder="Comments and Feedback" required></textarea>
                  </div> -->
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="text">Reason for Contacting:<span class="meditator">*</span></label>
                                    <textarea class="form-control" rows="4" name="reasons" ng-model="data.reasons" id="reasons" ng-class="{nrpTextarea:nrpForm.reasons.$touched && nrpForm.reasons.$invalid}" placeholder="Reason for Contacting" required></textarea>
                                </div>
                                <button class="btn btn-color-search pull-right" ng-click="nrpForm.$setUntouched()" ng-disabled="!nrpForm.$valid">Submit</button>
                                <!-- <a href="javascript:void(0)" 
                           class="btn btn-color-search pull-right">Submit</a> -->
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        <div class="row pad-sec">
            <div  class="space-20"></div>
                <div class="col-md-12">
                     <span class="textstyle"> NRP Direct<br>
430 Mountain Avenue, Suite 403 <br>New Providence, NJ 07974</span><br>
                     <span class="textstyle"> Toll Free:  844-592-4197</span>
                     <div  class="space-8"></div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer" class="footer-custom" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                    <div class="space-18"></div>
                    <div class="terms mr ml">
                        <div>Copyright © 2016 Treasured Works LLC. All rights reserved.</div>
                    </div>
                    <div class="space-18"></div>
                </div>
            </div>
        </div>
    </footer>
    <div id="back_to_top"> <a href="#top"><b class="arrow fa fa-angle-up"></b></a> </div>
    <!-- jQuery -->
    <script src="config/web-config.js"></script>
    <script src="assets/NRP/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/NRP/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="assets/NRP/js/jquery.easing.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="assets/NRP/js/nrp.js"></script>
</body>

</html>
