body {
    padding-top: 0px;
    font: 400 1.6em/1.6 'Segoe UI', Verdana, sans-serif;
    color: #5a5a5a;
}

.modal-dialog {
    width: 100%;
    border: none !Important;
    box-shadow: none !important;
}

.navbar-nav > li > a {
    margin-top: 9px !important;
    padding: 5px 4px;
    margin-left: 5px;
    letter-spacing: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #404040;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 900;
}

a:focus {
    outline: none;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
}


/* .navbar-brand > img {
     width: 450px;
} */

.navbar-default {
    padding: 5px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-default.top-nav-collapse {
    padding: 0;
    /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #dedede;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    width: 40px;
    background-color: rgba(255, 255, 255, 0.80);
    height: 40px;
    padding: 4px;
    color: #58271c;
    text-shadow: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    width: 40px;
    background-color: #fff;
    height: 40px;
    padding: 4px;
    color: #A73352;
}

#header {
    /* height:70px; */
    /* background-color:#9a750b; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9a750b+1,dfb53f+78 */
    background: #fff;
    /* Old browsers */
}

.carousel {
    height: 352px;
}

.carousel .item {
    height: 352px;
}

#myCarousel h1 {
    color: #dfb53f;
}

.carousel-caption {
    text-align: left;
}

.carousel-control {
    width: 5%;
}

.carousel-caption {
    right: 20%;
    left: 10%;
}

h1.brand-heading.white.text-center {
    text-shadow: 0px 0px 5px #333;
}

.news-title {
    font-size: 2.5em;
    font-family: "SegoeUI-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important; color: #025690;
}

.ocd-sales-title {
    font-size: 3.8em;
}

.navbar-default .navbar-nav > li > a.login-button {
    background-color: #f38e12;
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a:hover {
     color:#fff;
     background-color: #f38e12;
}

.home-icon {
    font-size: 18px;
}


/*Button classes*/

.btn {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    color: #000;
}


.btn-primary {
    color: #a73352;
    background-color: #FFFFFF;
    border: 2px solid #a73352;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 11px 35px;
}

.btn-info {
    color: #ffffff;
    background-color: #025690;
    border: 2px solid #025690;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 10px 40px;
}

.btn-circle {
    font-size: 3em;
    padding: 0 18px;
}

.btn-twitter {
    border: 2px solid;
}

.btn-arrow {
    color: #fff;
    background-color: #a73352;
    border: 2px solid #a73352;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 20px;
}

.btn.btn-border.btn-white {
    color: #fff;
    background: transparent;
    border-color: white;
}

.btn-info:hover {
    color: #fff;
}

.btn-orange {
    background-color: #f38e12;
    border: 2px solid #f38e12;
}

.btn-arrow,
.btn-burgundy,
.btn-primary {
    background-color: #ffffff;
    border-color: #065194;
    color: #065194;
}

.btn-primary:hover,
.btn-arrow:hover,
.btn-info:hover,
.btn-burgundy:hover {
    background-color: #fff;
    border-color: #df8a10;
    color: #df8a10;
}

.btn-yellow:hover {
    background-color: #fff;
    border-color: #bb921d;
    color: #bb921d;
}

.btn-buy {
    padding: 10px 15px;
    margin-top: 10px;
}


/*Button classes*/

.saying .serif {
    font-family: serif;
}

.space-80 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 80px 0 79px;
}

.space-60 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 60px 0 59px;
}

.space-40 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 40px 0 39px;
}

.space-38 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 38px 0 37px;
}

.space-36 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 36px 0 35px;
}

.space-34 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 34px 0 33px;
}

.space-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 32px 0 31px;
}

.space-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 30px 0 29px;
}

.space-30-1 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 30px 0 0px 0;
}

.space-30-2 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 0px 0 130px 0;
}

.space-28 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 28px 0 27px;
}

.space-26 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 26px 0 25px;
}

.space-22 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 22px 0 21px;
}

.space-20 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 20px 0 19px;
}

.space-18 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 18px 0 17px;
}

.space-14 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 14px 0 13px;
}

.space-10 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 10px 0 9px;
}

.space-8 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 8px 0 7px;
}

.space-4 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 4px 0 3px;
}

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

h1 {
    margin-top: 0;
    font-size: 4em;
    font-weight: 900;
    color: #000;
    font-family: SegoeUI-Semibold;
}

h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 900;
    text-transform: uppercase;
    color: #404040;
}

.text-shadow {
    text-shadow: 0 0 5px #333;
}


/* ---------Home Page Css Start--------------*/

.intro-text {
    font-size: 30px !important;
}


/*--------- Home Page Css Ends----------------*/

#mailing-page .nav > li > a {
    height: 50px;
    background-color: #f1f1f1;
    border: none;
}

#mailing-page .nav > li.active > a {
    background-color: #fff;
}

#mailing-page h4 {
    font-size: 1.4em;
    text-transform: none;
}

#mailing-page h5 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 900;
    color: #404040;
}

#mailing-page h6 {
    font-size: 14px;
}

#mailing-page .link {
    font-size: 1.1em;
}

#mailing-page .border-bottom {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#mailing-page .bx {
    border: 1px solid #fff;
    height: auto;
    margin-bottom: 20px;
}

#mailing-page .bx .txt {
    font-size: 0.9em !important;
    line-height: 13px !important;
}

#mailing-page .bx .title-one {
    background-color: #11b3e6;
    color: #fff;
    line-height: 76px;
    font-size: 2em;
}

#mailing-page .bx .title-two {
    background-color: #daa42e;
    color: #fff;
    line-height: 76px;
    font-size: 2em;
}

#mailing-page .bx .title-three {
    background-color: #3267bc;
    color: #fff;
    line-height: 76px;
    font-size: 2em;
}

#mailing-page .bx .title-four {
    background-color: #e18f43;
    color: #fff;
    line-height: 76px;
    font-size: 2em;
}

#mailing-page .bx .title-six {
    background-color: #da5f5f;
    color: #fff;
    line-height: 76px;
    font-size: 2em;
}

#mailing-page .bx .title-seven {
    background-color: #989898;
    color: #fff;
    line-height: 76px;
    font-size: 2em;
}

#mailing-page .bx .title-five {
    background-color: #7362c0;
    color: #fff;
    line-height: 76px;
    font-size: 2em;
}

#mailing-page .bx .txt-one {
    background-color: #94dcf3;
    color: #014359;
}

#mailing-page .bx .txt-two {
    background-color: #eed8a3;
    color: #a37d01;
}

#mailing-page .bx .txt-three {
    background-color: #9ebce1;
    color: #003677;
}

#mailing-page .bx .txt-four {
    background-color: #f2cfac;
    color: #9f4c00;
}

#mailing-page .bx .txt-five {
    background-color: #beb5e0;
    color: #5619a9;
}

#mailing-page .bx .one {
    display: block;
    font-weight: bold;
    font-size: 1em;
    line-height: 20px;
    height: 71px;
    padding-top: 21px;
}

#mailing-page .bx .two {
    display: block;
    font-weight: bold;
    font-size: 1em;
    line-height: 20px;
    height: 71px;
    padding-top: 26px;
}

#mailing-page .bx .txt-six {
    background-color: #fbdada;
    color: #333;
}

#mailing-page .bx .txt-seven {
    background-color: #d0d0d0;
    color: #333;
}

.white {
    color: #fff !important;
}

.black {
    color: #000 !important;
}

.dark-grey {
    color: #656565 !important;
}

.light-grey {
    color: #999 !important;
}

.blue {
    color: #003399 !important;
}

.dark-blue {
    color: #0d2f5c !important;
}

.dark-orange {
    color: #d7620c !important;
}

.orange {
    color: #e08746 !important;
}

.light-orange {
    color: #f7b565 !important;
}

.ocd-title {
    margin: 0;
    font-size: 3.9em;
    font-weight: 900;
    color: #065194;
    line-height: 75px;
}

.mailing-title {
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    text-transform: none;
    color: #025690;
}

.mailing-txt {
    margin: 0;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: none;
    color: #404040;
}

.bx {
    border: 1px solid #d6d6d6;
    background-color: #f5f5f5;
    height: 150px;
    width: 20%;
}

.bx .title {
    display: block;
    color: #f38e12;
    font-size: 3em;
    font-weight: bold;
}

.bx .txt {
    display: block;
    color: #666;
    font-weight: bold;
    font-size: 1em;
    line-height: 20px;
}

.customer-saying .customer-content-inside:nth-child(3) {
    border-bottom: none !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.customer-content-bg {
    background-color: #025690;
}

.customer-content {
    padding: 20px;
}

.customer-content-inside {
    border-bottom: 1px solid #81abc8;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.customer-content-inside:nth-child(4) {
    border-bottom: none !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.client-testimonial {
    color: #fff;
    font-size: 1.5em;
    line-height: 26px;
}

.client-name {
    color: #a1c0d6;
    font-size: 0.9em;
}

form.newsletter-form {
    padding: 10px;
    background-color: #d9d9d9;
}

input.form-control {
    margin-right: 10px;
    border: 1px solid #ddd;
}

span.input-group-btn {
    margin-left: 10px;
}

.newsletter-form .input-group {
    display: table;
}

.newsletter-form input,
.hero-prelaunch .newsletter-form .btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 0px;
    height: 48px;
    font-size: 18px;
}

.saying {
    background-image: url("saying-bg.jpg");
}

.colored-box {
    padding: 45px 75px 40px;
    color: #fff;
}

.bg-spotlight {
    background-color: #009688;
    background-image: url("spotlight-bg.jpg");
}

.bg-spotlight .title-white {
    font-weight: bold;
}

.bg-spotlight p {
    font: normal 1.2em/1.2 'Segoe UI', Verdana, sans-serif
}

.bg-subscribe {
    background-color: #009688;
    background-image: url("subscribe-bg.jpg");
}

.bg-subscribe .title-white {
    font-weight: bold;
}

.bg-subscribe p {
    font: normal 1.2em/1.2 'Segoe UI', Verdana, sans-serif
}

.bg-feature {
    background-color: #009688;
    background-image: url("features-bg.jpg");
}

.bg-feature .title-white {
    font-weight: bold;
}

.bg-feature p {
    font: normal 1.2em/1.2 'Segoe UI', Verdana, sans-serif
}

.bg-custom2 {
    background-color: #00796b;
}

#product ul {
    padding: 0;
    margin: 0;
}

#product ul li {
    list-style: none;
    background-image: url("bullet.png");
    background-position: 0px 20px;
    background-repeat: no-repeat;
    line-height: 60px;
    padding-left: 60px;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
}


/*----------- Products and Services Start-------------*/

.pl {
    padding: 0px !important;
}

.pr {
    padding: 0px !important;
}

.products-search-box {
    background-image: url("products-search-box.jpg");
    padding: 15px;
    padding-bottom: 0px;
}

.mr {
    margin-right: 0px;
}

.ml {
    margin-left: 0px;
}

.mgbottom {
    margin-bottom: 10px;
}

.btn-color-search {
    color: #ffffff;
    background-color: #d7620c;
    / border: 2px solid #a73352;
    / border-radius: 3px;
    text-transform: uppercase;
    / padding: 8px 25px;
    / margin-top: 5px;
    font-family: 'Segoe UI';
    font-size: 16px;
    margin-bottom: 5px;
}

.media-list h4 {
    font-size: 1em !important;
    text-transform: uppercase !important;
}

.media-text {
    font-size: 0.8em;
    color: #666666;
    display: block;
}

.media-left,
.media > .pull-left {
    padding-right: 20px;
}

.media-list {
    margin-bottom: 20px;
}

.border {
    border: 1px solid #b9b9b9;
}

.border-bottom {
    border-bottom: 1px solid #b9b9b9;
}


/*----------- Products and Services End-------------*/


/*----------- Products and Services Details Starts-------------*/

.products-details-bx {
    padding: 0 30px;
}

.designation-title {
    font-size: 14px;
}

.designation {
    font-size: 14px;
    color: #999;
    line-height: 16px;
}

h3,
.h3 {
    letter-spacing: -1px;
}

.map {
    position: relative;
    width: 70px;
    text-align: right;
    font-size: 0.8em;
    padding: 6px 3px;
}

.map:before {
    content: "";
    background-image: url("map.png");
    position: absolute;
    top: 5px;
    left: 10px;
    line-height: 1;
    color: #454545;
    font-size: 14px;
    width: 25px;
    height: 20px;
}

.print {
    position: relative;
    width: 70px;
    text-align: right;
    font-size: 0.8em;
    padding: 6px 3px;
}

.print:before {
    content: "";
    background-image: url("print.png");
    position: absolute;
    top: 5px;
    left: 10px;
    line-height: 1;
    color: #454545;
    font-size: 14px;
    width: 25px;
    height: 20px;
}


/*----------- Products and Services Details End-------------*/

i.h1.fa.fa-twitter,
i.h1.fa.fa-star,
i.h1.fa.fa-envelope {
    font-size: 4em;
}


/* footer class starts */

#footer {
    background-color: #00223e;
    /* background-image:url("footer-bg.jpg"); */
}


/* Footer custom */

#footer.footer-custom h4 {
    font-size: 1em;
    color: #fff;
    margin: 1.7em 0 1em 0;
}

#footer.footer-custom .links {
    color: #fff;
    /* font-weight: 700; */
    font-size: 0.8em;
}

#footer.footer-custom .links > li > .service-txt {
    font-size: 1.4em;
}

#footer.footer-custom a {
    color: #fff;
    /* font-weight: 700; */
    font-size: 1em;
}

#footer.footer-custom ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.terms {
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font: 400 0.9em/1.6 'Segoe UI', Verdana, sans-serif;
}


/* Right Tabs Section */

.news-tab-bx {
    border: 1px solid #c5c5c5;
}

.news-tab-padding {
    padding: 10px;
}

.news-tab-title {
    background-color: #f1f1f1;
    height: 50px;
    color: #999999;
    line-height: 45px;
    text-align: center;
    font-weight: 700;
}

.news-tab-link {
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-tab-date {
    display: block;
    margin-top: 6px;
    font-weight: normal;
    color: #999999;
}

.search-inner-tab.tab-content > .active {
    padding: 0px;
}

.search-inner-tab .panel {
    margin-bottom: 0px;
}


/* Right Tabs Section */


/*------------------ Data Tables Css Starts-----------------------*/

table.dataTable {
    font-size: 0.8em;
    line-height: initial;
    /*table-layout: fixed;*/
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #eef3f7;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #eef3f7;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_disabled,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #93a1aa;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0px;
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: none;
    background-color: #d8620b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8620b), color-stop(100%, #d8620b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d8620b 0%, #d8620b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #d8620b 0%, #d8620b 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #d8620b 0%, #d8620b 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #d8620b 0%, #d8620b 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #d8620b 0%, #d8620b 100%);
    /* W3C */
}

table.dataTable td,
table.dataTable th {
    word-wrap: break-word;
}


/*------------------ Data Tables Css Ends -----------------------*/


/*---------------- login------------------- */

.rowmg {
    margin-right: 0px;
    margin-left: 0px;
}

.fotmodel {
    padding: 0px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.redusborder {
    border-radius: 5px;
}

.closebtn {
    float: right;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    color: #025690;
    text-shadow: 0px;
    filter: alpha(opacity=20);
    opacity: 100;
}

.inputhight {
    font-size: 16px;
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.pdlr {
    padding-left: 0px;
    padding-right: 0px;
}


/*---------------modal-dialog---------------------*/

.modal-dialog {
    width: 100%;
    border: none !Important;
    box-shadow: none !important;
}

.modal-content {
    border: none !Important;
    box-shadow: none !important;
    background: none;
}

.modal-header {
    border: none;
    padding: 0px
}

.fade.in {
    padding-right: 0px !Important;
    background: rgba(31, 31, 31, 0.9) !important;
}

#myTabContent .fade.in {
    padding-right: 0px !Important;
    background: none !important
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 271px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
    height: 100%;
}

button.close {
    padding: 6px 10px;
    border: solid 2px #6e6e6e;
    margin: 19px !important;
    padding-top: 0px;
}

.close {
    font-size: 30px;
    font-weight: normal;
    color: #6e6e6e;
    text-shadow: none;
    filter: alpha(opacity=90);
    opacity: .9;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    border: solid 2px #fff;
    cursor: pointer;
    filter: alpha(opacity=90);
    opacity: .9;
}

.modal-header .close {
    margin: auto
}


/*---------------modal-dialog------------------------*/


/*------------------ tushar new css -----------------------*/

.backimg {
    background-color: #4a1b08;
    background-image: url("headerbanner.jpg");
}

.text {
    position: relative;
    color: #fff;
    font-size: 28px;
    font-weight: 900;
}

.navbar-inside {
    margin-bottom: 0px;
}

.navbar-notfixed-top {
    position: none;
}

.mgleft {
    margin-left: 7em;
    margin-top: 0.5em;
}

.inputbg {
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px 1px #BABABA;
    box-shadow: 0 0 5px 1px #BABABA;
    font-family: 'Segoe UI';
    padding: 0px;
}

.inputbgnew {
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px 1px #BABABA;
    box-shadow: 0 0 5px 1px #BABABA;
    font-family: 'Segoe UI';
}

.pdtop {
    padding-top: 20px;
}

.borderbotm {
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
}

.meditator {
    color: #ff0000;
}

textarea.form-control {
    height: auto;
    border: 1px solid #cccccc;
    font-family: 'Segoe UI';
}

.btn-color {
    color: #ffffff !important;
    background-color: #d7620c;
    /* border: 2px solid #a73352; */
    border-radius: 3px;
    text-transform: uppercase;
    /*  padding: 8px 25px;*/
    margin-top: 5px;
    font-family: 'Segoe UI'!important;
    font-size: 14px !important;
}

.btn-cancel {
    color: #ffffff !important;
    background-color: #025690;
    /* border: 2px solid #a73352; */
    border-radius: 3px;
    text-transform: uppercase;
    /* padding: 8px 25px; */
    margin-top: 5px;
    font-family: 'Segoe UI' !important;
    font-size: 14px !important;
}

.titletxt {
    color: #1c5ea1;
    font-size: 16px;
    font-weight: bold;
}

.inputlabel {
    /*  font-weight: bold; */
    font-size: 14px;
}

.btnfooter {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.orderbg {
    background-color: #025690;
    padding: 10px;
    font-family: 'Segoe UI';
    margin-left: 0px;
    margin-right: 0px;
    color: #fff;
    /* font-weight:bold; */
    font-size: 16px;
}

.orderbgtwo {
    background-color: #025690;
    padding: 10px;
    font-family: 'Segoe UI';
    margin-left: 0px;
    margin-right: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid #5081a2;
}

.orderfm {
    width: 9em;
    font-size: 21px;
    margin-top: 27px;
}

.inputform {
    padding: 10px;
}

.values {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 20px;
    background-color: #f38e12;
    color: #fff;
    padding: 5px;
}


/* .sactionborder{
    border-bottom:1px solid #f1f1f1;
    margin-top: 4.6em;
}  */

.contentxt {
    font-size: 14px;
    font-weight: normal;
    /* margin-top: 10px; */
    font-family: 'Segoe UI';
}

.clickbtn {
    text-decoration: none;
    color: #fff;
    background-color: #f38e12;
    padding: 2px 5px 2px 5px;
    margin-left: 10px;
    font-weight: bold;
}


/*------------------About us new css TU -----------------------*/

.graytext {
    font-weight: bold;
    color: #989898;
}

.text-body {
    display: block;
    margin-left: 3.5em;
}

.titletext {
    font-weight: bold;
    font-size: 14px;
}

.summary {
    font-size: 14px;
    line-height: 15px;
}

.mgtop {
    margin-top: 9px;
}

.acol-one {
    position: relative;
    font-size: 24px;
    line-height: 30px;
    background-color: #025790;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    min-height: 100px;
    margin: 2px;
}

.bcol-two {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #e3ecf3;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 100px;
}

.ccol-three {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #d7e4ec;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 100px;
}

.mar-low {
    margin: 0px;
    padding: 0px;
}

.pdlf {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0px;
}

.arrow-left {
    padding: 12px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue;
}

.acol-one:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 22px solid #025790;
    border-bottom: 50px solid transparent;
}

.bcol-two:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 22px solid #e3ecf3;
    border-bottom: 50px solid transparent;
}

.ccol-three:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 22px solid #d7e4ec;
    border-bottom: 50px solid transparent;
}

.rightarrow-one {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #e3ecf3;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 100px;
}

.rightarrow-two {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #d7e4ec;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 100px;
}

.rightarrow-one:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -22px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 22px solid #e3ecf3;
    border-bottom: 50px solid transparent;
}

.rightarrow-two:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -22px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 22px solid #d7e4ec;
    border-bottom: 50px solid transparent;
}

.btn-Non-Clergy {
    color: #025690;
    border: 1px solid #171717;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 7px 15px;
    font-size: small;
    font-weight: bolder;
    width: 9em;
}


/*------------------Advertising new css TU -----------------------*/

.orangebold {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 32px;
    color: #d7620c;
    line-height: 35px;
}

.mainvolume {
    background-color: #3088c8;
    padding: 1.8em;
    padding-top: 1em;
}

.pdftext {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.ginatext {
    font-size: 20px;
    color: #000000;
    line-height: 24px;
    font-family: 'Segoe UI';
}

.accouttxt {
    font-size: 16px;
    color: #999999;
    font-family: 'Segoe UI';
}

.consaction {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: 'Segoe UI';
    line-height: 14px;
}


/*------------Sportlight------------------------- */

.mgbotom {
    margin-bottom: 1.5em;
}

.spotlighttext {
    font-size: 14px;
    font-weight: 600px;
    margin-top: 10px;
    color: #000;
}

.bishop {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}

.btnmgtop {
    margin-top: 1.7em;
}


/* -----------sportlite details--------------------- */

.boxborder {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #dddddd;
    padding: 2em;
    padding-left: 1em;
}

.Donaldtitle {
    font-size: 24px;
    font-weight: bold;
    color: #025690;
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
    font-size: 17px;
}

.fa-mg {
    margin: 10px;
}

.fa-ul li {
    position: relative;
    line-height: 2em;
}

.uilititle {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.feedbacktitle {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.border-top {
    border-top: 1px solid #dddddd;
}


/*************contact us page ********************/

.contacttext {
    font-size: 20px;
    font-weight: bold;
    color: #d7620c;
}

.cont-boxborder {
    width: 100%;
    height: 100%;
    border: 1px solid #dddddd;
    padding: 1em;
    background-color: #f0f6fd;
}

.cont-boxborder p {
    line-height: normal;
    margin: 0px;
    color: #666;
}

.cont-fa {
    color: #d7620c;
}

.minhight {
    min-height: 13em;
}


/* *************non-cleary*********** */

.acol-onea {
    position: relative;
    font-size: 24px;
    line-height: 66px;
    background-color: #025790;
    color: #fff;
    font-weight: bold;
    min-height: 70px;
    margin: 2px;
    text-align: center;
}

.bcol-twob {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #d7e4ec;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 70px;
    text-align: center;
}

.ccol-threec {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #d7e4ec;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 70px;
    text-align: center;
}

.acol-onea:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 22px solid #025790;
    border-bottom: 35px solid transparent;
}

.acol-onearight:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -22px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 22px solid #025790;
    border-bottom: 35px solid transparent;
}

.bcol-twob:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 22px solid #d7e4ec;
    border-bottom: 35px solid transparent;
}

.bcol-twobleft:after {
    position: absolute;
    content: "";
    top: 0px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 22px solid #d7e4ec;
    border-bottom: 35px solid transparent;
}

.ccol-threec:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 22px solid #d7e4ec;
    border-bottom: 35px solid transparent;
}

.rightarrow-onea {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #e3ecf3;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 70px;
    text-align: center;
}

.rightarrow-twob {
    position: relative;
    font-size: 13px;
    line-height: 17px;
    background-color: #e3ecf3;
    padding: 1.3em;
    color: #333;
    font-weight: bold;
    margin: 2px;
    min-height: 70px;
    text-align: center;
}

.rightarrow-onea:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -22px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 22px solid #e3ecf3;
    border-bottom: 35px solid transparent;
}

.rightarrow-twob:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -22px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 22px solid #e3ecf3;
    border-bottom: 35px solid transparent;
}

.styleul {
    text-decoration: none;
    list-style-type: none;
}

.ac-container article .years-subtitle a {
    color: #337ab7;
    text-decoration: none;
}

.ac-container article .years-subtitle a:hover {
    color: #23527c;
    text-decoration: none;
}

.ac-small .years-subtitle {
    margin-top: 15px;
    color: #337ab7;
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
}

.years-subtitle2 {
    color: #337ab7;
    font-size: 14px;
    margin-left: 20px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 4px;
    color: #777;
    ;
}

.mgt {
    margin-left: 10px;
}

.borderright {
    border-right: 1px solid #dddddd;
}

.datestyle {
    color: #337ab7;
    line-height: 21px;
    font-weight: bold;
    font-size: 14px;
    max-width: 79px;
}

.media-body ul li {
    line-height: 18px;
}

.widthleft {
    min-width: 83px;
}


/* OCD Sales page starts*/

.sales-bx-title {
    background-color: #f0f3f7;
    color: #666;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #c8d1e2;
    font-weight: bold;
}

.sales-bx {
    background-color: #fff;
    border: 1px solid #c8d1e2;
    padding: 25px 15px;
}

.btn-sales {
    color: #d7620c;
    background-color: #fff;
    border: 1px solid #d7620c;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 10px 15px 10px 10px;
    font-size: small;
    font-weight: bolder;
    /* line-height:10px; */
    /* margin-top:5px; */
}


/* .linehight{
        line-height: 7px;
} */

.btn-sales:hover {
    color: #fff;
    background-color: #d7620c;
}


/* OCD Sales page ends*/


/* search page starts*/

.search-page .checkbox {
    margin-top: auto;
}

.search-page hr {
    border-color: #c5c5c5;
    padding: 0;
    margin: 0 0 10px;
}

.search-page .btnfooter {
    border-top: 0;
}

.search-tab {
    padding-top: 15px;
}

.search-page .nav-tabs {
    text-transform: uppercase;
    margin-bottom: -1px;
}

.search-page .nav-tabs > li {
    margin-right: 10px;
    -webkit-box-shadow: -4px 0 5px -3px #BABABA, 0 -3px 5px -2px #BABABA, 2px 0 3px -2px #BABABA;
    box-shadow: -4px 0 5px -3px #BABABA, 0 -3px 5px -2px #BABABA, 2px 0 3px -2px #BABABA;
}

.search-page .nav-tabs > li > a {
    width: auto;
    font-weight: normal;
    color: #fff;
    background-color: #025690;
}

.search-page .nav-tabs > li > a:hover {
    border-bottom-color: transparent;
}

.search-page .nav-tabs > li.active > a,
.search-page .nav-tabs > li.active > a:hover,
.search-page .nav-tabs > li.active > a:focus {
    color: #333;
    background-color: #fff;
}

.search-page .fade.in {
    background-color: transparent !important;
}

.container-fluid >.btnfooter {
    padding: 5px 0 10px;
}

.no-radius {
    border-radius: 0;
}

.search-page .panel-body {
    padding: 0;
}

.search-page .search-results {
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-primary .panel-heading {
    background-color: #025690;
}

.panel-primary .panel-heading .action {
    color: #fff;
    text-decoration: none;
}

.panel-primary .panel-heading .action .glyphicon-minus {
    display: block;
}

.panel-primary .panel-heading .action .glyphicon-plus {
    display: none;
}

.panel-primary .panel-heading .action.collapsed .glyphicon-plus {
    display: block;
}

.panel-primary .panel-heading .action.collapsed .glyphicon-minus {
    display: none;
}

#search-results th {
    background-color: #93a1aa;
    color: #fff;
}


/* search page ends*/


/*--------------------------Sopan Style--------------------------*/

.category h4 {
    font-size: 1em !important;
    padding-top: 15px;
    text-align: left;
}

.category a:hover {
    color: #f38e12;
}

.category .clr {
    clear: both
}

.subcat {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    padding: 6px 0;
}

.subcat a:hover {
    color: #f38e12;
}

.categorylatterbg {
    background: #f1f1f1;
}

.categorylatter {
    font-size: 22px;
    padding: 5px 15px;
    background: #d7620c;
    color: #fff
}

.webcategory {
    border-top: solid 1px #b9b9b9;
    padding-top: 30px;
}

.webcategory p {
    padding: 0px;
    margin: 0;
    line-height: 15px;
}

.webcategory span {
    font-size: 0.9em;
    padding: 3px 0px 20px;
    display: block;
}

.sponsor-section {
    width: 100%;
    padding: 5px 10px;
    background: #f1f1f1;
    margin-bottom: 15px;
    border: solid 1px #b7b7b7;
}


/*--------------------------end Sopan Style--------------------------*/

select {
    width: 99% !important;
}

select.form-control.input-sm {
    width: auto !important;
    /* max-width: initial; */
}


/* -------biography--------- */

.biography {
    background-color: #7d081b;
    padding: 10px;
    color: #ffffff;
}

.bioherf {
    color: #ffffff;
}

.biography span {
    margin: 0;
    font-size: 1.2em;
    font-weight: 900;
    color: #ffffff;
}

.biography h6 a {
    color: #ffffff;
}

.biography h6 a:hover {
    color: #dcdcdc;
}

.btn-cancel {
    color: #ffffff;
    background-color: #025690;
    text-transform: uppercase;
    margin-top: 5px;
    font-family: 'Segoe UI';
    font-size: 14px;
}

select {
    width: 99% !important;
}


/******************************* Media Queries ********************************/

@media(max-width:1024px) {
    .mainvolume {
        background-color: #3088c8;
        padding: 1.8em;
        padding-top: 1em;
        margin-top: 1em;
    }
    .navbar-nav > li > a {
        margin-top: 9px !important;
        padding: 5px 9px;
        margin-bottom: 10px;
        margin-right: 6px;
    }
}

@media only screen and (max-width:480px) {
    .acol-one:before {
        position: absolute;
        content: "";
        top: 0px;
        left: -22px;
        width: 0;
        height: 0;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
    .rightarrow-one:after {
        position: absolute;
        content: "";
        top: 0px;
        right: -22px;
        width: 0;
        height: 0;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
    .rightarrow-two:after {
        position: absolute;
        content: "";
        top: 0px;
        right: -22px;
        width: 0;
        height: 0;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
    .bcol-two:before {
        position: absolute;
        content: "";
        top: 0px;
        left: -22px;
        width: 0;
        height: 0;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
    .ccol-three:before {
        position: absolute;
        content: "";
        top: 0px;
        left: -22px;
        width: 0;
        height: 0;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
    .pdlf {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
    }
    .mainvolume {
        background-color: #3088c8;
        padding: 1.8em;
        padding-top: 1em;
        margin-top: 1em;
    }
    h1 {
        margin-top: 0;
        font-size: 2.7em;
        font-weight: 900;
        color: #000;
    }
    .btn-primary {
        color: #065194;
        background-color: #FFFFFF;
        border: 2px solid #065194;
        border-radius: 0px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media only screen and (max-width:320px) {
    .acol-one {
        margin: 2px;
    }
    
}


/******************************* Media Queries ********************************/


/* view search */

.titlelable {
    font-size: 16px;
    font-weight: bold;
    color: #003399;

}



/*new css*/

.backgroud-white {
    background-color: #fff;
}


/*cycle-slideshow*/

.cycle-slideshow {
    position: relative;
    /*min-height: 365px;*/
    margin-bottom: 20px;
}

.cycle-control {
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 100%;
}

.cycle-control a {
    outline: 0;
    width: 45px;
    height: 65px;
    position: absolute;
    display: block;
    text-indent: -9999em;
}

.cycle-control a.prev {
    left: 0%;
    background: url(controls.png) no-repeat 0 3px;
}

.cycle-control a.next {
    right: -1.5%;
    background: url(controls.png) no-repeat -43px 3px;
}

.cycle-slideshow h3 {
    font-size: 16px;
    color: #025690;
    text-align: center;
    font-weight: bold;
    padding: 30px 0;
    margin: 0;
}

.cycle-slideshow .cycle-slide {
    width: 100% !important;
}

.orderbg h3 {
    margin-top: -12px;
}

.orderbgtwo {
    padding: 3px 17px!important;
    ;
}

.orderfm {
    margin-top: 4px!important;
    margin-left: 14px;
}

.pad-quantity .form-group {
    margin-bottom: 4px;
    margin-top: -12px;
}

.pad-quantity .form-control {
    height: 32px;
}

.pad-price {
    margin-top: -10px;
}

.pad-price .values {
    font-size: 16px!important;
}

.light-orange {
    font-size: 19px;
}

.pad-alt {
    padding-top: 0px;
    margin-top: -10px;
}

.accordion {
    display: block !important;
}

.signup {
    width: 55%;
    margin: 0 auto;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}


/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */

* html .ui-autocomplete {
    height: 200px;
}

.red {
    color: #a94442 !important;
}

input.AdvertiseInquirieEmailError {
    border: solid 1px red;
}

textarea.AdvertiseInquirieEmailError {
    border: solid 1px red;
}


/******************************* social Media my profile ********************************/

.iconfacebook {
    color: #3B5998;
}

.icotwitter {
    color: #33ccff;
}

.icolinledin {
    color: #007bb7;
}

.mgleft-nav {
    margin-left: 3px;
}

.bg-color {
    background-color: #e9e9e9;
}

.ui-menu .ui-menu-item-wrapper {
    font-size: 14px;
}
.skype_c2c_free_text_span{
    display:none !important;
}
.box-flex-one{
    display: flex;
}
.order-panel {
    position: relative;
    padding-bottom: 50px;
}
.order-panel a {
    position: absolute;
    bottom: 0;
}
.dropdown-menu>li>a
{
font-weight: 900;
}
.footerSpace
{
margin-top: 1200px;
}
.table-bordered>thead>tr>th
{

    background-color: #93a1aa;
    color: #fff;
}

.img-margin{

    margin-left: 7%;
}
.style-change{font-size:14px;line-height:21px;}
.list-group-submenu {margin-left:20px;}
.strong { font-weight: bold; }
.style-accordian{padding: 5px 20px;cursor: pointer;color: #777!important;line-height: 25px;font-size: 14px;
border: 1px solid #c8d1e2!important;background-color: #f0f3f7!important;font-weight: bold;text-align: left;}
.style-change-accod{font-size:14px;line-height:23px;margin-top: 10px;}    
.inner-style{background-color: white;border:1px solid #ddd;}    

.pad {padding-left: 0px!important;}
.pd-top{padding:15px 0 0 0;}


.text-style{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
    line-height: 10px;
}
.text-linehight{
    line-height: 19px;
}

.brows-style a{
    color: #fff;
   text-decoration: underline;
   margin-top: 0;

}

.navigation_margin{
    margin-right: 0px !important;
}


.dotted-border-bottom{

    border-bottom-style: 1px;
    border-bottom-style: dotted;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-color: #dadada;
    border-width: 1px 1px 1px 0;

}

.bx-wrapper {
    -moz-box-shadow: 0 0 5px #FFF !important;
    -webkit-box-shadow: 0 0 5px #FFF !important;
    box-shadow: 0 0 5px #fff !important;
    border: 5px solid #fff !important;
    background: #fff !important;
}

.bx-viewport{
    width: 100% !important;
    overflow: hidden !important;
    position: relative !important;
    height: auto!important;
}
.whatisthis{
    position: relative;
    top: 8px;
}
.box-align-bottom{
    margin-bottom: 3px !important;
}
.allof-check-box{
    margin-top: 18px;
    margin-left: -14px;
}

.mar-less{
    margin-bottom:0px !important;
}

.title-space{
        margin-bottom: 10px;
}