/******************											******************
****************** Media Queries Starts From Here whoooho!	******************
******************											*****************/
@media only screen and (min-width:768px) and (max-width:1200px){
     .visible-xs{display:block;} 
}
@media (min-width: 1200px){
/* .container{
width:1210px;
} */
}

@media (min-width: 1000px){

.mt3 {
	margin-top: 3.7em;
}
/* .mt1-desktop{margin-top:2em;margin-right:1em} */
.mt1 {margin-top: 2em!important;display:block;}

.mb {margin-bottom: -15px!important;}

.mt2 {margin-top: 1em!important;}

.mt05{margin-top: 0.5em!important;}

.ml{margin-left: -15px!important;}
.mr{margin-right: -15px!important;}

form.newsletter-form {
    padding: 10px;
    background-color: #d9d9d9;
   /* width: 38%;*/
}
.fa.fa-facebook, .fa.fa-twitter,.fa.fa-linkedin {
    width: 25px;
}

}
@media (min-width: 768px){
section.module.parallax {
	min-height: 700px;
}

.customer-content-bg {
	min-height: 700px;
	}
section.module.parallax-in {
  min-height: 420px;
}
}	

@media (min-width: 640px){
	.contact-map{
		width: 80%;
		height: 350px;
		}
     .tel-space 
     {display: none;
     }
	}
	
/* --------- --Media query for collapse menu- --------------  */

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;

  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
      margin-bottom: 0px;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{ margin-left: 0;}
  .navbar-collapse.in{overflow-y: auto !important;}
  .navbar-right{margin-right: 0;}
  
   section.module.parallax-1 {
    background-position:center;
   
    background-attachment: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position:100% 100%;
   
    }

    section.module.parallax-sales {
      background-position:top center !important;
      background-attachment: inherit;
       }
    .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e5e5e5; 
}

.img-margin {
    margin-left: 10%;
    width: 80%;
}

}

/* ----------- --Media query for collapse menu End- ------------  */

@media (max-width: 1100px){  
section.module.parallax,section.module.parallax-in{
    background-attachment: inherit;
    background-position: 50% 50%;
    }

}   
@media (max-width: 900px){	
	.bx {
	margin: 0 20px 20px;
    width: auto;
	}
}	

/*responsive code*/
@media (max-width: 770px){
    .mob-sign{
      width: 100%;
    }
    .saying-section{margin-top:373px;}
        section.module.parallax-1 {
    background-position: center;
    background-attachment: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position:100% 100%;
    }

    section.module.parallax-sales {
        -webkit-background-size: contain;
        background-size: contain;
        -moz-background-size: contain;
      -o-background-size: contain;
         background-position:top center !important;
          background-attachment: inherit;
       }
    #product ul li {
    text-align: left;
}
  .text-center-md {text-align: center !important;}

  .navbar-right .dropdown-menu{right:inherit;}
  .navbar-nav{

    overflow: auto;
    height: 295px;
  }
  .img-margin {
    margin-left: 10%;
    width: 80%;
}
}
	
@media (max-width: 640px){
  .sales-bx {
    background-color: #fff;
    border: 1px solid #c8d1e2;
    padding: 25px 15px;
    display:block;
}
.navbar-brand {width: 80%;}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{display: inline;}
.center-align, h4, h5,.links{text-align:center;}
.bg-spotlight,.bg-subscribe,.bg-feature{background-size: cover;}

#header .container-fluid,#header  .container{padding-left:0px; padding-right:0px;}
#header .nav-one-bg{width: 100%;}
#header .nav-two-bg{width: 25%; padding: 14px 8px 19px 10px;}
#header .nav-three-bg{width: 25%; padding: 14px 0;}
#header .nav-four-bg{width: 50%; padding: 0 10px;}

/****** navbar search ********/
/* .navbar{ margin-top: 5px;  margin-bottom: 13px; } */

.navbar-form{ margin-left: 15px;  box-shadow:none; padding:0px;}
.navbar-form .input-group{width: 100%; padding:10px}
.navbar-form {margin: 0 ; background-color: #dfb53f;
}

.navbar-form .form-control{ border-bottom-left-radius: 20px !important; border-top-left-radius: 20px !important; border:0;}

.navbar-form .input-group-btn:last-child > .btn {
    border: 1px solid #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
	background-color: #fff;
	}
/****** navbar search ********/
.newsletter-form .input-group-addon, .newsletter-form  .input-group-btn, .newsletter-form .input-group .form-control{display:inline;}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{margin-left:0px; margin-right:0px;}


.btn-burgundy{margin-left: 10px; margin-top:0px;}
.btn-twitter{margin-left: 0px;}

.newsletter-form .input-group {
    display: inline-table;
	width: 100%;
}

.bx {
	margin: 0 20px 20px;
    width: auto;
	}
	
h1 {
	text-align: center; 	
}
.ocd-title {
	text-align: center; 
}
.news-title {font-size: 2em;}
#customer{text-align: center}
#product{text-align: center}
#product ul li {border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.order-panel {
    padding-bottom: 10px;
    margin-bottom: 30px; 
}
.search-page .nav-tabs > li{width: 19%;}
.search-page .nav-tabs > li > a {
    width: auto;
    font-weight: normal;
    color: #fff;
    background-color: #025690;
    font-size: 11px;
    padding-right: 10px;
}

.cycle-slideshow h3 {
    font-size: 14px;
  }
  
}
@media (max-width: 480px){
#header .nav-one-bg{width: 100%;}
#header .nav-two-bg{width: 50%; padding: 8px 8px 8px 10px;}
#header .nav-three-bg{width: 50%; padding: 5px 0;}
#header .nav-four-bg{width: 100%; padding: 0 10px;}

.btn-burgundy{margin-left: 0px; margin-top:20px;}
 .box-flex-one {
    
    display:block;
}
.tel-space {max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 4px 0 3px;
    display: block;
  }
.search-page .nav-tabs > li{width: 30%;}
}
@media (max-width: 360px){
.navbar-brand{width: 83%; padding: 15px 0 0;}
.navbar-toggle{margin-right: 0px;}

 .box-flex-one {
    
    display:block;
}
.cycle-control {
    top: 14%;
    width: 120%;
    margin-left: -11%;
}

.search-page .nav-tabs > li{width: 30%;}
.search-page .nav-tabs > li > a {
    padding-right: 10px;
    font-size: 10px;
    font-weight: bold;
}
}
@media (max-width: 320px){
  .search-page .nav-tabs > li{width: 29%;}
  .search-page .nav-tabs > li > a {
    font-size: 10px;
    padding-left: 7px;
    font-weight: bold;
}
    .search-page .nav-tabs > li:nth-last-child(1) {
    margin-right: 0px;
}
    .clrg-space{ padding-right: 10px;
    padding-left: 10px;}

    .img-top-margin{
      margin-top: 102px;

 }
  }
@media (min-width:900px) and (max-width:1600px){
 
.banner-resopnsive{
 min-height:1024px!important;
}
}




/*media css for print*/
/*    
@media screen
{
   p.bodyText {font-family:verdana, arial, sans-serif;}
}

@media print
{
   p.bodyText {font-family:georgia, times, serif;}
        .dark-orange b {
 color: #d7620c!important;
}
.col-md-4{float:left!important;} 
}
@media screen, print
{
   p.bodyText {font-size:10pt}
    .col-md-3{float:left;width: 20%;}
          .dark-orange b {
 color: #d7620c!important;
}
.col-md-4{float:left!important;}
    

} */