   
   @media screen
   {
      p.bodyText {font-family:verdana, arial, sans-serif;}
   }

   @media print
   {
      p.bodyText {font-family:georgia, times, serif;}
   }
   @media screen, print
   {
      p.bodyText {font-size:10pt}
	  .inline-print{float:left;width: 20%;}
	  .dark-orange {color: #d7620c !important;}
	  .dark-orange  b{color: #d7620c !important;}
     .personnel .col-xs-6{ float:left !important; width: 20% !important; }
	  
   }
 