/* .ac-container{
	
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	 font-family: 'Segoe UI';
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	
	cursor: pointer;
	color: #777;
	line-height: 25px;
	font-size: 14px;
	border:1px solid #c8d1e2;
	background-color:#f0f3f7;
	} */
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}

.ac-container article p{
	
	color: #777;
	line-height: 18px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: auto;
}
.ac-container input:checked ~ article.ac-medium{
	height: auto;
}
.ac-container input:checked ~ article.ac-large{
	height: auto;
}
.italic-info{
margin-top:10px;
color:#c9c9c9c9;
font-size:1.1em;
margin-left:20px;
font-weight:600;

}
.arrow-space{
margin-right:5px;


}
.styleul{
text-decoration:none;
list-style-type:none;


}
.ac-container article .years-subtitle a{
 color: #337ab7;
    text-decoration: none;
}
   .ac-container article .years-subtitle a:hover{
 color: #23527c;
    text-decoration: none;
}
.years-subtitle{
margin-top:15px;
color:#337ab7;
font-size:14px;
margin-left:20px;
font-weight:bold;

}
.years-subtitle2{

color:#337ab7;
font-size:14px;
margin-left:20px;
margin-right:15px;
font-weight:normal;
line-height:18px;
margin-top:4px;
color:#777;;

} */
/*urmila start*/
.ac-container ul{
	font-size:14px;
	 list-style-type: decimal;
	}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px; 
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


button.accordion {
	font-family: 'Segoe UI';
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #777;
    line-height: 25px;
    font-size: 14px;
    border: 1px solid #c8d1e2;
    background-color: #f0f3f7;
	width:100%;
	font-weight:bold;
	text-align:left;
	margin-bottom:5px;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
	    border: 1px solid #ddd;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}