/* ============================================================
  SECTIONS
============================================================ */
#preloader { position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; height: 100%; overflow: visible; background: #FFF url('loading.gif') no-repeat center center;}
Custom Styles section.module:last-child {
	margin-bottom: 0;
}
section.module h2 {
	/* margin-bottom: 40px;
	font-family: "Roboto Slab", serif; */
	font-size: 30px;
}
section.module p {
	/*margin-bottom: 140px;*/
	font-size: 16px;
	font-weight: 300;
}
section.module p:last-child {
	margin-bottom: 0;
}
section.module.content {
	padding: 40px 0 50px 0;
}
section.module.content-one {
	padding: 70px 0 50px 0;
}
section.module.content-two {
	padding: 70px 0 50px 0;
}
section.module.content-two-two {
	padding: 0px 0 50px 0;
}
section.module.content-three {
  padding: 40px 0 40px 0;
}
section.module.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
section.module.parallax h1 { 
	/* padding-top: 100px; */
}
section.module.parallax-1 {
	background-image: url("banner.jpg");
}
section.module.parallax-2 {
	background-image: url("products.jpg");
}
section.module.parallax-3 {
	background-image: url("../img/demo/_small/3.jpg");
}
section.module.parallax-news {
	background-color: #e6e5e5;
}
section.module.parallax-about {
	background-color: #025690;
}
section.module.parallax-services {
	background-image: url("../img/services-banner.jpg");
}
section.module.parallax-customer {
	background-image: url("customer-banner.jpg");
}
section.module.parallax-sales {
	background-image: url("sales.jpg");/*  min-height: 938px !important; */
	 background-position: 108% 74% !important;
 background-size: cover;
 -webkit-background-size: cover;
    -moz-background-size: cover;
}
section.module.parallax-advertising {
	background-image: url("advertising.jpg");
	background-position: 50% 50px;
}
section.module.parallax-contact {
	background-color: #fff ;
}

section.module.parallax-mailing-list-banner{
	background-image: url("mailing-list-banner.jpg");
}
section.module.parallax-mailing-list-banner01{
	background-image: url("mailing-list-banner01.jpg");
}
section.module.parallax-mailing-list-bannerAAD{
	/*previous aad/mailing-list-banner-aad.jpg*/
	background-image: url("mailing-list-banner-aad.jpg");
}
section.module.parallax-mailing-list-bannerDMMP{
	background-image: url("mailing-list-bannerDMMP.jpg");
}section.module.parallax-mailing-list-bannerCFS{
	background-image: url("mailing-list-bannerCFS.jpg");
}
.login-btn {
    background: #f48e12;
    color: #fff !important;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.modal-title h4 {
    font-size: 22px;
    color: #000000;
    text-align: center;
}

/* section.module.parallax-in {
	background-position: center 0%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	min-height: 220px;
} */

section.module.parallax-in {
	background-position: center 0%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* section.module.parallax-contact {
    background-image: url("../img/contact-map.jpg");
    text-align: center;
} */


.advert {
    background-color: rgba(0,0,0,0.4);
}

.form-control{border-radius: 0px; border: 1px solid #ddd;}
.dropdown-menu{border-radius: 0px; border: 1px solid #ddd}


/*customer*/
.customer-one {
	background-image: url("../img/careers-one.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 400px;
	margin-bottom: 0 !important;
	width:70%;
}
/*customer*/
.col-md-12.test-test {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar-brand {
	padding: 7px 15px 0px 15px;
}
.div-shadow {
	box-shadow: 0px -1px 15px #333333;
	-webkit-box-shadow: 0px -1px 15px #333333;
	-moz-box-shadow: 0px -1px 15px #333333;
}
/* @media(max-width:800px) { h1{font-size: 18px !important; height:167px !important;}}
 @media(max-width:480px) { h1{font-size: 18px !important; height:150px !important;}} */




 @media all and (min-width: 600px) {
section.module h2 {
	font-size: 38px;
}
section.module p {
	font-size: 18px;
}
section.module  .intro-txt {
    font-size: 18px;
	text-align:justify;
}
section.module .testi_text {
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
}
section.module.parallax h1 {
	font-family: "SegoeUI-Semibold","Helvetica Neue",Helvetica,Arial,sans-serif;
}
}


@media all and (min-width: 300px){
	section.module.parallax h1{font-weight: bold;}
}
@media all and (max-width: 1920px) {
	section.module.parallax h1 {}
}








#topcontrol {
	background: #5d80a1;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	z-index: 30;
}
#topcontrol:hover {
	background: #384d60;
}
#topcontrol .fa {
	position: relative;
	top: 3px;
	font-size: 25px;
}
.footer {
	background: none repeat scroll 0 0 #222325;
	color: #fff;
	font-size: 14px;
	padding-top: 40px;
	position: relative;
	z-index: 20;
}
.footer p {
	opacity: 0.5;
}
.footer .btn-cta, .footer a.btn-cta {
	padding: 9px 10px;
}
.footer .footer-col.links .fa {
	margin-right: 5px;
}
.footer .footer-col.links li {
	margin-bottom: 10px;
}
.footer .footer-col.connect .social {
	margin-bottom: 15px;
	overflow: hidden;
}
.footer .footer-col.connect .social li {
	margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
	color: #b3b3b3;
	font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
	color: #ec6952;
}
.footer .footer-col.connect .btn-cta-primary {
	background: none repeat scroll 0 0 #5d80a1;
	border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
	background: none repeat scroll 0 0 #4a6781;
	border-color: #4a6781;
}
.footer .footer-col .title {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
	margin-top: 0;
	opacity: 0.9;
}
.footer .footer-col p {
	color: #fff;
}
.footer .footer-col a {
	color: #6d8dab;
}
.footer .footer-col a:hover {
	color: #8da6bd;
}
.footer .footer-col .navbar-form {
	padding-left: 0;
	padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
	opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
	opacity: 1;
}
.footer .has-divider {
	border-top: 1px solid #2b3b4a;
	padding-bottom: 30px;
	padding-top: 30px;
}
.footer .download .download-list li {
	margin-bottom: 15px;
}
.footer .download .download-list li .btn-ghost {
	opacity: 0.6;
	text-align: left;
	width: 230px;
}
.footer .download .download-list li .btn-ghost:hover {
	opacity: 1;
}
.footer .contact p {
	opacity: 0.5;
}
.footer .contact p a {
	opacity: 1;
}
.footer .contact .fa {
	font-size: 20px;
	margin-right: 10px;
}
.footer .contact .email .fa {
	font-size: 16px;
}
.footer .bottom-bar {
	background: none repeat scroll 0 0 #1e1e1e;
	color: #b3b3b3;
	font-size: 14px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px 0;
}
.footer .bottom-bar .copyright {
	line-height: 1.6;
}
.white-bg {
	/* background-color: #FFF !important; */
}

.black-bg {
	background-color: #000;
}
div#back_to_top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 46px;
	height: 46px;
	z-index: 99;
}
div#back_to_top a {
	display: block;
	line-height: 50px;
	color: #FFF;
	background-color: #666;
	text-decoration: none;
	text-align: center;/*border-radius: 20px;*/
	outline: medium none;
}
div#back_to_top a:hover {
	background-color: #333;
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}

h1.pic-title {
  color: #fff;
}
.pic p {
  color: #fff;
}

.widget-box {
    border: 1px solid #ccc;
    box-shadow: none;
    margin: 3px 0;
    padding: 0;
}
.appl{ font-size:15px; padding-bottom:0.8em; font-weight: bold;}
.tdw{width:35%;}
.tdw1{width:20%;}


/*testimonial*/



.testimonial {
    
	height:107px;
	overflow:hidden;
    background: #E9EAEA;
    padding: 5px 10px;

    font-family: Georgia, serif;
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #ECFBFF;
	

}

.testimonial:before, .testimonial:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
	display:none;
}

.testimonial:before {
    top: 0;
    left: 10px;
}

.testimonial:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #E6E6E6;
    margin: 0 0 0 25px;
}

.testimonial-author {
    margin: 0 0 0 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    text-align:left;
}

.testimonial-author span {
    font-size: 12px;
    color: #666;
}​



.highlight {
    width: 100%;
    height: 1px; 
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(left top, rgba(255,255,255,0.0), rgba(255,255,255,0.6) 35%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0));
	background: -moz-linear-gradient(left top, rgba(255,255,255,0.0), rgba(255,255,255,0.6) 35%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0));
	background: -ms-linear-gradient(left top, rgba(255,255,255,0.0), rgba(255,255,255,0.6) 35%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0));
	background: -o-linear-gradient(left top, rgba(255,255,255,0.0), rgba(255,255,255,0.6) 35%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0));
	background: linear-gradient(left top, rgba(255,255,255,0.0), rgba(255,255,255,0.6) 35%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0));
    opacity: 0.2;
	
    -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

button:hover .highlight {
    opacity: 1;
}
button:hover {
    color: #FFF;
}
.container_div_width{width:100% !important;}


.tm{margin-top:5px;}
.bm{margin-bottom:5px;}
.mt90{margin-top: 92px;}
.pl{padding-left:10px;}
.pr{padding-right:10px;}
.navbar-custom{background: rgba(255,255,255,.7) !important;}
.testi-img img{ width: 65px;border: 1px solid #ccc;margin-left: 8px;margin-top: 5px;}
section.module .text_jst {  font-size: 18px; text-align:justify;}
/*testimonial end*/


.ser_mt_mb{margin-top: 25px;margin-bottom: 0;}
.foot_font{font-size: 12px !important; color: #8E8E8E !important;}



/*----------------------------------------sopan style------------------------*/
#myLogin .forgot-pass{color:#fff!important; padding:15px 0px; text-align:left}
#myLogin .forgot-pass a{color:#fff!important;}
#myLogin .register{color:#fff!important; padding:15px 0px; text-align:right}
#myLogin .register a{color:#fff!important;}
#myLogin .modal-title h4{font-size:40px; color:#fff; text-align:center}
#myLogin .login-btn{background: #f48e12; color: #fff !important; width:100%; padding: 10px 0;text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;}
#myLogin  input{padding: 22px 10px;background:rgba(255, 255, 255, 1); color: #333;font-size: 16px; outline: none; border: none;}
#myLogin  .input-group-addon{border-radius: 0 !important; background: #fff; color:#bbbab9; border: 0;}

#Forgot .modal-title h4{font-size:22px; color:#fff; text-align:center}
#Forgot .login-btn{background: #f48e12; color: #fff !important; width:100%; padding: 10px 0;text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;}
#Forgot  input{padding: 22px 10px;background:rgba(255, 255, 255, 1); color: #333;font-size: 16px; outline: none; border: none;}
#Forgot  .input-group-addon{border-radius: 0 !important; background: #fff; color:#bbbab9; border: 0;}

#Register .modal-title h4{font-size:22px; color:#fff; text-align:center}
#Register .login-btn{background: #f48e12; color: #fff !important; width:100%; padding: 10px 0;text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;}
#Register  input{padding: 22px 10px;background:rgba(255, 255, 255, 1); color: #333;font-size: 16px; outline: none; border: none;}
#Register  .input-group-addon{border-radius: 0 !important; background: #fff; color:#bbbab9; border: 0;}
/*----------------------------------------sopan style------------------------*/

/*--------------------------Sopan Style--------------------------*/
.clr{clear:both}

.subscribe h5{text-transform: uppercase;}
.subscribe .box{border:solid 1px #ddd; padding:15px; text-align:center;min-height: 226px; max-height: 250px;}
.subscribe .box p{font-size:16px; color:#000}
.subscribe .box h1{font-size: 32px; color:#025690}
.subscribe .box h3{font-size: 18px;}
.subscribe .box .btn{font-size: 14px; width:100%; padding:5px; background:#025690; color:#fff;margin: 5px 0; font-weight: bold}
.subscribe .details p{padding:25px 0; font-size:14px; line-height: 20px;}
.subscribe table {font-size:14px; width:100%;}      
.subscribe  td:first-child {vertical-align: top; padding: 0 5px; width: 20px;}   
.subscribe .search-form h5{ margin: 15px 0 !important;font-size: 1.6em !important;font-weight: 900 !important;
    color: #d7620c !important;text-transform: uppercase;padding: 15px 0;border-top: solid 1px #ddd;border-bottom: solid 1px #ddd;
 }
.subscribe .bxslider h3{font-size: 16px;color: #025690;text-align: center;font-weight: bold; margin: 30px 0;}
/*--------------------------end Sopan Style--------------------------*/