/* ============================================================
  TABS
============================================================ */


.nav-tabs > li > a{border-radius: 0; text-align: center; font-size: 14px; line-height: 14px;     font-weight: bold;     width: 130px; color: #999999; margin-right: 0px;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #d7620c;}

.responsive-tabs-container.accordion-xs.accordion-sm {
    border: 1px solid #ddd;
}

.tab-content > .active{padding: 10px;}
.tab-content-txt	{    	font-size: 13px;    line-height: 15px;    font-weight: bold;     margin-bottom: 20px;}
.tab-content-txt span{	display: block;    margin-top: 6px;    font-weight: normal;	color: #999999;	}
.btn-events {
    color: #333333;
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 7px 15px;
    font-size: small;
    font-weight: bolder;
}
.btn-events:hover {color: #d7620c;
    border-color: #d7620c;}