<div class="modal-header">
    <h3 class="modal-title">Activities</h3>
</div>
<form name="popupForm" ng-submit="editFlag ? update() :add()">
    <div class="modal-body">
        <div class="well well-sm">
            <div class="form-group">
                <div class="form-group" ng-class="{'has-error': popupForm.sequenceNo.$touched && popupForm.sequenceNo.$invalid}">
                    <label>Sequence No.</label>
                    <input type="text" class="form-control" name="sequenceNo" ng-model="activity.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                    <div class="help-block" ng-messages="popupForm.sequenceNo.$error" ng-show="popupForm.sequenceNo.$touched && popupForm.sequenceNo.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <label>Educational Department(s)</label>
                <input type="text" class="form-control" ng-model="activity.educationDept">
            </div>
            <div class="form-group">
                <label>Lecture Award</label>
                <input type="text" class="form-control" ng-model="activity.lecturesAwards">
            </div>
            <div class="form-group">
                <label>External Department(s)</label>
                <input type="text" class="form-control" ng-model="activity.extensionDept">
            </div>
            <div class="form-group">
                <label>Book travel Exhibition</label>
                <input type="text" class="form-control" ng-model="activity.bookTravelingExhib">
            </div>
            <div class="form-group">
                <label>Orginal Travel Exhibition</label>
                <input type="text" class="form-control" ng-model="activity.origiTravelingExhib">
            </div>
            <div class="form-group">
                <label>Museum Shop</label>
                <input type="text" class="form-control" ng-model="activity.museumShop">
            </div>
            <div class="form-group">
                <label>Junior Museum</label>
                <input type="text" class="form-control" ng-model="activity.juniorMuseum">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
        <button class="btn btn-primary" type="submit" ng-disabled="loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
    </div>
</form>
