<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Book Edition":"Book Edition")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="editionForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group" ng-class="{'has-error': editionForm.editionNo.$touched && editionForm.editionNo.$invalid}">
                            <label for="pwd">Edition No.<span class="meditator">*</span></label>
                            <input type="text" class="form-control" name="editionNo" ng-model="bookEditions.edition" validate-this="editionNo" validate-as="digits" required>
                            <div class="help-block" ng-messages="editionForm.editionNo.$error" ng-show="editionForm.editionNo.$touched && editionForm.editionNo.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.editionNo.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Nom Source</label>
                            <input type="text" class="form-control" ng-model="bookEditions.nomSource">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Edition Respond</label>
                            <input type="text" class="form-control" ng-model="bookEditions.editionRespond">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Status</label>
                            <ui-select ng-model="bookEditions.status" on-select="bookEditions.statusValue = $item.codeValue">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisstatus._id as thisstatus in statusTypeArray">
                                    <span ng-bind="thisstatus.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Kill Comment</label>
                            <input type="text" class="form-control" ng-model="bookEditions.killComment">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Editorial Comment</label>
                            <input type="text" class="form-control" ng-model="bookEditions.editorialComment">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Research Comment</label>
                            <input type="text" class="form-control" ng-model="bookEditions.researchComment">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Permanent Comment</label>
                            <input type="text" class="form-control" ng-model="bookEditions.permanentComment">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group ">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="bookEditions.mustField">
                                <span class="lbl"> <b>Must Field</b></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="editionForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
