<div class=" abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Former Name":"Former Name")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="formernamesForm">
        <div class="widget-body ">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': formernamesForm.formerName.$touched && formernamesForm.formerName.$invalid}">
                    <label for="pwd">Name<span class="meditator">*</span></label>
                    <input type="text" class="form-control" name="formerName" ng-model="formerName.name" required>
                    <div class="help-block" ng-messages="formernamesForm.formerName.$error" ng-show="formernamesForm.formerName.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Suffix</label>
                    <input type="text" class="form-control" name="formerName" ng-model="formerName.suffix">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="formernamesForm.$invalid || loading">
                    <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                </button>
                <a type="button" class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
            </div>
    </form>
    </div>
