<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-md-12">
                <div class="">
                    <span class="addnewt">Art School</span>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Courses Offered</label>
                                <input type="text" class="form-control" name="courseOffered" ng-model="organization.artSchool[0].coursesOffered">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Enrollment</label>
                                <input type="text" class="form-control" name="Enrollment" ng-model="organization.artSchool[0].enrollment">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tuition</label>
                                <input type="text" class="form-control" name="Tuition" ng-model="organization.artSchool[0].tuition">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Instructor</label>
                                <input type="text" class="form-control" name="Tuition" ng-model="organization.artSchool[0].instructors">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Control</label>
                                <input type="text" class="form-control" name="Tuition" ng-model="organization.artSchool[0].control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Class Time</label>
                                <input type="text" class="form-control" name="Tuition" ng-model="organization.artSchool[0].classTime">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Adult Hobby Classes</label>
                                <input type="text" class="form-control" name="adulthobbyClasses" ng-model="organization.artSchool[0].adultHobbyClass">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Children's Classes</label>
                                <input type="text" class="form-control" name="children'sClasses" ng-model="organization.artSchool[0].childrenClasses">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Summer School</label>
                                <input type="text" class="form-control" name="summerSchool" ng-model="organization.artSchool[0].summerSchool">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Entrance Required</label>
                                <input type="text" class="form-control" name="Tuition" ng-model="organization.artSchool[0].entranceRequired">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Degree Granted</label>
                                <input type="text" class="form-control" name="summerSchool" ng-model="organization.artSchool[0].degreeGranted">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Scholarship Fellowships</label>
                                <input type="text" class="form-control" name="summerSchool" ng-model="organization.artSchool[0].scholarshipFellowships">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.artSchool[0].scholarship">
                                    <span class="lbl"> Scholarship</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.artSchool[0].fellowships">
                                    <span class="lbl"> Fellowship</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.artSchool[0].assistantships">
                                    <span class="lbl"> Assistantship</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2 " ng-model="organization.artSchool[0].grants">
                                    <span class="lbl"> Grants</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.artSchool[0].loans">
                                    <span class="lbl "> Loans</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.artSchool[0].workStudy">
                                    <span class="lbl"> Work Study</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.artSchool[0].financialAid">
                                    <span class="lbl"> Financial Aid</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-md-12">
                <div class="">
                    <span class="addnewt">Activities</span>
                    <div class="space-10"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" ng-class="{'has-error': addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid}">
                                <label for="pwd">Sequence No.</label>
                                <input type="text" class="form-control" name="sequenceNo" ng-model="organization.activities.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                                <div class="help-block" ng-messages="addForm.sequenceNo.$error" ng-show="addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Education Programs</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.educationDept">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Lectures/Awards</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.lecturesAwards">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Extension Programs</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.extensionDept">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Scholarships</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.scholarships">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Book Travel Exhibition</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.bookTravelingExhib">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Originates Traveling Exhibitions</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.origiTravelingExhib">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Museum Shop</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.museumShop">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Junior Museum</label>
                                <input type="text" class="form-control" name="name" ng-model="organization.activities.juniorMuseum">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFeaturePopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Features</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Type</th>
                        <th>Feature</th>
                        <th>Description</th>
                        <th>Major Indexed</th>
                        <th>Index Indication</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null && feature.deleted != true">
                        <td class="text-center">{{ feature.sequenceNo }}</td>
                        <td>{{feature.featureType}}</td>
                        <td>{{feature.code.codeValue}}</td>
                        <td>{{feature.name}}</td>
                        <td>{{feature.majorIndex}}</td>
                        <td>{{feature.indexIndication}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openFeaturePopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Features')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openExhibitionPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Exhibitions</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Show Date</th>
                        <!-- <th>Travel</th> -->
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exhibition in organization.exhibition" ng-if="exhibition.exhibitName != null">
                        <td class="text-center">{{exhibition.sequenceNumber}}</td>
                        <td>{{exhibition.exhibitName}}</td>
                        <td>{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}</td>
                        <td>{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}</td>
                        <td>{{exhibition.showDate}}</td>
                        <!-- <td>{{exhibition.travelFlag}}</td> -->
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openExhibitionPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Exhibition')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openPublicationsPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Publications</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th> Description</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="publication in organization.publication" ng-if="publication.deleted != true">
                        <td class="text-center">{{publication.sequenceNumber}}</td>
                        <td>{{publication.description}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openPublicationsPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Publications')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
