<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div ng-hide="editState">
                    <div class="form-group" ng-class="{'has-error': addForm.orgId.$touched && addForm.orgId.$invalid}">
                        <label>Organization ID</label>
                        <input type="text" class="form-control" name="orgId" ng-model="organization.org_id" validate-this="orgId" validate-as="digits" ng-disabled="editStateDisable">
                        <div class="help-block" ng-messages="addForm.orgId.$error" ng-show="addForm.orgId.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.orgId.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Classification Code</label>
                    <ui-select ng-model="organization.classificationCode">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisClassificationCode._id as thisClassificationCode in (classificationCodeArray | filter: $select.search) track by thisClassificationCode._id">
                            <span ng-bind="thisClassificationCode.codeValue"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="pwd">Parent Organization/Association</label>
                    <input type="text" ng-model="organization.parentId" uib-typeahead="organization as organization.name for organization in getOrganizationForTypeAhead($viewValue)" typeahead-input-formatter="formatOrgTypeAhead($model)" typeahead-editable="false" typeahead-on-select="selectOrgTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingOragnization" typeahead-wait-ms="300" typeahead-no-results="noResultsOrganization" class="form-control" placeholder="Select organization" ng-blur="organization.name = organization.parentId.name">
                    <i ng-show="loadingOragnization" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultsOrganization">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Section</label>
                    <ui-select ng-model="organization.sectionCode[0]">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue + ' (' + $select.selected.description + ')'"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisSection._id as thisSection in (sectionArray | filter: $select.search) track by thisSection._id">
                            <span ng-bind="thisSection.codeValue + ' (' + thisSection.description + ')'"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid}">
                    <label for="pwd">Sequence No.</label>
                    <input type="text" class="form-control" name="sequenceNo" ng-model="organization.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.sequenceNo.$error" ng-show="addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.name.$touched && addForm.name.$invalid}">
                    <label for="pwd">Name<span class="meditator">*</span></label>
                    <input type="text" class="form-control" name="name" ng-model="organization.name" required validate-is-name-unique except-organization-id="{{ organization._id }}" parent-name="{{ organization.parentId.name }}" ng-readonly="organization.parentId">
                    <div class="help-block" ng-messages="addForm.name.$error" ng-show="addForm.name.$touched">
                        <div ng-message="required">Please fill this field</div>
                        <p ng-message="validateIsNameUnique"><b>{{organization.name}}</b> already exists</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Minor Name</label>
                    <input type="text" class="form-control" name="shortName" ng-model="organization.shortName">
                </div>
                <div class="form-group">
                    <label>Name Suffix</label>
                    <input type="text" class="form-control" ng-model="organization.nameSuffix">
                </div>
                <div class="form-group">
                    <label>Additional Info</label>
                    <input type="text" class="form-control" ng-model="organization.additionalInformation">
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Sub Number</label>
                    <input type="text" class="form-control" name="subNo" ng-model="organization.sub_nbr" validate-this="subNo" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.subNo.$error" ng-show="addForm.subNo.$touched">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.subNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label>Status</label>
                    <select class="form-control" ng-model="organization.status" ng-options="thisRecordStatus._id as thisRecordStatus.codeValue for thisRecordStatus in recordStatusArray track by thisRecordStatus._id">
                        <option value="">Select</option>
                    </select> -->
                    <label>Status</label>
                    <ui-select ng-model="organization.status">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in recordStatusArray">
                            <span ng-bind="thisRecordStatus.codeValue"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!-- <div class="form-group">
                    <label>Established Year</label>
                    <input type="text" class="form-control" name="estd" ng-model="organization.established.year">
                </div> -->
                <div class="form-group">
                    <!-- <label>Established Description</label> -->
                    <label>Established</label>
                    <textarea class="form-control" rows="5" name="institutionType" ng-model="organization.established.detail"></textarea>
                </div>
                <div class="form-group">
                    <label>Hours Open to the Public</label>
                    <input type="text" class="form-control" name="congressDistrict" ng-model="organization.timing">
                </div>
                <div class="form-group">
                    <label>Annual Attendance</label>
                    <input type="text" class="form-control" name="attendanceCount" ng-model="organization.attendance.count">
                </div>
                <div class="form-group">
                    <label>Admission Fees</label>
                    <input type="text" class="form-control" name="method" ng-model="organization.feeStructure">
                </div>
                <div class="form-group">
                    <label>Comments</label>
                    <input type="text" class="form-control" name="method" ng-model="organization.comments[0]">
                </div>
                <div class="form=group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.minorNameIndexIndication">
                        <span class="lbl"> Minor Name Index Indication</span></label>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Sort Major Name</label>
                    <input type="text" class="form-control" name="sortMajor" ng-model="organization.sortMajorName">
                </div>
                <div class="form-group">
                    <label>Sort Minor Name</label>
                    <input type="text" class="form-control" name="sortMinor" ng-model="organization.sortMinorName">
                </div>
                <div class="form-group">
                    <label>Operating Income</label>
                    <input type="text" class="form-control" name="method" ng-model="organization.income">
                </div>
                <!-- <div class="form-group">
                    <label>Operating Expense</label>
                    <input type="text" class="form-control" name="method" ng-model="organization.expenses">
                </div> -->
                <div class="form-group">
                    <label>Purchases ($)</label>
                    <input type="text" class="form-control" name="method" ng-model="organization.purchases">
                </div>
                <div class="form-group">
                    <label>Gallery Description</label>
                    <textarea class="form-control" rows="5" name="institutionType" ng-model="organization.galleryDescription"></textarea>
                </div>
                <div class="form-group">
                    <label>Membership</label>
                    <textarea class="form-control" rows="5" name="membership" ng-model="organization.membership"></textarea>
                </div>
                <div class="form-group">
                    <label>Circulation</label>
                    <input type="text" class="form-control" name="circulation" ng-model="organization.circulation">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFormerNamesPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Former Name(s)</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Name</th>
                        <th>Suffix</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && formerName.deleted != true">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{formerName.name}}</td>
                        <td>{{formerName.suffix}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openFormerNamesPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'FormerName(s)')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openBookEditionPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Book Edition(s)</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Edition</th>
                        <th>Nom Source</th>
                        <th>Edition Respond</th>
                        <th>Status</th>
                        <th>Kill Comment</th>
                        <th>Editorial Comment</th>
                        <th>Research Comment</th>
                        <th>Permanent Comment</th>
                        <th>Must Field</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bookEditions in organization.bookEdition" ng-if="bookEditions.deleted != true">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{bookEditions.edition}}</td>
                        <td>{{bookEditions.nomSource}}</td>
                        <td>{{bookEditions.editionRespond}}</td>
                        <td>{{bookEditions.statusValue}}</td>
                        <td>{{bookEditions.killComment}}</td>
                        <td>{{bookEditions.editorialComment}}</td>
                        <td>{{bookEditions.researchComment}}</td>
                        <td>{{bookEditions.permanentComment}}</td>
                        <td>{{bookEditions.mustField ? "YES":(bookEditions.mustField === false ? "NO" : "")}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openBookEditionPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Book Edition(s)')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
