<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="addnewt contacttop">
                <span>Contacts</span>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <label>Phone No.</label>
                    <input type="text" class="form-control" name="phoneno" ng-model="organization.contact.phoneNumbers">
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.faxNumbers">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.primaryEmail.$touched && addForm.primaryEmail.$invalid}">
                    <label>Primary Email</label>
                    <input type="text" class="form-control" name="primaryEmail" ng-model="organization.contact.emails.primary" validate-this="primaryEmail" validate-as="email">
                    <div class="help-block" ng-messages="addForm.primaryEmail.$error" ng-show="addForm.primaryEmail.$touched">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.primaryEmail.email">Invalid Email</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.secondaryEmail.$touched && addForm.secondaryEmail.$invalid}">
                    <label>Secondary Email</label>
                    <input type="text" class="form-control" name="secondaryEmail" ng-model="organization.contact.emails.secondary" validate-this="secondaryEmail" validate-as="email">
                    <div class="help-block" ng-messages="addForm.secondaryEmail.$error" ng-show="addForm.secondaryEmail.$touched">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.secondaryEmail.email">Invalid Email</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Websites</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.websites">
                </div>
                <div class="form-group">
                    <label>Social</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.social">
                </div>
                <div class="form-group">
                    <label>Pager</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.pager">
                </div>
                <div class="form-group">
                    <label>Mobile No.</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.mobile">
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Wats</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.wats">
                </div>
                <div class="form-group">
                    <label>FTS</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.fts">
                </div>
                <div class="form-group">
                    <label>TWX</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.twx">
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.contact.printFlag">
                        <span class="lbl"></span> Print Flag
                    </label>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Cable</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.cable">
                </div>
                <div class="form-group">
                    <label>Telex Number</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.telexNumbers">
                </div>
                <div class="form-group">
                    <label>Other</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.others">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openAddressPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Address</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Nixie Index</th>
                            <th>Mailing Index</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in organization.address" ng-if="address.cityName != null && address.deleted != true">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <!--   <td>{{addressTypes[address.addressType] || ""}}</td> -->
                            <td>{{address.addressType.description}}</td>
                            <td>
                                <b>Street 1: </b>{{address.street1}}
                                <br>
                                <b>Street 2: </b>{{address.street2}}
                                <br>
                                <b>City: </b>{{address.cityName}}
                                <br>
                                <b> State/Territory: </b>{{address.stateName}}
                                <br>
                                <b>Country: </b>{{address.countryName}}
                                <br>
                                <b>Zip: </b>{{address.zip}}
                                <br>
                                <b>Comment: </b>{{address.comments}}
                                <br>
                                <b>Nixie Date: </b>{{address.nixieDate}}
                                <br>
                                <b>Nixie Comment: </b>{{address.nixieComments}}
                                <br>
                            </td>
                            <td>{{ address.nixieIndex ? "YES" : (address.nixieIndex === false ? "NO" : "") }}</td>
                            <td>{{ address.mailingIndex ? "YES" : (address.mailingIndex === false ? "NO" : "") }}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openAddressPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Address')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
