<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <!-- Record History end-->
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- History Details start-->
                    <div class="row inforowcolor">
                        <div class="col-md-4">
                            <label>Date & Time</label>
                            <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                            <label>Comments</label>
                            <br>{{ versions[indexPos].comments }}</br>
                        </div>
                        <div class="col-md-4">
                            <label> Record History Details</label>
                            <br>{{ versions[indexPos].status.description }}</br>
                        </div>
                        <div class="col-md-4">
                            <label> By</label>
                            <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                                <br>
                                <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <span class="addnewt">Art School</span>
                                <div class="space-10"></div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Courses Offered</label>
                                        <div ng-if="organization.artSchool[0].coursesOffered == originalOrg.artSchool[0].coursesOffered">
                                            <p>{{organization.artSchool[0].coursesOffered}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].coursesOffered != originalOrg.artSchool[0].coursesOffered">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].coursesOffered}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].coursesOffered}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Enrollment</label>
                                        <div ng-if="organization.artSchool[0].enrollment == originalOrg.artSchool[0].enrollment">
                                            <p>{{organization.artSchool[0].enrollment}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].enrollment != originalOrg.artSchool[0].enrollment">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].enrollment}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].enrollment}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Tuition</label>
                                        <div ng-if="organization.artSchool[0].tuition == originalOrg.artSchool[0].tuition">
                                            <p>{{organization.artSchool[0].tuition}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].tuition != originalOrg.artSchool[0].tuition">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].tuition}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].tuition}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Instructor</label>
                                        <div ng-if="organization.artSchool[0].instructors == originalOrg.artSchool[0].instructors">
                                            <p>{{organization.artSchool[0].instructors}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].instructors != originalOrg.artSchool[0].instructors">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].instructors}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].instructors}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Control</label>
                                        <div ng-if="organization.artSchool[0].control == originalOrg.artSchool[0].control">
                                            <p>{{organization.artSchool[0].control}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].control != originalOrg.artSchool[0].control">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].control}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].control}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Class Time</label>
                                        <div ng-if="organization.artSchool[0].classTime == originalOrg.artSchool[0].classTime">
                                            <p>{{organization.artSchool[0].classTime}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].classTime != originalOrg.artSchool[0].classTime">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].classTime}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].classTime}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Adult Hobby Classes</label>
                                        <div ng-if="organization.artSchool[0].adultHobbyClass == originalOrg.artSchool[0].adultHobbyClass">
                                            <p>{{organization.artSchool[0].adultHobbyClass}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].adultHobbyClass != originalOrg.artSchool[0].adultHobbyClass">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].adultHobbyClass}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].adultHobbyClass}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Children's Classes</label>
                                        <div ng-if="organization.artSchool[0].childrenClasses == originalOrg.artSchool[0].childrenClasses">
                                            <p>{{organization.artSchool[0].childrenClasses}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].childrenClasses != originalOrg.artSchool[0].childrenClasses">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].childrenClasses}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].childrenClasses}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Summer School</label>
                                        <div ng-if="organization.artSchool[0].summerSchool == originalOrg.artSchool[0].summerSchool">
                                            <p>{{organization.artSchool[0].summerSchool}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].summerSchool != originalOrg.artSchool[0].summerSchool">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].summerSchool}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].summerSchool}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Entrance Required</label>
                                        <div ng-if="organization.artSchool[0].entranceRequired == originalOrg.artSchool[0].entranceRequired">
                                            <p>{{organization.artSchool[0].entranceRequired}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].entranceRequired != originalOrg.artSchool[0].entranceRequired">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].entranceRequired}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].entranceRequired}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Degree Granted</label>
                                        <div ng-if="organization.artSchool[0].degreeGranted == originalOrg.artSchool[0].degreeGranted">
                                            <p>{{organization.artSchool[0].degreeGranted}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].degreeGranted != originalOrg.artSchool[0].degreeGranted">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].degreeGranted}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].degreeGranted}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="h5 boldfont">Scholarship Fellowships</label>
                                        <div ng-if="organization.artSchool[0].scholarshipFellowships == originalOrg.artSchool[0].scholarshipFellowships">
                                            <p>{{organization.artSchool[0].scholarshipFellowships}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.artSchool[0].scholarshipFellowships != originalOrg.artSchool[0].scholarshipFellowships">
                                            <p class="nextcolor">{{originalOrg.artSchool[0].scholarshipFellowships}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.artSchool[0].scholarshipFellowships}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="space-20"></div>
                                <div class="boldfont">
                                    <div ng-if="organization.artSchool[0].scholarship == originalOrg.artSchool[0].scholarship">
                                        <i class="fa fa-check" ng-class="organization.artSchool[0].scholarship? 'fa-check' : 'fa-remove'"></i> Scholarship
                                    </div>
                                    <div ng-if="organization.artSchool[0].scholarship != originalOrg.artSchool[0].scholarship">
                                        <p class="nextcolor">
                                            <i class="fa fa-check" ng-class="originalOrg.artSchool[0].scholarship? 'fa-check' : 'fa-remove'"></i> Scholarship &nbsp;
                                        </p>
                                        <p class="boxcolor">
                                            <i class="fa fa-check" ng-class="organization.artSchool[0].scholarship? 'fa-check' : 'fa-remove'"></i> Scholarship &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="space-20"></div>
                                <div class="boldfont">
                                    <div ng-if="organization.artSchool[0].fellowships == originalOrg.artSchool[0].fellowships">
                                        <i class="fa fa-check" ng-class="organization.artSchool[0].fellowships? 'fa-check' : 'fa-remove'"></i> Fellowship
                                    </div>
                                    <div ng-if="organization.artSchool[0].fellowships != originalOrg.artSchool[0].fellowships">
                                        <p class="nextcolor">
                                            <i class="fa fa-check" ng-class="originalOrg.artSchool[0].fellowships? 'fa-check' : 'fa-remove'"></i> Fellowship &nbsp;
                                        </p>
                                        <p class="boxcolor">
                                            <i class="fa fa-check" ng-class="organization.artSchool[0].fellowships? 'fa-check' : 'fa-remove'"></i> Fellowship &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="space-20"></div>
                                <div class="boldfont">
                                    <div ng-if="organization.artSchool[0].assistantships == originalOrg.artSchool[0].assistantships">
                                        <i class="fa fa-check" ng-class="organization.artSchool[0].assistantships? 'fa-check' : 'fa-remove'"></i> Assistantship
                                    </div>
                                    <div ng-if="organization.artSchool[0].assistantships != originalOrg.artSchool[0].assistantships">
                                        <p class="nextcolor">
                                            <i class="fa fa-check" ng-class="originalOrg.artSchool[0].assistantships? 'fa-check' : 'fa-remove'"></i> Assistantship &nbsp;
                                        </p>
                                        <p class="boxcolor">
                                            <i class="fa fa-check" ng-class="organization.artSchool[0].assistantships? 'fa-check' : 'fa-remove'"></i> Assistantship &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="space-20"></div>
                                <div class="boldfont">
                                    <div ng-if="organization.artSchool[0].grants == originalOrg.artSchool[0].grants">
                                        <i class="fa fa-check" ng-class="organization.artSchool[0].grants? 'fa-check' : 'fa-remove'"></i> Grants
                                    </div>
                                    <div ng-if="organization.artSchool[0].grants != originalOrg.artSchool[0].grants">
                                        <p class="nextcolor">
                                            <i class="fa fa-check" ng-class="originalOrg.artSchool[0].grants? 'fa-check' : 'fa-remove'"></i> Grants &nbsp;
                                        </p>
                                        <p class="boxcolor">
                                            <i class="fa fa-check" ng-class="organization.artSchool[0].grants? 'fa-check' : 'fa-remove'"></i> Grants &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="space-20"></div>
                                <div class="boldfont">
                                    <div ng-if="organization.artSchool[0].loans == originalOrg.artSchool[0].loans">
                                        <i class="fa fa-check" ng-class="organization.artSchool[0].loans? 'fa-check' : 'fa-remove'"></i> Loans
                                    </div>
                                    <div ng-if="organization.artSchool[0].loans != originalOrg.artSchool[0].loans">
                                        <p class="nextcolor">
                                            <i class="fa fa-check" ng-class="originalOrg.artSchool[0].loans? 'fa-check' : 'fa-remove'"></i> Loans &nbsp;
                                        </p>
                                        <p class="boxcolor">
                                            <i class="fa fa-check" ng-class="organization.artSchool[0].loans? 'fa-check' : 'fa-remove'"></i> Loans &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="space-20"></div>
                                <div class="boldfont">
                                    <div ng-if="organization.artSchool[0].workStudy == originalOrg.artSchool[0].workStudy">
                                        <i class="fa fa-check" ng-class="organization.artSchool[0].workStudy? 'fa-check' : 'fa-remove'"></i> Work Study
                                    </div>
                                    <div ng-if="organization.artSchool[0].workStudy != originalOrg.artSchool[0].workStudy">
                                        <p class="nextcolor">
                                            <i class="fa fa-check" ng-class="originalOrg.artSchool[0].workStudy? 'fa-check' : 'fa-remove'"></i> Work Study &nbsp;
                                        </p>
                                        <p class="boxcolor">
                                            <i class="fa fa-check" ng-class="organization.artSchool[0].workStudy? 'fa-check' : 'fa-remove'"></i> Work Study &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="space-20"></div>
                                <div class="boldfont">
                                    <div ng-if="organization.artSchool[0].financialAid == originalOrg.artSchool[0].financialAid">
                                        <i class="fa fa-check" ng-class="organization.artSchool[0].financialAid? 'fa-check' : 'fa-remove'"></i> Financial Aid
                                    </div>
                                    <div ng-if="organization.artSchool[0].financialAid != originalOrg.artSchool[0].financialAid">
                                        <p class="nextcolor">
                                            <i class="fa fa-check" ng-class="originalOrg.artSchool[0].financialAid? 'fa-check' : 'fa-remove'"></i> Financial Aid &nbsp;
                                        </p>
                                        <p class="boxcolor">
                                            <i class="fa fa-check" ng-class="organization.artSchool[0].financialAid? 'fa-check' : 'fa-remove'"></i> Financial Aid &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-md-12">
                <div class="">
                    <span class="addnewt">Activities</span>
                    <div class="space-10"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Sequence No.</label>
                                <div ng-if="organization.activities.sequenceNumber == originalOrg.activities.sequenceNumber">
                                    <p>{{organization.activities.sequenceNumber}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.sequenceNumber != originalOrg.activities.sequenceNumber">
                                    <p class="nextcolor">{{originalOrg.activities.sequenceNumber}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.sequenceNumber}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Education Programs</label>
                                <div ng-if="organization.activities.educationDept == originalOrg.activities.educationDept">
                                    <p>{{organization.activities.educationDept}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.educationDept != originalOrg.activities.educationDept">
                                    <p class="nextcolor">{{originalOrg.activities.educationDept}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.educationDept}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Lectures/Awards</label>
                                <div ng-if="organization.activities.lecturesAwards == originalOrg.activities.lecturesAwards">
                                    <p>{{organization.activities.lecturesAwards}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.lecturesAwards != originalOrg.activities.lecturesAwards">
                                    <p class="nextcolor">{{originalOrg.activities.lecturesAwards}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.lecturesAwards}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Extension Programs</label>
                                <div ng-if="organization.activities.extensionDept == originalOrg.activities.extensionDept">
                                    <p>{{organization.activities.extensionDept}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.extensionDept != originalOrg.activities.extensionDept">
                                    <p class="nextcolor">{{originalOrg.activities.extensionDept}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.extensionDept}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Scholarships</label>
                                <div ng-if="organization.activities.scholarships == originalOrg.activities.scholarships">
                                    <p>{{organization.activities.scholarships}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.scholarships != originalOrg.activities.scholarships">
                                    <p class="nextcolor">{{originalOrg.activities.scholarships}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.scholarships}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="space-10"></div>
                            <div>
                                <label class="h5 boldfont">Book Travel Exhibition</label>
                                <div ng-if="organization.activities.bookTravelingExhib == originalOrg.activities.bookTravelingExhib">
                                    <p>{{organization.activities.bookTravelingExhib}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.bookTravelingExhib != originalOrg.activities.bookTravelingExhib">
                                    <p class="nextcolor">{{originalOrg.activities.bookTravelingExhib}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.bookTravelingExhib}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Originates Traveling Exhibitions</label>
                                <div ng-if="organization.activities.origiTravelingExhib == originalOrg.activities.origiTravelingExhib">
                                    <p>{{organization.activities.origiTravelingExhib}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.origiTravelingExhib != originalOrg.activities.origiTravelingExhib">
                                    <p class="nextcolor">{{originalOrg.activities.origiTravelingExhib}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.origiTravelingExhib}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Museum Shop</label>
                                <div ng-if="organization.activities.museumShop == originalOrg.activities.museumShop">
                                    <p>{{organization.activities.museumShop}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.museumShop != originalOrg.activities.museumShop">
                                    <p class="nextcolor">{{originalOrg.activities.museumShop}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.museumShop}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <label class="h5 boldfont">Junior Museum</label>
                                <div ng-if="organization.activities.juniorMuseum == originalOrg.activities.juniorMuseum">
                                    <p>{{organization.activities.juniorMuseum}}&nbsp;</p>
                                </div>
                                <div ng-if="organization.activities.juniorMuseum != originalOrg.activities.juniorMuseum">
                                    <p class="nextcolor">{{originalOrg.activities.juniorMuseum}}&nbsp;</p>
                                    <p class="boxcolor">{{organization.activities.juniorMuseum}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Features</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Type</th>
                            <th>Feature</th>
                            <th>Description</th>
                            <th>Major Indexed</th>
                            <th>Index Indication</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null && !feature.deleted">
                            <td class="text-center">
                                <div ng-if="feature.sequenceNo == originalOrg.features[$index].sequenceNo">
                                    <p>{{feature.sequenceNo}}&nbsp;</p>
                                </div>
                                <div ng-if="feature.sequenceNo != originalOrg.features[$index].sequenceNo">
                                    <p class="nextcolor">{{originalOrg.features[$index].sequenceNo}}&nbsp;</p>
                                    <p class="boxcolor">{{feature.sequenceNo}} &nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.featureType == originalOrg.features[$index].featureType">
                                    <p>{{feature.featureType}}&nbsp;</p>
                                </div>
                                <div ng-if="feature.featureType != originalOrg.features[$index].featureType">
                                    <p class="nextcolor">{{originalOrg.features[$index].featureType}}&nbsp;</p>
                                    <p class="boxcolor">{{feature.featureType}} &nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.code.codeValue == originalOrg.features[$index].code.codeValue">
                                    <p>{{feature.code.codeValue}}&nbsp;</p>
                                </div>
                                <div ng-if="feature.code.codeValue != originalOrg.features[$index].code.codeValue">
                                    <p class="nextcolor">{{originalOrg.features[$index].code.codeValue}}&nbsp;</p>
                                    <p class="boxcolor"> {{feature.code.codeValue}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.name == originalOrg.features[$index].name">
                                    <p>{{feature.name}}&nbsp;</p>
                                </div>
                                <div ng-if="feature.name != originalOrg.features[$index].name">
                                    <p class="nextcolor"> {{ originalOrg.features[$index].name}}&nbsp;</p>
                                    <p class="boxcolor"> {{feature.name}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.majorIndex == originalOrg.features[$index].majorIndex">
                                    <p>{{feature.majorIndex}}&nbsp;</p>
                                </div>
                                <div ng-if="feature.majorIndex != originalOrg.features[$index].majorIndex">
                                    <p class="nextcolor">{{originalOrg.features[$index].majorIndex}}&nbsp;</p>
                                    <p class="boxcolor">{{feature.majorIndex}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.indexIndication == originalOrg.features[$index].indexIndication">
                                    <p>{{feature.indexIndication}}&nbsp;</p>
                                </div>
                                <div ng-if="feature.indexIndication != originalOrg.features[$index].indexIndication">
                                    <p class="nextcolor">{{originalOrg.features[$index].indexIndication}}&nbsp;</p>
                                    <p class="boxcolor">{{feature.indexIndication}}&nbsp;</p>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="feature in deletedFeatures" bgcolor="42b6da">
                            <td class="text-center">{{ feature.sequenceNo }}</td>
                            <td>{{feature.featureType}}</td>
                            <td>{{feature.code.codeValue}}</td>
                            <td>{{feature.name}}</td>
                            <td>{{feature.majorIndex}}</td>
                            <td>{{feature.indexIndication}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="container-fluid">
                    <div class="row">
                        <div class="pull-left addnewt add-button">Exhibitions</div>
                    </div>
                </div>
                <div class="container-fluid box-body table-responsive cf">
                    <div class="row">
                        <div class="col-xs-12">
                            <p></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="widthfcl">Sequence No.</th>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Show Date</th>
                                        <!-- <th>Travel</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="exhibition in organization.exhibition" ng-if="exhibition.exhibitName != null">
                                        <td class="text-center">
                                            <div ng-if="exhibition.sequenceNumber == originalOrg.exhibition[$index].sequenceNumber">
                                                {{exhibition.sequenceNumber}}
                                            </div>
                                            <div class="text-danger" ng-if="exhibition.sequenceNumber != originalOrg.exhibition[$index].sequenceNumber">
                                                <span class="nextcolor"> {{originalOrg.exhibition[$index].sequenceNumber}}&nbsp;</span>
                                                <div class="boxcolor">{{exhibition.sequenceNumber}}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="exhibition.exhibitName == originalOrg.exhibition[$index].exhibitName">
                                                <p>{{exhibition.exhibitName}}&nbsp;</p>
                                            </div>
                                            <div ng-if="exhibition.exhibitName != originalOrg.exhibition[$index].exhibitName">
                                                <p class="nextcolor">{{originalOrg.exhibition[$index].exhibitName}} &nbsp;</p>
                                                <p class="boxcolor">{{exhibition.exhibitName}}&nbsp;</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="(exhibition.startDateText + '') == (originalOrg.exhibition[$index].startDateText + '')">
                                                <p>{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}&nbsp;</p>
                                            </div>
                                            <div ng-if="(exhibition.startDateText + '') != (originalOrg.exhibition[$index].startDateText + '')">
                                                <p class="nextcolor">{{originalOrg.exhibition[$index].startDate ? to_date_format(originalOrg.exhibition[$index].startDate, 'jS M, Y'): originalOrg.exhibition[$index].startDateText}} &nbsp;</p>
                                                <p class="boxcolor">{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}&nbsp;</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="(exhibition.endDateText + '') == (originalOrg.exhibition[$index].endDateText + '')">
                                                <p>{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}&nbsp;</p>
                                            </div>
                                            <div ng-if="(exhibition.endDateText + '') != (originalOrg.exhibition[$index].endDateText + '')">
                                                <p class="nextcolor"> {{originalOrg.exhibition[$index].endDate ? to_date_format(originalOrg.exhibition[$index].endDate, 'jS M, Y'): originalOrg.exhibition[$index].endDateText}} &nbsp;</p>
                                                <p class="boxcolor"> {{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}&nbsp;</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="exhibition.showDate == originalOrg.exhibition[$index].showDate">
                                                <p> {{exhibition.showDate}}&nbsp;</p>
                                            </div>
                                            <div ng-if="exhibition.showDate != originalOrg.exhibition[$index].showDate">
                                                <p class="nextcolor"> {{originalOrg.exhibition[$index].showDate}}&nbsp;</p>
                                                <p class="boxcolor"> {{exhibition.showDate}}&nbsp;</p>
                                            </div>
                                        </td>
                                        <!--  <td>
                                                   <div ng-if="exhibition.travelFlag == originalOrg.exhibition[$index].travelFlag">
                                                       {{exhibition.travelFlag}}
                                                       <p ng-switch on="exhibition.travelFlag">
                                                           <span ng-switch-when=""></span>
                                                           <span ng-switch-when="true">YES</span>
                                                           <span ng-switch-when="false">NO</span> &nbsp;
                                                       </p>
                                                   </div>
                                                   <div ng-if="exhibition.travelFlag != originalOrg.exhibition[$index].travelFlag">
                                                       <span class="nextcolor"> {{originalOrg.exhibition[$index].travelFlag}}&nbsp;</span>
                                                       <div class="boxcolor">{{exhibition.travelFlag}}&nbsp;</div>
                                                       <p class="nextcolor" ng-switch on="originalOrg.exhibition[$index].travelFlag">
                                                          <span ng-switch-when=""></span>
                                                          <span ng-switch-when="true">YES</span>
                                                          <span ng-switch-when="false">NO</span> &nbsp;
                                                      </p>
                                                      <p class="boxcolor" ng-switch on="exhibition.travelFlag">
                                                          <span ng-switch-when=""></span>
                                                          <span ng-switch-when="true">YES</span>
                                                          <span ng-switch-when="false">NO</span>&nbsp;
                                                      </p>
                                                   </div>
                                               </td> -->
                                    </tr>
                                    <tr ng-repeat="exhibition in deletedExhib" ng-if="exhibition.exhibitName != null" bgcolor="42b6da">
                                        <td class="text-center">{{exhibition.sequenceNumber}}</td>
                                        <td>{{exhibition.exhibitName}}</td>
                                        <td>{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}</td>
                                        <td>{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}</td>
                                        <td>{{exhibition.showDate}}</td>
                                        <!-- <td>{{exhibition.travelFlag }}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Publications</div>
            </div>
        </div>
        <div class="container-fluid box-body table-responsive cf">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="widthfcl">Sequence No.</th>
                                <th> Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="publication in organization.publication" ng-if="publication.deleted != true">
                                <td class="text-center">
                                    <div ng-if="publication.sequenceNumber == originalOrg.publication[$index].sequenceNumber">
                                        {{publication.sequenceNumber}}
                                    </div>
                                    <div class="text-danger" ng-if="publication.sequenceNumber != originalOrg.publication[$index].sequenceNumber">
                                        <span class="nextcolor"> {{originalOrg.publication[$index].sequenceNumber}}&nbsp;</span>
                                        <div class="boxcolor">{{publication.sequenceNumber}}&nbsp;</div>
                                    </div>
                                </td>
                                <!--  <td>
                                            <div ng-if="publication.description == originalOrg.publication.description">
                                                <p> {{publication.description}}&nbsp;</p>
                                            </div>
                                            <div ng-if="publication.description != originalOrg.publication.description">
                                                <p class="nextcolor"> {{originalOrg.publication.description}}&nbsp;</p>
                                                <p class="boxcolor"> {{publication.description}}&nbsp;</p>
                                            </div>
                                        </td> -->
                                <td class="text-left">
                                    <div ng-if="publication.description == originalOrg.publication[$index].description">
                                        {{publication.description}}
                                    </div>
                                    <div class="text-danger" ng-if="publication.description != originalOrg.publication[$index].description">
                                        <span class="nextcolor"> {{originalOrg.publication[$index].description}}&nbsp;</span>
                                        <div class="boxcolor">{{publication.description}}&nbsp;</div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="publication in deletedPublication" bgcolor="42b6da">
                                <td class="text-center">{{publication.sequenceNumber}}</td>
                                <td>{{publication.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
