<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-md-12">
                <div class="">
                    <span class="addnewt">Art School</span>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Courses Offered</label>
                                <p class=".h5">{{organization.artSchool[0].coursesOffered}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Enrollment</label>
                                <p class=".h5">{{organization.artSchool[0].enrollment}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Tuition</label>
                                <p class=".h5">{{organization.artSchool[0].tuition}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Instructor</label>
                                <p class=".h5">{{organization.artSchool[0].instructors}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Control</label>
                                <p class=".h5">{{organization.artSchool[0].control}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Class Time</label>
                                <p class=".h5">{{organization.artSchool[0].classTime}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Adult Hobby Classes</label>
                                <p class=".h5">{{organization.artSchool[0].adultHobbyClass}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Children's Classes</label>
                                <p class=".h5">{{organization.artSchool[0].childrenClasses}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Summer School</label>
                                <p class=".h5">{{organization.artSchool[0].summerSchool}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Entrance Required</label>
                                <p class=".h5">{{organization.artSchool[0].entranceRequired}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Degree Granted</label>
                                <p class=".h5">{{organization.artSchool[0].degreeGranted}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="h5 boldfont">Scholarship Fellowships</label>
                                <p class=".h5">{{organization.artSchool[0].scholarshipFellowships}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.artSchool[0].scholarship? 'fa-check' : 'fa-remove'"></i> Scholarship
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.artSchool[0].fellowships? 'fa-check' : 'fa-remove'"></i> Fellowship
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.artSchool[0].assistantships? 'fa-check' : 'fa-remove'"></i> Assistantship
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.artSchool[0].grants? 'fa-check' : 'fa-remove'"></i> Grants
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.artSchool[0].loans? 'fa-check' : 'fa-remove'"></i> Loans
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.artSchool[0].workStudy? 'fa-check' : 'fa-remove'"></i> Work Study
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.artSchool[0].financialAid? 'fa-check' : 'fa-remove'"></i> Financial Aid
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-md-12">
                <div class="">
                    <span class="addnewt">Activities</span>
                    <div class="space-10"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Sequence No.</label>
                                <p class=".h5">{{organization.activities.sequenceNumber}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Education Programs</label>
                                <p class=".h5">{{organization.activities.educationDept}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Lectures/Awards</label>
                                <p class=".h5">{{organization.activities.lecturesAwards}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Extension Programs</label>
                                <p class=".h5">{{organization.activities.extensionDept}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Scholarships</label>
                                <p class=".h5">{{organization.activities.scholarships}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Book Travel Exhibition</label>
                                <p class=".h5">{{organization.activities.bookTravelingExhib}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Originates Traveling Exhibitions</label>
                                <p class=".h5">{{organization.activities.origiTravelingExhib}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Museum Shop</label>
                                <p class=".h5">{{organization.activities.museumShop}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="h5 boldfont">Junior Museum</label>
                                <p class=".h5">{{organization.activities.juniorMuseum}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Features</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Type</th>
                        <th>Feature</th>
                        <th>Description</th>
                        <th>Major Indexed</th>
                        <th>Index Indication</th>
                        <!-- <th class="widthth">Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null && feature.deleted != true">
                        <td class="text-center">{{ feature.sequenceNo }}</td>
                        <td>{{feature.featureType}}</td>
                        <td>{{feature.code.codeValue}}</td>
                        <td>{{feature.name}}</td>
                        <td>{{feature.majorIndex}}</td>
                        <td>{{feature.indexIndication}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Exhibitions</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Show Date</th>
                        <!-- <th>Travel</th> -->
                        <!-- <th class="widthth">Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exhibition in organization.exhibition" ng-if="exhibition.exhibitName != null">
                        <td class="text-center">{{exhibition.sequenceNumber}}</td>
                        <td>{{exhibition.exhibitName}}</td>
                        <td>{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}</td>
                        <td>{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}</td>
                        <td>{{exhibition.showDate}}</td>
                        <!-- <td>{{exhibition.travelFlag}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Publications</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th> Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="publication in organization.publication" ng-if="publication.deleted != true">
                        <td class="text-center">{{publication.sequenceNumber}}</td>
                        <td>{{publication.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
