<div class="widget-box">
    <div class="widget-main">
        <div class="addnewt ">
            <span>Contacts</span>
        </div>
        <div class="row ng-scope ">
            <div class="col-md-3 ">
                <div class="">
                    <label class="h5 boldfont">Phone No.</label>
                    <p class=".h5 ng-binding">{{organization.contact.phoneNumbers}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Fax</label>
                    <p class=".h5 ng-binding">{{organization.contact.faxNumbers}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Primary Email</label>
                    <p class=".h5 ng-binding">{{organization.contact.emails.primary}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Secondary Email</label>
                    <p class=".h5 ng-binding">{{organization.contact.emails.secondary}}</p>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="">
                    <label class="h5 boldfont">Websites</label>
                    <p class=".h5 ng-binding">{{organization.contact.websites}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Social</label>
                    <p class=".h5 ng-binding">{{organization.contact.social}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Pager</label>
                    <p class=".h5 ng-binding">{{organization.contact.pager}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Mobile No.</label>
                    <p class=".h5 ng-binding">{{organization.contact.mobile}}</p>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group">
                    <label class="h5 boldfont">Wats</label>
                    <p class=".h5 ng-binding">{{organization.contact.wats}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">FTS</label>
                    <p class=".h5 ng-binding">{{organization.contact.fts}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">TWX</label>
                    <p class=".h5 ng-binding">{{organization.contact.twx}}</p>
                </div>
                <div class="form-group boldfont">
                    <i class="fa fa-check" ng-class="organization.contact.printFlag ? 'fa-check' : 'fa-remove'"></i> Print Flag
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group">
                    <label class="h5 boldfont">Cable</label>
                    <p class=".h5 ng-binding">{{organization.contact.cable}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">Telex Number</label>
                    <p class=".h5 ng-binding">{{organization.contact.telexNumbers}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">Other</label>
                    <p class=".h5 ng-binding">{{organization.contact.others}}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
        </div>
        <div class="pull-left addnewt add-button">Address</div>
    </div>
</div>
<!-- Data table start line 476-->
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Type</th>
                        <th>Address</th>
                        <th>Nixie Index</th>
                        <th>Mailing Index</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="address in organization.address" ng-if="address.cityName != null && address.deleted != true">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <!--   <td>{{addressTypes[address.addressType] || ""}}</td> -->
                        <td>{{address.addressType.description}}</td>
                        <td>
                            <b>Street 1: </b>{{address.street1}}
                            <br>
                            <b>Street 2: </b>{{address.street2}}
                            <br>
                            <b>City: </b>{{address.cityName}}
                            <br>
                            <b> State/Territory: </b>{{address.stateName}}
                            <br>
                            <b>Country: </b>{{address.countryName}}
                            <br>
                            <b>Zip: </b>{{address.zip}}
                            <br>
                            <b>Comment: </b>{{address.comments}}
                            <br>
                            <b>Nixie Date: </b>{{address.nixieDate}}
                            <br>
                            <b>Nixie Comment: </b>{{address.nixieComments}}
                            <br>
                        </td>
                        <td>{{ address.nixieIndex ? "YES" : (address.nixieIndex === false ? "NO" : "") }}</td>
                        <td>{{ address.mailingIndex ? "YES" : (address.mailingIndex === false ? "NO" : "") }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
