<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Feature":"Feature")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="featureForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': featureForm.sequenceNo.$touched && featureForm.sequenceNo.$invalid}">
                    <label>Sequence No.</label>
                    <input type="text" class="form-control" name="sequenceNo" ng-model="feature.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                    <div class="help-block" ng-messages="featureForm.sequenceNo.$error" ng-show="featureForm.sequenceNo.$touched && featureForm.sequenceNo.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': featureForm.type.$touched && featureForm.feature.$invalid}">
                    <label>Type</label><span class="meditator">*</span></label>
                    <ui-select ng-model="feature.featureType" name="type" on-select="changeFeatureType($item)" required>
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeType"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisFeatureType.codeType as thisFeatureType in (featureTypeArray | filter: $select.search) track by thisFeatureType._id">
                            <span ng-bind="thisFeatureType.codeType"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="help-block" ng-messages="featureForm.type.$error" ng-show="featureForm.type.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label> Feature</label>
                    <ui-select ng-model="feature.code" name="feature" on-select="feature.codeName = $item.codeValue">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisFeatureCode in (featureCodeArray | filter: $select.search) track by thisFeatureCode._id">
                            <span ng-bind="thisFeatureCode.codeValue"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="feature.name"></textarea>
                </div>
                <div class="form-group ">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="feature.majorIndex" ng-true-value="'YES'" ng-false-value="'NO'">
                        <span class="lbl"> <b>Major Indexed</b></span>
                    </label>
                </div>
                <div class="form-group ">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="feature.indexIndication" ng-true-value="'Y'" ng-false-value="'N'">
                        <span class="lbl"> <b>Index Indication</b></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="featureForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
