<div class="tab-pane " id="dropdown14">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="form-group">
                    <label for="pwd">
                        <span class="revenueportfolio-subtitle">Professional on Staff</span>
                    </label>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.portfolioManagersOnStaff.$touched && addForm.portfolioManagersOnStaff.$invalid}">
                        <label for="pwd">Portfolio Manager On Staff</label>
                        <input type="text" class="form-control" ng-model="organization.professionalStaff.portfolioManagersOnStaff" name="portfolioManagersOnStaff" validate-this="portfolioManagersOnStaff" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.portfolioManagersOnStaff.$error" ng-show="addForm.portfolioManagersOnStaff.$touched && addForm.portfolioManagersOnStaff.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.portfolioManagersOnStaff.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.marketingDepartment.$touched && addForm.marketingDepartment.$invalid}">
                        <label for="pwd">Marketing Department </label>
                        <input type="text" class="form-control" ng-model="organization.professionalStaff.marketingDepartment" name="marketingDepartment" validate-this="marketingDepartment" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.marketingDepartment.$error" ng-show="addForm.marketingDepartment.$touched && addForm.marketingDepartment.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.marketingDepartment.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.developmentDepartment.$touched && addForm.developmentDepartment.$invalid}">
                        <label for="pwd"> Property Professionals Data</label>
                        <input type="text" class="form-control" ng-model="organization.professionalStaff.developmentDepartment" name="developmentDepartment" validate-this="developmentDepartment" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.developmentDepartment.$error" ng-show="addForm.developmentDepartment.$touched && addForm.developmentDepartment.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.developmentDepartment.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.technicalDepartment.$touched && addForm.technicalDepartment.$invalid}">
                        <label for="pwd">Technical Department</label>
                        <input type="text" class="form-control" ng-model="organization.professionalStaff.technicalDepartment" name="technicalDepartment" validate-this="technicalDepartment" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.technicalDepartment.$error" ng-show="addForm.technicalDepartment.$touched && addForm.technicalDepartment.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.technicalDepartment.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openCFSKeyPersonnelPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl text-center">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th class="widthth text-center">General Details</th>
                            <th class="widthth text-center">Officer Details</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="keyPersonnel.deleted!= true">
                            <td class="widthfcl text-center">{{ keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openCFSKeyPersonnelGeneralDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openCFSKeyPersonnelOfficersDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openCFSKeyPersonnelPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Key Personnel')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
