<!-- New Personnel -->
<form name="personnelForm" ng-submit="editFlag ? update() : add()">
    <style type="text/css">
    .selectedRow td {
        background-color: #fe9;
    }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Key Personnel":"Key Personnel")}}</h4>
    </div>
    <div class="modal-body">
        <div class="ocd-keyPersonnel">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="General Details">
                    <div class="container-fluid">
                        <div class="row">
                            <h4 class="addnewt container">General Details</h4>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.sequenceNo.$touched && personnelForm.sequenceNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control" name="sequenceNo" ng-model="keyPersonnel.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                                <div class="help-block" ng-messages="personnelForm.sequenceNo.$error" ng-show="personnelForm.sequenceNo.$touched && personnelForm.sequenceNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.personnelId.$touched && personnelForm.personnelId.$invalid}">
                                <label>Personnel ID</label>
                                <input type="text" class="form-control" name="personnelId" ng-model="keyPersonnel.employee_id" validate-this="personnelId" validate-as="digits">
                                <div class="help-block" ng-messages="personnelForm.personnelId.$error" ng-show="personnelForm.personnelId.$touched && personnelForm.personnelId.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.personnelId.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Title</label>
                                <input type="text" ng-model="keyPersonnel.titleMaster" uib-typeahead="keypersonnelTitle as keypersonnelTitle.codeValue for keypersonnelTitle in getKeyPersonnelTitles($viewValue)" typeahead-input-formatter="formatKeypersonnelTypeAhead($model)" typeahead-editable="false" typeahead-on-select="selectKeypersonnelTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingKeypersonnelTitle" typeahead-no-results="noResultsTitle" class="form-control" placeholder="Select Title...">
                                <i ng-show="loadingKeypersonnelTitle" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsTitle">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <!-- <div class="form-group col-md-4">
                            <label>Custom Title</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.title">
                        </div> -->
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Prefix</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.prefix">
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.keypersonnel.$touched && personnelForm.keypersonnel.$invalid}">
                                <label>First Name<span class="meditator">*</span></label>
                                <input type="text" class="form-control" name="keypersonnel" ng-model="keyPersonnel.name.first" required>
                                <div class="help-block" ng-messages="personnelForm.keypersonnel.$error" ng-show="personnelForm.keypersonnel.$touched && personnelForm.keypersonnel.$invalid">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.middle">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Last Name</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.last">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Suffix</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.suffix">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h4 class="addnewt container">Contact Details</h4>
                            <div class="form-group col-md-4">
                                <label>Phone No.</label>
                                <input type="text" class="form-control" name="phoneno" ng-model="keyPersonnel.phoneNumbers">
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.primaryEmail.$touched && personnelForm.primaryEmail.$invalid}">
                                <label>Primary Email</label>
                                <input type="text" class="form-control" name="primaryEmail" ng-model="keyPersonnel.email.primary" validate-this="primaryEmail" validate-as="email">
                                <div class="help-block" ng-messages="personnelForm.primaryEmail.$error" ng-show="personnelForm.primaryEmail.$touched && personnelForm.primaryEmail.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.primaryEmail.email">Invalid Email</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Websites</label>
                                <input type="text" class="form-control" name="name" ng-model="keyPersonnel.website">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Fax</label>
                                <input type="text" class="form-control" name="faxno" ng-model="keyPersonnel.faxNumbers">
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.secondaryEmail.$touched && personnelForm.secondaryEmail.$invalid}">
                                <label>Secondary Email</label>
                                <input type="text" class="form-control" name="secondaryEmail" ng-model="keyPersonnel.email.secondary" validate-this="secondaryEmail" validate-as="email">
                                <div class="help-block" ng-messages="personnelForm.secondaryEmail.$error" ng-show="personnelForm.secondaryEmail.$touched && personnelForm.secondaryEmail.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.secondaryEmail.email">Invalid Email</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.printFlag" id="handicapped1">
                                    <span class="lbl" for="handicapped1"><strong> Consider for Directory Print</strong>
                                </span>
                                </label>
                                <br>
                                <!-- <label class="position-relative">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.activeFlag">
                                <span class="lbl"><strong> Active</strong>
                                </span>
                            </label>
                            <br> -->
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.deletedFlag">
                                    <span class="lbl"><strong> Deleted</strong>
                                </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Officer Details">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">Officer Details</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group" ng-class="{'has-error' : personnelForm.officerType.$touched && personnelForm.officerType.$invalid}">
                                    <label>Officer Type<span class="meditator">*</span></label>
                                    <ui-select ng-model="newOfficer.officerTypeId" name="typeName" on-select="newOfficer.OfficerTypeName = $item.codeValue">
                                        <ui-select-match placeholder="Select">
                                            <span ng-bind="$select.selected.codeValue"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="thisofficerTypeId._id as thisofficerTypeId  in officerTypeArray">
                                            <span ng-bind="thisofficerTypeId.codeValue"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <label>Listing Type</label>
                                <ui-select ng-model="newOfficer.listingType" name="type" on-select="newOfficer.listingTypeName = $item.codeValue">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.codeValue"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thislistingType  as thislistingType in listingTypeArray">
                                        <span ng-bind="thislistingType.codeValue"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewCFSOfficer()" ng-disabled="!newOfficer.officerTypeId">
                                <i class="fa fa-check"></i> Save Officer Details </button>
                            <a class="btn btn-sm btn-default" ng-click="resetNewCFSOfficer()">
                                <i class="fa fa-remove"></i> Clear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl">#</th>
                                    <th>Officer Name</th>
                                    <th>Listing Type</th>
                                    <th class="widthth text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cfsOfficers in keyPersonnel.officers" ng-class="{'selectedRow': $index == newOfficerIndex}" ng-if="!cfsOfficers.deleted">
                                    <td class="text-center">{{ ($index+1) }}</td>
                                    <td>{{cfsOfficers.OfficerTypeName}}</td>
                                    <td>{{cfsOfficers.listingTypeName}}</td>
                                    <td class="text-center action-buttons">
                                        <a class="blue" ng-click="editNewCFSOfficer($index)">
                                            <i class="fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red" ng-click="openRemovePopup($index, 'Key Personnel: Officer', removeNewCFSOfficer)">
                                            <i class="fa fa-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="personnelForm.$invalid || loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
        <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
    </div>
</form>
