<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-md-12 addnewt contacttop ">
                <span>Contacts</span>
            </div>
            <div class="space"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Phone No.</label>
                    <input type="text" class="form-control" name="phoneno" ng-model="organization.contact.phoneNumbers">
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <input type="text" class="form-control" name="fax" ng-model="organization.contact.faxNumbers">
                </div>
                <div class="form-group">
                    <label>Owned By</label>
                    <input type="text" class="form-control" name="owned by" ng-model="organization.ownedBy">
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group" ng-class="{'has-error': addForm.primaryEmail.$touched && addForm.primaryEmail.$invalid}">
                    <label>Primary Email</label>
                    <input type="text" class="form-control" name="primaryEmail" ng-model="organization.contact.emails.primary" validate-this="primaryEmail" validate-as="email">
                    <div class="help-block" ng-messages="addForm.primaryEmail.$error" ng-show="addForm.primaryEmail.$touched">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.primaryEmail.email">Invalid Email</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.secondaryEmail.$touched && addForm.secondaryEmail.$invalid}">
                    <label>Secondary Email</label>
                    <input type="text" class="form-control" name="secondaryEmail" ng-model="organization.contact.emails.secondary" validate-this="secondaryEmail" validate-as="email">
                    <div class="help-block" ng-messages="addForm.secondaryEmail.$error" ng-show="addForm.secondaryEmail.$touched">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.secondaryEmail.email">Invalid Email</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Websites</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.websites">
                </div>
                <div class="form-group">
                    <label>Social</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.contact.social">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openAddressPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Address</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Type</th>
                        <th>Address</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="address in organization.address" ng-if="!address.deleted">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <!-- <td>{{addressTypes[address.addressType] || ""}}</td> -->
                        <td>{{address.addressType.description}}</td>
                        <td>
                            <b>Street 1: </b>{{address.street1}}
                            <br>
                            <b>Street 2: </b>{{address.street2}}
                            <br>
                            <b>City: </b>{{address.cityName}}
                            <br>
                            <b> State/Territory: </b>{{address.stateName}}
                            <br>
                            <b>Country: </b>{{address.countryName}}
                            <br>
                            <b>Zip: </b>{{address.zip}}
                            <br>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openAddressPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Address')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="10">
                                <span class="lead">Contacts</span>
                                <a href="javascript:void(0)" class="btn btn-sm btn-info pull-right" ng-click="openContactsPopup()">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <div class="clearfix"></div>
                            </th>
                        </tr>
                        <tr>
                            <th width="2%" class="text-center">#</th>
                            <th width="20%">Phone</th>
                            <th width="20%">Fax</th>
                            <th width="20%">Primary Email</th>
                            <th width="20%">Secondary Email</th>
                            <th width="20%">Websites</th>
                            <th width="20%">Social</th>
                            <th width="8%" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in organization.contact">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{contact.phoneNumbers}}</td>
                            <td>{{contact.faxNumbers}}</td>
                            <td>{{contact.emails.primary}}</td>
                            <td>{{contact.emails.secondary}}</td>
                            <td>{{contact.websites}}</td>
                            <td>{{contact.social}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openContactsPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Contact')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th width="2%" class="text-center">#</th>
                            <th width="20%">Phone</th>
                            <th width="20%">Fax</th>
                            <th width="20%">Primary Email</th>
                            <th width="20%">Secondary Email</th>
                            <th width="20%">Websites</th>
                            <th width="20%">Social</th>
                            <th width="8%" class="text-center">Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
</div>
