<div class="modal-header">
    <h3 class="modal-title">{{(editFlag ? "Edit Publications":"Publications")}}</h3>
</div>
<form ng-submit="save()">
    <div class="modal-body">
        <div class="well well-sm">
            <div class="form-group">
                <label>Sequence No:</label>
                <div class="input-group">
                    <input type="text" class="form-control" required name="sequence" ng-model="organization.publication.sequenceNumber" validate-this="sequence" validate-as="digits">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
                <div class="help-block" ng-messages="addForm.sequence.$error" ng-show="addForm.sequence.$touched">
                    <p ng-message="required">This field is required</p>
                    <div ng-message="validateAs">
                        <p ng-show="validateAsErrors.sequence.digits">Invalid numbers</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" ng-model="organization.publication.description"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
        <button class="btn btn-primary" type="submit" ng-disabled="loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
    </div>
</form>
