<div class="modal-header">
    <h3 class="modal-title">Former Name</h3>
</div>
<form ng-submit="editFlag ? add() : update()">
    <div class="modal-body">
        <div class="well well-sm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="organization.formerNames.name">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Start Date</label>
                    <div class="input-group">
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                        <input type="text" readonly name="startDate" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="organization.formerNames.startDate" is-open="popup1.opened" datepicker-options="dobOptions" required close-text="Close" />
                        <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>End Date</label>
                    <div class="input-group">
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                        <input type="text" readonly name="endDate" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="organization.formerNames.endDate" is-open="popup2.opened" datepicker-options="dobOptions" required close-text="Close" />
                        <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
        <button class="btn btn-primary" type="submit" ng-disabled="loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
    </div>
</form>
