<div class="modal-header">
    <h3 class="modal-title">{{(editFlag ? "Edit Research":"Research")}}</h3>
</div>
<form ng-submit="save()">
    <div class="modal-body">
        <div class="well well-sm">
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="research" ng-model="organization.research"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
        <button class="btn btn-primary" type="submit" ng-disabled="loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
    </div>
</form>
