<div class="panel panel-primary">
    <nav class="panel-heading-navbar panel-heading navbar navbar-primary">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-action" aria-expanded="false" aria-controls="navbar-action">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="organization.view"></a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="organization.view"></a>
        </div>
        <div id="navbar-action" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.view.general">
                        <i class="fa fa-info"></i> General
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.view.communication">
                        <i class="fa fa-envelope"></i> Communication
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.view.personnel">
                        <i class="fa fa-users"></i> Personnel
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.view.other">
                        <i class="fa fa-info-circle"></i> Other Info
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="panel-body" ui-view></div>
</div>



<!-- <div class="row">
    <div class="col-md-4">
        <h2>Details</h2>
        <div class="well well-sm">
            <div class="form-group" ng-class="{'has-error': organizationForm.name.$touched && organizationForm.name.$invalid}">
                <label>Name</label>
                <p class="lead">{{organization.name}}</p>
            </div>
            <div class="form-group" ng-class="{'has-error': organizationForm.established.$touched && organizationForm.established.$invalid}">
                <label>Established</label>
                <p class="lead">{{organization.established.year}}</p>
            </div>
            <div class="form-group">
                <label>Museum Type/Entity Type</label>
                <p class="lead">{{organization.entityType}}</p>
            </div>
            <div class="form-group">
                <label>Timing</label>
                <p class="lead">{{organization.timing}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Physical Address Details</h2>
        <div class="well well-sm">
            <div class="form-group">
                <label>Street 1</label>
                <p class="lead">{{organization.address.physical.street1}}</p>
            </div>
            <div class="form-group">
                <label>Street 2</label>
                <p class="lead">{{organization.address.physical.street2}}</p>
            </div>
            <div class="form-group">
                <label>State</label>
                <p class="lead">{{organization.address.physical.state.codeValue}}</p>
            </div>
            <div class="form-group">
                <label>City</label>
                <p class="lead">{{organization.address.physical.city.codeValue}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Mailing Address Details</h2>
        <div class="well well-sm">
            <div class="form-group">
                <label>Street 1</label>
                <p class="lead">{{organization.address.mailing.street1}}</p>
            </div>
            <div class="form-group">
                <label>Street 2</label>
                <p class="lead">{{organization.address.mailing.street2}}</p>
            </div>
            <div class="form-group">
                <label>State</label>
                <p class="lead">{{organization.address.mailing.state.codeValue}}</p>
            </div>
            <div class="form-group">
                <label>City</label>
                <p class="lead">{{organization.address.mailing.city.codeValue}}</p>
            </div>
        </div>
    </div>
</div>
 -->