<div class="tab-pane active" id="home4">
    <div class="widget-box ">
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone"></label>
                </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo"></label>
                </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="form-group pdtop">
                    <label for="pwd"><span class="revenueportfolio-subtitle">Professional on Staff
                    </span>
                    </label>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group ">
                        <label for="pwd">Portfolio Manager On Staff</label>
                        <div ng-if="organization.professionalStaff.portfolioManagersOnStaff == originalOrg.professionalStaff.portfolioManagersOnStaff">
                            <p class=".h5">{{organization.professionalStaff.portfolioManagersOnStaff}}</p>
                        </div>
                        <div ng-if="organization.professionalStaff.portfolioManagersOnStaff != originalOrg.professionalStaff.portfolioManagersOnStaff">
                            <span class="nextcolor">{{originalOrg.professionalStaff.portfolioManagersOnStaff}}&nbsp;</span>
                            <div class="boxcolor">{{organization.professionalStaff.portfolioManagersOnStaff}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group ">
                        <label for="pwd">Marketing Department</label>
                        <div ng-if="organization.professionalStaff.developmentDepartment == originalOrg.professionalStaff.developmentDepartment">
                            <p class=".h5">{{organization.professionalStaff.developmentDepartment}}</p>
                        </div>
                        <div ng-if="organization.professionalStaff.developmentDepartment != originalOrg.professionalStaff.developmentDepartment">
                            <span class="nextcolor">{{originalOrg.professionalStaff.developmentDepartment}}&nbsp;</span>
                            <div class="boxcolor">{{organization.professionalStaff.developmentDepartment}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group ">
                        <label for="pwd"> Property Professionals Data</label>
                        <div ng-if="organization.professionalStaff.marketingDepartment == originalOrg.professionalStaff.marketingDepartment">
                            <p class=".h5">{{organization.professionalStaff.marketingDepartment}}</p>
                        </div>
                        <div ng-if="organization.professionalStaff.marketingDepartment != originalOrg.professionalStaff.marketingDepartment">
                            <span class="nextcolor">{{originalOrg.professionalStaff.marketingDepartment}}&nbsp;</span>
                            <div class="boxcolor">{{organization.professionalStaff.marketingDepartment}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group ">
                        <label for="pwd">Technical Department</label>
                        <div ng-if="organization.professionalStaff.technicalDepartment == originalOrg.professionalStaff.technicalDepartment">
                            <p class=".h5">{{organization.professionalStaff.technicalDepartment}}</p>
                        </div>
                        <div ng-if="organization.professionalStaff.technicalDepartment != originalOrg.professionalStaff.technicalDepartment">
                            <span class="nextcolor">{{originalOrg.professionalStaff.technicalDepartment}}&nbsp;</span>
                            <div class="boxcolor">{{organization.professionalStaff.technicalDepartment}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl text-center">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th class="widthth text-center">General Details</th>
                            <th class="widthth text-center">Officer Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="keyPersonnel.deleted == false">
                            <td class="text-center">
                                <div ng-if="keyPersonnel.sequenceNumber == originalOrg.personnel[$index].sequenceNumber">
                                    {{keyPersonnel.sequenceNumber}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.sequenceNumber != originalOrg.personnel[$index].sequenceNumber">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].sequenceNumber}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.sequenceNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="keyPersonnel.titleMaster.codeValue == originalOrg.personnel[$index].titleMaster.codeValue">
                                    {{keyPersonnel.titleMaster.codeValue}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.titleMaster.codeValue != originalOrg.personnel[$index].titleMaster.codeValue">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].titleMaster.codeValue}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.titleMaster.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalOrg.personnel[$index])">
                                    {{showPersonnelName(keyPersonnel)}}
                                </div>
                                <div class="text-danger" ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalOrg.personnel[$index])">
                                    <span class="nextcolor"> {{showPersonnelName(originalOrg.personnel[$index])}}&nbsp;</span>
                                    <div class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openCFSKeyPersonnelGeneralDiffPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openCFSKeyPersonnelOfficersDiffPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="keyPersonnel in deletedPers" bgcolor="42b6da">
                            <td class="widthfcl text-center">{{ keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                                <td class="text-center">
                                    <div class="action-buttons">
                                        <a class="green">
                                            <i class="fa fa-file-text-o bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
