<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Chapter Specification":"Chapter Specification")}}</h4>
</div>
<form ng-submit="editFlag ? update() : add()" name="chapterSpecificationForm">
    <div class="abc">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group" ng-class="{' has-error': chapterSpecificationForm.type.$touched && chapterSpecificationForm.type.$invalid}">
                    <label for="pwd">Specification Type<span class="meditator">*</span></label>
                    <ui-select ng-model="chapterSpecification.specificationType" name="type" on-select="changeSpecificationType($item)" required>
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeType"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisSpecificationType.codeType as thisSpecificationType in (specificationTypeArray | filter: $select.search) track by thisSpecificationType._id">
                            <span ng-bind="thisSpecificationType.codeType"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="help-block" ng-messages="chapterSpecificationForm.type.$error" ng-show="chapterSpecificationForm.type.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Specification Code</label>
                    <ui-select ng-model="chapterSpecification.code">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisSpecificationCode in (specificationCodeArray | filter: $select.search) track by thisSpecificationCode._id">
                            <span ng-bind="thisSpecificationCode.codeValue"></span>
                        </ui-select-choices>
                    </ui-select>
                    <!--  <input type="text" class="form-control" name="code" ng-model="chapterSpecification.code"> -->
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="chapterSpecificationName" ng-model="chapterSpecification.name">
                </div>
                <div class="form-group">
                    <label>Listing Type</label>
                    <ui-select ng-model="chapterSpecification.listingType">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisListingType in (listingTypeArray | filter: $select.search) track by thisListingType._id">
                            <span ng-bind="thisListingType.codeValue"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group ">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="chapterSpecification.activeFlag">
                        <span class="lbl"><strong class="radiospace">Active</strong></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="chapterSpecificationForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</form>
