<div class="panel panel-primary">
    <nav class="panel-heading-navbar panel-heading navbar navbar-primary">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-action" aria-expanded="false" aria-controls="navbar-action">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="organization.diff"></a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="organization.diff"></a>
        </div>
        <div id="navbar-action" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.diff.general">
                        <i class="fa fa-info"></i> General
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.diff.communication">
                        <i class="fa fa-envelope"></i> Communication
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.diff.personnel">
                        <i class="fa fa-users"></i> Personnel
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.diff.other">
                        <i class="fa fa-info-circle"></i> Other Info
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="(indexPos + 1) < versions.length">
                    <a ui-sref="portal.directory.organization.diff({ id: organization._id, versionId: versions[(indexPos + 1)]._id })">
                        <i class="fa fa-arrow-left"></i> Previous version
                    </a>
                </li>
                <li ng-if="(indexPos) > 0">
                    <a ui-sref="portal.directory.organization.diff({ id: organization._id, versionId: versions[(indexPos - 1)]._id })">
                        Next version
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="panel-body" ui-view></div>
</div>
