<div class="page-header">
    <h5 class="pull-left">Quick Links</h5>
    <div class="clearfix"></div>
</div>
<div class="panel panel-primary">
    <nav class="panel-heading-navbar panel-heading navbar navbar-primary">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-action" aria-expanded="false" aria-controls="navbar-action">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="profile.quickLinks"></a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="profile.quickLinks"></a>
        </div>
        <div id="navbar-action" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="currentUser.quickLinks && (currentUser.quickLinks.recent.length > 0 || currentUser.quickLinks.most.length > 0)">
                    <a href="javascript:void(0)" ng-click="clearHistory()"><i class="fa fa-remove"></i> Clear History</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h4>Recently Viewed</h4>
                <ul class="nav">
                    <li ng-repeat="r in currentUser.quickLinks.recent">
                        <a ui-sref="{{r.state}}"><i class="fa fa-{{ aclActions[(removeItems(r.state.trim().split('.'), 'portal')).join('.')].page.icon }}"></i> {{ aclActions[(removeItems(r.state.trim().split('.'), 'portal')).join('.')].page.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Most Viewed</h4>
                <ul class="nav">
                    <li ng-repeat="m in currentUser.quickLinks.most">
                        <a ui-sref="{{m.state}}">
                            <i class="fa fa-{{ aclActions[(removeItems(m.state.trim().split('.'), 'portal')).join('.')].page.icon }}"></i> {{ aclActions[(removeItems(m.state.trim().split('.'), 'portal')).join('.')].page.name }}
                            <span class="badge">{{ m.count }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
