<div class="page-header">
    <h5 class="pull-left">Your Profile</h5>
    <a class="btn btn-sm btn-success pull-right sp10 mr" ng-if="page.actions.export && page.actions.export.viewIn()" ui-sref="portal.{{page.actions.add.object}}"><i class="ace-icon fa fa-file-excel-o bigger-120"></i><span>Export to Excel</span></a>
    <a class="btn btn-sm btn-primary pull-right sp10 mr" ng-if="page.actions.add && page.actions.add.viewIn()" ui-sref="portal.{{page.actions.add.object}}"><i class="ace-icon fa fa-plus-circle bigger-120"></i><span>Add New</span></a>
    <div class="clearfix"></div>
</div>
<div class="panel panel-primary">
    <nav class="panel-heading-navbar panel-heading navbar navbar-primary">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-action" aria-expanded="false" aria-controls="navbar-action">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="profile.personal"></a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="profile.personal"></a>
        </div>
        <div id="navbar-action" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="portal.profile.personal" ui-sref-opts="{reload: true}">
                        <i class="fa fa-user"></i> Personal
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.profile.account" ui-sref-opts="{reload: true}">
                        <i class="fa fa-cogs"></i> Account
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.profile.security" ui-sref-opts="{reload: true}">
                        <i class="fa fa-warning"></i> Security
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <form name="userForm" ng-submit="update()">
        <div class="panel-body" ui-view></div>
        <div class="panel-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid || loading">
                    <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
