<p class="lead text-center">Reset your Password</p>
<form name="resetPasswordForm" ng-submit="resetPassword()">
    <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.confirmPassword.$touched && resetPasswordForm.confirmPassword.$invalid }">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" required name="confirmPassword" ng-model="user.auth.confirmPassword" validate-password ng-minlength="8" ng-maxlength="15" placeholder="New Password">
        </div>
        <div class="help-block" ng-messages="resetPasswordForm.confirmPassword.$error" ng-show="resetPasswordForm.confirmPassword.$touched">
            <p ng-message="required">This field is required</p>
            <p ng-message="minlength">The password should be minimum 8 characters long</p>
            <p ng-message="maxlength">The password should be maximum 15 characters long</p>
            <ul ng-message="validatePassword">
                <li ng-show="passwordValidationErrors.indexOf('lowercase') >= 0">The password needs to have at least 1 Lowercase character</li>
                <li ng-show="passwordValidationErrors.indexOf('uppercase') >= 0">The password needs to have at least 1 Uppercase character</li>
                <li ng-show="passwordValidationErrors.indexOf('digit') >= 0">The password needs to have at least 1 Digit</li>
                <li ng-show="passwordValidationErrors.indexOf('special') >= 0">The password needs to have at least 1 Special character</li>
            </ul>
        </div>
    </div>
    <p password-strength="resetPasswordForm.confirmPassword.$viewValue"></p>
    <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid }">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
            <input type="password" class="form-control" required name="password" ng-model="user.auth.password" validate-match="user.auth.confirmPassword" placeholder="Confirm Password">
        </div>
        <div class="help-block" ng-messages="resetPasswordForm.password.$error" ng-show="resetPasswordForm.password.$touched">
            <p ng-message="required">This field is required</p>
            <p ng-message="validateMatch">Both the passwords do not match</p>
        </div>
    </div>
    <div class="clearfix">
        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary bigger-110" ng-disabled="resetPasswordForm.$invalid || loading"><i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Reset Password</button>
        </br>
        </br>
        <label class="inline">
            <span class="lbl"><u><a ui-sref="auth.login"><i class="fa fa-remove"></i> Cancel</a></u></span>
        </label>
    </div>
</form>
