<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <!-- <th width="5%" class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="markedMails.length == 0">
                            ... <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="portal.mailbox.delete"><i class="fa fa-trash"></i> Delete</a></li>
                        </ul>
                    </div>
                </th> -->
                <th width="5%" class="text-center">#</th>
                <th width="20%">To</th>
                <th>Subject</th>
                <th width="10%" class="text-center">Sent</th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <!-- <th width="5%" class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="markedMails.length == 0">
                            ... <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="portal.mailbox.delete"><i class="fa fa-trash"></i> Delete</a></li>
                        </ul>
                    </div>
                </th> -->
                <th width="5%" class="text-center">#</th>
                <th width="20%">To</th>
                <th>Subject</th>
                <th width="10%" class="text-center">Sent</th>
                <th width="10%"></th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="mail in mails">
                <!-- <td class="text-center">
                    <label>
                        <input type="checkbox" ng-model="mail.marked" ng-change="markMail($index)">
                    </label>
                </td> -->
                <td class="text-center">{{ ($index + 1) }}</td>
                <td>{{ getNameOfUser(mail.to[0]) }}
                    <br><small ng-if="mail.to.length > 1">... and {{ (mail.to.length - 1) }} more</small></td>
                <td>
                    <a ui-sref="portal.mailbox.readSent({id: mail._id})">{{ mail.subject }}</a>
                </td>
                <td class="text-center">{{ to_date_format(mail.sent, 'M j, Y') }}</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" ui-sref="portal.mailbox.reply({id: mail._id})" title="Reply"><i class="fa fa-mail-reply"></i></a>
                        <!-- <a class="btn btn-default" ui-sref="portal.mailbox.forward({id: mail._id})"><i class="fa fa-mail-forward"></i></a> -->
                        <a class="btn btn-success" ui-sref="portal.mailbox.forward({id: mail._id})" title="Forward"><i class="fa fa-mail-forward"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
