<div class="panel panel-primary">
    <nav class="panel-heading-navbar panel-heading navbar navbar-primary">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-action" aria-expanded="false" aria-controls="navbar-action">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="portal.{{ portalPageActive.object }}">{{ portalPageActive.name }}</a>
        </div>
        <div id="navbar-action" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="aclAction in portalPageActive.actions" ng-if="!aclAction.exclusive" ui-sref-active="active">
                    <a ui-sref="portal.{{ aclAction.object }}" ui-sref-opts="{reload: true}"><i class="fa fa-{{ aclAction.icon }}"></i> {{ aclAction.name }}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="panel-body" ui-view></div>
</div>
