<h3>Personal Details</h3>
<div class="well well-sm">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img ng-src="{{ user.avatar || '/nrp-admin-theme/assets/avatars/avatar5.png' }}" class="img-responsive img-thumbnail img-circle" alt="Profile Picture" width="100%" height="100%">
            </div>
            <a href="javascript:void(0)" ng-click="showUploadFileDialog()" class="btn btn-sm btn-primary" title="Change Avatar"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Salute</label>
                        <ui-select ng-model="user.details.personal.salute">
                            <ui-select-match>
                                <span ng-bind="$select.selected.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="salute.id as salute in (saluteArray | filter: $select.search) track by salute.id">
                                <span ng-bind="salute.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid }">
                        <label>Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="firstName" ng-model="user.details.personal.name.first" required validate-this="firstName" validate-as="alphabets" placeholder="First Name">
                            <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                        </div>
                        <div class="help-block" ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched">
                            <p ng-message="required">This field is required</p>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.firstName.alphabets">Invalid alphabets found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': userForm.middleName.$touched && userForm.middleName.$invalid }">
                        <label>&nbsp;</label>
                        <input type="text" class="form-control" name="middleName" ng-model="user.details.personal.name.middle" placeholder="Middle Name" validate-this="middleName" validate-as="alphabets">
                        <div class="help-block" ng-messages="userForm.middleName.$error" ng-show="userForm.middleName.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.middleName.alphabets">Invalid alphabets found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid }">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="lastName" ng-model="user.details.personal.name.last" required placeholder="Last Name" validate-this="lastName" validate-as="alphabets">
                            <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                        </div>
                        <div class="help-block" ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched">
                            <p ng-message="required">This field is required</p>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.lastName.alphabets">Invalid alphabets found</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': userForm.dob.$touched && userForm.dob.$invalid }">
                        <label><i class="fa fa-asterisk text-danger"></i> Date of Birth</label>
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                            <input type="text" readonly name="dob" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.details.personal.dob" is-open="popup2.opened" datepicker-options="dobOptions" required close-text="Close" />
                            <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                        </div>
                        <div class="help-block" ng-messages="userForm.dob.$error" ng-show="userForm.dob.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Gender</label>
                        <ui-select ng-model="user.details.personal.gender">
                            <ui-select-match>
                                <span ng-bind="$select.selected.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="gender.id as gender in (genderArray | filter: $select.search) track by gender.id">
                                <span ng-bind="gender.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
