<div id="wrapper">
    <nav class="navbar navbar-static-top" ng-class="theme.nav" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" ui-sref="portal">Directory Management System</a>
            <a class="navbar-brand visible-xs" ui-sref="portal">DMS</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope fa-fw"></i>
                    <label class="label label-danger">{{ unreadMails.length }}</label> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li ng-repeat="mail in unreadMails" ng-if="unreadMails.length > 0" class="border-bottom">
                        <a ui-sref="portal.mailbox.read({ id: mail._id})" ui-sref-opts="{reload: true}">
                            <div>
                                <strong>{{ getNameOfUser(mail.from) }}</strong>
                                <span class="pull-right text-muted"><em>{{ to_date_format(mail.sent, 'M j, Y') }}</em></span>
                            </div>
                            <div>{{ mail.subject }}</div>
                        </a>
                    </li>
                    <li>
                        <a class="text-center" ui-sref="portal.mailbox.inbox">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <!-- <li class="divider"></li> -->
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i> <b>{{ getNameOfUser(currentUser) }}</b> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a ui-sref="portal.profile"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                    <li><a ui-sref="portal.quickLinks"><i class="fa fa-bolt fa-fw"></i> Quick links</a></li>
                    <li><a href="javascript:void(0)" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <div class="sidebar" ng-class="theme.nav" role="navigation">
            <div class="navbar-collapse" ng-class="theme.sidebar">
                <sidebar></sidebar>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div ui-view></div>
    </div>
</div>
