<p class="lead text-center">How do you want your new password?</p>
<div ng-if="user.auth.securityQuestion && user.auth.securityQuestion.question">
    <div class="btn-group btn-group-justified" role="group" aria-label="secBtn">
        <div class="btn-group" role="group">
            <a class="btn btn-lg btn-flat btn-primary" ui-sref="auth.forgot.securityQuestion({id: user._id})">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-question'"></i> Answer my security question
            </a>
        </div>
    </div>
    <br>
    <p class="lead text-center"> --- OR --- </p>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="mail">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-flat btn-danger" ng-click="mailPassword()">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-envelope'"></i> Get password by Email
        </button>
    </div>
</div>
<br>
<label class="inline">
    <span class="lbl"><u><a ui-sref="auth.login"><i class="fa fa-remove"></i> Cancel</a></u></span>
</label>
