<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Crop Image</h4>
</div>
<div class="modal-body">
    <style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 500px;
        height: 350px;
    }
    </style>
    <div class="cropArea">
        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
    </div>
    <div>Cropped Image:</div>
    <div><img ng-src="{{myCroppedImage}}" /></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm sp10 mr" type="button" ng-click="crop()" ng-disabled="loading">
        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : ''"></i>OK
    </button>
    <button class="btn btn-default btn-sm sp10 mr" type="button" ng-click="cancel()">Cancel</button>
</div>
