<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="5%" class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="markedMails.length == 0">
                            ... <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="portal.mailbox.delete"><i class="fa fa-trash"></i> Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0)" ng-click="markAsRead()"><i class="fa fa-eye"></i> Mark as Read</a></li>
                            <li><a href="javascript:void(0)" ng-click="markAsUnread()"><i class="fa fa-eye-slash"></i> Mark as Unread</a></li>
                        </ul>
                    </div>
                </th>
                <th width="5%" class="text-center">#</th>
                <th width="20%">From</th>
                <th>Subject</th>
                <th width="10%" class="text-center">Received</th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th width="5%" class="text-center">
                    <!-- <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="markedMails.length == 0">
                            ... <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="portal.mailbox.delete"><i class="fa fa-trash"></i> Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0)" ng-click="markAsRead()"><i class="fa fa-eye"></i> Mark as Read</a></li>
                            <li><a href="javascript:void(0)" ng-click="markAsUnread()"><i class="fa fa-eye-slash"></i> Mark as Unread</a></li>
                        </ul>
                    </div> -->
                </th>
                <th width="5%" class="text-center">#</th>
                <th width="20%">From</th>
                <th>Subject</th>
                <th width="10%" class="text-center">Received</th>
                <th width="10%"></th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="mail in mails" ng-class="{ 'info' : !isRead(mail) }">
                <td class="text-center">
                    <label>
                        <input type="checkbox" ng-model="mail.marked" ng-change="markMail($index)">
                    </label>
                </td>
                <td class="text-center">{{ ($index + 1) }}</td>
                <td>{{ getNameOfUser(mail.from) }}</td>
                <td>
                    <a ui-sref="portal.mailbox.read({id: mail._id})">
                        <strong ng-if="!isRead(mail)">{{ mail.subject }}</strong>
                        <span ng-if="isRead(mail)">{{ mail.subject }}</span>
                    </a>
                </td>
                <td class="text-center">{{ to_date_format(mail.sent, 'M j, Y') }}</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" ui-sref="portal.mailbox.reply({id: mail._id})" title="Reply"><i class="fa fa-mail-reply"></i></a>
                        <!-- <a class="btn btn-default" ui-sref="portal.mailbox.replyAll({id: mail._id})" title="Reply All"><i class="fa fa-mail-reply-all"></i></a> -->
                        <a class="btn btn-success" ui-sref="portal.mailbox.forward({id: mail._id})" title="Forward"><i class="fa fa-mail-forward"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
