<p class="lead text-center">Answer your security question</p>
<form role="form" name="forgotForm" ng-submit="verifySecurityQuestion()">
    <div class="form-group">
        <p class="">{{ user.auth.securityQuestion.question.question }}</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error': forgotForm.answer.$touched && forgotForm.answer.$invalid }">
        <input type="password" class="form-control" required name="answer" ng-model="user.auth.securityQuestion.answer" placeholder="Answer">
        <div class="help-block" ng-messages="forgotForm.answer.$error" ng-show="forgotForm.answer.$touched">
            <p ng-message="required">This field is required</p>
        </div>
    </div>
    <div class="clearfix">
        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary bigger-110" ng-disabled="forgotForm.$invalid || loading"><i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Continue to Reset Password</button>
        </br>
        </br>
        <label class="inline">
            <span class="lbl"><u><a ui-sref="auth.login"><i class="fa fa-remove"></i> Cancel</a></u></span>
        </label>
    </div>
</form>
<br>
