<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <p class="lead">{{message}}</p>
</div>
<div class="modal-footer">
    <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
</div>
