<div class="action-buttons">
    <!-- <a class="orange" href="javascript:void(0)" ng-click="openVersionHistoryModal(recordId)" title="Click to view comments">
        <i class="fa fa-comments bigger-130"></i>
    </a>
    <a class="green" href="javascript:void(0)" ng-if="isActionPermitted('directory.organization.diff')" ng-click="showVersionHistory(recordId)" title="Click to view previous history">
        <i class="fa fa-hourglass-end bigger-130"></i>
    </a> -->
    <a class="blue" ng-if="isActionPermitted('directory.organization.edit') && rules.actionVsVersion['directory.organization.edit'].indexOf(recordVersionId) >= 0" ui-sref="portal.directory.organization.edit({id: recordId})" title="Click to modify details">
        <i class="fa fa-pencil bigger-130"></i>
    </a>
    <a class="green" ng-if="isActionPermitted('directory.organization.view')" ui-sref="portal.directory.organization.view({id: recordId})" title="Click to view details">
        <i class="ace-icon fa fa-file-text-o bigger-130"></i>
    </a>
</div>
