<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirmation For Duplicate Organization Name</h4>
</div>
<div class="modal-body">
    <div class="">
        <h5>This organization name already exists in database, Do you want to continue?</h5>
        <!-- <h2>{{ organizations.length }} record(s)?</h2> -->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm sp10 mr" type="button" ng-click="modify()" ng-disabled="loading">OK</button>
    <button class="btn btn-default btn-sm sp10 mr" type="button" ng-click="cancel()">Cancel</button>
</div>
