<label class="position-relative" style="width: 100%; height: 100%; text-align: center">
    <a href="javascript:void(0)" data-action="recordOptions" data-toggle="dropdown" aria-expanded="false">
        <i class="ace-icon fa fa-ellipsis-v bigger-150"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-left dropdown-light-blue dropdown-caret dropdown-closer">
        <li ng-if="!allChecked()">
            <a href="javascript:void(0)" ng-click="toggleAllRecords(true)">
                <i class="fa fa-check-square-o bigger-100 blue"></i> Select All
            </a>
        </li>
        <li ng-if="allChecked() || (selectedRecordList.length > 0)">
            <a href="javascript:void(0)" ng-click="toggleAllRecords(false)">
                <i class="fa fa-square-o bigger-100 blue"></i> Unselect All
            </a>
        </li>
        <li class="divider" ng-if="(selectedRecordList.length > 0 && isActionPermitted('directory.organization.approve'))"></li>
        <li ng-if="(selectedRecordList.length > 0 && isActionPermitted('directory.organization.approve'))">
            <a href="javascript:void(0)" ng-click="openApproveModal()">
                <i class="fa fa-check bigger-100 blue"></i> Approve
            </a>
        </li>
        <li class="divider" ng-if="((selectedRecordList.length > 0) && isActionPermitted('directory.organization.sendForApproval')) || ((selectedRecordList.length > 0) && isActionPermitted('directory.organization.sendForCorrection'))"></li>
        <li ng-if="((selectedRecordList.length > 0) &&isActionPermitted('directory.organization.sendForApproval'))">
            <a href="javascript:void(0)" ng-click="openSendForApprovalModal()">
                <i class="fa fa-send bigger-100 blue"></i> Send for Approval
            </a>
        </li>
        <li ng-if="((selectedRecordList.length > 0) &&isActionPermitted('directory.organization.sendForCorrection'))">
            <a href="javascript:void(0)" ng-click="openSendForCorrectionModal()">
                <i class="fa fa-check-circle bigger-100 blue"></i> Send for Correction
            </a>
        </li>
        <li class="divider" ng-if="(selectedRecordList.length > 0 && isActionPermitted('directory.organization.remove'))"></li>
        <li ng-if="(selectedRecordList.length > 0 && isActionPermitted('directory.organization.remove'))">
            <a href="javascript:void(0)" ng-click="openDeleteModal()">
                <i class="fa fa-trash bigger-100 blue"></i> Delete
            </a>
        </li>
    </ul>
</label>
