<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Record History</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-if="!(versions && versions.length > 0)">
        <i class="fa fa-remove"></i> Nothing to show here...
    </div>
    <div class="well well-sm table-responsive" ng-if="versions && versions.length > 0" slim-scroll="450px">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date & Time</th>
                    <th width="50%">Record History Details</th>
                    <th width="25%">By</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Date & Time</th>
                    <th width="50%">Record History Details</th>
                    <th width="25%">By</th>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="version in versions">
                    <td>{{ ($index + 1) }}</td>
                    <td>{{ to_date_format(version.created.at, 'D, jS M Y \\at g:i:s A') }}</td>
                    <td>
                        <h5>Migration Status: <b>{{ version.status.description }}</b></h5>
                        <p>
                            <strong>Comments: </strong>
                            <i>{{ version.comments }}</i>
                        </p>
                    </td>
                    <td>
                        <h5>{{ getNameOfUser(version.created.by) }}</h5>
                        <span class="text-muted">{{version.created.by.role.name}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
</div>
