<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Request for Correction</h3>
</div>
<form ng-submit="requestForCorrection()">
    <div class="modal-body">
        <div class="well well-lg">
            <textarea type="text" class="form-control" required name="comments" ng-model="version.comments"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-send'"></i> Request for Correction
        </button>
        <button class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</button>
    </div>
</form>
