<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Approve</h3>
</div>
<form ng-submit="approve()" name="formApprove">
    <div class="modal-body">
        <div class="well well-sm">
            <div class="form-group" ng-class="{'has-error': formApprove.comments.$touched && formApprove.comments.$invalid}">
                <label>
                    <b> Comment</b>
                    <span class="meditator">*</span>
                </label>
                <textarea type="text" class="form-control" required name="comments" ng-model="version.comments"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="loading || formApprove.$invalid">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Approve
        </button>
        <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
    </div>
</form>
