<!-- <a href="javascript:void(0)" class="btn btn-sm btn-primary" ng-click="forceStartAllJobs()">
	<i class="fa fa-refresh"></i> Force Start all jobs
</a> -->
<div class="table-responsive">
    <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered"></table>
</div>
