<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- <div class="form-group">
                        <label>Other Info</label>
                        <input type="text" class="form-control" name="galleryDescription" ng-model="organization.galleryDescription">
                    </div> -->
                    <div class="form-group">
                        <label>Account Preference</label>
                        <input type="text" class="form-control" name="accountPreference" ng-model="organization.accountPreference">
                    </div>
                    <div class="form-group">
                        <label>Assets</label>
                        <input type="text" class="form-control" ng-model="organization.assets">
                    </div>
                    <!-- <div class="form-group">
                        <label>Direct Marketing Budget</label>
                        <input type="text" class="form-control" name="directMarketingBudget" ng-model="organization.directMarketingBudget">
                    </div> -->
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Advance Bill Type</label>
                        <ui-select ng-model="organization.advanceBillType">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.description"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisAdvanceBillType._id as thisAdvanceBillType in (advanceBillTypeArray | filter: $select.search) track by thisAdvanceBillType._id">
                                <span ng-bind="thisAdvanceBillType.description"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.mailed.$touched && addForm.mailed.$invalid}">
                        <label>Annual Mailed</label>
                        <input type="text" class="form-control" name="mailed" ng-model="organization.annualMailed" validate-this="mailed" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.mailed.$error" ng-show="addForm.mailed.$touched && addForm.mailed.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.mailed.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group" ng-class="{'has-error': addForm.us.$touched && addForm.us.$invalid}">
                        <label>Annual Revenues:US</label>
                        <input type="text" class="form-control" name="us" ng-model="organization.annualRevenues.us" validate-this="us" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.us.$error" ng-show="addForm.us.$touched && addForm.us.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.us.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.worldwide.$touched && addForm.worldwide.$invalid}">
                        <label>Gross Sales or Billing</label>
                        <input type="text" class="form-control" name="worldwide" ng-model="organization.annualRevenues.wordwide" validate-this="worldwide" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.worldwide.$error" ng-show="addForm.worldwide.$touched && addForm.worldwide.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.worldwide.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-md-12 addnewt contacttop ">
                        <span>Mailing List</span>
                    </div>
                    <div class="space"></div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Prefix</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.prefix">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>First Name </label>
                        <input type="text" class="form-control" name="keypersonnel" ng-model="organization.mailingList.first">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.middle">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Last Name</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.last">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Suffix</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.suffix">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Mailing Contact</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.MailingContact">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Extension</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.extension">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Post Box</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.postBox">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Street 1</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.street1">
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>City</label>
                        <script type="text/ng-template" id="directory.organization.address-city-typeahead.tpl.html">
                            <a>
                                <p ng-bind-html="match.label | uibTypeaheadHighlight:query"></p>
                                <span>{{match.model.parentId.codeValue}} ({{match.model.parentId.description}})</span>,
                                <span ng-bind-html="match.model.parentId.parentId.codeValue"></span>
                            </a>
                        </script>
                        <input type="text" name="mailingCity" ng-model="organization.mailingList.city" uib-typeahead="mailingCity as mailingCity.codeValue for mailingCity in getMailingCities($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-city-typeahead.tpl.html" typeahead-on-select="selectMailingCityTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCity" typeahead-no-results="noResultsCity" class="form-control" autocomplete="off" placeholder="Select City">
                        <i ng-show="loadingAddressCity" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResultsCity">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12 ">
                        <label>State</label>
                        <script type="text/ng-template" id="directory.organization.address-state-typeahead.tpl.html">
                            <a>
                                <span ng-bind-html="(match.model.codeValue + ' (' + match.model.description + ')') | uibTypeaheadHighlight:query"></span>,
                                <span ng-bind-html="match.model.parentId.codeValue"></span>
                            </a>
                        </script>
                        <input type="text" class="form-control" name="mailingState" ng-model="organization.mailingList.state" uib-typeahead="mailingState as mailingState.codeValue for mailingState in getMailingStates($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-state-typeahead.tpl.html" typeahead-on-select="organization.mailingList.stateName = $item.codeValue" typeahead-loading="loadingAddressState" typeahead-no-results="noResultsState" autocomplete="off" class="form-control" placeholder="Select State">
                        <i ng-show="loadingAddressState" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResultsState">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Zip</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.zip">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="organization.mailingList.email">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" name="mail" ng-model="organization.mailingList.mailListAvailableIndex">
                            <span class="lbl"><strong> Mail List Available</strong></span>
                        </label>
                    </div>
                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" name="email" ng-model="organization.mailingList.emailListAvailableIndex">
                            <span class="lbl"><strong>  Email List Available</strong></span>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" data-toggle="modal" ng-click="openNotesPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Notes</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Note</th>
                            <th>Note Type</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="notes in organization.notes" ng-if="notes.note!=null && !notes.deleted">
                            <td class="text-center">{{notes.sequenceNo}}</td>
                            <td>{{notes.note}}</td>
                            <td>{{notes.noteType}}</td>
                            <td class="widthth">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openNotesPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Notes')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openVendorsPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Vendors</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Vendor Type</th>
                            <th>Name</th>
                            <th>Post Box</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vendors in organization.vendors" ng-if="!vendors.deleted">
                            <td class="text-center">{{vendors.sequenceNumber}}</td>
                            <td>{{vendors.vendorType.codeValue}}</td>
                            <td>{{vendors.name}}</td>
                            <td>{{vendors.postBox}}</td>
                            <td>{{vendors.street}}</td>
                            <td>{{vendors.cityName}}</td>
                            <td>{{vendors.stateName}}</td>
                            <td>{{vendors.zip}}</td>
                            <td class="widthth">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openVendorsPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Vendors')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
