<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Direct Marketing Ad Budget ":"Direct Marketing Ad Budget ")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="disbursalForm">
        <div class="widget-box abc">
            <div class="widget-body">
                <div class="widget-main row">
                    <div class="modal-body">
                        <div class="form-group" ng-class="{'has-error': disbursalForm.type.$touched && disbursalForm.directMarketingBudgetDisbursal.$invalid}">
                            <label>Name<span class="meditator">*</label>
                            <ui-select ng-model="directMarketingBudgetDisbursal.code" name="type" on-select="directMarketingBudgetDisbursal.codeName = $item.codeValue"required>
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisDisbursalType as thisDisbursalType in (disbursalcArray | filter: $select.search) track by thisDisbursalType._id">
                                    <span ng-bind="thisDisbursalType.codeValue"></span>
                                </ui-select-choices>
                                </ui-select>
                                <div class="help-block" ng-messages="disbursalForm.type.$error" ng-show="disbursalForm.type.$touched">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': disbursalForm.valueNo.$touched && disbursalForm.valueNo.$invalid}">
                            <label>Value</label>
                            <input type="text" class="form-control" name="valueNo" ng-model="directMarketingBudgetDisbursal.value" validate-this="valueNo" validate-as="digits">
                            <div class="help-block" ng-messages="disbursalForm.valueNo.$error" ng-show="disbursalForm.valueNo.$touched && disbursalForm.valueNo.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.valueNo.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="form-group">
                            <label for="pwd">Value</label>
                            <textarea class="form-control" ng-model="directMarketingBudgetDisbursal.value"></textarea>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="disbursalForm.$invalid || loading">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                    </button>
                    <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
