<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone"></label>
                </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo"></label>
                </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <div class="widget-main">
            <form class="form-horizontal" role="form">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p> {{ getNameOfUser(versions[indexPos].created.by) }}</br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- #section:elements.form -->
                    <div class="container-fluid">
                        <div class="row ng-scope ">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Employees</label>
                                    <div ng-if="organization.employees == originalOrg.employees">
                                        <p>{{organization.employees}}</p>
                                    </div>
                                    <div ng-if="organization.employees != originalOrg.employees">
                                        <span class="nextcolor">{{originalOrg.employees}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.employees}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /section:elements.form -->
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th>Contact Details</th>
                            <th>Active</th>
                            <th>Chairman</th>
                            <th>DMMP Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel">
                            <td class="text-center">
                                <div ng-if="keyPersonnel.sequenceNumber == originalOrg.personnel[$index].sequenceNumber">
                                    {{keyPersonnel.sequenceNumber}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.sequenceNumber != originalOrg.personnel[$index].sequenceNumber">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].sequenceNumber}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.sequenceNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="keyPersonnel.titleMaster.codeValue == originalOrg.personnel[$index].titleMaster.codeValue">
                                    <p>{{keyPersonnel.titleMaster.codeValue}}</p>
                                </div>
                                <div ng-if="keyPersonnel.titleMaster.codeValue != originalOrg.personnel[$index].titleMaster.codeValue">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].titleMaster.codeValue}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.titleMaster.codeValue }}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalOrg.personnel[$index])">
                                    <p>{{showPersonnelName(keyPersonnel)}}</p>
                                </div>
                                <div ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalOrg.personnel[$index])">
                                    <span class="nextcolor">{{showPersonnelName(originalOrg.personnel[$index])}}&nbsp;</span>
                                    <div class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <strong>Phone</strong>:
                                <div ng-if="keyPersonnel.phoneNumbers == originalOrg.personnel[$index].phoneNumbers">
                                    <p> {{ keyPersonnel.phoneNumbers }}</p>
                                </div>
                                <div ng-if="keyPersonnel.phoneNumbers != originalOrg.personnel[$index].phoneNumbers">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].phoneNumbers}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.phoneNumbers}}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Fax</strong>:
                                <div ng-if="keyPersonnel.faxNumbers == originalOrg.personnel[$index].faxNumbers">
                                    <p> {{ keyPersonnel.faxNumbers }}</p>
                                </div>
                                <div ng-if="keyPersonnel.faxNumbers != originalOrg.personnel[$index].faxNumbers">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].faxNumbers}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.faxNumbers}}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Primary Email</strong>:
                                <div ng-if="keyPersonnel.email.primary == originalOrg.personnel[$index].email.primary">
                                    <p> {{ keyPersonnel.email.primary }}</p>
                                </div>
                                <div ng-if="keyPersonnel.email.primary != originalOrg.personnel[$index].email.primary">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].email.primary}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.email.primary}}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Secondary Email</strong>:
                                <div ng-if="keyPersonnel.email.secondary == originalOrg.personnel[$index].email.secondary">
                                    <p> {{ keyPersonnel.email.secondary }}</p>
                                </div>
                                <div ng-if="keyPersonnel.email.secondary != originalOrg.personnel[$index].email.secondary">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].email.secondary}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.email.secondary}}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Websites</strong>:
                                <div ng-if="keyPersonnel.website == originalOrg.personnel[$index].website">
                                    <p>{{ keyPersonnel.website }}</p>
                                </div>
                                <div ng-if="keyPersonnel.website != originalOrg.personnel[$index].website">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].website}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.website}}&nbsp;</div>
                                </div>
                                <br>
                            </td>
                            <td>
                                <div ng-if="keyPersonnel.activeFlag == originalOrg.personnel[$index].activeFlag">
                                    {{ keyPersonnel.activeFlag ? "YES" : (keyPersonnel.activeFlag === false ? "NO" : "")}}
                                </div>
                                <div ng-if="keyPersonnel.activeFlag != originalOrg.personnel[$index].activeFlag">
                                    <span class="nextcolor"> {{ originalOrg.personnel[$index].activeFlag ? "YES" : (originalOrg.personnel[$index].activeFlag === false ? "NO" : "")}}&nbsp;</span>
                                    <div class="boxcolor">
                                        {{ keyPersonnel.activeFlag ? "YES" : (keyPersonnel.activeFlag === false ? "NO" : "")}}&nbsp;
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="keyPersonnel.chairman == originalOrg.personnel[$index].chairman">
                                    {{ keyPersonnel.chairman ? "YES" : (keyPersonnel.chairman === false ? "NO" : "")}}
                                </div>
                                <div ng-if="keyPersonnel.chairman != originalOrg.personnel[$index].chairman">
                                    <span class="nextcolor"> {{ originalOrg.personnel[$index].chairman ? "YES" : (originalOrg.personnel[$index].chairman === false ? "NO" : "")}}&nbsp;</span>
                                    <div class="boxcolor">
                                        {{ keyPersonnel.chairman ? "YES" : (keyPersonnel.chairman === false ? "NO" : "")}}&nbsp;
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="keyPersonnel.dmmpContact == originalOrg.personnel[$index].dmmpContact">
                                    {{ keyPersonnel.dmmpContact ? "YES" : (keyPersonnel.dmmpContact === false ? "NO" : "")}}
                                </div>
                                <div ng-if="keyPersonnel.dmmpContact != originalOrg.personnel[$index].dmmpContact">
                                    <span class="nextcolor"> {{ originalOrg.personnel[$index].dmmpContact ? "YES" : (originalOrg.personnel[$index].dmmpContact === false ? "NO" : "")}}&nbsp;</span>
                                    <div class="boxcolor">
                                        {{ keyPersonnel.dmmpContact ? "YES" : (keyPersonnel.dmmpContact === false ? "NO" : "")}}&nbsp;
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="keyPersonnel in deletedPers" bgcolor="42b6da">
                            <td class="text-center">{{ keyPersonnel.sequenceNumber }}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td>
                                <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                <br>
                                <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                <br>
                                <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                <br>
                                <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                <br>
                                <strong>Websites</strong>: {{ keyPersonnel.website }}
                                <br>
                            </td>
                            <td>{{ keyPersonnel.activeFlag ? "YES" : (keyPersonnel.activeFlag === false ? "NO" : "")}}</td>
                            <td>{{ keyPersonnel.chairman ? "YES" : (keyPersonnel.chairman === false ? "NO" : "") }}</td>
                            <td>{{ keyPersonnel.dmmpContact ? "YES" : (keyPersonnel.dmmpContact === false ? "NO" : "") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl text-center">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th class="widthth text-center">General Details</th>
                            <th class="widthth text-center">Responsibility Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="keyPersonnel.deleted == false">
                            <td class="widthfcl text-center">
                                <div ng-if="keyPersonnel.sequenceNumber == originalOrg.personnel[$index].sequenceNumber">
                                    {{keyPersonnel.sequenceNumber}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.sequenceNumber != originalOrg.personnel[$index].sequenceNumber">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].sequenceNumber}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.sequenceNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div ng-if="keyPersonnel.titleMaster.codeValue == originalOrg.personnel[$index].titleMaster.codeValue">
                                    {{keyPersonnel.titleMaster.codeValue}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.titleMaster.codeValue != originalOrg.personnel[$index].titleMaster.codeValue">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].titleMaster.codeValue}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.titleMaster.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalOrg.personnel[$index])">
                                    {{showPersonnelName(keyPersonnel)}}
                                </div>
                                <div class="text-danger" ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalOrg.personnel[$index])">
                                    <span class="nextcolor"> {{showPersonnelName(originalOrg.personnel[$index])}}&nbsp;</span>
                                    <div class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openDMMPKeyPersonnelGeneralDiffPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openDMMPKeyPersonnelResponsibilityDiffPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="keyPersonnel in deletedPers" bgcolor="42b6da">
                            <td class="widthfcl text-center">{{ keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
