<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: General</h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h4 class="addnewt container">General Details</h4>
            <div class="form-group col-md-4">
                <label class="h5 bold">Sequence No.</label>
                <p class=".h5">{{keyPersonnel.sequenceNumber}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Personnel ID</label>
                <p class=".h5">{{keyPersonnel.personnel_id}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Title</label>
                <p class=".h5">{{keyPersonnel.titleMaster.codeValue}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 bold">Prefix</label>
                <p class=".h5">{{keyPersonnel.name.prefix}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">First Name</label>
                <p class=".h5">{{keyPersonnel.name.first}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Middle Name</label>
                <p class=".h5">{{keyPersonnel.name.middle}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 bold">Last Name</label>
                <p class=".h5">{{keyPersonnel.name.last}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Suffix</label>
                <p class=".h5">{{keyPersonnel.name.suffix}}</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <h4 class="addnewt container">Contact Details</h4>
            <div class="form-group col-md-4">
                <label class="h5 bold">Phone No.</label>
                <p class=".h5">{{keyPersonnel.phoneNumbers}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Primary Email</label>
                <p class=".h5">{{keyPersonnel.email.primary}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Websites</label>
                <p class=".h5">{{keyPersonnel.website}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 bold">Fax</label>
                <p class=".h5">{{keyPersonnel.faxNumbers}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Secondary Email</label>
                <p class=".h5">{{keyPersonnel.email.secondary}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="position-relative">
                    <i class="fa" ng-class="keyPersonnel.activeFlag ? 'fa-check' : 'fa-remove'"></i>
                    <strong class="radiospace">Active</strong>
                </label>
                <label class="position-relative">
                    <i class="fa" ng-class="keyPersonnel.chairman ? 'fa-check' : 'fa-remove'"></i>
                    <strong class="radiospace">Chairman</strong>
                </label>
                <label class="position-relative">
                    <i class="fa" ng-class="keyPersonnel.dmmpContact ? 'fa-check' : 'fa-remove'"></i>
                    <strong class="radiospace">DMMP Contact</strong>
                </label>
            </div>
        </div>
    </div>
</div>
