<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <div class="container-fluid">
                        <div class="row ng-scope ">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Organization ID</label>
                                    <p>{{organization.org_id}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Sequence No.</label>
                                    <p>{{organization.sequenceNo}}</p>
                                </div>
                                <!--  <div class="">
                                   <label class="h5 boldfont">Section</label>
                                   <p>{{organization.sectionCode[0].description}}</p>
                               </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Classification Code</label>
                                    <p>{{organization.classificationCode.codeValue}}</p>
                                </div>
                                <!--  <div class="">
                                   <label class="h5 boldfont">Listing Type</label>
                                   <p>{{organization.listingType.codeValue}}</p>
                               </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Conduct Business</label>
                                    <p>{{organization.conductBusiness}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Advertising Marketing Budget Related to Direct Marketing</label>
                                    <div ng-if="organization.directMarketingBudget.indexOf('%')<1">
                                        <p>{{organization.directMarketingBudget ? (organization.directMarketingBudget + " %") : ""}}</p>
                                    </div>
                                    <div ng-if="organization.directMarketingBudget.indexOf('%')>=1">
                                        <p>{{organization.directMarketingBudget}}</p>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Business Description</label>
                                    <p>{{organization.galleryDescription}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Name</label>
                                    <p>{{organization.name}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Minor Name</label>
                                    <p>{{organization.shortName}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Sort Major Name</label>
                                    <p>{{organization.sortMajorName}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Established Description</label>
                                    <p>{{organization.established.detail}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Established Year</label>
                                    <p>{{organization.established.year}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Primary Market Served</label>
                                    <p>{{organization.primaryMarket.codeValue}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Name Suffix</label>
                                    <p>{{organization.nameSuffix}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">DMA Code</label>
                                    <p>{{organization.dmaCode}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">DMA ID</label>
                                    <p>{{organization.dmaId}}</p>
                                </div>
                                <div class>
                                    <label class="position-relative boldfont">
                                        <i class="fa fa-check " ng-class="organization.flags.catalogOnline? 'fa-check' : 'fa-remove'"></i>Catalog Available Online</br>
                                        <span ng-if="organization.flags.catalogOnline == true">{{ (organization.onlineSales && organization.onlineSales !='') ? ("(" + (organization.onlineSales == 'D' ? 'Direct Online Sales' : 'Indirect Online Sales') + ")") : "" }}</span>
                                    </label>
                                </div>
                                <!--  <div class="form-group ">
                                   <label>
                                       <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.catalogOnline">
                                       <span class="lbl" for="catlog-available-online">
                                           <strong class="checkboxspace">Catalog Available Online</strong>
                                       </span>
                                    </label>
                                    <ul class="nav catlog-available-online">
                                        <li>
                                            <label>
                                                <input type="radio" class="ace ace-checkbox-2" name="sales" value="D" ng-disabled="!organization.flags.catalogOnline" ng-model="organization.onlineSales">
                                                <span class="lbl"><span class="radiospace">Direct Online Sales</span></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="radio" class="ace ace-checkbox-2" name="sales" value="I" ng-disabled="!organization.flags.catalogOnline" ng-model="organization.onlineSales">
                                                <span class="lbl"><span class="radiospace">Indirect Online Sales</span></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Direct Marketing Ad Budget   </label>
                                    <p>{{organization.totalAdvertisingBudget}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Former Name(s)</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Show Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name!=null && !formerName.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{formerName.name}}</td>
                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.showDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Listing Types</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Listing Type</th>
                            <th>Listing Section</th>
                            <th>Listing Section No.</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="listingType in organization.listingType" ng-if="!listingType.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{listingType.listing.codeValue}}</td>
                            <td>{{listingType.listingSectionName}}</td>
                            <td>{{listingType.sectionNumber}}</td>
                            <td>{{listingType.listingActive ? "YES" : (listingType.listingActive === false ? 'NO' : '') }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Direct Marketing Ad Budget </div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="directMarketingBudgetDisbursal in organization.directMarketingBudgetDisbursal">
                            <td class="widthfcl text-center">{{ ($index+1) }}</td>
                            <td>{{directMarketingBudgetDisbursal.codeName}} </td>
                            <td>{{directMarketingBudgetDisbursal.value ? (directMarketingBudgetDisbursal.value + "%"): ""}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
