<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: General</h4>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="widthfcl">#</th>
                <th>Responsibility Type </th>
                <th>Sdaa Index</th>
                <th>Sda Index</th>
                <th>Dca Ipc Index</th>
                <th>Acf Index</th>
                <th>Dca Pub Index</th>
                <th>Dca Previous Index</th>
                <th>Iad Index</th>
                <th>Iag Index</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dmmpResponsibilityCodes in keyPersonnel.responsibilityCodes" ng-class="{'selectedRow': $index == newOfficerIndex}" ng-if="!dmmpResponsibilityCodes.deleted">
                <td class="text-center">{{ ($index+1) }}</td>
                <td class="text-center">{{dmmpResponsibilityCodes.responsibilityDescription}}</td>
                <td>{{dmmpResponsibilityCodes.sdaaIndex ? "YES":(dmmpResponsibilityCodes.sdaaIndex == false ? "NO": "")}}</td>
                <td>{{dmmpResponsibilityCodes.sdaIndex ? "YES":(dmmpResponsibilityCodes.sdaIndex == false ? "NO": "")}}</td>
                <td>{{dmmpResponsibilityCodes.dcaIpcIndex ? "YES":(dmmpResponsibilityCodes.dcaIpcIndex == false ? "NO": "")}}</td>
                <td>{{dmmpResponsibilityCodes.acfIndex ? "YES":(dmmpResponsibilityCodes.acfIndex == false ? "NO": "")}}</td>
                <td>{{dmmpResponsibilityCodes.dcaPubIndex ? "YES":(dmmpResponsibilityCodes.dcaPubIndex == false ? "NO": "")}}</td>
                <td>{{dmmpResponsibilityCodes.dcaPreviousIndex ? "YES":(dmmpResponsibilityCodes.dcaPreviousIndex == false ? "NO": "")}}</td>
                <td>{{dmmpResponsibilityCodes.iadIndex ? "YES":(dmmpResponsibilityCodes.iadIndex == false ? "NO": "")}}</td>
                <td>{{dmmpResponsibilityCodes.iagIndex ? "YES":(dmmpResponsibilityCodes.iagIndex == false ? "NO": "")}}</td>
            </tr>
        </tbody>
    </table>
</div>
