<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Note":"Note")}}</h4>
    </div>
    <form name="notesForm" ng-submit="!editFlag ? add() : update()">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': notesForm.sequenceNo.$touched && notesForm.sequenceNo.$invalid}">
                    <label>Sequence No.</label>
                    <input type="text" class="form-control" name="sequenceNo" ng-model="notes.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                    <div class="help-block" ng-messages="notesForm.sequenceNo.$error" ng-show="notesForm.sequenceNo.$touched && notesForm.sequenceNo.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label>Sequence No.</label>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="notes.sequenceNo">
                    </div>
                </div> -->
                <div class="form-group" ng-class="{'has-error': notesForm.note.$touched && notesForm.note.$invalid}">
                    <label>Note<span class="meditator">*</span></label>
                    <input type="text" class="form-control" name="note" ng-model="notes.note" required>
                    <div class="help-block" ng-messages="notesForm.note.$error" ng-show="notesForm.note.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Note Type</label>
                    <ui-select ng-model="notes.noteType" name="type">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisNoteType in (['A','N'] | filter: $select.search)">
                            <span ng-bind="thisNoteType"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="notesForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
