<!-- <div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Key Personnel":"Key Personnel")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="keypersonnelForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <h4 class="addnewt container">General Details</h4>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.sequenceNo.$touched && keypersonnelForm.sequenceNo.$invalid}">
                            <label>Sequence No.</label>
                            <input type="text" class="form-control" name="sequenceNo" ng-model="keyPersonnel.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                            <div class="help-block" ng-messages="keypersonnelForm.sequenceNo.$error" ng-show="keypersonnelForm.sequenceNo.$touched && keypersonnelForm.sequenceNo.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Title</label>
                            <input type="text" ng-model="keyPersonnel.titleMaster" uib-typeahead="keypersonnelTitle as keypersonnelTitle.codeValue for keypersonnelTitle in getKeyPersonnelTitles($viewValue)" typeahead-input-formatter="formatKeypersonnelTypeAhead($model)" typeahead-editable="false" typeahead-on-select="selectKeypersonnelTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingKeypersonnelTitle" typeahead-no-results="noResultsTitle" class="form-control" placeholder="Select Title...">
                            <i ng-show="loadingKeypersonnelTitle" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResultsTitle">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Prefix</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.prefix">
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.keypersonnel.$touched && keypersonnelForm.keypersonnel.$invalid}">
                            <label>First Name<span class="meditator">*</span></label>
                            <input type="text" class="form-control" name="keypersonnel" ng-model="keyPersonnel.name.first" required>
                            <div class="help-block" ng-messages="keypersonnelForm.keypersonnel.$error" ng-show="keypersonnelForm.keypersonnel.$touched && keypersonnelForm.keypersonnel.$invalid">
                                <div ng-message="required">Please fill this field</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Middle Name</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.middle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Last Name</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.last">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Suffix</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.suffix">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <h4 class="addnewt container">Contact Details</h4>
                        <div class="form-group col-md-4">
                            <label>Phone No.</label>
                            <input type="text" class="form-control" name="phoneno" ng-model="keyPersonnel.phoneNumbers">
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.primaryEmail.$touched && keypersonnelForm.primaryEmail.$invalid}">
                            <label>Primary Email</label>
                            <input type="text" class="form-control" name="primaryEmail" ng-model="keyPersonnel.email.primary" validate-this="primaryEmail" validate-as="email">
                            <div class="help-block" ng-messages="keypersonnelForm.primaryEmail.$error" ng-show="keypersonnelForm.primaryEmail.$touched && keypersonnelForm.primaryEmail.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.primaryEmail.email">Invalid Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Websites</label>
                            <input type="text" class="form-control" name="name" ng-model="keyPersonnel.website">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Fax</label>
                            <input type="text" class="form-control" name="faxno" ng-model="keyPersonnel.faxNumbers">
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.secondaryEmail.$touched && keypersonnelForm.secondaryEmail.$invalid}">
                            <label>Secondary Email</label>
                            <input type="text" class="form-control" name="secondaryEmail" ng-model="keyPersonnel.email.secondary" validate-this="secondaryEmail" validate-as="email">
                            <div class="help-block" ng-messages="keypersonnelForm.secondaryEmail.$error" ng-show="keypersonnelForm.secondaryEmail.$touched && keypersonnelForm.secondaryEmail.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.secondaryEmail.email">Invalid Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <br/>
                            <label class="position-relative">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.activeFlag" id="active">
                                <span class="lbl" for="active"><strong>Active</strong></span>
                            </label>
                            <label class="position-relative">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.chairman" id="chairman">
                                <span class="lbl" for="chairman"><strong>Chairman</strong></span>
                            </label>
                            <label class="position-relative">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.dmmpContact" id="dmmpContact">
                                <span class="lbl" for="dmmpContact"><strong>DMMP Contact</strong></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="keypersonnelForm.$invalid || loading"><i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save</button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
 -->
<!-- New Personnel -->
<form name="personnelForm" ng-submit="editFlag ? update() : add()">
    <style type="text/css">
    .selectedRow td {
        background-color: #fe9;
    }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Key Personnel":"Key Personnel")}}</h4>
    </div>
    <div class="modal-body">
        <div class="ocd-keyPersonnel">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="General Details">
                    <div class="container-fluid">
                        <div class="row">
                            <h4 class="addnewt container">General Details</h4>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.sequenceNo.$touched && personnelForm.sequenceNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control" name="sequenceNo" ng-model="keyPersonnel.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                                <div class="help-block" ng-messages="personnelForm.sequenceNo.$error" ng-show="personnelForm.sequenceNo.$touched && personnelForm.sequenceNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.personnelID.$touched && personnelForm.personnelID.$invalid}">
                                <label>Personnel ID</label>
                                <input type="text" class="form-control" name="personnelID" ng-model="keyPersonnel.personnel_id" validate-this="personnelID" validate-as="digits">
                                <div class="help-block" ng-messages="personnelForm.personnelID.$error" ng-show="personnelForm.personnelID.$touched && personnelForm.personnelID.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.personnelID.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Title</label>
                                <input type="text" ng-model="keyPersonnel.titleMaster" uib-typeahead="keypersonnelTitle as keypersonnelTitle.codeValue for keypersonnelTitle in getKeyPersonnelTitles($viewValue)" typeahead-input-formatter="formatKeypersonnelTypeAhead($model)" typeahead-editable="false" typeahead-on-select="selectKeypersonnelTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingKeypersonnelTitle" typeahead-no-results="noResultsTitle" class="form-control" placeholder="Select Title...">
                                <i ng-show="loadingKeypersonnelTitle" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsTitle">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Prefix</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.prefix">
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.keypersonnel.$touched && personnelForm.keypersonnel.$invalid}">
                                <label>First Name<span class="meditator">*</span></label>
                                <input type="text" class="form-control" name="keypersonnel" ng-model="keyPersonnel.name.first" required>
                                <div class="help-block" ng-messages="personnelForm.keypersonnel.$error" ng-show="personnelForm.keypersonnel.$touched && personnelForm.keypersonnel.$invalid">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.middle">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Last Name</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.last">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Suffix</label>
                                <input type="text" class="form-control" ng-model="keyPersonnel.name.suffix">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h4 class="addnewt container">Contact Details</h4>
                            <div class="form-group col-md-4">
                                <label>Phone No.</label>
                                <input type="text" class="form-control" name="phoneno" ng-model="keyPersonnel.phoneNumbers">
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.primaryEmail.$touched && personnelForm.primaryEmail.$invalid}">
                                <label>Primary Email</label>
                                <input type="text" class="form-control" name="primaryEmail" ng-model="keyPersonnel.email.primary" validate-this="primaryEmail" validate-as="email">
                                <div class="help-block" ng-messages="personnelForm.primaryEmail.$error" ng-show="personnelForm.primaryEmail.$touched && personnelForm.primaryEmail.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.primaryEmail.email">Invalid Email</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Websites</label>
                                <input type="text" class="form-control" name="name" ng-model="keyPersonnel.website">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Fax</label>
                                <input type="text" class="form-control" name="faxno" ng-model="keyPersonnel.faxNumbers">
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.secondaryEmail.$touched && personnelForm.secondaryEmail.$invalid}">
                                <label>Secondary Email</label>
                                <input type="text" class="form-control" name="secondaryEmail" ng-model="keyPersonnel.email.secondary" validate-this="secondaryEmail" validate-as="email">
                                <div class="help-block" ng-messages="personnelForm.secondaryEmail.$error" ng-show="personnelForm.secondaryEmail.$touched && personnelForm.secondaryEmail.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.secondaryEmail.email">Invalid Email</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.activeFlag" id="active">
                                    <span class="lbl" for="active"><strong>Active</strong></span>
                                </label>
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.chairman" id="chairman">
                                    <span class="lbl" for="chairman"><strong>Chairman</strong></span>
                                </label>
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.dmmpContact" id="dmmpContact">
                                    <span class="lbl" for="dmmpContact"><strong>DMMP Contact</strong></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Responsibility Details">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">Responsibility Details</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group" ng-class="{'has-error' : personnelForm.responsibilityCode.$touched && personnelForm.responsibilityCode.$invalid}">
                                    <label>Responsibility Type<span class="meditator">*</span></label>
                                    <ui-select ng-model="newResponsibility.responsibilityCode" name="typeName" on-select="newResponsibility.responsibilityDescription = $item.codeValue">
                                        <ui-select-match placeholder="Select">
                                            <span ng-bind="$select.selected.codeValue"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="thisresponsibilityCode._id as thisresponsibilityCode  in responsibilityTypeArray">
                                            <span ng-bind="thisresponsibilityCode.codeValue"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.sdaaIndex" id="sdaIndex">
                                    <span class="lbl" for="sdaIndex"><strong>Sdaa Index</strong></span>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.sdaIndex" id="sdaIndex">
                                    <span class="lbl" for="sdaIndex"><strong>Sda Index</strong></span>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.dcaIpcIndex" id="ipcIndex">
                                    <span class="lbl" for="ipcIndex"><strong>Dca Ipc Index</strong></span>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.acfIndex" id="acfIndex">
                                    <span class="lbl" for="acfIndex"><strong>Acf Index</strong></span>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.dcaPubIndex" id="pibIndex">
                                    <span class="lbl" for="pibIndex"><strong>Dca Pub Index</strong></span>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.dcaPreviousIndex" id="dcaIndex">
                                    <span class="lbl" for="dcaIndex"><strong>Dca Previous Index</strong></span>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.iadIndex" id="iadIndex">
                                    <span class="lbl" for="iadIndex"><strong>Iad Index</strong></span>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="newResponsibility.iagIndex" id="iagIndex">
                                    <span class="lbl" for="iagIndex"><strong>Iag Index</strong></span>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewDMMPResponsibility()" ng-disabled="!newResponsibility.responsibilityCode">
                                <i class="fa fa-check"></i> Save Responsibility Details </button>
                            <a class="btn btn-sm btn-default" ng-click="resetNewDMMPResponsibility()">
                                <i class="fa fa-remove"></i> Clear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl">#</th>
                                    <th>Responsibility Type </th>
                                    <th>Sdaa Index</th>
                                    <th>Sda Index</th>
                                    <th>Dca Ipc Index</th>
                                    <th>Acf Index</th>
                                    <th>Dca Pub Index</th>
                                    <th>Dca Previous Index</th>
                                    <th>Iad Index</th>
                                    <th>Iag Index</th>
                                    <th class="widthth text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dmmpResponsibilityCodes in keyPersonnel.responsibilityCodes" ng-class="{'selectedRow': $index == newResponsibilityIndex}" ng-if="!dmmpResponsibilityCodes.deleted">
                                    <td class="text-center">{{ ($index+1) }}</td>
                                    <td class="text-center">{{dmmpResponsibilityCodes.responsibilityDescription}}</td>
                                    <td>{{dmmpResponsibilityCodes.sdaaIndex ? "YES":(dmmpResponsibilityCodes.sdaaIndex == false ? "NO": "")}}</td>
                                    <td>{{dmmpResponsibilityCodes.sdaIndex ? "YES":(dmmpResponsibilityCodes.sdaIndex == false ? "NO": "")}}</td>
                                    <td>{{dmmpResponsibilityCodes.dcaIpcIndex ? "YES":(dmmpResponsibilityCodes.dcaIpcIndex == false ? "NO": "")}}</td>
                                    <td>{{dmmpResponsibilityCodes.acfIndex ? "YES":(dmmpResponsibilityCodes.acfIndex == false ? "NO": "")}}</td>
                                    <td>{{dmmpResponsibilityCodes.dcaPubIndex ? "YES":(dmmpResponsibilityCodes.dcaPubIndex == false ? "NO": "")}}</td>
                                    <td>{{dmmpResponsibilityCodes.dcaPreviousIndex ? "YES":(dmmpResponsibilityCodes.dcaPreviousIndex == false ? "NO": "")}}</td>
                                    <td>{{dmmpResponsibilityCodes.iadIndex ? "YES":(dmmpResponsibilityCodes.iadIndex == false ? "NO": "")}}</td>
                                    <td>{{dmmpResponsibilityCodes.iagIndex ? "YES":(dmmpResponsibilityCodes.iagIndex == false ? "NO": "")}}</td>
                                    <td class="text-center action-buttons">
                                        <a class="blue" ng-click="editNewDMMPResponsibility($index)">
                                            <i class="fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red" ng-click="openRemovePopup($index, 'Key Personnel: Responsibility', removeNewDMMPResponsibility)">
                                            <i class="fa fa-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="personnelForm.$invalid || loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
        <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
    </div>
</form>
