<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Responsibility</h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h4 class="addnewt container">Responsibility Details</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Responsibility Type </th>
                        <th>Sdaa Index</th>
                        <th>Sda Index</th>
                        <th>Dca Ipc Index</th>
                        <th>Acf Index</th>
                        <th>Dca Pub Index</th>
                        <th>Dca Previous Index</th>
                        <th>Iad Index</th>
                        <th>Iag Index</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dmmpResponsibilityCodes in keyPersonnel.responsibilityCodes" ng-if="dmmpResponsibilityCodes.deleted == false">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td class="text-center">
                            <div ng-if="dmmpResponsibilityCodes.responsibilityDescription == originalPers.responsibilityCodes[$index].responsibilityDescription">
                                <p>{{dmmpResponsibilityCodes.responsibilityDescription}}&nbsp;</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.responsibilityDescription != originalPers.responsibilityCodes[$index].responsibilityDescription">
                                <p class="nextcolor"> {{originalPers.responsibilityCodes[$index].responsibilityDescription}}&nbsp;</p>
                                <p class="boxcolor">{{dmmpResponsibilityCodes.responsibilityDescription}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.sdaaIndex == originalPers.responsibilityCodes[$index].sdaaIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.sdaaIndex ? "YES" :( dmmpResponsibilityCodes.sdaaIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.sdaaIndex != originalPers.responsibilityCodes[$index].sdaaIndex">
                                <span class="nextcolor">{{originalPers.responsibilityCodes[$index].sdaaIndex ? "YES" : ( originalPers.responsibilityCodes[$index].sdaaIndex == false ? "NO" : "" )}}&nbsp;</span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.sdaaIndex ? "YES" : ( dmmpResponsibilityCodes.sdaaIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.sdaIndex == originalPers.responsibilityCodes[$index].sdaIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.sdaIndex ? "YES" :( dmmpResponsibilityCodes.sdaIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.sdaIndex != originalPers.responsibilityCodes[$index].sdaIndex">
                                <span class="nextcolor">{{originalPers.responsibilityCodes[$index].sdaIndex ? "YES" : ( originalPers.responsibilityCodes[$index].sdaIndex == false ? "NO" : "" )}}&nbsp;</span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.sdaIndex ? "YES" : ( dmmpResponsibilityCodes.sdaIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.dcaIpcIndex == originalPers.responsibilityCodes[$index].dcaIpcIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.dcaIpcIndex ? "YES" :( dmmpResponsibilityCodes.dcaIpcIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.dcaIpcIndex != originalPers.responsibilityCodes[$index].dcaIpcIndex">
                                <span class="nextcolor">{{originalPers.responsibilityCodes[$index].dcaIpcIndex ? "YES" : ( originalPers.responsibilityCodes[$index].dcaIpcIndex == false ? "NO" : "" )}}&nbsp;</span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.dcaIpcIndex ? "YES" : ( dmmpResponsibilityCodes.dcaIpcIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.acfIndex == originalPers.responsibilityCodes[$index].acfIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.acfIndex ? "YES" :( dmmpResponsibilityCodes.acfIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.acfIndex != originalPers.responsibilityCodes[$index].acfIndex">
                                <span class="nextcolor">{{originalPers.responsibilityCodes[$index].acfIndex ? "YES" : ( originalPers.responsibilityCodes[$index].acfIndex == false ? "NO" : "" )}}&nbsp;</span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.acfIndex ? "YES" : ( dmmpResponsibilityCodes.acfIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.dcaPubIndex == originalPers.responsibilityCodes[$index].dcaPubIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.dcaPubIndex ? "YES" :( dmmpResponsibilityCodes.dcaPubIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.dcaPubIndex != originalPers.responsibilityCodes[$index].dcaPubIndex">
                                <span class="nextcolor">{{originalPers.responsibilityCodes[$index].dcaPubIndex ? "YES" : ( originalPers.responsibilityCodes[$index].dcaPubIndex == false ? "NO" : "" )}}&nbsp;</span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.dcaPubIndex ? "YES" : ( dmmpResponsibilityCodes.dcaPubIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.dcaPreviousIndex == originalPers.responsibilityCodes[$index].dcaPreviousIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.dcaPreviousIndex ? "YES" :( dmmpResponsibilityCodes.dcaPreviousIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.dcaPreviousIndex != originalPers.responsibilityCodes[$index].dcaPreviousIndex">
                                <span class="nextcolor">{{originalPers.responsibilityCodes[$index].dcaPreviousIndex ? "YES" : ( originalPers.responsibilityCodes[$index].dcaPreviousIndex == false ? "NO" : "" )}}&nbsp;</span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.dcaPreviousIndex ? "YES" : ( dmmpResponsibilityCodes.dcaPreviousIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.iadIndex == originalPers.responsibilityCodes[$index].iadIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.iadIndex ? "YES" :( dmmpResponsibilityCodes.iadIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.iadIndex != originalPers.responsibilityCodes[$index].iadIndex">
                                <span class="nextcolor">{{originalPers.responsibilityCodes[$index].iadIndex ? "YES" : ( originalPers.responsibilityCodes[$index].iadIndex == false ? "NO" : "" )}}&nbsp;</span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.iadIndex ? "YES" : ( dmmpResponsibilityCodes.iadIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="dmmpResponsibilityCodes.iagIndex == originalPers.responsibilityCodes[$index].iagIndex">
                                <p class=".h5">{{dmmpResponsibilityCodes.iagIndex ? "YES" :( dmmpResponsibilityCodes.iagIndex == false ? "NO" : "" ) }}</p>
                            </div>
                            <div ng-if="dmmpResponsibilityCodes.iagIndex != originalPers.responsibilityCodes[$index].iagIndex">
                                <span class="nextcolor"><div>{{originalPers.responsibilityCodes[$index].iagIndex ? "YES" : ( originalPers.responsibilityCodes[$index].iagIndex == false ? "NO" : "" )}}&nbsp;</div></span>
                                <div class="boxcolor">{{dmmpResponsibilityCodes.iagIndex ? "YES" : ( dmmpResponsibilityCodes.iagIndex == false ? "NO" : "" )}}&nbsp;</div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="dmmpResponsibilityCodes in deletedResponsibility" bgcolor="42b6da">
                        <td class="text-center">{{($index+1)}}</td>
                        <td class="text-center">{{dmmpResponsibilityCodes.responsibilityDescription}}</td>
                        <td>{{dmmpResponsibilityCodes.sdaaIndex ? "YES":(dmmpResponsibilityCodes.sdaaIndex == false ? "NO": "")}}</td>
                        <td>{{dmmpResponsibilityCodes.sdaIndex ? "YES":(dmmpResponsibilityCodes.sdaIndex == false ? "NO": "")}}</td>
                        <td>{{dmmpResponsibilityCodes.dcaIpcIndex ? "YES":(dmmpResponsibilityCodes.dcaIpcIndex == false ? "NO": "")}}</td>
                        <td>{{dmmpResponsibilityCodes.acfIndex ? "YES":(dmmpResponsibilityCodes.acfIndex == false ? "NO": "")}}</td>
                        <td>{{dmmpResponsibilityCodes.dcaPubIndex ? "YES":(dmmpResponsibilityCodes.dcaPubIndex == false ? "NO": "")}}</td>
                        <td>{{dmmpResponsibilityCodes.dcaPreviousIndex ? "YES":(dmmpResponsibilityCodes.dcaPreviousIndex == false ? "NO": "")}}</td>
                        <td>{{dmmpResponsibilityCodes.iadIndex ? "YES":(dmmpResponsibilityCodes.iadIndex == false ? "NO": "")}}</td>
                        <td>{{dmmpResponsibilityCodes.iagIndex ? "YES":(dmmpResponsibilityCodes.iagIndex == false ? "NO": "")}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
