<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="eventForm" ng-submit="add()">
            <div class="form-group" ng-class="{ 'has-error': eventForm.name.$touched && eventForm.name.$invalid }">
                <label>Name</label>
                <input type="text" class="form-control" name="name" ng-model="event.name" required>
                <div class="help-block" ng-messages="eventForm.name.$error" ng-show="eventForm.name.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': eventForm.description.$touched && eventForm.description.$invalid }">
                <label>Description</label>
                <input type="text" class="form-control" name="description" ng-model="event.description" required>
                <div class="help-block" ng-messages="eventForm.description.$error" ng-show="eventForm.description.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="eventForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>
