<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="templateForm" ng-submit="add()">
            <div class="form-group">
                <label>Event</label>
                <ui-select ng-model="selectedEvent.value">
                    <ui-select-match>
                        <span>{{ $select.selected.name }}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="event in (eventArray | filter: $select.search) track by event._id">
                        <span>{{ event.name }}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': templateForm.name.$touched && templateForm.name.$invalid }">
                <label>Template Name</label>
                <input type="text" class="form-control" name="name" ng-model="template.name" required>
                <div class="help-block" ng-messages="templateForm.name.$error" ng-show="templateForm.name.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': templateForm.description.$touched && templateForm.description.$invalid }">
                <label>Description</label>
                <input type="text" class="form-control" name="description" ng-model="template.description" required>
                <div class="help-block" ng-messages="templateForm.description.$error" ng-show="templateForm.description.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <div class="form-group" >
                <div ckeditor="options" ng-model="template.body" ready="onReady()"></div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="templateForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>
