<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <h4>Are you sure you want to delete</h4>
            <h2>{{ event.name }}?</h2>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" ui-sref="portal.notification.event.list"><i class="fa fa-remove"></i> Cancel</a>
            <button class="btn btn-primary" ng-click="remove()"><i class="fa fa-check"></i> Yes, I'm sure</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
