<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Degree</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th>Degree Type</th>
                    <th>Other Degree</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="degree in keyPersonnel.ocdDegree" ng-if="!degree.deleted" ng-class="{'selectedRow': $index == newDegreeIndex}">
                    <td class="text-center">{{ degree.sequenceNo }}</td>
                    <td>{{degree.degreeTypeName}}</td>
                    <td>{{degree.otherDegree}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
