<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Statistic":"Statistic")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="StatisticsForm">
        <div class="abc ng-scope">
            <div class="widget-body">
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': StatisticsForm.sequenceNo.$touched && StatisticsForm.sequenceNo.$invalid }">
                        <label>Sequence No.</label>
                        <input type="text" class="form-control" name="sequenceNo" ng-model="statistic.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                        <div class="help-block" ng-messages="StatisticsForm.sequenceNo.$error" ng-show="StatisticsForm.sequenceNo.$touched && StatisticsForm.sequenceNo.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group " ng-class="{ 'has-error': StatisticsForm.type.$touched && StatisticsForm.type.$invalid }">
                        <label for="pwd">Statistic Type<span class="meditator">*</span></label>
                        <ui-select ng-model="statistic.statisticType" on-select="statistic.statisticTypeName = $item.codeValue" name="type" required>
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisstatisticType as thisstatisticType in (statisticArray | filter: $select.search) track by thisstatisticType._id">
                                <span ng-bind="thisstatisticType.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block" ng-messages="StatisticsForm.type.$error" ng-show="StatisticsForm.type.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Statistic Category</label>
                        <input type="text" class="form-control" ng-model="statistic.statisticCategory">
                    </div>
                    <div class="form-group">
                        <label>Statistic Value</label>
                        <input type="text" class="form-control" ng-model="statistic.value">
                    </div>
                    <div class="form-group">
                        <label>Statistic Text</label>
                        <input type="text" class="form-control" ng-model="statistic.text">
                    </div>
                    <div class="form-group">
                        <label>Statistic Year</label>
                        <input type="text" class="form-control" ng-model="statistic.year">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="StatisticsForm.$invalid || loading">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                    </button>
                    <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
