<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <div class="widget-main">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="addnewt contacttop">
                            <span>Sales</span>
                        </div>
                        <div class>
                            <label class="h5 boldfont">Name1</label>
                            <div ng-if="organization.sales.name1 == originalOrg.sales.name1">
                                <p class=".h5">{{organization.sales.name1}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.sales.name1 != originalOrg.sales.name1">
                                <span class="nextcolor">{{originalOrg.sales.name1}}&nbsp;</span>
                                <div class="boxcolor">{{organization.sales.name1}}&nbsp;</div>
                            </div>
                        </div>
                        <div class>
                            <label class="h5 boldfont">Name2</label>
                            <div ng-if="organization.sales.name2 == originalOrg.sales.name2">
                                <p class=".h5">{{organization.sales.name2}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.sales.name2 != originalOrg.sales.name2">
                                <span class="nextcolor">{{originalOrg.sales.name2}}&nbsp;</span>
                                <div class="boxcolor">{{organization.sales.name2}}&nbsp;</div>
                            </div>
                        </div>
                        <div class="form-group boldfont">
                            <div ng-if="organization.sales.nixie == originalOrg.sales.nixie">
                                <i class="fa fa-check" ng-class="organization.sales.nixie ? 'fa-check' : 'fa-remove'"></i> Nixie
                            </div>
                            <div ng-if="organization.sales.nixie != originalOrg.sales.nixie">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.sales.nixie? 'fa-check' : 'fa-remove'"></i> Nixie &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.sales.nixie? 'fa-check' : 'fa-remove'"></i> Nixie &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Legal Titles</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Legal Title</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="legalTitles in organization.legalTitles" ng-if="legalTitles.deleted == false">
                        <td class="text-center">
                            <div ng-if="legalTitles.sequenceNo == originalOrg.legalTitles[$index].sequenceNo">
                                <p>{{legalTitles.sequenceNo}}&nbsp;</p>
                            </div>
                            <div ng-if="legalTitles.sequenceNo != originalOrg.legalTitles[$index].sequenceNo">
                                <p class="nextcolor"> {{originalOrg.legalTitles[$index].sequenceNo}}&nbsp;</p>
                                <p class="boxcolor">{{legalTitles.sequenceNo}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="legalTitles.legalTitle == originalOrg.legalTitles[$index].legalTitle">
                                <p>{{legalTitles.legalTitle}}&nbsp;</p>
                            </div>
                            <div ng-if="legalTitles.legalTitle != originalOrg.legalTitles[$index].legalTitle">
                                <p class="nextcolor"> {{originalOrg.legalTitles[$index].legalTitle}}&nbsp;</p>
                                <p class="boxcolor">{{legalTitles.legalTitle}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="legalTitles.cityName == originalOrg.legalTitles[$index].cityName">
                                <p>{{legalTitles.cityName}}&nbsp;</p>
                            </div>
                            <div ng-if="legalTitles.cityName != originalOrg.legalTitles[$index].cityName">
                                <p class="nextcolor"> {{originalOrg.legalTitles[$index].cityName}}&nbsp;</p>
                                <p class="boxcolor">{{legalTitles.cityName}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="legalTitles.stateName == originalOrg.legalTitles[$index].stateName">
                                <p>{{legalTitles.stateName}}&nbsp;</p>
                            </div>
                            <div ng-if="legalTitles.stateName != originalOrg.legalTitles[$index].stateName">
                                <p class="nextcolor"> {{originalOrg.legalTitles[$index].stateName}}&nbsp;</p>
                                <p class="boxcolor">{{legalTitles.stateName}}&nbsp;</p>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="legalTitles in deletedLegalTitles" bgcolor="42b6da">
                        <td class="text-center">{{legalTitles.sequenceNo }}</td>
                        <td>{{legalTitles.legalTitle}}</td>
                        <td>{{legalTitles.cityName}}</td>
                        <td>{{legalTitles.stateName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Features</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Type</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null && feature.deleted == false">
                        <td class="text-center">
                            <div ng-if="feature.sequenceNo == originalOrg.features[$index].sequenceNo">
                                {{feature.sequenceNo}}
                            </div>
                            <div class="text-danger" ng-if="feature.sequenceNo != originalOrg.features[$index].sequenceNo">
                                <span class="nextcolor"> {{originalOrg.features[$index].sequenceNo}}&nbsp;</span>
                                <div class="boxcolor">{{feature.sequenceNo}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="feature.featureType == originalOrg.features[$index].featureType">
                                {{feature.featureType}}
                            </div>
                            <div class="text-danger" ng-if="feature.featureType != originalOrg.features[$index].featureType">
                                <span class="nextcolor"> {{originalOrg.features[$index].featureType}}&nbsp;</span>
                                <div class="boxcolor">{{feature.featureType}}&nbsp;</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="feature.name == originalOrg.features[$index].name">
                                {{feature.name}}
                            </div>
                            <div class="text-danger" ng-if="feature.name != originalOrg.features[$index].name">
                                <span class="nextcolor"> {{originalOrg.features[$index].name}}&nbsp;</span>
                                <div class="boxcolor">{{feature.name}}&nbsp;</div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="feature in deletedFeatures" bgcolor="42b6da">
                        <td class="text-center">{{feature.sequenceNo}}</td>
                        <td>{{feature.featureType}}</td>
                        <td>{{feature.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Notes</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Note Type</th>
                        <th>Note</th>
                        <th>Italic</th>
                        <th>Bold</th>
                        <th>Small Cap</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="notes in organization.notes" ng-if="notes.deleted == false">
                        <td class="text-center">
                            <div ng-if="notes.sequenceNo == originalOrg.notes[$index].sequenceNo">
                                <p>{{notes.sequenceNo}}&nbsp;</p>
                            </div>
                            <div ng-if="notes.sequenceNo != originalOrg.notes[$index].sequenceNo">
                                <p class="nextcolor"> {{originalOrg.notes[$index].sequenceNo}}&nbsp;</p>
                                <p class="boxcolor">{{notes.sequenceNo}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="notes.noteType == originalOrg.notes[$index].noteType">
                                <p>{{notes.noteType}}&nbsp;</p>
                            </div>
                            <div ng-if="notes.noteType != originalOrg.notes[$index].noteType">
                                <p class="nextcolor"> {{originalOrg.notes[$index].noteType}}&nbsp;</p>
                                <p class="boxcolor">{{notes.noteType}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="notes.note == originalOrg.notes[$index].note">
                                <p>{{notes.note}}&nbsp;</p>
                            </div>
                            <div ng-if="notes.note != originalOrg.notes[$index].note">
                                <p class="nextcolor"> {{originalOrg.notes[$index].note}}&nbsp;</p>
                                <p class="boxcolor">{{notes.note}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="notes.italic == originalOrg.notes[$index].italic">
                                <p ng-switch on="notes.italic">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                            </div>
                            <div ng-if="notes.italic != originalOrg.notes[$index].italic">
                                <p class="nextcolor" ng-switch on="originalOrg.notes[$index].italic">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                                <p class="boxcolor" ng-switch on="notes.italic">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="notes.bold == originalOrg.notes[$index].bold">
                                <p ng-switch on="notes.bold">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                            </div>
                            <div ng-if="notes.bold != originalOrg.notes[$index].bold">
                                <p class="nextcolor" ng-switch on="originalOrg.notes[$index].bold">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                                <p class="boxcolor" ng-switch on="notes.bold">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="notes.smallCap == originalOrg.notes[$index].smallCap">
                                <p ng-switch on="notes.smallCap">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                            </div>
                            <div ng-if="notes.smallCap != originalOrg.notes[$index].smallCap">
                                <p class="nextcolor" ng-switch on="originalOrg.notes[$index].smallCap">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                                <p class="boxcolor" ng-switch on="notes.smallCap">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="true">YES</span>
                                    <span ng-switch-when="false">NO</span>&nbsp;
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="notes in deletedNotes" bgcolor="42b6da">
                        <td class="text-center">{{notes.sequenceNo }}</td>
                        <td>{{notes.noteType}}</td>
                        <td>{{notes.note}}</td>
                        <td>{{notes.italic ? "YES": (notes.italic === false ? 'NO' : '')}}</td>
                        <td>{{notes.bold ? "YES": (notes.bold === false ? 'NO' : '')}}</td>
                        <td>{{notes.smallCap ? "YES": (notes.smallCap === false ? 'NO' : '')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Statistics</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Statistic Type</th>
                        <th>Statistic Category</th>
                        <th>Statistic Value</th>
                        <th>Statistic Text</th>
                        <th>Statistic Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="statistic in organization.statistic" ng-if="statistic.deleted == false">
                        <td class="text-center">
                            <div ng-if="statistic.sequenceNo == originalOrg.statistic[$index].sequenceNo">
                                <p>{{statistic.sequenceNo}}&nbsp;</p>
                            </div>
                            <div ng-if="statistic.sequenceNo != originalOrg.statistic[$index].sequenceNo">
                                <p class="nextcolor"> {{originalOrg.statistic[$index].sequenceNo}}&nbsp;</p>
                                <p class="boxcolor">{{statistic.sequenceNo}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="statistic.statisticType.codeValue == originalOrg.statistic[$index].statisticType.codeValue">
                                <p>{{statistic.statisticType.codeValue}}&nbsp;</p>
                            </div>
                            <div ng-if="statistic.statisticType.codeValue != originalOrg.statistic[$index].statisticType.codeValue">
                                <p class="nextcolor"> {{originalOrg.statistic[$index].statisticType.codeValue}}&nbsp;</p>
                                <p class="boxcolor">{{statistic.statisticType.codeValue}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="statistic.statisticCategory == originalOrg.statistic[$index].statisticCategory">
                                <p>{{statistic.statisticCategory}}&nbsp;</p>
                            </div>
                            <div ng-if="statistic.statisticCategory != originalOrg.statistic[$index].statisticCategory">
                                <p class="nextcolor"> {{originalOrg.statistic[$index].statisticCategory}}&nbsp;</p>
                                <p class="boxcolor">{{statistic.statisticCategory}}&nbsp;</p>
                            </div>
                        </td>
                        <td class="text-center">
                            <div ng-if="statistic.value == originalOrg.statistic[$index].value">
                                <p>{{statistic.value}}&nbsp;</p>
                            </div>
                            <div ng-if="statistic.value != originalOrg.statistic[$index].value">
                                <p class="nextcolor"> {{originalOrg.statistic[$index].value}}&nbsp;</p>
                                <p class="boxcolor">{{statistic.value}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="statistic.text == originalOrg.statistic[$index].text">
                                <p>{{statistic.text}}&nbsp;</p>
                            </div>
                            <div ng-if="statistic.text != originalOrg.statistic[$index].text">
                                <p class="nextcolor"> {{originalOrg.statistic[$index].text}}&nbsp;</p>
                                <p class="boxcolor">{{statistic.text}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="statistic.year == originalOrg.statistic[$index].year">
                                <p>{{statistic.year}}&nbsp;</p>
                            </div>
                            <div ng-if="statistic.year != originalOrg.statistic[$index].year">
                                <p class="nextcolor"> {{originalOrg.statistic[$index].year}}&nbsp;</p>
                                <p class="boxcolor">{{statistic.year}}&nbsp;</p>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="statistic in deletedStatistics" bgcolor="42b6da">
                        <td class="text-center">{{statistic.sequenceNo }}</td>
                        <td>{{statistic.statisticType.codeValue}}</td>
                        <td>{{statistic.statisticCategory}}</td>
                        <td class="text-center">{{statistic.value}}</td>
                        <td>{{statistic.text}}</td>
                        <td>{{statistic.year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
