<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Former Name":"Former Name")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="formernamesForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': formernamesForm.formerName.$touched && formernamesForm.formerName.$invalid}">
                    <label for="pwd">Name<span class="meditator">*</span></label>
                    <input type="text" class="form-control" name="formerName" ng-model="formerName.name" required>
                    <div class="help-block" ng-messages="formernamesForm.formerName.$error" ng-show="formernamesForm.formerName.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Start Date</label>
                    <div class="input-group">
                        <input type="text" readonly name="startDate" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="formerName.startDate" is-open="popup1.opened" datepicker-options="startDateOptions" close-text="Close" data-date-format="dd-mm-yyyy" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <div class="input-group">
                        <input type="text" readonly name="endDate" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="formerName.endDate" is-open="popup2.opened" ng-change="alert('changed')" datepicker-options="endDateOptions" close-text="Close" data-date-format="dd-mm-yyyy" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="formernamesForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
