<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Cross Reference":"Cross Reference")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="crossReferenceForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group">
                    <label>Text</label>
                    <input type="text" class="form-control" name="estd" ng-model="crossReference.text">
                </div>
                <div class="form-group">
                    <label>SortName</label>
                    <input type="text" class="form-control" name="estd" ng-model="crossReference.sortName">
                </div>
                <div class="form-group">
                    <label>Cross Reference Id</label>
                    <input type="text" class="form-control" name="estd" ng-model="crossReference.crossRefId">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="crossReferenceForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
