<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Contact":"Contact")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="contactForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <div class="form-group" ng-class="{'has-error': contactForm.sequenceNo.$touched && contactForm.sequenceNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control" name="sequenceNo" ng-model="ocdContact.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                                <div class="help-block" ng-messages="contactForm.sequenceNo.$error" ng-show="contactForm.sequenceNo.$touched && contactForm.sequenceNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <div class="form-group" ng-class="{'has-error': contactForm.addressNo.$touched && contactForm.addressNo.$invalid}">
                                <label>Address Sequence No.</label>
                                <input type="text" class="form-control" name="addressNo" ng-model="ocdContact.addressSequenceNo" validate-this="addressNo" validate-as="digits">
                                <div class="help-block" ng-messages="contactForm.addressNo.$error" ng-show="contactForm.addressNo.$touched && contactForm.addressNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.addressNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 " ng-class="{ 'has-error': contactForm.type.$touched && contactForm.type.$invalid }">
                            <label>Contact Type<span class="meditator">*</span></label>
                            <ui-select ng-model="ocdContact.contactType" name="type" required>
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thiscontactType  as thiscontactType in contactTypeArray">
                                    <span ng-bind="thiscontactType.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="help-block" ng-messages="contactForm.type.$error" ng-show="contactForm.type.$touched">
                                <div ng-message="required">Please fill this field</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label>Extension</label>
                                <input type="text" class="form-control" name="name" ng-model="ocdContact.extension">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label>Contact Details</label>
                                <input type="text" class="form-control" name="name" ng-model="ocdContact.contactDetails">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" name="name" ng-model="ocdContact.note">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="ocdContact.mailOptOut">
                                    <span class="lbl"></span> Mail Option
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="ocdContact.nixieIndex">
                                    <span class="lbl"></span> Nixie Index
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="ocdContact.nonUSA">
                                    <span class="lbl"></span> Non USA
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="ocdContact.printFlag">
                                    <span class="lbl"></span> Print
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="contactForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
