<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label>Classification Code</label>
                    <ui-select ng-model="organization.classificationCode" on-select="clearOCDDataAsPerClassificationCode($item)" ng-disabled="classficationCodeEditDisable">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisClassificationCode in (organizationTypeArray | filter: $select.search) track by thisClassificationCode._id">
                            <span ng-bind="thisClassificationCode.codeValue"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid}">
                        <label for="pwd">Sequence No.</label>
                        <input type="text" class="form-control" name="sequenceNo" ng-model="organization.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.sequenceNo.$error" ng-show="addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.name.$touched && addForm.name.$invalid}">
                        <label for="pwd">Name<span class="meditator">*</span></label>
                        <input type="text" class="form-control" name="name" ng-model="organization.name" required>
                        <div class="help-block" ng-messages="addForm.name.$error" ng-show="addForm.name.$touched">
                            <div ng-message="required">Please fill this field</div>
                            <p ng-message="validateIsNameUnique"><b>{{organization.name}}</b> already exists</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div ng-if="organization.classificationCode.codeValue != 'US Diocese' && organization.classificationCode.codeValue != 'World Diocese' ">
                        <div class="form-group">
                            <label for="pwd">Parent Organization/Header</label>
                            <input type="text" ng-model="organization.parentId" uib-typeahead="organization as organization.name for organization in getOrganizationForTypeAhead($viewValue)" typeahead-input-formatter="formatOrgTypeAhead($model)" typeahead-editable="false" typeahead-on-select="selectOrgTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingOragnization" typeahead-no-results="noResultsOrganization" class="form-control" placeholder="Select Organization">
                            <i ng-show="loadingOragnization" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResultsOrganization">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">Abbreviation Name</label>
                        <input type="text" class="form-control" name="abbrevationName" ng-model="organization.abbrevationName">
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Status</label>
                        <ui-select ng-model="organization.status">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in recordStatusArray">
                                <span ng-bind="thisRecordStatus.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div ng-hide="editState">
                        <div class="form-group" ng-class="{'has-error': addForm.orgId.$touched && addForm.orgId.$invalid}">
                            <label for="pwd">Organization ID</label>
                            <input type="text" class="form-control" name="orgId" ng-model="organization.org_id" validate-this="orgId" validate-as="digits" ng-disabled="editStateDisable">
                            <div class="help-block" ng-messages="addForm.orgId.$error" ng-show="addForm.orgId.$touched">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.orgId.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div ng-if="organization.classificationCode.codeValue != 'Header' && organization.classificationCode.codeValue != 'Header w/ assignments only' && organization.classificationCode.codeValue != 'Placement Header' && organization.classificationCode.codeValue != 'Clergy, Parish, Mission' && organization.classificationCode.codeValue != 'Chaplains of Public Institutions' && organization.classificationCode.codeValue != 'Institutions Located in Diocese' && organization.classificationCode.codeValue != 'Retired' && organization.classificationCode.codeValue != 'Permanent Deacon' &&  organization.classificationCode.codeValue != 'Necrology' &&  organization.classificationCode.codeValue != 'Residence'">
    <div class="tab-pane active" id="home4">
        <div class="widget-box abc">
            <div class="widget-body">
                <div class="widget-main">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>EI Number</label>
                            <input type="text" class="form-control" name="estd" ng-model="organization.EINumber">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Placement City</label>
                            <input type="text" ng-model="organization.placementCity" name="placementCity" uib-typeahead=" placementCity as placementCity.codeValue for placementCity in getAddressCities($viewValue)" typeahead-input-formatter="formatPlacementTypeAhead($model)" typeahead-on-select="selectPlacementTypeAhead($item)" typeahead-loading="loadingCities" typeahead-no-results="noResultsCity" class="form-control" placeholder="Select City">
                            <i ng-show="loadingCities" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResultsCity">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Purpose</label>
                            <input type="text" class="form-control" name="estd" ng-model="organization.purpose">
                        </div>
                        <div class="form-group">
                            <label>Cross Reference</label>
                            <input type="text" class="form-control" ng-model="organization.crossRefId">
                        </div>
                        <div class="form-group">
                            <label>Mailer Type</label>
                            <input type="text" class="form-control" ng-model="organization.mailerType">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">Sort Major Name</label>
                            <input type="text" class="form-control" name="sortMajorName" ng-model="organization.sortMajorName">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Latin Name</label>
                            <input type="text" class="form-control" name="latinName" ng-model="organization.latinName">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Square Miles</label>
                            <input type="text" class="form-control" name="squareMiles" ng-model="organization.squareMiles">
                        </div>
                        <div class="form-group">
                            <label>Supplement Type</label>
                            <ui-select ng-model="organization.supplementType">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.supplementType"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thissupplementType.supplementType as thissupplementType in supplimentTypeArray">
                                    <span ng-bind="thissupplementType.supplementType"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>AkaDba Index</label>
                            <input type="text" class="form-control" name="akaDbaIndex" ng-model="organization.akaDbaIndex">
                        </div>
                        <div class="form-group">
                            <label>AkaDba Name</label>
                            <input type="text" class="form-control" name="akaDbaName" ng-model="organization.akaDbaName">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Established Year</label>
                            <input type="text" class="form-control" name="estd" ng-model="organization.established.year">
                        </div>
                        <div class="form-group">
                            <label>Established Description</label>
                            <textarea class="form-control" rows="5" name="institutionType" ng-model="organization.established.detail"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Outstanding Issues</label>
                            <input type="text" class="form-control" name="outstandingIssues" ng-model="organization.outstandingIssues">
                        </div>
                        <div class="form-group">
                            <label>Locale</label>
                            <input type="text" class="form-control" name="locale" ng-model="organization.locale">
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.taxExempt">
                                    <span class="lbl"></span> Tax Exempt
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.giftShop">
                                    <span class="lbl"></span> Gift Shop
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.nameSuppress">
                                <span class="lbl"></span> Name Suppress
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.wrapIndex">
                                <span class="lbl"></span> Wrap Index
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFormerNamesPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Former Name(s)</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && formerName.deleted != true">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{formerName.name}}</td>
                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openFormerNamesPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'FormerName(s)')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Header' || organization.classificationCode.codeValue == 'Header w/ assignments only' || organization.classificationCode.codeValue == 'Placement Header'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Header</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Pre Text</label>
                            <input type="text" class="form-control" ng-model="organization.header.preText">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">State</label>
                            <input type="text" ng-model="organization.header.state" name="state" uib-typeahead="state.codeValue for state in getheaderStates($viewValue)" typeahead-input-formatter="formatStateTypeAhead($model)" typeahead-on-select="selectStateTypeAhead($item)" typeahead-loading="loadingStates" typeahead-no-results="noResultsState" class="form-control" placeholder="Select State" autocomplete="off">
                            <i ng-show="loadingStates" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResultsState">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">County</label>
                            <input type="text" ng-model="organization.header.county" name="county" uib-typeahead=" county as county.codeValue for county in getHeaderCountys($viewValue)" typeahead-input-formatter="formatHeaderTypeAhead($model)" typeahead-on-select="selectHeaderCountyTypeAhead($item)" typeahead-loading="loadingStates" typeahead-no-results="noResultsCounty" class="form-control" placeholder="Select County" autocomplete="off">
                            <i ng-show="loadingStates" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResultsCounty">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.header.bold">
                            <span class="lbl"></span> Bold
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.header.italic">
                                <span class="lbl"></span> Italic
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.header.center">
                                <span class="lbl"></span> Center
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.header.largeFont">
                                <span class="lbl"></span> Large Font
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.header.underline">
                                <span class="lbl"></span> Underline
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'US Diocese' || organization.classificationCode.codeValue == 'World Diocese'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Diocese</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Diocese Type</label>
                            <ui-select ng-model="organization.dioceseType" on-select="organization.dioceseTypeName = $item.codeValue">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisdioceseType as thisdioceseType in (dioceseTypeArray | filter: $select.search) track by thisdioceseType._id">
                                    <span ng-bind="thisdioceseType.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Dio Province</label>
                            <ui-select ng-model="organization.dioProvince" on-select="organization.dioProvinceName = $item.codeValue">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisdioProvince._id as thisdioProvince in dioProvinceArray">
                                    <span ng-bind="thisdioProvince.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label>Masthead Image</label>
                        <input type="text" class="form-control" name="mastheadImage" ng-model="organization.mastheadImage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.archdiocese">
                                <span class="lbl"></span> Archdiocese
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Parish' || organization.classificationCode.codeValue == 'Shrine'|| organization.classificationCode.codeValue == 'Oratory'|| organization.classificationCode.codeValue == 'Mission'|| organization.classificationCode.codeValue == 'Station'|| organization.classificationCode.codeValue == 'Chapel'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Parish Shrine</span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Ethnicity Type1</label>
                        <ui-select ng-model="organization.parishShrine.ethnicityType1" on-select="changeethnicityType1($item)">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisethnicityType1 as thisethnicityType1 in ethnicityTypeArray">
                                <span ng-bind="thisethnicityType1.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Ethnicity Text1</label>
                        <input type="text" class="form-control" ng-disabled="ethnicityText1Active" name="estd" ng-model="organization.parishShrine.ethnicityText1">
                    </div>
                    <div class="form-group">
                        <label> Ethnicity Type2</label>
                        <ui-select ng-model="organization.parishShrine.ethnicityType2" on-select="changeethnicityType2($item)">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisethnicityType2  as thisethnicityType2 in ethnicityTypeArray">
                                <span ng-bind="thisethnicityType2.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Ethnicity Text2</label>
                        <input type="text" class="form-control" ng-disabled="ethnicityText2Active" ng-model="organization.parishShrine.ethnicityText2">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label> Parish Status</label>
                        <ui-select ng-model="organization.parishShrine.parishStatus">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisparishStatus._id as thisparishStatus in parishStatusArray">
                                <span ng-bind="thisparishStatus.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Cemeteries</label>
                        <input type="text" class="form-control" name="estd" ng-model="organization.parishShrine.cemeteries">
                    </div>
                    <div class="form-group">
                        <label>Joint Cemeteries</label>
                        <input type="text" class="form-control" name="estd" ng-model="organization.parishShrine.jointCemeteries">
                    </div>
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.parishShrine.spanishMass">
                        <span class="lbl"></span> Spanish Mass
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'School' || organization.classificationCode.codeValue == 'High School' || organization.classificationCode.codeValue == 'Catechesis Religious Program' || organization.classificationCode.codeValue == 'College' || organization.classificationCode.codeValue == 'Seminary' || organization.classificationCode.codeValue == 'Child Care'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>School</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>School Type</label>
                            <ui-select ng-model="organization.school.schoolType" on-select="organization.school.schoolTypeName = $item.codeValue">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisschoolType._id as thisschoolType in schoolTypeArray">
                                    <span ng-bind="thisschoolType.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>Grade Type Start</label>
                            <ui-select ng-model="organization.school.gradeTypeStart">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisgradeTypeStart._id as thisgradeTypeStart in gradeTypeArray">
                                    <span ng-bind="thisgradeTypeStart.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>Grade Type End</label>
                            <ui-select ng-model="organization.school.gradeTypeEnd">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisgradeTypeEnd._id as thisgradeTypeEnd in gradeTypeArray">
                                    <span ng-bind="thisgradeTypeEnd.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <label class="position-relative">
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.school.consolidated" id="consolidated">
                            <span class="lbl"> Consolidated</span>
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <label class="position-relative">
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.school.college" id=" college">
                            <span class="lbl"> College</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Religious Order/Miscellaneous' || organization.classificationCode.codeValue == 'Religious Order Organization' ">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Religious Order</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>Religious Type</label>
                            <ui-select ng-model="organization.religiousOrder.religiousType" on-select="organization.religiousOrder.religiousTypeName=$item.codeValue">
                                <ui-select-match placeholder="Select">
                                    <span ng-bind="$select.selected.codeValue"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisreligiousType._id as thisreligiousType in religiousTypeArray">
                                    <span ng-bind="thisreligiousType.codeValue"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Secondary Name</label>
                            <input type="text" class="form-control" ng-model="organization.religiousOrder.secondaryName">
                        </div>
                        <div class="form-group">
                            <label>Tertiary Name</label>
                            <input type="text" class="form-control" ng-model="organization.religiousOrder.tertiaryName">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>Kennedy Id</label>
                            <input type="text" class="form-control" ng-model="organization.religiousOrder.kennedyId">
                        </div>
                        <div class="form-group">
                            <label>Pontifical Or Diocese</label>
                            <input type="text" class="form-control" ng-model="organization.religiousOrder.pontificalOrDiocese">
                        </div>
                        <div class="form-group">
                            <label>Initials</label>
                            <input type="text" class="form-control" ng-model="organization.religiousOrder.initials">
                        </div </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
