<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Feature":"Feature")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="featureForm">
        <div class="abc ng-scope">
            <div class="widget-body">
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': featureForm.sequenceNo.$touched && featureForm.sequenceNo.$invalid }">
                        <label>Sequence No.</label>
                        <input type="text" class="form-control" name="sequenceNo" ng-model="feature.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                        <div class="help-block" ng-messages="featureForm.sequenceNo.$error" ng-show="featureForm.sequenceNo.$touched && featureForm.sequenceNo.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': featureForm.type.$touched && featureForm.type.$invalid }">
                        <label>Type<span class="meditator">*</span></label>
                        <ui-select ng-model="feature.featureType" name="type" on-select="changeFeatureType($item)" required>
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeType"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisFeatureType.codeType as thisFeatureType in (featureTypeArray | filter: $select.search) track by thisFeatureType._id">
                                <span ng-bind="thisFeatureType.codeType"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block" ng-messages="featureForm.type.$error" ng-show="featureForm.type.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="feature.name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="featureForm.$invalid || loading">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                    </button>
                    <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
