<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Note":"Note")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="NoteForm">
        <div class="abc ng-scope">
            <div class="widget-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group" ng-class="{'has-error': NoteForm.sequenceNo.$touched && NoteForm.sequenceNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control" name="sequenceNo" ng-model="notes.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                                <div class="help-block" ng-messages="NoteForm.sequenceNo.$error" ng-show="NoteForm.sequenceNo.$touched && NoteForm.sequenceNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group" ng-class="{ 'has-error': NoteForm.type.$touched && NoteForm.type.$invalid }">
                                <label>Note Type<span class="meditator">*</span></label>
                                <input type="text" class="form-control" ng-model="notes.noteType" required>
                                <div class="help-block" ng-messages="NoteForm.type.$error" ng-show="NoteForm.type.$touched">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" ng-model="notes.note">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <label class="position-relative">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="notes.italic" id="italic">
                                <span class="lbl"><strong> Italic</strong></span>
                            </label>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <label class="position-relative">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="notes.bold" id="bold">
                                <span class="lbl"><strong> Bold</strong></span>
                            </label>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 ">
                            <label class="position-relative">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="notes.smallCap" id="smallcap">
                                <span class="lbl"><strong> Small Cap</strong></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="NoteForm.$invalid || loading">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                    </button>
                    <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
