<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 ">
                    <div class="addnewt contacttop">
                        <span>Sales</span>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Name1</label>
                        <p class="ng-binding">{{organization.sales.name1}}</p>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Name2</label>
                        <p class="ng-binding">{{organization.sales.name2}}</p>
                    </div>
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.sales.nixie ? 'fa-check' : 'fa-remove'"></i>Nixie
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Legal Titles</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Legal Title</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="legalTitles in organization.legalTitles">
                        <td class="text-center">{{legalTitles.sequenceNo}}</td>
                        <td>{{legalTitles.legalTitle}}</td>
                        <td>{{legalTitles.cityName}}</td>
                        <td>{{legalTitles.stateName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Features</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Type</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null">
                        <td class="text-center">{{feature.sequenceNo}}</td>
                        <td>{{feature.featureType}}</td>
                        <td>{{feature.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Notes</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Note Type</th>
                        <th>Note</th>
                        <th>Italic</th>
                        <th>Bold</th>
                        <th>Small Cap</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="notes in organization.notes">
                        <td class="text-center">{{notes.sequenceNo}}</td>
                        <td>{{notes.noteType}}</td>
                        <td>{{notes.note}}</td>
                        <td>{{notes.italic ? "YES" : (notes.italic === false ? "NO" : "")}}</td>
                        <td>{{notes.bold ? "YES" : (notes.bold === false ? "NO" : "")}}</td>
                        <td>{{notes.smallCap ? "YES" : (notes.smallCap === false ? "NO" : "")}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Statistics</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Statistic Type</th>
                        <th>Statistic Category</th>
                        <th>Statistic Value</th>
                        <th>Statistic Text</th>
                        <th>Statistic Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="statistic in organization.statistic">
                        <td class="text-center">{{statistic.sequenceNo}}</td>
                        <td>{{statistic.statisticType.codeValue}}</td>
                        <td>{{statistic.statisticCategory}}</td>
                        <td class="text-center">{{statistic.value}}</td>
                        <td>{{statistic.text}}</td>
                        <td>{{statistic.year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
