<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <!-- Record History end-->
            <div class="widget-main">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <!-- History Details start-->
                <!-- #section:elements.form -->
                <div class="col-md-4 pdtop">
                    <div class="">
                        <label class="h5 boldfont">Organization ID</label>
                        <div ng-if="organization.org_id == originalOrg.org_id">
                            <p class=".h5">{{organization.org_id}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.org_id != originalOrg.org_id">
                            <span class="nextcolor">{{originalOrg.org_id}}&nbsp;</span>
                            <div class="boxcolor">{{organization.org_id}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Sequence No.</label>
                        <div ng-if="organization.sequenceNo == originalOrg.sequenceNo">
                            <p class=".h5">{{organization.sequenceNo}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.sequenceNo != originalOrg.sequenceNo">
                            <span class="nextcolor">{{originalOrg.sequenceNo}}&nbsp;</span>
                            <div class="boxcolor">{{organization.sequenceNo}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Name</label>
                        <div ng-if="organization.name == originalOrg.name">
                            <p class=".h5">{{organization.name}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.name != originalOrg.name">
                            <span class="nextcolor">{{originalOrg.name}}&nbsp;</span>
                            <div class="boxcolor">{{organization.name}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Minor Name</label>
                        <div ng-if="organization.shortName == originalOrg.shortName">
                            <p class=".h5">{{organization.shortName}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.shortName != originalOrg.shortName">
                            <span class="nextcolor">{{originalOrg.shortName}}&nbsp;</span>
                            <div class="boxcolor">{{organization.shortName}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <!-- <label class="h5 boldfont">Established Year</label> -->
                        <label class="h5 boldfont">Established</label>
                        <div ng-if="organization.established.year == originalOrg.established.year">
                            <p class=".h5">{{organization.established.year}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.established.year != originalOrg.established.year">
                            <span class="nextcolor">{{originalOrg.established.year}}&nbsp;</span>
                            <div class="boxcolor">{{organization.established.year}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Status</label>
                        <div ng-if="organization.status._id == originalOrg.status._id">
                            <p class=".h5">{{directoryRecordStatus[organization.status._id].label}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.status._id != originalOrg.status._id">
                            <span class="nextcolor">{{directoryRecordStatus[originalOrg.status._id].label}}&nbsp;</span>
                            <div class="boxcolor">{{directoryRecordStatus[organization.status._id].label}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Comments</label>
                        <div ng-if="organization.comments[0] == originalOrg.comments[0]">
                            <p class=".h5">{{organization.comments[0]}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.comments[0] != originalOrg.comments[0]">
                            <span class="nextcolor">{{originalOrg.comments[0]}}&nbsp;</span>
                            <div class="boxcolor">{{organization.comments[0]}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pdtop">
                    <div class="">
                        <label class="h5 boldfont">Sort Name</label>
                        <div ng-if="organization.sortMajorName == originalOrg.sortMajorName">
                            <p class=".h5">{{organization.sortMajorName}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.sortMajorName != originalOrg.sortMajorName">
                            <span class="nextcolor">{{originalOrg.sortMajorName}}&nbsp;</span>
                            <div class="boxcolor">{{organization.sortMajorName}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">AAM ID</label>
                        <div ng-if="organization.aamId == originalOrg.aamId">
                            <p class=".h5">{{organization.aamId}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.aamId != originalOrg.aamId">
                            <span class="nextcolor">{{originalOrg.aamId}}&nbsp;</span>
                            <div class="boxcolor">{{organization.aamId}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="position-relative">
                            <div ng-if="organization.flags.aam == originalOrg.flags.aam && organization.flags.aam == originalOrg.flags.aam">
                                <i class="fa" ng-class="organization.flags.aam? 'fa-check' : 'fa-remove'"></i> AAM
                            </div>
                            <div ng-if="organization.flags.aam != originalOrg.flags.aam || organization.flags.aam != originalOrg.flags.aam ">
                                <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.aam? 'fa-check' : 'fa-remove'"></i> AAM
                                </span>
                                <div class="boxcolor">
                                    <i class="fa" ng-class="organization.flags.aam? 'fa-check' : 'fa-remove'"></i> AAM
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Institution Type/Description</label>
                        <div ng-if="organization.entityType == originalOrg.entityType">
                            <p class=".h5">{{organization.entityType}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.entityType != originalOrg.entityType">
                            <span class="nextcolor">{{originalOrg.entityType}}&nbsp;</span>
                            <div class="boxcolor">{{organization.entityType}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Congressional District</label>
                        <div ng-if="organization.congressDistrict == originalOrg.congressDistrict">
                            <p class=".h5">{{organization.congressDistrict}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.congressDistrict != originalOrg.congressDistrict">
                            <span class="nextcolor">{{originalOrg.congressDistrict}}&nbsp;</span>
                            <div class="boxcolor">{{organization.congressDistrict}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="position-relative">
                            <div ng-if="organization.flags.handicapped == originalOrg.flags.handicapped && organization.handicapped == originalOrg.handicapped">
                                <i class="fa" ng-class="organization.flags.handicapped? 'fa-check' : 'fa-remove'"></i> Handicapped Accessible
                                <span ng-if="organization.flags.handicapped == true">{{ (organization.handicapped && organization.handicapped !='') ? ("(" + (organization.handicapped == 'P' ? 'Partial' : 'Full') + ")") : "" }}
                                            </span>
                            </div>
                            <div ng-if="organization.flags.handicapped != originalOrg.flags.handicapped || organization.handicapped != originalOrg.handicapped ">
                                <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.handicapped? 'fa-check' : 'fa-remove'"></i> Handicapped Accessible
                                                <span ng-if="originalOrg.flags.handicapped == true">
                                                     {{ (originalOrg.handicapped && originalOrg.handicapped !='') ? ("(" + (originalOrg.handicapped == 'P' ? 'Partial' : 'Full') + ")") : "" }}&nbsp;
                                                </span>
                                </span>
                                <div class="boxcolor">
                                    <i class="fa" ng-class="organization.flags.handicapped? 'fa-check' : 'fa-remove'"></i> Handicapped Accessible
                                    <span ng-if="organization.flags.handicapped == true">
                                                     {{ (organization.handicapped && organization.handicapped !='') ? ("(" + (organization.handicapped == 'P' ? 'Partial' : 'Full') + ")") : "" }}&nbsp;
                                                </span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-md-4 pdtop">
                    <div class="">
                        <label class="h5 boldfont">Attendance Count</label>
                        <div ng-if="organization.attendance.count == originalOrg.attendance.count">
                            <p class=".h5">{{organization.attendance.count | number}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.attendance.count != originalOrg.attendance.count">
                            <span class="nextcolor">{{originalOrg.attendance.count | number}}&nbsp;</span>
                            <div class="boxcolor">{{organization.attendance.count | number}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Attendance Method</label>
                        <div ng-if="organization.attendance.method == originalOrg.attendance.method">
                            <div ng-switch on="organization.attendance.method">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="A">Actual</span>
                                <span ng-switch-when="E">Estimated</span> &nbsp;
                            </div>
                        </div>
                        <div ng-if="organization.attendance.method != originalOrg.attendance.method">
                            <div class="nextcolor">
                                <div ng-switch on="originalOrg.attendance.method">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="A">Actual</span>
                                    <span ng-switch-when="E">Estimated</span> &nbsp;
                                </div>
                            </div>
                            <div class="boxcolor">
                                <div ng-switch on="organization.attendance.method">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="A">Actual</span>
                                    <span ng-switch-when="E">Estimated</span> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Hours &amp; Admission Prices</label>
                        <div ng-if="organization.timing == originalOrg.timing">
                            <p class=".h5">{{organization.timing}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.timing != originalOrg.timing">
                            <span class="nextcolor">{{originalOrg.timing}}&nbsp;</span>
                            <div class="boxcolor">{{organization.timing}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Membership</label>
                        <div ng-if="organization.membership[0] == originalOrg.membership[0]">
                            <p class=".h5">{{organization.membership[0]}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.membership[0] != originalOrg.membership[0]">
                            <span class="nextcolor">{{originalOrg.membership[0]}}&nbsp;</span>
                            <div class="boxcolor">{{organization.membership[0]}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-md-6 pdtop">
                        <div class="form-group">
                            <label class="position-relative">
                                <div ng-if="organization.flags.accredited == originalOrg.flags.accredited && organization.flags.accredited == originalOrg.flags.accredited">
                                    <i class="fa" ng-class="organization.flags.accredited? 'fa-check' : 'fa-remove'"></i> Accredited
                                </div>
                                <div ng-if="organization.flags.accredited != originalOrg.flags.accredited || organization.flags.accredited != originalOrg.flags.accredited ">
                                    <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.accredited? 'fa-check' : 'fa-remove'"></i> Accredited
                                </span>
                                    <div class="boxcolor">
                                        <i class="fa" ng-class="organization.flags.accredited? 'fa-check' : 'fa-remove'"></i> Accredited
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="position-relative">
                                <div ng-if="organization.flags.firstMail == originalOrg.flags.firstMail && organization.flags.firstMail == originalOrg.flags.firstMail">
                                    <i class="fa" ng-class="organization.flags.firstMail? 'fa-check' : 'fa-remove'"></i> First Name
                                </div>
                                <div ng-if="organization.flags.firstMail != originalOrg.flags.firstMail || organization.flags.firstMail != originalOrg.flags.firstMail ">
                                    <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.firstMail? 'fa-check' : 'fa-remove'"></i> First Name
                                </span>
                                    <div class="boxcolor">
                                        <i class="fa" ng-class="organization.flags.firstMail? 'fa-check' : 'fa-remove'"></i> First Name
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="position-relative">
                                <div ng-if="organization.flags.secondMail == originalOrg.flags.secondMail && organization.flags.secondMail == originalOrg.flags.secondMail">
                                    <i class="fa" ng-class="organization.flags.secondMail? 'fa-check' : 'fa-remove'"></i> Second Name
                                </div>
                                <div ng-if="organization.flags.secondMail != originalOrg.flags.secondMail || organization.flags.secondMail != originalOrg.flags.secondMail ">
                                    <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.secondMail? 'fa-check' : 'fa-remove'"></i> Second Name
                                </span>
                                    <div class="boxcolor">
                                        <i class="fa" ng-class="organization.flags.secondMail? 'fa-check' : 'fa-remove'"></i> Second Name
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 pdtop">
                        <div class="form-group">
                            <label class="position-relative">
                                <div ng-if="organization.flags.nrm == originalOrg.flags.nrm && organization.flags.nrm == originalOrg.flags.nrm">
                                    <i class="fa" ng-class="organization.flags.nrm? 'fa-check' : 'fa-remove'"></i> NRM
                                </div>
                                <div ng-if="organization.flags.nrm != originalOrg.flags.nrm || organization.flags.nrm != originalOrg.flags.nrm ">
                                    <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.nrm? 'fa-check' : 'fa-remove'"></i> NRM
                                </span>
                                    <div class="boxcolor">
                                        <i class="fa" ng-class="organization.flags.nrm? 'fa-check' : 'fa-remove'"></i> NRM
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="position-relative">
                                <div ng-if="organization.flags.otherSrc == originalOrg.flags.otherSrc && organization.flags.otherSrc == originalOrg.flags.otherSrc">
                                    <i class="fa" ng-class="organization.flags.otherSrc? 'fa-check' : 'fa-remove'"></i> Other
                                </div>
                                <div ng-if="organization.flags.otherSrc != originalOrg.flags.otherSrc || organization.flags.otherSrc != originalOrg.flags.otherSrc ">
                                    <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.otherSrc? 'fa-check' : 'fa-remove'"></i> Other
                                </span>
                                    <div class="boxcolor">
                                        <i class="fa" ng-class="organization.flags.otherSrc? 'fa-check' : 'fa-remove'"></i> Other
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="position-relative">
                                <div ng-if="organization.flags.icom  == originalOrg.flags.icom && organization.flags.icom == originalOrg.flags.icom">
                                    <i class="fa" ng-class="organization.flags.icom? 'fa-check' : 'fa-remove'"></i> Icom
                                </div>
                                <div ng-if="organization.flags.icom != originalOrg.flags.icom || organization.flags.icom != originalOrg.flags.icom ">
                                    <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.icom? 'fa-check' : 'fa-remove'"></i> Icom
                                </span>
                                    <div class="boxcolor">
                                        <i class="fa" ng-class="organization.flags.icom? 'fa-check' : 'fa-remove'"></i> Icom
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="">
                        <label class="h5 boldfont">Mailer</label>
                        <div ng-if="organization.flags.mailer  == originalOrg.flags.mailer">
                            <div ng-switch on="organization.flags.mailer ">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="I">In</span>
                                <span ng-switch-when="O">Out</span>
                                <span ng-switch-when="N">New</span> &nbsp;
                            </div>
                        </div>
                        <div ng-if="organization.flags.mailer  != originalOrg.flags.mailer">
                            <div class="nextcolor">
                                <div ng-switch on="originalOrg.flags.mailer">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="I">In</span>
                                    <span ng-switch-when="O">Out</span>
                                    <span ng-switch-when="N">New</span> &nbsp;
                                </div>
                            </div>
                            <div class="boxcolor">
                                <div ng-switch on="organization.flags.mailer ">
                                    <span ng-switch-when=""></span>
                                    <span ng-switch-when="I">In</span>
                                    <span ng-switch-when="O">Out</span>
                                    <span ng-switch-when="N">New</span> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- /section:elements.form -->
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Former Name(s)</div>
            </div>
        </div>
        <div class="container-fluid box-body table-responsive cf">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="widthfcl">#</th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && formerName.deleted == false">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>
                                    <div ng-if="formerName.name == originalOrg.formerNames[$index].name">
                                        {{formerName.name}}
                                    </div>
                                    <div class="text-danger" ng-if="formerName.name != originalOrg.formerNames[$index].name">
                                        <span class="nextcolor">{{originalOrg.formerNames[$index].name}}&nbsp;</span>
                                        <div class="boxcolor">{{formerName.name}}&nbsp;</div>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="formerName.startDate == originalOrg.formerNames[$index].startDate">
                                        {{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}
                                    </div>
                                    <div class="text-danger" ng-if="formerName.startDate != originalOrg.formerNames[$index].startDate">
                                        <span class="nextcolor">{{originalOrg.formerNames[$index].startDate ? to_date_format(originalOrg.formerNames[$index].startDate,'jS M, Y'): ''}}&nbsp;</span>
                                        <div class="boxcolor">{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}&nbsp;</div>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="formerName.endDate == originalOrg.formerNames[$index].endDate">
                                        {{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}
                                    </div>
                                    <div class="text-danger" ng-if="formerName.endDate != originalOrg.formerNames[$index].endDate">
                                        <span class="nextcolor">{{originalOrg.formerNames[$index].endDate ? to_date_format(originalOrg.formerNames[$index].endDate,'jS M, Y'): ''}}&nbsp;</span>
                                        <div class="boxcolor">{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}&nbsp;</div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="formerName in deletedFormerNames" bgcolor="42b6da">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>{{formerName.name}}</td>
                                <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                                <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
