<div class="tab-pane active" id="home4">
    <div class="widget-box ">
        <div class="widget-main">
            <div class="row ng-scope">
                <div class="col-md-3">
                    <div class>
                        <label class="h5 boldfont">Activities</label>
                        <p class="ng-binding">{{organization.activities.freeText}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class>
                        <label class="h5 boldfont">Governing Authority</label>
                        <p class="ng-binding">{{organization.governing}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class>
                        <label class="h5 boldfont">Operating Income</label>
                        <p class="ng-binding">{{organization.income}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class>
                        <label class="h5 boldfont">Operating Expense</label>
                        <p class="ng-binding">{{organization.expenses}}</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Features</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Type</th>
                            <th>Feature</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null && feature.deleted != true">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{feature.featureType}}</td>
                            <td>{{feature.code.codeValue}}</td>
                            <td>{{feature.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Publications</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th> Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="publication in organization.publication" ng-if="publication.description != null && publication.deleted != true">
                            <td class="text-center">{{publication.sequenceNumber}}</td>
                            <td>{{publication.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Research Fields</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th> Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="research in organization.research" ng-if="research.description != null && research.deleted != true">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{research.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Exhibitions</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Show Date</th>
                            <th>Travel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exhibition in organization.exhibition" ng-if="exhibition.exhibitName != null">
                            <td class="text-center">{{exhibition.sequenceNumber}}</td>
                            <td>{{exhibition.exhibitName}}</td>
                            <td>{{exhibition.startDate ? to_date_format(exhibition.startDate,'jS M, Y') : exhibition.startDateText}}</td>
                            <td>{{exhibition.endDate ? to_date_format(exhibition.endDate,'jS M, Y') : exhibition.endDateText}}</td>
                            <td>{{exhibition.showDate}}</td>
                            <td>{{exhibition.travelFlag == 'Y' ? "YES" : (exhibition.travelFlag == 'N' ? "NO" : "")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
