<div class="tab-pane " id="dropdown14">
    <div class="widget-box">
        <!-- Lagend start-->
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                                                <label class="lagentone">   
                                                </label>
                                            </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                                            <span class="legentbox">
                                                <label class="lagentwo">    
                                                </label>
                                            </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <!-- Lagend end-->
        <!-- Record History start-->
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <!-- Record History end-->
        <div class="widget-main">
            <!-- History Details start-->
            <div class="row inforowcolor">
                <div class="col-md-4">
                    <label>Date & Time</label>
                    <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                    <label>Comments</label>
                    <br>{{ versions[indexPos].comments }}</br>
                </div>
                <div class="col-md-4">
                    <label> Record History Details</label>
                    <br>{{ versions[indexPos].status.description }}</br>
                </div>
                <div class="col-md-4">
                    <label> By</label>
                    <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                        <br>
                        <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                </div>
            </div>
            <!-- History Details start-->
            <!-- #section:elements.form -->
            <div class="col-md-4 pdtop">
                <div class="">
                    <label class="h5 boldfont">Part-Time Paid</label>
                    <p class=".h5">
                        <div ng-if="organization.volunteer.totalPartTimePaid == originalOrg.volunteer.totalPartTimePaid">
                            {{organization.volunteer.totalPartTimePaid || '&nbsp;'}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.volunteer.totalPartTimePaid != originalOrg.volunteer.totalPartTimePaid">
                        <span class="nextcolor">{{originalOrg.volunteer.totalPartTimePaid}}&nbsp;</span>
                        <div class="boxcolor">{{organization.volunteer.totalPartTimePaid || '&nbsp;'}}</div>
                    </div>
                </div>
                <div class="">
                    <label class="h5 boldfont">Part-Time Volunteers</label>
                    <p class=".h5">
                        <div ng-if="organization.volunteer.totalPartTimeUnpaid == originalOrg.volunteer.totalPartTimeUnpaid">
                            {{organization.volunteer.totalPartTimeUnpaid || '&nbsp;'}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.volunteer.totalPartTimeUnpaid != originalOrg.volunteer.totalPartTimeUnpaid">
                        <span class="nextcolor">{{originalOrg.volunteer.totalPartTimeUnpaid}}&nbsp;</span>
                        <div class="boxcolor">{{organization.volunteer.totalPartTimeUnpaid || '&nbsp;'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pdtop">
                <div class="">
                    <label class="h5 boldfont">Full-Time Paid</label>
                    <p class=".h5">
                        <div ng-if="organization.volunteer.totalFullTimePaid == originalOrg.volunteer.totalFullTimePaid">
                            {{organization.volunteer.totalFullTimePaid || '&nbsp;'}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.volunteer.totalFullTimePaid != originalOrg.volunteer.totalFullTimePaid">
                        <span class="nextcolor">{{originalOrg.volunteer.totalFullTimePaid}}&nbsp;</span>
                        <div class="boxcolor">{{organization.volunteer.totalFullTimePaid || '&nbsp;'}}</div>
                    </div>
                </div>
                <div class="">
                    <label class="h5 boldfont">Full-Time Volunteers</label>
                    <p class=".h5">
                        <div ng-if="organization.volunteer.totalFullTimeUnpaid == originalOrg.volunteer.totalFullTimeUnpaid">
                            {{organization.volunteer.totalFullTimeUnpaid || '&nbsp;'}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.volunteer.totalFullTimeUnpaid != originalOrg.volunteer.totalFullTimeUnpaid">
                        <span class="nextcolor">{{originalOrg.volunteer.totalFullTimeUnpaid}}&nbsp;</span>
                        <div class="boxcolor">{{organization.volunteer.totalFullTimeUnpaid || '&nbsp;'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pdtop">
                <div class="">
                    <label class="h5 boldfont">Interns</label>
                    <p class=".h5">
                        <div ng-if="organization.volunteer.totalIntern == originalOrg.volunteer.totalIntern">
                            {{organization.volunteer.totalIntern || '&nbsp;'}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.volunteer.totalIntern != originalOrg.volunteer.totalIntern">
                        <span class="nextcolor">{{originalOrg.volunteer.totalIntern}}&nbsp;</span>
                        <div class="boxcolor">{{organization.volunteer.totalIntern || '&nbsp;'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <label class="h5 boldfont">Volunteer Hours</label>
                    <p class=".h5">
                        <div ng-if="organization.volunteerHours == originalOrg.volunteerHours">
                            {{organization.volunteerHours}}</p>
                    </div>
                    <div class="text-danger" ng-if="organization.volunteerHours != originalOrg.volunteerHours">
                        <span class="nextcolor">{{originalOrg.volunteerHours}}&nbsp;</span>
                        <div class="boxcolor">{{organization.volunteerHours}}&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- /section:elements.form -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">
                Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Title </th>
                            <th>Custom Title</th>
                            <th>Name</th>
                            <th>Contact Details</th>
                            <th>Kind Attention</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel">
                            <td class="text-center">
                                <div ng-if="keyPersonnel.sequenceNumber == originalOrg.personnel[$index].sequenceNumber">
                                    {{keyPersonnel.sequenceNumber}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.sequenceNumber != originalOrg.personnel[$index].sequenceNumber">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].sequenceNumber}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.sequenceNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="keyPersonnel.titleMaster.codeValue == originalOrg.personnel[$index].titleMaster.codeValue">
                                    {{keyPersonnel.titleMaster.codeValue}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.titleMaster.codeValue != originalOrg.personnel[$index].titleMaster.codeValue">
                                    <span class="nextcolor">{{originalOrg.personnel[$index].titleMaster.codeValue}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.titleMaster.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="keyPersonnel.title == originalOrg.personnel[$index].title">
                                    {{keyPersonnel.title}}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.title != originalOrg.personnel[$index].title">
                                    <span class="nextcolor"> {{originalOrg.personnel[$index].title}}&nbsp;</span>
                                    <div class="boxcolor">{{keyPersonnel.title}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalOrg.personnel[$index])">
                                    {{showPersonnelName(keyPersonnel)}}
                                </div>
                                <div class="text-danger" ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalOrg.personnel[$index])">
                                    <span class="nextcolor"> {{showPersonnelName(originalOrg.personnel[$index])}}&nbsp;</span>
                                    <div class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <strong>Phone</strong>:
                                <div ng-if="keyPersonnel.phoneNumbers == originalOrg.personnel[$index].phoneNumbers">
                                    {{ keyPersonnel.phoneNumbers }}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.phoneNumbers != originalOrg.personnel[$index].phoneNumbers">
                                    <span class="nextcolor"> {{originalOrg.personnel[$index].phoneNumbers}}&nbsp;</span>
                                    <div class="boxcolor">{{ keyPersonnel.phoneNumbers }}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Fax</strong>:
                                <div ng-if="keyPersonnel.faxNumbers == originalOrg.personnel[$index].faxNumbers">
                                    {{ keyPersonnel.faxNumbers }}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.faxNumbers != originalOrg.personnel[$index].faxNumbers">
                                    <span class="nextcolor"> {{originalOrg.personnel[$index].faxNumbers}}&nbsp;</span>
                                    <div class="boxcolor">{{ keyPersonnel.faxNumbers }}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Primary Email</strong>:
                                <div ng-if="keyPersonnel.email.primary == originalOrg.personnel[$index].email.primary">
                                    {{ keyPersonnel.email.primary }}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.email.primary != originalOrg.personnel[$index].email.primary">
                                    <span class="nextcolor"> {{originalOrg.personnel[$index].email.primary}}&nbsp;</span>
                                    <div class="boxcolor">{{ keyPersonnel.email.primary }}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Secondary Email</strong>:
                                <div ng-if="keyPersonnel.email.secondary == originalOrg.personnel[$index].email.secondary">{{ keyPersonnel.email.secondary }}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.email.secondary != originalOrg.personnel[$index].email.secondary">
                                    <span class="nextcolor"> {{originalOrg.personnel[$index].email.secondary}}&nbsp;</span>
                                    <div class="boxcolor">{{ keyPersonnel.email.secondary }}&nbsp;</div>
                                </div>
                                <br>
                                <strong>Websites</strong>:
                                <div ng-if="keyPersonnel.website == originalOrg.personnel[$index].website">
                                    {{ keyPersonnel.website }}
                                </div>
                                <div class="text-danger" ng-if="keyPersonnel.website != originalOrg.personnel[$index].website">
                                    <span class="nextcolor"> {{originalOrg.personnel[$index].website}}&nbsp;</span>
                                    <div class="boxcolor">{{ keyPersonnel.website }}&nbsp;</div>
                                </div>
                                <br>
                                <!-- <strong>Social</strong>: {{ keyPersonnel.social }}
                    <br> -->
                            </td>
                            <td class="text-center">
                                <div ng-if="keyPersonnel.attention == originalOrg.personnel[$index].attention">
                                    <p ng-switch on="keyPersonnel.attention">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span> &nbsp;
                                    </p>
                                </div>
                                <div ng-if="keyPersonnel.attention != originalOrg.personnel[$index].attention">
                                    <p class="nextcolor" ng-switch on="originalOrg.personnel[$index].attention">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span> &nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="keyPersonnel.attention">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span> &nbsp;
                                    </p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div ng-if="keyPersonnel.printFlag == originalOrg.personnel[$index].printFlag">
                                    <p ng-switch on="keyPersonnel.printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span> &nbsp;
                                    </p>
                                </div>
                                <div ng-if="keyPersonnel.printFlag != originalOrg.personnel[$index].printFlag">
                                    <p class="nextcolor" ng-switch on="originalOrg.personnel[$index].printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span> &nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="keyPersonnel.printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span> &nbsp;
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="keyPersonnel in deletedPers" bgcolor="42b6da">
                            <td class="text-center">{{keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{keyPersonnel.title}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td>
                                <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                <br>
                                <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                <br>
                                <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                <br>
                                <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                <br>
                                <strong>Websites</strong>: {{ keyPersonnel.website }}
                                <br>
                                <!--  <strong>Social</strong>: {{ keyPersonnel.social }}
                    <br> -->
                            </td>
                            <td>{{ keyPersonnel.attention ? "YES" : (keyPersonnel.attention === false ? "NO" : "") }}</td>
                            <td>{{ keyPersonnel.printFlag ? "YES" : (keyPersonnel.printFlag === false ? "NO" : "") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
