<div class="tab-pane " id="dropdown14">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Part-Time Paid</label>
                        <input type="text" class="form-control" name="partTimePaid" ng-model="organization.volunteer.totalPartTimePaid" validate-this="partTimePaid" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.partTimePaid.$error" ng-show="addForm.partTimePaid.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.partTimePaid.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Part-Time Volunteers</label>
                        <input type="text" class="form-control" name="partTimeUnpaid" ng-model="organization.volunteer.totalPartTimeUnpaid" validate-this="partTimeUnpaid" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.partTimeUnpaid.$error" ng-show="addForm.partTimeUnpaid.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.partTimeUnpaid.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Full-Time Paid</label>
                        <input type="text" class="form-control" name="fullTimePaid" ng-model="organization.volunteer.totalFullTimePaid" validate-this="fullTimePaid" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.fullTimePaid.$error" ng-show="addForm.fullTimePaid.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.fullTimePaid.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Full-Time Volunteers</label>
                        <input type="text" class="form-control" name="fullTimeUnpaid" ng-model="organization.volunteer.totalFullTimeUnpaid" validate-this="fullTimeUnpaid" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.fullTimeUnpaid.$error" ng-show="addForm.fullTimeUnpaid.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.fullTimeUnpaid.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Interns</label>
                        <input type="text" class="form-control" name="interns" ng-model="organization.volunteer.totalIntern" validate-this="interns" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.interns.$error" ng-show="addForm.interns.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.interns.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Volunteer Hours</label>
                        <input type="text" class="form-control" ng-model="organization.volunteerHours">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openKeyPersonnelPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Title</th>
                            <th>Custom Title</th>
                            <th>Name</th>
                            <th>Contact Details</th>
                            <th>Kind Attention</th>
                            <th>Print</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    {{organization.personnel.deleted}}
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel">
                            <td class="text-center ">{{ keyPersonnel.sequenceNumber }}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{keyPersonnel.title}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td>
                                <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                <br>
                                <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                <br>
                                <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                <br>
                                <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                <br>
                                <strong>Websites</strong>: {{ keyPersonnel.website }}
                                <br>
                                <!--  <strong>Social</strong>: {{ keyPersonnel.social }}
                   <br> -->
                            </td>
                            <td class="text-center ">{{ keyPersonnel.attention ? "YES " : (keyPersonnel.attention === false ? "NO " : " ")}}</td>
                            <td class="text-center ">{{ keyPersonnel.printFlag ? "YES " : (keyPersonnel.printFlag === false ? "NO " : " ") }}</td>
                            <td class="text-center ">
                                <div class="action-buttons ">
                                    <a class="blue " ng-click="openKeyPersonnelPopup($index) ">
                                        <i class="fa fa-pencil bigger-130 "></i>
                                    </a>
                                    <a class="red " ng-click="openRemovePopup($index, 'Key Personnel') ">
                                        <i class="ace-icon fa fa-trash bigger-130 "></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
