<div class="widget-box abc">
    <div class="usertitle">
       <B ui-sref="portal.security.user.edit.account({id:user._id})">User Details: {{user.auth.email}}</B> 
    </div>
    <div class="space"></div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="addnewt accoutmar">
                <span>Personal Details</span>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Salute</label>
                        <ui-select ng-model="user.details.personal.salute">
                            <ui-select-match>
                                <span ng-bind="$select.selected.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="salute.id as salute in (saluteArray | filter: $select.search) track by salute.id">
                                <span ng-bind="salute.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid }">
                        <label for="sequence">First Name<span class="meditator">*</span>
                        </label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="firstName" ng-model="user.details.personal.name.first" required validate-this="firstName" validate-as="alphabets" placeholder="First Name">
                        </div>
                        <div class="help-block" ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched">
                            <p ng-message="required">This field is required</p>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.firstName.alphabets">Invalid alphabets found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error': userForm.middleName.$touched && userForm.middleName.$invalid }">
                        <label for="sequence">Middle Name</label>
                        <input type="text" class="form-control" name="middleName" ng-model="user.details.personal.name.middle" placeholder="Middle Name" validate-this="middleName" validate-as="alphabets">
                        <div class="help-block" ng-messages="userForm.middleName.$error" ng-show="userForm.middleName.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.middleName.alphabets">Invalid alphabets found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid }">
                        <label for="sequence"> Last Name<span class="meditator">*</span></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastName" ng-model="user.details.personal.name.last" required placeholder="Last Name" validate-this="lastName" validate-as="alphabets">
                        </div>
                        <div class="help-block" ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched">
                            <p ng-message="required">This field is required</p>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.lastName.alphabets">Invalid alphabets found</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Gender</label>
                        <ui-select ng-model="user.details.personal.gender">
                            <ui-select-match>
                                <span ng-bind="$select.selected.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="gender.id as gender in (genderArray | filter: $select.search) track by gender.id">
                                <span ng-bind="gender.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error': userForm.dob.$touched && userForm.dob.$invalid }">
                        <label for="id-date-picker-1">Date of Birth<span class="meditator">*</span></label>
                        <div class="input-group">
                            <input type="text" readonly name="dob" data-date-format="dd-mm-yyyy" id="id-date-picker-1" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.details.personal.dob" is-open="popup2.opened" datepicker-options="dobOptions" required close-text="Close" />
                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                        </div>
                        <div class="help-block" ng-messages="userForm.dob.$error" ng-show="userForm.dob.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
