<div class="action-buttons">
    <a class="blue" ng-if="isActionPermitted('security.user.edit')" ui-sref="portal.security.user.edit.account({id: recordId})" title="Edit Record">
        <i class="fa fa-pencil bigger-130"></i>
    </a>
     <a class="red" ng-if="isActionPermitted('security.user.remove')" ng-click="openDeleteModal1(recordId)" title="Delete Record">
        <i class="fa fa-trash bigger-130"></i>
    </a>
     
</div>
