<form name="userForm" ng-submit="add()">
    <div class="box-body table-responsive ">
        <div class="abc tabbable">
            <div class="tab-content">
                <div class="tab-pane active" id="home4">
                    <div class="col-sm-6 ">
                        <div class="widget-box">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="form-group ">
                                        <label for="form-field-select-section">Salute
                                        </label>
                                        <ui-select ng-model="user.details.personal.salute">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.label"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="salute.id as salute in (saluteArray | filter: $select.search) track by salute.id">
                                                <span ng-bind="salute.label"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid }">
                                        <label for="sequence">First Name<span class="meditator">*</span>
                                        </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="firstName" id="sequence" ng-model="user.details.personal.name.first" required validate-this="firstName" validate-as="alphabets" placeholder="First Name">
                                        </div>
                                        <div class="help-block" ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched">
                                            <p ng-message="required">This field is required</p>
                                            <div ng-message="validateAs">
                                                <p ng-show="validateAsErrors.firstName.alphabets">Invalid alphabets found</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.middleName.$touched && userForm.middleName.$invalid }">
                                        <label for="sequence">Middle Name</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="middleName" id="sequence" ng-model="user.details.personal.name.middle" placeholder="Middle Name" validate-this="middleName" validate-as="alphabets">
                                        </div>
                                        <div class="help-block" ng-messages="userForm.middleName.$error" ng-show="userForm.middleName.$touched">
                                            <div ng-message="validateAs">
                                                <p ng-show="validateAsErrors.middleName.alphabets">Invalid alphabets found</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid }">
                                        <label for="sequence">Last Name<span class="meditator">*</span> </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="lastName" id="sequence" ng-model="user.details.personal.name.last" required placeholder="Last Name" validate-this="lastName" validate-as="alphabets">
                                        </div>
                                        <div class="help-block" ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched">
                                            <p ng-message="required">This field is required</p>
                                            <div ng-message="validateAs">
                                                <p ng-show="validateAsErrors.lastName.alphabets">Invalid alphabets found</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.type.$touched && userForm.type.$invalid }">
                                        <label for="form-field-select-section">Role<span class="meditator">*</span></label>
                                        <ui-select ng-model="user.role" name="type" required>
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="thisRole._id as thisRole in (roleArray | filter: $select.search) track by thisRole._id">
                                                <span ng-bind="thisRole.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="help-block" ng-messages="userForm.type.$error" ng-show="userForm.type.$touched">
                                            <div ng-message="required">Please fill this field</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="widget-box">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                                        <label for="sequence"> Email<span class="meditator">*</span>
                                        </label>
                                        <div class="form-group">
                                            <input type="email" class="form-control" required name="email" ng-model="user.auth.email" validate-is-email-unique validate-this="emailId" validate-as="email">
                                        </div>
                                        <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
                                            <p ng-message="required">This field is required</p>
                                            <div ng-message="validateAs">
                                                <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                                            </div>
                                            <p ng-message="validateIsEmailUnique"><b>{{user.auth.email}}</b> already exists</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid }">
                                        <label for="sequence">Password <span class="meditator">*</span></label>
                                        <div class="form-group">
                                            <input type="password" class="form-control" required name="confirmPassword" ng-model="user.auth.confirmPassword" validate-password ng-minlength="8" ng-maxlength="15">
                                        </div>
                                        <div class="help-block" ng-messages="userForm.confirmPassword.$error" ng-show="userForm.confirmPassword.$touched">
                                            <p ng-message="required">This field is required</p>
                                            <p ng-message="minlength">The password should be minimum 8 characters long</p>
                                            <p ng-message="maxlength">The password should be maximum 15 characters long</p>
                                            <ul ng-message="validatePassword">
                                                <li ng-show="passwordValidationErrors.indexOf('lowercase') >= 0">The password needs to have at least 1 Lowercase character</li>
                                                <li ng-show="passwordValidationErrors.indexOf('uppercase') >= 0">The password needs to have at least 1 Uppercase character</li>
                                                <li ng-show="passwordValidationErrors.indexOf('digit') >= 0">The password needs to have at least 1 Digit</li>
                                                <li ng-show="passwordValidationErrors.indexOf('special') >= 0">The password needs to have at least 1 Special character</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p password-strength="userForm.confirmPassword.$viewValue"></p>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
                                        <label for="sequence">Confirm Password<span class="meditator">*</span></label>
                                        <div class="form-group">
                                            <input type="password" class="form-control" required name="password" ng-model="user.auth.password" validate-match="user.auth.confirmPassword">
                                        </div>
                                        <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.password.$touched">
                                            <p ng-message="required">This field is required</p>
                                            <p ng-message="validateMatch">Both the passwords do not match</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.accessDate.$touched && userForm.accessDate.$invalid }">
                                        <label for="id-date-picker-1">Access Date <span class="meditator">*</span></label>
                                        <div class="input-group">
                                            <input type="text" readonly required name="accessDate" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.accessDate" is-open="popup1.opened" data-date-format="dd-mm-yyyy" id="id-date-picker-1" datepicker-options="accessDateOptions" close-text="Close" />
                                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                                        </div>
                                        <div class="help-block" ng-messages="userForm.accessDate.$error" ng-show="userForm.accessDate.$touched">
                                            <p ng-message="required">This field is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': userForm.expiryDate.$touched && userForm.expiryDate.$invalid }">
                                        <label for="id-date-picker-1">Expiry Date <span class="meditator">*</span></label>
                                        <div class="input-group">
                                            <input type="text" readonly required name="expiryDate" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.expiryDate" is-open="popup2.opened" datepicker-options="expiryDateOptions" close-text="Close" />
                                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                                        </div>
                                        <div class="help-block" ng-messages="userForm.expiryDate.$error" ng-show="userForm.expiryDate.$touched">
                                            <p ng-message="required">This field is required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="space"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="userForm.$invalid || loading">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-plus'"></i> Save
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</form>
