<div class="widget-box abc">
    <div class="usertitle">
        <B ui-sref="portal.security.user.edit.account({id:user._id})">User Details: {{user.auth.email}}</B>
    </div>
    <div class="space"></div>
    <div class="widget-body">
        <div class="widget-main row">
            <div class="addnewt accoutmar">
                <span>Account Details</span>
            </div>
            <div class="space"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Role</label>
                    <ui-select ng-model="user.role">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisRole._id as thisRole in (roleArray | filter: $select.search) track by thisRole._id">
                            <span ng-bind="thisRole.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="ace ace-checkbox-2" ng-model="user.active">
                    <label class="lbl" for="handicapped"><strong>   Active</strong></label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="id-date-picker-1">Access Date</label><span class="meditator">*</span></label>
                    <div class="input-group">
                        <input type="text" readonly name="accessDate" data-date-format="dd-mm-yyyy" id="id-date-picker-1" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.accessDate" is-open="popup1.opened" datepicker-options="accessDateOptions" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id-date-picker-1">Expiry Date</label><span class="meditator">*</span> </label>
                    <div class="input-group">
                        <input type="text" readonly name="expiryDate" data-date-format="dd-mm-yyyy" id="id-date-picker-1" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.expiryDate" is-open="popup2.opened" ng-change="alert('changed')" datepicker-options="expiryDateOptions" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
