<div class="action-buttons">
    <a class="green" href="javascript:void(0)" ng-click="openViewCommentsModal(recordId)" title="View Comments">
        <i class="fa fa-comments bigger-130"></i>
    </a>
    <a class="orange" ui-sref="portal.website.nrpInquiry.view({id: recordId})" title="View Record">
        <i class="fa fa-file bigger-130"></i>
    </a>
    <a class="red" ng-if="isActionPermitted('website.nrpInquiry.remove')" ng-click="openDeleteModal1(recordId)" title="Delete Record">
        <i class="fa fa-trash bigger-130"></i>
    </a>
    <a class="blue" ng-if="isActionPermitted('website.nrpInquiry.edit')" ui-sref="portal.website.nrpInquiry.edit({id: recordId})" title="Edit Record">
        <i class="fa fa-pencil bigger-130"></i>
    </a>
</div>
