<div class="action-buttons">
    <a class="orange" ui-sref="portal.website.user.view({id: recordId})" title="View Record">
        <i class="fa fa-file bigger-130"></i>
    </a>
    <a class="red" ng-if="isActionPermitted('website.user.remove')" ng-click="openDeleteModal1(recordId)" title="Delete Record">
        <i class="fa fa-trash bigger-130"></i>
    </a>
    <a class="blue" ng-if="isActionPermitted('website.user.edit')" ui-sref="portal.website.user.edit({id: recordId})" title="Manage Orders">
        <i class="fa fa-shopping-cart bigger-130"></i>
    </a>
    <a class="green" ng-if="isActionPermitted('website.user.confirmSubscription')" ui-sref="portal.website.user.confirmSubscription({id: recordId})" title="Manage User Account">
        <i class="fa fa-user bigger-130"></i>
    </a>
</div>
