<div class="widget-box abc">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Title</label>
                    <div>{{datacardRequest.title}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Name</label>
                    <div>{{[(datacardRequest.name.first || ''), (datacardRequest.name.last || '')].join(' ')}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Email</label>
                    <div>{{datacardRequest.email}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Address</label>
                    <div>{{datacardRequest.address}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>City</label>
                    <div>{{datacardRequest.city}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>State</label>
                    <div>{{datacardRequest.state}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Zip</label>
                    <div>{{datacardRequest.zip}}</div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Organization</label>
                        <div>{{datacardRequest.organization}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Organization Type</label>
                        <div>{{datacardRequest.organizationtype}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Needs</label>
                        <div>{{datacardRequest.needs}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Source of Information</label>
                        <div>{{datacardRequest.hearaboutus}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>
                        <strong><i class="fa" ng-class="{'fa-check': datacardRequest.active, 'fa-remove': !datacardRequest.active }"></i> Active</strong>
                    </label>
                </div>
                <div class="col-md-4 form-group">
                    <label>Progress Status</label>
                    <div>{{progressMap[datacardRequest.progress]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
