<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Manage Order</h4>
</div>
<form name="userForm" ng-submit="edit()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Package</label>
                    <div>{{order.packageName}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Package Type</label>
                    <div style="text-transform: uppercase">{{order.typeName}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Price per unit</label>
                    <div>{{order.ppu | currency}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Qty. Ordered</label>
                    <div>{{order.qty}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Total Price</label>
                    <div>{{(order.qty * order.ppu) | currency}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': userForm.accessDate.$touched && userForm.accessDate.$invalid }">
                    <label for="id-date-picker-1">Subscription Start<span class="meditator">*</span></label>
                    <div class="input-group">
                        <input type="text" required readonly name="accessDate" data-date-format="dd-mm-yyyy" id="id-date-picker-1" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="order.subscription.from" is-open="popup1.opened" datepicker-options="accessDateOptions" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                    <div class="help-block" ng-messages="userForm.accessDate.$error" ng-show="userForm.accessDate.$touched">
                        <p ng-message="required">This field is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': userForm.expiryDate.$touched && userForm.expiryDate.$invalid }">
                    <label for="id-date-picker-2">Subscription End<span class="meditator">*</span></label>
                    <div class="input-group">
                        <input type="text" required readonly name="expiryDate" data-date-format="dd-mm-yyyy" id="id-date-picker-2" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="order.subscription.to" is-open="popup2.opened" datepicker-options="expiryDateOptions" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                    <div class="help-block" ng-messages="userForm.expiryDate.$error" ng-show="userForm.expiryDate.$touched">
                        <p ng-message="required">This field is required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" class="ace ace-checkbox-2" ng-model="order.confirmed.flag" ng-change="changeOrderConfirmation()">
                <span class="lbl"></span> Order Confirmed
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="userForm.$invalid || loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
        <button class="btn btn-default btn-sm sp10 mr" type="button" ng-click="cancel()">Cancel</button>
        <div class="clearfix"></div>
    </div>
</form>
