<form name="userForm" ng-submit="add()">
    <div class="widget-box abc">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="space"></div>
                    <div class="pull-left addnewt add-button">Order Details</div>
                    <button type="submit" class="btn btn-primary btn-sm pull-right" ng-disabled="userForm.$invalid || loading || !user.orders || user.orders.length == 0">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                    </button>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': userForm.packageName.$touched && userForm.packageName.$invalid }">
                            <label>Package<span class="meditator">*</span></label>
                            <ui-select name="packageName" ng-model="user.orders.package" on-select="changePackageDetails()" required>
                                <ui-select-match>
                                    <span ng-bind="$select.selected.packageName"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisPackage in (packageArray | filter: $select.search) track by thisPackage._id">
                                    <span ng-bind="thisPackage.packageName"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="help-block" ng-messages="userForm.packageName.$error" ng-show="userForm.packageName.$touched">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': userForm.typeName.$touched && userForm.typeName.$invalid }">
                            <label>Package Type<span class="meditator">*</span></label>
                            <ui-select name="typeName" ng-model="user.orders.typeName" on-select="changePackageDetails()" required>
                                <ui-select-match>
                                    <span ng-bind="$select.selected.type" style="text-transform: uppercase"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="thisSubscriberType.type as thisSubscriberType in (subscriberTypeArray | filter: $select.search)">
                                    <span ng-bind="thisSubscriberType.type" style="text-transform: uppercase"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="help-block" ng-messages="userForm.typeName.$error" ng-show="userForm.typeName.$touched">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Price per unit</label>
                            <div>{{user.orders.ppu | currency}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': userForm.qty.$touched && userForm.qty.$invalid }">
                            <label>Qty. Ordered<span class="meditator">*</span></label>
                            <input type="text" class="form-control" ng-model="user.orders.qty" name="qty" required>
                            <div class="help-block" ng-messages="userForm.qty.$error" ng-show="userForm.qty.$touched">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total Price</label>
                            <div>{{(user.orders.qty * user.orders.ppu) | currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="space"></div>
                    <div class="pull-left addnewt add-button">Personal Details</div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                        <label>Email<span class="meditator">*</span></label>
                        <input type="email" class="form-control" required name="email" ng-model="user.auth.email" validate-this="emailId" validate-as="email" autocomplete="off" ng-blur="checkExistingUser()">
                        <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
                            <p ng-message="required">This field is required</p>
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="user.title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid }">
                        <label>Name<span class="meditator">*</span></label>
                        <input type="text" class="form-control" ng-model="user.name.first" placeholder="First Name" name="firstName" required>
                        <div class="help-block" ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>&nbsp;</label>
                        <input type="text" class="form-control" ng-model="user.name.middle" placeholder="Middle Name">
                    </div>
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid }">
                        <label>&nbsp;</label>
                        <input type="text" class="form-control" ng-model="user.name.last" placeholder="Last Name" name="lastName" required>
                        <div class="help-block" ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.address1.$touched && userForm.address1.$invalid }">
                        <label>Address<span class="meditator">*</span></label>
                        <input type="text" class="form-control" ng-model="user.address" placeholder="Street 1" name="address1" required>
                        <div class="help-block" ng-messages="userForm.address1.$error" ng-show="userForm.address1.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>&nbsp;</label>
                        <input type="text" class="form-control" ng-model="user.address2" placeholder="Street 2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.city.$touched && userForm.city.$invalid }">
                        <label>City<span class="meditator">*</span></label>
                        <input type="text" class="form-control" ng-model="user.city" name="city" required>
                        <div class="help-block" ng-messages="userForm.city.$error" ng-show="userForm.city.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>State</label>
                        <input type="text" class="form-control" ng-model="user.state">
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" ng-model="user.country">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.phone.$touched && userForm.phone.$invalid }">
                        <label>Phone<span class="meditator">*</span></label>
                        <input type="text" class="form-control" ng-model="user.phoneNumbers" name="phone" required>
                        <div class="help-block" ng-messages="userForm.phone.$error" ng-show="userForm.phone.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Fax</label>
                        <input type="text" class="form-control" ng-model="user.faxNumbers">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="pull-left addnewt add-button">Other Details</div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Institution</label>
                            <input type="text" class="form-control" ng-model="user.institution">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Source of Information</label>
                            <input type="text" class="form-control" ng-model="user.sourceOfInfo">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="pull-left addnewt add-button">Account Details</div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.accessDate.$touched && userForm.accessDate.$invalid }">
                        <label>Access Date<span class="meditator">*</span></label>
                        <div class="input-group">
                            <input type="text" readonly name="accessDate" data-date-format="dd-mm-yyyy" id="id-date-picker-1" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.accessDate" is-open="popup1.opened" datepicker-options="accessDateOptions" close-text="Close" required />
                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                        </div>
                        <div class="help-block" ng-messages="userForm.accessDate.$error" ng-show="userForm.accessDate.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.expiryDate.$touched && userForm.expiryDate.$invalid }">
                        <label>Expiry Date<span class="meditator">*</span></label>
                        <div class="input-group">
                            <input type="text" readonly name="expiryDate" data-date-format="dd-mm-yyyy" id="id-date-picker-1" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.expiryDate" is-open="popup2.opened" ng-change="alert('changed')" datepicker-options="expiryDateOptions" close-text="Close" required />
                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                        </div>
                        <div class="help-block" ng-messages="userForm.expiryDate.$error" ng-show="userForm.expiryDate.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="user.active">
                        <label class="lbl"><strong>   Active</strong></label>
                    </div>
                </div>
            </div> -->
            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="pull-left addnewt add-button">Orders <small class="text-danger" ng-if="!user.orders || user.orders.length == 0">(Add at least 1 order for the subscriber)</small></div>
                    <div class="pull-right addnewt add-button">
                        <div class="btn btn-sm btn-primary sp10 mr" ng-click="openOrderEditModal()"><i class="fa fa-plus"></i> Create Order</div>
                    </div>
                </div>
            </div>
            <div class="form-group table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="20%">Package Name</th>
                            <th width="15%">Package Type</th>
                            <th width="7.5%">Price per unit</th>
                            <th width="7.5%">Qty. Ordered</th>
                            <th width="7.5%">Total Price</th>
                            <th width="7.5%">Subscription Start</th>
                            <th width="7.5%">Subscription End</th>
                            <th width="7.5%">Order Confirmed</th>
                            <th width="5%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in user.orders">
                            <td>{{ order.packageName }}</td>
                            <td style="text-transform: uppercase">{{ order.typeName }}</td>
                            <td>{{ order.ppu | currency }}</td>
                            <td>{{ order.qty }}</td>
                            <td>{{ (order.qty * order.ppu) | currency }}</td>
                            <td>{{ (order.subscription && order.subscription.from) ? to_date_format(order.subscription.from, 'jS M, Y') : "" }}</td>
                            <td>{{ (order.subscription && order.subscription.to) ? to_date_format(order.subscription.to, 'jS M, Y') : "" }}</td>
                            <td>{{ order.confirmed.flag ? "YES" : "NO" }}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openOrderEditModal($index)" title="Manage Order">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</form>
