<div class="table-responsive">
    <style>
    .action-buttons {
        text-align: left
    }
    </style>
    <table id="webDatacardRequestDataTable" datatable="" dt-options="dtOptions" class="table table-striped table-bordered"></table>
</div>
