<form ng-submit="update(); datacardRequestForm.$setUntouched();" name="datacardRequestForm">
    <div class="widget-box abc">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="pull-left addnewt add-button">Details</div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Title</label>
                        <div>{{datacardRequest.title}}</div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Name</label>
                        <div>{{[(datacardRequest.name.first || ''), (datacardRequest.name.last || '')].join(' ')}}</div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Email</label>
                        <div>{{datacardRequest.email}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Address</label>
                        <div>{{datacardRequest.address}}</div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>City</label>
                        <div>{{datacardRequest.city}}</div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>State</label>
                        <div>{{datacardRequest.state}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Zip</label>
                        <div>{{datacardRequest.zip}}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Organization</label>
                            <div>{{datacardRequest.organization}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Organization Type</label>
                            <div>{{datacardRequest.organizationtype}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Needs</label>
                            <div>{{datacardRequest.needs}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Source of Information</label>
                            <div>{{datacardRequest.hearaboutus}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="datacardRequest.active">
                            <span class="lbl"></span> Active
                        </label>
                    </div>
                    <div class="col-md-4 form-group" ng-class="{'has-error': userForm.progress.$touched && userForm.progress.$invalid}">
                        <label>Progress Status<span class="meditator">*</span></label>
                        <select class="form-control" name="progress" required ng-model="datacardRequest.progress" ng-options="ps.label for ps in progressStatusArray"></select>
                        <div class="help-block" ng-messages="userForm.progress.$error" ng-show="userForm.progress.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-4 form-group" ng-class="{'has-error': userForm.comment.$touched && userForm.comment.$invalid}">
                        <label>Comment<span class="meditator">*</span></label>
                        <textarea class="form-control" name="comment" required ng-model="datacardRequest.adminComments[commentIndex].comment"></textarea>
                        <div class="help-block" ng-messages="userForm.comment.$error" ng-show="userForm.comment.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="datacardRequestForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Update
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
