<form ng-submit="update(); advertiseInquiryForm.$setUntouched();" name="advertiseInquiryForm">
    <div class="widget-box abc">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="pull-left addnewt add-button">Details</div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Name</label>
                        <div>{{[(advertiseInquiry.name.first || ''), (advertiseInquiry.name.last || '')].join(' ')}}</div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Email</label>
                        <div>{{advertiseInquiry.email}}</div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Subject</label>
                        <div>{{advertiseInquiry.subject}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Description</label>
                        <div>{{advertiseInquiry.details}}</div>
                    </div>
                    <div class="col-md-4 form-group" ng-class="{'has-error': advertiseInquiryForm.progress.$touched && advertiseInquiryForm.progress.$invalid}">
                        <label>Progress Status<span class="meditator">*</span></label>
                        <select class="form-control" name="progress" required ng-model="advertiseInquiry.progress" ng-options="ps.label for ps in progressStatusArray"></select>
                        <div class="help-block" ng-messages="advertiseInquiryForm.progress.$error" ng-show="advertiseInquiryForm.progress.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-4 form-group" ng-class="{'has-error': advertiseInquiryForm.comment.$touched && advertiseInquiryForm.comment.$invalid}">
                        <label>Comment<span class="meditator">*</span></label>
                        <textarea class="form-control" name="comment" required ng-model="advertiseInquiry.adminComments[commentIndex].comment"></textarea>
                        <div class="help-block" ng-messages="advertiseInquiryForm.comment.$error" ng-show="advertiseInquiryForm.comment.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="advertiseInquiry.active">
                            <span class="lbl"></span> Active
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="advertiseInquiryForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Update
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
