<form ng-submit="confirmSubscription()" name="userForm">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Personal Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Title</label>
                    <div>{{user.title}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Name</label>
                    <div>{{user.completeName}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Email</label>
                    <div>{{user.auth.email}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Address</label>
                    <div>{{[user.address, user.address2].join('&nbsp;')}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>City</label>
                    <div>{{user.city}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>State</label>
                    <div>{{user.state}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Country</label>
                    <div>{{user.country}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Phone</label>
                    <div>{{user.phoneNumbers}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Fax</label>
                    <div>{{user.faxNumbers}}</div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Other Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Institution</label>
                        <div>{{user.institution}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Source of Information</label>
                        <div>{{user.sourceOfInfo}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Account Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.accessDate.$touched && userForm.accessDate.$invalid }">
                    <label for="id-date-picker-1">Access Date<span class="meditator">*</span></label>
                    <div class="input-group">
                        <input type="text" required readonly name="accessDate" data-date-format="dd-mm-yyyy" id="id-date-picker-1" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.accessDate" is-open="popup1.opened" datepicker-options="accessDateOptions" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                    <div class="help-block" ng-messages="userForm.accessDate.$error" ng-show="userForm.accessDate.$touched">
                        <p ng-message="required">This field is required</p>
                    </div>
                </div>
                <div class="col-md-4 form-group" ng-class="{ 'has-error': userForm.expiryDate.$touched && userForm.expiryDate.$invalid }">
                    <label for="id-date-picker-2">Expiry Date<span class="meditator">*</span></label>
                    <div class="input-group">
                        <input type="text" required readonly name="expiryDate" data-date-format="dd-mm-yyyy" id="id-date-picker-2" class="form-control date-picker" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.expiryDate" is-open="popup2.opened" datepicker-options="expiryDateOptions" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                    </div>
                    <div class="help-block" ng-messages="userForm.expiryDate.$error" ng-show="userForm.expiryDate.$touched">
                        <p ng-message="required">This field is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="user.active">
                        <span class="lbl"></span> Active
                    </label>
                </div>
            </div>
            <!-- <div ng-if="user.auth.registered">
                <div class="alert alert-info text-center">
                    This user has aleady registered. The <b>Update</b> action will not update the user's credentials. However, if you wish to send the user a new set of credentials, please check the <b>Resend Credentails</b> option and then hit <b>Update</b>. This would require the user to Sign Up again.
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="user.resendAuth">
                            <span class="lbl"></span> Resend Credentials
                        </label>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="userForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> {{user.auth.registered ? "Update" : "Create a User Account"}}
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
