<form ng-submit="update(); nrpInquiryForm.$setUntouched();" name="nrpInquiryForm">
    <div class="widget-box abc">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="pull-left addnewt add-button">Details</div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Name</label>
                        <div>{{[(nrpInquiry.name.first || ''), (nrpInquiry.name.last || '')].join(' ')}}</div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Email</label>
                        <div>{{nrpInquiry.email}}</div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Phone No.</label>
                        <div>{{nrpInquiry.phone}}</div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Reason for Contacting</label>
                        <div>{{nrpInquiry.reasons}}</div>
                    </div>
                    <!-- <div class="col-md-3 form-group">
                        <label>Comments and Feedback</label>
                        <div>{{nrpInquiry.comments}}</div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="nrpInquiry.active">
                            <span class="lbl"></span> Active
                        </label>
                    </div>
                    <div class="col-md-3 form-group" ng-class="{'has-error': nrpInquiryForm.progress.$touched && nrpInquiryForm.progress.$invalid}">
                        <label>Progress Status<span class="meditator">*</span></label>
                        <select class="form-control" name="progress" required ng-model="nrpInquiry.progress" ng-options="ps.label for ps in progressStatusArray"></select>
                        <div class="help-block" ng-messages="nrpInquiryForm.progress.$error" ng-show="nrpInquiryForm.progress.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                    <div class="col-md-3 form-group" ng-class="{'has-error': nrpInquiryForm.comment.$touched && nrpInquiryForm.comment.$invalid}">
                        <label>Comment<span class="meditator">*</span></label>
                        <textarea class="form-control" name="comment" required ng-model="nrpInquiry.adminComments[commentIndex].comment"></textarea>
                        <div class="help-block" ng-messages="nrpInquiryForm.comment.$error" ng-show="nrpInquiryForm.comment.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="nrpInquiryForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Update
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
