<!DOCTYPE html>
<html lang="en" ng-app="dms">

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Directory Management System :: {{ page.name }}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="nrp-admin-theme/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="nrp-admin-theme/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="nrp-admin-theme/assets/css/ace-fonts.css">
    <link rel="stylesheet" type="text/css" href="nrp-admin-theme/assets/css/ace.css">
    <link rel="stylesheet" type="text/css" href="nrp-admin-theme/assets/css/ace-rtl.css">
    <link rel="stylesheet" type="text/css" href="nrp-admin-theme/assets/fonts/font-styles.css">
    <link rel="stylesheet" type="text/css" href="nrp-admin-theme/assets/css/fontcustom.css">
    <link rel="stylesheet" type="text/css" href="nrp-admin-theme/assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="styles/app.min.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="nrp-admin-theme/assets/css/ace-part2.css" />
        <link rel="stylesheet" href="nrp-admin-theme/assets/css/ace-ie.css" />
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin">
    <div ui-view></div>
    <script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='nrp-admin-theme/assets/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript" src="config/web-config.js"></script>
    <script type="text/javascript" src="scripts/vendor.min.js"></script>
    <script type="text/javascript" src="nrp-admin-theme/assets/js/ace.js"></script>
    <script type="text/javascript" src="scripts/apps.min.js"></script>
    <script type="text/javascript" src="scripts/services.min.js"></script>
    <script type="text/javascript" src="scripts/directives.min.js"></script>
    <script type="text/javascript" src="scripts/filters.min.js"></script>
    <script type="text/javascript" src="scripts/controllers.min.js"></script>
    <script type="text/javascript" src="ckeditor/ckeditor.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
</body>

</html>
