<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <div class="widget-main">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Organization Office</span>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <label class="h5 boldfont">Organization Name</label>
                        <div ng-if="organization.organizationOffice.name == originalOrg.organizationOffice.name">
                            <p class="" ng-binding "">{{organization.organizationOffice.name}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.organizationOffice.name != originalOrg.organizationOffice.name">
                            <span class="nextcolor">{{originalOrg.organizationOffice.name}}&nbsp;</span>
                            <div class="boxcolor">{{organization.organizationOffice.name}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <label class="h5 boldfont">Additional Information</label>
                        <div ng-if="organization.organizationOffice.additionalInfo == originalOrg.organizationOffice.additionalInfo">
                            <p class="ng-binding">{{organization.organizationOffice.additionalInfo}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.organizationOffice.additionalInfo != originalOrg.organizationOffice.additionalInfo">
                            <span class="nextcolor">{{originalOrg.organizationOffice.additionalInfo}}&nbsp;</span>
                            <div class="boxcolor">{{organization.organizationOffice.additionalInfo}}&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Contact</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th class="widthfcl">Address Sequence No.</th>
                            <th>Contact Type</th>
                            <th>Extension</th>
                            <th>Contact Details</th>
                            <th>Note</th>
                            <th>Mail Option</th>
                            <th>Nixie Index</th>
                            <th>Non USA</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ocdContact in organization.ocdContact" ng-if="ocdContact.deleted == false">
                            <td class="text-center">
                                <div ng-if="ocdContact.sequenceNo == originalOrg.ocdContact[$index].sequenceNo">
                                    <p>{{ocdContact.sequenceNo}}&nbsp;</p>
                                </div>
                                <div ng-if="ocdContact.sequenceNo != originalOrg.ocdContact[$index].sequenceNo">
                                    <p class="nextcolor"> {{originalOrg.ocdContact[$index].sequenceNo}}&nbsp;</p>
                                    <p class="boxcolor">{{ocdContact.sequenceNo}}&nbsp;</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div ng-if="ocdContact.addressSequenceNo == originalOrg.ocdContact[$index].addressSequenceNo">
                                    <p>{{ocdContact.addressSequenceNo}}&nbsp;</p>
                                </div>
                                <div ng-if="ocdContact.addressSequenceNo != originalOrg.ocdContact[$index].addressSequenceNo">
                                    <p class="nextcolor"> {{originalOrg.ocdContact[$index].addressSequenceNo}}&nbsp;</p>
                                    <p class="boxcolor">{{ocdContact.addressSequenceNo}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.contactType.codeValue == originalOrg.ocdContact[$index].contactType.codeValue">
                                    <p>{{ocdContact.contactType.codeValue}}&nbsp;</p>
                                </div>
                                <div ng-if="ocdContact.contactType.codeValue != originalOrg.ocdContact[$index].contactType.codeValue">
                                    <p class="nextcolor"> {{originalOrg.ocdContact[$index].contactType.codeValue}}&nbsp;</p>
                                    <p class="boxcolor">{{ocdContact.contactType.codeValue}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.extension == originalOrg.ocdContact[$index].extension">
                                    <p>{{ocdContact.extension}}&nbsp;</p>
                                </div>
                                <div ng-if="ocdContact.extension != originalOrg.ocdContact[$index].extension">
                                    <p class="nextcolor"> {{originalOrg.ocdContact[$index].extension}}&nbsp;</p>
                                    <p class="boxcolor">{{ocdContact.extension}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.contactDetails == originalOrg.ocdContact[$index].contactDetails">
                                    <p>{{ocdContact.contactDetails}}&nbsp;</p>
                                </div>
                                <div ng-if="ocdContact.contactDetails != originalOrg.ocdContact[$index].contactDetails">
                                    <p class="nextcolor"> {{originalOrg.ocdContact[$index].contactDetails}}&nbsp;</p>
                                    <p class="boxcolor">{{ocdContact.contactDetails}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.note == originalOrg.ocdContact[$index].note">
                                    <p>{{ocdContact.note}}&nbsp;</p>
                                </div>
                                <div ng-if="ocdContact.note != originalOrg.ocdContact[$index].note">
                                    <p class="nextcolor"> {{originalOrg.ocdContact[$index].note}}&nbsp;</p>
                                    <p class="boxcolor">{{ocdContact.note}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.mailOptOut == originalOrg.ocdContact[$index].mailOptOut">
                                    <p ng-switch on="ocdContact.mailOptOut">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="ocdContact.mailOptOut != originalOrg.ocdContact[$index].mailOptOut">
                                    <p class="nextcolor" ng-switch on="originalOrg.ocdContact[$index].mailOptOut">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="ocdContact.mailOptOut">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.nixieIndex == originalOrg.ocdContact[$index].nixieIndex">
                                    <p ng-switch on="ocdContact.nixieIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="ocdContact.nixieIndex != originalOrg.ocdContact[$index].nixieIndex">
                                    <p class="nextcolor" ng-switch on="originalOrg.ocdContact[$index].nixieIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="ocdContact.nixieIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.nonUSA == originalOrg.ocdContact[$index].nonUSA">
                                    <p ng-switch on="ocdContact.nonUSA">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="ocdContact.nonUSA != originalOrg.ocdContact[$index].nonUSA">
                                    <p class="nextcolor" ng-switch on="originalOrg.ocdContact[$index].nonUSA">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="ocdContact.nonUSA">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="ocdContact.printFlag == originalOrg.ocdContact[$index].printFlag">
                                    <p ng-switch on="ocdContact.printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="ocdContact.printFlag != originalOrg.ocdContact[$index].printFlag">
                                    <p class="nextcolor" ng-switch on="originalOrg.ocdContact[$index].printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="ocdContact.printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="ocdContact in deletedContact" bgcolor="42b6da">
                            <td class="text-center">{{ocdContact.sequenceNo}}</td>
                            <td class="text-center">{{ocdContact.addressSequenceNo}}</td>
                            <td>{{ocdContact.contactType.codeValue}}</td>
                            <td>{{ocdContact.extension}}</td>
                            <td>{{ocdContact.contactDetails}} </td>
                            <td>{{ocdContact.note}} </td>
                            <td>{{ocdContact.mailOptOut ? "YES" : (ocdContact.mailOptOut === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.nixieIndex ? "YES" : (ocdContact.nixieIndex === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.nonUSA ? "YES" : (ocdContact.nonUSA === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.printFlag ? "YES" : (ocdContact.printFlag === false ? "NO" : "")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Address</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th class="widthfcl">Sort Sequence No.</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Contact Person</th>
                            <th>Mail Option</th>
                            <th>Mailing Index</th>
                            <th>Nixie Index</th>
                            <th>Non USA</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in organization.address" ng-if="address.deleted == false">
                            <td class="text-center">
                                <div ng-if="address.sequenceNo == originalOrg.address[$index].sequenceNo">
                                    <p>{{address.sequenceNo}}&nbsp;</p>
                                </div>
                                <div ng-if="address.sequenceNo != originalOrg.address[$index].sequenceNo">
                                    <p class="nextcolor"> {{originalOrg.address[$index].sequenceNo}}&nbsp;</p>
                                    <p class="boxcolor">{{address.sequenceNo}}&nbsp;</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div ng-if="address.sortSequenceNo == originalOrg.address[$index].sortSequenceNo">
                                    <p>{{address.sortSequenceNo}}&nbsp;</p>
                                </div>
                                <div ng-if="address.sortSequenceNo != originalOrg.address[$index].sortSequenceNo">
                                    <p class="nextcolor"> {{originalOrg.address[$index].sortSequenceNo}}&nbsp;</p>
                                    <p class="boxcolor">{{address.sortSequenceNo}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="address.addressType.description == originalOrg.address[$index].addressType.description">
                                    <p>{{address.addressType.description}}&nbsp;</p>
                                </div>
                                <div ng-if="address.addressType.description != originalOrg.address[$index].addressType.description">
                                    <p class="nextcolor">{{originalOrg.address[$index].addressType.description }}&nbsp;</p>
                                    <p class="boxcolor">{{address.addressType.description}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <b>Street 1: </b>
                                <div ng-if="address.street1 == originalOrg.address[$index].street1">
                                    <p>{{address.street1}}&nbsp;</p>
                                </div>
                                <div ng-if="address.street1 != originalOrg.address[$index].street1">
                                    <p class="nextcolor"> {{originalOrg.address[$index].street1}}&nbsp;</p>
                                    <p class="boxcolor">{{address.street1}}&nbsp;</p>
                                </div>
                                <b>Street 2: </b>
                                <div ng-if="address.street2 == originalOrg.address[$index].street2">
                                    <p>{{address.street2}}&nbsp;</p>
                                </div>
                                <div ng-if="address.street2 != originalOrg.address[$index].street2">
                                    <p class="nextcolor"> {{originalOrg.address[$index].street2}}&nbsp;</p>
                                    <p class="boxcolor">{{address.street2}}&nbsp;</p>
                                </div>
                                <b>City: </b>
                                <div ng-if="address.cityName== originalOrg.address[$index].cityName">
                                    <p>{{address.cityName}}&nbsp;</p>
                                </div>
                                <div ng-if="address.cityName != originalOrg.address[$index].cityName">
                                    <p class="nextcolor"> {{originalOrg.address[$index].cityName}}&nbsp;</p>
                                    <p class="boxcolor">{{address.cityName}}&nbsp;</p>
                                </div>
                                <b>State: </b>
                                <div ng-if="address.stateName == originalOrg.address[$index].stateName">
                                    <p>{{address.stateName}}&nbsp;</p>
                                </div>
                                <div ng-if="address.stateName != originalOrg.address[$index].stateName">
                                    <p class="nextcolor"> {{originalOrg.address[$index].stateName}}&nbsp;</p>
                                    <p class="boxcolor">{{address.stateName}}&nbsp;</p>
                                </div>
                                <b>Country: </b>
                                <div ng-if="address.countryName == originalOrg.address[$index].countryName">
                                    <p>{{address.countryName}}&nbsp;</p>
                                </div>
                                <div ng-if="address.countryName != originalOrg.address[$index].countryName">
                                    <p class="nextcolor"> {{originalOrg.address[$index].countryName}}&nbsp;</p>
                                    <p class="boxcolor">{{address.countryName}}&nbsp;</p>
                                </div>
                                <b>Zip: </b>
                                <div ng-if="address.zip == originalOrg.address[$index].zip">
                                    <p>{{address.zip}}&nbsp;</p>
                                </div>
                                <div ng-if="address.zip != originalOrg.address[$index].zip">
                                    <p class="nextcolor"> {{originalOrg.address[$index].zip}}&nbsp;</p>
                                    <p class="boxcolor">{{address.zip}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="address.contactPerson == originalOrg.address[$index].contactPerson">
                                    <p>{{address.contactPerson}}&nbsp;</p>
                                </div>
                                <div ng-if="address.contactPerson != originalOrg.address[$index].contactPerson">
                                    <p class="nextcolor"> {{originalOrg.address[$index].contactPerson}}&nbsp;</p>
                                    <p class="boxcolor">{{address.contactPerson}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="address.mailOptOut == originalOrg.address[$index].mailOptOut">
                                    <p ng-switch on="address.mailOptOut">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="address.mailOptOut != originalOrg.address[$index].mailOptOut">
                                    <p class="nextcolor" ng-switch on="originalOrg.address[$index].mailOptOut">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="address.mailOptOut">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="address.mailingIndex == originalOrg.address[$index].mailingIndex">
                                    <p ng-switch on="address.mailingIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="address.mailingIndex != originalOrg.address[$index].mailingIndex">
                                    <p class="nextcolor" ng-switch on="originalOrg.address[$index].mailingIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="address.mailingIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="address.nixieIndex == originalOrg.address[$index].nixieIndex">
                                    <p ng-switch on="address.nixieIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="address.nixieIndex != originalOrg.address[$index].nixieIndex">
                                    <p class="nextcolor" ng-switch on="originalOrg.address[$index].nixieIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="address.nixieIndex">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="address.nonUSA == originalOrg.address[$index].nonUSA">
                                    <p ng-switch on="address.nonUSA">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="address.nonUSA != originalOrg.address[$index].nonUSA">
                                    <p class="nextcolor" ng-switch on="originalOrg.address[$index].nonUSA">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="address.nonUSA">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="address.printFlag == originalOrg.address[$index].printFlag">
                                    <p ng-switch on="address.printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                                <div ng-if="address.printFlag != originalOrg.address[$index].printFlag">
                                    <p class="nextcolor" ng-switch on="originalOrg.address[$index].printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                    <p class="boxcolor" ng-switch on="address.printFlag">
                                        <span ng-switch-when=""></span>
                                        <span ng-switch-when="true">YES</span>
                                        <span ng-switch-when="false">NO</span>&nbsp;
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="address in deletedAddress" bgcolor="42b6da">
                            <td class="text-center">{{ address.sequenceNo }}</td>
                            <td class="text-center">{{address.sortSequenceNo}}</td>
                            <td>{{addressTypes[address.addressType] || ""}}</td>
                            <td>
                                <b>Street 1: </b>{{address.street1}}
                                <br>
                                <b>Street 2: </b>{{address.street2}}
                                <br>
                                <b>City: </b>{{address.cityName}}
                                <br>
                                <b> State/Territory: </b>{{address.stateName}}
                                <br>
                                <b>Country: </b>{{address.countryName}}
                                <br>
                                <b>Zip: </b>{{address.zip}}
                                <br>
                            </td>
                            <td>{{address.contactPerson}}</td>
                            <td>{{address.mailOptOut ? "YES" :(address.mailOptOut === false ? "NO" : "")}} </td>
                            <td>{{address.mailingIndex ? "YES" : (address.mailingIndex === false ? "NO" : "")}} </td>
                            <td>{{address.nixieIndex ? "YES" :(address.nixieIndex === false ? "NO" : "")}} </td>
                            <td>{{address.nonUSA ? "YES" :(address.nonUSA === false ? "NO" : '')}}</td>
                            <td>{{address.printFlag ? "YES" : (address.printFlag === false ? "NO" : "")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
