<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="addnewt contacttop">
                <span>Organization Office</span>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <label class="h5 boldfont">Organization Name</label>
                    <p class="ng-binding">{{organization.organizationOffice.name}}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <label class="h5 boldfont">Additional Information</label>
                    <p class="ng-binding">{{organization.organizationOffice.additionalInfo}}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Contacts</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th class="widthfcl">Address Sequence No.</th>
                            <th>Contact Type</th>
                            <th>Extension</th>
                            <th>Contact Details</th>
                            <th>Note</th>
                            <th>Mail Option</th>
                            <th>Nixie Index</th>
                            <th>Non USA</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ocdContact in organization.ocdContact">
                            <td class="text-center">{{ ocdContact.sequenceNo }}</td>
                            <td class="text-center">{{ocdContact.addressSequenceNo}}</td>
                            <td>{{ocdContact.contactType.codeValue}}</td>
                            <td>{{ocdContact.extension}}</td>
                            <td>{{ocdContact.contactDetails}}</td>
                            <td>{{ocdContact.note}}</td>
                            <td>{{ocdContact.mailOptOut ? "YES" : (ocdContact.mailOptOut === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.nixieIndex ? "YES" : (ocdContact.nixieIndex === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.nonUSA ? "YES" : (ocdContact.nonUSA === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.printFlag ? "YES" : (ocdContact.printFlag === false ? "NO" : "")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Address</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th class="widthfcl">Sort Sequence No.</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Contact Person</th>
                            <th>Mail Option</th>
                            <th>Mailing Index</th>
                            <th>Nixie Index</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in organization.address">
                            <td class="text-center">{{ address.sequenceNo }}</td>
                            <td class="text-center">{{address.sortSequenceNo}}</td>
                            <!--  <td>{{addressTypes[address.addressType] || ""}}</td> -->
                            <td>{{address.addressType.description}}</td>
                            <td>
                                <b>Street 1: </b>{{address.street1}}
                                <br>
                                <b>Street 2: </b>{{address.street2}}
                                <br>
                                <b>City: </b>{{address.cityName}}
                                <br>
                                <b> State/Territory: </b>{{address.stateName}}
                                <br>
                                <b>Country: </b>{{address.countryName}}
                                <br>
                                <b>County: </b>{{address.countyName}}
                                <br>
                                <b>Zip: </b>{{address.zip}}
                                <br>
                                <b>Non USA: </b>{{address.nonUSA ? "YES" : (address.nonUSA === false ? "NO" : "") }}
                            </td>
                            <td>{{address.contactPerson}}</td>
                            <td>{{ address.mailOptOut ? "YES" : (address.mailOptOut === false ? "NO" : "") }}</td>
                            <td>{{ address.mailingIndex ? "YES" : (address.mailingIndex === false ? "NO" : "") }}</td>
                            <td>{{ address.nixieIndex ? "YES" : (address.nixieIndex === false ? "NO" : "") }}</td>
                            <td>{{ address.printFlag ? "YES" : (address.printFlag === false ? "NO" : "") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
