<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <div class="widget-main">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="widget-box abc">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class>
                                        <label class="h5 boldfont">Classification Code</label>
                                        <div ng-if="organization.classificationCode.codeValue == originalOrg.classificationCode.codeValue">
                                            <p class=".h5">{{organization.classificationCode.codeValue}}</p>
                                        </div>
                                        <div class="text-danger" ng-if="organization.classificationCode.codeValue != originalOrg.classificationCode.codeValue">
                                            <span class="nextcolor">{{originalOrg.classificationCode.codeValue}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.classificationCode.codeValue}}&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class>
                                        <label class="h5 boldfont">Sequence No.</label>
                                        <div ng-if="organization.sequenceNo == originalOrg.sequenceNo">
                                            <p class=".h5">{{organization.sequenceNo}}</p>
                                        </div>
                                        <div class="text-danger" ng-if="organization.sequenceNo != originalOrg.sequenceNo">
                                            <span class="nextcolor">{{originalOrg.sequenceNo}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.sequenceNo}}&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class>
                                        <label class="h5 boldfont">Name</label>
                                        <div ng-if="organization.name == originalOrg.name">
                                            <p class=".h5">{{organization.name}}</p>
                                        </div>
                                        <div class="text-danger" ng-if="organization.name != originalOrg.name">
                                            <span class="nextcolor">{{originalOrg.name}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.name}}&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div ng-if="organization.classificationCode.codeValue != 'US Diocese' && organization.classificationCode.codeValue != 'World Diocese' ">
                                        <div class="form-group">
                                            <label class="h5 boldfont">Parent Organization/Header</label>
                                            <div ng-if="organization.parentId.name == originalOrg.parentId.name">
                                                <p class=".h5">{{organization.parentId.name}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.parentId.name != originalOrg.parentId.name">
                                                <span class="nextcolor">{{originalOrg.parentId.name}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.parentId.name}}&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class>
                                        <label class="h5 boldfont">Abbreviation Name</label>
                                        <div ng-if="organization.abbrevationName == originalOrg.abbrevationName">
                                            <p class="ng-binding">{{organization.abbrevationName}}</p>
                                        </div>
                                        <div class="text-danger" ng-if="organization.abbrevationName != originalOrg.abbrevationName">
                                            <span class="nextcolor">{{originalOrg.abbrevationName}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.abbrevationName}}&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class>
                                        <label class="h5 boldfont">Status</label>
                                        <div ng-if="organization.status._id == originalOrg.status._id">
                                            <p class="ng-binding">{{directoryRecordStatus[organization.status._id].label}}</p>
                                        </div>
                                        <div class="text-danger" ng-if="organization.status._id != originalOrg.status._id">
                                            <span class="nextcolor">{{directoryRecordStatus[originalOrg.status._id].label}}&nbsp;</span>
                                            <div class="boxcolor">{{directoryRecordStatus[organization.status._id].label}}&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div ng-if="organization.classificationCode.codeValue != 'Header' && organization.classificationCode.codeValue != 'Header w/ assignments only' && organization.classificationCode.codeValue != 'Placement Header' && organization.classificationCode.codeValue != 'Clergy, Parish, Mission' && organization.classificationCode.codeValue != 'Chaplains of Public Institutions' && organization.classificationCode.codeValue != 'Institutions Located in Diocese' && organization.classificationCode.codeValue != 'Retired' && organization.classificationCode.codeValue !='Permanent Deacon' &&  organization.classificationCode.codeValue != 'Necrology' &&  organization.classificationCode.codeValue != 'Residence'">
                    <div class="tab-pane active" id="home4">
                        <div class="widget-box abc">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class>
                                            <label class="h5 boldfont">EI Number</label>
                                            <div ng-if="organization.EINumber == originalOrg.EINumber">
                                                <p class="ng-binding">{{organization.EINumber}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.EINumber != originalOrg.EINumber">
                                                <span class="nextcolor">{{originalOrg.EINumber}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.EINumber}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Placement City</label>
                                            <div ng-if="organization.placementCity == originalOrg.placementCity">
                                                <p class="ng-binding">{{organization.placementCity}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.placementCity != originalOrg.placementCity">
                                                <span class="nextcolor">{{originalOrg.placementCity}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.placementCity}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <div class>
                                                <label class="h5 boldfont">Purpose</label>
                                                <div ng-if="organization.purpose == originalOrg.purpose">
                                                    <p class="ng-binding">{{organization.purpose}}</p>
                                                </div>
                                                <div class="text-danger" ng-if="organization.purpose != originalOrg.purpose">
                                                    <span class="nextcolor">{{originalOrg.purpose}}&nbsp;</span>
                                                    <div class="boxcolor">{{organization.purpose}}&nbsp;</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Cross Reference</label>
                                            <div ng-if="organization.crossRefId == originalOrg.crossRefId">
                                                <p class="ng-binding">{{organization.crossRefId}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.crossRefId != originalOrg.crossRefId">
                                                <span class="nextcolor">{{originalOrg.crossRefId}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.crossRefId}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Mailer Type</label>
                                            <div ng-if="organization.mailerType == originalOrg.mailerType">
                                                <p class="ng-binding">{{organization.mailerType}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.mailerType != originalOrg.mailerType">
                                                <span class="nextcolor">{{originalOrg.mailerType}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.mailerType}}&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class>
                                            <label class="h5 boldfont">Sort Major Name</label>
                                            <div ng-if="organization.sortMajorName == originalOrg.sortMajorName">
                                                <p class="ng-binding">{{organization.sortMajorName}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.sortMajorName != originalOrg.sortMajorName">
                                                <span class="nextcolor">{{originalOrg.sortMajorName}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.sortMajorName}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Latin Name</label>
                                            <div ng-if="organization.latinName == originalOrg.latinName">
                                                <p class="ng-binding">{{organization.latinName}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.latinName != originalOrg.latinName">
                                                <span class="nextcolor">{{originalOrg.latinName}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.latinName}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Square Miles</label>
                                            <div ng-if="organization.squareMiles == originalOrg.squareMiles">
                                                <p class=".h5">{{organization.squareMiles}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.squareMiles != originalOrg.squareMiles">
                                                <span class="nextcolor">{{originalOrg.squareMiles}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.squareMiles}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Supplement Type</label>
                                            <div ng-if="organization.supplementType == originalOrg.supplementType">
                                                <p class="ng-binding">{{organization.supplementType}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.supplementType != originalOrg.supplementType">
                                                <span class="nextcolor">{{originalOrg.supplementType}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.supplementType}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">AkaDba Index</label>
                                            <div ng-if="organization.akaDbaIndex == originalOrg.akaDbaIndex">
                                                <p class="ng-binding">{{organization.akaDbaIndex}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.akaDbaIndex != originalOrg.akaDbaIndex">
                                                <span class="nextcolor">{{originalOrg.akaDbaIndex}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.akaDbaIndex}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">AkaDba Name</label>
                                            <div ng-if="organization.akaDbaName == originalOrg.akaDbaName">
                                                <p class="ng-binding">{{organization.akaDbaName}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.akaDbaName != originalOrg.akaDbaName">
                                                <span class="nextcolor">{{originalOrg.akaDbaName}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.akaDbaName}}&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class>
                                            <label class="h5 boldfont">Established Year</label>
                                            <div ng-if="organization.established.year == originalOrg.established.year">
                                                <p class="ng-binding">{{organization.established.year}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.established.year != originalOrg.established.year">
                                                <span class="nextcolor">{{originalOrg.established.year}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.established.year}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Established Description</label>
                                            <div ng-if="organization.established.detail == originalOrg.established.detail">
                                                <p class="ng-binding">{{organization.established.detail}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.established.detail != originalOrg.established.detail">
                                                <span class="nextcolor">{{originalOrg.established.detail}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.established.detail}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Outstanding Issues</label>
                                            <div ng-if="organization.outstandingIssues == originalOrg.outstandingIssues">
                                                <p class="ng-binding">{{organization.outstandingIssues}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.outstandingIssues != originalOrg.outstandingIssues">
                                                <span class="nextcolor">{{originalOrg.outstandingIssues}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.outstandingIssues}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class>
                                            <label class="h5 boldfont">Locale</label>
                                            <div ng-if="organization.locale == originalOrg.locale">
                                                <p class="ng-binding">{{organization.locale}}</p>
                                            </div>
                                            <div class="text-danger" ng-if="organization.locale != originalOrg.locale">
                                                <span class="nextcolor">{{originalOrg.locale}}&nbsp;</span>
                                                <div class="boxcolor">{{organization.locale}}&nbsp;</div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group boldfont">
                                                <div ng-if="organization.flags.taxExempt == originalOrg.flags.taxExempt">
                                                    <i class="fa fa-check" ng-class="organization.flags.taxExempt ? 'fa-check' : 'fa-remove'"></i> Tax Exempt
                                                </div>
                                                <div ng-if="organization.flags.taxExempt != originalOrg.flags.taxExempt">
                                                    <p class="nextcolor">
                                                        <i class="fa fa-check" ng-class="originalOrg.flags.taxExempt? 'fa-check' : 'fa-remove'"></i> Tax Exempt &nbsp;
                                                    </p>
                                                    <p class="boxcolor">
                                                        <i class="fa fa-check" ng-class="organization.flags.taxExempt? 'fa-check' : 'fa-remove'"></i> Tax Exempt &nbsp;
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group boldfont">
                                                <div ng-if="organization.flags.giftShop == originalOrg.flags.giftShop">
                                                    <i class="fa fa-check" ng-class="organization.flags.giftShop ? 'fa-check' : 'fa-remove'"></i> Gift Shop
                                                </div>
                                                <div ng-if="organization.flags.giftShop != originalOrg.flags.giftShop">
                                                    <p class="nextcolor">
                                                        <i class="fa fa-check" ng-class="originalOrg.flags.giftShop? 'fa-check' : 'fa-remove'"></i> Gift Shop &nbsp;
                                                    </p>
                                                    <p class="boxcolor">
                                                        <i class="fa fa-check" ng-class="organization.flags.giftShop? 'fa-check' : 'fa-remove'"></i> Gift Shop &nbsp;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group boldfont">
                                                <div ng-if="organization.flags.nameSuppress == originalOrg.flags.nameSuppress">
                                                    <i class="fa fa-check" ng-class="organization.flags.nameSuppress ? 'fa-check' : 'fa-remove'"></i> Suppress
                                                </div>
                                                <div ng-if="organization.flags.nameSuppress != originalOrg.flags.nameSuppress">
                                                    <p class="nextcolor">
                                                        <i class="fa fa-check" ng-class="originalOrg.flags.nameSuppress? 'fa-check' : 'fa-remove'"></i> Suppress &nbsp;
                                                    </p>
                                                    <p class="boxcolor">
                                                        <i class="fa fa-check" ng-class="organization.flags.nameSuppress? 'fa-check' : 'fa-remove'"></i> Suppress &nbsp;
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group boldfont">
                                                <div ng-if="organization.flags.wrapIndex == originalOrg.flags.wrapIndex">
                                                    <i class="fa fa-check" ng-class="organization.flags.wrapIndex ? 'fa-check' : 'fa-remove'"></i> Wrap Index
                                                </div>
                                                <div ng-if="organization.flags.wrapIndex != originalOrg.flags.wrapIndex">
                                                    <p class="nextcolor">
                                                        <i class="fa fa-check" ng-class="originalOrg.flags.wrapIndex? 'fa-check' : 'fa-remove'"></i> Wrap Index &nbsp;
                                                    </p>
                                                    <p class="boxcolor">
                                                        <i class="fa fa-check" ng-class="organization.flags.wrapIndex? 'fa-check' : 'fa-remove'"></i> Wrap Index &nbsp;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="pull-left addnewt add-button">Former Name(s)</div>
                        </div>
                    </div>
                    <div class="container-fluid box-body table-responsive cf">
                        <div class="row">
                            <div class="col-xs-12">
                                <p></p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="widthfcl">#</th>
                                            <th>Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && formerName.deleted == false">
                                            <td class="widthfcl">{{ ($index+1) }}</td>
                                            <td>
                                                <div ng-if="formerName.name == originalOrg.formerNames[$index].name">
                                                    <p> {{formerName.name}}&nbsp;</p>
                                                </div>
                                                <div ng-if="formerName.name != originalOrg.formerNames[$index].name">
                                                    <p class="nextcolor">{{originalOrg.formerNames[$index].name}}&nbsp;</p>
                                                    <p class="boxcolor">{{formerName.name}}&nbsp;</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-if="formerName.startDate == originalOrg.formerNames[$index].startDate">
                                                    <p> {{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}&nbsp;</p>
                                                </div>
                                                <div ng-if="formerName.startDate != originalOrg.formerNames[$index].startDate">
                                                    <p class="nextcolor"> {{originalOrg.formerNames[$index].startDate ? to_date_format(originalOrg.formerNames[$index].startDate,'jS M, Y'): ''}}&nbsp;</p>
                                                    <p class="boxcolor">{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}&nbsp;</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-if="formerName.endDate == originalOrg.formerNames[$index].endDate">
                                                    <p>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}&nbsp;</p>
                                                </div>
                                                <div ng-if="formerName.endDate != originalOrg.formerNames[$index].endDate">
                                                    <p class="nextcolor">{{originalOrg.formerNames[$index].endDate ? to_date_format(originalOrg.formerNames[$index].endDate,'jS M, Y'): ''}}&nbsp;</p>
                                                    <p class="boxcolor">{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}&nbsp;</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="formerName in deletedFormerNames" bgcolor="42b6da">
                                            <td class="text-center">{{ ($index+1) }}</td>
                                            <td>{{formerName.name}}</td>
                                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Parish' || organization.classificationCode.codeValue == 'Shrine'|| organization.classificationCode.codeValue == 'Oratory'|| organization.classificationCode.codeValue == 'Mission'|| organization.classificationCode.codeValue == 'Station'|| organization.classificationCode.codeValue == 'Chapel'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Parish Shrine</span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class>
                        <label class="h5 boldfont">Ethnicity Type1</label>
                        <div ng-if="organization.parishShrine.ethnicityType1.codeValue == originalOrg.parishShrine.ethnicityType1.codeValue">
                            <p class="ng-binding">{{organization.parishShrine.ethnicityType1.codeValue}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.parishShrine.ethnicityType1.codeValue != originalOrg.parishShrine.ethnicityType1.codeValue">
                            <span class="nextcolor">{{originalOrg.parishShrine.ethnicityType1.codeValue}}&nbsp;</span>
                            <div class="boxcolor">{{organization.parishShrine.ethnicityType1.codeValue}}&nbsp;</div>
                        </div>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Ethnicity Text1</label>
                        <div ng-if="organization.parishShrine.ethnicityText1 == originalOrg.parishShrine.ethnicityText1">
                            <p class="ng-binding">{{organization.parishShrine.ethnicityText1}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.parishShrine.ethnicityText1 != originalOrg.parishShrine.ethnicityText1">
                            <span class="nextcolor">{{originalOrg.parishShrine.ethnicityText1}}&nbsp;</span>
                            <div class="boxcolor">{{organization.parishShrine.ethnicityText1}}&nbsp;</div>
                        </div>
                    </div>
                    <div class>
                        <label class="h5 boldfont"> Ethnicity Type2</label>
                        <div ng-if="organization.parishShrine.ethnicityType2.codeValue == originalOrg.parishShrine.ethnicityType2.codeValue">
                            <p class="ng-binding">{{organization.parishShrine.ethnicityType2.codeValue}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.parishShrine.ethnicityType2.codeValue != originalOrg.parishShrine.ethnicityType2.codeValue">
                            <span class="nextcolor">{{originalOrg.parishShrine.ethnicityType2.codeValue}}&nbsp;</span>
                            <div class="boxcolor">{{organization.parishShrine.ethnicityType2.codeValue}}&nbsp;</div>
                        </div>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Ethnicity Text2</label>
                        <div ng-if="organization.parishShrine.ethnicityText2 == originalOrg.parishShrine.ethnicityText2">
                            <p class="ng-binding">{{organization.parishShrine.ethnicityText2}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.parishShrine.ethnicityText2 != originalOrg.parishShrine.ethnicityText2">
                            <span class="nextcolor">{{originalOrg.parishShrine.ethnicityText2}}&nbsp;</span>
                            <div class="boxcolor">{{organization.parishShrine.ethnicityText2}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class>
                        <label class="h5 boldfont">Parish Status</label>
                        <div ng-if="organization.parishShrine.parishStatus.codeValue == originalOrg.parishShrine.parishStatus.codeValue">
                            <p class="ng-binding">{{organization.parishShrine.parishStatus.codeValue}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.parishShrine.parishStatus.codeValue != originalOrg.parishShrine.parishStatus.codeValue">
                            <span class="nextcolor">{{originalOrg.parishShrine.parishStatus.codeValue}}&nbsp;</span>
                            <div class="boxcolor">{{organization.parishShrine.parishStatus.codeValue}}&nbsp;</div>
                        </div>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Cemeteries</label>
                        <div ng-if="organization.parishShrine.cemeteries == originalOrg.parishShrine.cemeteries">
                            <p class="ng-binding">{{organization.parishShrine.cemeteries}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.parishShrine.cemeteries != originalOrg.parishShrine.cemeteries">
                            <span class="nextcolor">{{originalOrg.parishShrine.cemeteries}}&nbsp;</span>
                            <div class="boxcolor">{{organization.parishShrine.cemeteries}}&nbsp;</div>
                        </div>
                    </div>
                    <div class>
                        <label class="h5 boldfont">Joint Cemeteries</label>
                        <div ng-if="organization.parishShrine.jointCemeteries == originalOrg.parishShrine.jointCemeteries">
                            <p class="ng-binding">{{organization.parishShrine.jointjointCemeteries}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.parishShrine.jointCemeteries != originalOrg.parishShrine.jointCemeteries">
                            <span class="nextcolor">{{originalOrg.parishShrine.jointCemeteries}}&nbsp;</span>
                            <div class="boxcolor">{{organization.parishShrine.jointCemeteries}}&nbsp;</div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group boldfont">
                        <div ng-if="organization.parishShrine.spanishMass == originalOrg.parishShrine.spanishMass">
                            <i class="fa fa-check" ng-class="organization.parishShrine.spanishMass ? 'fa-check' : 'fa-remove'"></i> Spanish Mass
                        </div>
                        <div ng-if="organization.parishShrine.spanishMass != originalOrg.parishShrine.spanishMass">
                            <p class="nextcolor">
                                <i class="fa fa-check" ng-class="originalOrg.parishShrine.spanishMass? 'fa-check' : 'fa-remove'"></i> Spanish Mass &nbsp;
                            </p>
                            <p class="boxcolor">
                                <i class="fa fa-check" ng-class="organization.parishShrine.spanishMass? 'fa-check' : 'fa-remove'"></i> Spanish Mass &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'US Diocese' || organization.classificationCode.codeValue == 'World Diocese'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Diocese</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="h5 boldfont">DioceseType</label>
                        <div ng-if="organization.dioceseType.codeValue == originalOrg.dioceseType.codeValue">
                            <p class="ng-binding">{{organization.dioceseType.codeValue}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.dioceseType.codeValue != originalOrg.dioceseType.codeValue">
                            <span class="nextcolor">{{originalOrg.dioceseType.codeValue}}&nbsp;</span>
                            <div class="boxcolor">{{organization.dioceseType.codeValue}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="h5 boldfont">Dio Province</label>
                        <div ng-if="organization.dioProvince.codeValue == originalOrg.dioProvince.codeValue">
                            <p class="h5 boldfont">{{organization.dioProvince.codeValue}}</p>
                        </div>
                        <div class="text-danger" ng-if="organization.dioProvince.codeValue != originalOrg.dioProvince.codeValue">
                            <span class="nextcolor">{{originalOrg.dioProvince.codeValue}}&nbsp;</span>
                            <div class="boxcolor">{{organization.dioProvince.codeValue}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group boldfont">
                            <div ng-if="organization.flags.archdiocese == originalOrg.flags.archdiocese">
                                <i class="fa fa-check" ng-class="organization.flags.archdiocese ? 'fa-check' : 'fa-remove'"></i> Archdiocese
                            </div>
                            <div ng-if="organization.flags.archdiocese != originalOrg.flags.archdiocese">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.flags.archdiocese? 'fa-check' : 'fa-remove'"></i> Archdiocese &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.flags.archdiocese ? 'fa-check' : 'fa-remove'"></i> Archdiocese &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'School' || organization.classificationCode.codeValue == 'High School' || organization.classificationCode.codeValue == 'Catechesis Religious Program' || organization.classificationCode.codeValue == 'College' || organization.classificationCode.codeValue == 'Seminary' || organization.classificationCode.codeValue == 'Child Care'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>School</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class>
                            <label class="h5 boldfont">School Type</label>
                            <div ng-if="organization.school.schoolType.codeValue == originalOrg.school.schoolType.codeValue">
                                <p class="h5 boldfont">{{organization.school.schoolType.codeValue}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.school.schoolType.codeValue != originalOrg.school.schoolType.codeValue">
                                <span class="nextcolor">{{originalOrg.school.schoolType.codeValue}}&nbsp;</span>
                                <div class="boxcolor">{{organization.school.schoolType.codeValue}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class>
                            <label class="h5 boldfont">Grade Type Start</label>
                            <div ng-if="organization.school.gradeTypeStart.codeValue == originalOrg.school.gradeTypeStart.codeValue">
                                <p class="ng-binding">{{organization.school.gradeTypeStart.codeValue}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.school.gradeTypeStart.codeValue != originalOrg.school.gradeTypeStart.codeValue">
                                <span class="nextcolor">{{originalOrg.school.gradeTypeStart.codeValue}}&nbsp;</span>
                                <div class="boxcolor">{{organization.school.gradeTypeStart.codeValue}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">Grade Type End</label>
                            <div ng-if="organization.school.gradeTypeEnd.codeValue == originalOrg.school.gradeTypeEnd.codeValue">
                                <p class="ng-binding">{{organization.school.gradeTypeEnd.codeValue}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.school.gradeTypeEnd.codeValue != originalOrg.school.gradeTypeEnd.codeValue">
                                <span class="nextcolor">{{originalOrg.school.gradeTypeEnd.codeValue}}&nbsp;</span>
                                <div class="boxcolor">{{organization.school.gradeTypeEnd.codeValue}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group boldfont">
                            <div ng-if="organization.school.consolidated == originalOrg.school.consolidated">
                                <i class="fa fa-check" ng-class="organization.school.consolidated ? 'fa-check' : 'fa-remove'"></i>Consolidated
                            </div>
                            <div ng-if="organization.school.consolidated != originalOrg.school.consolidated">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.school.consolidated? 'fa-check' : 'fa-remove'"></i>Consolidated &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.school.consolidated? 'fa-check' : 'fa-remove'"></i>Consolidated &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group boldfont">
                            <div ng-if="organization.school.college == originalOrg.school.college">
                                <i class="fa fa-check" ng-class="organization.school.college ? 'fa-check' : 'fa-remove'"></i>College
                            </div>
                            <div ng-if="organization.school.college != originalOrg.school.college">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.school.college? 'fa-check' : 'fa-remove'"></i>College &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.school.college? 'fa-check' : 'fa-remove'"></i>College &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Religious Order/Miscellaneous' || organization.classificationCode.codeValue == 'Religious Order Organization' ">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Religious Order</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class>
                            <label class="h5 boldfont">Religious Type</label>
                            <div ng-if="organization.religiousOrder.religiousTypeName == originalOrg.religiousOrder.religiousTypeName">
                                <p class="ng-binding">{{organization.religiousOrder.religiousTypeName}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.religiousOrder.religiousTypeName != originalOrg.religiousOrder.religiousTypeName">
                                <span class="nextcolor">{{originalOrg.religiousOrder.religiousTypeName}}&nbsp;</span>
                                <div class="boxcolor">{{organization.religiousOrder.religiousTypeName}}&nbsp;</div>
                            </div>
                        </div>
                        <div class>
                            <label class="h5 boldfont">Secondary Name</label>
                            <div ng-if="organization.religiousOrder.secondaryName == originalOrg.religiousOrder.secondaryName">
                                <p class="ng-binding">{{organization.religiousOrder.secondaryName}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.religiousOrder.secondaryName != originalOrg.religiousOrder.secondaryName">
                                <span class="nextcolor">{{originalOrg.religiousOrder.secondaryName}}&nbsp;</span>
                                <div class="boxcolor">{{organization.religiousOrder.secondaryName}}&nbsp;</div>
                            </div>
                        </div>
                        <div class>
                            <label class="h5 boldfont">Tertiary Name</label>
                            <div ng-if="organization.religiousOrder.tertiaryName == originalOrg.religiousOrder.tertiaryName">
                                <p class="ng-binding">{{organization.religiousOrder.tertiaryName}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.religiousOrder.tertiaryName != originalOrg.religiousOrder.tertiaryName">
                                <span class="nextcolor">{{originalOrg.religiousOrder.tertiaryName}}&nbsp;</span>
                                <div class="boxcolor">{{organization.religiousOrder.tertiaryName}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class>
                            <label class="h5 boldfont">Kennedy Id</label>
                            <div ng-if="organization.religiousOrder.kennedyId == originalOrg.religiousOrder.kennedyId">
                                <p class="ng-binding">{{organization.religiousOrder.kennedyId}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.religiousOrder.kennedyId != originalOrg.religiousOrder.kennedyId">
                                <span class="nextcolor">{{originalOrg.religiousOrder.kennedyId}}&nbsp;</span>
                                <div class="boxcolor">{{organization.religiousOrder.kennedyId}}&nbsp;</div>
                            </div>
                        </div>
                        <div class>
                            <label class="h5 boldfont">Pontifical Or Diocese</label>
                            <div ng-if="organization.religiousOrder.pontificalOrDiocese == originalOrg.religiousOrder.pontificalOrDiocese">
                                <p class="ng-binding">{{organization.religiousOrder.pontificalOrDiocese}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.religiousOrder.pontificalOrDiocese != originalOrg.religiousOrder.pontificalOrDiocese">
                                <span class="nextcolor">{{originalOrg.religiousOrder.pontificalOrDiocese}}&nbsp;</span>
                                <div class="boxcolor">{{organization.religiousOrder.pontificalOrDiocese}}&nbsp;</div>
                            </div>
                        </div>
                        <div class>
                            <label class="h5 boldfont">Initials</label>
                            <div ng-if="organization.religiousOrder.initials == originalOrg.religiousOrder.initials">
                                <p class="ng-binding">{{organization.religiousOrder.initials}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.religiousOrder.initials != originalOrg.religiousOrder.initials">
                                <span class="nextcolor">{{originalOrg.religiousOrder.initials}}&nbsp;</span>
                                <div class="boxcolor">{{organization.religiousOrder.initials}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Header' || organization.classificationCode.codeValue == 'Header w/ assignments only' || organization.classificationCode.codeValue == 'Placement Header'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Header</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">Pre Text</label>
                            <div ng-if="organization.header.preText == originalOrg.header.preText">
                                <p class="ng-binding">{{organization.header.preText}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.header.preText != originalOrg.header.preText">
                                <span class="nextcolor">{{originalOrg.header.preText}}&nbsp;</span>
                                <div class="boxcolor">{{organization.header.preText}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">State</label>
                            <div ng-if="organization.header.state == originalOrg.header.state">
                                <p class="ng-binding">{{organization.header.state}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.header.state != originalOrg.header.state">
                                <span class="nextcolor">{{originalOrg.header.state}}&nbsp;</span>
                                <div class="boxcolor">{{organization.header.state}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">County</label>
                            <div ng-if="organization.header.county == originalOrg.header.county">
                                <p class="ng-binding">{{organization.header.county}}</p>
                            </div>
                            <div class="text-danger" ng-if="organization.header.county != originalOrg.header.county">
                                <span class="nextcolor">{{originalOrg.header.county}}&nbsp;</span>
                                <div class="boxcolor">{{organization.header.county}}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div ng-if="organization.header.bold == originalOrg.header.bold">
                                <i class="fa fa-check" ng-class="organization.header.bold ? 'fa-check' : 'fa-remove'"></i>Bold
                            </div>
                            <div ng-if="organization.header.bold != originalOrg.header.bold">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.header.bold ? 'fa-check' : 'fa-remove'"></i>Bold &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.header.bold ? 'fa-check' : 'fa-remove'"></i>Bold &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div ng-if="organization.header.italic== originalOrg.header.italic">
                                <i class="fa fa-check" ng-class="organization.header.italic ? 'fa-check' : 'fa-remove'"></i>Italic
                            </div>
                            <div ng-if="organization.header.italic != originalOrg.header.italic">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.header.italic ? 'fa-check' : 'fa-remove'"></i>Italic &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.header.italic ? 'fa-check' : 'fa-remove'"></i>Italic &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div ng-if="organization.header.center == originalOrg.header.center">
                                <i class="fa fa-check" ng-class="organization.header.center ? 'fa-check' : 'fa-remove'"></i>Center
                            </div>
                            <div ng-if="organization.header.center != originalOrg.header.center">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.header.center ? 'fa-check' : 'fa-remove'"></i>Center &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.header.center ? 'fa-check' : 'fa-remove'"></i>Center &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div ng-if="organization.header.largeFont == originalOrg.header.largeFont">
                                <i class="fa fa-check" ng-class="organization.header.largeFont ? 'fa-check' : 'fa-remove'"></i>Large Font
                            </div>
                            <div ng-if="organization.header.largeFont != originalOrg.header.largeFont">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.header.largeFont ? 'fa-check' : 'fa-remove'"></i>Large Font &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.header.largeFont ? 'fa-check' : 'fa-remove'"></i>Large Font &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div ng-if="organization.header.underline == originalOrg.header.underline">
                                <i class="fa fa-check" ng-class="organization.header.underline ? 'fa-check' : 'fa-remove'"></i>Underline
                            </div>
                            <div ng-if="organization.header.underline != originalOrg.header.underline">
                                <p class="nextcolor">
                                    <i class="fa fa-check" ng-class="originalOrg.header.underline ? 'fa-check' : 'fa-remove'"></i>Underline &nbsp;
                                </p>
                                <p class="boxcolor">
                                    <i class="fa fa-check" ng-class="organization.header.underline ? 'fa-check' : 'fa-remove'"></i>Underline &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
