<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <div class="widget-main">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Person Type</th>
                        <th>Custom Title</th>
                        <th>Name</th>
                        <th class="widthth text-center">General Details</th>
                        <th class="widthth text-center">Contact Details</th>
                        <th class="widthth text-center">Address Details</th>
                        <th class="widthth text-center">Degree Details</th>
                        <th class="widthth text-center">Notes</th>
                        <th class="widthth text-center">Assignments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="keyPersonnel.deleted == false">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>
                            <div ng-if="keyPersonnel.personType.codeValue == originalOrg.personnel[$index].personType.codeValue">
                                <p> {{keyPersonnel.personType.codeValue}}&nbsp;</p>
                            </div>
                            <div ng-if="keyPersonnel.personType.codeValue != originalOrg.personnel[$index].personType.codeValue">
                                <p class="nextcolor">{{originalOrg.personnel[$index].personType.codeValue}}&nbsp;</p>
                                <p class="boxcolor">{{keyPersonnel.personType.codeValue}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="keyPersonnel.title == originalOrg.personnel[$index].title">
                                <p> {{keyPersonnel.title}}&nbsp;</p>
                            </div>
                            <div ng-if="keyPersonnel.title != originalOrg.personnel[$index].title">
                                <p class="nextcolor">{{originalOrg.personnel[$index].title}}&nbsp;</p>
                                <p class="boxcolor">{{keyPersonnel.title}}&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalOrg.personnel[$index])">
                                <p>{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                            </div>
                            <div ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalOrg.personnel[$index])">
                                <p class="nextcolor">{{showPersonnelName(originalOrg.personnel[$index])}}&nbsp;</p>
                                <p class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelGeneralDiffPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelOCDContactDiffPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelContactDiffPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelDegreeDiffPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelNotesDiffPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelAssignmentsDiffPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="keyPersonnel in deletedPers" bgcolor="42b6da">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{keyPersonnel.personType.codeValue}}</td>
                        <td>{{keyPersonnel.title}}</td>
                        <td>{{showPersonnelName(keyPersonnel)}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
