<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 ">
                    <div class="addnewt contacttop">
                        <span>Sales</span>
                    </div>
                    <div class="form-group">
                        <label>Name1</label>
                        <input type="text" class="form-control" ng-model="organization.sales.name1">
                    </div>
                    <div class="form-group">
                        <label>Name2</label>
                        <input type="text" class="form-control" ng-model="organization.sales.name2">
                    </div>
                    <label class="position-relative">
                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.sales.nixie" id="nixie">
                        <span class="lbl"><strong> Nixie</strong></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openlegalTitlesPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Legal Titles</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Legal Title</th>
                        <th>City</th>
                        <th>State</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="legalTitles in organization.legalTitles" ng-if="legalTitles.deleted != true">
                        <td class="text-center">{{legalTitles.sequenceNo}}</td>
                        <td>{{legalTitles.legalTitle}}</td>
                        <td>{{legalTitles.cityName}}</td>
                        <td>{{legalTitles.stateName}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openlegalTitlesPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Legal Titles')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFeaturePopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Features</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feature in organization.features" ng-if="feature.featureType != null && feature.deleted != true">
                        <td class="text-center">{{feature.sequenceNo}}</td>
                        <td>{{feature.featureType}}</td>
                        <td>{{feature.name}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openFeaturePopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Features')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openNotesPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Notes</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Note Type</th>
                        <th>Note</th>
                        <th>Italic</th>
                        <th>Bold</th>
                        <th>Small Cap</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="notes in organization.notes" ng-if="notes.deleted != true">
                        <td class="text-center">{{notes.sequenceNo}}</td>
                        <td>{{notes.noteType}}</td>
                        <td>{{notes.note}}</td>
                        <td>{{notes.italic ? "YES" : (notes.italic === false ? "NO" : "")}}</td>
                        <td>{{notes.bold ? "YES" : (notes.bold === false ? "NO" : "")}}</td>
                        <td>{{notes.smallCap ? "YES" : (notes.smallCap === false ? "NO" : "")}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openNotesPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Notes')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openStatisticsPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Statistics</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Statistic Type</th>
                        <th>Statistic Category</th>
                        <th>Statistic Value</th>
                        <th>Statistic Text</th>
                        <th>Statistic Year</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="statistic in organization.statistic" ng-if="statistic.deleted != true">
                        <td class="text-center">{{statistic.sequenceNo}}</td>
                        <td>{{statistic.statisticType.codeValue}}</td>
                        <td>{{statistic.statisticCategory}}</td>
                        <td class="text-center">{{statistic.value}}</td>
                        <td>{{statistic.text}}</td>
                        <td>{{statistic.year}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openStatisticsPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Statistics')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
