<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="addnewt contacttop">
                <span>Organization Office</span>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <label>Organization Name</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.organizationOffice.name">
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <label>Additional Information</label>
                    <input type="text" class="form-control" name="name" ng-model="organization.organizationOffice.additionalInfo">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openContactPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Contacts</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th class="widthfcl">Address Sequence No.</th>
                            <th>Contact Type</th>
                            <th>Extension</th>
                            <th>Contact Details</th>
                            <th>Note</th>
                            <th>Mail Option</th>
                            <th>Nixie Index</th>
                            <th>Non USA</th>
                            <th>Print</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ocdContact in organization.ocdContact" ng-if="ocdContact.deleted != true">
                            <td class="text-center">{{ ocdContact.sequenceNo }}</td>
                            <td class="text-center">{{ocdContact.addressSequenceNo}}</td>
                            <td>{{ocdContact.contactType.codeValue}}</td>
                            <td>{{ocdContact.extension}}</td>
                            <td>{{ocdContact.contactDetails}}</td>
                            <td>{{ocdContact.note}}</td>
                            <td>{{ocdContact.mailOptOut ? "YES":(ocdContact.mailOptOut === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.nixieIndex ? "YES":(ocdContact.nixieIndex === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.nonUSA ? "YES":(ocdContact.nonUSA === false ? "NO" : "")}}</td>
                            <td>{{ocdContact.printFlag ? "YES":(ocdContact.printFlag === false ? "NO" : "")}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openContactPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Contacts')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openAddressPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Address</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th class="widthfcl">Sort Sequence No.</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Contact Person</th>
                            <th>Mail Option</th>
                            <th>Mailing Index</th>
                            <th>Nixie Index</th>
                            <th>Non USA</th>
                            <th>Print</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in organization.address" ng-if="!address.deleted">
                            <td class="text-center">{{ address.sequenceNo }}</td>
                            <td class="text-center">{{address.sortSequenceNo}}</td>
                            <!-- <td>{{addressTypes[address.addressType] || ""}}</td> -->
                            <td>{{address.addressType.description}}</td>
                            <td>
                                <b>Street 1: </b>{{address.street1}}
                                <br>
                                <b>Street 2: </b>{{address.street2}}
                                <br>
                                <b>City: </b>{{address.cityName}}
                                <br>
                                <b> State/Territory: </b>{{address.stateName}}
                                <br>
                                <b>Country: </b>{{address.countryName}}
                                <br>
                                <b>County: </b>{{address.countyName}}
                                <br>
                                <b>Zip: </b>{{address.zip}}
                            </td>
                            <td>{{address.contactPerson}}</td>
                            <td>{{ address.mailOptOut ? "YES" : (address.mailOptOut === false ? "NO" : "") }}</td>
                            <td>{{ address.mailingIndex ? "YES" : (address.mailingIndex === false ? "NO" : "") }}</td>
                            <td>{{ address.nixieIndex ? "YES" : (address.nixieIndex === false ? "NO" : "") }}</td>
                            <td>{{address.nonUSA ? "YES" : (address.nonUSA === false ? "NO" : "")}}</td>
                            <td>{{ address.printFlag ? "YES" : (address.printFlag === false ? "NO" : "") }}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openAddressPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Address')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
