<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Person Type</th>
                        <th>Custom Title</th>
                        <th>Name</th>
                        <th class="widthth text-center">General Details</th>
                        <th class="widthth text-center">Contact Details</th>
                        <th class="widthth text-center">Address Details</th>
                        <th class="widthth text-center">Degree Details</th>
                        <th class="widthth text-center">Notes</th>
                        <th class="widthth text-center">Assignments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="!keyPersonnel.deleted">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{keyPersonnel.personType.codeValue}}</td>
                        <td>{{keyPersonnel.title}}</td>
                        <td>{{showPersonnelName(keyPersonnel)}}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelGeneralDetailsPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelOCDContactDetailsPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelContactDetailsPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelDegreeDetailsPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelNotesPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="green" ng-click="openOCDKeyPersonnelAssignmentsPopup($index)">
                                    <i class="fa fa-file-text-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
