<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Classification Code</label>
                    <p class="ng-binding">{{organization.classificationCode.codeValue}}</p>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid}">
                        <label class="h5 boldfont">Sequence No.</label>
                        <p class="ng-binding">{{organization.sequenceNo}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{'has-error': addForm.name.$touched && addForm.name.$invalid}">
                        <label class="h5 boldfont">Name</label>
                        <p class="ng-binding">{{organization.name}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div ng-if="organization.classificationCode.codeValue != 'US Diocese' && organization.classificationCode.codeValue != 'World Diocese' ">
                        <div class="form-group">
                            <label class="h5 boldfont">Parent Organization/Header</label>
                            <p class="ng-binding">{{organization.parentId.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont">Abbreviation Name</label>
                        <p class="ng-binding">{{organization.abbrevationName}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont">Status</label>
                        <p class="ng-binding">{{organization.status.codeValue}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div ng-hide="editState">
                        <label class="h5 boldfont">Organization ID</label>
                        <p class="ng-binding">{{organization.org_id}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div ng-if="organization.classificationCode.codeValue != 'Header' && organization.classificationCode.codeValue != 'Header w/ assignments only' && organization.classificationCode.codeValue != 'Placement Header' && organization.classificationCode.codeValue != 'Clergy, Parish, Mission' && organization.classificationCode.codeValue != 'Chaplains of Public Institutions' && organization.classificationCode.codeValue != 'Institutions Located in Diocese' && organization.classificationCode.codeValue != 'Retired' && organization.classificationCode.codeValue !='Permanent Deacon' &&  organization.classificationCode.codeValue != 'Necrology' &&  organization.classificationCode.codeValue != 'Residence'">
    <div class="tab-pane active" id="home4">
        <div class="widget-box abc">
            <div class="widget-body">
                <div class="widget-main">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">EI Number</label>
                            <p class="ng-binding">{{organization.EINumber}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Placement City</label>
                            <p class="ng-binding">{{organization.placementCity}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Purpose</label>
                            <p class="ng-binding">{{organization.purpose}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Cross Reference</label>
                            <p class="ng-binding">{{organization.crossRefId}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Mailer Type</label>
                            <p class="ng-binding">{{organization.mailerType}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">Sort Major Name</label>
                            <p class="ng-binding">{{organization.sortMajorName}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Latin Name</label>
                            <p class="ng-binding">{{organization.latinName}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Square Miles</label>
                            <p class="ng-binding">{{organization.squareMiles}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Supplement Type</label>
                            <p class="ng-binding">{{organization.supplementType}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">AkaDba Index</label>
                            <p class="ng-binding">{{organization.akaDbaIndex}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">AkaDba Name</label>
                            <p class="ng-binding">{{organization.akaDbaName}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">Established Year</label>
                            <p class="ng-binding">{{organization.established.year}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Established Description</label>
                            <p class="ng-binding">{{organization.established.detail}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Outstanding Issues</label>
                            <p class="ng-binding">{{organization.outstandingIssues}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Locale</label>
                            <p class="ng-binding">{{organization.locale}}</p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.flags.taxExempt ? 'fa-check' : 'fa-remove'"></i> Tax Exempt
                            </div>
                            <div class="form-group boldfont">
                                <i class="fa fa-check" ng-class="organization.flags.giftShop ? 'fa-check' : 'fa-remove'"></i> Gift Shop
                            </div>
                        </div>
                        <div class="form-group boldfont">
                            <i class="fa fa-check" ng-class="organization.flags.nameSuppress ? 'fa-check' : 'fa-remove'"></i> Name Suppress
                        </div>
                        <div class="form-group boldfont">
                            <i class="fa fa-check" ng-class="organization.flags.wrapIndex ? 'fa-check' : 'fa-remove'"></i> Wrap Index
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Former Name(s)</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{formerName.name}}</td>
                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Header' || organization.classificationCode.codeValue == 'Header w/ assignments only' || organization.classificationCode.codeValue == 'Placement Header'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Header</span>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">Pre Text</label>
                            <p class="ng-binding">{{organization.header.preText}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">State</label>
                            <p class="ng-binding">{{organization.header.state}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">County</label>
                            <p class="ng-binding">{{organization.header.county}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.header.bold ? 'fa-check' : 'fa-remove'"></i> Bold
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.header.italic ? 'fa-check' : 'fa-remove'"></i> Italic
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.header.center ? 'fa-check' : 'fa-remove'"></i> Center
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.header.largeFont ? 'fa-check' : 'fa-remove'"></i> Large Font
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.header.underline ? 'fa-check' : 'fa-remove'"></i> Underline
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'US Diocese' || organization.classificationCode.codeValue == 'World Diocese'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Diocese</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">Diocese Type</label>
                            <p class="ng-binding">{{organization.dioceseType.codeValue}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="h5 boldfont">Dio Province</label>
                            <p class="ng-binding">{{organization.dioProvince.codeValue}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label>Masthead Image</label>
                        <input type="text" class="form-control" name="mastheadImage" ng-model="organization.mastheadImage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group boldfont">
                            <i class="fa fa-check" ng-class="organization.flags.archdiocese ? 'fa-check' : 'fa-remove'"></i> Archdiocese
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Parish' || organization.classificationCode.codeValue == 'Shrine'|| organization.classificationCode.codeValue == 'Oratory'|| organization.classificationCode.codeValue == 'Mission'|| organization.classificationCode.codeValue == 'Station'|| organization.classificationCode.codeValue == 'Chapel'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Parish Shrine</span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont">Ethnicity Type1</label>
                        <p class="ng-binding">{{organization.parishShrine.ethnicityType1.codeValue}}</p>
                    </div>
                    <div class="form-group">
                        <label class="h5 boldfont">Ethnicity Text1</label>
                        <p class="ng-binding">{{organization.parishShrine.ethnicityText1}}</p>
                    </div>
                    <div class="form-group">
                        <label class="h5 boldfont"> Ethnicity Type2</label>
                        <p class="ng-binding">{{organization.parishShrine.ethnicityType2.codeValue}}</p>
                    </div>
                    <div class="form-group">
                        <label class="h5 boldfont">Ethnicity Text2</label>
                        <p class="ng-binding">{{organization.parishShrine.ethnicityText2}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont">Parish Status</label>
                        <p class="ng-binding">{{organization.parishShrine.parishStatus.codeValue}}</p>
                    </div>
                    <div class="form-group">
                        <label class="h5 boldfont">Cemeteries</label>
                        <p class="ng-binding">{{organization.parishShrine.cemeteries}}</p>
                    </div>
                    <div class="form-group">
                        <label class="h5 boldfont">Joint Cemeteries</label>
                        <p class="ng-binding">{{organization.parishShrine.jointCemeteries}}</p>
                    </div>
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.parishShrine.spanishMass ? 'fa-check' : 'fa-remove'"></i> Spanish Mass
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'School' || organization.classificationCode.codeValue == 'High School' || organization.classificationCode.codeValue == 'Catechesis Religious Program' || organization.classificationCode.codeValue == 'College' || organization.classificationCode.codeValue == 'Seminary' || organization.classificationCode.codeValue == 'Child Care'">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>School</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="h5 boldfont">School Type</label>
                            <p class="ng-binding">{{organization.school.schoolType.codeValue}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="h5 boldfont">Grade Type Start</label>
                            <p class="ng-binding">{{organization.school.gradeTypeStart.codeValue}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="h5 boldfont">Grade Type End</label>
                            <p class="ng-binding">{{organization.school.gradeTypeEnd.codeValue}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group boldfont">
                            <i class="fa fa-check" ng-class="organization.school.consolidated ? 'fa-check' : 'fa-remove'"></i> Consolidated
                        </div>
                        <div class="form-group boldfont">
                            <i class="fa fa-check" ng-class="organization.school.college ? 'fa-check' : 'fa-remove'"></i> College
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="organization.classificationCode.codeValue == 'Religious Order/Miscellaneous' || organization.classificationCode.codeValue == 'Religious Order Organization' ">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="addnewt contacttop">
                    <span>Religious Order</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="h5 boldfont">Religious Type</label>
                            <p class="ng-binding">{{organization.religiousOrder.religiousTypeName}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Secondary Name</label>
                            <p class="ng-binding">{{organization.religiousOrder.secondaryName}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Tertiary Name</label>
                            <p class="ng-binding">{{organization.religiousOrder.tertiaryName}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="h5 boldfont">Kennedy Id</label>
                            <p class="ng-binding">{{organization.religiousOrder.kennedyId}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Pontifical Or Diocese</label>
                            <p class="ng-binding">{{organization.religiousOrder.pontificalOrDiocese}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Initials</label>
                            <p class="ng-binding">{{organization.religiousOrder.initials}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
