<section 
 data-ng-repeat="section in sections | orderBy:'sequenceNo'"
 data-ng-if="$first" 
 id="{{section.sectionName}}" 
 class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="products-services-guide">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="products-search-bx"> </div>
<div id="mailing-page" class="container">
    <div class="row">
        <form name="" ng-submit=KeyWordSearch(val)">
        <div class="col-md-9">
            <div class="space-18"></div>
            <div class="products-search-box">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" ng-model="val.ProductSubCategoryName" placeholder="KEYWORDS">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="checkboxG4" ng-model="val.chk" id="checkboxG4" class="css-checkbox" />
                                            <label for="checkboxG4" class="css-label white">All of these words</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                             <form name="stateForm">
                                <input type="text" 
                                id="auto-complete-state" 
                                name="State" 
                                
                                autocomplete="off" 
                                ng-model="val.State" 
                                class="form-control" placeholder="STATE"></input>
                                <span style="color:white" 
                                ng-show="val.State.length < 3">Enter minimum 3 characters</span>
                                
                            </form>
                            <!--   <ui-select ng-model="val.state">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in StateArray">
                                <span ng-bind="thisRecordStatus.codeValue"></span>
                            </ui-select-choices>
                            </ui-select> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Zip" ng-model="val.Zip" placeholder="CITY OR ZIP CODE">
                        </div>
                    </div>
                    <!--ng-change="calRadius(radius)"  -->
                    <div class="col-md-3">
                        <div class="form-group">
                        <select name="DataTables_Table_0_length" 
                        aria-controls="DataTables_Table_0" 
                        class="form-control"
                        ng-model="radius"
                        ng-change="calRadius(radius)">
                        <option>RADIUS</option>
                        <option value="25">25 miles</option>
                        <option value="50">50 miles</option>
                        <option value="100">100 miles</option>
                        </select>
                            <!--    <select class="form-control">
                        }
                        }
                        <option>RADIUS</option>
                        <option>25 miles</option>
                         <option>50 miles </option> 
                         <option>100 miles </option>                       
                    </select> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- {{val}} -->
                            <button type="submit" class="btn btn-color-search" ng-click="KeyWordSearch(val)">Search</button>
                              <button type="button" class="btn btn-color-search" ng-click="Reset()">Reset </button>
                        </div>
                    </div>

                </div>
                    

              <div class="brows-style">
                <a href="/{{direcoryName}}/products-services" clas="terms">Browse by Category</a>
                </div>
                
                
            </div>
            <div class="border clearfix">
                <div class="col-md-12 border-bottom">
                    <div class="space-10"></div>
                    <div class="col-md-6">
                        <h5 class="dark-blue">{{getProductSubCategory[0]._id.ProductSubCategoryName}}</h5> </div>
                    <div class="col-md-6 col-xs-12">
                        <a class="btn btn-color pull-right" ng-click="createRequast()" ui-sref="core.create-request">Create Request For <div class="space-4 visible-xs"></div>Information</a>
                    </div>
                    <div class="col-md-12 space-4 clearfix"></div>
                    <div class="space-10"></div>
                </div>
                <div class="col-md-12">
                    <div class="table-fixed">
                  <!--      <pre>selected: {{selected | json}}
                   
                   </pre>
                   
                      <pre>getInfo: {{getInfo | json}}
                   
                   </pre> -->
                        <table datatable="ng" 
                        dt-options="dtOptions" 
                        class="table table-striped table-bordered"
                        dt-instance="dtInstance"
                        id="tabledtInstance">
                            <thead>
                                <tr>
                                    <th width="1">
                                    <input type="checkbox" ng-model="select" ng-click="selectAll()" /> 
                                    </th>
                                    <th width="200">Company Name</th>
                                    <th width="200">Address</th>
                                    <th width="19">Email</th>
                                    <th width="20">Website</th>
                                </tr>
                            </thead>
                           <!--  <tfoot>
                                <tr>
                                    <th width="0"></th>
                                    <th width="30">Company Name</th>
                                    <th width="36">Address</th>
                                    <th width="34">Email & Website</th>
                                </tr>
                            </tfoot> -->
                            <tbody>
                                <tr ng-repeat="role in getGuide1" ng-click="selUser(role)">
                                    <td width="1">
                                        <!--   <input type="checkbox" rel="theProperties" ng-model="property.checked"> -->
                                        <input 
                                        type="checkbox" 
                                        ng-model="role.data" 
                                        ng-true-value="true"
                                        ng-false-value="false"
                                        ng-click="updateSelection($event,role,$index)">
                                    </td>
                                    <td width="30"> <a href="#" ng-click="postProductDetail(role._id)" 
                                    ng-bind-html="bindHtml(role.companyName)"></a></td>
                                      <td width="30">
<div ng-bind-html="bindHtml(role.companyAddress.street1)"></div>
<div ng-if="role.companyAddress.city" ng-bind-html="bindHtml('City: '+role.companyAddress.city)"></div>
<div ng-if="role.companyAddress.state" ng-bind-html="bindHtml('State: '+role.companyAddress.state)"></div>
<div ng-bind-html="bindHtml(role.companyAddress.street2)"></div>
<div ng-bind-html="bindHtml('Tel: '+role.telephone)"></div>
<div ng-if="role.fax" ng-bind-html="bindHtml('FAX: '+role.fax)"></div>

                                        
                                    </td>
                                    <td width="19">
                                      <a href="http://{{role.companyWebsite}}" target="_blank">
                                      <div ng-bind-html="bindHtml(role.companyEmail)"></div>
                                      </a>

                                    <!--     E-mail: {{role.CompanyEmail}}
                                    </br>Web Site: {{role.CompanyWebsite}} -->
                                    </td>
                                     <td width="20">
                                     <a href="http://{{role.companyWebsite}}" target="_blank"> 
                                     <div ng-bind-html="bindHtml(role.companyWebsite)"></div></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="space-18"></div>
        </div>
        </form>
        <div class="col-md-3">
            <div class="space-18"></div>
            <a ui-view="right-partials"> </a>
            <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
        </div>
    </div>
</div>
