<p class="lead text-center">Login</p>
<form name="loginForm" ng-submit="login()">
    <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
        <!-- <label class="control-label"><i class="fa fa-at"></i> Email</label> -->
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>
            <input type="email" class="form-control" required name="email" ng-model="auth.email" validate-this="emailId" validate-as="email" placeholder="Email">
        </div>
        <div class="help-block" ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched">
            <p ng-message="required">This field is required</p>
            <div ng-message="validateAs">
                <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
        <!-- <label class="control-label"><i class="fa fa-lock"></i> Password</label> -->
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="password" class="form-control" required name="password" ng-model="auth.password" placeholder="Password">
        </div>
        <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
            <p ng-message="required">This field is required</p>
        </div>
    </div>
    <label class="position-relative">
        <input type="checkbox" class="ace" name="remember" ng-model="auth.remember" />
        <span class="lbl"></span> Remember Me
    </label>
    <div class="clearfix">
        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary bigger-110" ng-disabled="loginForm.$invalid || loading"><i class="fa" ng-class="{ 'fa-spin fa-refresh' : loading }"></i>Login</button>
        </br>
        </br>
        <label class="inline">
            <span class="lbl"><u><a ui-sref="auth.forgot.verifyEmail">Forgot Password</a></u></span>
        </label>
    </div>
</form>
<br>
