<p class="lead text-center">Forgot your password?</p>
<form role="form" name="forgotForm" ng-submit="verifyEmail()">
    <div class="form-group" ng-class="{ 'has-error': forgotForm.email.$touched && forgotForm.email.$invalid }">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-at"></i></span>
            <input type="email" class="form-control" required name="email" ng-model="auth.email" validate-this="emailId" validate-as="email" placeholder="Email">
        </div>
        <div class="help-block" ng-messages="forgotForm.email.$error" ng-show="forgotForm.email.$touched">
            <p ng-message="required">This field is required</p>
            <div ng-message="validateAs">
                <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary bigger-110" ng-disabled="forgotForm.$invalid || loading"><i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Request for a new Password</button>
        </br>
        </br>
        <label class="inline">
            <span class="lbl"><u><a ui-sref="auth.login"><i class="fa fa-remove"></i> Cancel</a></u></span>
        </label>
    </div>
</form>
<br>
