<div class="login-layout Login img-responsive">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-5 hidden-xs content-top">
                        <div class="align-left">
                            <h1><span class="white" id="id-text2">National Register Publishing</span></h1>
                            <h4 class="blue align-left" id="id-company-text">To satisfy the changing needs of our customers, several of the NRP directory databases have been made available online.  </h4>
                        </div>
                    </div>
                    <div class="col-sm-5 form-top">
                        <div class="login-container">
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="logo-section img-responsive "><img src="nrp-admin-theme/dist/images/nrp-logo.jpg"></div>
                                        <div class="widget-main" ui-view></div>
                                        <!-- /.widget-main -->
                                        <div class="logo-section1"><img class="image-top-space" src="nrp-admin-theme/dist/images/shadow-bg.jpg"></div>
                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.login-box -->
                            </div>
                            <!-- /.position-relative -->
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container -->
</div>
<footer class="footercopy">
    <p>NRP © 2016. All rights reserved </p>
</footer>
