<section class="module parallax-in parallax-mailing-list-banner01">
    <div id="mailing-page" class="container">
        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white">My Profile</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
</section>
<div id="search" class="container search-page">
    <div class="space-10"></div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active': tabHref == 'g'}"><a data-toggle="tab" href="javascript:void(0)" ng-click="tabHref = 'g'">My Profile</a></li>
                <li ng-class="{'active': tabHref == 'cp'}" ng-show="!editFlag"><a data-toggle="tab" href="javascript:void(0)" ng-click="tabHref = 'cp'">Change Password</a></li>
                <!-- <li><a data-toggle="tab" href="#keyword-search">Keyword Search</a></li> -->
            </ul>
            <div class="inputbg tab-content search-inner-tab">
                <!----------Personal Details-------------->
                <div class="space-10"></div>
                <form role="form" ng-submit="update(); profileForm.$setUntouched();" id="church-search" class="tab-pane" ng-class="{'in active': tabHref == 'g', 'fade' : tabHref != 'g'}" name="profileForm">
                    <div class="bg-color">
                        <div class="row">
                            <div class="container-fluid">
                                <div class="col-md-11">
                                    <h5 class="titletxt">Personal Details</h5>
                                </div>
                                <div class="col-md-1" ng-show="!editFlag">
                                    <a href="javascript:void(0)" ng-click="toggleEditFlag()"><h5 class="titletxt pull-right"><i class="fa fa-pencil bigger-130"></i> Edit</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!----------input-------------->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <label>First Name</label>
                                <p ng-show="!editFlag">{{subscriber.name.first}}</p>
                                <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.name.first">
                            </div>
                            <div class="col-md-4">
                                <label>Middle Name</label>
                                <p ng-show="!editFlag">{{subscriber.name.middle}}</p>
                                <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.name.middle">
                            </div>
                            <div class="col-md-4">
                                <label>Last Name</label>
                                <p ng-show="!editFlag">{{subscriber.name.last}}</p>
                                <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.name.last">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Contact Number</label>
                                <p ng-show="!editFlag">{{subscriber.phoneNumbers}}</p>
                                <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.phoneNumbers">
                            </div>
                            <div class="col-md-4">
                                <label>Email ID</label>
                                <p>‎{{subscriber.auth.email}}</p>
                            </div>
                            <div class="col-md-4">
                                <label>Institution</label>
                                <p ng-show="!editFlag">{{subscriber.institution}}</p>
                                <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.institution">
                            </div>
                        </div>
                    </div>
                    <div class="space-10"></div>
                    <!----------Mailing Lists Details-------------->
                    <div class="bg-color">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5 class="titletxt">Mailing Details</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!----------input-------------->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="street-1">
                                    <label>Street 1</label>
                                    <p ng-show="!editFlag">{{subscriber.address}}</p>
                                    <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.address">
                                </div>
                                <div class="street-2">
                                    <label>Street 2</label>
                                    <p ng-show="!editFlag">{{subscriber.address2}}</p>
                                    <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.address2">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="city">
                                    <label>City</label>
                                    <p ng-show="!editFlag">{{subscriber.city}}</p>
                                    <input type="text" ng-show="editFlag" id="auto-complete-city" autocomplete="off" name="addressCity" ng-model="subscriber.city" class="form-control"></input>
                                </div>
                                <div class="state-territory">
                                    <label>State/Territory</label>
                                    <p ng-show="!editFlag">{{subscriber.state}}</p>
                                    <input type="text" ng-show="editFlag" id="auto-complete-state" autocomplete="off" name="addressCity" ng-model="subscriber.state" class="form-control"></input>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="Country">
                                    <label>Country</label>
                                    <p ng-show="!editFlag">{{subscriber.country}}</p>
                                    <input type="text" ng-show="editFlag" id="auto-complete-country" autocomplete="off" name="addressCity" ng-model="subscriber.country" class="form-control"></input>
                                </div>
                                <div class="zip">
                                    <label>Zip</label>
                                    <p ng-show="!editFlag">{{subscriber.zip}}</p>
                                    <input type="text" ng-show="editFlag" class="form-control" ng-model="subscriber.zip">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-10"></div>
                    <!----------Social Media-------------->
                    <div class="bg-color">
                        <div class="row">
                            <div class="container-fluid">
                                <div class="col-md-11">
                                    <h5 class="titletxt">Social Media</h5>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <!----------input-------------->
                        <div class="row">
                            <div class="container-fluid ">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="space-10"></div>
                                        <div class="col-md-1">
                                            <a href="#" class="iconfacebook"><i class="fa fa-facebook-square fa-3x"></i></a>
                                        </div>
                                        <div class="col-md-11">
                                            <h5>http://www.facebook.com/<span><b ng-show="!editFlag">{{subscriber.social.facebook}}</b><input type="text" ng-show="editFlag" ng-model="subscriber.social.facebook"></span></h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="space-10"></div>
                                        <div class="col-md-1">
                                            <a href="#" class="icotwitter"><i class="fa fa-twitter-square fa-3x"></i></a>
                                        </div>
                                        <div class="col-md-11">
                                            <h5>http://www.twitter.com/<span><b ng-show="!editFlag">{{subscriber.social.twitter}}</b><input type="text" ng-show="editFlag" ng-model="subscriber.social.twitter"></span></h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="space-10"></div>
                                        <div class="col-md-1">
                                            <a href="#" class="icolinledin"><i class="fa fa-linkedin-square fa-3x"></i></a>
                                        </div>
                                        <div class="col-md-11">
                                            <h5>http://www.linkedin.com/<span><b ng-show="!editFlag">{{subscriber.social.linkedIn}}</b><input type="text" ng-show="editFlag" ng-model="subscriber.social.linkedIn"></span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-10"></div>
                            </div>
                        </div>
                        <div class="space-20"></div>
                    </div>
                    <!----------footer-------------->
                    <div class="btnfooter" ng-show="editFlag">
                        <button type="submit" class="btn btn-color no-radius">Save</button>
                        <a class="btn btn-cancel no-radius" href="javascript:void(0)" ng-click="cancel()">Cancel</a>
                    </div>
                    <div class="space-10"></div>
                </form>
                <!----------Change Password-search-------------->
                <div id="change-pass-div" class="tab-pane" ng-class="{'in active': tabHref == 'cp', 'fade' : tabHref != 'cp'}">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <h5 class="titletxt">Change Password</h5>
                                <!-- <p>Hi, you last changed your profile password on 14-Oct-2015.</p>
                                        <p>It's been more then 90 days since you changed your profile password.</p> -->
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="space-10"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-info" role="alert" ng-show="requestPasswordChange">
                                        <strong>Password reset!</strong> We recommend you to reset your password.
                                    </div>
                                </div>
                            </div>
                            <form role="form" class="col-md-4 col-lg-offset-4" ng-submit="changePassword(); changePassForm.$setUntouched();" name="changePassForm">
                                <div class="form-group" ng-class="{ 'has-error': changePassForm.currentPassword.$touched && changePassForm.currentPassword.$invalid }">
                                    <label class="control-label"><i class="fa fa-asterisk"></i> Current Password</label>
                                    <input type="password" required name="currentPassword" class="form-control" ng-model="subscriber.auth.currentPassword">
                                    <div class="help-block" ng-messages="changePassForm.currentPassword.$error" ng-show="changePassForm.currentPassword.$touched">
                                        <p ng-message="required">This field is required</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': changePassForm.confirmPassword.$touched && changePassForm.confirmPassword.$invalid }">
                                    <label class="control-label"><i class="fa fa-asterisk"></i> New Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" required name="confirmPassword" ng-model="subscriber.auth.confirmPassword" validate-password ng-minlength="8" ng-maxlength="15">
                                        <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                                    </div>
                                    <div class="help-block" ng-messages="changePassForm.confirmPassword.$error" ng-show="changePassForm.confirmPassword.$touched">
                                        <p ng-message="required">This field is required</p>
                                        <p ng-message="minlength">The password should be minimum 8 characters long</p>
                                        <p ng-message="maxlength">The password should be maximum 15 characters long</p>
                                        <ul ng-message="validatePassword">
                                            <li ng-show="passwordValidationErrors.indexOf('lowercase') >= 0">The password needs to have at least 1 Lowercase character</li>
                                            <li ng-show="passwordValidationErrors.indexOf('uppercase') >= 0">The password needs to have at least 1 Uppercase character</li>
                                            <li ng-show="passwordValidationErrors.indexOf('digit') >= 0">The password needs to have at least 1 Digit</li>
                                            <li ng-show="passwordValidationErrors.indexOf('special') >= 0">The password needs to have at least 1 Special character</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <p password-strength="changePassForm.confirmPassword.$viewValue"></p> -->
                                <div class="form-group" ng-class="{ 'has-error': changePassForm.password.$touched && changePassForm.password.$invalid }">
                                    <label class="control-label"><i class="fa fa-check"></i> Confirm Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" required name="password" ng-model="subscriber.auth.password" validate-match="subscriber.auth.confirmPassword">
                                        <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                                    </div>
                                    <div class="help-block" ng-messages="changePassForm.password.$error" ng-show="changePassForm.password.$touched">
                                        <p ng-message="required">This field is required</p>
                                        <p ng-message="validateMatch">Both the passwords do not match</p>
                                    </div>
                                </div>
                                <!----------footer-------------->
                                <div class="btnfooter">
                                    <button type="submit" class="btn btn-color no-radius" ng-disabled="changePassForm.$invalid">Confirm</button>
                                    <a class="btn btn-cancel no-radius" href="javascript:void(0)" ng-click="cancel()">Cancel</a>
                                </div>
                                <div class="space-10"></div>
                            </form>
                        </div>
                    </div>
                    <div class="space-20"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-40"></div>
