<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="products-services-list">
                    <!-- <div class="row"> -->
                        <div id="animated-example" class="animated fadeInUp">                          
                            <div class="space-40"></div>                            
                            <div class="col-md-12 text-center">
                                <div class="space-40"></div>
                                <div class="space-40 visible-xs"></div>
                                <h1 class="white">{{section.sectionHeader}}</h1>
                            </div>
                            <div class="space-40"></div>
                        </div>
                   <!--  </div> -->
                </div>
          </div>
      </div>
   </div>
</section>
<div id="products-search-bx"> </div>
<div id="mailing-page" class="container">
    <div class="col-md-9">
        <div class="space-18"></div>
        <div class="products-search-box">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="KEYWORDS">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" />
                                        <label for="checkboxG4" class="css-label white">All of these words</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control">
                            <option>STATE </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="CITY OR ZIP CODE">
                        <!-- <select class="form-control">
                              <option>CITY OR ZIP CODE </option>
                       
                           </select> -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="DataTables_Table_0_length" 
                        aria-controls="DataTables_Table_0" 
                        class="form-control"
                        ng-model="radius"
                        ng-change="calRadius(radius)">
                        <option>RADIUS</option>
                        <option value="25" selected>25 miles</option>
                        <option value="50">50 miles</option>
                        <option value="100">100 miles</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-color-search">Search</button>
                        <button type="button" class="btn btn-color-search">Reset </button>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="border clearfix" id="SearchResult">
            <div class="space-10"></div>
            <div class="col-md-12 border-bottom">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <h6 class="media" ng-repeat="getProductSubCategory in getProductSubCategory">
                            <div class="media-body">
                                <h4 class="media-heading text-left">
                                {{getProductSubCategory._id.ProductCategoryName}} :- {{getProductSubCategory._id.ProductSubCategoryName}}</h4>
                                <!-- <h5 class="dark-blue">{{key}}</h5> -->
                    </div>
                    </h6>
                </div>
                <br>
                <br>
                <div class="col-md-12 products-details-bx" class="bg-success">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <img class="media-object" ng-src={{getProductCategory._id.CompanyListLogo}} alt="" /> -->
                                <a href="#">
                                    <img class="media-object" ng-repeat="getGuide in getGuide" ng-src="{{getGuide.CompanyListLogo}}" alt="...">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <p ng-repeat="getGuide in getGuide">
                                    <b>
                                        <a ng-click="postProductDetail(getGuide._id)">{{getGuide.CompanyName}}</a>
                                        </b>
                                    <!-- <br>{{getGuide.CompanyAddress.Street1}}
                                    <br/>{{getGuide.CompanyAddress.Street2}}</br>
                                    Tel:{{getGuide.CompanyAddress.Telephone}} | FAX:{{getGuide.CompanyAddress.Fax}}</br>
                                    E-mail: {{getGuide.CompanyEmail}} </br>Web Site: {{getGuide.CompanyWebsite}}</h6> -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 space-4 clearfix"></div>
        </div>
      <!--   <div class="col-md-12">
          <table id="example" class="display" width="100%"></table>
      </div>
      <div class="table-responsive">
          <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered"></table>
      </div> -->
        <div class="space-20"></div>
    </div>
</div>
