<div class="widget-box abc">
    <div class="widget-main">
        <div class="row ng-scope ">
            <div class="col-md-4 ">
                <div class="">
                    <label class="h5 boldfont">Organization ID</label>
                    <p class=".h5">{{organization.org_id}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Classification Code</label>
                    <p class=".h5">{{organization.classificationCode.codeValue}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Parent Organization/Association</label>
                    <p class=".h5">{{organization.parentId.name}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Section</label>
                    <p class=".h5">{{organization.sectionCode[0].codeValue + ' (' + organization.sectionCode[0].description + ')'}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Sequence No.</label>
                    <p class=".h5">{{organization.sequenceNo}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Name</label>
                    <p class=".h5">{{organization.name}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Minor Name</label>
                    <p class=".h5">{{organization.shortName}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Name Suffix</label>
                    <p class=".h5">{{organization.nameSuffix}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Additional Info</label>
                    <p class=".h5">{{organization.additionalInformation}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <label class="h5 boldfont">Sub Number</label>
                    <p class=".h5">{{organization.sub_nbr}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Status</label>
                    <p class=".h5">{{directoryRecordStatus[organization.status._id].label}}</p>
                </div>
                <!-- <div class="">
                    <label class="h5 boldfont">Established Year</label>
                    <p class=".h5">{{organization.established.year}}</p>
                </div> -->
                <div class="">
                    <!-- <label class="h5 boldfont">Established Description</label> -->
                    <label class="h5 boldfont">Established</label>
                    <p class=".h5">{{organization.established.detail}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Hours Open to the Public</label>
                    <p class=".h5">{{organization.timing}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Annual Attendance</label>
                    <p class=".h5">{{organization.attendance.count}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Admission Fees</label>
                    <p class=".h5">{{organization.feeStructure}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Comments</label>
                    <p class=".h5">{{organization.comments[0]}}</p>
                </div>
                <div class "">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="organization.minorNameIndexIndication? 'fa-check' : 'fa-remove'"></i> Minor Name Index Indication
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <label class="h5 boldfont">Sort Major Name</label>
                    <p class=".h5">{{organization.sortMajorName}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Sort Minor Name</label>
                    <p class=".h5">{{organization.sortMinorName}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Operating Income</label>
                    <p class=".h5">{{organization.income}}</p>
                </div>
                <!-- <div class="">
                    <label class="h5 boldfont">Operating Expense</label>
                    <p class=".h5">{{organization.expenses}}</p>
                </div> -->
                <div class="">
                    <label class="h5 boldfont">Purchases ($)</label>
                    <p class=".h5">{{organization.purchases}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Gallery Description</label>
                    <p class=".h5">{{organization.galleryDescription}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Membership</label>
                    <p class=".h5">{{organization.membership[0]}}</p>
                </div>
                <div class="">
                    <label class="h5 boldfont">Circulation</label>
                    <p class=".h5">{{organization.circulation}}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Former Name(s)</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Name</th>
                        <th>Suffix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && formerName.deleted != true">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{formerName.name}}</td>
                        <td>{{formerName.suffix}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Book Edition(s)</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Edition</th>
                        <th>Nom Source</th>
                        <th>Edition Respond</th>
                        <th>Status</th>
                        <th>Kill Comment</th>
                        <th>Editorial Comment</th>
                        <th>Research Comment</th>
                        <th>Permanent Comment</th>
                        <th>Must Field</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bookEditions in organization.bookEdition" ng-if="bookEditions.deleted != true">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{bookEditions.edition}}</td>
                        <td>{{bookEditions.nomSource}}</td>
                        <td>{{bookEditions.editionRespond}}</td>
                        <td>{{bookEditions.statusValue}}</td>
                        <td>{{bookEditions.killComment}}</td>
                        <td>{{bookEditions.editorialComment}}</td>
                        <td>{{bookEditions.researchComment}}</td>
                        <td>{{bookEditions.permanentComment}}</td>
                        <td>{{bookEditions.mustField ? "YES":(bookEditions.mustField === false ? "NO" : "")}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
