<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <!-- Record History end-->
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- History Details start-->
                    <div class="row inforowcolor">
                        <div class="col-md-4">
                            <label>Date & Time</label>
                            <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                            <label>Comments</label>
                            <br>{{ versions[indexPos].comments }}</br>
                        </div>
                        <div class="col-md-4">
                            <label> Record History Details</label>
                            <br>{{ versions[indexPos].status.description }}</br>
                        </div>
                        <div class="col-md-4">
                            <label> By</label>
                            <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                                <br>
                                <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                        </div>
                    </div>
                    <!--  <div class="">
                            <span class="addnewt">Activities</span>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="space-10"></div> -->
                    <div class="">
                        <span class="addnewt ">Contacts</span>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row ng-scope ">
                                <div class="col-md-3">
                                    <div>
                                        <label class="h5 boldfont">Phone No.</label>
                                        <div ng-if="organization.contact.phoneNumbers == originalOrg.contact.phoneNumbers">
                                            <p>{{organization.contact.phoneNumbers}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.phoneNumbers != originalOrg.contact.phoneNumbers">
                                            <p class="nextcolor"> {{originalOrg.contact.phoneNumbers}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.phoneNumbers}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <!-- <div>
                                    <label class="h5 boldfont">Mobile No.</label>
                                    <div ng-if="organization.contact.mobile == originalOrg.contact.mobile">
                                        <p>{{organization.contact.mobile}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.contact.mobile != originalOrg.contact.mobile">
                                        <p class="nextcolor"> {{originalOrg.contact.mobile}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.contact.mobile}}&nbsp;</p>
                                    </div>
                                </div> -->
                                    <div>
                                        <label class="h5 boldfont">Fax</label>
                                        <div ng-if="organization.contact.faxNumbers == originalOrg.contact.faxNumbers">
                                            <p>{{organization.contact.faxNumbers}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.faxNumbers != originalOrg.contact.faxNumbers">
                                            <p class="nextcolor"> {{originalOrg.contact.faxNumbers}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.faxNumbers}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Primary Email</label>
                                        <div ng-if="organization.contact.emails.primary == originalOrg.contact.emails.primary">
                                            <p>{{organization.contact.emails.primary}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.emails.primary != originalOrg.contact.emails.primary">
                                            <p class="nextcolor"> {{originalOrg.contact.emails.primary}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.emails.primary}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Secondary Email</label>
                                        <div ng-if="organization.contact.emails.secondary ==  originalOrg.contact.emails.secondary">
                                            <p>{{organization.contact.emails.secondary}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.emails.secondary != originalOrg.contact.emails.secondary">
                                            <p class="nextcolor"> {{originalOrg.contact.emails.secondary}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.emails.secondary}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div>
                                        <label class="h5 boldfont">Websites</label>
                                        <div ng-if="organization.contact.websites == originalOrg.contact.websites">
                                            <p>{{organization.contact.websites}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.websites != originalOrg.contact.websites">
                                            <p class="nextcolor"> {{originalOrg.contact.websites}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.websites}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Social</label>
                                        <div ng-if="organization.contact.social == originalOrg.contact.social">
                                            <p>{{organization.contact.social}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.social != originalOrg.contact.social">
                                            <p class="nextcolor"> {{originalOrg.contact.social}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.social}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Pager</label>
                                        <div ng-if="organization.contact.pager == originalOrg.contact.pager">
                                            <p>{{organization.contact.pager}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.pager != originalOrg.contact.pager">
                                            <p class="nextcolor"> {{originalOrg.contact.pager}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.pager}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Mobile No.</label>
                                        <div ng-if="organization.contact.mobile == originalOrg.contact.mobile">
                                            <p>{{organization.contact.mobile}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.mobile != originalOrg.contact.mobile">
                                            <p class="nextcolor"> {{originalOrg.contact.mobile}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.mobile}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-3">
                                    <div>
                                        <label class="h5 boldfont">Wats</label>
                                        <div ng-if="organization.contact.wats == originalOrg.contact.wats">
                                            <p>{{organization.contact.wats}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.wats != originalOrg.contact.wats">
                                            <p class="nextcolor"> {{originalOrg.contact.wats}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.wats}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">FTS</label>
                                        <div ng-if="organization.contact.fts == originalOrg.contact.fts">
                                            <p>{{organization.contact.fts}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.fts != originalOrg.contact.fts">
                                            <p class="nextcolor"> {{originalOrg.contact.fts}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.fts}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">TWX</label>
                                        <div ng-if="organization.contact.twx == originalOrg.contact.twx">
                                            <p>{{organization.contact.twx}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.twx != originalOrg.contact.twx">
                                            <p class="nextcolor"> {{originalOrg.contact.twx}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.twx}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="space-10"></div>
                                    <div>
                                        <div class="boldfont">
                                            <div ng-if="organization.contact.printFlag == originalOrg.contact.printFlag">
                                                <i class="fa fa-check" ng-class="organization.contact.printFlag? 'fa-check' : 'fa-remove'"></i> Print Flag
                                            </div>
                                            <div ng-if="organization.contact.printFlag != originalOrg.contact.printFlag">
                                                <p class="nextcolor">
                                                    <i class="fa fa-check" ng-class="originalOrg.contact.printFlag? 'fa-check' : 'fa-remove'"></i> Print Flag &nbsp;
                                                </p>
                                                <p class="boxcolor">
                                                    <i class="fa fa-check" ng-class="organization.contact.printFlag? 'fa-check' : 'fa-remove'"></i> Print Flag &nbsp;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div>
                                        <label class="h5 boldfont">Cable</label>
                                        <div ng-if="organization.contact.cable == originalOrg.contact.cable">
                                            <p>{{organization.contact.cable}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.cable != originalOrg.contact.cable">
                                            <p class="nextcolor"> {{originalOrg.contact.cable}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.cable}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Telex Number</label>
                                        <div ng-if="organization.contact.telexNumbers == originalOrg.contact.telexNumbers">
                                            <p>{{organization.contact.telexNumbers}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.telexNumbers != originalOrg.contact.telexNumbers">
                                            <p class="nextcolor"> {{originalOrg.contact.telexNumbers}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.telexNumbers}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Other</label>
                                        <div ng-if="organization.contact.others == originalOrg.contact.others">
                                            <p>{{organization.contact.others}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.contact.others != originalOrg.contact.others">
                                            <p class="nextcolor"> {{originalOrg.contact.others}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.contact.others}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="cal-md-12 pull-right add-button">
                </div>
                <div class="pull-left addnewt add-button">Address</div>
            </div>
        </div>
        <div class="container-fluid box-body table-responsive cf">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="widthfcl">#</th>
                                <th>Type</th>
                                <th>Address</th>
                                <th>Nixie Index</th>
                                <th>Mailing Index</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="address in organization.address" ng-if="address.cityName != null && !address.deleted">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>
                                    <div ng-if="address.addressType.description == originalOrg.address[$index].addressType.description">
                                        <p>{{address.addressType.description}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.addressType.description != originalOrg.address[$index].addressType.description">
                                        <p class="nextcolor">{{originalOrg.address[$index].addressType.description }}&nbsp;</p>
                                        <p class="boxcolor">{{address.addressType.description}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <b>Street 1: </b>
                                    <div ng-if="address.street1 == originalOrg.address[$index].street1">
                                        <p>{{address.street1}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.street1 != originalOrg.address[$index].street1">
                                        <p class="nextcolor"> {{originalOrg.address[$index].street1}}&nbsp;</p>
                                        <p class="boxcolor">{{address.street1}}&nbsp;</p>
                                    </div>
                                    <b>Street 2: </b>
                                    <div ng-if="address.street2 == originalOrg.address[$index].street2">
                                        <p>{{address.street2}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.street2 != originalOrg.address[$index].street2">
                                        <p class="nextcolor"> {{originalOrg.address[$index].street2}}&nbsp;</p>
                                        <p class="boxcolor">{{address.street2}}&nbsp;</p>
                                    </div>
                                    <b>City: </b>
                                    <div ng-if="address.cityName== originalOrg.address[$index].cityName">
                                        <p>{{address.cityName}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.cityName != originalOrg.address[$index].cityName">
                                        <p class="nextcolor"> {{originalOrg.address[$index].cityName}}&nbsp;</p>
                                        <p class="boxcolor">{{address.cityName}}&nbsp;</p>
                                    </div>
                                    <b>State: </b>
                                    <div ng-if="address.stateName == originalOrg.address[$index].stateName">
                                        <p>{{address.stateName}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.stateName != originalOrg.address[$index].stateName">
                                        <p class="nextcolor"> {{originalOrg.address[$index].stateName}}&nbsp;</p>
                                        <p class="boxcolor">{{address.stateName}}&nbsp;</p>
                                    </div>
                                    <b>Country: </b>
                                    <div ng-if="address.countryName == originalOrg.address[$index].countryName">
                                        <p>{{address.countryName}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.countryName != originalOrg.address[$index].countryName">
                                        <p class="nextcolor"> {{originalOrg.address[$index].countryName}}&nbsp;</p>
                                        <p class="boxcolor">{{address.countryName}}&nbsp;</p>
                                    </div>
                                    <b>Zip: </b>
                                    <div ng-if="address.zip == originalOrg.address[$index].zip">
                                        <p>{{address.zip}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.zip != originalOrg.address[$index].zip">
                                        <p class="nextcolor"> {{originalOrg.address[$index].zip}}&nbsp;</p>
                                        <p class="boxcolor">{{address.zip}}&nbsp;</p>
                                    </div>
                                    <b>Comments: </b>
                                    <div ng-if="address.comments == originalOrg.address[$index].comments">
                                        <p>{{address.comments}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.comments != originalOrg.address[$index].comments">
                                        <p class="nextcolor">{{originalOrg.address[$index].comments}}&nbsp;</p>
                                        <p class="boxcolor">{{address.comments}}&nbsp;</p>
                                    </div>
                                    <b>Nixie Date: </b>
                                    <div ng-if="address.nixieDate == originalOrg.address[$index].nixieDate">
                                        <p>{{address.nixieDate}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.nixieDate != originalOrg.address[$index].nixieDate">
                                        <p class="nextcolor">{{originalOrg.address[$index].nixieDate}}&nbsp;</p>
                                        <p class="boxcolor">{{address.nixieDate}}&nbsp;</p>
                                    </div>
                                    <b>Nixie Comments: </b>
                                    <div ng-if="address.nixieComments == originalOrg.address[$index].nixieComments">
                                        <p>{{address.nixieComments}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.nixieComments != originalOrg.address[$index].nixieComments">
                                        <p class="nextcolor">{{originalOrg.address[$index].nixieComments}}&nbsp;</p>
                                        <p class="boxcolor">{{address.nixieComments}}&nbsp;</p>
                                    </div>
                                    <td>
                                        <div ng-if="address.nixieIndex == originalOrg.address[$index].nixieIndex">
                                            <p ng-switch on="address.nixieIndex">
                                                <span ng-switch-when=""></span>
                                                <span ng-switch-when="true">YES</span>
                                                <span ng-switch-when="false">NO</span>&nbsp;
                                            </p>
                                        </div>
                                        <div ng-if="address.nixieIndex != originalOrg.address[$index].nixieIndex">
                                            <p class="nextcolor" ng-switch on="originalOrg.address[$index].nixieIndex">
                                                <span ng-switch-when=""></span>
                                                <span ng-switch-when="true">YES</span>
                                                <span ng-switch-when="false">NO</span>&nbsp;
                                            </p>
                                            <p class="boxcolor" ng-switch on="address.nixieIndex">
                                                <span ng-switch-when=""></span>
                                                <span ng-switch-when="true">YES</span>
                                                <span ng-switch-when="false">NO</span>&nbsp;
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="address.mailingIndex == originalOrg.address[$index].mailingIndex">
                                            <p ng-switch on="address.mailingIndex">
                                                <span ng-switch-when=""></span>
                                                <span ng-switch-when="true">YES</span>
                                                <span ng-switch-when="false">NO</span>&nbsp;
                                            </p>
                                        </div>
                                        <div ng-if="address.mailingIndex != originalOrg.address[$index].mailingIndex">
                                            <p class="nextcolor" ng-switch on="originalOrg.address[$index].mailingIndex">
                                                <span ng-switch-when=""></span>
                                                <span ng-switch-when="true">YES</span>
                                                <span ng-switch-when="false">NO</span>&nbsp;
                                            </p>
                                            <p class="boxcolor" ng-switch on="address.mailingIndex">
                                                <span ng-switch-when=""></span>
                                                <span ng-switch-when="true">YES</span>
                                                <span ng-switch-when="false">NO</span>&nbsp;
                                            </p>
                                        </div>
                                    </td>
                                </td>
                            </tr>
                            <tr ng-repeat="address in deletedAddress" bgcolor="42b6da">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>{{addressTypes[address.addressType] || ""}}</td>
                                <td>
                                    <b>Street 1: </b>{{address.street1}}
                                    <br>
                                    <b>Street 2: </b>{{address.street2}}
                                    <br>
                                    <b>City: </b>{{address.cityName}}
                                    <br>
                                    <b> State/Territory: </b>{{address.stateName}}
                                    <br>
                                    <b>Country: </b>{{address.countryName}}
                                    <br>
                                    <b>Zip: </b>{{address.zip}}
                                    <br>
                                    <b>Comment: </b>{{address.comments}}
                                    <br>
                                    <b>Nixie Date: </b>{{address.nixieDate}}
                                    <br>
                                    <b>Nixie Comment: </b>{{address.nixieComments}}
                                    <br>
                                </td>
                                <td>{{ address.nixieIndex ? "YES" : (address.nixieIndex === false ? "NO" : "") }}</td>
                                <td>{{ address.mailingIndex ? "YES" : (address.mailingIndex === false ? "NO" : "") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
