<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <!-- Record History end-->
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- History Details start-->
                    <div class="row inforowcolor">
                        <div class="col-md-4">
                            <label>Date & Time</label>
                            <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                            <label>Comments</label>
                            <br>{{ versions[indexPos].comments }}</br>
                        </div>
                        <div class="col-md-4">
                            <label> Record History Details</label>
                            <br>{{ versions[indexPos].status.description }}</br>
                        </div>
                        <div class="col-md-4">
                            <label> By</label>
                            <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                                <br>
                                <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row ng-scope ">
                            <div class="col-md-4">
                                <div>
                                    <label class="h5 boldfont">Organization ID</label>
                                    <div ng-if="organization.org_id == originalOrg.org_id">
                                        <p> {{organization.org_id}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.org_id != originalOrg.org_id">
                                        <p class="nextcolor"> {{originalOrg.org_id}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.org_id}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Classification Code</label>
                                    <div ng-if="organization.classificationCode.codeValue == originalOrg.classificationCode.codeValue">
                                        <p> {{organization.classificationCode.codeValue}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.classificationCode.codeValue != originalOrg.classificationCode.codeValue">
                                        <p class="nextcolor"> {{originalOrg.classificationCode.codeValue}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.classificationCode.codeValue}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Parent Organization/Association</label>
                                    <div ng-if="organization.parentId.name == originalOrg.parentId.name">
                                        <p> {{organization.parentId.name}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.parentId.name != originalOrg.parentId.name">
                                        <p class="nextcolor"> {{originalOrg.parentId.name}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.parentId.name}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Section</label>
                                    <div ng-if="(organization.sectionCode[0].codeValue + ' (' + organization.sectionCode[0].description + ')') == (originalOrg.sectionCode[0].codeValue + ' (' + originalOrg.sectionCode[0].description + ')')">
                                        <p> {{(organization.sectionCode[0].codeValue + ' (' + organization.sectionCode[0].description + ')')}}&nbsp;</p>
                                    </div>
                                    <div ng-if="(organization.sectionCode[0].codeValue + ' (' + organization.sectionCode[0].description + ')') != (originalOrg.sectionCode[0].codeValue + ' (' + originalOrg.sectionCode[0].description + ')')">
                                        <p class="nextcolor"> {{(originalOrg.sectionCode[0].codeValue + ' (' + originalOrg.sectionCode[0].description + ')')}}&nbsp;</p>
                                        <p class="boxcolor">{{(organization.sectionCode[0].codeValue + ' (' + organization.sectionCode[0].description + ')')}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Sequence No. </label>
                                    <div ng-if="organization.sequenceNo == originalOrg.sequenceNo">
                                        <p> {{organization.sequenceNo}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.sequenceNo != originalOrg.sequenceNo">
                                        <p class="nextcolor"> {{originalOrg.sequenceNo}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.sequenceNo}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Name</label>
                                    <div ng-if="organization.name == originalOrg.name">
                                        <p> {{organization.name}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.name != originalOrg.name">
                                        <p class="nextcolor"> {{originalOrg.name}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.name}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Minor Name</label>
                                    <div ng-if="organization.shortName == originalOrg.shortName">
                                        <p> {{organization.shortName}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.shortName != originalOrg.shortName">
                                        <p class="nextcolor"> {{originalOrg.shortName}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.shortName}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Name Suffix</label>
                                    <div ng-if="organization.nameSuffix == originalOrg.nameSuffix">
                                        <p> {{organization.nameSuffix}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.nameSuffix != originalOrg.nameSuffix">
                                        <p class="nextcolor"> {{originalOrg.nameSuffix}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.nameSuffix}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Additional Info</label>
                                    <div ng-if="organization.additionalInformation == originalOrg.additionalInformation">
                                        <p> {{organization.additionalInformation}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.additionalInformation != originalOrg.additionalInformation">
                                        <p class="nextcolor"> {{originalOrg.additionalInformation}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.additionalInformation}}&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label class="h5 boldfont">Sub Number</label>
                                    <div ng-if="organization.sub_nbr == originalOrg.sub_nbr">
                                        <p> {{organization.sub_nbr}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.sub_nbr != originalOrg.sub_nbr">
                                        <p class="nextcolor"> {{originalOrg.sub_nbr}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.sub_nbr}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Status</label>
                                    <div ng-if="organization.status._id == originalOrg.status._id">
                                        <p> {{directoryRecordStatus[organization.status._id].label}}</p>
                                    </div>
                                    <div ng-if="organization.status._id != originalOrg.status._id">
                                        <span class="nextcolor"> {{directoryRecordStatus[originalOrg.status._id].label}}&nbsp;</span>
                                        <div class="boxcolor">{{directoryRecordStatus[organization.status._id].label}}&nbsp;</div>
                                    </div>
                                </div>
                                <!-- <div>
                                    <label class="h5 boldfont">Established Year</label>
                                    <div ng-if="organization.established.year == originalOrg.established.year">
                                        <p> {{organization.established.year}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.established.year != originalOrg.established.year">
                                        <p class="nextcolor"> {{originalOrg.established.year}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.established.year}}&nbsp;</p>
                                    </div>
                                </div> -->
                                <div>
                                    <!-- <label class="h5 boldfont">Established Description</label> -->
                                    <label class="h5 boldfont">Established</label>
                                    <div ng-if="organization.established.detail == originalOrg.established.detail">
                                        <p> {{organization.established.detail}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.established.detail != originalOrg.established.detail">
                                        <p class="nextcolor"> {{originalOrg.established.detail}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.established.detail}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Hours Open to the Public</label>
                                    <div ng-if="organization.timing == originalOrg.timing">
                                        <p> {{organization.timing}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.timing != originalOrg.timing">
                                        <p class="nextcolor"> {{originalOrg.timing}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.timing}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Annual Attendance</label>
                                    <div ng-if="organization.attendance.count == originalOrg.attendance.count">
                                        <p> {{organization.attendance.count | number}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.attendance.count != originalOrg.attendance.count">
                                        <p class="nextcolor"> {{originalOrg.attendance.count | number}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.attendance.count | number}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Admission Fees</label>
                                    <div ng-if="organization.feeStructure == originalOrg.feeStructure">
                                        <p> {{organization.feeStructure}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.feeStructure != originalOrg.feeStructure">
                                        <p class="nextcolor"> {{originalOrg.feeStructure}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.feeStructure}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Comments</label>
                                    <div ng-if="organization.comments[0] == originalOrg.comments[0]">
                                        <p> {{organization.comments[0]}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.comments[0] != originalOrg.comments[0]">
                                        <p class="nextcolor"> {{originalOrg.comments[0]}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.comments[0]}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="boldfont">
                                        <div ng-if="organization.minorNameIndexIndication == originalOrg.minorNameIndexIndication">
                                            <i class="fa fa-check" ng-class="organization.minorNameIndexIndication? 'fa-check' : 'fa-remove'"></i> Minor Name Index Indication
                                        </div>
                                        <div ng-if="organization.minorNameIndexIndication != originalOrg.minorNameIndexIndication">
                                            <p class="nextcolor">
                                                <i class="fa fa-check" ng-class="originalOrg.minorNameIndexIndication? 'fa-check' : 'fa-remove'"></i> Minor Name Index Indication &nbsp;
                                            </p>
                                            <p class="boxcolor">
                                                <i class="fa fa-check" ng-class="organization.minorNameIndexIndication? 'fa-check' : 'fa-remove'"></i> Minor Name Index Indication &nbsp;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label class="h5 boldfont">Sort Major Name</label>
                                    <div ng-if="organization.sortMajorName == originalOrg.sortMajorName">
                                        <p> {{organization.sortMajorName}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.sortMajorName != originalOrg.sortMajorName">
                                        <p class="nextcolor"> {{originalOrg.sortMajorName}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.sortMajorName}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Sort Minor Name</label>
                                    <div ng-if="organization.sortMinorName == originalOrg.sortMinorName">
                                        <p> {{organization.sortMinorName}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.sortMinorName != originalOrg.sortMinorName">
                                        <p class="nextcolor"> {{originalOrg.sortMinorName}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.sortMinorName}}&nbsp;</p>
                                    </div>
                                </div>
                                <div>
                                    <label class="h5 boldfont">Operating Income</label>
                                    <div ng-if="organization.income == originalOrg.income">
                                        <p> {{organization.income}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.income != originalOrg.income">
                                        <p class="nextcolor"> {{originalOrg.income}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.income}}&nbsp;</p>
                                    </div>
                                </div>
                                <!-- <div>
                                    <label class="h5 boldfont">Operating Expense</label>
                                    <div ng-if="organization.expenses == originalOrg.expenses">
                                        <p> {{organization.expenses}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.expenses != originalOrg.expenses">
                                        <p class="nextcolor"> {{originalOrg.expenses}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.expenses}}&nbsp;</p>
                                    </div>
                                </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Purchases ($)</label>
                                    <div ng-if="organization.purchases == originalOrg.purchases">
                                        <p>{{organization.purchases}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.purchases != originalOrg.purchases">
                                        <p class="nextcolor">{{originalOrg.purchases}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.purchases}}&nbsp;</p>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Gallery Description</label>
                                        <div ng-if="organization.galleryDescription == originalOrg.galleryDescription">
                                            <p> {{organization.galleryDescription}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.galleryDescription != originalOrg.galleryDescription">
                                            <p class="nextcolor"> {{originalOrg.galleryDescription}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.galleryDescription}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Membership</label>
                                        <div ng-if="organization.membership[0] == originalOrg.membership[0]">
                                            <p> {{organization.membership[0]}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.membership[0] != originalOrg.membership[0]">
                                            <p class="nextcolor"> {{originalOrg.membership[0]}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.membership[0]}}&nbsp;</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="h5 boldfont">Circulation</label>
                                        <div ng-if="organization.circulation == originalOrg.circulation">
                                            <p> {{organization.circulation}}&nbsp;</p>
                                        </div>
                                        <div ng-if="organization.circulation != originalOrg.circulation">
                                            <p class="nextcolor"> {{originalOrg.circulation}}&nbsp;</p>
                                            <p class="boxcolor">{{organization.circulation}}&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="cal-md-12 pull-right add-button">
                </div>
                <div class="pull-left addnewt add-button">
                    Former Name(s)</div>
            </div>
        </div>
        <div class="container-fluid box-body table-responsive cf">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="widthfcl">#</th>
                                <th>Name</th>
                                <th>Suffix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name != null && !formerName.deleted">
                                <td class="widthfcl text-center">{{ ($index+1) }}</td>
                                <td>
                                    <div ng-if="formerName.name == originalOrg.formerNames[$index].name">
                                        <p> {{formerName.name}}&nbsp;</p>
                                    </div>
                                    <div ng-if="formerName.name != originalOrg.formerNames[$index].name">
                                        <p class="nextcolor">{{originalOrg.formerNames[$index].name}}&nbsp;</p>
                                        <p class="boxcolor">{{formerName.name}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="formerName.suffix == originalOrg.formerNames[$index].suffix">
                                        <p> {{formerName.suffix}}&nbsp;</p>
                                    </div>
                                    <div ng-if="formerName.suffix != originalOrg.formerNames[$index].suffix">
                                        <p class="nextcolor">{{originalOrg.formerNames[$index].suffix}}&nbsp;</p>
                                        <p class="boxcolor">{{formerName.suffix}}&nbsp;</p>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="formerName in deletedFormerNames" bgcolor="42b6da">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>{{formerName.name}}</td>
                                <td>{{formerName.suffix}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Book Edition(s)</div>
            </div>
        </div>
        <div class="container-fluid box-body table-responsive cf">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="widthfcl">#</th>
                                <th>Edition</th>
                                <th>Nom Source</th>
                                <th>Edition Respond</th>
                                <th>Status</th>
                                <th>Kill Comment</th>
                                <th>Editorial Comment</th>
                                <th>Research Comment</th>
                                <th>Permanent Comment</th>
                                <th>Must Field</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bookEditions in organization.bookEdition" ng-if="!bookEditions.deleted">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>
                                    <div ng-if="bookEditions.edition == originalOrg.bookEdition[$index].edition">
                                        <p> {{bookEditions.edition}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.edition != originalOrg.bookEdition[$index].edition">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].edition}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.edition}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.nomSource == originalOrg.bookEdition[$index].nomSource">
                                        <p> {{bookEditions.nomSource}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.nomSource != originalOrg.bookEdition[$index].nomSource">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].nomSource}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.nomSource}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.editionRespond == originalOrg.bookEdition[$index].editionRespond">
                                        <p> {{bookEditions.editionRespond}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.editionRespond != originalOrg.bookEdition[$index].editionRespond">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].editionRespond}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.editionRespond}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.statusValue == originalOrg.bookEdition[$index].statusValue">
                                        <p> {{bookEditions.statusValue}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.statusValue != originalOrg.bookEdition[$index].statusValue">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].statusValue}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.statusValue}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.killComment == originalOrg.bookEdition[$index].killComment">
                                        <p> {{bookEditions.killComment}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.killComment != originalOrg.bookEdition[$index].killComment">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].killComment}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.killComment}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.editorialComment == originalOrg.bookEdition[$index].editorialComment">
                                        <p> {{bookEditions.editorialComment}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.editorialComment != originalOrg.bookEdition[$index].editorialComment">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].editorialComment}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.editorialComment}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.researchComment == originalOrg.bookEdition[$index].researchComment">
                                        <p> {{bookEditions.researchComment}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.researchComment != originalOrg.bookEdition[$index].researchComment">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].researchComment}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.researchComment}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.permanentComment == originalOrg.bookEdition[$index].permanentComment">
                                        <p> {{bookEditions.permanentComment}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.permanentComment != originalOrg.bookEdition[$index].permanentComment">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].permanentComment}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.permanentComment}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="bookEditions.mustField == originalOrg.bookEdition[$index].mustField">
                                        <p> {{bookEditions.mustField ? "YES":(bookEditions.mustField === false ? "NO" : "")}}&nbsp;</p>
                                    </div>
                                    <div ng-if="bookEditions.mustField != originalOrg.bookEdition[$index].mustField">
                                        <p class="nextcolor">{{originalOrg.bookEdition[$index].mustField ? "YES":(bookEditions.mustField === false ? "NO" : "")}}&nbsp;</p>
                                        <p class="boxcolor">{{bookEditions.mustField ? "YES":(bookEditions.mustField === false ? "NO" : "")}}&nbsp;</p>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="bookEditions in deletedBookEdition" bgcolor="42b6da">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>{{bookEditions.edition}}</td>
                                <td>{{bookEditions.nomSource}}</td>
                                <td>{{bookEditions.editionRespond}}</td>
                                <td>{{bookEditions.statusValue}}</td>
                                <td>{{bookEditions.killComment}}</td>
                                <td>{{bookEditions.editorialComment}}</td>
                                <td>{{bookEditions.researchComment}}</td>
                                <td>{{bookEditions.permanentComment}}</td>
                                <td>{{bookEditions.mustField ? "YES":(bookEditions.mustField === false ? "NO" : "")}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
