<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openKeyPersonnelPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Key Personnel</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">Sequence No.</th>
                        <th>Title</th>
                        <!-- <th>Custom Title</th> -->
                        <th>Name</th>
                        <th>Academic Degree</th>
                        <th>Contact Details</th>
                        <th>Contact Person Index</th>
                        <th>Print</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="keyPersonnel in organization.personnel">
                        <td class="text-center">{{keyPersonnel.sequenceNumber}}</td>
                        <!-- <td>{{keyPersonnel.titleMaster.codeValue}}</td> -->
                        <td>{{keyPersonnel.title}}</td>
                        <td>{{showPersonnelName(keyPersonnel)}}</td>
                        <td>{{keyPersonnel.degree}}</td>
                        <td>
                            <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                            <br>
                            <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                            <br>
                            <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                            <br>
                            <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                            <br>
                            <strong>Websites</strong>: {{ keyPersonnel.website }}
                            <br>
                            <!--  <strong>Social</strong>: {{ keyPersonnel.social }}
                    <br> -->
                        </td>
                        <td>
                            <div ng-switch on="keyPersonnel.contactPersonIndex">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="Y">YES</span>
                                <span ng-switch-when="N">NO</span>
                            </div>
                        </td>
                        <td>{{ keyPersonnel.printFlag ? "YES" : (keyPersonnel.printFlag === false ? "NO" : "") }}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openKeyPersonnelPopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Key Personnel')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
