<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                     <label class="lagentone">   
                    </label>
                    </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <!-- Record History end-->
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- History Details start-->
                    <div class="row inforowcolor">
                        <div class="col-md-4">
                            <label>Date & Time</label>
                            <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                            <label>Comments</label>
                            <br>{{ versions[indexPos].comments }}</br>
                        </div>
                        <div class="col-md-4">
                            <label> Record History Details</label>
                            <br>{{ versions[indexPos].status.description }}
                            <br>
                        </div>
                        <div class="col-md-4">
                            <label> By</label>
                            <p>{{ getNameOfUser(versions[indexPos].created.by) }}</br>
                                <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="cal-md-12 pull-right add-button">
                </div>
                <div class="pull-left addnewt add-button">Key Personnel</div>
            </div>
        </div>
        <div class="container-fluid box-body table-responsive cf">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="widthfcl">Sequence No.</th>
                                <th>Title</th>
                                <!-- <th>Custom Title</th> -->
                                <th>Name</th>
                                <th>Academic Degree</th>
                                <th>Contact Details</th>
                                <th>Contact Person Index</th>
                                <th>Print</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="keyPersonnel in organization.personnel">
                                <td class="text-center">
                                    <div ng-if="keyPersonnel.sequenceNumber == originalOrg.personnel[$index].sequenceNumber">
                                        {{keyPersonnel.sequenceNumber}}
                                    </div>
                                    <div class="text-danger" ng-if="keyPersonnel.sequenceNumber != originalOrg.personnel[$index].sequenceNumber">
                                        <span class="nextcolor">{{originalOrg.personnel[$index].sequenceNumber}}&nbsp;</span>
                                        <div class="boxcolor">{{keyPersonnel.sequenceNumber}}&nbsp;</div>
                                    </div>
                                </td>
                                <!-- <td>
                                    <div ng-if="keyPersonnel.titleMaster.codeValue == originalOrg.personnel[$index].titleMaster.codeValue">
                                        <p>{{keyPersonnel.titleMaster.codeValue}}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.titleMaster.codeValue != originalOrg.personnel[$index].titleMaster.codeValue">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].titleMaster.codeValue}}&nbsp;</p>
                                        <p class="boxcolor">{{keyPersonnel.titleMaster.codeValue}}&nbsp;</p>
                                    </div>
                                </td> -->
                                <td>
                                    <div ng-if="keyPersonnel.title == originalOrg.personnel[$index].title">
                                        <p>{{keyPersonnel.title}}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.title != originalOrg.personnel[$index].title">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].title}}&nbsp;</p>
                                        <p class="boxcolor">{{keyPersonnel.title}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalOrg.personnel[$index])">
                                        <p>{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                                    </div>
                                    <div ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalOrg.personnel[$index])">
                                        <p class="nextcolor">{{showPersonnelName(originalOrg.personnel[$index])}}&nbsp;</p>
                                        <p class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="keyPersonnel.degree == originalOrg.personnel[$index].degree">
                                        <p>{{keyPersonnel.degree}}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.degree != originalOrg.personnel[$index].degree">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].degree}}&nbsp;</p>
                                        <p class="boxcolor">{{keyPersonnel.degree}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <strong>Phone No.</strong>:
                                    <div ng-if="keyPersonnel.phoneNumbers == originalOrg.personnel[$index].phoneNumbers">
                                        <p>{{ keyPersonnel.phoneNumbers }}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.phoneNumbers != originalOrg.personnel[$index].phoneNumbers">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].phoneNumbers}}&nbsp;</p>
                                        <p class="boxcolor">{{ keyPersonnel.phoneNumbers }}&nbsp;</p>
                                    </div>
                                    <strong>Fax</strong>:
                                    <div ng-if="keyPersonnel.faxNumbers == originalOrg.personnel[$index].faxNumbers">
                                        <p>{{ keyPersonnel.faxNumbers }}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.faxNumbers != originalOrg.personnel[$index].faxNumbers">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].faxNumbers}}&nbsp;</p>
                                        <p class="boxcolor">{{ keyPersonnel.faxNumbers }}&nbsp;</p>
                                    </div>
                                    <strong>Primary Email</strong>:
                                    <div ng-if="keyPersonnel.email.primary == originalOrg.personnel[$index].email.primary">
                                        <p>{{ keyPersonnel.email.primary }}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.email.primary != originalOrg.personnel[$index].email.primary">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].email.primary}}&nbsp;</p>
                                        <p class="boxcolor">{{ keyPersonnel.email.primary }}&nbsp;</p>
                                    </div>
                                    <strong>Secondary Email</strong>:
                                    <div ng-if="keyPersonnel.email.secondary == originalOrg.personnel[$index].email.secondary">
                                        <p>{{ keyPersonnel.email.secondary }}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.email.secondary != originalOrg.personnel[$index].email.secondary">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].email.secondary}}&nbsp;</p>
                                        <p class="boxcolor">{{ keyPersonnel.email.secondary }}&nbsp;</p>
                                    </div>
                                    <strong>Websites</strong>:
                                    <div ng-if="keyPersonnel.website == originalOrg.personnel[$index].website">
                                        <p>{{ keyPersonnel.website }}&nbsp;</p>
                                    </div>
                                    <div ng-if="keyPersonnel.website != originalOrg.personnel[$index].website">
                                        <p class="nextcolor">{{originalOrg.personnel[$index].website}}&nbsp;</p>
                                        <p class="boxcolor">{{ keyPersonnel.website }}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="keyPersonnel.contactPersonIndex == originalOrg.personnel[$index].contactPersonIndex">
                                        <p ng-switch on="keyPersonnel.contactPersonIndex">
                                            <span ng-switch-when=""></span>
                                            <span ng-switch-when="Y">YES</span>
                                            <span ng-switch-when="N">NO</span> &nbsp;
                                        </p>
                                    </div>
                                    <div ng-if="keyPersonnel.contactPersonIndex != originalOrg.personnel[$index].contactPersonIndex">
                                        <p class="nextcolor" ng-switch on="originalOrg.personnel[$index].contactPersonIndex">
                                            <span ng-switch-when=""></span>
                                            <span ng-switch-when="Y">YES</span>
                                            <span ng-switch-when="N">NO</span> &nbsp;
                                        </p>
                                        <p class="boxcolor" ng-switch on="keyPersonnel.contactPersonIndex">
                                            <span ng-switch-when=""></span>
                                            <span ng-switch-when="Y">YES</span>
                                            <span ng-switch-when="N">NO</span> &nbsp;
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="keyPersonnel.printFlag == originalOrg.personnel[$index].printFlag">
                                        <p ng-switch on="keyPersonnel.printFlag">
                                            <span ng-switch-when=""></span>
                                            <span ng-switch-when="true">YES</span>
                                            <span ng-switch-when="false">NO</span> &nbsp;
                                        </p>
                                    </div>
                                    <div ng-if="keyPersonnel.printFlag != originalOrg.personnel[$index].printFlag">
                                        <p class="nextcolor" ng-switch on="originalOrg.personnel[$index].printFlag">
                                            <span ng-switch-when=""></span>
                                            <span ng-switch-when="true">YES</span>
                                            <span ng-switch-when="false">NO</span> &nbsp;
                                        </p>
                                        <p class="boxcolor" ng-switch on="keyPersonnel.printFlag">
                                            <span ng-switch-when=""></span>
                                            <span ng-switch-when="true">YES</span>
                                            <span ng-switch-when="false">NO</span> &nbsp;
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="keyPersonnel in deletedPers" bgcolor="42b6da">
                                <td class="text-center">{{keyPersonnel.sequenceNumber}}</td>
                                <!--  <td>{{keyPersonnel.titleMaster.codeValue}}</td> -->
                                <td>{{keyPersonnel.title}}</td>
                                <td>{{showPersonnelName(keyPersonnel)}}</td>
                                <td>{{keyPersonnel.degree}}</td>
                                <td>
                                    <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                    <br>
                                    <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                    <br>
                                    <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                    <br>
                                    <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                    <br>
                                    <strong>Websites</strong>: {{ keyPersonnel.website }}
                                    <br>
                                    <!--  <strong>Social</strong>: {{ keyPersonnel.social }}
                    <br> -->
                                </td>
                                <td>{{ keyPersonnel.contactPersonIndex ? "YES" : (contactPersonIndex.attention === false ? "NO" : "") }}</td>
                                <td>{{ keyPersonnel.printFlag ? "YES" : (keyPersonnel.printFlag === false ? "NO" : "") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
