<section class="{{sections.class}}">
    <div id="mailing-page" class="container">
        <div class="row">
            <div id="animated-example" class="animated fadeInUp">
                <div class="col-md-12">
                    <div class="space-40"> </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-40"> </div>
                    <div class="space-40 visible-xs"> </div>
                    <h1 class="white text-shadow">Create Request For Information</h1>
                </div>
                <div class="space-40"> </div>
            </div>
        </div>
    </div>
</section>
<div class="container" id="createReq" name="createReq">
    <div class="row">
        <div class="col-md-12">
            <div class="space-8"></div>
            <div class="inputbg pdlr">
                <form role="form" name="RequestForInfo"  ng-submit="ClickRequestForInfo()">
                    <div class="orderbgtwo contentxt row">
                        <div class="col-md-6 col-sm-12 col-xs-12 pdlr ">
                            <h3>Create Request For Information </h3> </div>
                    </div>
                    <div class="inputform">
                        <div class="space-6"></div>
                        <div class="row inputlabel">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Your Title
                                        <!-- <span class="meditator">*</span> --></label>
                                    <input type="text" class="form-control" ng-model="addRequestForInfo.title" name="title" id="title">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Your Name<span class="meditator">*</span></label>
                                    <input type="text" class="form-control" ng-model="addRequestForInfo.name.first" name="name" id="name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Your Organization
                                        <!-- <span class="meditator">*</span> --></label>
                                    <input type="text" class="form-control" ng-model="addRequestForInfo.organization" name="organization" id="organization">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Your E-mail<span class="meditator">*</span></label>
                                    <input type="email" class="form-control" ng-model="addRequestForInfo.email" name="email" id="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Vendors
                                        <!-- <span class="meditator">*</span> --></label>
                                    <div ng-repeat="comapnyData in data1" ng-init="comapnyData.data=true">
                                        <input type="checkbox"  
                                        ng-checked="comapnyData.data"
                                        ng-true-value="true"
                                        ng-false-value="false" 
                                        ng-model="comapnyData.data" 
                                        class="css-checkbox"> 
                                        {{comapnyData.companyName}}
                                    </div>
                                     <!-- <div ng-repeat="comapnyData in data">
                                      <input type="checkbox" checklist-model="comapnyData.roles" checklist-value="role.id"> {{comapnyData.companyName}} -->
                                    <!--   <input type="checkbox" data-checklist-model="comapnyData.active" data-checklist-value="comapnyData"> {{role.text}}</div> -->
                                      
                                </div>
                            </div>
                            <!-- <pre>getInfo: {{getInfo | json}} -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Enter your comment(s)/question(s) here:<span class="meditator">*</span></label>
                                    <textarea class="form-control" rows="3" id="comments" ng-model="addRequestForInfo.comments" name="comments" required></textarea>


                                </div>
                            </div>
                        </div>
                        <!--    
                <div class="borderbotm"></div> -->
                        <div class="btnfooter">
                            <!-- <a class="btn btn-color" href="#">SUBMIT</a> -->
                            <button type="submit" class="btn btn-color">SUBMIT</button>
                            <a class="btn btn-cancel" ui-sref="core.products-services">Cancel</a>
                            <b>
                                <div class="orange" align= "left">{{addRequestForInfoMsg}}</div>
                              <!--   <div class="black" align= "left">{{addDatacardMsg1}}</div> -->
                            </b>
                            <!-- <br>
                            <br>
 -->
                        </div>
                </form>
                </div>
            </div>
            <!-- <div class="col-md-3">
              <div class="">
                  <h3>Request a Data Card</h5>
             </div>  -->
        </div>
    </div>
</div>
<div class="space-40"></div>
