<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Listing Type":"Listing Type")}}</h4>
</div>
<form ng-submit="editFlag ? update() : add()" name="listingTypeForm">
    <div class="abc">
        <div class="widget-body ">
            <div class="modal-body ">
                <div class="form-group">
                 <div class="form-group " ng-class="{ 'has-error': listingTypeForm.type.$touched && listingTypeForm.type.$invalid }">
                        <label>Listing Type<span class="meditator">*</span></label>
                        <ui-select ng-model="listingType.listing" name="type" on-select="changeSectionType($item)" required>
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisListingType in (listingTypeArray | filter: $select.search) track by thisListingType._id">
                                <span ng-bind="thisListingType.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block" ng-messages="listingTypeForm.type.$error" ng-show="listingTypeForm.type.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div>
                    <!-- <div class="form-group " ng-class="{ 'has-error': listingTypeForm.type.$touched && listingTypeForm.type.$invalid }">
                        <label>Listing Type<span class="meditator">*</span></label>
                        <ui-select ng-model="listingType.listing" name="type"  required>
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisListingType in (listingTypeArray | filter: $select.search) track by thisListingType._id">
                                <span ng-bind="thisListingType.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block" ng-messages="listingTypeForm.type.$error" ng-show="listingTypeForm.type.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div> -->
                    <!--  <div class="form-group ">
                       <label>Listing Name</label>
                      
                       <label class="lbl" ng-model="listingType.listingName" ng-bind="$select.selected.codeValue"  >
                       </label>
                                         </div> -->
                   
                    <div class="form-group ">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="listingType.listingActive">
                            <span class="lbl"><strong class="radiospace"> Listing Active</strong></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="listingTypeForm.$invalid || loading">
                    <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                </button>
                <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
            </div>
        </div>
</form>
