<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: General</h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h4 class="addnewt container">General Details</h4>
            <div class="form-group col-md-4">
                <label class="h5 bold">Sequence No.</label>
                <p class=".h5">{{keyPersonnel.sequenceNumber}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Personnel ID</label>
                <p class=".h5">{{keyPersonnel.employee_id}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Title</label>
                <p class=".h5">{{keyPersonnel.titleMaster.codeValue}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 bold">Prefix</label>
                <p class=".h5">{{keyPersonnel.name.prefix}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">First Name</label>
                <p class=".h5">{{keyPersonnel.name.first}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Middle Name</label>
                <p class=".h5">{{keyPersonnel.name.middle}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 bold">Last Name</label>
                <p class=".h5">{{keyPersonnel.name.last}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Suffix</label>
                <p class=".h5">{{keyPersonnel.name.suffix}}</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <h4 class="addnewt container">Contact Details</h4>
            <div class="form-group col-md-4">
                <label class="h5 bold">Phone No.</label>
                <p class=".h5">{{keyPersonnel.phoneNumbers}}</p>
            </div>
            <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.primaryEmail.$touched && keypersonnelForm.primaryEmail.$invalid}">
                <label class="h5 bold">Primary Email</label>
                <p class=".h5">{{keyPersonnel.email.primary}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Websites</label>
                <p class=".h5">{{keyPersonnel.website}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="h5 bold">Fax</label>
                <p class=".h5">{{keyPersonnel.faxNumbers}}</p>
            </div>
            <div class="form-group col-md-4">
                <label class="h5 bold">Secondary Email</label>
                <p class=".h5">{{keyPersonnel.email.secondary}}</p>
            </div>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="h5 boldfont">
                        <i class="fa" ng-class="keyPersonnel.printFlag ? 'fa-check' : 'fa-remove'"></i> </label>
                    <label class="lbl"><strong class="radiospace">Consider for Directory Print</strong>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">
                        <i class="fa" ng-class="keyPersonnel.deletedFlag ? 'fa-check' : 'fa-remove'"></i> </label>
                    <label class="lbl"><strong class="radiospace">Deleted</strong>
                </div>
            </div>
        </div>
    </div>
</div>
