<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Officer</h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h4 class="addnewt container">Officer Details</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Officer Name</th>
                        <th>Listing Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cfsOfficers in keyPersonnel.officers" ng-if="!cfsOfficers.deleted" ng-class="{'selectedRow': $index == newcfsOfficersIndex}">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{cfsOfficers.OfficerTypeName}}</td>
                        <td>{{cfsOfficers.listingTypeName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
