<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Member":"Member")}}</h4>
</div>
<form ng-submit="editFlag ? update() : add()" name="memberForm">
    <div class="abc">
        <div class="widget-body ">
            <div class="modal-body ">
                <div class="form-group">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="members.name">
                    </div>
                    <div class="form-group " ng-class="{ 'has-error': memberForm.type.$touched && memberForm.type.$invalid }">
                        <label>Listing Type<span class="meditator">*</span></label>
                        <ui-select ng-model="members.listingType" name="type" on-select="changeSectionType($item)" required>
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisListingType in (listingTypeArray | filter: $select.search) track by thisListingType._id">
                                <span ng-bind="thisListingType.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block" ng-messages="memberForm.type.$error" ng-show="memberForm.type.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="members.active">
                            <span class="lbl"><strong class="radiospace">Active</strong></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="memberForm.$invalid || loading">
                    <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                </button>
                <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
            </div>
        </div>
</form>
