<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Feature":"Feature")}}</h4>
</div>
<form ng-submit="editFlag ? update() : add()" name="featureForm">
    <div class="abc">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': featureForm.type.$touched && featureForm.type.$invalid }">
                    <label for="pwd">Type<span class="meditator">*</span>
                    </label>
                    <ui-select ng-model="feature.featureType" name="type" on-select="changeFeatureType($item)" required>
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeType"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisFeatureType.codeType as thisFeatureType in (featureTypeArray | filter: $select.search) track by thisFeatureType._id">
                            <span ng-bind="thisFeatureType.codeType"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="help-block" ng-messages="featureForm.type.$error" ng-show="featureForm.type.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label> Feature</label>
                    <ui-select ng-model="feature.code" name="feature">
                        <ui-select-match placeholder="Select">
                            <span ng-bind="$select.selected.codeValue"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="thisFeatureCode in (featureCodeArray | filter: $select.search) track by thisFeatureCode._id">
                            <span ng-bind="thisFeatureCode.codeValue"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="feature.name"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="featureForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</form>
