<!-- end #top -->
<!-- <div class="space-40"></div> -->
<!-- <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" id="{{section.sectionName}}" class="{{section.class}}">

    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div  data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="mailing-page">
                    <div class="row">
                        <div id="animated-example" class="animated fadeInUp">
                            <div class="col-md-12">
                                <div class="space-40"> </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="space-40"> </div>
                                <div class="space-40 visible-xs"> </div>
                                <h1 class="white">{{section.sectionHeader}}</h1>
                            </div>
                            <div class="space-40"> </div>
                        </div>
                    </div>
                </div>
  			</div>
        </div>
    </div>
</section> -->
<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="mailing">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="space-18"></div>
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <!-- space-18-->
                    <div data-ng-switch-when="space-18">
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <div class="space-8"></div>
                        <h6 class="text-left black" ng-bind-html="section.sectionDescription1 | html"></h6>
                        <h6 class="text-left black">{{section.sectionDescription2}}</h6>
                        <div class="space-20"></div>
                        <div class="col-md-2 text-center bx" ng-repeat="subData in section.subData | orderBy:'sequenceNo'">
                            <div class="row"><span class="{{subData.class}}"> {{subData.count}}</span> <span class="{{subData.class1}}">{{subData.name}}</span> </div>
                        </div>
                        <h6 class="text-left black">{{section.sectionDescription3}}</h6>
                        <div class="space-8"></div>
                        <h6 class="text-left black">{{section.sectionDescription4}}</h6>
                        <div class="space-20"></div>
                        <div data-ng-switch-when="space-18"></div>
                    </div>
                    <!-- space-18-->
                    <!-- mailing-page 1-->
                    <div data-ng-switch-when="mailing-page1">
                        <div class=" clearfix"> </div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}
			               </h4>
                        <h6 class="text-left black"><b>{{section.contacts[0].address1}} <br/>
							{{section.contacts[0].phone1}} <br/>
							{{section.contacts[0].phone2}}<br/>
					
							<a ng-href="{{section.contacts[0].email}}" class="blue" >{{section.contacts[0].email}}</a>
							</b>
							</h6>
                    </div>
                    <!-- mailing-page 1-->
                    <!-- mailing-page -->
                    <div data-ng-switch-when="mailing-page">
                        <div class="space-20"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}
			               </h4>
                        <h6 class="text-left black">{{section.sectionDescription1}}</h6>
                        <div class="space-10"></div>
                        <a class="btn btn-sales" ui-sref="{{section.buttonLink}}({navigateTo:'#mailing-page', navigatePosition : 50})">{{section.buttonTitle}}</a>
                    </div>
                    <!-- mailing-page -->
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="space-40"> </div>
