<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form name="securityQuestionForm" ng-submit="update()">
            <div class="form-group" ng-class="{ 'has-error': securityQuestionForm.question.$touched && securityQuestionForm.question.$invalid }">
                <label>Question</label>
                <input type="text" class="form-control" name="question" ng-model="securityQuestion.question" required validate-is-security-question-unique except-security-question-id="{{ securityQuestion._id }}">
                <div class="help-block" ng-messages="securityQuestionForm.question.$error" ng-show="securityQuestionForm.question.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsSecurityQuestionUnique"><b>{{securityQuestion.question}}</b> already exists</p>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="active" ng-model="securityQuestion.active"> Active
                </label>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="securityQuestionForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>
