<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">To-do List</h3>
    </div>
    <div class="box-body">
        <div class="box-body no-padding">
            <form ng-submit="save()">
                <div class="input-group">
                    <input type="text" ng-model="todo.task" required placeholder="To-do Item..." class="form-control">
                    <span class="input-group-btn"><button type="submit" class="btn btn-sm btn-warning btn-flat"><i class="fa fa-plus"></i></button></span>
                </div>
            </form>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li ng-if="todoList.length > 0" ng-repeat="todoItem in todoList">
                    <div class="row">
                        <div class="col-xs-1 text-center">
                            <label class="position-relative">
                                <input type="checkbox" class="ace" ng-model="todoItem.completed" ng-change="complete(todoItem)" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <div class="col-xs-10">
                            <a href="javascript:void(0)" ng-click="edit(todoItem)" title="Click to edit" ng-if="!todoItem.completed">{{ todoItem.task }}</a>
                            <del ng-if="todoItem.completed">{{ todoItem.task }}</del>
                        </div>
                        <div class="col-xs-1 text-center">
                            <a href="javascript:void(0)" ng-click="remove(todoItem)" class="text-danger"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                <li ng-if="todoList.length == 0" class="hidden">
                    <p class="lead text-center text-danger">
                        <i class="fa fa-bell"></i> All caught up...
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="overlay" ng-if="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
