<section class="module parallax-in parallax-mailing-list-banner01">
         <div id="mailing-page" class="container">
            <div class="row">
      
      <div id="animated-example" class="animated fadeInUp">
                  <div class="col-md-12">
                     <div class="space-40"> </div>
                  </div>
                  <div class="col-md-12 text-center">
                     <div class="space-40"> </div>
                     <div class="space-40 visible-xs"> </div>
                     <h1 class="white">Terms of Use</h1>
                  </div>
                  <div class="space-40"> </div>
               </div>

            </div>
         </div>
      </section>
<div id="mailing-page" class="container">
<div class="row">
<div class="col-md-9">
<div class="space-18"></div>
<h5 class="text-left dark-orange">Terms of Use </h5>
<div class="space-8"></div>
<h6 class="text-left black"><strong>TO USE THE <a href="#">OFFICIALMUSEUMDIRECTORY.COM</a> WEB SITE (THE "WEB SITE"), YOU MUST AGREE TO BE BOUND BY THESE TERMS   AND CONDITIONS OF USE. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS   AND CONDITIONS OF USE, YOU MUST NOT USE OR MUST IMMEDIATELY TERMINATE   YOUR USE OF THIS WEB SITE.</strong></h6>
<div class="space-8"></div>
<div class="ac-container">
<ul>
<li>
  <p><strong>Purpose of Web Site.</strong><br>
    The Web Site is a service made available by Marquis Who's Who LLC ("MWW", which for purposes of these Terms and Conditions includes any MWW parents, subsidiaries and affiliates). Although care has been taken to provide accurate and current information, MWW makes no representations or warranties of any kind concerning the information.</p>
</li>
<li><strong>Searchable Listings</strong><br>
  The Web Site contains a searchable directory (the "Database") of institutional listings of museums, zoos, planetariums, art galleries, aquariums, and other cultural/historic learning centers featured in The Official Museum Directory publication. The information in the Database is provided by the institutions (the "Listees"). MWW does not warrant the validity of the Listees' information. All users of the Web Site are encouraged to make their own independent investigation and evaluation of any information contained in the Web Site.
  </p>
</li>
<li><strong>Limited License; Permitted Uses.</strong><br>
  You are granted a non-exclusive, non-transferable, revocable license to access and use the Web Site strictly in accordance with these Terms and Conditions. If your use of the Web Site includes a subscription to access and use the Database, you and the employees and other users to whom you are authorized to provide access to the Database at the Licensed Locations identified in your Order Form (collectively, "Authorized Users"), are granted a non-exclusive, non-transferable, revocable license
  <ul>
    <li> to use the information in the Database solely for business information, research and educational purposes and </li>
    <li> to print out or copy discrete insubstantial portions of information from the Database solely in conjunction with those uses and for professional writings provided that proper attribution is provided and all copyright and other notices contained therein are maintained.</li>
  </ul>
  </p>
</li>
<li><strong>Restrictions and Prohibitions on Use.</strong><br>
  The license to access and use the Web Site and/or Database also is subject to the following restrictions and prohibitions on use. You and any Authorized Users may not
  <ul>
    <li> except for the express limited purposes permitted by paragraph 3, above, print, copy, republish, display, transmit, distribute, sell, rent, lease, loan or otherwise make available in any form or by any means all or any portion of the Web Site, Database or any information or materials retrieved therefrom; </li>
    <li>use the Database or any other materials from the Web Site to develop, or as a component of, an information storage and retrieval system, database, infobase, or similar information resource (in any media now existing or hereafter developed), that is offered for commercial distribution of any kind, including through sale, license, lease, rental, subscription, or any other commercial distribution mechanism;</li>
    <li>create compilations or derivative works of the Database or any other materials from the Web Site; </li>
    <li> use the Database or any other materials from the Web Site in any manner that may infringe any copyright, intellectual property right, proprietary right, or property right of MWW or any third parties;</li>
    <li> remove, change, or obscure any copyright notice or other proprietary notice or terms of use contained in the Web Site; </li>
    <li> make any portion of the Web Site or Database available through any timesharing system, service bureau, the Internet, or any other technology now existing or developed in the future;</li>
    <li>remove, disable, defeat or change any functionality or appearance of the Web Site;</li>
    <li>decompile, disassemble or reverse engineer any Web Site software or use any network monitoring or discovery software to determine the site architecture; </li>
    <li> use any automatic or manual process to crawl the Web Site or harvest information from the Web Site or Database;</li>
    <li> use the Web Site or Database for the purpose of gathering information for or transmitting email that makes use of MWW's names or trademarks, including in connection with invalid or forged headers, invalid or nonexistent domain names, or other means of deceptive addressing;</li>
    <li> use the Web Site or Database in a manner that violates any state or federal law regulating commercial email, facsimile transmissions or telephone solicitations, or use any of the information on the Web site or Database for the purpose of transmitting unsolicited commercial email; and</li>
    <li>export or re-export the Web Site or any portion thereof, or any software available on or through the Web Site, in violation of the export control laws and regulations of the United States.</li>
  </ul>
  </p>
</li>
<li><strong>No Advice or Recommendations.</strong><br>
  Information contained in the Web Site is not intended to and does not constitute advice or recommendations of any kind, and no professional relationships requiring confidentiality are formed by using any features that might be made available on the site. Nothing submitted to this Web Site is treated as confidential.
  </p>
</li>
<li><strong>Intellectual Property Rights. </strong><br>
  Except for the limited license contained in paragraph 3 above, nothing in these Terms and Conditions grants or should be construed to grant any licenses or rights, by implication, estoppel or otherwise, under copyright or other intellectual property rights. All right, title and interest (including all copyrights, trademarks, service marks, patents and other intellectual property rights) in this Web Site and the Database and other content belong to MWW, its licensors, or Listees, as applicable.
  </p>
</li>
<li><strong>Electronic Commerce. </strong><br>
  The content on this Web Site, including but not limited to, the Database, and other resources and information, is for use only in accordance with paragraph 3 above. Notwithstanding the foregoing, to the extent this Web Site provides any other purchasing opportunities through electronic commerce, such buying opportunities may be made available for group as well as personal purchasing according to any particular additional terms thereof and so long as you are authorized to make purchases on behalf of such group.
  </p>
</li>
<li><strong>No Solicitation</strong><br>
  There shall be no distribution on or through the Web Site or to any persons or entities identified via the Web Site of any content or material containing solicitations or advertising of any kind without the express prior written permission of MWW.
  </p>
</li>
<li><strong>Postings.</strong><br>
  You agree not to post, publish, upload or distribute any messages, data, information, text, graphics, links or other material which are unlawful or abusive in any way, including but not limited to any Postings that are defamatory, pornographic, obscene, threatening, invasive of privacy or publicity rights, inclusive of hate speech, or would constitute or encourage a criminal offense, violate the rights of any party, or give rise to liability or violate any local, state, federal or international law, or the regulations of the U.S. Securities and Exchange Commission, any rules of any securities exchange such as the New York Stock Exchange, the American Stock Exchange, or the NASDAQ, either intentionally or unintentionally. MWW may delete postings at any time for any reason without permission. Participants shall not misrepresent their identity or their affiliation with any person or entity.
  </p>
</li>
<li><strong>Digital Millennium Copyright Act - Notification of Alleged Copyright Infringement.</strong><br>
  MWW has registered an agent with the United States Copyright Office in accordance with the terms of the Digital Millennium Copyright Act (the "Act") and avails itself of the protections under the Act. MWW reserves the right to remove any content or links that allegedly infringe another person's copyright. MWW will terminate, in appropriate circumstances, any subscriber or user accounts that might exist with respect to MWW's system or network who are repeat offenders of another's copyrights. Notices to MWW regarding any alleged copyright infringement should be directed to the General Counsel's Office, Attn: <a href="mailto:legalnotices@marquiswhoswho.com">legalnotices@marquiswhoswho.com</a> .
  </p>
</li>
<li><strong>License of Your Content to Provider.</strong><br>
  The uploading of content to or submission of any materials for use on the Web Site grants (or warrants that the owner of such rights has expressly granted) MWW a perpetual, royalty-free, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from and distribute such materials or incorporate such materials into any form, medium, or technology now known or later developed throughout the universe.
  </p>
</li>
<li><strong>Linking to the Web Site.</strong><br>
  You may provide links only to the homepage of this Web Site, provided (a) you do not remove or obscure, by framing or otherwise, advertisements, the copyright notice, or other notices on the Web Site, (b) you give MWW notice of such link by sending an e-mail to <a href="mailto:legalnotices@marquiswhoswho.com">legalnotices@marquiswhoswho.com</a> and (c) you discontinue providing links to this Web Site immediately upon request by MWW. If you wish to provide links to a section within the Web Site, you should forward your request to MWW at <a href="mailto:legalnotices@marquiswhoswho.com">legalnotices@marquiswhoswho.com</a> .
  </p>
</li>
<li><strong>Advertisers.</strong><br>
  This Web Site may contain advertising and sponsorship. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the Web Site is accurate and complies with applicable laws. MWW will not be responsible for the legality of, or any error or inaccuracy in, any advertiser or sponsor's materials.
  </p>
</li>
<li><strong>Registration.</strong><br>
  In any sections of this Web Site requiring registration or the submission of information, parties agree to provide accurate, complete information. Registration must be done using real names and accurate information, even if any feature permits anonymous postings or the like. Each registration is for personal use only, unless specifically designated otherwise on the registration page. Unless expressly permitted in writing, MWW does not permit (a) any other person using the registered sections under another party's name; or (b) access through a single name being made available to multiple users on a network. Users are responsible for preventing unauthorized use. MWW must be notified of unauthorized use immediately by emailing <a href="mailto:registration@marquiswhoswho.com">registration@marquiswhoswho.com</a>
  </p>
</li>
<li><strong>Errors and Corrections.</strong><br>
  MWW does not represent or warrant that the Web Site will be error-free, free of viruses or other harmful components, or that defects will be corrected. MWW may make improvements and/or changes to its features, functionality or content of the Web Site at any time.
  </p>
</li>
<li><strong>Third-Party Content. </strong><br>
  Third-party content may appear on this Web Site or may be accessible via links from this Web Site. MWW is not responsible for and assumes no liability for any mistakes, defamation, omissions, falsehood, obscenity, pornography or profanity in the statements, opinions, representations or any other form of content contained in any third-party content appearing on the Web Site. You understand that the information and opinions in the third-party content represent solely the thoughts of the author and are neither endorsed by nor do they reflect the belief of MWW.
  </p>
</li>
<li><strong>DISCLAIMER.</strong><br>
  THE WEB SITE IS PROVIDED ON AN "AS IS " BASIS. MWW EXPRESSLY DISCLAIMS ALL WARRANTIES, INCLUDING THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. MWW DISCLAIMS ALL RESPONSIBILITY FOR ANY LOSS, INJURY, CLAIM, LIABILITY, OR DAMAGE OF ANY KIND RESULTING FROM, ARISING OUT OF OR IN ANY WAY RELATED TO (A) ANY ERRORS IN OR OMISSIONS FROM THIS SITE AND ITS CONTENT, INCLUDING BUT NOT LIMITED TO TECHNICAL INACCURACIES AND TYPOGRAPHICAL ERRORS, (B) ANY THIRD PARTY WEB SITES OR CONTENT THEREIN DIRECTLY OR INDIRECTLY ACCESSED THROUGH LINKS IN THIS SITE, INCLUDING BUT NOT LIMITED TO ANY ERRORS IN OR OMISSIONS THEREFROM, (C) THE UNAVAILABILITY OF THIS SITE OR ANY PORTION THEREOF, (D) YOUR USE OF THIS SITE, OR (E) YOUR USE OF ANY EQUIPMENT OR SOFTWARE IN CONNECTION WITH THIS SITE.
  </p>
</li>
<li><strong>LIMITATION OF LIABILITY AND DAMAGES.</strong><br>
  MWW SHALL NOT BE LIABLE FOR ANY LOSS, INJURY, CLAIM, LIABILITY, OR DAMAGE OF ANY KIND RESULTING FROM YOUR USE OF THE WEB SITE. MWW SHALL NOT BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER (INCLUDING, WITHOUT LIMITATION, ATTORNEYS' FEES) IN ANY WAY DUE TO, RESULTING FROM, OR ARISING IN CONNECTION WITH (A) THE USE OF OR INABILITY TO USE THE WEB SITE OR THE CONTENT; AND (B) YOUR PARTICIPATION IN ANY CHAT ROOMS, MESSAGE BOARDS OR EMAIL FORUMS THAT MIGHT BE MADE AVAILABLE. TO THE EXTENT THIS LIMITATION ON LIABILITY IS PROHIBITED, MWW SOLE OBLIGATION TO YOU FOR DAMAGES SHALL BE LIMITED TO $100.00.
  </p>
</li>
<li><strong>Unlawful Activity.</strong><br>
  MWW reserves the right to investigate complaints or reported violations of our Terms and Conditions of Use and to take any action we deem appropriate, including but not limited to, reporting any suspected unlawful activity to law enforcement officials, regulators, or other third parties and disclosing any information necessary or appropriate to such persons or entities relating to your profiles, e-mail addresses, usage history, posted materials, IP addresses and traffic information.
  </p>
</li>
<li><strong>Indemnification. </strong><br>
  You and Authorized Users are solely liable for any content, messages or other information you transmit, provide or upload to the Web Site. You agree to indemnify and hold harmless MWW from any third party claim, action, demand, loss, or damages (including attorney's fees and costs) arising out of or relating to your or one of your Authorized User's violation of these Terms and Conditions, improper or unauthorized use of the Web Site, or violation of any rights of a third party.
  </p>
</li>
<li><strong>Remedies for Violations.</strong><br>
  MWW reserves the right to seek all remedies available at law and in equity for violations of these Terms and Conditions, including but not limited to the right to block access from a particular Internet address to any of MWW's or its affiliates' Web Sites and their features.
  </p>
</li>
<li><strong>Governing Law, Jurisdiction and Non-Waiver.</strong><br>
  These Terms and Conditions of Use are governed by and construed in accordance with the laws of the State of New Jersey and any action arising out of or relating to these terms shall be filed only in state or federal courts located in New Jersey and you hereby consent and submit to the personal jurisdiction of such courts for the purpose of litigating any such action. The failure of either party to enforce any rights hereunder shall not constitute a waiver of any terms or conditions of these Terms and Conditions of Use.
  </p>
</li>
<li><strong>Privacy.</strong><br>
  Your use of the Web Site is also subject to MWW's Privacy Policy, which you link to by clicking here: <a href="privacy-policy.html">Privacy Policy</a>.
  </p>
</li>
<li><strong>Severability of Provisions.</strong><br>
  These Terms and Conditions incorporate by reference all order forms, notices and disclaimers contained on or concerning the Web Site and constitute the entire agreement with respect to access to and use of the Web Site and Database. If any provision of these Terms and Conditions is found unlawful, void or unenforceable, then that provision shall be deemed severable from the remaining provisions and shall not affect their validity and enforceability.
  </p>
</li>
<li><strong>Modifications to Terms of Use.</strong><br>
  MWW reserves the right to change these Terms and Conditions upon notice provided by electronic means as a condition to reentry to the Web Site or by email or regular mail sent to any address provided in an Order Form. Your use of the Web Site after notification of revised Terms and Conditions constitutes your consent to such changes.
  </p>
</li>
</div>
</div>
<div class="col-md-3">
                      <div class="space-18"></div>
                        <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                        <div class="space-18"></div>
                    </div>
</div>
</div>
<div class="space-40"> </div>
