<!-- end #top -->
<!-- <div class="space-40"></div> -->
<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div data-ng-switch on="section.sectionName">
            <div data-ng-switch-when="ocd_sales">
                <div class="row">
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="col-md-12">
                            <div class="space-40"> </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"> </div>
                            <div class="space-40 visible-xs"> </div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"> </div>
                    </div>
                </div>
            </div>
            <div data-ng-switch-when="cfs_sales">
                <div class="row">
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="col-md-12">
                            <div class="space-40"> </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"> </div>
                            <div class="space-40 visible-xs"> </div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container backgroud-white">
    <div class="row">
        <div class="col-md-9">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="clearfix">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="mailing-page">
                        <div class="space-18"></div>
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <div class="space-10"></div>
                        <div class="{{features.panelClass}}" ng-repeat="features in section.featuresData">
                            <ul>
                                <li ng-repeat="feature in features.panelData | orderBy:'sequenceNo'">
                                    <b>{{feature.featureDetail}}</b>
                                </li>
                            </ul>
                        </div>
                        <div class="space-10"></div>
                    </div>
                    <!-- package Start  -->
                    <div data-ng-switch-when="sales">
                        <div ng-if="section.directoryId != '57189cd924d8bc65f4123bc3' && section.directoryId != '57189b3e24d8bc65f4123bbf'">
                            <div class="space-10"></div>
                            <div class="border-bottom"></div>
                            <div ng-repeat="package in section.package | orderBy:'sequenceNo'">
                                <div class="customer-content-inside">
                                    <h5 class="blue">{{package.packageName}}</h5>
                                    <div class="space-4"> </div>
                                    <h6 class="text-left grey">{{package.packageDescription}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="Section3">
                        <div class="space-18"></div>
                        <h5 class="text-left orange">{{section.sectionHeader}}</h5>
                        <div class="space-8"></div>
                        <div ng-repeat="x in section.table | orderBy:'sequenceNo'">
                            <a ng-click="showHide(x)" class="list-group-item style-accordian" data-toggle="collapse" ng-class="{active:x.toggle}"><i class="fa fa-caret-down pull-right"></i>{{x.heading}} </a>
                            <div class=" list-group panel pad" ng-class="{show:x.toggle}">
                                <div class="space-7"></div>
                                <div ng-if="x.description2 != ''">
                                    <div class="style-change-accod" ng-bind-html="x.description2 | html" aria-hidden="false"></div>
                                </div>
                                <div class="space-10"></div>
                            </div>
                        </div>
                        <!-- <uib-accordion close-others="oneAtATime" class="list-group panel">
                            <div uib-accordion-group class="list-group-item style-accordian" heading="{{feature.heading}}" ng-repeat="feature in section.table | orderBy:'sequenceNo'">
                                <div ng-if="feature.description2 != ''" class="collapse inner-style">
                                    <div class="style-change-accod" ng-bind-html="feature.description2 | html" aria-hidden="false"></div>
                                </div>
                            </div>
                        </uib-accordion> -->
                        <!--     <accordion class="accordion" close-others="oneAtATime">
        <accordion-group  ng-repeat="group in groups" is-open="status.isOpen[$index]" >
            <accordion-heading>
                {{group.heading}}
                <i class="fa chevron-icon" ng-class="{'fa-chevron-down': status.isOpen[$index], 'fa-chevron-right': !status.isOpen[$index]}"></i>
            </accordion-heading>
            <div ng-if="group.description2 != ''" class="collapse inner-style">
                <div class="style-change-accod" ng-bind-html="group.description2 | html" aria-hidden="false"></div>
            </div>
        </accordion-group>
    </accordion> -->
                        <!--   <accordion close-others="oneAtATime">
    <div accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </div>
  </accordion> -->
                        <div class="space-10"></div>
                        <!-- <div class="border-bottom"></div> -->
                        <div class="space-10"></div>
                    </div>
                    <!-- <div data-ng-switch-when="Section3">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="space-18"></div>
                                <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                                <div class="space-10"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="MainMenu">
                                            <div class="list-group panel">
                                                <a href="#demo3" class="list-group-item style-accordian" data-toggle="collapse" data-parent="#MainMenu">{{heading}}<i class="fa fa-caret-down pull-right"></i></a>
                                                <div class="collapse inner-style" id="demo3">
                                                    <div ng-repeat="x in section.table | orderBy:'sequenceNo'">
                                                        <div class="style-change-accod" ng-bind-html="x.description2 | html"></div>
                                                        <div class="space-10"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- package Start  -->
                    <!-- <div data-ng-switch-when="sales">
                        <div class="space-10"></div>
                        <div class="border-bottom"></div>
                        <div ng-repeat="package in section.package | orderBy:'sequenceNo'">
                            <div class="customer-content-inside">
                                <h5 class="blue">{{package.packageName}}</h5>
                                <div class="space-4"> </div>
                                <h6 class="text-left grey">{{package.packageDescription}}</h6>
                            </div>
                        </div>
                    </div> -->
                    <div data-ng-switch-when="sales-bx-title1">
                        <h5 class="text-left orange">Ways to Order:</h5>
                        <div id="ways" class="space-10"></div>
                        <div class="sales-bx-title">{{section.sectionHeader}}</div>
                        <div class="sales-bx box-flex-one clearfix">
                            <div class="col-md-6 col-xs-12 order-panel" ng-if="direcoryName =='CFS' || direcoryName == 'AAD' || direcoryName == 'DMMP' || direcoryName == 'OCD' " ng-repeat="features in section.featuresData | orderBy:'sequenceNo'">
                                <h5 class="blue text-left" ng-bind-html="features.featureDetail | html">  </h5>
                                <br>
                                <!-- <br ng-if="features.featureDetail !=section.package[$index].packageName"> -->
                                <a class="btn btn-sales mgbottom" ui-sref="core.subscription({ navigateTo: '#subscriptionForm', navigatePosition : 50, packageName: section.package[$index].packageName })"> {{features.buttonTitle}}</a>
                                <div class="space-10 visible-xs"></div>
                            </div>
                            <div class="col-md-12" ng-if="direcoryName == 'OMD'">
                                <div ng-repeat="features in section.featuresData | orderBy:'sequenceNo'">
                                    <div class="col-md-4">
                                        <h5 class="blue text-left" ng-bind-html="features.featureDetail | html">  </h5>
                                        <br>
                                    </div>
                                    <!-- <br ng-if="features.featureDetail !=section.package[$index].packageName"> -->
                                </div>
                                <div ng-repeat="features in section.featuresData | orderBy:'sequenceNo'">
                                    <div class="col-md-3" ng-if="features.featureDetail=='Print Version'">
                                        <a class="btn btn-sales mgbottom" ui-sref="core.subscription({ navigateTo: '#subscriptionForm', navigatePosition : 50, packageName: section.package[$index].packageName })"> {{features.buttonTitle}}</a>
                                    </div>
                                    <div class="col-md-9 text-center" ng-if="features.featureDetail=='Online Version'">
                                        <span ng-bind-html="features.contactInfo | html"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="sales-bx-title2">
                        <div class="space-10"></div>
                        <div class="sales-bx-title">{{section.sectionHeader}} </div>
                        <div class="sales-bx clearfix">
                            <div class="col-md-4 col-xs-12 " ng-repeat="features in section.featuresData | orderBy:'sequenceNo'">
                                <h5> <a class="blue text-left" href="mailto:{{features.featureDetail}}">  {{features.featureDetail}}</a></h5>
                                <!--   <a 
                                    class="btn btn-sales mgbottom" 
                                    ui-sref="core.subscription({ 'navigateTo': '#subscriptionForm', packageName: section.package[$index].packageName })"> 
                                    {{features.buttonTitle}}
                                    </a> -->
                                <div class="space-20"></div>
                            </div>
                            <div class="col-md-12">{{section.sectionDescription1}}</div>
                        </div>
                    </div>
                    <div data-ng-switch-when="sales-bx-title3">
                        <div class="space-10"></div>
                        <div class="sales-bx-title">{{section.sectionHeader}}</div>
                        <div class="sales-bx clearfix">
                            <div class="col-md-12"> {{section.sectionDescription1}}
                            </div>
                            <!-- track by $index -->
                            <div class="col-md-5 col-lg-5" ng-repeat="features in section.featuresData  | orderBy:'sequenceNo' ">
                                <h5 class="blue text-left">  {{features.featureDetail}}</h5>
                                <div class="space-10"></div>
                                <a ng-if="features.buttonTitle != ''" class="btn btn-sales" href="{{features.buttonLink}}" target="_blank">{{features.buttonTitle}}</a>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="sales-bx-title4">
                        <div class="space-10"></div>
                        <div class="sales-bx-title">{{section.sectionHeader}} </div>
                        <div class="sales-bx clearfix">
                            <div class="col-md-12" ng-repeat="features in section.featuresData | orderBy:'sequenceNo'">
                                <h5 class="blue">  {{features.featureDetail}}</h5>
                                <div class="space-10"></div>
                            </div>
                        </div>
                        <div class="space-18"></div>
                    </div>
                    <!-- <div data-ng-switch-when="rowsubscribe">
                        <div class="space-10"></div>
                        <div class="sales-bx-title">{{section.sectionHeader}} </div>
                        <div class="sales-bx clearfix">
                            <div class="cycle-slideshow">
                              
                                <div class="slideshow" cycle>
                                    <div ng-repeat="images in section.images">
                                        <h3>{{images.name}}</h3>
                                        <img ng-src="{{images.path}}" alt="">
                                    </div>
                                </div>
                               
                                <div class="cycle-control">
                                    <a href="#" class="prev">Next</a>
                                    <a href="#" class="next">Prev</a>
                                </div>
                            </div>
                        </div>
                        <div class="space-18"></div>
                    </div> -->
                    <div data-ng-switch-when="rowsubscribe">
                        <div class="space-10"></div>
                        <h5 class="sales-bx-title">{{section.sectionHeader}}</h5>
                        <div class="sales-bx clearfix">
                            <div class="col-md-12">
                                <div class="cycle-slideshow">
                                    <div class="bx-viewport">
                                        <div class="slideshow" cycle>
                                            <div ng-repeat="images in section.images">
                                                <h3>{{images.name}}</h3>
                                                <img ng-src="{{images.path}}" alt="" class="img-margin">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cycle-control img-top-margin">
                                        <a href="#" class="prev">Next</a>
                                        <a href="#" class="next">Prev</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-18"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-3">
         <div class="space-18"></div>
         
         <div class="tabbable" >
                       <ul class="nav nav-tabs responsive-tabs">
                           <li  class="active">
                             <a href="#panel-1">
                                UPCOMING <br class="hidden-xs">EVENTS
                             </a>
                     <a href="#panel-1">
                      <div class="space-4"> </div>
                                NEWS
                             </a>
                          </li>
                  
                          <li>
                             <a href="#panel-2">
                     ARCHIVE & REFLECTIONS
                             </a>
                          </li>
                 
                       </ul>
                       <div class="tab-content">
                          
                          <div class="tab-pane active" id="panel-1">

                     
                     <a href="spotlight-on-churches.html">
                     <div class="tab-content-txt">The Cathedral of the Immaculate Conception,
                    Memphis, TN 
                    <span> 02 December, 2010</span>
                    </div>
                    </a>
                    
                     <a href="spotlight-on-churches.html">
                     <div class="tab-content-txt">Blessed Sacrament Cathedral,
                    Greensburg, PA
                    <span> 14 September, 2010</span>
                    </div>
                    </a>
                    
                    <a href="spotlight-on-churches.html">
                     <div class="tab-content-txt">Cathedral of the Incarnation,
                    Nashville, TN 
                    <span> 16 August, 2010</span>
                    </div>
                    </a>
                           
                   <a class="btn btn-events" href="catholic-news.html"> SEE ALL </a>
                          </div>
                  <div class="tab-pane" id="panel-2">
                             
                     <a href="archive-reflections.html">
                     <div class="tab-content-txt">BENEDICT XVI RECALLS HIS TRIP TO THE HOLY LAND
                    <span> 20 May, 2009</span>
                    </div>
                    </a>
                    
                    <a href="archive-reflections.html">
                     <div class="tab-content-txt">REFLECTIONS – PAPAL VISIT TO THE HOLY LAND
                    <span> 18 May, 2009</span>
                    </div>
                    </a>
                    
                    <a href="archive-reflections.html">
                     <div class="tab-content-txt">DAY 3 OF THE “PILGRIMAGE OF PEACE”
                    <span> 13 May, 2009</span>
                    </div>
                    </a>
                           
                   <a class="btn btn-events" href="archive-reflections.html"> SEE ALL</a>
                          </div>
                       </div>
                    </div>
            <div class="space-18"></div>
            
            <img width="100%" src="images/add-1.jpg"/>
            
            <div class="space-18"></div>
            
        
            
         </div>
                              
                </div>
                <div class="space-20"></div>
        
                 </div>
         
         
         
         </div>
              </div>
              
              
              <div class="space-40"> </div>
