<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Legal Title":"Legal Title")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="legalTitleForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': legalTitleForm.sequenceNo.$touched && legalTitleForm.sequenceNo.$invalid}">
                    <label>Sequence No.</label>
                    <input type="text" class="form-control" name="sequenceNo" ng-model="legalTitles.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                    <div class="help-block" ng-messages="legalTitleForm.sequenceNo.$error" ng-show="legalTitleForm.sequenceNo.$touched && legalTitleForm.sequenceNo.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': legalTitleForm.legalTitle.$touched && legalTitleForm.legalTitle.$invalid}">
                    <label for="pwd">Legal Title<span class="meditator">*</span></label>
                    <input type="text" class="form-control" name="legalTitle" ng-model="legalTitles.legalTitle" required>
                    <div class="help-block" ng-messages="legalTitleForm.legalTitle.$error" ng-show="legalTitleForm.legalTitle.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="form-group">
                        <label>City</label>
                        <script type="text/ng-template" id="directory.organization.address-city-typeahead.tpl.html">
                            <a>
                                <p ng-bind-html="match.label | uibTypeaheadHighlight:query"></p>
                                <span>{{match.model.parentId.codeValue}} ({{match.model.parentId.description}})</span>,
                                <span ng-bind-html="match.model.parentId.parentId.codeValue"></span>
                            </a>
                        </script>
                        <input type="text" name="legalCity" ng-model="legalTitles.cityName" uib-typeahead="legalCity as legalCity.codeValue for legalCity in getLegalCities($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-city-typeahead.tpl.html" typeahead-on-select="selectLegalCityTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCity" typeahead-no-results="noResultsCity" class="form-control" autocomplete="off" placeholder="Select City">
                        <i ng-show="loadingAddressCity" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResultsCity">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>State</label>
                    <script type="text/ng-template" id="directory.organization.address-state-typeahead.tpl.html">
                        <a>
                            <span ng-bind-html="(match.model.codeValue + ' (' + match.model.description + ')') | uibTypeaheadHighlight:query"></span>,
                            <span ng-bind-html="match.model.parentId.codeValue"></span>
                        </a>
                    </script>
                    <input type="text" class="form-control" name="legalState" ng-model="legalTitles.stateName" uib-typeahead="legalState as legalState.codeValue for legalState in getLegalStates($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-state-typeahead.tpl.html" typeahead-on-select="selectLegalStateTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressState" typeahead-no-results="noResultsState" class="form-control">
                    <i ng-show="loadingAddressState" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultsState">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="legalTitleForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
