<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Address</h4>
    </div>
    <div class="modal-body table-responsive">
        <!-- Height for table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">#</th>
                    <th>Address Type</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in keyPersonnel.address" ng-if="address.deleted == false" ng-class="{'selectedRow': $index == newContactIndex}">
                    <td class="text-center">{{ ($index+1) }}</td>
                    <td>
                        <div ng-if="address.addressType._id == originalPers.address[$index].addressType._id">
                            <p>{{addressTypes[address.addressType._id] || "" }}&nbsp;
                            </p>
                        </div>
                        <div ng-if="address.addressType._id != originalPers.address[$index].addressType._id">
                            <p class="nextcolor">{{addressTypes[originalPers.address[$index].addressType._id]}}&nbsp;</p>
                            <p class="boxcolor">{{addressTypes[address.addressType._id] || ""}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <b>Street 1: </b>
                        <div ng-if="address.street1 == originalPers.address[$index].street1">
                            <p>{{address.street1}}&nbsp;</p>
                        </div>
                        <div ng-if="address.street1 != originalPers.address[$index].street1">
                            <p class="nextcolor"> {{originalPers.address[$index].street1}}&nbsp;</p>
                            <p class="boxcolor">{{address.street1}}&nbsp;</p>
                        </div>
                        <br>
                        <b>Street 2: </b>
                        <div ng-if="address.street2 == originalPers.address[$index].street2">
                            <p>{{address.street2}}&nbsp;</p>
                        </div>
                        <div ng-if="address.street2 != originalPers.address[$index].street2">
                            <p class="nextcolor"> {{originalPers.address[$index].street2}}&nbsp;</p>
                            <p class="boxcolor">{{address.street2}}&nbsp;</p>
                        </div>
                        <br>
                        <b>City: </b>
                        <div ng-if="address.cityName == originalPers.address[$index]
.cityName">
                            <p>{{address.cityName}}&nbsp;</p>
                        </div>
                        <div ng-if="address.cityName != originalPers.address[$index].cityName">
                            <p class="nextcolor"> {{originalPers.address[$index].cityName}}&nbsp;</p>
                            <p class="boxcolor">{{address.cityName}}&nbsp;</p>
                        </div>
                        <br>
                        <b>State/Territory: </b>
                        <div ng-if="address.stateName == originalPers.address[$index].stateName">
                            <p>{{address.stateName}}&nbsp;</p>
                        </div>
                        <div ng-if="address.stateName != originalPers.address[$index].stateName">
                            <p class="nextcolor"> {{originalPers.address[$index].stateName}}&nbsp;</p>
                            <p class="boxcolor">{{address.stateName}}&nbsp;</p>
                        </div>
                        <br>
                        <b>Country: </b>
                        <div ng-if="address.countryName == originalPers.address[$index].countryName">
                            <p>{{address.countryName}}&nbsp;</p>
                        </div>
                        <div ng-if="address.countryName != originalPers.address[$index].countryName">
                            <p class="nextcolor"> {{originalPers.address[$index].countryName}}&nbsp;</p>
                            <p class="boxcolor">{{address.countryName}}&nbsp;</p>
                        </div>
                        <br>
                        <b>County: </b>
                        <div ng-if="address.countyName == originalPers.address[$index].countyName">
                            <p>{{address.countyName}}&nbsp;</p>
                        </div>
                        <div ng-if="address.countyName != originalPers.address[$index].countyName">
                            <p class="nextcolor"> {{originalPers.address[$index].countyName}}&nbsp;</p>
                            <p class="boxcolor">{{address.countyName}}&nbsp;</p>
                        </div>
                        <br>
                        <b>Zip: </b>
                        <div ng-if="address.zip == originalPers.address[$index].zip">
                            <p>{{address.zip}}&nbsp;</p>
                        </div>
                        <div ng-if="address.zip != originalPers.address[$index].zip">
                            <p class="nextcolor"> {{originalPers.address[$index].zip}}&nbsp;</p>
                            <p class="boxcolor">{{address.zip}}&nbsp;</p>
                        </div>
                        <br>
                    </td>
                </tr>
                <tr ng-repeat="address in deletedContacts" bgcolor="42b6da">
                    <td class="text-center">{{ ($index+1) }}</td>
                    <td>{{address.addressType.description}}</td>
                    <td>
                        <b>Street 1: </b>{{address.street1}}
                        <br>
                        <b>Street 2: </b>{{address.street2}}
                        <br>
                        <b>City: </b>{{address.cityName}}
                        <br>
                        <b>State: </b>{{address.stateName}}
                        <br>
                        <b>Country: </b>{{address.countryName}}
                        <br>
                        <b>County: </b>{{address.countyName}}
                        <br>
                        <b>Zip : </b>{{address.zip}}
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
