<form name="personnelForm" ng-submit="editFlag ? update() : add()">
    <style type="text/css">
    .selectedRow td {
        background-color: #fe9;
    }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Key Personnel":"Key Personnel")}}</h4>
    </div>
    <div class="modal-body">
        <div class="ocd-keyPersonnel">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="General Details">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">General Details</h4>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Person Type</label>
                                <ui-select ng-model="keyPersonnel.personType">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.codeValue"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thispersonType in personTypeArray">
                                        <span ng-bind="thispersonType.codeValue"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Custom Title</label>
                                <input type="text" class="form-control input-sm" ng-model="keyPersonnel.title">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Prefix</label>
                                <script type="text/ng-template" id="directory.organization.personnel.name.tpl.html">
                                    <a>
                                        <p ng-bind-html="[(match.model.name.prefix || ''), (match.model.name.first || ''), (match.model.name.middle || ''), (match.model.name.last || ''), (match.model.name.suffix || '')].join(' ') | uibTypeaheadHighlight:query"></p>
                                        <!-- <p ng-bind-html="showOCDPersonnelAddress(match.model)"></p> -->
                                        <i ng-bind-html="match.model.personType.codeValue"></i>,
                                        <i ng-bind-html="match.model.title"></i>
                                    </a>
                                </script>
                                <input type="text" name="personnelPrefixName" ng-model="keyPersonnel.name.prefix" uib-typeahead="personnel as personnel.name.prefix for personnel in getOCDPersonnel($viewValue, 'Prefix')" typeahead-wait-ms="500" typeahead-template-url="directory.organization.personnel.name.tpl.html" typeahead-on-select="selectPersonnel($item, $model, $label, $event, 'Prefix')" typeahead-loading="loadingPersonnelPrefixName" typeahead-no-results="noResultsPersonnelPrefixName" class="form-control" autocomplete="off">
                                <i ng-show="loadingPersonnelPrefixName" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsPersonnelPrefixName">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group col-md-3" ng-class="{'has-error': personnelForm.firstName.$touched && personnelForm.firstName.$invalid}">
                                <label>First Name <span class="meditator">*</span></label>
                                <input type="text" required name="personnelFirstName" ng-model="keyPersonnel.name.first" uib-typeahead="personnel as personnel.name.first for personnel in getOCDPersonnel($viewValue, 'First')" typeahead-wait-ms="500" typeahead-template-url="directory.organization.personnel.name.tpl.html" typeahead-on-select="selectPersonnel($item, $model, $label, $event, 'First')" typeahead-loading="loadingPersonnelFirstName" typeahead-no-results="noResultsPersonnelFirstName" class="form-control" autocomplete="off">
                                <i ng-show="loadingPersonnelFirstName" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsPersonnelFirstName">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <div class="help-block" ng-messages="personnelForm.firstName.$error" ng-show="personnelForm.firstName.$touched">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Middle Name</label>
                                <input type="text" name="personnelMiddleName" ng-model="keyPersonnel.name.middle" uib-typeahead="personnel as personnel.name.middle for personnel in getOCDPersonnel($viewValue, 'Middle')" typeahead-wait-ms="500" typeahead-template-url="directory.organization.personnel.name.tpl.html" typeahead-on-select="selectPersonnel($item, $model, $label, $event, 'Middle')" typeahead-loading="loadingPersonnelMiddleName" typeahead-no-results="noResultsPersonnelMiddleName" class="form-control" autocomplete="off">
                                <i ng-show="loadingPersonnelMiddleName" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsPersonnelMiddleName">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Last Name</label>
                                <input type="text" name="personnelLastName" ng-model="keyPersonnel.name.last" uib-typeahead="personnel as personnel.name.last for personnel in getOCDPersonnel($viewValue, 'Last')" typeahead-wait-ms="500" typeahead-template-url="directory.organization.personnel.name.tpl.html" typeahead-on-select="selectPersonnel($item, $model, $label, $event, 'Last')" typeahead-loading="loadingPersonnelLastName" typeahead-no-results="noResultsPersonnelLastName" class="form-control" autocomplete="off">
                                <i ng-show="loadingPersonnelLastName" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsPersonnelLastName">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Suffix</label>
                                <input type="text" name="personnelSuffixName" ng-model="keyPersonnel.name.suffix" uib-typeahead="personnel as personnel.name.suffix for personnel in getOCDPersonnel($viewValue, 'Suffix')" typeahead-wait-ms="500" typeahead-template-url="directory.organization.personnel.name.tpl.html" typeahead-on-select="selectPersonnel($item, $model, $label, $event, 'Suffix')" typeahead-loading="loadingPersonnelSuffixName" typeahead-no-results="noResultsPersonnelSuffixName" class="form-control" autocomplete="off">
                                <i ng-show="loadingPersonnelSuffixName" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsPersonnelSuffixName">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="form-group">
                                    <label>Status</label>
                                    <ui-select ng-model="keyPersonnel.status">
                                        <ui-select-match placeholder="Select">
                                            <span ng-bind="$select.selected.codeValue"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in recordStatusArray">
                                            <span ng-bind="thisRecordStatus.codeValue"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- <label>Status</label>
                                <input type="text" class="form-control input-sm" ng-model="keyPersonnel.status"> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Home Nation</label>
                                <input type="text" class="form-control input-sm" ng-model="keyPersonnel.homeNation">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Religious Order Initials</label>
                                <input type="text" class="form-control input-sm" ng-model="keyPersonnel.religiousOrderInitials">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Home Diocese</label>
                                <input type="text" class="form-control input-sm" ng-model="keyPersonnel.homeDiocese">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Websites</label>
                                <input type="text" class="form-control input-sm" ng-model="keyPersonnel.webSite">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <br />
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-3" ng-model="keyPersonnel.retired">
                                    <span class="lbl"><strong> Retired</strong></span>
                                </label>
                                <label class="position-relative">
                                    <input type="checkbox" class="ace ace-checkbox-3" ng-model="keyPersonnel.very">
                                    <span class="lbl"><strong> Very</strong></span>
                                </label>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="position-relative">
                                    <span class="lbl"><strong> Died</strong></span>
                                </label>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control input-sm" ng-model="keyPersonnel.died.day" placeholder="DD">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control input-sm" ng-model="keyPersonnel.died.month" placeholder="MM">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control input-sm" ng-model="keyPersonnel.died.year" placeholder="YYYY">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="position-relative">
                                        <span class="lbl"><strong> Ordination</strong></span>
                                    </label>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control input-sm" ng-model="keyPersonnel.ordination.ordination_day" placeholder="DD">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control input-sm" ng-model="keyPersonnel.ordination.ordination_month" placeholder="MM">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control input-sm" ng-model="keyPersonnel.ordination.ordination_year" placeholder="YYYY">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Contact Details">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">Contact Details</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group" ng-class="{'has-error': personnelForm.sequenceNo.$touched && personnelForm.sequenceNo.$invalid}">
                                    <label>Sequence No.</label>
                                    <input type="text" class="form-control" name="sequenceNo" ng-model="newOCDContact.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                                    <div class="help-block" ng-messages="personnelForm.sequenceNo.$error" ng-show="personnelForm.sequenceNo.$touched && personnelForm.sequenceNo.$invalid">
                                        <div ng-message="validateAs">
                                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group" ng-class="{'has-error': personnelForm.addressNo.$touched && personnelForm.addressNo.$invalid}">
                                    <label>Address Sequence No.</label>
                                    <input type="text" class="form-control" name="addressNo" ng-model="newOCDContact.addressSequenceNo" validate-this="addressNo" validate-as="digits">
                                    <div class="help-block" ng-messages="personnelForm.addressNo.$error" ng-show="personnelForm.addressNo.$touched && personnelForm.addressNo.$invalid">
                                        <div ng-message="validateAs">
                                            <p ng-show="validateAsErrors.addressNo.digits">Invalid digits found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 " ng-class="{'has-error' : personnelForm.type.$touched && personnelForm.type.$invalid}">
                                <label>Contact Type<span class="meditator">*</span></label>
                                <ui-select ng-model="newOCDContact.contactType" name="type" on-select="newOCDContact.contactTypeName = $item.codeValue">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.codeValue"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thiscontactType  as thiscontactType in contactTypeArray">
                                        <span ng-bind="thiscontactType.codeValue"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="help-block" ng-messages="personnelForm.type.$error" ng-show="personnelForm.type.$touched">
                                    <div ng-message="required">Please fill this field</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label>Extension</label>
                                    <input type="text" class="form-control" name="name" ng-model="newOCDContact.extension">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label>Contact Details</label>
                                    <input type="text" class="form-control" name="name" ng-model="newOCDContact.contactDetails">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label>Note</label>
                                    <input type="text" class="form-control" name="name" ng-model="newOCDContact.note">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="newOCDContact.mailOptOut">
                                        <span class="lbl"></span> Mail Option
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="newOCDContact.nixieIndex">
                                        <span class="lbl"></span> Nixie Index
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="newOCDContact.nonUSA">
                                        <span class="lbl"></span> Non USA
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="newOCDContact.printFlag">
                                        <span class="lbl"></span> Print
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewOCDContact()" ng-disabled="!newOCDContact.contactType">
                                <i class="fa fa-check"></i> Save Contact Details </button>
                            <a class="btn btn-sm btn-default" ng-click="resetNewOCDContact()">
                                <i class="fa fa-remove"></i> Clear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl">Sequence No.</th>
                                    <th class="widthfcl">Address Sequence No.</th>
                                    <th>Contact Type</th>
                                    <th>Extension</th>
                                    <th>Contact Details</th>
                                    <th>Note</th>
                                    <th>Mail Option</th>
                                    <th>Nixie Index</th>
                                    <th>Non USA</th>
                                    <th>Print</th>
                                    <th class="widthth text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ocdContact in keyPersonnel.ocdContact" ng-class="{'selectedRow': $index == newOCDContactIndex}" ng-if="!ocdContact.deleted">
                                    <td class="text-center">{{ocdContact.sequenceNo}}</td>
                                    <td class="text-center">{{ocdContact.addressSequenceNo}}</td>
                                    <td>{{ocdContact.contactType.codeValue}}</td>
                                    <td>{{ocdContact.extension}}</td>
                                    <td>{{ocdContact.contactDetails}}</td>
                                    <td>{{ocdContact.note}}</td>
                                    <td>{{ocdContact.mailOptOut ? "YES" :(ocdContact.mailOptOut === false ? 'NO' : '')}}</td>
                                    <td>{{ocdContact.nixieIndex ? "YES" : (ocdContact.nixieIndex === false ? 'NO' : '')}}</td>
                                    <td>{{ocdContact.nonUSA ? "YES" : (ocdContact.nonUSA === false ? 'NO' : '')}}</td>
                                    <td>{{ocdContact.printFlag ? "YES" : (ocdContact.printFlag === false ? 'NO' : '')}}</td>
                                    <td class="text-center action-buttons">
                                        <a class="blue" ng-click="editNewOCDContact($index)">
                                            <i class="fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red" ng-click="openRemovePopup($index, 'Key Personnel: Contact', removeNewOCDContact)">
                                            <i class="fa fa-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Address Details">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">Address Details</h4>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Address Type</label>
                                <ui-select ng-model="newContact.addressType">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.description"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thisAddressType in (addressTypeArray | filter: $select.search) track by thisAddressType._id">
                                        <span ng-bind="thisAddressType.description"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Street 1</label>
                                <input type="text" class="form-control input-sm" name="phoneno" ng-model="newContact.street1">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Street 2</label>
                                <input type="text" class="form-control input-sm" name="phoneno" ng-model="newContact.street2">
                            </div>
                            <div class="form-group col-md-3" ng-class="{'has-error' : personnelForm.addressCity.$touched && personnelForm.addressCity.$invalid}">
                                <label>City<span class="meditator">*</span></label>
                                <script type="text/ng-template" id="directory.organization.address-city-typeahead.tpl.html">
                                    <a>
                                        <p ng-bind-html="match.label | uibTypeaheadHighlight:query"></p>
                                        <span>{{match.model.parentId.codeValue}} ({{match.model.parentId.description}})</span>,
                                        <span ng-bind-html="match.model.parentId.parentId.codeValue"></span>
                                    </a>
                                </script>
                                <input type="text" name="addressCity" ng-model="newContact.cityName" uib-typeahead="addressCity as addressCity.codeValue for addressCity in getAddressCities($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-city-typeahead.tpl.html" typeahead-on-select="selectAddressCityTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCity" typeahead-no-results="noResultsCity" class="form-control input-sm" autocomplete="off">
                                <i ng-show="loadingAddressCity" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsCity">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>State/Territory</label>
                                <script type="text/ng-template" id="directory.organization.address-state-typeahead.tpl.html">
                                    <a>
                                        <span ng-bind-html="(match.model.codeValue + ' (' + match.model.description + ')') | uibTypeaheadHighlight:query"></span>,
                                        <span ng-bind-html="match.model.parentId.codeValue"></span>
                                    </a>
                                </script>
                                <input type="text" class="form-control input-sm" ng-model="newContact.stateName" uib-typeahead="addressState as addressState.codeValue for addressState in getAddressStates($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-state-typeahead.tpl.html" typeahead-on-select="selectAddressStateTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressState" typeahead-no-results="noResultsState" class="form-control input-sm">
                                <i ng-show="loadingAddressState" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsState">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Country</label>
                                <script type="text/ng-template" id="directory.organization.address-country-typeahead.tpl.html">
                                    <a>
                                        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                    </a>
                                </script>
                                <input type="text" class="form-control input-sm" ng-model="newContact.countryName" uib-typeahead="addressCountry as addressCountry.codeValue for addressCountry in getAddressCountries($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-country-typeahead.tpl.html" typeahead-on-select="selectAddressCountryTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCountry" typeahead-no-results="noResultsCountry" class="form-control input-sm">
                                <i ng-show="loadingAddressCountry" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsCountry">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>County</label>
                                <script type="text/ng-template" id="directory.organization.address-county-typeahead.tpl.html">
                                    <a>
                                        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                    </a>
                                </script>
                                <input type="text" class="form-control" ng-model="newContact.countyName" uib-typeahead="addressCounty as addressCounty.codeValue for addressCounty in getAddressCountys($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-county-typeahead.tpl.html" typeahead-on-select="selectAddressCountyTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCounty" typeahead-no-results="noResultsCounty" class="form-control" placeholder="Select">
                                <i ng-show="loadingAddressCounty" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsCounty">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Zip</label>
                                <input type="text" class="form-control input-sm" name="name" ng-model="newContact.zip">
                            </div>
                        </div>
                        <div class="pull-right">
                            <!--  <a class="btn btn-sm btn-primary" ng-click="saveNewContact()" ng-disabled="!(newContact.city || newContact.cityName)">
                                <i class="fa fa-check"></i> Save Contact Detials
                            </a> -->
                            <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewContact()" ng-disabled="!(newContact.city || newContact.cityName)">
                                <i class="fa fa-check"></i> Save Address Details</button>
                            <a class="btn btn-sm btn-default" ng-click="resetNewContact()">
                                <i class="fa fa-remove"></i> Clear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <!-- Height for table -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl">#</th>
                                    <th>Address Type</th>
                                    <th>Address</th>
                                    <th class="widthth text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in keyPersonnel.address" ng-if="!address.deleted" ng-class="{'selectedRow': $index == newContactIndex}">
                                    <td class="text-center">{{ ($index+1) }}</td>
                                    <td>{{address.addressType.description}}</td>
                                    <td>
                                        <b>Street 1: </b>{{address.street1}}
                                        <br>
                                        <b>Street 2: </b>{{address.street2}}
                                        <br>
                                        <b>City: </b>{{address.cityName}}
                                        <br>
                                        <b> State/Territory: </b>{{address.stateName}}
                                        <br>
                                        <b>Country: </b>{{address.countryName}}
                                        <br>
                                        <b>County: </b>{{address.countyName}}
                                        <br>
                                        <b>Zip: </b>{{address.zip}}
                                        <br>
                                    </td>
                                    <td class="text-center action-buttons">
                                        <a class="blue" ng-click="editNewContact($index)">
                                            <i class="fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red" ng-click="openRemovePopup($index, 'Key Personnel: Address', removeNewContact)">
                                            <i class="fa fa-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Degree Details">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">Degree Details</h4>
                        <div class="row">
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.degreeSeqNo.$touched && personnelForm.degreeSeqNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control input-sm" name="degreeSeqNo" ng-model="newDegree.sequenceNo" validate-this="degreeSeqNo" validate-as="digits">
                                <div class="help-block" ng-messages="personnelForm.degreeSeqNo.$error" ng-show="personnelForm.degreeSeqNo.$touched && personnelForm.degreeSeqNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.degreeSeqNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error' : personnelForm.degreeType.$touched && personnelForm.degreeType.$invalid}">
                                <label>Degree Type<span class="meditator">*</span></label>
                                <ui-select ng-model="newDegree.degreeType" name="degreeType" on-select="newDegree.degreeTypeName = $item.codeValue; newDegree.otherDegree = ''">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.codeValue"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thisdegreeType in degreeTypeArray">
                                        <span ng-bind="thisdegreeType.codeValue"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Other Degree</label>
                                <input type="text" class="form-control input-sm" name="name" ng-model="newDegree.otherDegree" ng-disabled="newDegree.degreeType.codeValue != 'Other'">
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewDegree()" ng-disabled="!(newDegree.sequenceNo || newDegree.degreeType)">
                                <i class="fa fa-check"></i> Save Degree Details
                            </button>
                            <a class="btn btn-sm btn-default" ng-click="resetNewDegree()">
                                <i class="fa fa-remove"></i> Clear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl">Sequence No.</th>
                                    <th>Degree Type</th>
                                    <th>Other Degree</th>
                                    <th class="widthth text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="degree in keyPersonnel.ocdDegree" ng-if="!degree.deleted" ng-class="{'selectedRow': $index == newDegreeIndex}">
                                    <td class="text-center">{{ degree.sequenceNo }}</td>
                                    <td>{{degree.degreeTypeName}}</td>
                                    <td>{{degree.otherDegree}}</td>
                                    <td class="text-center action-buttons">
                                        <a class="blue" ng-click="editNewDegree($index)">
                                            <i class="fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red" ng-click="openRemovePopup($index, 'Key Personnel: Degree', removeNewDegree)">
                                            <i class="fa fa-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="4" heading="Notes">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">Notes</h4>
                        <div class="row">
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.noteSeqNo.$touched && personnelForm.noteSeqNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control input-sm" name="noteSeqNo" ng-model="newNote.sequenceNo" validate-this="noteSeqNo" validate-as="digits">
                                <div class="help-block" ng-messages="personnelForm.noteSeqNo.$error" ng-show="personnelForm.noteSeqNo.$touched && personnelForm.noteSeqNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.noteSeqNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error' : personnelForm.noteType.$touched && personnelForm.noteType.$invalid}">
                                <label>Note Type<span class="meditator">*</span></label>
                                <input type="text" class="form-control input-sm" ng-model="newNote.noteType" name="noteType">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Note</label>
                                <input type="text" class="form-control input-sm" ng-model="newNote.note">
                            </div>
                            <label class="position-relative col-md-4">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="newNote.italic">
                                <span class="lbl"><strong> Italic</strong></span>
                            </label>
                            <label class="position-relative col-md-4">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="newNote.bold">
                                <span class="lbl"><strong> Bold</strong></span>
                            </label>
                            <label class="position-relative col-md-4">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="newNote.smallCap">
                                <span class="lbl"><strong> Small Cap</strong></span>
                            </label>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewNote()" ng-disabled="!newNote.noteType">
                                <i class="fa fa-check"></i> Save Note Details </button>
                            <a class="btn btn-sm btn-default" ng-click="resetNewNote()">
                                <i class="fa fa-remove"></i> Clear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl">Sequence No.</th>
                                    <th>Note Type</th>
                                    <th>Note</th>
                                    <th>Italic</th>
                                    <th>Bold</th>
                                    <th>Small Cap</th>
                                    <th class="widthth text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="note in keyPersonnel.notes" ng-if="!note.deleted" ng-class="{'selectedRow': $index == newNoteIndex}">
                                    <td class="text-center">{{ note.sequenceNo }}</td>
                                    <td>{{note.noteType}}</td>
                                    <td>{{note.note}}</td>
                                    <td>{{note.italic ? 'YES' : (note.italic === false ? 'NO' : '')}}</td>
                                    <td>{{note.bold ? 'YES' : (note.bold === false ? 'NO' : '')}}</td>
                                    <td>{{note.smallCap ? 'YES' : (note.smallCap === false ? 'NO' : '')}}</td>
                                    <td class="text-center action-buttons">
                                        <a class="blue" ng-click="editNewNote($index)">
                                            <i class="fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red" ng-click="openRemovePopup($index, 'Key Personnel: Notes', removeNewNote)">
                                            <i class="fa fa-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="5" heading="Assignments">
                    <div class="container-fluid">
                        <h4 class="addnewt container-fluid">Assignments</h4>
                        <div class="row">
                            <div class="form-group col-md-4" ng-class="{'has-error': personnelForm.assignSeqNo.$touched && personnelForm.assignSeqNo.$invalid}">
                                <label>Sequence No.</label>
                                <input type="text" class="form-control input-sm" name="assignSeqNo" ng-model="newAssignment.sequenceNo" validate-this="assignSeqNo" validate-as="digits">
                                <div class="help-block" ng-messages="personnelForm.assignSeqNo.$error" ng-show="personnelForm.assignSeqNo.$touched && personnelForm.assignSeqNo.$invalid">
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.assignSeqNo.digits">Invalid digits found</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4" ng-class="{'has-error' : personnelForm.assignType.$touched && personnelForm.assignType.$invalid}">
                                <label>Assign Type<span class="meditator">*</span></label>
                                <ui-select ng-model="newAssignment.assignTypeId" name="assignType" on-select="newAssignment.assignType = $item.codeValue">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.codeValue"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thisassignType in assignmentTypeArray">
                                        <span ng-bind="thisassignType.codeValue"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Title</label>
                                <input type="text" class="form-control input-sm" ng-model="newAssignment.title">
                            </div>
                        </div>
                        <div class="row">
                            <label class="position-relative col-md-3">
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="newAssignment.response">
                                <span class="lbl"><strong> Response</strong></span>
                            </label>
                        </div>
                        <div class="pull-right">
                            <!-- <a class="btn btn-sm btn-primary" ng-click="saveNewAssignment()" ng-disabled="!(newAssignment.assignType)">
                                <i class="fa fa-check"></i> Save Assignment Details
                            </a> -->
                            <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewAssignment()" ng-disabled="!(newAssignment.assignType)">
                                <i class="fa fa-check"></i> Save Assignment Details</button>
                            <a class="btn btn-sm btn-default" ng-click="resetNewAssignment()">
                                <i class="fa fa-remove"></i> Clear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="widthfcl">Sequence No.</th>
                                    <th>Assign Type</th>
                                    <th>Title</th>
                                    <th>Response</th>
                                    <th class="widthth text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="assignment in keyPersonnel.assignment" ng-if="assignment.orgId == assngOrgId && !assignment.deleted" ng-class="{'selectedRow': $index == newAssignmentIndex}">
                                    <td class="text-center">{{ assignment.sequenceNo }}</td>
                                    <td>{{assignment.assignType}}</td>
                                    <td>{{assignment.title}}</td>
                                    <td>{{assignment.response ? 'YES' : (assignment.response === false ? 'NO' : '')}}</td>
                                    <td class="text-center action-buttons">
                                        <a class="blue" ng-click="editNewAssignment($index)">
                                            <i class="fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red" ng-click="openRemovePopup($index, 'Key Personnel: Assignments', removeNewAssignment)">
                                            <i class="fa fa-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="personnelForm.$invalid || loading">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
        </button>
        <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
    </div>
</form>
