<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Religious Order":"Religious Order")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="religiousOrderForm">
        <div class="abc ng-scope">
            <div class="widget-body">
                <div class="modal-body">
                    <div class="form-group " ng-class="{ 'has-error': religiousOrderForm.type.$touched && religiousOrderForm.type.$invalid }">
                        <label for="pwd">Religious Type<span class="meditator">*</span></label>
                        <ui-select ng-model="religiousOrder.religiousType" name="type" required>
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeType"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisFeatureType.codeType as thisFeatureType in (featureTypeArray | filter: $select.search) track by thisFeatureType._id">
                                <span ng-bind="thisFeatureType.codeType"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block" ng-messages="religiousOrderForm.type.$error" ng-show="religiousOrderForm.type.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Secondary Name</label>
                        <input type="text" class="form-control" ng-model="religiousOrder.secondaryName">
                    </div>
                    <div class="form-group">
                        <label>Tertiary Name</label>
                        <input type="text" class="form-control" ng-model="religiousOrder.tertiaryName">
                    </div>
                    <div class="form-group">
                        <label>Kennedy Id</label>
                        <input type="text" class="form-control" ng-model="religiousOrder.kennedyId">
                    </div>
                    <div class="form-group">
                        <label>Pontifical Or Diocese</label>
                        <input type="text" class="form-control" ng-model="religiousOrder.pontificalOrDiocese">
                    </div>
                    <div class="form-group">
                        <label>Initials</label>
                        <input type="text" class="form-control" ng-model="religiousOrder.initials">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="religiousOrderForm.$invalid || loading">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
                    </button>
                    <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
