<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Degree</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th>Degree Type</th>
                    <th>Other Degree</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="degree in keyPersonnel.ocdDegree" ng-if="degree.deleted == false" ng-class="{'selectedRow': $index == newDegreeIndex}">
                    <td class="text-center">
                        <div ng-if="degree.sequenceNo == originalPers.ocdDegree[$index].sequenceNo">
                            <p>{{degree.sequenceNo}}&nbsp;</p>
                        </div>
                        <div ng-if="degree.sequenceNo != originalPers.ocdDegree[$index].sequenceNo">
                            <p class="nextcolor"> {{originalPers.ocdDegree[$index].sequenceNo}}&nbsp;</p>
                            <p class="boxcolor">{{degree.sequenceNo}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="degree.degreeTypeName == originalPers.ocdDegree[$index].degreeTypeName">
                            <p>{{degree.degreeTypeName}}&nbsp;</p>
                        </div>
                        <div ng-if="degree.degreeTypeName != originalPers.ocdDegree[$index].degreeTypeName">
                            <p class="nextcolor"> {{originalPers.ocdDegree[$index].degreeTypeName}}&nbsp;</p>
                            <p class="boxcolor">{{degree.degreeTypeName}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="('' + degree.otherDegree) == ('' + originalPers.ocdDegree[$index].otherDegree)">
                            <p>{{degree.otherDegree}}&nbsp;</p>
                        </div>
                        <div ng-if="('' + degree.otherDegree) != ('' + originalPers.ocdDegree[$index].otherDegree)">
                            <p class="nextcolor"> {{originalPers.ocdDegree[$index].otherDegree}}&nbsp;</p>
                            <p class="boxcolor">{{degree.otherDegree}}&nbsp;</p>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="degree in deletedDegree" bgcolor="42b6da">
                    <td class="text-center">{{degree.sequenceNo}}</td>
                    <td>{{degree.degreeTypeName}}</td>
                    <td>{{degree.otherDegree}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
