<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: General</h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Person Type</label>
                <div ng-if="keyPersonnel.personType.codeValue == originalPers.personType.codeValue">
                    <p> {{keyPersonnel.personType.codeValue}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.personType.codeValue != originalPers.personType.codeValue">
                    <p class="nextcolor">{{originalPers.personType.codeValue}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.personType.codeValue}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Title</label>
                <div ng-if="keyPersonnel.title == originalPers.title">
                    <p> {{keyPersonnel.title}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.title != originalPers.title">
                    <p class="nextcolor">{{originalPers.title}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.title}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Name</label>
                <div ng-if="showPersonnelName(keyPersonnel) == showPersonnelName(originalPers)">
                    <p>{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                </div>
                <div ng-if="showPersonnelName(keyPersonnel) != showPersonnelName(originalPers)">
                    <p class="nextcolor">{{showPersonnelName(originalPers)}}&nbsp;</p>
                    <p class="boxcolor">{{showPersonnelName(keyPersonnel)}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Status</label>
                <div ng-if="keyPersonnel.status.codeValue == originalPers.status.codeValue">
                    <p> {{keyPersonnel.status.codeValue}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.status.codeValue != originalPers.status.codeValue">
                    <p class="nextcolor">{{originalPers.status.codeValue}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.status.codeValue}}&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Home Nation</label>
                <div ng-if="keyPersonnel.homeNation == originalPers.homeNation">
                    <p> {{keyPersonnel.homeNation}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.homeNation != originalPers.homeNation">
                    <p class="nextcolor">{{originalPers.homeNation}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.homeNation}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Religious Order Initials</label>
                <div ng-if="keyPersonnel.religiousOrderInitials == originalPers.religiousOrderInitials">
                    <p> {{keyPersonnel.religiousOrderInitials}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.religiousOrderInitials != originalPers.religiousOrderInitials">
                    <p class="nextcolor">{{originalPers.religiousOrderInitials}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.religiousOrderInitials}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Home Diocese</label>
                <div ng-if="keyPersonnel.homeDiocese == originalPers.homeDiocese">
                    <p> {{keyPersonnel.homeDiocese}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.homeDiocese != originalPers.homeDiocese">
                    <p class="nextcolor">{{originalPers.homeDiocese}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.homeDiocese}}&nbsp;</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Websites</label>
                <div ng-if="keyPersonnel.webSite == originalPers.webSite">
                    <p> {{keyPersonnel.webSite}}&nbsp;</p>
                </div>
                <div ng-if="keyPersonnel.webSite != originalPers.webSite">
                    <p class="nextcolor">{{originalPers.webSite}}&nbsp;</p>
                    <p class="boxcolor">{{keyPersonnel.webSite}}&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <br />
                <label class="position-relative">
                    <div class="form-group boldfont">
                        <div ng-if="keyPersonnel.retired == originalPers.retired">
                            <i class="fa fa-check" ng-class="keyPersonnel.retired ? 'fa-check' : 'fa-remove'"></i> Retired
                        </div>
                        <div ng-if="keyPersonnel.retired != originalPers.retired">
                            <p class="nextcolor">
                                <i class="fa fa-check" ng-class="originalPers.retired? 'fa-check' : 'fa-remove'"></i> Retired &nbsp;
                            </p>
                            <p class="boxcolor">
                                <i class="fa fa-check" ng-class="keyPersonnel.retired? 'fa-check' : 'fa-remove'"></i> Retired &nbsp;
                            </p>
                        </div>
                    </div>
                </label>
                <label class="position-relative">
                    <div class="form-group boldfont">
                        <div ng-if="keyPersonnel.very == originalPers.very">
                            <i class="fa fa-check" ng-class="keyPersonnel.very ? 'fa-check' : 'fa-remove'"></i> Very
                        </div>
                        <div ng-if="keyPersonnel.very != originalPers.very">
                            <p class="nextcolor">
                                <i class="fa fa-check" ng-class="originalPers.very? 'fa-check' : 'fa-remove'"></i> Very &nbsp;
                            </p>
                            <p class="boxcolor">
                                <i class="fa fa-check" ng-class="keyPersonnel.very? 'fa-check' : 'fa-remove'"></i> Very &nbsp;
                            </p>
                        </div>
                    </div>
                </label>
            </div>
            <div class="form-group col-md-4">
                <label class="position-relative">
                    <span class="lbl"><strong> Died</strong></span>
                </label>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="h5 boldfont">Day</label>
                        <div ng-if="keyPersonnel.died.day == originalPers.died.day">
                            <p> {{keyPersonnel.died.day}}&nbsp;</p>
                        </div>
                        <div ng-if="keyPersonnel.died.day != originalPers.died.day">
                            <p class="nextcolor">{{originalPers.died.day}}&nbsp;</p>
                            <p class="boxcolor">{{keyPersonnel.died.day}}&nbsp;</p>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="h5 boldfont">Month</label>
                        <div ng-if="keyPersonnel.died.month == originalPers.died.month">
                            <p> {{keyPersonnel.died.month}}&nbsp;</p>
                        </div>
                        <div ng-if="keyPersonnel.died.month != originalPers.died.month">
                            <p class="nextcolor">{{originalPers.died.month}}&nbsp;</p>
                            <p class="boxcolor">{{keyPersonnel.died.month}}&nbsp;</p>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="h5 boldfont">Year</label>
                        <div ng-if="keyPersonnel.died.year == originalPers.died.year">
                            <p> {{keyPersonnel.died.year}}&nbsp;</p>
                        </div>
                        <div ng-if="keyPersonnel.died.year != originalPers.died.year">
                            <p class="nextcolor">{{originalPers.died.year}}&nbsp;</p>
                            <p class="boxcolor">{{keyPersonnel.died.year}}&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="position-relative">
                        <span class="lbl"><strong> Ordination</strong></span>
                    </label>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="h5 boldfont">Day</label>
                            <div ng-if="keyPersonnel.ordination.ordination_day == originalPers.ordination.ordination_day">
                                <p> {{keyPersonnel.ordination.ordination_day}}&nbsp;</p>
                            </div>
                            <div ng-if="keyPersonnel.ordination.ordination_day != originalPers.ordination.ordination_day">
                                <p class="nextcolor">{{originalPers.ordination.ordination_day}}&nbsp;</p>
                                <p class="boxcolor">{{keyPersonnel.ordination.ordination_day}}&nbsp;</p>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="h5 boldfont">Month</label>
                            <div ng-if="keyPersonnel.ordination.ordination_month == originalPers.ordination.ordination_month">
                                <p> {{keyPersonnel.ordination.ordination_month}}&nbsp;</p>
                            </div>
                            <div ng-if="keyPersonnel.ordination.ordination_month != originalPers.ordination.ordination_month">
                                <p class="nextcolor">{{originalPers.ordination.ordination_month}}&nbsp;</p>
                                <p class="boxcolor">{{keyPersonnel.ordination.ordination_month}}&nbsp;</p>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="h5 boldfont">Year</label>
                            <div ng-if="keyPersonnel.ordination.ordination_year == originalPers.ordination.ordination_year">
                                <p> {{keyPersonnel.ordination.ordination_year}}&nbsp;</p>
                            </div>
                            <div ng-if="keyPersonnel.ordination.ordination_year != originalPers.ordination.ordination_year">
                                <p class="nextcolor">{{originalPers.ordination.ordination_year}}&nbsp;</p>
                                <p class="boxcolor">{{keyPersonnel.ordination.ordination_year}}&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
