<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Address</h4>
    </div>
    <div class="modal-body table-responsive">
        <!-- Height for table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">#</th>
                    <th>Address Type</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in keyPersonnel.address" ng-if="!address.deleted" ng-class="{'selectedRow': $index == newContactIndex}">
                    <td class="text-center">{{ ($index+1) }}</td>
                    <td>{{address.addressType.description}}</td>
                    <td>
                        <b>Street 1: </b>{{address.street1}}
                        <br>
                        <b>Street 2: </b>{{address.street2}}
                        <br>
                        <b>City: </b>{{address.cityName}}
                        <br>
                        <b>State/Territory: </b>{{address.stateName}}
                        <br>
                        <b>Country: </b>{{address.countryName}}
                        <br>
                        <b>County: </b>{{address.countyName}}
                        <br>
                        <b>Zip: </b>{{address.zip}}
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
