<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Notes</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th>Note Type</th>
                    <th>Note</th>
                    <th>Italic</th>
                    <th>Bold</th>
                    <th>Small Cap</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in keyPersonnel.notes" ng-if="note.deleted == false" ng-class="{'selectedRow': $index == newNoteIndex}">
                    <td class="text-center">
                        <div ng-if="note.sequenceNo == originalPers.notes[$index].sequenceNo">
                            <p>{{note.sequenceNo}}&nbsp;</p>
                        </div>
                        <div ng-if="note.sequenceNo != originalPers.notes[$index].sequenceNo">
                            <p class="nextcolor"> {{originalPers.notes[$index].sequenceNo}}&nbsp;</p>
                            <p class="boxcolor">{{note.sequenceNo}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="note.noteType == originalPers.notes[$index].noteType">
                            <p>{{note.noteType}}&nbsp;</p>
                        </div>
                        <div ng-if="note.noteType != originalPers.notes[$index].noteType">
                            <p class="nextcolor"> {{originalPers.notes[$index].noteType}}&nbsp;</p>
                            <p class="boxcolor">{{note.noteType}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="note.note == originalPers.notes[$index].note">
                            <p>{{note.note}}&nbsp;</p>
                        </div>
                        <div ng-if="note.note != originalPers.notes[$index].note">
                            <p class="nextcolor"> {{originalPers.notes[$index].note}}&nbsp;</p>
                            <p class="boxcolor">{{note.note}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="note.italic == originalPers.notes[$index].italic">
                            <p ng-switch on="note.italic">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="note.italic != originalPers.notes[$index].italic">
                            <p class="nextcolor" ng-switch on="originalPers.notes[$index].italic">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="note.italic">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="note.bold == originalPers.notes[$index].bold">
                            <p ng-switch on="note.bold">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="note.bold != originalPers.notes[$index].bold">
                            <p class="nextcolor" ng-switch on="originalPers.notes[$index].bold">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="note.bold">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="note.smallCap == originalPers.notes[$index].smallCap">
                            <p ng-switch on="note.smallCap">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="note.smallCap != originalPers.notes[$index].smallCap">
                            <p class="nextcolor" ng-switch on="originalPers.notes[$index].smallCap">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="note.smallCap">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="note in deletedNotes" bgcolor="42b6da">
                    <td class="text-center">{{note.sequenceNo}}</td>
                    <td>{{note.noteType}}</td>
                    <td>{{note.note}}</td>
                    <td>{{note.italic ? 'YES' : (note.italic === false ? 'NO' : '')}}</td>
                    <td>{{note.bold ? 'YES' : (note.bold === false ? 'NO' : '')}}</td>
                    <td>{{note.smallCap ? 'YES' : (note.smallCap === false ? 'NO' : '')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
