<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: General</h4>
    </div>
    <div class="container-fluid">
        <h4 class="addnewt container-fluid">General Details</h4>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Person Type</label>
                <p class="ng-binding">{{keyPersonnel.personType.codeValue}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Custom Title</label>
                <p class="ng-binding">{{keyPersonnel.title}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Prefix</label>
                <p class="ng-binding">{{keyPersonnel.name.prefix}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">First Name</label>
                <p class="ng-binding">{{keyPersonnel.name.first}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Middle Name</label>
                <p class="ng-binding">{{keyPersonnel.name.middle}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Last Name</label>
                <p class="ng-binding">{{keyPersonnel.name.last}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Suffix</label>
                <p class="ng-binding">{{keyPersonnel.name.suffix}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Status</label>
                <p class="ng-binding">{{keyPersonnel.status.codeValue}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Home Nation</label>
                <p class="ng-binding">{{keyPersonnel.homeNation}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Religious Order Initials</label>
                <p class="ng-binding">{{keyPersonnel.religiousOrderInitials}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Home Diocese</label>
                <p class="ng-binding">{{keyPersonnel.homeDiocese}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="h5 boldfont">Websites</label>
                <p class="ng-binding">{{keyPersonnel.webSite}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <br />
                <label class="position-relative">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="keyPersonnel.retired ? 'fa-check' : 'fa-remove'"></i> Retired
                    </div>
                </label>
                <label class="position-relative">
                    <div class="form-group boldfont">
                        <i class="fa fa-check" ng-class="keyPersonnel.very ? 'fa-check' : 'fa-remove'"></i> Very
                    </div>
                </label>
            </div>
            <div class="form-group col-md-3">
                <label class="position-relative">
                    <span class="lbl"><strong> Died</strong></span>
                </label>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Day</label>
                        <p class="ng-binding">{{keyPersonnel.died.day}}</p>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Month</label>
                        <p class="ng-binding">{{keyPersonnel.died.month}}</p>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Year</label>
                        <p class="ng-binding">{{keyPersonnel.died.year}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="position-relative">
                        <span class="lbl"><strong> Ordination</strong></span>
                    </label>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Day</label>
                            <p class="ng-binding">{{keyPersonnel.ordination.ordination_day}}</p>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Month</label>
                            <p class="ng-binding">{{keyPersonnel.ordination.ordination_month}}</p>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Year</label>
                            <p class="ng-binding">{{keyPersonnel.ordination.ordination_year}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
