<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Assignments</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th>Assign Type</th>
                    <th>Title</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assignment in keyPersonnel.assignment" ng-if="assignment.orgId == assngOrgId && assignment.deleted == false" ng-class="{'selectedRow': $index == newAssignmentIndex}">
                    <td class="text-center">
                        <div ng-if="assignment.sequenceNo == originalPers.assignment[$index].sequenceNo">
                            <p>{{assignment.sequenceNo}}&nbsp;</p>
                        </div>
                        <div ng-if="assignment.sequenceNo != originalPers.assignment[$index].sequenceNo">
                            <p class="nextcolor"> {{originalPers.assignment[$index].sequenceNo}}&nbsp;</p>
                            <p class="boxcolor">{{assignment.sequenceNo}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="assignment.assignType == originalPers.assignment[$index].assignType">
                            <p>{{assignment.assignType}}&nbsp;</p>
                        </div>
                        <div ng-if="assignment.assignType != originalPers.assignment[$index].assignType">
                            <p class="nextcolor"> {{originalPers.assignment[$index].assignType}}&nbsp;</p>
                            <p class="boxcolor">{{assignment.assignType}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="assignment.title == originalPers.assignment[$index].title">
                            <p>{{assignment.title}}&nbsp;</p>
                        </div>
                        <div ng-if="assignment.title != originalPers.assignment[$index].title">
                            <p class="nextcolor"> {{originalPers.assignment[$index].title}}&nbsp;</p>
                            <p class="boxcolor">{{assignment.title}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="assignment.response == originalPers.assignment[$index].response">
                            <p ng-switch on="assignment.response">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="assignment.response != originalPers.assignment[$index].response">
                            <p class="nextcolor" ng-switch on="originalPers.assignment[$index].response">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="assignment.response">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="assignment in deletedAssignment" bgcolor="42b6da" ng-if="assignment.orgId == assngOrgId">
                    <td class="text-center">{{assignment.sequenceNo}}</td>
                    <td>{{assignment.assignType}}</td>
                    <td>{{assignment.title}}</td>
                    <td>{{assignment.response ? "YES":"NO"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
