<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Notes</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th>Note Type</th>
                    <th>Note</th>
                    <th>Italic</th>
                    <th>Bold</th>
                    <th>Small Cap</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in keyPersonnel.notes" ng-if="!note.deleted" ng-class="{'selectedRow': $index == newNoteIndex}">
                    <td class="text-center">{{ note.sequenceNo }}</td>
                    <td>{{note.noteType}}</td>
                    <td>{{note.note}}</td>
                    <td>{{note.italic ? 'YES' : (note.italic === false ? 'NO' : '')}}</td>
                    <td>{{note.bold ? 'YES' : (note.bold === false ? 'NO' : '')}}</td>
                    <td>{{note.smallCap ? 'YES' : (note.smallCap === false ? 'NO' : '')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
