<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Contact</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th class="widthfcl">Address Sequence No.</th>
                    <th>Contact Type</th>
                    <th>Extension</th>
                    <th>Contact Details</th>
                    <th>Note</th>
                    <th>Mail Option</th>
                    <th>Nixie Index</th>
                    <th>Non USA</th>
                    <th>Print</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ocdContact in keyPersonnel.ocdContact" ng-class="{'selectedRow': $index == newOCDContactIndex}" ng-if="ocdContact.deleted == false">
                    <td class="text-center">
                        <div ng-if="ocdContact.sequenceNo== originalPers.ocdContact[$index].sequenceNo">
                            <p>{{ocdContact.sequenceNo}}&nbsp;</p>
                        </div>
                        <div ng-if="ocdContact.sequenceNo!= originalPers.ocdContact[$index].sequenceNo">
                            <p class="nextcolor"> {{originalPers.ocdContact[$index].sequenceNo}}&nbsp;</p>
                            <p class="boxcolor">{{ocdContact.sequenceNo}}&nbsp;</p>
                        </div>
                    </td>
                    <td class="text-center">
                        <div ng-if="ocdContact.addressSequenceNo== originalPers.ocdContact[$index].addressSequenceNo">
                            <p>{{ocdContact.addressSequenceNo}}&nbsp;</p>
                        </div>
                        <div ng-if="ocdContact.addressSequenceNo!= originalPers.ocdContact[$index].addressSequenceNo">
                            <p class="nextcolor"> {{originalPers.ocdContact[$index].addressSequenceNo}}&nbsp;</p>
                            <p class="boxcolor">{{ocdContact.addressSequenceNo}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.contactTypeName== originalPers.ocdContact[$index].contactTypeName">
                            <p>{{ocdContact.contactTypeName}}&nbsp;</p>
                        </div>
                        <div ng-if="ocdContact.contactTypeName!= originalPers.ocdContact[$index].contactTypeName">
                            <p class="nextcolor"> {{originalPers.ocdContact[$index].contactTypeName}}&nbsp;</p>
                            <p class="boxcolor">{{ocdContact.contactTypeName}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.extension== originalPers.ocdContact[$index].extension">
                            <p>{{ocdContact.extension}}&nbsp;</p>
                        </div>
                        <div ng-if="ocdContact.extension!= originalPers.ocdContact[$index].extension">
                            <p class="nextcolor"> {{originalPers.ocdContact[$index].extension}}&nbsp;</p>
                            <p class="boxcolor">{{ocdContact.extension}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.contactDetails== originalPers.ocdContact[$index].contactDetails">
                            <p>{{ocdContact.contactDetails}}&nbsp;</p>
                        </div>
                        <div ng-if="ocdContact.contactDetails!= originalPers.ocdContact[$index].contactDetails">
                            <p class="nextcolor"> {{originalPers.ocdContact[$index].contactDetails}}&nbsp;</p>
                            <p class="boxcolor">{{ocdContact.contactDetails}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.note== originalPers.ocdContact[$index].note">
                            <p>{{ocdContact.note}}&nbsp;</p>
                        </div>
                        <div ng-if="ocdContact.note!= originalPers.ocdContact[$index].note">
                            <p class="nextcolor"> {{originalPers.ocdContact[$index].note}}&nbsp;</p>
                            <p class="boxcolor">{{ocdContact.note}}&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.mailOptOut == originalPers.ocdContact[$index].mailOptOut">
                            <p ng-switch on="ocdContact.mailOptOut">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="ocdContact.mailOptOut != originalPers.ocdContact[$index].mailOptOut">
                            <p class="nextcolor" ng-switch on="originalPers.ocdContact[$index].mailOptOut">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="ocdContact.mailOptOut">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.nixieIndex == originalPers.ocdContact[$index].nixieIndex">
                            <p ng-switch on="ocdContact.nixieIndex">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="ocdContact.nixieIndex != originalPers.ocdContact[$index].nixieIndex">
                            <p class="nextcolor" ng-switch on="originalPers.ocdContact[$index].nixieIndex">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="ocdContact.nixieIndex">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.nonUSA == originalPers.ocdContact[$index].nonUSA">
                            <p ng-switch on="ocdContact.nonUSA">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="ocdContact.nonUSA != originalPers.ocdContact[$index].nonUSA">
                            <p class="nextcolor" ng-switch on="originalPers.ocdContact[$index].nonUSA">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="ocdContact.nonUSA">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                    <td>
                        <div ng-if="ocdContact.printFlag == originalPers.ocdContact[$index].printFlag">
                            <p ng-switch on="ocdContact.printFlag">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                        <div ng-if="ocdContact.printFlag != originalPers.ocdContact[$index].printFlag">
                            <p class="nextcolor" ng-switch on="originalPers.ocdContact[$index].printFlag">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                            <p class="boxcolor" ng-switch on="ocdContact.printFlag">
                                <span ng-switch-when=""></span>
                                <span ng-switch-when="true">YES</span>
                                <span ng-switch-when="false">NO</span> &nbsp;
                            </p>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="ocdContact in deletedContacts" bgcolor="42b6da">
                    <td class="text-center">{{ocdContact.sequenceNo}}</td>
                    <td class="text-center">{{ocdContact.addressSequenceNo}}</td>
                    <td>{{ocdContact.contactTypeName}}</td>
                    <td>{{ocdContact.extension}}</td>
                    <td>{{ocdContact.contactDetails}} </td>
                    <td>{{ocdContact.note}} </td>
                    <td>{{ocdContact.mailOptOut ? "YES" : (ocdContact.mailOptOut === false ? "NO" : "")}}</td>
                    <td>{{ocdContact.nixieIndex ? "YES" : (ocdContact.nixieIndex === false ? "NO" : "")}}</td>
                    <td>{{ocdContact.nonUSA ? "YES" : (ocdContact.nonUSA === false ? "NO" : "")}}</td>
                    <td>{{ocdContact.printFlag ? "YES" : (ocdContact.printFlag === false ? "NO" : "")}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
