<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Assignments</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th>Assign Type</th>
                    <th>Title</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assignment in keyPersonnel.assignment" ng-if="assignment.orgId == assngOrgId && !assignment.deleted" ng-class="{'selectedRow': $index == newAssignmentIndex}">
                    <td class="text-center">{{ assignment.sequenceNo }}</td>
                    <td>{{assignment.assignType}}</td>
                    <td>{{assignment.title}}</td>
                    <td>{{assignment.response ? 'YES' : (assignment.response === false ? 'NO' : '')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
