<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Key Personnel: Contact</h4>
    </div>
    <div class="modal-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">Sequence No.</th>
                    <th class="widthfcl">Address Sequence No.</th>
                    <th>Contact Type</th>
                    <th>Extension</th>
                    <th>Contact Details</th>
                    <th>Note</th>
                    <th>Mail Option</th>
                    <th>Nixie Index</th>
                    <th>Non USA</th>
                    <th>Print</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ocdContact in keyPersonnel.ocdContact" ng-class="{'selectedRow': $index == newOCDContactIndex}">
                    <td class="text-center">{{ocdContact.sequenceNo}}</td>
                    <td class="text-center">{{ocdContact.addressSequenceNo}}</td>
                    <td>{{ocdContact.contactTypeName}}</td>
                    <td>{{ocdContact.extension}}</td>
                    <td>{{ocdContact.contactDetails}}</td>
                    <td>{{ocdContact.note}}</td>
                    <td>{{ocdContact.mailOptOut ? "YES" : (ocdContact.mailOptOut === false ? "NO" : "")}}</td>
                    <td>{{ocdContact.nixieIndex ? "YES" : (ocdContact.nixieIndex === false ? "NO" : "")}}</td>
                    <td>{{ocdContact.nonUSA ? "YES" : (ocdContact.nonUSA === false ? "NO" : "")}}</td>
                    <td>{{ocdContact.printFlag ? "YES" : (ocdContact.printFlag === false ? "NO" : "")}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
