<div class="abc">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Key Personnel":"Key Personnel")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="keypersonnelForm">
        <div class="widget-body ">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <h4 class="addnewt container">General Details</h4>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.sequenceNo.$touched && keypersonnelForm.sequenceNo.$invalid}">
                            <label>Sequence No.</label>
                            <input type="text" class="form-control" name="sequenceNo" ng-model="keyPersonnel.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                            <div class="help-block" ng-messages="keypersonnelForm.sequenceNo.$error" ng-show="keypersonnelForm.sequenceNo.$touched && keypersonnelForm.sequenceNo.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group col-md-4">
                            <label>Title</label>
                            <input type="text" ng-model="keyPersonnel.titleMaster" uib-typeahead="keypersonnelTitle as keypersonnelTitle.codeValue for keypersonnelTitle in getKeyPersonnelTitles($viewValue)" typeahead-input-formatter="formatKeypersonnelTypeAhead($model)" typeahead-editable="false" typeahead-on-select="selectKeypersonnelTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingKeypersonnelTitle" typeahead-no-results="noResultsTitle" class="form-control" placeholder="Select Title..." ng-blur="noResultsTitle = false">
                            <i ng-show="loadingKeypersonnelTitle" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResultsTitle">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div> -->
                        <div class="form-group col-md-4">
                            <!-- <label>Custom Title</label> -->
                            <label>Title</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Prefix</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.prefix">
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.keypersonnel.$touched && keypersonnelForm.keypersonnel.$invalid}">
                            <label>First Name<span class="meditator">*</span></label>
                            <input type="text" class="form-control" name="keypersonnel" ng-model="keyPersonnel.name.first" required>
                            <div class="help-block" ng-messages="keypersonnelForm.keypersonnel.$error" ng-show="keypersonnelForm.keypersonnel.$touched && keypersonnelForm.keypersonnel.$invalid">
                                <div ng-message="required">Please fill this field</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Middle Name</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.middle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Last Name</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.last">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Suffix</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.name.suffix">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Academic Degree</label>
                            <input type="text" class="form-control" ng-model="keyPersonnel.degree">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <h4 class="addnewt container">Contact Details</h4>
                        <div class="form-group col-md-4">
                            <label>Phone No.</label>
                            <input type="text" class="form-control" name="phoneno" ng-model="keyPersonnel.phoneNumbers">
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.primaryEmail.$touched && keypersonnelForm.primaryEmail.$invalid}">
                            <label>Primary Email</label>
                            <input type="text" class="form-control" name="primaryEmail" ng-model="keyPersonnel.email.primary" validate-this="primaryEmail" validate-as="email">
                            <div class="help-block" ng-messages="keypersonnelForm.primaryEmail.$error" ng-show="keypersonnelForm.primaryEmail.$touched && keypersonnelForm.primaryEmail.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.primaryEmail.email">Invalid Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Websites</label>
                            <input type="text" class="form-control" name="name" ng-model="keyPersonnel.website">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Fax</label>
                            <input type="text" class="form-control" name="faxno" ng-model="keyPersonnel.faxNumbers">
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error': keypersonnelForm.secondaryEmail.$touched && keypersonnelForm.secondaryEmail.$invalid}">
                            <label>Secondary Email</label>
                            <input type="text" class="form-control" name="secondaryEmail" ng-model="keyPersonnel.email.secondary" validate-this="secondaryEmail" validate-as="email">
                            <div class="help-block" ng-messages="keypersonnelForm.secondaryEmail.$error" ng-show="keypersonnelForm.secondaryEmail.$touched && keypersonnelForm.secondaryEmail.$invalid">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.secondaryEmail.email">Invalid Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <br />
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.contactPersonIndex" ng-true-value="'Y'" ng-false-value="'N'">
                                <span class="lbl"><strong> Contact Person Index</strong></span>
                            </label>
                            <label>
                                <input type="checkbox" class="ace ace-checkbox-2" ng-model="keyPersonnel.printFlag">
                                <span class="lbl"><strong> Consider for Directory Print</strong></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="keypersonnelForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <a class="btn btn-default btn-sm sp10 mr" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</div>
