<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Publication":"Publication")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="publicationsForm">
        <div class="widget-body">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': publicationsForm.sequenceNo.$touched && publicationsForm.sequenceNo.$invalid}">
                    <label>Sequence No.</label>
                    <input type="text" class="form-control" name="sequenceNo" ng-model="publication.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                    <div class="help-block" ng-messages="publicationsForm.sequenceNo.$error" ng-show="publicationsForm.sequenceNo.$touched && publicationsForm.sequenceNo.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : publicationsForm.description.$invalid && publicationsForm.description.$touched}">
                    <label for="pwd">Description<span class="meditator">*</span></label>
                    <textarea class="form-control" rows="5" name="description" ng-model="publication.description" required></textarea>
                    <div class="help-block" ng-messages="publicationsForm.description.$error" ng-show="publicationsForm.description.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled=" publicationsForm.$invalid || loading"> <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save</button>
                <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
            </div>
        </div>
    </form>
</div>
