<div class="modal-header">
    <h3 class="modal-title">Contacts</h3>
</div>
<form ng-submit="editFlag ? update() :add()" name=" contactsForm">
    <div class="modal-body">
        <div class="well well-sm">
            <div class="form-group" ng-class="{'has-error': contactsForm.phoneno.$touched && contactsForm.phoneno.$invalid}">
                <label><i class="fa fa-asterisk text-danger"></i> Phone No.</label>
                <input type="text" class="form-control" name="phoneno" ng-model="contact.phoneNumbers" required>
                <div class="help-block" ng-messages="contactsForm.phoneno.$error" ng-show="contactsForm.phoneno.$touched">
                    <div ng-message="required">Please fill this field</div>
                </div>
            </div>
            <div class="form-group">
                <label>Fax</label>
                <input type="text" class="form-control" ng-model="contact.faxNumbers">
            </div>
            <div class="form-group" ng-class="{'has-error': popupForm.primaryEmail.$touched && popupForm.primaryEmail.$invalid}">
                <label>Primary Email</label>
                <input type="text" class="form-control" name="primaryEmail" ng-model="contact.emails.primary" validate-this="primaryEmail" validate-as="email">
                <div class="help-block" ng-messages="popupForm.primaryEmail.$error" ng-show="popupForm.primaryEmail.$touched">
                    <div ng-message="validateAs">
                        <p ng-show="validateAsErrors.primaryEmail.email">Invalid Email</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': popupForm.secondaryEmail.$touched && popupForm.secondaryEmail.$invalid}">
                    <label>Secondary Email</label>
                    <input type="text" class="form-control" name="secondaryEmail" ng-model="contact.emails.secondary" validate-this="secondaryEmail" validate-as="email">
                    <div class="help-block" ng-messages="popupForm.secondaryEmail.$error" ng-show="popupForm.secondaryEmail.$touched">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.secondaryEmail.email">Invalid Email</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': popupForm.website.$touched && popupForm.website.$invalid}">
                    <label>Website</label>
                    <input type="text" class="form-control" name="website" ng-model="contact.websites" validate-this="website" validate-as="url">
                    <div class="help-block" ng-messages="popupForm.website.$error" ng-show="popupForm.website.$touched">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.website.url">Invalid URL</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Social</label>
                    <input type="text" class="form-control" ng-model="contact.social">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
            <button class="btn btn-primary" type="submit" ng-disabled=" contactsForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </div>
</form>
