<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="aboutus">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"> </div>
                            <div class="space-40 visible-xs"> </div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container backgroud-white">
    <div class="row">
        <div class="col-md-9">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="features">
                        <div class="space-18"></div>
                        <h5 class="text-left dark-orange">

                       {{section.sectionHeader}}</h5>
                        <h6 class="graytext">{{section.sectionDescription1}} </h6>
                        <div class="space-5"></div>
                        <!-- <h6 class="text-left black"> {{section.sectionDescription2}}

                        </h6> -->
                        <h6 class="text-left black" ng-bind-html="section.sectionDescription2 | html"></h6>
                        <div class="space-10"></div>
                        <div class="row pdlf">
                            <div class="{{section.featuresClass}}">
                                <div ng-repeat="features in section.featuresData | orderBy:'sequenceNo'" ng-if="features.panel==='left'">
                                    <div class="{{features.class}}">
                                        {{features.featureDetail}}
                                    </div>
                                </div>
                            </div>
                            <div class="{{section.featuresClass}}">
                                <div ng-repeat="features in section.featuresData | orderBy:'sequenceNo'" ng-if="features.panel==='right'">
                                    <div class="{{features.class}}">
                                        {{features.featureDetail}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-left black"> {{section.sectionDescription3}} </h6>
                    </div>
                    <div data-ng-switch-when="features1">
                        <div class="space-18"></div>
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <h6 class="graytext">{{section.sectionDescription1}} </h6>
                        <div class="space-5"></div>
                        <!-- <h6 class="text-left black"> {{section.sectionDescription2}}

                        </h6> -->
                        <h6 class="text-left black" ng-bind-html="section.sectionDescription2 | html"></h6>
                        <div class="space-10"></div>
                        <div class="row pdlf">
                            <div class="{{section.featuresClass}}">
                                <div ng-repeat="features in section.featuresData | orderBy:'sequenceNo'" ng-if="features.panel==='left'">
                                    <a ui-sref="{{features.link}}" data-params="{{features.link}}" scroll-on-click>
                                        <div class="{{features.class}}">
                                            {{features.featureDetail}}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="{{section.featuresClass}}">
                                <div ng-repeat="features in section.featuresData | orderBy:'sequenceNo'" ng-if="features.panel==='right'">
                                    <a ui-sref="{{features.link}}" data-params="{{features.link}}" scroll-on-click>
                                        <div class="{{features.class}}">
                                            {{features.featureDetail}}
                                        </div>
                                    </a>
                                </div>
                                <div name "connect-with" id="connect-with"></div>
                            </div>
                        </div>
                        <h6 class="text-left black"> {{section.sectionDescription3}} </h6>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sactiononeDMMP2">
                        <div class="space-30"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <h6 class="text-left black"> {{section.sectionDescription1}} </h6>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sactiononeDMMP3">
                        <div class="space-20"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <h6 class="text-left black"> {{section.sectionDescription1}} </h6>
                        <h6 class="text-left black">
                        <div name="directmarketers1" id="directmarketers1"></div>
                        <ul ng-repeat="subData in section.subData">
                            <li>{{subData.name}}</li>
                            
                        </ul>
                          <div name="directmarketers" id="directmarketers"></div>
                          
                    </h6>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sactiononeDMMP4">
                        <div class="space-20"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <label class="blue"> {{section.sectionDescription1}} </label>
                        <h6 class="text-left black">
                            
                                <ul ng-repeat="subData in section.subData">
                                    <li>{{subData.name}}</li>
                                </ul>
                        </h6>
                        <div name="Services" id="Services"></div>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sactiononeDMMP5">
                        <div class="space-20"></div>
                        <div name="Services1" id="Services1"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <label class="blue"> {{section.sectionDescription1}} </label>
                        <h6 class="text-left black">
                                <ul ng-repeat="subData in section.subData">
                                    <li>{{subData.name}}</li>  
                                </ul>
                             </h6>
                        <div class="space-40"></div>
                        <div class="space-20"></div>
                    </div>
                    <div data-ng-switch-when="features2">
                        <div class="space-18"></div>
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <div class="space-5"></div>
                        <h6 class="text-left black">{{section.sectionDescription2}}</h6>
                        <h6 class="text-left black">{{section.sectionDescription3}}</h6>
                        <div class="space-10"></div>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sactiononeAAD2">
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <h6 class="text-left black"> {{section.sectionDescription1}} </h6>
                        <h6 class="text-left black">
                    
                        <ul ng-repeat="subData in section.subData">
                            <li><label class="blue">{{subData.header}}</label>{{subData.name}}</li>
                            <div class="space-8"></div>
                            
                        </ul>
                    </h6>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sactiononeAAD3">
                        <h6 class="text-left black"> {{section.sectionDescription1}} </h6>
                        <h6 class="text-left black">{{section.sectionDescription2}}</h6>
                    </div>
                    <div data-ng-switch-when="customer">
                        <div id="navigateTocustomers" class="space-30"></div>
                        <div class="sactionone">
                            <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                            <div ng-repeat="customerFeedback in customerFeedbacks | orderBy:'sequenceNo'">
                                <h6 class="text-left black">"{{customerFeedback.comments}}"</h6>
                                <div class="detailsaction">
                                    <span class="pull-left"><img src="{{customerFeedback.customerPhoto}}" class="mgtop"></span>
                                    <div class="text-body">
                                        <span class="titletext">
                                                    {{customerFeedback.name.prefix}}
                                                    {{customerFeedback.name.first}}  
                                                    {{customerFeedback.name.last}}  
                                                    {{customerFeedback.name.middle}}
                                                    {{customerFeedback.name.suffix}}
                                                    </span>
                                        <p class="summary">{{customerFeedback.customerDetails1}}
                                            <br>{{customerFeedback.customerDetails2}}
                                        </p>
                                    </div>
                                </div>
                                <div class="border-bottom"></div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="papale-edition">
                        <div class="space-20"></div>
                        <h4 class="text-left orange">{{section.sectionHeader}}</h4>
                        <h6 class="text-left black" ng-bind-html="section.sectionDescription1 | html"></h6>
                        <div class="detailsaction">
                            <div class="space-10"></div>
                            <p class="summary"><b>{{section.sectionDescription2}}</b></p>
                            <div class="space-10"></div>
                            <img src="{{section.sectionImage}}" class="mgtop img-responsive">
                            <div class="space-10"></div>
                        </div>
                    </div>
                    <!-- OMD Section Start -->
                    <div class="sactionone" data-ng-switch-when="sactionone1">
                        <div class="space-20"></div>
                        <h4 class="text-left orange">{{section.sectionHeader}}</h4>
                        <div ng-repeat="subData in section.subData | orderBy:'sequenceNo'">
                            <div class="border-bottom"></div>
                            <h6 class="text-left black">{{subData.name}}</h6>
                        </div>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sactionone2">
                        <div class="space-20"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <h6 class="text-left black"><b>{{section.sectionDescription1}}</b></h6>
                        <article class="ac-small">
                            <div class="years-subtitle" ng-repeat="subData in section.subData">
                                <i class="fa fa-arrow-right arrow-space" aria-hidden="true"></i>{{subData.name}}
                            </div>
                        </article>
                        <h6 class="text-left black" ng-bind-html="section.sectionDescription2 | html">{{section.sectionDescription2}} </h6>
                        <!--   <a href="core.products-services">Products and Services Guide</a> promises to be the best way to connect museum professionals with the vendors they seek. -->
                    </div>
                    <div class="sactionone" data-ng-switch-when="sales-bx-title1">
                        <div class="space-20"></div>
                        <div class="sales-bx-title">{{section.sectionHeader}}</div>
                        <div class="sales-bx clearfix">
                            <div class="col-md-4 col-sm-4" ng-repeat="subData in section.featuresData"> <a class="btn btn-sales linehight" ng-href="{{subData.buttonLink}}" target="_blank"> {{subData.buttonTitle}}</a>
                                <div class="visible-xs space-10"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="sactionone" data-ng-switch-when="sales-bx-title2">
                        <div class="space-20"></div>
                        <div class="sales-bx-title">{{section.sectionHeader}}</div>
                        <div class="sales-bx clearfix">
                            <div class="col-md-4 col-sm-4" ng-repeat="subData in section.featuresData"> <a class="btn btn-sales linehight" ng-href="{{subData.buttonLink}}" target="_blank"> {{subData.buttonTitle}}</a>
                                <div class="visible-xs space-10"> </div>
                            </div>
                        </div>
                        <div class="space-20"></div>
                    </div>
                    <!-- OMD Section End -->
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
