<form ng-submit="sendDataDownloadRequest()" name="formExp">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="form-group" ng-class="{'has-error': formExp.dataDownloadRequest.$touched && formExp.dataDownloadRequest.$invalid}">
                    <label for="pwd">Request Name<span class="meditator">*</span></label>
                    <input type="text" class="form-control" name="dataDownloadRequest" ng-model="dataDownloadRequest.name" required>
                    <div class="help-block" ng-messages="formExp.dataDownloadRequest.$error" ng-show="formExp.dataDownloadRequest.$touched">
                        <div ng-message="required">Please fill this field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" ng-model="dataDownloadRequest.description"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"></button>
                    <h3 class="modal-title">Export as CSV</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger text-center" ng-if="selectedFields.length == 0">
                        <i class="fa fa-warning"></i> Please select a field
                    </div>
                    <div class="input-group">
                        <label class="position-relative input-group-addon">
                            <input class="ace" type="checkbox" ng-model="allSelected" ng-change="toggleAll()"><span class="lbl"></span>
                        </label>
                        <input type="text" ng-model="nameKey" class="form-control" placeholder="Select columns for CSV">
                    </div>
                    <br>
                    <div slim-scroll="200px">
                        <div ng-repeat="field in (fields[currentDirectory] | filter: {label: nameKey})">
                            <div class="form-group">
                                <label class="position-relative">
                                    <input class="ace" id="{{field.label}}" type="checkbox" value="{{field.label}}" ng-model="field.checked" ng-change="toggleSelection(field)">
                                    <span class="lbl"> {{field.label}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="alert alert-danger text-center" ng-if="(fields[currentDirectory] | filter: nameKey).length==0">No matching record found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-success btn-sm sp10 mr" type="submit" ng-disabled="loading || formExp.$invalid || selectedFields.length == 0">
            <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-arrow-down'"></i> Send a Data Download Request
        </button>
    </div>
    <div class="clearfix"></div>
</form>
