<div class="action-buttons">
    <a class="blue" ng-if="isActionPermitted('directory.dataDownload.edit')" ui-sref="portal.directory.dataDownload.edit({id: recordId})">
        <i class="fa fa-pencil bigger-130"></i>
    </a>
    <a class="red" ng-if="isActionPermitted('directory.dataDownload.remove')" ng-click="openDeleteModal1(recordId)">
        <i class="fa fa-trash bigger-130"></i>
    </a>
</div>
