<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="advertising-header">
                    <!-- <div class="row"> -->
                        <div id="animated-example" class="animated fadeInUp">                          
                            <div class="space-40"></div>                            
                            <div class="col-md-12 text-center">
                                <div class="space-40"></div>
                                <div class="space-40 visible-xs"></div>
                                <h1 class="white">{{section.sectionHeader}}</h1>
                            </div>
                            <div class="space-40"></div>
                        </div>
                   <!--  </div> -->
                </div>
          </div>
      </div>
   </div>
</section>
<div id="mailing-page" class="container">
         <div class="row">
            <div class="col-md-9">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
              <div data-ng-switch on="section.sectionName">
                  <div data-ng-switch-when="advertsing-section">
                        <div class="space-18"></div>
                        <label class="text-left orangebold text-uppercase">{{section.sectionHeader}}</label>
                        <p><label class="text-left orangebold text-uppercase">{{section.sectionHeader1}}</label></p>
                        <div class="space-10"></div>
                  </div>
               
               <!-- <div class="textsaction"> -->
                   <div data-ng-switch-when="advertising-description">
                       
                          <h5 class="text-left black">{{section.sectionHeader}}</h5>
                          <h6 class="text-left black" ng-bind-html="section.sectionDescription1 | html"></h6>
                          <div class="space-10"></div>
                          <div class="row">
                             <div class="col-md-6">
                                 <img class="img-responsive center-block" src="{{section.sectionImage}}">
                             </div>

                             <div class="col-md-6">
                             <div ng-repeat="featuresData in section.featuresData | orderBy:'sequenceNo'">

                                <div class="mainvolume">

                                   <div class="">
                                      <span class="pull-left">
                                      <img src="{{featuresData.featureImage}}">
                                      </span>
                                      <div class="text-body">
                                         <span class="pdftext">{{featuresData.featureDetail}}</span>
                                         <div class="space-8"></div>
                                         <a href="{{featuresData.buttonLink}}" target="_blank" class="btn btn-color">{{featuresData.buttonTitle}}</a>
                                      </div>
                                   </div>
                                </div>
                                <div class="space-10"></div>
                             </div>
                          </div>
                       </div>
                       <div class="space-10"></div>
                        <div class="border-bottom"></div>
                    </div>

                <div data-ng-switch-when="advertsing-contact">

                  <div class="space-10"></div>
                  <div class="text-left">
                  <p>{{section.sectionHeader}}</p>
                  <label class="ginatext">
                     <b>{{section.sectionDescription1}}</b>
                     <p class="accouttxt">{{section.sectionDescription2}}</p>
                  </label>
                  <div class="space-5"></div>
                  <span class="consaction">
                  <div ng-repeat="contacts in section.contacts | orderBy:'sequenceNo'">
                     <p><i class="fa fa-phone"></i> {{contacts.phone1}}</p>
                     <p><i class="fa fa-envelope"></i> <a href="#" class="blue">{{contacts.email}}</a></p>
                  </div>
                  </span>
               </div>
              <div class="space-40"></div>
               </div>

               </section>
          </div>
          <div class="col-md-3">
            <div class="space-18"></div>
            <a ui-view="right-partials"> </a>
            <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
        </div>
              
    </div>
            
     
      