<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Comments</h4>
</div>
<div class="modal-body table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Comment</th>
                <th>By</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Comment</th>
                <th>By</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="comment in comments">
                <td>{{($index + 1)}}</td>
                <td>{{comment.comment}}</td>
                <td>
                    {{getNameOfUser(comment.by)}}
                    <br><i>{{to_date_format(comment.at, 'jS M, Y, g:i:s a')}}</i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
