<div class="widget-box abc">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Name</label>
                    <div>{{[(advertiseInquiry.name.first || ''), (advertiseInquiry.name.last || '')].join(' ')}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Email</label>
                    <div>{{advertiseInquiry.email}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Subject</label>
                    <div>{{advertiseInquiry.subject}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Description</label>
                    <div>{{advertiseInquiry.details}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Progress Status</label>
                    <div>{{progressMap[advertiseInquiry.progress]}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>
                        <strong><i class="fa" ng-class="{'fa-check': advertiseInquiry.active, 'fa-remove': !advertiseInquiry.active }"></i> Active</strong>
                    </label>
                </div>
            </dissv>
        </div>
    </div>
</div>
