<div class="action-buttons">
    <a class="navy-blue" href="javascript:void(0)" ng-click="openVersionHistoryModal(recordId)" title="Click to view comments">
        <i class="fa fa-comments bigger-130"></i>
    </a>
    <a class="green" href="javascript:void(0)" ng-if="isActionPermitted('directory.recordHistory.diff')" ng-click="showVersionHistory(recordId)" title="Click to view previous history">
        <i class="fa fa-hourglass-end bigger-130"></i>
    </a>
</div>
