<!DOCTYPE html>
html(lang="en" ng-app="web")
head
	meta(charset="UTF-8")
	title {{}}
	!= css('style')
body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')

	include partials/header

	block content
	
	include partials/footer
	!= js('application')

	//- script(src='/scripts/application.js')