<!DOCTYPE html>
<html lang="en" ng-app="web" ng-controller="browsertitle">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <base href="/">
    <title ng-bind="logo.title"></title>
    <link rel="stylesheet" type="text/css" href="assets/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.css">
    <!-- <link rel="stylesheet" type="text/css" href="assets/datatables/media/css/jquery.dataTables.css"> -->
    <link rel="stylesheet" type="text/css" href="assets/datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="assets/ocd-styles.css">
    <link rel="stylesheet" type="text/css" href="assets/custom.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" type="text/css" href="assets/style-accordian.css" />
    <link rel="stylesheet" type="text/css" href="assets/tabs.css" />
    <link rel="stylesheet" type="text/css" href="assets/toastr/toastr.css" />
    <link rel="stylesheet" type="text/css" href="assets/media-query.css">
    <link rel="stylesheet" type="text/css" href="assets/bxslider-4/dist/jquery.bxslider.min.css">
    
    <link rel="stylesheet" type="text/css" media="print" href="assets/mystyle.css">

    <link rel="shortcut icon" href="{{logo.image}}" />
</head>

<body scroll>
    <!-- <div id="preloader" loading ng-if="dataCommonService.data"></div> -->
    <div id="preloader" loading></div>
    <!--  -->
    
    
    <div ui-view="header"></div>
    <ui-view ></ui-view>
    <div ui-view="footer"></div>

    
    <script type="text/javascript" src="config/web-config.js"></script>
    <script src='assets/jquery/dist/jquery.js' type="text/javascript"></script>
    <script src='assets/jquery-ui/jquery-ui.min.js' type="text/javascript"></script>
    <script src='assets/jquery-cycle2/build/jquery.cycle2.min.js' type="text/javascript"></script>
    <script src='assets/datatables/media/js/jquery.dataTables.min.js' type="text/javascript"></script>
    <script src='assets/jquery.dataTables.columnFilter.js' type="text/javascript"></script>
    <script src='assets/fingerprintjs2/dist/fingerprint2.min.js' type="text/javascript"></script>
    <script src='assets/bxslider-4/dist/jquery.bxslider.min.js' type="text/javascript"></script>
    
    <script type="text/javascript">
        (new Fingerprint2()).get(function(result) {
            localStorage.setItem('NRP-FINGERPRINT', result);
        });
    </script>
    <script src='assets/toastr/toastr.js' type="text/javascript"></script>
    <script src='assets/datatables/media/js/dataTables.bootstrap.min.js' type="text/javascript"></script>
    <script src='assets/angular/angular.min.js' type="text/javascript"></script>
    
    <script type="text/javascript" src="assets/angular-highlightjs/build/angular-highlightjs.js"></script>
    <script type="text/javascript" src="assets/lodash/dist/lodash.min.js"></script>
    
    <script src='assets/angular-animate/angular-animate.js' type="text/javascript"></script>
    <script src='assets/angular-sanitize/angular-sanitize.js' type="text/javascript"></script>
    <script src='assets/angular-ui-router/release/angular-ui-router.min.js' type="text/javascript"></script>
    <script src='assets/angular-messages/angular-messages.min.js' type="text/javascript"></script>
    
    <script src='assets/angular-bootstrap/ui-bootstrap-tpls.js' type="text/javascript"></script>
    <script src='assets/angular-bootstrap/ui-bootstrap.js' type="text/javascript"></script>

    <script src='assets/angular-resource/angular-resource.min.js' type="text/javascript"></script>
    <script src='assets/ngstorage/ngStorage.min.js' type="text/javascript"></script>
    <script src='assets/angular-datatables/dist/angular-datatables.min.js' type="text/javascript"></script>
    <script src='assets/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.min.js' type="text/javascript"></script>    

    <script src='assets/modules/module.js' type="text/javascript"></script>
    <script src='assets/factories/web.data.share.service.js' type="text/javascript"></script>
    <script src='assets/factories/web.html-filter.js' type="text/javascript"></script>
    <script src='assets/factories/web.data-service.js' type="text/javascript"></script>
    <script src='assets/factories/feed.service.js' type="text/javascript"></script>
    <script src='assets/factories/subscriber.service.js' type="text/javascript"></script>
    <script src='assets/factories/subscription-package.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.address-city.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.address-state.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.address-country.service.js' type="text/javascript"></script>
    <script src='assets/factories/DirectoryOrganizationService.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.collection-category.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.institution-category.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.specification-type.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.specification-code.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.officer-type.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.feature-code.service.js' type="text/javascript"></script>  
    <script src='assets/factories/core.directory.listing-type.service.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.disbursal-type.service.js' type="text/javascript"></script>   
    <script src='assets/factories/DirectoryWebUserService.js' type="text/javascript"></script>
    <script src='assets/factories/core.directory.product-category.service.js' type="text/javascript"></script>
    
    <script src='assets/factories/web.dataCommonService.js' type="text/javascript"></script>

    <script src='assets/directives/web.scroll.on.click.directive.js' type="text/javascript"></script>
    <script src='assets/directives/web.window.scroll.directive.js' type="text/javascript"></script>
    <script src='assets/directives/web.cycle.slide.directive.js' type="text/javascript"></script>
    <script src='assets/directives/subscriber.validate-is-email-unique.directive.js' type="text/javascript"></script>
    <script src='assets/directives/validate-as.directive.js' type="text/javascript"></script>
    <script src='assets/directives/validate-match.directive.js' type="text/javascript"></script>
    <script src='assets/directives/validate-password.directive.js' type="text/javascript"></script>
    <script src='assets/directives/password-strength.directive.js' type="text/javascript"></script>
    <script src='assets/directives/web.scroll.selectAll.directive.js' type="text/javascript"></script>
    <script src='assets/directives/web.loading.directive.js' type="text/javascript"></script>
    <script src='assets/directives/directory.web-user.record-actions.directive.js' type="text/javascript"></script>
    <script src='assets/directives/web.back-to-top.directive.js' type="text/javascript"></script>
    <script src='assets/routers/web.router.js' type="text/javascript"></script>
    <script src='assets/controllers/web.header.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.footer.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.aboutus.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.news.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.contactus.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.sales.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.products-services.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.products-services.list.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.products-services.details.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.products-services.search.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.mailing-list.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.advertise.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.archive-reflections.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.request-datacard.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.termsofuse.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.create-request.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.faq.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.login.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.register.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.forgot.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.search.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.subscription.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.profile.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.omd-termsofuse.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.omd-faq.controller.js' type="text/javascript"></script>
    <script src='assets/application.js' type="text/javascript"></script>
    <script src='assets/controllers/web.right.partials.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.browsertitle.controller.js' type="text/javascript"></script>
    <script src='assets/controllers/web.home.sample-profile.controller.js'></script>
    <script src='assets/controllers/web.home.search.controllerAAD.js'></script>
    <script src='assets/controllers/web.home.search.controllerDMMP.js'></script>
    <script src='assets/controllers/web.home.search.controllerCFS.js'></script>
    
    <script src='assets/controllers/web.home.privacyPolicyFooter.controller.js'></script>
    <script src='assets/controllers/web.home.sourcebook-detail.controller.js'></script>
    <script src="assets/controllers/angularjs-dropdown-multiselect.min.js"></script>
</body>

</html>
