<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div data-ng-switch on="section.sectionName">
            <div data-ng-switch-when="SectionHeader">
                <div class="row">
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="col-md-12">
                            <div class="space-40"> </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"> </div>
                            <div class="space-40 visible-xs"> </div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container backgroud-white">
    <div class="row">
        <div class="col-md-9">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="Section1 ">
                        <div class="space-18"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <div class="space-8"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="blue">{{section.table[0].heading}}</label>
                                    <div ng-bind-html="section.table[0].description1 | html"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="blue">{{section.table[1].heading}}</label>
                                    <div ng-bind-html="section.table[1].description1 | html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="blue">{{section.table[2].heading}}</label>
                                <div ng-bind-html="section.table[2].description1 | html"></div>
                            </div>
                            <div class="row">
                                <label class="blue">{{section.table[3].heading}}</label>
                                <div ng-bind-html="section.table[3].description1 | html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="col-md-12">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="Section2">
                        <div class="space-18"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <label class="blue">{{section.sectionHeader1}}</label>
                        <div class="clearfix">
                            <div class="{{features.panelClass}}" ng-repeat="features in section.featuresData">
                                <ul>
                                    <li ng-repeat="feature in features.panelData | orderBy:'sequenceNo'">
                                        {{feature.featureDetail}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="Section3">
                        <div class="space-18"></div>
                        <h4 class="text-left orange border-bottom">{{section.sectionHeader}}</h4>
                        <label class="blue">{{section.sectionHeader1}}</label>
                        <div ng-bind-html="section.table[0].description1 | html"></div>
                    </div>
                </div>
            </section>
            </div>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-40"> </div>
<div class="space-40"> </div>
