<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="request-datacard">
                    <!-- <div class="row"> -->
                        <div id="animated-example" class="animated fadeInUp">                          
                            <div class="space-40"></div>                            
                            <div class="col-md-12 text-center">
                                <div class="space-40"></div>
                                <div class="space-40 visible-xs"></div>
                                <h1 class="white">{{section.sectionHeader}}</h1>
                            </div>
                            <div class="space-40"></div>
                        </div>
                   <!--  </div> -->
                </div>
          </div>
      </div>
   </div>
</section>
    <div id="mailing-page" class="container" name="mailing-page">
        <div class="row">


            <div class="col-md-12 pdtop">
                  <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <div  data-ng-switch-when="request-form">
                       
                        <label>{{section.sectionHeader}}</label>
                        <p>{{section.sectionDescription1}}</p>
                       
                  </div>
                </div>
                </section>

              
                <div class="inputbgnew">
                 <form role="form" name="DatacardForm" ng-submit="ClickDatacard()">

                    <div class="space-8"></div>
                    <label class="titletxt "><span class="meditator">*</span>- Required fields</label>

                    <div class="row inputlabel">
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">First Name:<span class="meditator">*</span>
                                    </label>
                                    <input type="First Name" class="form-control" id="First Name" ng-model="addDatacard.name.first" name="name" required>
                                </div>
                            
                        </div>
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">Last Name:<span class="meditator">*</span>
                                    </label>
                                    <input type="Last Name" class="form-control" id="Last Name" ng-model="addDatacard.name.last" name="name" required>
                                </div>
                            
                        </div>
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">Title:<span class="meditator">*</span>
                                    </label>
                                    <input type="Title" class="form-control" id="Title" ng-model="addDatacard.title" name="title" required>
                                </div>
                            
                        </div>
                    </div>
                    <div class="row inputlabel">
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">Organization:<span class="meditator">*</span>
                                    </label>
                                    <input type="Organization" class="form-control" id="Organization" ng-model="addDatacard.organization" name="organization" required>
                                </div>
                            
                        </div>
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">Organization Type:</label>
                                    <input type="OrganizationType" class="form-control" id="OrganizationType" ng-model="addDatacard.organizationtype" name="organizationtype">
                                </div>
                            
                        </div>
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">Address:</label>
                                    <textarea class="form-control" rows="1" id="Address" ng-model="addDatacard.address" name="address"></textarea>
                                </div>
                            
                        </div>
                    </div>
                    <div class="row inputlabel">
                        <div class="col-md-4 borderselecttwo">
                     <!--        <div class="form-group">
                         <label for="sel1">City:</label>
                         <select class="form-control bord" id="sel1" ng-model="addDatacard.city" name="city">
                             <option>1</option>
                             <option>2</option>
                             <option>3</option>
                             <option>4</option>
                         </select>
                     </div> -->

                               <div class="form-group" ng-class="{'has-error' : subscriptionForm.addressCity.$touched && subscriptionForm.addressCity.$invalid}">
                                <label>City</label>
                                <!-- <script type="text/ng-template" id="directory.organization.address-city-typeahead.tpl.html">
                                    <a>
                                        <p ng-bind-html="match.label | uibTypeaheadHighlight:query"></p>
                                        <span>{{match.model.parentId.codeValue}} ({{match.model.parentId.description}})</span>,
                                        <span ng-bind-html="match.model.parentId.parentId.codeValue"></span>
                                    </a>
                                </script>
                                <input type="text" required name="addressCity" ng-model="subscriber.city" uib-typeahead="addressCity as addressCity.codeValue for addressCity in getAddressCities($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-city-typeahead.tpl.html" typeahead-on-select="selectAddressCityTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressCity" typeahead-no-results="noResultsCity" class="form-control" autocomplete="off">
                                <i ng-show="loadingAddressCity" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsCity">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div> -->
                                <input type="text" id="auto-complete-city" autocomplete="off"   ng-minlength="3" name="addressCity" ng-model="addDatacard.city" class="form-control"></input>
                                  <span style="color:red" ng-show="DatacardForm.addressCity.$error.minlength">
                                            Enter minimum 3 characters
                                   </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                        
                                <!-- <div class="form-group">
                                    <label for="email">State/Providence:</label>
                                    <input type="text" class="form-control" id="email" ng-model="addDatacard.state" name="state">
                                </div> -->
                               <div class="form-group">
                                <label>State/Providence</label>
                                <!-- <script type="text/ng-template" id="directory.organization.address-state-typeahead.tpl.html">
                                    <a>
                                        <span ng-bind-html="(match.model.codeValue + ' (' + match.model.description + ')') | uibTypeaheadHighlight:query"></span>,
                                        <span ng-bind-html="match.model.parentId.codeValue"></span>
                                    </a>
                                </script>
                                <input type="text" class="form-control" ng-model="subscriber.state" uib-typeahead="addressState as addressState.codeValue for addressState in getAddressStates($viewValue)" typeahead-wait-ms="500" typeahead-template-url="directory.organization.address-state-typeahead.tpl.html" typeahead-on-select="selectAddressStateTypeAhead($item, $model, $label, $event)" typeahead-loading="loadingAddressState" typeahead-no-results="noResultsState" class="form-control">
                                <i ng-show="loadingAddressState" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResultsState">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div> -->
                              
                                <input type="text" id="auto-complete-state"  name="State"  ng-minlength="3" autocomplete="off" ng-model="addDatacard.State" class="form-control"></input>
                                    <span style="color:red" ng-show="DatacardForm.state.$error.minlength">
                                            Enter minimum 3 characters
                                   </span>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">Zip/Postal Code:</label>
                                    <input type="text" class="form-control" id="email" ng-model="addDatacard.zip" name="zip">
                                </div>
                            
                        </div>
                    </div>
                    <div class="row inputlabel">
                        <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': DatacardForm.email.$touched && DatacardForm.email.$invalid}">
                                <label for="text">E-mail:<span class="meditator">*</span></label>
                                
                                <input type="email" required class="form-control" name="email" ng-model="addDatacard.email" validate-this="emailId" validate-as="email">
                                <div class="help-block" ng-messages="DatacardForm.email.$error" ng-show="DatacardForm.email.$touched">
                                   <!--  <p ng-message="required">This field is required</p> -->
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                                    </div>
                                   <!--  <p ng-message="validateIsEmailUnique"><b>{{addDatacard.email}}</b> has already subscribed</p> -->
                                </div>
                        </div>

                        
                                <!-- <div class="form-group">
                                    <label for="email">E-mail:<span class="meditator">*</span>
                                    </label>
                                    <input type="email" class="form-control" id="email" ng-model="addDatacard.email" name="email" required>
                                </div> -->
                            
                        </div>
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">Your needs:</label>
                                    <textarea class="form-control" rows="3" id="#" ng-model="addDatacard.needs" name="needs"></textarea>
                                </div>
                            
                        </div>
                        <div class="col-md-4">
                        
                                <div class="form-group">
                                    <label for="email">How did you hear about us?</label>
                                    <textarea class="form-control" rows="3" id="#" ng-model="addDatacard.hearaboutus" name="hearaboutus"></textarea>
                                </div>
                            
                        </div>
                    </div>

                    <div class="btnfooter">
                    
                    
                        <button type="submit" class="btn btn-color" ng-disabled="DatacardForm.$invalid">SUBMIT</button>
                        <button type="button" class="btn btn-cancel" ui-sref="core.mailing-list">Cancel</button>
                        <b>
                        <!-- <div class="orange" align= "left">{{addDatacardMsg}}</div>
                        <div class="black" align= "left">{{addDatacardMsg1}}</div>
                        </b>
                        <a class="pull-left" href="mailto:{{addDatacardMsg2}}">{{addDatacardMsg2}}</a> -->
                        <br>
                        <br>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="space-40"> </div>
