<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="termsofuse">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="space-18"></div>
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="termsofuse1">
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <div class="space-8"></div>
                        <h6 class="text-left black" ng-bind-html="section.sectionDescription | html"></h6>
                        <div class="space-8"></div>
                        <div class="ac-container" ng-bind-html="section.termsofuseData | html"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-40"> </div>
