<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form name="refCodeValueForm" ng-submit="add()">
            <div class="form-group">
                <label>Code Type</label>
                <ui-select ng-model="refCodeValue.codeType" required>
                    <ui-select-match>
                        <span ng-bind="$select.selected.codeType"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="thisRefCodeType._id as thisRefCodeType in (refCodeTypeArray | filter: $select.search) track by thisRefCodeType._id">
                        <span ng-bind="thisRefCodeType.codeType"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Parent</label>
                <ui-select ng-model="refCodeValue.parent">
                    <ui-select-match>
                        <span ng-bind="$select.selected.codeValue"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="thisParent._id as thisParent in (parentArray | filter: $select.search) track by thisParent._id">
                        <span ng-bind="thisParent.codeValue"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': refCodeValueForm.codeValue.$touched && refCodeValueForm.codeValue.$invalid }">
                <label>Code Value</label>
                <input type="text" class="form-control" name="codeValue" ng-model="refCodeValue.codeValue" required validate-is-ref-code-value-unique ref-code-type-id="{{refCodeValue.codeType._id}}">
                <div class="help-block" ng-messages="refCodeValueForm.codeValue.$error" ng-show="refCodeValueForm.codeValue.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsRefCodeValueUnique"><b>{{refCodeValue.codeValue}}</b> already exists</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="refCodeValueForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>
