<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Code Value</th>
                <th>Code Type</th>
                <th width="10%" class="text-center">Status</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Code Value</th>
                <th>Code Type</th>
                <th width="10%" class="text-center">Status</th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="refCodeValue in refCodeValues">
                <td>{{refCodeValue.codeValue}}</td>
                <td>{{refCodeValue.codeType.codeType}}</td>
                <td class="text-center" ng-class="refCodeValue.active ? 'bg-success text-success' : 'bg-danger text-danger'">
                    {{ refCodeValue.active ? 'Active' : 'Inactive' }}
                </td>
                <td class="text-center">
                    <a class="btn btn-primary" ui-sref="core.policy.refCodeValue.edit({id: refCodeValue._id})"><i class="fa fa-edit"></i></a>
                </td>
                <td class="text-center">
                    <a class="btn btn-danger" ui-sref="core.policy.refCodeValue.remove({id: refCodeValue._id})"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
