<nav class="navbar navbar-inverse navbar-static-top" id="topNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="acl.module.list">Dev Portal</a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="acl.module.list">Dev</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="core.acl.module.list"><i class="fa fa-lock"></i> ACL</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="core.security.role.list"><i class="fa fa-warning"></i> Security</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="core.policy.securityQuestion.list"><i class="fa fa-star"></i> Policies</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="core.master.refCodeType.list"><i class="fa fa-graduation-cap"></i> Masters</a>
                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container-fluid" ui-view></div>
