<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="products-services-guide">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="products-services-bx"> </div>
<div id="mailing-page" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="space-18"></div>
            <form class="products-search-box" ng-submit="KeyWordSearch(val)">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" ng-model="val.KeywordSearch" placeholder="KEYWORDS">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="checkboxG4" ng-model="val.chk" id="checkboxG4" class="css-checkbox" />
                                            <label for="checkboxG4" class="css-label white">All of these words</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div name="stateForm">
                                <input type="text" 
                                id="auto-complete-state" 
                                name="State" 
                                autocomplete="off" 
                                ng-model="val.State" 
                                class="form-control" 
                                placeholder="STATE"></input>
                                <span style="color:white" 
                                ng-show="val.State.length < 3">Enter minimum 3 characters</span>
                            </div>
                            <!--   <select class="form-control" name="singleSelect" id="singleSelect" ng-model="val.State">
                              <option value="?" selected="selected"> Select </option>
                              <option ng-selected="true" value="">Select State</option>
                              <option ng-repeat="option in StateArray | orderBy:'codeValue'" value="{{option.codeValue}}">{{option.codeValue}}
                              </option>
                          </select> -->
                            <!--   <ui-select ng-model="val.state">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in StateArray">
                                <span ng-bind="thisRecordStatus.codeValue"></span>
                            </ui-select-choices>
                            </ui-select> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Zip" ng-model="val.Zip" placeholder="CITY OR ZIP CODE">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!--    <select class="form-control">
                        <option>RADIUS</option>
                        <option>25 miles</option>
                         <option>50 miles </option> 
                         <option>100 miles </option>                       
                    </select> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- {{val}} -->
                            <!-- <button type="button" class="btn btn-color-search" ng-click="KeyWordSearch(val)">Search</button> -->
                            <button type="submit" class="btn btn-color-search" ng-click="KeyWordSearch(val)">Search</button>
                            <button type="button" class="btn btn-color-search" ng-click="Reset()">Reset </button>
                        </div>

                    </div>

                </div>
                     <div class="brows-style">
                <a href="/{{direcoryName}}/products-services" clas="terms">Browse by Category</a>
                </div>
            </form>
            <div class="border clearfix">
                <div class="space-8"></div>
                <div class="col-md-12">
                    <!-- <img src="/assets/tempPersonal.jpg"> -->
                    <a ng-click="printDiv('printable');" class="pull-right print btn dark-grey"> Print </a>
                    <!-- <button ng-click="">Print Div</button> -->
                    <!-- <a target="_blank" 
                    ng-href="https://www.google.co.in/maps/place/{{getGuide[0].companyName}},{{getGuide[0].companyAddress.street1}} {{getGuide[0].companyAddress.street2}}   {{getGuide[0].companyAddress.city}} , {{getGuide[0].companyAddress.stateAbbreviation}} {{getGuide[0].companyAddress.zip}}" 
                    class="pull-right map btn dark-grey"> Map </a> -->
                    <!-- 
                    getGuide[0].location[0]
                    getGuide[0].location[1]
                    https://www.google.co.in/maps/@18.5967376,73.7654253,15z?hl=en 
                    -->
<a target="_blank" ng-href="https://www.google.co.in/maps/@{{getGuide[0].location[1]}},{{getGuide[0].location[0]}},15z?hl=en" class="pull-right map btn dark-grey"> Map </a>

                    
                </div>
                <div class="col-md-12 products-details-bx">
                    <div id="printable" name="printable">
                        <div class="print-this">
                            <div class="row">
                                <div class="col-md-6">
                                <!-- {{getGuide[0].companyDetailsLogo}} -->
 <script> function imgFun(data){data.src=BASE_PATH.NOIMG; }</script>

<!--   onerror="this.onerror=null;imgFun(this);" -->
                      <!--           <img class="media-object" 
                      src="{{baseURL}}assets/augustinelogo_lg.jpg"
                      alt="..." 
                                                   
                      width="220px" height="100px"> -->
                              
                              <a href="http://{{getGuide[0].companyWebsite}}" target="_blank">
                              <img class="media-object" 
                              src="{{getGuide[0].imgSrc}}"
                              alt="..." 
                              onerror="this.onerror=null;imgFun(this);">
                              </a>
                              <!-- src="{{baseURL}}assets/OMD/OMD_Web_Logos/{{getGuide[0].companyDetailsLogo}} -->
                                </div>
                                <div class="col-md-6 align-print-left">
                                    <p>
                                        <h5 class="dark-blue"><any ng-bind-html="bindHtml(getGuide[0].companyName)"></any></h5><br>


                                        <h6>
                                        <div ng-if="getGuide[0].companyAddress.street1">
                                         <any ng-bind-html="bindHtml(getGuide[0].companyAddress.street1)"></any>
                                        </div>
                                        <div ng-if="getGuide[0].companyAddress.street2">
                                         <any ng-bind-html="bindHtml(getGuide[0].companyAddress.street2)"></any>
                                        </div>
                                         <div ng-if="getGuide[0].companyAddress.city">
                                        {{getGuide[0].companyAddress.city}}, {{getGuide[0].companyAddress.stateAbbreviation}} 
                                        <any ng-if="getGuide[0].companyAddress.country!='USA'">
                                        {{getGuide[0].companyAddress.country}}
                                        </any>
                                         {{getGuide[0].companyAddress.zip}}
                                        </div>
                                        <span ng-if="getGuide[0].companyFreePhone || getGuide[0].telephone">Tel:</span>
                                        <any ng-if="getGuide[0].companyFreePhone" ng-bind-html="bindHtml(getGuide[0].companyFreePhone+'; ')"></any>
                                        <any ng-bind-html="bindHtml(getGuide[0].telephone)"></any>

                                        <!-- <any ng-bind-html="bindHtml('Tel: '+getGuide[0].companyFreePhone+'; '+getGuide[0].telephone)"></any><br> -->

                                        <any ng-if="getGuide[0].fax" ng-bind-html="bindHtml('<br>FAX: '+getGuide[0].fax)"></any><br>
                                        <span ng-if="getGuide[0].companyEmail">E-mail: <a href="http://{{getGuide[0].companyWebsite}}" target="_blank">{{getGuide[0].companyEmail}}  </a><br></span>
                                        <span ng-if="getGuide[0].companyWebsite">
                                        Web Site: <a href="http://{{getGuide[0].companyWebsite}}" target="_blank">{{getGuide[0].companyWebsite}}</a>
                                        </span>
                                        </h6>
                                    </p>
                                </div>
                            </div>
                            <div class="border-bottom"></div>
                            <h3 class="black">{{getGuide[0].companyTypeHeader}}</h3>
                            <div class="space"></div>
                            <h6 ng-bind-html="bindHtml(getGuide[0].companyDescription)"></h6>
                            <div class="space-10"></div>
                            <h6>
                                        <div class="dark-grey" ><b>{{getGuide[0].companyContactHeader}}</b></div>
                                        <div class="dark-orange"><b></b></div>
                                        <div>{{getGuide[0].companyContactDetails}}</div>
                   
                                     </h6>
                            <div class="space-10"></div>
                        </div>
                        <div class="border-bottom clearfix"> </div>
                        <h3 class="black"> Personnel:</h3>
                        <div class="row" >
                            <div 
                            class="inline-print col-md-3 text-center list-inline" 
                            ng-repeat="personnel in getGuide[0].personnel   | orderBy:'personnel_id' "
                            style="height:220px;"
                            > 
                            <img src="{{baseURL}}assets/tempPersonal.jpg"
                            alt="" 
                            />
                                <div class="space-4">
                                </div>
                                <div class="designation-title dark-orange">
                                    <b> {{personnel.personPrefix}} {{personnel.personName}} {{personnel.personLastName}}</b></div>
                                <div class="space"></div>
                                <div class="designation">{{personnel.personDesignation}}</div>
                            </div>
                        </div>
                        <div class="border-bottom clearfix"> </div>
                        <h3 class="blue"><any ng-bind-html="bindHtml(getGuide[0].companyName)"></any> also appears in:</h3>
                           
                        <div class="col-md-4 inline-print" ng-repeat="getProductSubCategory in getGuide[0].categories  | orderBy: 'ProductSubCategoryName'">
                            <h6 class="blue">
                                           <p>
                                            <a  href="#" ng-click="productCategoryList(getProductSubCategory.ProductSubCategoryName)">
                                            <any ng-bind-html="bindHtml(getProductSubCategory.ProductSubCategoryName)"></any>

                                            </a>
                                          </p>
                                </h6>
                        </div>
                    </div>
                    <div class="border-bottom clearfix"> </div>
                    <h3 class="black">Email A Friend</h3>
                    <h6>Forward this listing to a friend</h6>
                    <form class="form-horizontal" role="form" name="EmailAFriend" ng-submit="ClickEmailAFriend()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <!-- <label for="name" class="col-sm-2 control-label">Name</label> -->
                                        <!--  <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" value="">
                                 -->
                                        <input type="text" class="form-control" id="name" ng-model="addEmailAFriend.name.first" name="name" placeholder="Your Name" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': EmailAFriend.email.$touched && EmailAFriend.email.$invalid}">
                                    <div class="col-sm-12">
                                        <!-- <label for="email" class="col-sm-2 control-label">Email</label>   -->
                                        <!--    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" value=""> -->
                                        <input type="email" class="form-control" ng-model="addEmailAFriend.email" id="email" name="email" placeholder="Your Email" validate-this="email" validate-as="email" required>
                                        <div class="help-block" ng-messages="EmailAFriend.email.$error" ng-show="EmailAFriend.email.$touched">
                                            <!--  <p ng-message="required">This field is required</p> -->
                                            <div ng-message="validateAs">
                                                <p ng-show="validateAsErrors.email.email">Invalid Email</p>
                                            </div>
                                            <!--  <p ng-message="validateIsEmailUnique"><b>{{addDatacard.email}}</b> has already subscribed</p> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': EmailAFriend.friendsEmail.$touched && EmailAFriend.friendsEmail.$invalid}">
                                    <div class="col-sm-12">
                                        <!-- <label for="human" class="col-sm-2 control-label">Subject</label> -->
                                        <!--   <input type="text" class="form-control" id="human" name="human" placeholder="Friends Email"> -->
                                        <input type="email" class="form-control" ng-model="addEmailAFriend.friendsEmail" id="email" name="friendsEmail" placeholder="Friend Email" validate-this="friendsEmail" validate-as="email" required>
                                        <div class="help-block" ng-messages="EmailAFriend.friendsEmail.$error" ng-show="EmailAFriend.friendsEmail.$touched">
                                            <!--  <p ng-message="required">This field is required</p> -->
                                            <div ng-message="validateAs">
                                                <p ng-show="validateAsErrors.friendsEmail.email">Invalid Email</p>
                                            </div>
                                            <!--  <p ng-message="validateIsEmailUnique"><b>{{addDatacard.email}}</b> has already subscribed</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <!-- <label for="message" class="col-sm-2 control-label">Message</label> -->
                                        <!-- <textarea class="form-control" rows="4" name="message" ></textarea> -->
                                        <textarea ng-if="getGuide[0].companyName != '<i>kubik inc.</i>'"
                                        ng-model="addEmailAFriend.details" class="form-control" rows="4" name="message" 
                                        placeholder="Hi, I thought you might be interested in this company profile The {{getGuide[0].companyName}}">
                                        </textarea>
                                         <textarea ng-if="getGuide[0].companyName == '<i>kubik inc.</i>'"
                                        ng-model="addEmailAFriend.details" class="form-control" rows="4" name="message" 
                                        placeholder="Hi, I thought you might be interested in this company profile The kubik inc.">
                                        </textarea>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- <h3 class="orange">{{addEmailAFriendMsg}}</h3> -->
                                    <button class="btn btn-color-search pull-right" ng-disabled="EmailAFriend.$invalid" ng-click="EmailAFriend.$setUntouched()" type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="space-30"></div>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
            <div class="space-18"></div>
        </div>
    </div>
