
<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="products-services-guide">
                    <!-- <div class="row"> -->
                        <div id="animated-example" class="animated fadeInUp">                          
                            <div class="space-40"></div>                            
                            <div class="col-md-12 text-center">
                                <div class="space-40"></div>
                                <div class="space-40 visible-xs"></div>
                                <h1 class="white">{{section.sectionHeader}}</h1>
                            </div>
                            <div class="space-40"></div>
                        </div>
                   <!--  </div> -->
                </div>
          </div>
      </div>
   </div>
</section>
      <div id="mailing-page" class="container">
         <div class="row">
            <div class="col-md-9">
               <div class="space-18"></div>
               <div class="products-search-box">
                  <div class="row">
                     <div class="col-md-9">
                        <div class="form-group">
                           <input type="text" class="form-control" id="email" ng-model="val.KeywordSearch" placeholder="KEYWORDS">
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="form-group">
                           <div >
                              <table>
                                 <tr>
                                    <td>
                                       <input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" />
                                       <label for="checkboxG4" class="css-label white">All of these words</label>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-3">
                        <div class="form-group">
                           <!--  <ui-select ng-model="val.StateArray">
                              <ui-select-match placeholder="Select">
                                  <span ng-bind="$select.selected.codeType"></span>
                              </ui-select-match>
                              <ui-select-choices repeat="state as StateArray track by state._id">
                                  <span ng-bind="state.codeType"></span>
                              </ui-select-choices>
                           </ui-select> -->
                            <select class="form-control" name="singleSelect" id="singleSelect" ng-model="val.State">
                               <!--  <option value="?" selected="selected"> Select </option> -->
                                <option ng-selected="true" value="">Select State</option>

                                <option ng-repeat="option in StateArray | orderBy:'codeValue'" value="{{option.codeValue}}">{{option.codeValue}}
                                 
                                </option>
                            </select>

                          <!--   <ui-select ng-model="val.state">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in StateArray">
                                <span ng-bind="thisRecordStatus.codeValue"></span>
                            </ui-select-choices>
                            </ui-select> -->
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="form-group">
                        <input type="text" class="form-control" id="Zip"  ng-model="val.Zip" placeholder="CITY OR ZIP CODE">
                        </div>
                     </div>
                    <!--  <div class="col-md-3">
                        <div class="form-group">
                           <select class="form-control">
                               <option>RADIUS</option>
                               <option>25 miles</option>
                                <option>50 miles </option> 
                                <option>100 miles </option>                       
                           </select>
                        </div>
                     </div> -->
                     <div class="col-md-3">
                        <div class="form-group">
                        <!-- {{val}} -->
                            <button type="button" class="btn btn-color-search" ng-click="KeyWordSearch(val)">Search</button>
                            <button type="button" class="btn btn-color-search">Reset </button>
                        </div>
                    </div>
                  </div>
               </div>

                 <div class="border clearfix">

                   <ui-view></ui-view>
               <!--     <ng-include src="'assets/products-services/view.html'" scope="" onload=""></ng-include> -->


                    



              <div class="space-18"></div>

             </div>
              <div class="space-18"></div>
          </div>

        </div>
        </div>
