<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">

        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="products-services-guide">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>                            
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container">
    <div class="row">
    <form name="" ng-submit=KeyWordSearch(val)">
        <div class="col-md-9">
            <div class="space-18"></div>
            <div class="products-search-box">
                <div class="row">

                    <div class="col-md-9">
                 
                        <div class="form-group">
                            <input type="text" 
                            class="form-control" 
                            id="email" ng-model="val.ProductSubCategoryName" placeholder="KEYWORDS">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="checkboxG4" ng-model="val.chk" id="checkboxG4" class="css-checkbox" />
                                            <label for="checkboxG4" class="css-label white">All of these words
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div name="stateForm">
                                <input type="text" 
                                id="auto-complete-state" 
                                name="State" 
                                
                                autocomplete="off" 
                                ng-model="val.State" 
                                class="form-control" 
                                placeholder="STATE"></input>
                                <span style="color:white" 
                                ng-show="val.State.length < 3">Enter minimum  characters</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Zip" ng-model="val.Zip" placeholder="CITY OR ZIP CODE">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                        <select name="DataTables_Table_0_length" 
                        aria-controls="DataTables_Table_0" 
                        class="form-control"
                        ng-model="radius"
                        ng-change="calRadius(radius)">
                        <option>RADIUS</option>
                        <option value="25" selected>25 miles</option>
                        <option value="50">50 miles</option>
                        <option value="100">100 miles</option>
                        </select>
                        
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-color-search" ng-click="KeyWordSearch(val)">Search</button>
                            <button type="button" class="btn btn-color-search" ng-click="Reset()">Reset </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <script>function callfun(data){data.src='assets/liturgical.jpg';}</script>
            <div class="border clearfix">
              <div class="col-md-12">
                <div class="row">
                <div class="space-8"></div>
                <div class="col-md-6">
                    <div class="media" ng-repeat="getProductCategory1 in getProductCategory track by $index" 
                    ng-init="getImg(getProductCategory1)" 
                    ng-if="$index <=catFunction(getProductCategory)">
                        <div class="media-left">
                            <a href="#">

                                <!-- <img 
                                class="media-object" 
                                ng-src="/assets/{{getProductCategory1.imgSrc}}.jpg" 
                                alt="..."
                                onerror="this.onerror=null;callfun(this);" width=34 height=28> -->
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-left">{{getProductCategory1.codeValue}}</h4>
                            <span ng-repeat="getProductSubCategory in getProductSubCategory" ng-if="getProductSubCategory.parentId.codeValue === getProductCategory1.codeValue">
                            <div class="media-text block">
                                    <a  href="#" ng-click="productCategoryList(getProductSubCategory)">
                                 <span ng-bind-html="htmlData(getProductSubCategory.codeValue)"></span>                                 
                                    </a>
                            </div>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media" ng-repeat="getProductCategory1 in getProductCategory" 
                    ng-init="getImg(getProductCategory1)" 
                    ng-if="$index > catFunction(getProductCategory)">
                        <div class="media-left">
                            <a href="#">
                                <!-- <img class="media-object" 
                                ng-src="/assets/{{getProductCategory1.imgSrc}}.jpg" 
                                alt="..."
                                onerror="this.onerror=null;callfun(this);" width=34 height=28> -->
                                  <i class="fa fa-certificate" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-left">{{getProductCategory1.codeValue}}</h4>
                            <span ng-repeat="getProductSubCategory in getProductSubCategory" ng-if="getProductSubCategory.parentId.codeValue === getProductCategory1.codeValue">
                            <div class="media-text block">
                                    <a  href="#"  ng-click="productCategoryList(getProductSubCategory)">
                                    <span ng-bind-html="htmlData(getProductSubCategory.codeValue)"></span>
                                    </a>
                            </div>
                                </span>
                        </div>
                    </div>
                </div>
                 <div class="space-18 col-md-12"></div>
                </div>
              </div>

            </div>
            <div class="space-18"></div>
        </div>
        </form>
        <div class="col-md-3">
            <div class="space-18"></div>
            <a ui-view="right-partials"> </a>
            <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
        </div>
    </div>
</div>
