<div class="panel panel-primary">
    <nav class="panel-heading-navbar panel-heading navbar navbar-primary">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-action" aria-expanded="false" aria-controls="navbar-action">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="organization.add"></a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="organization.add"></a>
        </div>
        <div id="navbar-action" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.add.general">
                        <i class="fa fa-info"></i> General
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.add.communication">
                        <i class="fa fa-envelope"></i> Communication
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.add.personnel">
                        <i class="fa fa-users "></i> Personnel
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.directory.organization.add.other ">
                        <i class="fa fa-info-circle "></i> Other Info
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <form name="addForm " ng-submit="validate() ">
        <div class="panel-body " ui-view></div>
    </form>
</div>
