<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="contacts">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container">
    <div class="row">
        <div class="col-md-9">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="contactdetails">
                        <div class="space-18"></div>
                        <div class="textsaction">
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div ng-repeat="contact in section.contacts | orderBy:'sequenceNo'" ng-if="contact.panel === 'left'">
                                        <div class="cont-boxborder {{contact.class}}">
                                            <span class="contacttext ">{{contact.type}}</span>
                                            <div ng-if="contact.type === 'Mailing Address'">
                                                <p>{{contact.address1}}</p>
                                                <p>{{contact.address2}}</p>
                                                <p>{{contact.address3}}</p>
                                            </div>
                                            <div ng-if="contact.type != 'Mailing Address'">
                                                <p ng-if="contact.Attn.length > 0"><strong>Attn:</strong> {{contact.Attn}}</p>
                                                <p ng-if="contact.email.length > 0"><strong>Email:</strong><a href="mailto:{{contact.email}}" class="blue"> {{contact.email}}</a></p>
                                                <p ng-if="contact.mail.length > 0"><strong>Mail:</strong> {{contact.mail}}</p>
                                                <p ng-if="contact.phone.length > 0"><strong>Phone:</strong> {{contact.phone}}</p>
                                                <p ng-if="contact.outsideUSA.length > 0"><strong>Outside the U.S.:</strong> {{contact.outsideUSA}}</p>
                                                <p ng-if="contact.fax.length > 0"><strong>Fax:</strong> {{contact.fax}}</p>
                                            </div>
                                        </div>
                                        <div class="space-10"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div ng-repeat="contact in section.contacts | orderBy:'sequenceNo'" ng-if="contact.panel === 'right'">
                                        <div class="cont-boxborder {{contact.class}}">
                                            <span class="contacttext "> {{contact.type}}</span>
                                            <div class="ptext">
                                                <p>{{contact.address1}}</p>
                                                <p ng-if="contact.Attn.length > 0"><strong>Attn:</strong> {{contact.Attn}}</p>
                                                <p ng-if="contact.email.length > 0"><strong>Email:</strong><a href="mailto:{{contact.email}}" class="blue"> {{contact.email}}</a></p>
                                                <p ng-if="contact.mail.length > 0"><strong>Mail:</strong> {{contact.mail}}</p>
                                                <p ng-if="contact.phone.length > 0"><strong>Phone:</strong> {{contact.phone}}</p>
                                                <p ng-if="contact.outsideUSA.length > 0"><strong>Outside the U.S.:</strong> {{contact.outsideUSA}}</p>
                                                <p ng-if="contact.fax.length > 0"><strong>Fax:</strong> {{contact.fax}}</p>
                                            </div>
                                        </div>
                                        <div class="space-10"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                    </div>
                    <div data-ng-switch-when="contacttext">
                        <!--  <div id="mailing-page"> -->
                        <!-- <div class="space-10"></div>
                       -->
                        <div class="col-md-9">
                            <div class="textsaction black">
                                <!--   <div ng-repeat="comment in section.comments"> -->
                                <span class="contacttext">{{section.sectionHeader}}</span>
                                <p>{{section.sectionDescription1}}</p>
                                <p ng-if="section.sectionDescription2.length > 0 ">
                                    <strong>Email:</strong>
                                    <a>{{section.email}}</a> {{section.sectionDescription2}}</p>
                                <!-- </div> -->
                                <form role="form" name="CommentForm" ng-submit="ClickComment(CommentForm)">
                                    <div class="form-group">
                                        <label for="usr">Your Name: <span class="meditator">*</span></label>
                                        <input type="text" class="form-control" id="usr" ng-model="addComment.name.first" name="name" placeholder="Your Name" required>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': CommentForm.email.$touched && CommentForm.email.$invalid}">
                                        <label for="text">Your Email: <span class="meditator">*</span></label>
                                        <input type="email" required class="form-control" name="email" ng-model="addComment.email" validate-this="emailId" validate-as="email" placeholder="Your Email">
                                        <div class="help-block" ng-messages="CommentForm.email.$error" ng-show="CommentForm.email.$touched">
                                            <!-- ng-show="CommentForm.email.$touched" -->
                                            <div ng-message="validateAs">
                                                <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                    <label for="usr">Your Email: <span class="meditator">*</span></label>
                                    <input type="email" class="form-control" id="usr" ng-model="addComment.email" name="email" placeholder="Your Email" required>
                                  </div> -->
                                    <div class="form-group">
                                        <label for="usr">Your Phone Number: <span class="meditator">*</span></label>
                                        <input type="text" class="form-control" id="usr" ng-model="addComment.phone" name="phone" placeholder="Your Phone Number" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Comments and Feedback: <span class="meditator">*</span></label>
                                        <textarea class="form-control" rows="3" id="comment" ng-model="addComment.details" name="details" placeholder="Comments and Feedback" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Reason for Contacting: <span class="meditator">*</span></label>
                                        <textarea class="form-control" rows="3" id="comment" ng-model="addComment.reasons" name="reasons" placeholder="Reason for Contacting" required></textarea>
                                    </div>
                                    <!-- <h3  class="green">{{addCommentMsg}}</h3> -->
                                    <!-- <div class="form-group has-success"> -->
                                    <div>
                                        <!-- <div class="orange">{{addCommentMsg}}</div> -->
                                        <button type="submit" class="btn btn-color pull-right" ng-disabled="CommentForm.$invalid" ng-click="CommentForm.$setUntouched()">Submit</button>
                                        <!--  <div class="space-18"></div>
                                  <div class="space-18"></div>
                                  <div class="space-18"></div> -->
                                    </div>
                                    <!-- </div> 
                                  $setPristine()
                                  -->
                                </form>
                                <div class="space-40"> </div>
                                <div class="space-40"> </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
