<div class="widget-box abc">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Personal Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Title</label>
                    <div>{{user.title}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Name</label>
                    <div>{{user.completeName}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Email</label>
                    <div>{{user.auth.email}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Address</label>
                    <div>{{[user.address, user.address2].join('&nbsp;')}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>City</label>
                    <div>{{user.city}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>State</label>
                    <div>{{user.state}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Country</label>
                    <div>{{user.country}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Phone</label>
                    <div>{{user.phoneNumbers}}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Fax</label>
                    <div>{{user.faxNumbers}}</div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Other Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Institution</label>
                        <div>{{user.institution}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Source of Information</label>
                        <div>{{user.sourceOfInfo}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Account Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Access Date</label>
                    <div>{{ user.accessDate ? to_date_format(user.accessDate, 'jS M, Y') : "" }}</div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Expiry Date</label>
                    <div>{{ user.expiryDate ? to_date_format(user.expiryDate, 'jS M, Y') : "" }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>
                        <strong><i class="fa" ng-class="{'fa-check': user.active, 'fa-remove': !user.active }"></i> Active</strong>
                    </label>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Orders</div>
            </div>
        </div>
        <div class="form-group table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="20%">Package Name</th>
                        <th width="15%">Package Type</th>
                        <th width="7.5%">Price per unit</th>
                        <th width="7.5%">Qty. Ordered</th>
                        <th width="7.5%">Total Price</th>
                        <th width="7.5%">Subscription Start</th>
                        <th width="7.5%">Subscription End</th>
                        <th width="7.5%">Order Confirmed</th>
                        <th width="5%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in user.orders">
                        <td>{{ order.packageName }}</td>
                        <td style="text-transform: uppercase">{{ order.typeName }}</td>
                        <td>{{ order.ppu | currency }}</td>
                        <td>{{ order.qty }}</td>
                        <td>{{ (order.qty * order.ppu) | currency }}</td>
                        <td>{{ (order.subscription && order.subscription.from) ? to_date_format(order.subscription.from, 'jS M, Y') : "" }}</td>
                        <td>{{ (order.subscription && order.subscription.to) ? to_date_format(order.subscription.to, 'jS M, Y') : "" }}</td>
                        <td>{{ order.confirmed.flag ? "YES" : "NO" }}</td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openOrderEditModal($index)" title="Manage Order">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
