<div class="abc">
    <div class="widget-box">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group  ">
                        <div class="revenueportfolio">Loan Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd">Total Corporate Loan Portfolio Outstanding</label>
                                    <input type="text" class="form-control" ng-model="organization.loanPortfolioOutstanding">
                                </div>
                                <div class="form-group">
                                    <label>Minimum Loan</label>
                                    <input type="text" class="form-control" ng-model="organization.minLoanHandled">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Leasing Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label>Size by Original Cost</label>
                                    <input type="text" class="form-control" ng-model="organization.originalCostLeasingPortfolio">
                                </div>
                                <div class="form-group">
                                    <label>Size by Gross Receivable Outstanding</label>
                                    <input type="text" class="form-control" ng-model="organization.grossReceivableLeasingPortfolio">
                                </div>
                                <div class="form-group">
                                    <label>Average Equity Position in Lease</label>
                                    <input type="text" class="form-control" ng-model="organization.avgEquityLease">
                                </div>
                                <div class="form-group">
                                    <label>Primary Types of Equipment Leased</label>
                                    <input type="text" class="form-control" ng-model="organization.primaryEquipementLeased">
                                </div>
                                <div class="form-group">
                                    <label>Preferred Terms of Lease</label>
                                    <input type="text" class="form-control" ng-model="organization.preferredLeaseTerm">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Master Trust Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label>Number of Master Trust Client</label>
                                    <input type="text" class="form-control" ng-model="organization.masterTrustClient">
                                </div>
                                <div class="form-group">
                                    <label> Master Trust Assets</label>
                                    <input type="text" class="form-control" ng-model="organization.masterTrustAssets">
                                </div>
                                <div class="form-group">
                                    <label>Reports Required by Clients in How Many Ways After Period End</label>
                                    <input type="text" class="form-control" ng-model="organization.clientReceiveReportInterval">
                                </div>
                                <div class="form-group">
                                    <label>Method of Compensation</label>
                                    <input type="text" class="form-control" ng-model="organization.compensationMethod">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label>Minimum Deal Size Handled</label>
                                    <input type="text" class="form-control" name="minimumDealSizeHandled" ng-model="organization.minimumDealSizeHandled">
                                </div>
                                <div class="form-group">
                                    <label>Owner Country</label>
                                    <input type="text" class="form-control" ng-model="organization.ownerCountry">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group  ">
                        <div class="revenueportfolio">Private Placement Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label>Private Placement Portfolio</label>
                                    <input type="text" class="form-control" ng-model="organization.privatePlacementPortfolio">
                                </div>
                                <div class="form-group">
                                    <label>Funds Available</label>
                                    <input type="text" class="form-control" ng-model="organization.privatePlacementFunds">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Pensions Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd">Number of Years in Pensions Management
                                    </label>
                                    <input type="text" class="form-control" ng-model="organization.pensionManagementYear">
                                </div>
                                <div class="form-group">
                                    <label>Pensions Assets Under Management</label>
                                    <input type="text" class="form-control" ng-model="organization.pensionAssetsManagement">
                                </div>
                                <div class="form-group">
                                    <label>Pension Report Interval</label>
                                    <!--   <input type="text" class="form-control" ng-model="organization.pensionReportInterval"> -->
                                    <ui-select ng-model="organization.pensionReportInterval">
                                        <ui-select-match placeholder="Select">
                                            <span ng-bind="$select.selected.codeValue"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="thisPensionReportInterval._id as thisPensionReportInterval in (pensionReportIntervalArray | filter: $select.search) track by thisPensionReportInterval._id">
                                            <span ng-bind="thisPensionReportInterval.codeValue"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Dealing Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd">Average Deals Closed in 3 years
                                    </label>
                                    <input type="text" class="form-control" ng-model="organization.averageDealsClosedThreeYear">
                                </div>
                                <div class="form-group">
                                    <label>Size of Deal Handled</label>
                                    <input type="text" class="form-control" ng-model="organization.dealSizeHandled">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Clientele Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">  Client Mix</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label> Client Mix Buyer</label>
                                    <input type="text" class="form-control" ng-model="organization.clientMixBuyer">
                                </div>
                                <div class="form-group">
                                    <label>Client Mix Seller</label>
                                    <input type="text" class="form-control" ng-model="organization.clientMixSeller">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">Client Representation at One Time</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Average Buyer Represented</label>
                                    <input type="text" class="form-control" ng-model="organization.averageBuyerRepresented">
                                </div>
                                <div class="form-group">
                                    <label>Average Seller Represented </label>
                                    <input type="text" class="form-control" ng-model="organization.averageSellerRepresented">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label>Years Leasing</label>
                                    <input type="text" class="form-control" name="yearsLeasing" ng-model="organization.yearsLeasing">
                                </div>
                                <div class="form-group ">
                                    <label class="radiospace">
                                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.shortTermCashFund">
                                        <span class="lbl"> Short Term Cash Fund</span>
                                    </label>
                                    <br>
                                    <label class="radiospace">
                                        <input type="checkbox" class="ace ace-checkbox-2" ng-model="organization.flags.zeroCashBalance">
                                        <span class="lbl"> Zero Cash Balance</span>
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openChapterSpecificationPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Chapter Specifications</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Specification Type</th>
                            <th>Specification Code</th>
                            <th>Name</th>
                            <th>Listing Type</th>
                            <th>Active</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="chapterSpecification in organization.chapterSpecification">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{chapterSpecification.specificationType}}</td>
                            <td>{{chapterSpecification.code.codeValue}} </td>
                            <td>{{chapterSpecification.name}}</td>
                            <td>{{chapterSpecification.listingType.codeValue}}</td>
                            <td>{{chapterSpecification.activeFlag ? "YES" : (chapterSpecification.activeFlag == false ? "NO" : "")}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openChapterSpecificationPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Chapter Specification')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFeaturePopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Features</div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="widthfcl">#</th>
                <th>Type</th>
                <th>Feature</th>
                <th>Description</th>
                <th class="widthth text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="feature in organization.features" ng-if="!feature.deleted">
                <td class="text-center">{{ ($index+1) }}</td>
                <td>{{feature.featureType}}</td>
                <td>{{feature.code.codeValue}}</td>
                <td>{{feature.name}}</td>
                <td class="text-center">
                    <div class="action-buttons">
                        <a class="blue" ng-click="openFeaturePopup($index)">
                            <i class="fa fa-pencil bigger-130"></i>
                        </a>
                        <a class="red" ng-click="openRemovePopup($index,'Features')">
                            <i class="ace-icon fa fa-trash bigger-130"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
