<div class="abc">
    <div class="widget-box">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group  ">
                        <div class="revenueportfolio">Loan Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label class="h5 boldfont"> Total Corporate Loan Portfolio Outstanding</label>
                                    <p class=".h5">{{organization.loanPortfolioOutstanding}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Minimum Loan</label>
                                    <p class=".h5">{{organization.minLoanHandled}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Leasing Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label class="h5 boldfont"> Size by Original Cost</label>
                                    <p class=".h5">{{organization.originalCostLeasingPortfolio}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Size by Gross Receivable Outstanding</label>
                                    <p class=".h5">{{organization.grossReceivableLeasingPortfolio}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Average Equity Position in Lease</label>
                                    <p class=".h5">{{organization.avgEquityLease}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Primary Types of Equipment Leased</label>
                                    <p class=".h5">{{organization.primaryEquipementLeased}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Preferred Terms of Lease</label>
                                    <p class=".h5">{{organization.preferredLeaseTerm}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Master Trust Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label class="h5 boldfont"> Number of Master Trust Client</label>
                                    <p class=".h5">{{organization.masterTrustClient}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Master Trust Assets</label>
                                    <p class=".h5">{{organization.masterTrustAssets}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Reports Required by Clients in How Many Ways After Period End</label>
                                    <p class=".h5">{{organization.clientReceiveReportInterval}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Method of Compensation</label>
                                    <p class=".h5">{{organization.compensationMethod}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label class="h5 boldfont">Minimum Deal Size Handled</label>
                                    <p class=".h5">{{organization.minimumDealSizeHandled}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont">Owner Country</label>
                                    <p class=".h5">{{organization.ownerCountry}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group  ">
                        <div class="revenueportfolio">Private Placement Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label class="h5 boldfont">Private Placement Portfolio</label>
                                    <p class=".h5">{{organization.privatePlacementPortfolio}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Funds Available</label>
                                    <p class=".h5">{{organization.privatePlacementFunds}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Pensions Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label class="h5 boldfont"> Number of Years in Pensions Management</label>
                                    <p class=".h5">{{organization.pensionManagementYear}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Pensions Assets Under Management</label>
                                    <p class=".h5">{{organization.pensionAssetsManagement}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont">Pension Report Interval</label>
                                    <p class=".h5">{{organization.pensionReportInterval.codeValue}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Dealing Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class- "form-group">
                                    <label class="h5 boldfont"> Average Deals Closed in 3 years</label>
                                    <p class=".h5">{{organization.averageDealsClosedThreeYear}}</p>
                                </div>
                                <div class- "form-group">
                                    <label class="h5 boldfont"> Size of Deal Handled</label>
                                    <p class=".h5">{{organization.dealSizeHandled}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio">Clientele Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle"> Client mix</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Client Mix Buyer</label>
                                    <p class=".h5">{{organization.clientMixBuyer}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Client Mix Seller</label>
                                    <p class=".h5">{{organization.clientMixSeller}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">Client Representation at One Time</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Average Buyer Represented</label>
                                    <p class=".h5">{{organization.averageBuyerRepresented}}</p>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont"> Average Seller Represented</label>
                                    <p class=".h5">{{organization.averageSellerRepresented}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label class="h5 boldfont">Years Leasing</label>
                                    <p class=".h5">{{organization.yearsLeasing}}</p>
                                </div>
                                <div class="form-group">
                                    <div class="form-group boldfont">
                                        <i class="fa fa-check" ng-class="organization.flags.shortTermCashFund? 'fa-check' : 'fa-remove'"></i> Short Term Cash Fund
                                    </div>
                                    <div class="form-group boldfont">
                                        <i class="fa fa-check" ng-class="organization.flags.zeroCashBalance? 'fa-check' : 'fa-remove'"></i> Zero Cash Balance
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Chapter Specifications</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Specification Type</th>
                            <th>Specification Code</th>
                            <th>Name</th>
                            <th>Listing Type</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="chapterSpecification in organization.chapterSpecification">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{chapterSpecification.specificationType}}</td>
                            <td>{{chapterSpecification.code.codeValue}}</td>
                            <td>{{chapterSpecification.name}}</td>
                            <td>{{chapterSpecification.listingType.codeValue}}</td>
                            <td>{{chapterSpecification.activeFlag ? "YES" : (chapterSpecification.activeFlag == false ? "NO" : "")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Features</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Type</th>
                            <th>Feature</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feature in organization.features" ng-if="!feature.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{feature.featureType}}</td>
                            <td>{{feature.code.codeValue}}</td>
                            <td>{{feature.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
