<div class="tab-pane" id="profile4">
    <div class="tab-pane active" id="home4">
        <div class="widget-box ">
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone"></label>
                </span>
                </span>
                <small class="lagentmedil">Old value  &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo"></label>
                </span>
                </span>
                <small class="lagentmedil">Current value &nbsp;</small>
            </div>
            <div class="block pull-right">
                <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
                </span>
                <small class="lagentmedil">Deleted value &nbsp;</small>
            </div>
            <div class="historytitle">
                <label>Record History</label>
            </div>
            <div class="widget-main">
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="addnewt">
                    <span>Contacts</span>
                </div>
                <div class="space"></div>
                <div class="col-md-4 col-sm-12 col-xs-12 pdtop">
                    <div class="form-group">
                        <label>Phone No.</label>
                        <div ng-if="organization.contact.phoneNumbers == originalOrg.contact.phoneNumbers">
                            <p>{{organization.contact.phoneNumbers}}</p>
                        </div>
                        <div ng-if="organization.contact.phoneNumbers != originalOrg.contact.phoneNumbers">
                            <span class="nextcolor">{{originalOrg.contact.phoneNumbers}}&nbsp;</span>
                            <div class="boxcolor">{{organization.contact.phoneNumbers}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fax</label>
                        <div ng-if="organization.contact.faxNumbers == originalOrg.contact.faxNumbers">
                            <p>{{organization.contact.faxNumbers}}</p>
                        </div>
                        <div ng-if="organization.contact.faxNumbers != originalOrg.contact.faxNumbers">
                            <span class="nextcolor">{{originalOrg.contact.faxNumbers}}&nbsp;</span>
                            <div class="boxcolor">{{organization.contact.faxNumbers}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Owned By</label>
                        <div ng-if="organization.ownedBy == originalOrg.ownedBy">
                            <p>{{organization.ownedBy}}</p>
                        </div>
                        <div ng-if="organization.ownedBy != originalOrg.ownedBy">
                            <span class="nextcolor">{{originalOrg.ownedBy}}&nbsp;</span>
                            <div class="boxcolor">{{organization.ownedBy}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 pdtop">
                    <div class="form-group">
                        <label>Primary Email</label>
                        <div ng-if="organization.contact.emails.primary == originalOrg.contact.emails.primary">
                            <p>{{organization.contact.emails.primary}}</p>
                        </div>
                        <div ng-if="organization.contact.emails.primary != originalOrg.contact.emails.primary">
                            <span class="nextcolor">{{originalOrg.contact.emails.primary}}&nbsp;</span>
                            <div class="boxcolor">{{organization.contact.emails.primary}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Secondary Email</label>
                        <div ng-if="organization.contact.emails.secondary == originalOrg.contact.emails.secondary">
                            <p>{{organization.contact.emails.secondary}}</p>
                        </div>
                        <div ng-if="organization.contact.emails.secondary != originalOrg.contact.emails.secondary">
                            <span class="nextcolor">{{originalOrg.contact.emails.secondary}}&nbsp;</span>
                            <div class="boxcolor">{{organization.contact.emails.secondary}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 pdtop">
                    <div class="form-group">
                        <label>Websites</label>
                        <div ng-if="organization.contact.websites == originalOrg.contact.websites">
                            <p class=".h5 ng-binding">{{organization.contact.websites}}</p>
                        </div>
                        <div ng-if="organization.contact.websites != originalOrg.contact.websites">
                            <span class="nextcolor">{{originalOrg.contact.websites}}&nbsp;</span>
                            <div class="boxcolor">{{organization.contact.websites}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Social</label>
                        <div ng-if="organization.contact.social == originalOrg.contact.social">
                            <p class=".h5 ng-binding">{{organization.contact.social}}</p>
                        </div>
                        <div ng-if="organization.contact.social != originalOrg.contact.social">
                            <span class="nextcolor">{{originalOrg.contact.social}}&nbsp;</span>
                            <div class="boxcolor">{{organization.contact.social}}&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="cal-md-12 pull-right add-button">
                </div>
                <div class="pull-left addnewt add-button">Address</div>
            </div>
        </div>
        <div class="container-fluid box-body table-responsive cf">
            <div class="row">
                <div class="col-xs-12">
                    <p></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="widthfcl">#</th>
                                <th>Type</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="address in organization.address" ng-if="!address.deleted">
                                <td class="widthfcl text-center">{{ ($index+1) }}</td>
                                <td>
                                    <div ng-if="address.addressType.description == originalOrg.address[$index].addressType.description">
                                        <p>{{address.addressType.description}}&nbsp;</p>
                                    </div>
                                    <div ng-if="address.addressType.description != originalOrg.address[$index].addressType.description">
                                        <p class="nextcolor">{{originalOrg.address[$index].addressType.description }}&nbsp;</p>
                                        <p class="boxcolor">{{address.addressType.description}}&nbsp;</p>
                                    </div>
                                </td>
                                <td>
                                    <b>Street 1:</b>
                                    <div ng-if="address.street1 == originalOrg.address[$index].street1">
                                        <p>{{address.street1}}</p>
                                    </div>
                                    <div ng-if="address.street1 != originalOrg.address[$index].street1">
                                        <span class="nextcolor">{{originalOrg.address[$index].street1}}&nbsp;</span>
                                        <div class="boxcolor">{{address.street1}}&nbsp;</div>
                                    </div>
                                    <br>
                                    <b>Street 2: </b>
                                    <div ng-if="address.street2 == originalOrg.address[$index].street2">
                                        <p>{{address.street2}}</p>
                                    </div>
                                    <div ng-if="address.street2 != originalOrg.address[$index].street2">
                                        <span class="nextcolor">{{originalOrg.address[$index].street2}}&nbsp;</span>
                                        <div class="boxcolor">{{address.street2}}&nbsp;</div>
                                    </div>
                                    <br>
                                    <b>City: </b>
                                    <div ng-if="address.cityName== originalOrg.address[$index].cityName">
                                        <p>{{address.cityName}}</p>
                                    </div>
                                    <div ng-if="address.cityName != originalOrg.address[$index].cityName">
                                        <span class="nextcolor">{{originalOrg.address[$index].cityName}}&nbsp;</span>
                                        <div class="boxcolor">{{address.cityName}}&nbsp;</div>
                                    </div>
                                    <br>
                                    <b> State/Territory: </b>
                                    <div ng-if="address.stateName == originalOrg.address[$index].stateName">
                                        <p>{{address.stateName}}</p>
                                    </div>
                                    <div ng-if="address.stateName != originalOrg.address[$index].stateName">
                                        <span class="nextcolor">{{originalOrg.address[$index].stateName}}&nbsp;</span>
                                        <div class="boxcolor">{{address.stateName}}&nbsp;</div>
                                    </div>
                                    <br>
                                    <b>Country: </b>
                                    <div ng-if="address.countryName == originalOrg.address[$index].countryName">
                                        <p>{{address.countryName}}</p>
                                    </div>
                                    <div ng-if="address.countryName != originalOrg.address[$index].countryName">
                                        <span class="nextcolor">{{originalOrg.address[$index].countryName}}&nbsp;</span>
                                        <div class="boxcolor">{{address.countryName}}&nbsp;</div>
                                    </div>
                                    <br>
                                    <b>Zip: </b>
                                    <div ng-if="address.zip == originalOrg.address[$index].zip">
                                        <p>{{address.zip}}</p>
                                    </div>
                                    <div ng-if="address.zip != originalOrg.address[$index].zip">
                                        <span class="nextcolor">{{originalOrg.address[$index].zip}}&nbsp;</span>
                                        <div class="boxcolor">{{address.zip}}&nbsp;</div>
                                    </div>
                                    <br>
                                </td>
                            </tr>
                            <tr ng-repeat="address in deletedAddress" bgcolor="42b6da">
                                <td class="text-center">{{ ($index+1) }}</td>
                                <td>{{addressTypes[address.addressType] || ""}}</td>
                                <td>
                                    <b>Street 1: </b>{{address.street1}}
                                    <br>
                                    <b>Street 2: </b>{{address.street2}}
                                    <br>
                                    <b>City: </b>{{address.cityName}}
                                    <br>
                                    <b> State/Territory: </b>{{address.stateName}}
                                    <br>
                                    <b>Country: </b>{{address.countryName}}
                                    <br>
                                    <b>Zip: </b>{{address.zip}}
                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
