<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main ">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="h5 boldfont">Organization ID</label>
                    <p class=".h5">{{organization.org_id}}</p>
                </div>
                <!-- <div class="form-group">
                 <label class="h5 boldfont"> Listing</label>
                <p class=".h5">{{organization.sectionCode}}</p>
            </div> -->
                <div class="form-group">
                    <label class="h5 boldfont"> Sequence No.</label>
                    <p class=".h5">{{organization.sequenceNo}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Established Year</label>
                    <p class=".h5">{{organization.established.year}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Total Assets</label>
                    <p class=".h5">{{organization.totalAssetsLeadBank}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Subsidiary of</label>
                    <p class=".h5">{{organization.subsidiaryOf}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Areas of Special Strength</label>
                    <p class=".h5">{{organization.specialStrength}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Number of Countries with Offices</label>
                    <p class=".h5">{{organization.officesCountries}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Number of Offices in US</label>
                    <p class=".h5">{{organization.numberOfOffices.us}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Number of Offices Worldwide</label>
                    <p class=".h5">{{organization.numberOfOffices.wordwide}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont"> Number of Overseas Affiliates</label>
                    <p class=".h5">{{organization.overseasAffiliates}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">Average Private Placement Participant </label>
                    <p class=".h5">{{organization.averagePrivatePlacementParticipant}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">Loan Ceiling</label>
                    <p class=".h5">{{organization.loanCeiling}}</p>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">
                        <i class="fa fa-check" ng-class="organization.flags.annualContractualExpenses? 'fa-check' : 'fa-remove'"></i> </label>
                    <label class="lbl"><strong class="radiospace"> Annual Contractual Expenses</strong>
                    </label>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">
                        <i class="fa" ng-class="organization.flags.lineAccessAvailable? 'fa-check' : 'fa-remove'"></i> </label>
                    <label class="lbl"><strong class="radiospace"> Line Access Available</strong>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">
                        <i class="fa" ng-class="organization.flags.jointlyWithCommission ? 'fa-check' : 'fa-remove'"></i> </label>
                    <label class="lbl"><strong class="radiospace"> Joint Commission</strong>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">
                        <i class="fa" ng-class="organization.flags.thirdParty ? 'fa-check' : 'fa-remove'"></i> </label>
                    <label class="lbl"><strong class="radiospace"> Third Party</strong>
                </div>
                <div class="form-group">
                    <label class="h5 boldfont">
                        <i class="fa" ng-class="organization.flags.participateLeaseOthers ? 'fa-check' : 'fa-remove'"></i> </label>
                    <label class="lbl"><strong class="radiospace"> Lease Participate</strong>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class="form-group">
                            <label class="h5 boldfont"> Name</label>
                            <p class=".h5">{{organization.name}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont"> Minor Name</label>
                            <p class=".h5">{{organization.shortName}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Sort Name</label>
                            <p class=".h5">{{organization.sortMajorName}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont">Employees</label>
                            <p class=".h5">{{organization.employees}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class="form-group">
                            <label class="h5 boldfont">Second Sub Name</label>
                            <p class=".h5">{{organization.subName}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont"> Lead Bank</label>
                            <p class=".h5">{{organization.leadBank}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont"> Legal Lending Limit in US</label>
                            <p class=".h5">{{organization.lendingLimit}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont"> Funds Available for Investment or Loans</label>
                            <p class=".h5">{{organization.fundsAvailable}}</p>
                        </div>
                        <div class="form-group">
                            <label class="h5 boldfont"> Partner</label>
                            <p class=".h5">{{organization.partner}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                    <div class="form-group  ">
                        <div class="revenueportfolio">Revenue Portfolio</div>
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">   
                          Annual Revenue</span>
                                    </label>
                                </div>
                                <div class="form-group ">
                                    <label for="pwd">US
                                    </label>
                                    <p class=".h5">{{organization.annualRevenues.us}}</p>
                                </div>
                                <div class="form-group ">
                                    <label for="pwd">Worldwide
                                    </label>
                                    <p class=".h5">{{organization.annualRevenues.wordwide}}</p>
                                </div>
                                <div class="form-group ">
                                    <label for="pwd">Average Annual Revenue
                                    </label>
                                    <p class=".h5">{{organization.averageAnnualRevenues}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">Percentage of Fees Obtained Through</span>
                                    </label>
                                </div>
                                <div class="form-group ">
                                    <label for="pwd">Professional Service Fees
                                    </label>
                                    <p class=".h5">{{organization.feePercentage.professionalService}}
                                    </p>
                                </div>
                                <div class="form-group ">
                                    <label for="pwd">Commissions
                                    </label>
                                </div>
                                <p class=".h5">{{organization.feePercentage.commision}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <!-- <span class="lead">Revenue Portfolio</span> -->
                                <p>Revenue Portfolio
                                </p>
                                <div class="clearfix"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b><p>Annual Revenue</p></b>
                                <!-- <div class="col-md-2"> -->
                                <label class="h5 boldfont"> US</label>
                                <div class="form-group">
                                    <p class=".h5">{{organization.annualRevenues.us}}</p>
                                </div>
                                <!-- </div> -->
                                <!-- <div class="col-md-2"> -->
                                <div class="form-group">
                                    <label class="h5 boldfont"> Worldwide US</label>
                                    <p class=".h5">{{organization.annualRevenues.wordwide}}</p>
                                </div>
                            </td>
                            <td>
                                <b><p>Percentage of fees obtained through</p></b>
                                <!-- <div class="col-md-2"> -->
                                <div class="form-group">
                                    <label class="h5 boldfont"> Professional Service Fees</label>
                                    <p class=".h5">{{organization.feePercentage.professionalService}}
                                    </p>
                                </div>
                                <!-- </div> -->
                                <!-- <div class="col-md-2"> -->
                                <div class="form-group">
                                    <label class="h5 boldfont"> Commissions</label>
                                    <p class=".h5">{{organization.feePercentage.commision}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label class="h5 boldfont"> Average Annual Revenue</label>
                    <p class=".h5">{{organization.averageAnnualRevenues}}</p>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                    <div class="form-group  ">
                        <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                            <div class="form-group ">
                                <label for="pwd">Parent Name
                                </label>
                                <p class=".h5">{{organization.parentName}}</p>
                            </div>
                            <div class="form-group ">
                                <label for="pwd">Parent Assets
                                </label>
                                <p class=".h5">{{organization.parentAssets}}</p>
                            </div>
                            <div class="form-group">
                                <label class="h5 boldfont">Average Annual Corporate Assignment</label>
                                <p class=".h5">{{organization.averageAnnualCorporateAssignment}}</p>
                            </div>
                            <div class="form-group">
                                <label class="h5 boldfont">Company Status</label>
                                <p class=".h5">{{directoryRecordStatus[organization.status._id].label}}</p>
                            </div>
                            <div class="form-group">
                                <label class="h5 boldfont">Work Flow Status</label>
                                <p class=".h5">{{directoryRecordStatus[organization.workflowStatus._id].label}}</p>
                            </div>
                            <div class="form-group">
                                <label class="h5 boldfont">Average Portfolio Maturity </label>
                                <p class=".h5">{{organization.averagePortfolioMaturity}}</p>
                            </div>
                            <div class="form-group">
                                <label class="h5 boldfont">Intermediary Loan Percentage </label>
                                <p class=".h5">{{organization.intermediaryLoanPercentage}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                            <div class="form-group ">
                                <label for="pwd">Parent Address
                                </label>
                                <p class=".h5">{{organization.parentAddress}}</p>
                            </div>
                            <div class="form-group">
                                <label class="h5 boldfont">Gallery Description</label>
                                <p class=".h5">{{organization.galleryDescription}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="pull-left addnewt add-button">Listing Types</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Listing Type</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listingType in organization.listingType" ng-if="!listingType.deleted">
                        <td class=" text-center ">{{ ($index+1) }}</td>
                        <td>{{listingType.listingName}}</td>
                        <td>{{listingType.listingActive ? "YES " : (listingType.listingActive == false ? "NO " : " ") }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row ">
        <div class="pull-left addnewt add-button ">Members</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf ">
    <div class="row ">
        <div class="col-xs-12 ">
            <p></p>
            {{members.active}}
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th class="widthfcl ">#</th>
                        <th>Name</th>
                        <th>Listing Type</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="members in organization.members " ng-if="!members.deleted">
                        <td class="text-center ">{{ ($index+1) }}</td>
                        <td>{{members.name}}</td>
                        <td>{{members.listingName}} </td>
                        <td>{{members.active ? "YES " : (members.active == false ? "NO " : " ") }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
