<div class="widget-box abc">
    <div class="widget-body">
        <div class="widget-main row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div ng-hide="editState">
                    <div class="form-group" ng-class="{'has-error': addForm.orgId.$touched && addForm.orgId.$invalid}">
                        <label>Organization ID</label>
                        <input type="text" class="form-control" name="orgId" ng-model="organization.org_id" validate-this="orgId" validate-as="digits" id="pwd" ng-disabled="editStateDisable">
                        <div class="help-block" ng-messages="addForm.orgId.$error" ng-show="addForm.orgId.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.orgId.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid}">
                    <label>Sequence No.</label>
                    <input type="text" id="pwd" class="form-control" name="sequenceNo" ng-model="organization.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.sequenceNo.$error" ng-show="addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Established Year</label>
                    <input type="text" class="form-control" name="estd" ng-model="organization.established.year">
                </div>
                <!-- <div class="form-group" ng-class="{'has-error': addForm.estd.$touched && addForm.estd.$invalid}">
                    <label>Established Year<span class="meditator">*</span></label>
                    <input type="text" id="pwd" class="form-control" required name="estd" ng-model="organization.established.year" validate-this="estd" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.estd.$error" ng-show="addForm.estd.$touched">
                        <div ng-message="required">Please fill this field</div>
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.estd.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label>Total Assets</label>
                    <input type="text" id="pwd" class="form-control" name="totalAssetsLeadBank" ng-model="organization.totalAssetsLeadBank">
                </div>
                <div class="form-group">
                    <label>Subsidiary of</label>
                    <input type="text" id="pwd" class="form-control" name="subsidiaryOf" ng-model="organization.subsidiaryOf">
                </div>
                <div class="form-group">
                    <label>Areas of Special Strength</label>
                    <input type="text" id="pwd" class="form-control" name="specialStrength" ng-model="organization.specialStrength">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.officesCountries.$touched && addForm.officesCountries.$invalid}">
                    <label>Number of Countries with Offices</label>
                    <input type="text" id="pwd" class="form-control" name="officesCountries" ng-model="organization.officesCountries" validate-this="officesCountries" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.officesCountries.$error" ng-show="addForm.officesCountries.$touched && addForm.officesCountries.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.officesCountries.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.numberOfOfficesUs.$touched && addForm.numberOfOfficesUs.$invalid}">
                    <label>Number of Offices in US</label>
                    <input type="text" id="pwd" class="form-control" name="numberOfOfficesUs" ng-model="organization.numberOfOffices.us" validate-this="numberOfOfficesUs" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.numberOfOfficesUs.$error" ng-show="addForm.numberOfOfficesUs.$touched && addForm.numberOfOfficesUs.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.numberOfOfficesUs.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.numberOfOfficesWordwide.$touched && addForm.numberOfOfficesWordwide.$invalid}">
                    <label>Number of Offices Worldwide</label>
                    <input type="text" id="pwd" class="form-control" name="numberOfOfficesWordwide" ng-model="organization.numberOfOffices.wordwide" validate-this="numberOfOfficesWordwide" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.numberOfOfficesWordwide.$error" ng-show="addForm.numberOfOfficesWordwide.$touched && addForm.numberOfOfficesWordwide.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.numberOfOfficesWordwide.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.overseasAffiliates.$touched && addForm.overseasAffiliates.$invalid}">
                    <label>Number of Overseas Affiliates</label>
                    <input type="text" id="pwd" class="form-control" name="overseasAffiliates" ng-model="organization.overseasAffiliates" ng-model="organization.overseasAffiliates" validate-this="overseasAffiliates" validate-as="digits">
                    <div class="help-block" ng-messages="addForm.overseasAffiliates.$error" ng-show="addForm.overseasAffiliates.$touched && addForm.overseasAffiliates.$invalid">
                        <div ng-message="validateAs">
                            <p ng-show="validateAsErrors.overseasAffiliates.digits">Invalid digits found</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Average Private Placement Participant </label>
                    <input type="text" class="form-control" name="appp" ng-model="organization.averagePrivatePlacementParticipant ">
                </div>
                <div class="form-group">
                    <label>Loan Ceiling</label>
                    <input type="text" class="form-control" name="lc" ng-model="organization.loanCeiling ">
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" name="annualContractualExpenses" ng-model="organization.flags.annualContractualExpenses">
                        <span class="lbl"> Annual Contractual Expenses</span> &nbsp; &nbsp;</label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" name="lineAccessAvailable" ng-model="organization.flags.lineAccessAvailable">
                        <span class="lbl"> Line Access Available</span></label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" name="jointCommission" ng-model="organization.flags.jointlyWithCommission">
                        <span class="lbl"> Joint Commision</span></label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" name="thirdParty" ng-model="organization.flags.thirdParty">
                        <span class="lbl"> Third Party</span></label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class="ace ace-checkbox-2" name="thirdParty" ng-model="organization.flags.participateLeaseOthers">
                        <span class="lbl"> Lease Participate</span></label>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                        <div class="form-group" ng-class="{'has-error': addForm.name.$touched && addForm.name.$invalid}">
                            <label>Name<span class="meditator">*</span></label>
                            <input type="text" class="form-control" name="name" ng-model="organization.name" required validate-is-name-unique except-organization-id="{{ organization._id }}">
                            <div class="help-block" ng-messages="addForm.name.$error" ng-show="addForm.name.$touched">
                                <div ng-message="required">Please fill this field</div>
                                <p ng-message="validateIsNameUnique"><b>{{organization.name}}</b> already exists</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Minor Name</label>
                            <input type="text" class="form-control" name="shortName" ng-model="organization.shortName">
                        </div>
                        <div class="form-group">
                            <label>Sort Name</label>
                            <input type="text" class="form-control" name="sortMajor" ng-model="organization.sortMajorName">
                        </div>
                        <div class="form-group">
                            <label>Employees</label>
                            <input type="text" class="form-control" name="emp" ng-model="organization.employees">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                        <div class="form-group">
                            <label>Second Sub Name</label>
                            <input type="text" class="form-control" name="subName" ng-model="organization.subName">
                        </div>
                        <div class="form-group">
                            <label>Lead Bank</label>
                            <input type="text" class="form-control" name="leadBank" ng-model="organization.leadBank">
                        </div>
                        <div class="form-group">
                            <label>Legal Lending Limit in US</label>
                            <input type="text" class="form-control" name="lendingLimit" ng-model="organization.lendingLimit">
                        </div>
                        <div class="form-group">
                            <label>Funds Available for Investment or Loans</label>
                            <input type="text" class="form-control" name="fundsAvailable" ng-model="organization.fundsAvailable">
                        </div>
                        <div class="form-group">
                            <label>Partner</label>
                            <input type="text" class="form-control" name="partn" ng-model="organization.partner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                    <div class="form-group  ">
                        <div class="revenueportfolio">Revenue Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                                                            Annual Revenue</span>
                                    </label>
                                </div>
                                <label>US</label>
                                <div class="form-group" ng-class="{'has-error': addForm.US.$touched && addForm.US.$invalid}">
                                    <input type="text" name="US" class="form-control" ng-model="organization.annualRevenues.us" validate-this="US" validate-as="digits">
                                    <div class="help-block" ng-messages="addForm.US.$error" ng-show="addForm.US.$touched && addForm.US.$invalid">
                                        <div ng-message="validateAs">
                                            <p ng-show="validateAsErrors.US.digits">Invalid digits found</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': addForm.WordWideUs.$touched && addForm.WordWideUs.$invalid}">
                                    <label>Worldwide</label>
                                    <input type="text" class="form-control" name="WordWideUs" ng-model="organization.annualRevenues.wordwide" validate-this="WordWideUs" validate-as="digits">
                                    <div class="help-block" ng-messages="addForm.WordWideUs.$error" ng-show="addForm.WordWideUs.$touched && addForm.WordWideUs.$invalid">
                                        <div ng-message="validateAs">
                                            <p ng-show="validateAsErrors.WordWideUs.digits">Invalid digits found</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Average Annual Revenue</label>
                                    <input type="text" class="form-control" name="averageAnnualRevenues" ng-model="organization.averageAnnualRevenues">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">Percentage of Fees Obtained Through</span>
                                    </label>
                                </div>
                                <div class="form-group" ng-class="{'has-error': addForm.psf.$touched && addForm.psf.$invalid}">
                                    <label>Professional Service Fees</label>
                                    <input type="text" class="form-control" name="psf" ng-model="organization.feePercentage.professionalService" validate-this="psf" validate-as="digits">
                                    <div class="help-block" ng-messages="addForm.psf.$error" ng-show="addForm.psf.$touched && addForm.psf.$invalid">
                                        <div ng-message="validateAs">
                                            <p ng-show="validateAsErrors.psf.digits">Invalid digits found</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': addForm.Commissions.$touched && addForm.Commissions.$invalid}">
                                    <label>Commissions</label>
                                    <input type="text" class="form-control" name="Commissions" ng-model="organization.feePercentage.commision" validate-this="Commissions" validate-as="digits">
                                    <div class="help-block" ng-messages="addForm.Commissions.$error" ng-show="addForm.Commissions.$touched && addForm.Commissions.$invalid">
                                        <div ng-message="validateAs">
                                            <p ng-show="validateAsErrors.Commissions.digits">Invalid digits found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                    <div class="form-group  ">
                        <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                            <div class="form-group">
                                <label for="pwd">Parent Name</label>
                                <input type="text" class="form-control" name="parentName" ng-model="organization.parentName">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Parent Assets</label>
                                <input type="text" class="form-control" name="parentAssets" ng-model="organization.parentAssets">
                            </div>
                            <div class="form-group">
                                <label>Average Annual Corporate Assignment</label>
                                <input type="text" id="pwd" class="form-control" name="averageAnnualCorporateAssignment" ng-model="organization.averageAnnualCorporateAssignment">
                            </div>
                            <div class="form-group">
                                <label>Company Status</label>
                                <ui-select ng-model="organization.status">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.codeValue"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in recordStatusArray">
                                        <span ng-bind="thisRecordStatus.codeValue"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label>Work Flow Status</label>
                                <ui-select ng-model="organization.workflowStatus">
                                    <ui-select-match placeholder="Select">
                                        <span ng-bind="$select.selected.codeValue"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="thisRecordStatus._id as thisRecordStatus in recordStatusArray">
                                        <span ng-bind="thisRecordStatus.codeValue"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label>Average Portfolio Maturity </label>
                                <input type="text" class="form-control" name="lc" ng-model="organization.averagePortfolioMaturity">
                            </div>
                            <div class="form-group">
                                <label>Intermediary Loan Percentage </label>
                                <input type="text" class="form-control" name="lc" ng-model="organization.intermediaryLoanPercentage">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                            <div class="form-group">
                                <label for="pwd">Parent Address</label>
                                <textarea class="form-control" rows="5" name="parentAddress" ng-model="organization.parentAddress"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Gallery Description</label>
                                <textarea class="form-control" rows="5" id="comment" name="galleryDescription" ng-model="organization.galleryDescription"> </textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openListingTypePopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Listing Types</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Listing Type</th>
                        <th>Active</th>
                        <!-- <th>Name</th> -->
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listingType in organization.listingType" ng-if="!listingType.deleted">
                        <td class="text-center">{{ ($index+1) }}</td>
                        <td>{{listingType.listingName}} </td>
                        <td>{{listingType.listingActive ? "YES" : (listingType.listingActive == false ? "NO" : "") }} </td>
                        <td class="text-center">
                            <div class="action-buttons">
                                <a class="blue" ng-click="openListingTypePopup($index)">
                                    <i class="fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" ng-click="openRemovePopup($index,'Listing Types')">
                                    <i class="ace-icon fa fa-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cal-md-12 pull-right add-button">
            <a href="javascript:void(0)" type="button" class="addnew" ng-click="openMemeberPopup()">
                <ins>Add New Record</ins>
            </a>
        </div>
        <div class="pull-left addnewt add-button">Members</div>
    </div>
</div>
<div class="container-fluid box-body table-responsive cf">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="widthfcl">#</th>
                        <th>Name</th>
                        <th>Listing Type</th>
                        <th>Active</th>
                        <th class="widthth text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="members in organization.members" ng-if="!members.deleted">
                        <td class=" text-center ">{{ ($index+1) }}</td>
                        <td>{{members.name}}</td>
                        <td>{{members.listingName}} </td>
                        <td>{{members.active ? "YES " : (members.active == false ? "NO " : " ") }} </td>
                        <td class="text-center ">
                            <div class="action-buttons ">
                                <a class="blue " ng-click="openMemeberPopup($index) ">
                                    <i class="fa fa-pencil bigger-130 "></i>
                                </a>
                                <a class="red " ng-click="openRemovePopup($index, 'Members') ">
                                    <i class="ace-icon fa fa-trash bigger-130 "></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
