<div class="tab-pane " id="dropdown14">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="form-group ">
                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                      Professional on Staff</span>
                    </label>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont">Portfolio Manager On Staff</label>
                        <p class=".h5">{{organization.professionalStaff.portfolioManagersOnStaff}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont">Marketing Department</label>
                        <p class=".h5">{{organization.professionalStaff.marketingDepartment}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont"> Property Professionals Data</label>
                        <p class=".h5">{{organization.professionalStaff.developmentDepartment}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="h5 boldfont">Technical Department</label>
                        <p class=".h5">{{organization.professionalStaff.technicalDepartment}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl text-center">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th class="widthth text-center">General Details</th>
                            <th class="widthth text-center">Officer Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="keyPersonnel.deleted!= true">
                            <td class="widthfcl text-center">{{ keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openCFSKeyPersonnelGeneralDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openCFSKeyPersonnelOfficersDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
