<div class="tab-pane active" id="home4">
    <div class="widget-box ">
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone"></label>
                </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo"></label>
                </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 pdtop">
                    <div class="form-group">
                        <label class="h5 boldfont">Organization ID</label>
                        <div ng-if="organization.org_id == originalOrg.org_id">
                            <p class=".h5">{{organization.org_id}}</p>
                        </div>
                        <div ng-if="organization.org_id != originalOrg.org_id">
                            <span class="nextcolor">{{originalOrg.org_id}}&nbsp;</span>
                            <div class="boxcolor">{{organization.org_id}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Sequence No.</label>
                        <div ng-if="organization.sequenceNo == originalOrg.sequenceNo">
                            <p class=".h5"> {{organization.sequenceNo}}</p>
                        </div>
                        <div ng-if="organization.sequenceNo != originalOrg.sequenceNo">
                            <span class="nextcolor">{{originalOrg.sequenceNo}}&nbsp;</span>
                            <div class="boxcolor">{{organization.sequenceNo}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Established Year</label>
                        <div ng-if="organization.established.year == originalOrg.established.year">
                            <p class=".h5">{{organization.established.year}}</p>
                        </div>
                        <div ng-if="organization.established.year != originalOrg.established.year">
                            <span class="nextcolor">{{originalOrg.established.year}}&nbsp;</span>
                            <div class="boxcolor">{{organization.established.year}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Total Assets</label>
                        <div ng-if="organization.totalAssetsLeadBank == originalOrg.totalAssetsLeadBank">
                            <p class=".h5">{{organization.totalAssetsLeadBank}}</p>
                        </div>
                        <div ng-if="organization.totalAssetsLeadBank != originalOrg.totalAssetsLeadBank">
                            <span class="nextcolor">{{originalOrg.totalAssetsLeadBank}}&nbsp;</span>
                            <div class="boxcolor">{{organization.totalAssetsLeadBank}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Subsidiary of</label>
                        <div ng-if="organization.subsidiaryOf == originalOrg.subsidiaryOf">
                            <p class=".h5">{{organization.subsidiaryOf}}</p>
                        </div>
                        <div ng-if="organization.subsidiaryOf != originalOrg.subsidiaryOf">
                            <span class="nextcolor">{{originalOrg.subsidiaryOf}}&nbsp;</span>
                            <div class="boxcolor">{{organization.subsidiaryOf}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Areas of Special Strength</label>
                        <div ng-if="organization.specialStrength == originalOrg.specialStrength">
                            <p class=".h5">{{organization.specialStrength}}</p>
                        </div>
                        <div ng-if="organization.specialStrength != originalOrg.specialStrength">
                            <span class="nextcolor">{{originalOrg.specialStrength}}&nbsp;</span>
                            <div class="boxcolor">{{organization.specialStrength}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Number of Countries with Offices</label>
                        <div ng-if="organization.officesCountries == originalOrg.officesCountries">
                            <p class=".h5">{{organization.officesCountries}}</p>
                        </div>
                        <div ng-if="organization.officesCountries != originalOrg.officesCountries">
                            <span class="nextcolor">{{originalOrg.officesCountries}}&nbsp;</span>
                            <div class="boxcolor">{{organization.officesCountries}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Number of Offices in US</label>
                        <div ng-if="organization.numberOfOffices.us == originalOrg.numberOfOffices.us">
                            <p class=".h5">{{organization.numberOfOffices.us}}</p>
                        </div>
                        <div ng-if="organization.numberOfOffices.us != originalOrg.numberOfOffices.us">
                            <span class="nextcolor">{{originalOrg.numberOfOffices.us}}&nbsp;</span>
                            <div class="boxcolor">{{organization.numberOfOffices.us}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Number of Offices Worldwide</label>
                        <div ng-if="organization.numberOfOffices.wordwide == originalOrg.numberOfOffices.wordwide">
                            <p class=".h5">{{organization.numberOfOffices.wordwide}}</p>
                        </div>
                        <div ng-if="organization.numberOfOffices.wordwide != originalOrg.numberOfOffices.wordwide">
                            <span class="nextcolor">{{originalOrg.numberOfOffices.wordwide}}&nbsp;</span>
                            <div class="boxcolor">{{organization.numberOfOffices.wordwide}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Number of Overseas Affiliates</label>
                        <div ng-if="organization.overseasAffiliates == originalOrg.overseasAffiliates">
                            <p class=".h5">{{organization.overseasAffiliates}}</p>
                        </div>
                        <div ng-if="organization.overseasAffiliates != originalOrg.overseasAffiliates">
                            <span class="nextcolor">{{originalOrg.overseasAffiliates}}&nbsp;</span>
                            <div class="boxcolor">{{organization.overseasAffiliates}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Average Private Placement Participant</label>
                        <div ng-if="organization.averagePrivatePlacementParticipant == originalOrg.averagePrivatePlacementParticipant">
                            <p class=".h5">{{organization.averagePrivatePlacementParticipant}}</p>
                        </div>
                        <div ng-if="organization.averagePrivatePlacementParticipant != originalOrg.averagePrivatePlacementParticipant">
                            <span class="nextcolor">{{originalOrg.averagePrivatePlacementParticipant}}&nbsp;</span>
                            <div class="boxcolor">{{organization.averagePrivatePlacementParticipant}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Loan Ceiling</label>
                        <div ng-if="organization.loanCeiling == originalOrg.loanCeiling">
                            <p class=".h5">{{organization.loanCeiling}}</p>
                        </div>
                        <div ng-if="organization.loanCeiling != originalOrg.loanCeiling">
                            <span class="nextcolor">{{originalOrg.loanCeiling}}&nbsp;</span>
                            <div class="boxcolor">{{organization.loanCeiling}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-if="organization.flags.annualContractualExpenses == originalOrg.flags.annualContractualExpenses">
                            <p>
                                <label>
                                    <i class="fa fa-check " ng-class="organization.flags.annualContractualExpenses? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Annual Contractual Expenses</strong> </label>
                            </p>
                        </div>
                        <div ng-if="organization.flags.annualContractualExpenses != originalOrg.flags.annualContractualExpenses">
                            <span class="nextcolor"><label>
                            <i class="fa fa-check " ng-class="originalOrg.flags.annualContractualExpenses? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Annual Contractual Expenses</strong> </label></span>
                            <div class="boxcolor">
                                <label>
                                    <i class="fa fa-check " ng-class="organization.flags.annualContractualExpenses? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Annual Contractual Expenses</strong> </label>
                            </div>
                        </div>
                        <!--  <span class="lbl"></span> &nbsp; &nbsp; -->
                    </div>
                    <div class="form-group">
                        <div ng-if="organization.flags.lineAccessAvailable == originalOrg.flags.lineAccessAvailable">
                            <p>
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.lineAccessAvailable? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Line Access Available</strong> </label>
                            </p>
                        </div>
                        <div ng-if="organization.flags.lineAccessAvailable != originalOrg.flags.lineAccessAvailable">
                            <span class="nextcolor"><label>
                            <i class="fa fa-check" ng-class="originalOrg.flags.lineAccessAvailable? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Line Access Available</strong> </label></span>
                            <div class="boxcolor">
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.lineAccessAvailable? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Line Access Available</strong> </label>
                            </div>
                        </div>
                        <!--  <span class="lbl"></span> &nbsp; &nbsp; -->
                    </div>
                    <div class="form-group">
                        <div ng-if="organization.flags.jointlyWithCommission == originalOrg.flags.jointlyWithCommission">
                            <p>
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.jointlyWithCommission? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Joint Commission</strong> </label>
                            </p>
                        </div>
                        <div ng-if="organization.flags.jointlyWithCommission != originalOrg.flags.jointlyWithCommission">
                            <span class="nextcolor"><label>
                            <i class="fa fa-check" ng-class="originalOrg.flags.jointlyWithCommission? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Joint Commission</strong> </label></span>
                            <div class="boxcolor">
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.jointlyWithCommission? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Joint Commission</strong> </label>
                            </div>
                        </div>
                        <!--  <span class="lbl"></span> &nbsp; &nbsp; -->
                    </div>
                    <div class="form-group">
                        <div ng-if="organization.flags.thirdParty == originalOrg.flags.thirdParty">
                            <p>
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.thirdParty? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Third Party</strong> </label>
                            </p>
                        </div>
                        <div ng-if="organization.flags.thirdParty != originalOrg.flags.thirdParty">
                            <span class="nextcolor"><label>
                            <i class="fa fa-check" ng-class="originalOrg.flags.thirdParty? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Third Party</strong> </label></span>
                            <div class="boxcolor">
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.thirdParty? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Third Party</strong> </label>
                            </div>
                        </div>
                        <!--  <span class="lbl"></span> &nbsp; &nbsp; -->
                    </div>
                    <div class="form-group">
                        <div ng-if="organization.flags.participateLeaseOthers == originalOrg.flags.participateLeaseOthers">
                            <p>
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.participateLeaseOthers? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Lease Participate</strong> </label>
                            </p>
                        </div>
                        <div ng-if="organization.flags.participateLeaseOthers != originalOrg.flags.participateLeaseOthers">
                            <span class="nextcolor"><label>
                            <i class="fa fa-check" ng-class="originalOrg.flags.participateLeaseOthers? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Lease Participate</strong> </label></span>
                            <div class="boxcolor">
                                <label>
                                    <i class="fa fa-check" ng-class="organization.flags.participateLeaseOthers? 'fa-check' : 'fa-remove'"></i><strong class="radiospace">Lease Participate</strong> </label>
                            </div>
                        </div>
                        <!--  <span class="lbl"></span> &nbsp; &nbsp; -->
                    </div>
                    <!--  
                   </div> -->
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 pdtop">
                    <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                        <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                            <div class="form-group">
                                <label> Name</label>
                                <div ng-if="organization.name == originalOrg.name">
                                    <p class=".h5">{{organization.name}}</p>
                                </div>
                                <div ng-if="organization.name != originalOrg.name">
                                    <span class="nextcolor">{{originalOrg.name}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.name}}&nbsp;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Minor Name</label>
                                <div ng-if="organization.shortName == originalOrg.shortName">
                                    <p class=".h5">{{organization.shortName}}</p>
                                </div>
                                <div ng-if="organization.shortName != originalOrg.shortName">
                                    <span class="nextcolor">{{originalOrg.shortName}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.shortName}}&nbsp;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Sort Major Name</label>
                                <div ng-if="organization.sortMajorName == originalOrg.sortMajorName">
                                    <p class=".h5">{{organization.sortMajorName}}</p>
                                </div>
                                <div ng-if="organization.sortMajorName != originalOrg.sortMajorName">
                                    <span class="nextcolor">{{originalOrg.sortMajorName}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.sortMajorName}}&nbsp;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Employees</label>
                                <div ng-if="organization.employees == originalOrg.employees">
                                    <p class=".h5">{{organization.employees}}</p>
                                </div>
                                <div ng-if="organization.employees != originalOrg.employees">
                                    <span class="nextcolor">{{originalOrg.employees}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.employees}}&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                            <div class="form-group">
                                <label>Second Sub Name</label>
                                <div ng-if="organization.subName == originalOrg.subName">
                                    <p class=".h5">{{organization.subName}}</p>
                                </div>
                                <div ng-if="organization.subName != originalOrg.subName">
                                    <span class="nextcolor">{{originalOrg.subName}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.subName}}&nbsp;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Lead Bank</label>
                                <div ng-if="organization.leadBank == originalOrg.leadBank">
                                    <p class=".h5">{{organization.leadBank}}</p>
                                </div>
                                <div ng-if="organization.leadBank != originalOrg.leadBank">
                                    <span class="nextcolor">{{originalOrg.leadBank}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.leadBank}}&nbsp;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Legal Lending Limit in US</label>
                                <div ng-if="organization.lendingLimit == originalOrg.lendingLimit">
                                    <p class=".h5">{{organization.lendingLimit}}</p>
                                </div>
                                <div ng-if="organization.lendingLimit != originalOrg.lendingLimit">
                                    <span class="nextcolor">{{originalOrg.lendingLimit}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.lendingLimit}}&nbsp;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Funds Available for Investment or Loans</label>
                                <div ng-if="organization.fundsAvailable == originalOrg.fundsAvailable">
                                    <p class=".h5">{{organization.fundsAvailable}}</p>
                                </div>
                                <div ng-if="organization.fundsAvailable != originalOrg.fundsAvailable">
                                    <span class="nextcolor">{{originalOrg.fundsAvailable}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.fundsAvailable}}&nbsp;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Partner</label>
                                <div ng-if="organization.partner == originalOrg.partner">
                                    <p class=".h5">{{organization.partner}}</p>
                                </div>
                                <div ng-if="organization.partner != originalOrg.partner">
                                    <span class="nextcolor">{{originalOrg.partner}}&nbsp;</span>
                                    <div class="boxcolor">{{organization.partner}}&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 pdtop">
                    <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                        <div class="form-group">
                            <div class="revenueportfolio">Revenue Portfolio</div>
                            <div class="revenueportfolio-border2">
                                <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                    <div class="form-group ">
                                        <label for="pwd"><span class="revenueportfolio-subtitle">Annual Revenue</span>
                                        </label>
                                    </div>
                                    <div class="form-group ">
                                        <label> US</label>
                                        <div ng-if="organization.annualRevenues.us == originalOrg.annualRevenues.us">
                                            <p class=".h5">{{organization.annualRevenues.us}}</p>
                                        </div>
                                        <div ng-if="organization.annualRevenues.us != originalOrg.annualRevenues.us">
                                            <span class="nextcolor">{{originalOrg.annualRevenues.us}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.annualRevenues.us}}&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label> Worldwide US</label>
                                        <div ng-if="organization.annualRevenues.wordwide == originalOrg.annualRevenues.wordwide">
                                            <p class=".h5">{{organization.annualRevenues.wordwide}}</p>
                                        </div>
                                        <div ng-if="organization.annualRevenues.wordwide != originalOrg.annualRevenues.wordwide">
                                            <span class="nextcolor">{{originalOrg.annualRevenues.wordwide}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.annualRevenues.wordwide}}&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label> Average Annual Revenue</label>
                                        <div ng-if="organization.averageAnnualRevenues == originalOrg.averageAnnualRevenues">
                                            <p class=".h5">{{organization.averageAnnualRevenues}}</p>
                                        </div>
                                        <div ng-if="organization.averageAnnualRevenues != originalOrg.averageAnnualRevenues">
                                            <span class="nextcolor">{{originalOrg.averageAnnualRevenues}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.averageAnnualRevenues}}&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                                    <div class="form-group ">
                                        <label for="pwd"><span class="revenueportfolio-subtitle">Percentage of Fees Obtained Through</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Professional Service Fees</label>
                                        <div ng-if="organization.feePercentage.professionalService == originalOrg.feePercentage.professionalService">
                                            <p class=".h5">{{organization.feePercentage.professionalService}}
                                        </div>
                                        <div ng-if="organization.feePercentage.professionalService != originalOrg.feePercentage.professionalService">
                                            <span class="nextcolor">{{originalOrg.feePercentage.professionalService}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.feePercentage.professionalService}}&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label> Commissions</label>
                                        <div ng-if="organization.feePercentage.commision == originalOrg.feePercentage.commision">
                                            <p class=".h5">{{organization.feePercentage.commision}}</p>
                                        </div>
                                        <div ng-if="organization.feePercentage.commision != originalOrg.feePercentage.commision">
                                            <span class="nextcolor">{{originalOrg.feePercentage.commision}}&nbsp;</span>
                                            <div class="boxcolor">{{organization.feePercentage.commision}}&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 pdtop">
                    <div class="col-md-12 col-sm-12 col-xs-12 mla mra">
                        <div class="form-group  ">
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label for="pwd">Parent Name</label>
                                    <div ng-if="organization.parentName == originalOrg.parentName">
                                        <p class=".h5">{{organization.parentName}}</p>
                                    </div>
                                    <div ng-if="organization.parentName != originalOrg.parentName">
                                        <span class="nextcolor">{{originalOrg.parentName}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.parentName}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Parent Assets</label>
                                    <div ng-if="organization.parentAssets == originalOrg.parentAssets">
                                        <p class=".h5">{{organization.parentAssets}}</p>
                                    </div>
                                    <div ng-if="organization.parentAssets != originalOrg.parentAssets">
                                        <span class="nextcolor">{{originalOrg.parentAssets}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.parentAssets}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Average Annual Corporate Assignment</label>
                                    <div ng-if="organization.averageAnnualCorporateAssignment== originalOrg.averageAnnualCorporateAssignment">
                                        <p class=".h5">{{organization.averageAnnualCorporateAssignment}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.averageAnnualCorporateAssignment != originalOrg.averageAnnualCorporateAssignment">
                                        <span class="nextcolor">{{originalOrg.averageAnnualCorporateAssignment}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.averageAnnualCorporateAssignment}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Company Status</label>
                                    <div ng-if="organization.status._id == originalOrg.status._id">
                                        <p class=".h5">{{directoryRecordStatus[organization.status._id].label}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.status._id != originalOrg.status._id">
                                        <span class="nextcolor">{{directoryRecordStatus[originalOrg.status._id].label}}&nbsp;</span>
                                        <div class="boxcolor">{{directoryRecordStatus[organization.status._id].label}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Work Flow Status</label>
                                    <div ng-if="organization.workflowStatus._id == originalOrg.workflowStatus._id">
                                        <p class=".h5">{{directoryRecordStatus[organization.workflowStatus._id].label}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.workflowStatus._id != originalOrg.workflowStatus._id">
                                        <span class="nextcolor">{{directoryRecordStatus[originalOrg.workflowStatus._id].label}}&nbsp;</span>
                                        <div class="boxcolor">{{directoryRecordStatus[organization.workflowStatus._id].label}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Average Portfolio Maturity</label>
                                    <div ng-if="organization.averagePortfolioMaturity== originalOrg.averagePortfolioMaturity">
                                        <p class=".h5">{{organization.averagePortfolioMaturity}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.averagePortfolioMaturity != originalOrg.averagePortfolioMaturity">
                                        <span class="nextcolor">{{originalOrg.averagePortfolioMaturity}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.averagePortfolioMaturity}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Intermediary Loan Percentage</label>
                                    <div ng-if="organization.intermediaryLoanPercentage== originalOrg.intermediaryLoanPercentage">
                                        <p class=".h5">{{organization.intermediaryLoanPercentage}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.intermediaryLoanPercentage != originalOrg.intermediaryLoanPercentage">
                                        <span class="nextcolor">{{originalOrg.intermediaryLoanPercentage}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.intermediaryLoanPercentage}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label>Parent Address</label>
                                    <div ng-if="organization.parentAddress == originalOrg.parentAddress">
                                        <p class=".h5">{{organization.parentAddress}}</p>
                                    </div>
                                    <div ng-if="organization.parentAddress != originalOrg.parentAddress">
                                        <span class="nextcolor">{{originalOrg.parentAddress}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.parentAddress}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Gallery Description</label>
                                    <div ng-if="organization.galleryDescription == originalOrg.galleryDescription">
                                        <p class=".h5">{{organization.galleryDescription}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.galleryDescription != originalOrg.galleryDescription">
                                        <span class="nextcolor">{{originalOrg.galleryDescription}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.galleryDescription}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Listing Types</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p class=".h5"></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Listing Type</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="listingType in organization.listingType" ng-if="!listingType.deleted">
                            <td class=" widthfcl text-center ">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="listingType.listing.codeValue==o riginalOrg.listingType[$index].listing.codeValue ">
                                    <p class=".h5 ">{{listingType.listing.codeValue}}</p>
                                </div>
                                <div ng-if="listingType.listing.codeValue !=o riginalOrg.listingType[$index].listing.codeValue ">
                                    <span class="nextcolor ">{{originalOrg.listingType[$index].listing.codeValue}}&nbsp;</span>
                                    <div class="boxcolor ">{{listingType.listing.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="listingType.listingActive==o riginalOrg.listingType[$index].listingActive ">
                                    <p class=".h5 ">{{listingType.listingActive ? "YES " :( listingType.listingActive == false ? "NO " : " " ) }}</p>
                                </div>
                                <div ng-if="listingType.listingActive !=o riginalOrg.listingType[$index].listingActive ">
                                    <span class="nextcolor ">{{originalOrg.listingType[$index].listingActive ? "YES " : ( originalOrg.listingType[$index].listingActive == false ? "NO " : " " )}}&nbsp;</span>
                                    <div class="boxcolor ">{{listingType.listingActive ? "YES " : ( listingType.listingActive == false ? "NO " : " " )}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="listingType in deletedListingType " bgcolor="42b6da ">
                            <td class="text-center ">{{ ($index+1) }}</td>
                            <td>{{listingType.listingName}}</td>
                            <td>{{listingType.listingActive ? "YES " : (listingType.listingActive == false ? "NO " : " ") }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row ">
            <div class="cal-md-12 pull-right add-button ">
            </div>
            <div class="pull-left addnewt add-button ">Members</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf ">
        <div class="row ">
            <div class="col-xs-12 ">
                <p class=".h5 "></p>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th class="widthfcl ">#</th>
                            <th>Name</th>
                            <th>Listing Type</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="members in organization.members " ng-if="!members.deleted">
                            <td class="widthfcl text-center ">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="members.name==o riginalOrg.members[$index].name ">
                                    <p class=".h5 ">{{members.name}}</p>
                                </div>
                                <div ng-if="members.name !=o riginalOrg.members[$index].name ">
                                    <span class="nextcolor ">{{originalOrg.members[$index].name}}&nbsp;</span>
                                    <div class="boxcolor ">{{members.name}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="members.listingType.codeValue==o riginalOrg.members[$index].listingType.codeValue ">
                                    <p class=".h5 ">{{members.listingType.codeValue}}</p>
                                </div>
                                <div ng-if="members.listingType.codeValue !=o riginalOrg.members[$index].listingType.codeValue ">
                                    <span class="nextcolor ">{{originalOrg.members[$index].listingType.codeValue}}&nbsp;</span>
                                    <div class="boxcolor ">{{members.listingType.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="members.active==o riginalOrg.members[$index].active ">
                                    <p class=".h5 ">{{members.active ? "YES " :( members.active == false ? "NO " : " " ) }}</p>
                                </div>
                                <div ng-if="members.active !=o riginalOrg.members[$index].active ">
                                    <span class="nextcolor ">{{originalOrg.members[$index].active ? "YES " : ( originalOrg.members[$index].active == false ? "NO " : " " )}}&nbsp;</span>
                                    <div class="boxcolor ">{{members.active ? "YES " : ( members.active == false ? "NO " : " " )}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="members in deletedMember " bgcolor="42b6da ">
                            <td class="text-center ">{{ ($index+1) }}</td>
                            <td>{{members.name}}</td>
                            <td>{{members.listingName}}</td>
                            <td>{{members.active ? "YES " : (members.active == false ? "NO " : " ") }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
