<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone"></label>
                </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo"></label>
                </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}
                            <br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pdtop">
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                     Loan Portfolio</span>
                                    </label>
                                </div>
                                <div class="form-group ">
                                    <label for="pwd">Total Corporate Loan Portfolio Outstanding
                                    </label>
                                    <div ng-if="organization.loanPortfolioOutstanding == originalOrg.loanPortfolioOutstanding">
                                        <p>{{organization.loanPortfolioOutstanding}}</p>
                                    </div>
                                    <div ng-if="organization.loanPortfolioOutstanding != originalOrg.loanPortfolioOutstanding">
                                        <span class="nextcolor">{{originalOrg.loanPortfolioOutstanding}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.loanPortfolioOutstanding}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Minimum Loan</label>
                                    <div ng-if="organization.minLoanHandled == originalOrg.minLoanHandled">
                                        <p>{{organization.minLoanHandled}}</p>
                                    </div>
                                    <div ng-if="organization.minLoanHandled != originalOrg.minLoanHandled">
                                        <span class="nextcolor">{{originalOrg.minLoanHandled}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.minLoanHandled}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                      Leasing Portfolio</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Size by Original Cost</label>
                                    <div ng-if="organization.originalCostLeasingPortfolio == originalOrg.originalCostLeasingPortfolio">
                                        <p>{{organization.originalCostLeasingPortfolio}}</p>
                                    </div>
                                    <div ng-if="organization.originalCostLeasingPortfolio != originalOrg.originalCostLeasingPortfolio">
                                        <span class="nextcolor">{{originalOrg.originalCostLeasingPortfolio}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.originalCostLeasingPortfolio}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Size by Gross Receivable Outstanding</label>
                                    <div ng-if="organization.grossReceivableLeasingPortfolio == originalOrg.grossReceivableLeasingPortfolio">
                                        <p>{{organization.grossReceivableLeasingPortfolio}}</p>
                                    </div>
                                    <div ng-if="organization.grossReceivableLeasingPortfolio != originalOrg.grossReceivableLeasingPortfolio">
                                        <span class="nextcolor">{{originalOrg.grossReceivableLeasingPortfolio}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.grossReceivableLeasingPortfolio}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Average Equity Position in Lease</label>
                                    <div ng-if="organization.avgEquityLease == originalOrg.avgEquityLease">
                                        <p>{{organization.avgEquityLease}}</p>
                                    </div>
                                    <div ng-if="organization.avgEquityLease != originalOrg.avgEquityLease">
                                        <span class="nextcolor">{{originalOrg.avgEquityLease}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.avgEquityLease}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Primary Types of Equipment Leased</label>
                                    <div ng-if="organization.primaryEquipementLeased == originalOrg.primaryEquipementLeased">
                                        <p>{{organization.primaryEquipementLeased}}</p>
                                    </div>
                                    <div ng-if="organization.primaryEquipementLeased != originalOrg.primaryEquipementLeased">
                                        <span class="nextcolor">{{originalOrg.primaryEquipementLeased}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.primaryEquipementLeased}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Preferred Terms of Lease</label>
                                    <div ng-if="organization.preferredLeaseTerm == originalOrg.preferredLeaseTerm">
                                        <p>{{organization.preferredLeaseTerm}}</p>
                                    </div>
                                    <div ng-if="organization.preferredLeaseTerm != originalOrg.preferredLeaseTerm">
                                        <span class="nextcolor">{{originalOrg.preferredLeaseTerm}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.preferredLeaseTerm}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                      Master Trust Portfolio</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Number of Master Trust Client</label>
                                    <div ng-if="organization.masterTrustClient == originalOrg.masterTrustClient">
                                        <p>{{organization.masterTrustClient}}</p>
                                    </div>
                                    <div ng-if="organization.masterTrustClient != originalOrg.masterTrustClient">
                                        <span class="nextcolor">{{originalOrg.masterTrustClient}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.masterTrustClient}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Master Trust Assets</label>
                                    <div ng-if="organization.masterTrustAssets == originalOrg.masterTrustAssets">
                                        <p>{{organization.masterTrustAssets}}</p>
                                    </div>
                                    <div ng-if="organization.masterTrustAssets != originalOrg.masterTrustAssets">
                                        <span class="nextcolor">{{originalOrg.masterTrustAssets}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.masterTrustAssets}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Reports Required by Clients in How Many Ways After Period End</label>
                                    <div ng-if="organization.clientReceiveReportInterval == originalOrg.clientReceiveReportInterval">
                                        <p>{{organization.clientReceiveReportInterval}}</p>
                                    </div>
                                    <div ng-if="organization.clientReceiveReportInterval != originalOrg.clientReceiveReportInterval">
                                        <span class="nextcolor">{{originalOrg.clientReceiveReportInterval}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.clientReceiveReportInterval}}&nbsp;</div>
                                    </div>
                                </div>
                                <!--  Method of Compensation -->
                                <div class="form-group">
                                    <label for="pwd">Method of Compensation</label>
                                    <div ng-if="organization.compensationMethod == originalOrg.compensationMethod">
                                        <p>{{organization.compensationMethod}}</p>
                                    </div>
                                    <div ng-if="organization.compensationMethod != originalOrg.compensationMethod">
                                        <span class="nextcolor">{{originalOrg.compensationMethod}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.compensationMethod}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label for="pwd">Minimum Deal Size Handled</label>
                                    <div ng-if="organization.minimumDealSizeHandled == originalOrg.minimumDealSizeHandled">
                                        <p>{{organization.minimumDealSizeHandled}}</p>
                                    </div>
                                    <div ng-if="organization.minimumDealSizeHandled != originalOrg.minimumDealSizeHandled">
                                        <span class="nextcolor">{{originalOrg.minimumDealSizeHandled}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.minimumDealSizeHandled}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Owner Country</label>
                                    <div ng-if="organization.ownerCountry == originalOrg.ownerCountry">
                                        <p>{{organization.ownerCountry}}</p>
                                    </div>
                                    <div ng-if="organization.ownerCountry != originalOrg.ownerCountry">
                                        <span class="nextcolor">{{originalOrg.ownerCountry}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.ownerCountry}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pdtop">
                    <div class="form-group">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                     Private Placement Portfolio</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Private Placement Portfolio</label>
                                    <div ng-if="organization.privatePlacementPortfolio == originalOrg.privatePlacementPortfolio">
                                        <p>{{organization.privatePlacementPortfolio}}</p>
                                    </div>
                                    <div ng-if="organization.privatePlacementPortfolio != originalOrg.privatePlacementPortfolio">
                                        <span class="nextcolor">{{originalOrg.privatePlacementPortfolio}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.privatePlacementPortfolio}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Funds Available</label>
                                    <div ng-if="organization.privatePlacementFunds == originalOrg.privatePlacementFunds">
                                        <p>{{organization.privatePlacementFunds}}</p>
                                    </div>
                                    <div ng-if="organization.privatePlacementFunds != originalOrg.privatePlacementFunds">
                                        <span class="nextcolor">{{originalOrg.privatePlacementFunds}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.privatePlacementFunds}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                    Pensions Portfolio</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Number of Years in Pensions Management</label>
                                    <div ng-if="organization.pensionManagementYear == originalOrg.pensionManagementYear">
                                        <p>{{organization.pensionManagementYear}}</p>
                                    </div>
                                    <div ng-if="organization.pensionManagementYear != originalOrg.pensionManagementYear">
                                        <span class="nextcolor">{{originalOrg.pensionManagementYear}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.pensionManagementYear}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Pensions Assets Under Management</label>
                                    <div ng-if="organization.pensionAssetsManagement == originalOrg.pensionAssetsManagement">
                                        <p>{{organization.pensionAssetsManagement}}</p>
                                    </div>
                                    <div ng-if="organization.pensionAssetsManagement != originalOrg.pensionAssetsManagement">
                                        <span class="nextcolor">{{originalOrg.pensionAssetsManagement}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.pensionAssetsManagement}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Pension Report Interval</label>
                                    <div ng-if="organization.pensionReportInterval.codeValue == originalOrg.pensionReportInterval.codeValue">
                                        <p>{{organization.pensionReportInterval.codeValue}}</p>
                                    </div>
                                    <div ng-if="organization.pensionReportInterval.codeValue != originalOrg.pensionReportInterval.codeValue">
                                        <span class="nextcolor">{{originalOrg.pensionReportInterval.codeValue }}&nbsp;</span>
                                        <div class="boxcolor">{{organization.pensionReportInterval.codeValue }}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                       Dealing Portfolio</span>
                                    </label>
                                </div>
                                <div class- "form-group">
                                    <label for="pwd">Average Deals Closed in 3 years</label>
                                    <div ng-if="organization.averageDealsClosedThreeYear == originalOrg.averageDealsClosedThreeYear">
                                        <p>{{organization.averageDealsClosedThreeYear}}</p>
                                    </div>
                                    <div ng-if="organization.averageDealsClosedThreeYear != originalOrg.averageDealsClosedThreeYear">
                                        <span class="nextcolor">{{originalOrg.averageDealsClosedThreeYear }}&nbsp;</span>
                                        <div class="boxcolor">{{organization.averageDealsClosedThreeYear }}&nbsp;</div>
                                    </div>
                                </div>
                                <div class- "form-group">
                                    <label for="pwd"> Size of Deal Handled</label>
                                    <div ng-if="organization.dealSizeHandled == originalOrg.dealSizeHandled">
                                        <p>{{organization.dealSizeHandled}}</p>
                                    </div>
                                    <div ng-if="organization.dealSizeHandled != originalOrg.dealSizeHandled">
                                        <span class="nextcolor">{{originalOrg.dealSizeHandled }}&nbsp;</span>
                                        <div class="boxcolor">{{organization.dealSizeHandled }}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="revenueportfolio">Clientele Portfolio</div>
                        <div class="revenueportfolio-border">
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">       
                                        Client mix</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Client Mix Buyer</label>
                                    <div ng-if="organization.clientMixBuyer == originalOrg.clientMixBuyer">
                                        <p>{{organization.clientMixBuyer}}</p>
                                    </div>
                                    <div ng-if="organization.clientMixBuyer != originalOrg.clientMixBuyer">
                                        <span class="nextcolor">{{originalOrg.clientMixBuyer }}&nbsp;</span>
                                        <div class="boxcolor">{{organization.clientMixBuyer }}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Client Mix Seller</label>
                                    <div ng-if="organization.clientMixSeller == originalOrg.clientMixSeller">
                                        <p>{{organization.clientMixSeller}}</p>
                                    </div>
                                    <div ng-if="organization.clientMixSeller != originalOrg.clientMixSeller">
                                        <span class="nextcolor">{{originalOrg.clientMixSeller }}&nbsp;</span>
                                        <div class="boxcolor">{{organization.clientMixSeller }}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12 mla mra">
                                <div class="form-group ">
                                    <label for="pwd"><span class="revenueportfolio-subtitle">Client Representation at One Time</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Average Buyer Represented</label>
                                    <div ng-if="organization.averageBuyerRepresented == originalOrg.averageBuyerRepresented">
                                        <p>{{organization.averageBuyerRepresented}}</p>
                                    </div>
                                    <div ng-if="organization.averageBuyerRepresented != originalOrg.averageBuyerRepresented">
                                        <span class="nextcolor">{{originalOrg.averageBuyerRepresented }}&nbsp;</span>
                                        <div class="boxcolor">{{organization.averageBuyerRepresented }}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"> Average Seller Represented</label>
                                    <div ng-if="organization.averageSellerRepresented == originalOrg.averageSellerRepresented">
                                        <p>{{organization.averageSellerRepresented}}</p>
                                    </div>
                                    <div ng-if="organization.averageSellerRepresented != originalOrg.averageSellerRepresented">
                                        <span class="nextcolor">{{originalOrg.averageSellerRepresented }}&nbsp;</span>
                                        <div class="boxcolor">{{organization.averageSellerRepresented }}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="revenueportfolio-border2">
                            <div class="col-lg-12 col-sm-12 col-xs-12 mla">
                                <div class="form-group">
                                    <label for="pwd">Years Leasing</label>
                                    <div ng-if="organization.yearsLeasing == originalOrg.yearsLeasing">
                                        <p>{{organization.yearsLeasing}}</p>
                                    </div>
                                    <div ng-if="organization.yearsLeasing != originalOrg.yearsLeasing">
                                        <span class="nextcolor">{{originalOrg.yearsLeasing}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.yearsLeasing}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div ng-if="organization.flags.shortTermCashFund == originalOrg.flags.shortTermCashFund">
                                        <label for="pwd">
                                            <i class="fa" ng-class="organization.flags.shortTermCashFund? 'fa-check' : 'fa-remove'"></i> Short Term Cash Fund</label>
                                    </div>
                                    <div ng-if="organization.flags.shortTermCashFund != originalOrg.flags.shortTermCashFund">
                                        <span class="nextcolor"><label for="pwd">
                                        <i class="fa" ng-class="originalOrg.flags.shortTermCashFund? 'fa-check' : 'fa-remove'"></i> Short Term Cash Fund</label></span>
                                        <div class="boxcolor">
                                            <label for="pwd">
                                                <i class="fa" ng-class="organization.flags.shortTermCashFund? 'fa-check' : 'fa-remove'"></i> Short Term Cash Fund</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div ng-if="organization.flags.zeroCashBalance == originalOrg.flags.zeroCashBalance">
                                        <label for="pwd">
                                            <i class="fa" ng-class="organization.flags.zeroCashBalance? 'fa-check' : 'fa-remove'"></i> Zero Cash Balance</label>
                                    </div>
                                    <div ng-if="organization.flags.zeroCashBalance != originalOrg.flags.zeroCashBalance">
                                        <span class="nextcolor"><label for="pwd">
                                        <i class="fa" ng-class="originalOrg.flags.zeroCashBalance? 'fa-check' : 'fa-remove'"></i> Zero Cash Balance</label></span>
                                        <div class="boxcolor">
                                            <label for="pwd">
                                                <i class="fa" ng-class="organization.flags.zeroCashBalance? 'fa-check' : 'fa-remove'"></i> Zero Cash Balance</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Chapter Specifications</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Specification Type</th>
                            <th>Specification Code</th>
                            <th>Name</th>
                            <th>Listing Type</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="chapterSpecification in organization.chapterSpecification">
                            <td class="widthfcl text-center">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="chapterSpecification.specificationType == originalOrg.chapterSpecification[$index].specificationType">
                                    <p>{{chapterSpecification.specificationType}}</p>
                                </div>
                                <div ng-if="chapterSpecification.specificationType != originalOrg.chapterSpecification[$index].specificationType">
                                    <span class="nextcolor">{{originalOrg.chapterSpecification[$index].specificationType }}&nbsp;</span>
                                    <div class="boxcolor">{{chapterSpecification.specificationType }}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="chapterSpecification.code.codeValue == originalOrg.chapterSpecification[$index].code.codeValue">
                                    <p>{{chapterSpecification.code.codeValue}}</p>
                                </div>
                                <div ng-if="chapterSpecification.code.codeValue != originalOrg.chapterSpecification[$index].code.codeValue">
                                    <span class="nextcolor">{{originalOrg.chapterSpecification[$index].code.codeValue }}&nbsp;</span>
                                    <div class="boxcolor">{{chapterSpecification.code.codeValue }}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="chapterSpecification.name == originalOrg.chapterSpecification[$index].name">
                                    <p>{{chapterSpecification.name}}</p>
                                </div>
                                <div ng-if="chapterSpecification.name != originalOrg.chapterSpecification[$index].name">
                                    <span class="nextcolor">{{originalOrg.chapterSpecification[$index].name }}&nbsp;</span>
                                    <div class="boxcolor">{{chapterSpecification.name }}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="chapterSpecification.listingType.codeValue == originalOrg.chapterSpecification[$index].listingType.codeValue">
                                    <p>{{chapterSpecification.listingType.codeValue}}</p>
                                </div>
                                <div ng-if="chapterSpecification.listingType.codeValue != originalOrg.chapterSpecification[$index].listingType.codeValue">
                                    <span class="nextcolor">{{originalOrg.chapterSpecification[$index].listingType.codeValue }}&nbsp;</span>
                                    <div class="boxcolor">{{chapterSpecification.listingType.codeValue }}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="chapterSpecification.activeFlag == originalOrg.chapterSpecification[$index].activeFlag">
                                    <p class=".h5">{{chapterSpecification.activeFlag ? "YES" :( chapterSpecification.activeFlag == false ? "NO" : "" ) }}</p>
                                </div>
                                <div ng-if="chapterSpecification.activeFlag != originalOrg.chapterSpecification[$index].activeFlag">
                                    <span class="nextcolor">{{originalOrg.chapterSpecification[$index].activeFlag ? "YES" : ( originalOrg.chapterSpecification[$index].activeFlag == false ? "NO" : "" )}}&nbsp;</span>
                                    <div class="boxcolor">{{chapterSpecification.activeFlag ? "YES" : ( chapterSpecification.activeFlag == false ? "NO" : "" )}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="chapterSpecification in deletedChapSpec" bgcolor="42b6da">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{chapterSpecification.specificationType}}</td>
                            <td>{{chapterSpecification.code.codeValue}}</td>
                            <td>{{chapterSpecification.name}}</td>
                            <td>{{chapterSpecification.listingType.codeValue}}</td>
                            <td>{{chapterSpecification.activeFlag ? "YES" : (chapterSpecification.activeFlag == false ? "NO" : "")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Features</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Type</th>
                            <th>Feature</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feature in organization.features" ng-if="!feature.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="feature.featureType == originalOrg.features[$index].featureType">
                                    <p>{{feature.featureType}}</p>
                                </div>
                                <div ng-if="feature.featureType != originalOrg.features[$index].featureType">
                                    <span class="nextcolor">{{originalOrg.features[$index].featureType }}&nbsp;</span>
                                    <div class="boxcolor">{{feature.featureType }}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.code.codeValue == originalOrg.features[$index].code.codeValue ">
                                    <p>{{feature.code.codeValue}}</p>
                                </div>
                                <div ng-if="feature.code.codeValue != originalOrg.features[$index].code.codeValue ">
                                    <span class="nextcolor">{{originalOrg.features[$index].code.codeValue }}&nbsp;</span>
                                    <div class="boxcolor">{{feature.code.codeValue }}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="feature.name == originalOrg.features[$index].name">
                                    <p>{{feature.name}}</p>
                                </div>
                                <div ng-if="feature.name != originalOrg.features[$index].name">
                                    <span class="nextcolor">{{originalOrg.features[$index].name }}&nbsp;</span>
                                    <div class="boxcolor">{{feature.name }}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="feature in deletedFeatures" bgcolor="42b6da">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{feature.featureType}}</td>
                            <td>{{feature.code.codeValue}}</td>
                            <td>{{feature.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
