<form name="roleForm" ng-submit="edit()">
    <div class="tab-content">
        <div class="tab-pane active" id="home4">
            <div class="widget-box abc">
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="addnewt">
                                <span>Details</span>
                            </div>
                            <div class="space"></div>
                            <div class="form-group" ng-class="{ 'has-error': roleForm.name.$touched && roleForm.name.$invalid }">
                                <label for="pwd">Role Name<span class="meditator">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" ng-model="role.name" required validate-is-role-unique except-role-id="{{ role._id }}">
                                </div>
                                <div class="help-block" ng-messages="roleForm.name.$error" ng-show="roleForm.name.$touched">
                                    <p ng-message="required">This field is required</p>
                                    <p ng-message="validateIsRoleUnique"><b>{{role.name}}</b> already exists</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="ace ace-checkbox-2" name="active" ng-model="role.active">
                                <label class="lbl" for="handicapped">Active</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="addnewt">
                                <span>Data Policies</span>
                            </div>
                            <div class="space"></div>
                            <div class="form-group">
                                <label for="pwd">Directories<span class="meditator">*</span></label>
                                <ui-select multiple ng-model="role.directories">
                                    <ui-select-match placeholder="Select Directories...">{{$item.codeValue}}</ui-select-match>
                                    <ui-select-choices repeat="thisDirectory._id as thisDirectory in (directoryArray | filter: $select.search)">{{thisDirectory.codeValue}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="pull-left addnewt add-button">Access Policies</div>
                </div>
            </div>
            <div class="form-group table-responsive">
                <table dt-options="dtOptions" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Page</th>
                            <th>View</th>
                            <th>Add</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aclPage in aclPageActions">
                            <td>
                                <i class="fa fa-{{ aclPage.module.icon }}"></i>
                                <strong>{{ aclPage.module.name }}</strong>
                            </td>
                            <td>
                                <i class="fa fa-{{ aclPage.icon }}"></i>
                                <strong>{{ aclPage.name }}</strong>
                            </td>
                            <td>
                                <ul class="nav" style="margin-left:0px" ng-if="aclPage.actions['view'] && aclPage.actions['view'].length > 0">
                                    <li ng-repeat="viewAction in aclPage.actions['view']">
                                        <label title="{{viewAction.name}}">
                                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="viewAction.selected" ng-change="checkChange(viewAction)"> 
                                            <span class="lbl"></span>
                                            {{viewAction.name}}
                                        </label>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav" style="margin-left:0px" ng-if="aclPage.actions['add'] && aclPage.actions['add'].length > 0">
                                    <li ng-repeat="addAction in aclPage.actions['add']">
                                        <label title="{{addAction.name}}">
                                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="addAction.selected" ng-change="checkChange(addAction)">  
                                            <span class="lbl"></span>
                                            {{addAction.name}}
                                        </label>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav" style="margin-left:0px" ng-if="aclPage.actions['update'] && aclPage.actions['update'].length > 0">
                                    <li ng-repeat="updateAction in aclPage.actions['update']">
                                        <label title="{{updateAction.name}}">
                                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="updateAction.selected" ng-change="checkChange(updateAction)"> 
                                            <span class="lbl"></span>
                                            {{updateAction.name}}
                                        </label>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav" style="margin-left:0px" ng-if="aclPage.actions['delete'] && aclPage.actions['delete'].length > 0">
                                    <li ng-repeat="deleteAction in aclPage.actions['delete']">
                                        <label title="{{deleteAction.name}}">
                                            <input type="checkbox" class="ace ace-checkbox-2" ng-model="deleteAction.selected" ng-change="checkChange(deleteAction)"> 
                                            <span class="lbl"></span>
                                            {{deleteAction.name}}
                                        </label>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm sp10 mr" ng-disabled="roleForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
