<div class="table-responsive">
    <table id="cfsDataTable" datatable="" dt-options="dtOptions" class="table table-striped table-bordered"></table>
    <!-- <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="1%" class="text-center">
                    <directory-organization-record-options selected-record-list="selectedOrganizations"></directory-organization-record-options>
                </th>
                <th>Museum Name</th>
                <th>Estd.</th>
                <th>Address Street 1</th>
                <th>Address Street 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Museum Name</th>
                <th>Estd.</th>
                <th>Address Street 1</th>
                <th>Address Street 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="organization in organizations">
                <td>
                    <directory-organization-record-select selected-record-list="selectedOrganizations" record-id="organization._id"></directory-organization-record-select>
                </td>
                <td>{{organization.name}}</td>
                <td>{{organization.established.year}}</td>
                <td>{{(getPhysicalAddress(organization)).street1}}</td>
                <td>{{(getPhysicalAddress(organization)).street2}}</td>
                <td>{{(getPhysicalAddress(organization)).city}}</td>
                <td>{{(getPhysicalAddress(organization)).state}}</td>
                <td>{{(getPhysicalAddress(organization)).country}}</td>
                <td>{{recordStatuses[organization.recordStatus]}}</td>
                <td>
                    <directory-organization-record-actions record-id="organization._id"></directory-organization-record-actions>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>

<!-- <div class="table-responsive">
    <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered"></table>
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="1%" class="text-center">
                    <directory-organization-record-options selected-record-list="selectedOrganizations"></directory-organization-record-options>
                </th>
                <th>Museum Name</th>
                <th>Estd.</th>
                <th>Address Street 1</th>
                <th>Address Street 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Museum Name</th>
                <th>Estd.</th>
                <th>Address Street 1</th>
                <th>Address Street 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="organization in organizations">
                <td>
                    <directory-organization-record-select selected-record-list="selectedOrganizations" record-id="organization._id"></directory-organization-record-select>
                </td>
                <td>{{organization.name}}</td>
                <td>{{organization.established.year}}</td>
                <td>{{(getPhysicalAddress(organization)).street1}}</td>
                <td>{{(getPhysicalAddress(organization)).street2}}</td>
                <td>{{(getPhysicalAddress(organization)).city}}</td>
                <td>{{(getPhysicalAddress(organization)).state}}</td>
                <td>{{(getPhysicalAddress(organization)).country}}</td>
                <td>{{recordStatuses[organization.recordStatus]}}</td>
                <td>
                    <directory-organization-record-actions record-id="organization._id"></directory-organization-record-actions>
                </td>
            </tr>
        </tbody>
    </table>
</div>
 -->