<div class="modal-header">
    <h3 class="modal-title">Remove Record(s)</h3>
</div>
<div class="modal-body">
    <div class="well well-sm">
        <h4>Are you sure you want to delete</h4>
        <h2>{{ organizations.length }} record(s)?</h2>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="remove()" ng-disabled="loading">
        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-check'"></i> Yes, I'm sure
    </button>
</div>
