      <section class="module parallax-in parallax-mailing-list-banner">
         <div id="mailing-page" class="container">
            <div class="row">
			
			<div id="animated-example" class="animated fadeInUp">
                    <div class="col-md-12">
                        <div class="space-40"> </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="space-40"> </div>
						<div class="space-40 visible-xs"> </div>
                        <h1 class="white">Archive & Reflections</h1>
                    </div>
                    <div class="space-40"> </div>
                </div>
				

            </div>
         </div>
      </section>
      <div id="mailing-page" class="container">
         <div class="row">
            <div class="col-md-9">
              
				<div class="space-18"></div>
                <h5 class="text-left dark-orange">2009 Papal Visit to The Holy Land Archives</h5>
                <h6 class="graytext">Nawas International Travel is the proud sponsor of the papal pilgrimage to the Holy Land feature.
				<a href="http://www.nawas.com/">www.nawas.com
</a></h6><h6>
				
                <div class="space-10"></div>
               
			   <!-------------- sanction -------------------->
			   <div class="space-8"></div>
			   <div class="contanbox">
				
               <div class="col-md-12">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft widthleft">
								<strong>20</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">BENEDICT XVI RECALLS HIS TRIP TO THE HOLY LAND</h4>
                           <h6>
                             The Pope dedicated his remarks during his general audience, held in St. Peter's Square, to a review of his recent apostolic trip to the Holy Land from 8 to 15 May, describing it as a "pilgrimage par excellence to the sources of the faith, and at the same time a pastoral visit to the Church that lives" there. The Holy Father recalled the first stage of his trip, which took him to Jordan where he visited Mount Nebo whence Moses saw the Promised Land but died without reaching it, and Bethany Beyond the Jordan where Jesus was baptised by John. The Memorial of Moses on Mount Nebo "speaks to us of our status as pilgrims", he said, "suspended between an 'already' and a 'not yet', between a promise so great and beautiful as to support us on our journey, and a realisation that surpasses us, and even surpasses this world”.
<br>
<br>

"Jordan", he added, "has a large Christian community, which has grown with the influx of Palestinian and Iraqi refugees. Their presence in society is significant and appreciated, also because of their educational and charity work focused on human beings independent of their beliefs or their ethnic or religious background".
<br>

<br>
The Holy Father then went on to speak of his visit to Israel where, "from my arrival, I presented myself as a pilgrim of faith in the Land where Jesus was born, lived, died and rose again, and, at the same time, as a pilgrim of peace, imploring God that there, where He became man, all people may live as His children, that is, as brothers and sisters".
<br>
<br>
"In that Land blessed by God at times its seems impossible to escape the spiral of violence. But nothing is impossible for God and for those who trust in Him! For this reason, faith in the one God, just and merciful, which is the most precious resource those people have, must have the power to release all its potential of respect, reconciliation and collaboration". The Pope went on to explain how he had expressed this hope to the Grand Mufti and the heads of the Muslim community of Jerusalem, to the Chief Rabbinate of Israel and to organisations dedicated to inter-religious dialogue.
<br>
<br>
Pope Benedict went on: "Jerusalem is the crossroads of the three great monotheistic religions, and its very name - 'city of peace' - is an expression of God's plan for humankind: to make it one large family. ... This is what Jews, Christians and Muslims are called to bear witness to, so as to honour with their acts the God to Whom they pray with their mouths. This is what I had in my heart, in prayer, as I visited Jerusalem's ... Wailing Wall and Dome of the Rock, symbolic places of Judaism and Islam respectively".
<br>
<br>
The Pope also recalled his visit to the Yad Vashem Memorial, dedicated to the victims of the Holocaust. "Each human being is sacred" he said, "and his name is written in the heart of the eternal God. The great tragedy of the Shoah must never be forgotten”!
<br>
<br>
The primary goal of the apostolic trip "was to visit the Catholic communities in the Holy Land, and this happened on various occasions in Jerusalem, Bethlehem and Nazareth", said Benedict XVI, recalling how in the Cenacle he had met the Custos of the Holy Land "to meditate together upon our vocation of being one, of forming one body and one spirit, and transforming the world with the mild power of love".
<br>
<br>
"Bethlehem, the place where the heavenly song of peace sounded out for all mankind", the Holy Father added, "is a symbol of the distance that still separates us from achieving that promise: insecurity, isolation, uncertainty, poverty. All this has caused many Christians to move away, but the Church continues her journey, supported by the faith and bearing witness to love with tangible works of service to our brothers and sisters…”.
<br>
<br>
He concluded: "I am happy to be able to recapitulate the entire itinerary I was able to make in the sign of Christ's resurrection. Despite the vicissitudes that over the centuries have affected the Holy Places, despite the wars, the destruction and, alas, the conflicts among Christians, the Church has continued her mission, moved by the Spirit of the Risen Lord, She is on a journey to full unity, that the world may believe in the love of God and experience the joy of His peace".
                         </h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<!-- <div class="col-md-4">
						<img src="assets/spot_01.jpg"/>
				</div> -->
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			  
			   
			   <div class="contanbox">
			   
               <div class="col-md-8">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>18</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Reflections – Papal Visit to the Holy Land</h4>
                           <h6>
                              Welcoming ceremony in Amman – May 8
Visit to the Basilica of the Memorial of Moses on Mt. Nebo
Visit to the Yad Vashem Memorial in Jerusalem
Prayer at the Western Wall
Holy Mass on the Manger’s Square in Bethlehem
Holy Mass on the Mount of Precipice, Nazareth
Visit to the Holy Sepulchre
Departure from Ben Gurion International Airport in Tel Aviv – May 15 
                         </h6> 
						 
						 <h6>
						 "I came as a pilgrim of peace. Pilgrimage is an essential element in many religions: in Islam, in Judaism, in Christianity. It is also the image of our own lives, which are a march forwards towards God and thus towards the communion of humankind."
 "I came as a pilgrim and I hope that many will follow this example, thus encouraging the unity of the people of this Holy Land and becoming in their turn messengers of peace. Thank you!"

- Pope Benedict XVI
</h6>						 
						
							<h6 class="pull-right">- Pope Benedict XVI</h6>
						
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<div class="col-md-4 text-center">
						<img src="assets/spot_27.jpg"/>
						<div class="space-8"></div>
						<p>Church of the Holy Sepulchre</p>
				</div>
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			   
			   
			   <!-------------- sanction -------------------->
			   
			   <div class="contanbox">
			   
               <div class="col-md-8">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>14</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Papal Visit to The Holy Land</h4>
                           <h6>
                             n his farewell remarks before returning to Rome Pope Benedict concluded his pilgrimage by appealing to the citizens of the Holy Land, “No more bloodshed, no more fighting, no more terrorism, no more war! Instead let us break the vicious circle of violence”. Reflecting on his visit the Pontiff added that he was most touched by the wall in the Palestinian territories. “One of the saddest sights for me during my visit to these lands was the wall. As I passed alongside it, I prayed for a future in which the peoples of the Holy Land can live together in peace and harmony…..”

The Basilica of Annunciation church was built over the location where the archangel Gabriel presented himself to Jesus’ mother, Mary. He explained to her that she was chosen to give birth to God’s son. This church was built by Constantine’s mother, Saint Helena. The current church is a two-story building constructed in 1969 over the site of an earlier Byzantine and subsequent Crusader-era church. Inside, the lower level contains the Grotto of the Annunciation.
                         </h6>  
						 
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<div class="col-md-4 text-center">
						<img src="assets/spot_28.jpg"/>
						<div class="space-8"></div>
						<p>Basilica of the Annunciation</p>
				</div>
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			   
			   <!-------------- sanction -------------------->
			   
			   <div class="contanbox">
			   
               <div class="col-md-8">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>14</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Papal Visit to The Holy Land</h4>
                           <h6>
                              Pope Benedict during his last day in the Palestinian territories made a plea, “...for openness and generosity of spirit, for an end to intolerance and exclusion. He further stated that “although walls can be easily built, we all know that they do not last forever. They can be taken down. First, though, it is necessary to remove the walls that we build around our hearts, the barriers that we set up against our neighbors.”

The Holy Father traveled from Jerusalem and arrived earlier today in Nazareth where he celebrated mass at the Mount of the Precipice (referenced in Luke 4:24-30).
                         </h6>  
						 
							<h6><b>Luke 4: 24-30</b></h6>
							<h6>And he said, Verily I say unto you, No prophet is accepted in his own country. But I tell you of a truth, many widows were in Israel in the days of Elias, when the heaven was shut up three years and six months, when great famine was throughout all the land; But unto none of them was Elias sent, save unto Sarepta, a city of Sidon, unto a woman that was a widow. And many lepers were in Israel in the time of Eliseus the prophet; and none of them was cleansed, saving Naaman the Syrian. And all they in the synagogue, when they heard these things, were filled with wrath,  And rose up, and thrust him out of the city, and led him unto the brow of the hill whereon their city was built, that they might cast him down headlong. But he passing through the midst of them went his way.</h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<div class="col-md-4 text-center">
						<img src="assets/spot_29.jpg"/>
						<div class="space-8"></div>
						<p>Mount Precipice</p>
				</div>
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			   <!-------------- sanction -------------------->
			   
			   <div class="contanbox">
			   
               <div class="col-md-8">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>13</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Day 3 of the “Pilgrimage of Peace”</h4>
                           <h6>
                              Historic, controversial, remarkable were the words used by most in attendance to describe Pope Benedict’s third day in the Holy Land. Continuing his theme, a “Pilgrimage of Peace” the Pope visited some of the holiest locations in Christendom, Islam and Judaism. Recalling the words of John Paul II to the effect that "there can be 'no peace without justice, no justice without forgiveness'", Benedict XVI exclaimed: "I plead with all the parties to this long-standing conflict to put aside whatever grievances and divisions still stand in the way of reconciliation, and to reach out with generosity and compassion to all alike, without discrimination”.

The Pope celebrated mass in Manger Square, next to the Church of the Nativity where it is believed that Christ was born. The Pope also visited the Dome of the Rock where Muslims believe the Prophet Muhammed ascended to heaven. Later at the Western Wall, one of Judaism’s holiest shrines, the Pope placed a note in the Wall with the blessing for, “the God of Abraham, Isaac and Jacob, hear the cry of the afflicted, the fearful, the bereft, send your peace upon this Holy Land, upon the Middle East, upon the entire human family”.


                         </h6>  
						 
						
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<div class="col-md-4 text-center">
						<img src="assets/spot_30.jpg"/>
						<div class="space-8"></div>
						<p><b>Manger Square, Bethlehem</b></p>
<p>Church of the Nativity and Mosque of Oma</p>
				</div>
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			   
			   <!-------------- sanction -------------------->
			   
			   <div class="contanbox">
			   
               <div class="col-md-8">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>12</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Pope Benedict Visits the Chapel of the Cenacle</h4>
                           <h6>
                              Remarks and prayers made by Pope Benedict to the Custos of the Holy Land 
                         </h6>  
						 
							<h6>"In the Upper Room the mystery of grace and salvation, of which we are recipients and also heralds and ministers, can be expressed only in terms of love. Because He has loved us first and continues to do so, we can respond with love".

"The call to communion of mind and heart ... is of special relevance in the Holy Land. The different Christian Churches found here represent a rich and varied spiritual patrimony and are a sign of the multiple forms of interaction between the Gospel and different cultures. They also remind us that the mission of the Church is to preach the universal love of God and to gather, from far and near, all who are called by Him, in such a way that, with their traditions and their talents, they form the one family of God".
</h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<div class="col-md-4 text-center">
						<img src="assets/spot_31.jpg"/>
						<div class="space-8"></div>
						<p><b>Chapel of the Cenacle</b></p>
<p>Place in which Christ celebrated the Last Supper, in which Christ appeared several times to his apostles after the Resurrection, the Holy Spirit came down in Pentecost and the place of gathering of the first Christian community.</p>
				</div>
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			   <!-------------- sanction -------------------->
			   
			   <div class="contanbox">
			   
               <div class="col-md-8">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>11</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Pope Benedict XVI arrives in Jeruselem</h4>
                           <h6>
                              Welcome Address at Ben Gurion Airport

"During my stay in Jerusalem, I will have the pleasure of meeting many of this country's distinguished religious leaders. One thing that the three great monotheistic religions have in common is a special veneration for that holy city. It is my earnest hope that all pilgrims to the holy places will be able to access them freely and without restraint, to take part in religious ceremonies and to promote the worthy upkeep of places of worship on sacred sites".
                         </h6>  
						 
							<h6>The Holy Father continued: "Even though the name Jerusalem means 'city of peace', it is all too evident that, for decades, peace has tragically eluded the inhabitants of this holy land. The eyes of the world are upon the peoples of this region as they struggle to achieve a just and lasting solution to conflicts that have caused so much suffering. The hopes of countless men, women and children for a more secure and stable future depend on the outcome of negotiations for peace between Israelis and Palestinians.

"In union with people of good will everywhere, I plead with all those responsible to explore every possible avenue in the search for a just resolution of the outstanding difficulties, so that both peoples may live in peace in a homeland of their own, within secure and internationally recognised borders. In this regard, I hope and pray that a climate of greater trust can soon be created that will enable the parties to make real progress along the road to peace and stability".</h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<div class="col-md-4 text-center">
						<img src="assets/spot_32.jpg"/>
						<div class="space-8"></div>
						<p>View of Jeruselem from Mount Scopus</p>
				</div>
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			   
			  <!-------------- sanction -------------------->
			   
			   <div class="contanbox">
			   
               <div class="col-md-8">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>08</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Pope Benedict XVI arrives in Jordan
</h4>
                           <h6>
                              Pope Benedict XVI arrived in Jordan earlier today on his first visit as pontiff to an Arab state, kicking off an eight-day Holy Land pilgrimage. The pope received a red carpet welcome from King Abdullah II and Queen Rania at Queen Alia Airport's royal pavilion.
			</h6>  
						 
							<h6><a ui-sref="core.archive-reflections({navigateTo: '#mailing-page'})" ui-sref-opts="{reload: true}">View archives of the 2009 Papal Visit to The Holy Land</a> </h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				<div class="col-md-4 text-center">
						<img src="assets/spot_33.jpg"/>
						<div class="space-8"></div>
						<p>symbolic landmark on the top of Mount Nebo: the snake which Moses put up in the desert (Num 21,4-9) makes us think of the cross upon which Jesus itself was lifted (Gv 3,14)</p>
				</div>
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction --------------------> 
			   
			    <div class="contanbox">
			   
               <div class="col-md-12">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>07</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">PAPAL GREETINGS TO CATHOLIC DOCTORS, PEOPLE OF HOLY LAND</h4>
                           <h6>
                              VATICAN CITY, 6 MAY 2009 (VIS) - At the end of today's general audience, the Pope addressed a special greeting to Catholic doctors present among the public. "May your work", he said, "which serves human beings from conception until natural death, always be an eloquent testimony of human and Christian solidarity".

Then, recalling how on Friday he will begin his apostolic trip to the Holy Land, he read out a special English-language message to the people of Jordan, Israel and the Palestinian Territories:

"I wish this morning to take the opportunity through this radio and television broadcast to greet all the peoples of those lands. I am eagerly looking forward to being with you and to sharing with you your aspirations and hopes as well as your pains and struggles. I will be coming among you as a pilgrim of peace. My primary intention is to visit the places made holy by the life of Jesus, and, to pray at them for the gift of peace and unity for your families, and all those for whom the Holy Land and the Middle East is home. Among the many religious and civic gatherings which will take place over the course of the week, will be meetings with representatives from the Muslim and Jewish communities with whom great strides have been made in dialogue and cultural exchange. In a special way I warmly greet the Catholics of the region and ask you to join me in praying that the visit will bear much fruit for the spiritual and civic life of all who dwell in the Holy Land. May we all praise God for His goodness. May we all be people of hope. May we all be steadfast in our desire and efforts for peace".</h6>  
						 
							<h6>AC/CATHOLIC DOCTORS HOLY LAND VIS 090506 (310)</h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  <!-------------- sanction -------------------->
			   <div class="contanbox">
			   
               <div class="col-md-12">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>06</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">Prayer for Holy Land Visit</h4>
                           <h6>
                              During service this past Fourth Sunday of Easter Benedict XVI invited everyone to pray for his forthcoming trip to the Holy Land, due to take place from 8 to 15 May. "With this visit", he said, "I aim to confirm and encourage the Christians of the Holy Land, who every day find themselves facing no small number of difficulties. As Successor to the Apostle Peter, I will make them aware of the closeness and support of the entire body of the Church. In the same way, I will be a pilgrim of peace in the name of the One God, Who is Father to everyone. I will bear witness to the commitment of the Catholic Church in support of all those who struggle to practice dialogue and reconciliation in order to achieve a stable and lasting peace, in justice and mutual respect. Finally, my trip cannot fail to have an important ecumenical and inter-religious significance. From this point of view, Jerusalem is a symbol par excellence: there Christ died to bring together all the scattered Children of God".<br>

Following the Marian prayer, the Pope again called for prayers for all the "afflicted peoples" of the Middle East. "In a special way I ask that you remember the Palestinian people who have endured great hardship and suffering. May the Lord bless them and all those who live in the Holy Land with the gifts of unity and peace".
                         </h6>  
						 
							<h6>AC/PEACE/PAPAL FOUNDATION VIS 090504 (440)</h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				
               <div class="clearfix"></div>
				<div class="border-bottom"></div>
	<!-------------- new sanction -------------------->		   
			   </div>  
			  
			  <!-------------- sanction -------------------->
			   <div class="contanbox">
			   
               <div class="col-md-12">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-left borderright datestyle widthleft">
								<strong>04</strong>
								May 2009
                        </div>
                        <div class="media-body">
							<div class="mgt">
								<h4 class="media-heading text-left">BENEDICT XVI: I GO TO THE HOLY LAND AS A PILGRIM OF PEACE</h4>
                           <h6>
                              VATICAN CITY, 2 MAY 2009 (VIS) - At midday today, Benedict XVI received members of the Papal Foundation, a U.S. Catholic agency founded in Philadelphia, U.S.A. in 1990 by the late Cardinal John Krol. Its current president is Cardinal Anthony Bevilacqua, archbishop emeritus of Philadelphia.

Greeting the members of the foundation with St. Paul's words "Grace to you and peace from God our Father and the Lord Jesus Christ", the Pope noted how "today's world is truly in need of His peace, especially as it faces the tragedies of war, division, poverty and despair".

Having then recalled his forthcoming trip to the Holy Land, due to begin on 8 May, the Holy Father continued his English-language remarks: "I go as a pilgrim of peace. As you are well aware, for more than sixty years, this region - the land of our Lord's birth, death and Resurrection; a sacred place for the world's three great monotheistic religions - has been plagued by violence and injustice. This has led to a general atmosphere of mistrust, uncertainty and fear - often pitting neighbour against neighbour, brother against brother.

"As I prepare for this significant journey", he added, "I ask in a special way that you join me in prayer for all the peoples of the Holy Land and the region. May they receive the gifts of reconciliation, hope and peace".

The Pope then remarked how this year's meeting with the Papal Foundation was taking place "during a time when the entire world is struggling with a very worrying economic situation. At moments such as these it is tempting to overlook those without a voice and think only of our own difficulties. As Christians we are aware, however, that especially when times are difficult we must work even harder to ensure that the consoling message of our Lord is heard.

"Rather than turning in on ourselves, we must continue to be beacons of hope, strength and support for others, most especially those who have no one to watch over or assist them".

In this context, the Pope described the members of the Papal Foundation as "examples of good Christian men and women who continue to meet the challenges we face with courage and trust. Indeed the Papal Foundation itself", he concluded, "enables valuable assistance to be carried out in the name of Christ and His Church. For your sacrifice and dedication I am most grateful to you: by means of your support the Easter message of joy, hope, reconciliation and peace is more widely proclaimed".
                         </h6>  
						 
							<h6>AC/PEACE/PAPAL FOUNDATION VIS 090504 (440)</h6>
						 
							</div>
                        </div>
                     </li>
                  </ul>
               </div>
				
               <div class="clearfix"></div>
			  
			   <div class="border-bottom"></div>
			   </div>  
			  

			   
           
            </div>
            <div class="col-md-3">
            <div class="space-18"></div>
           
             
		  		<a ui-view="right-partials"> </a>
		  		  <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
			
			
		    </div>
         </div>
      </div>
      <div class="space-20"> </div>