<p class="lead">User Access</p>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <canvas id="line" class="chart chart-line" chart-data="lineData" chart-labels="lineLabels" chart-legend="true" chart-series="lineSeries" chart-click="lineOnClick"></canvas>
    </div>
</div>
<div class="well well-sm">
    <div class="table-responsive">
        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name & Email</th>
                    <th class="text-center">Action</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name & Email</th>
                    <th class="text-center">Action</th>
                    <th>Time</th>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="accessLog in accessLogs">
                    <td>
                        <p>{{ accessLog.user ? getNameOfUser(accessLog.user) : "" }}</p>
                        <b>{{ accessLog.user ? accessLog.user.auth.email : "" }}</b>
                    </td>
                    <td class="text-center">{{ accessLog.action }}</td>
                    <td>{{ to_date_format(accessLog.at, 'D, jS M Y, g:i:s a') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <div class="well well-sm">
            <p class="lead">Portal Users</p>
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="donutData" chart-labels="donutLabels"></canvas>
        </div> -->
