<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="subscription-header">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" id="subscriptionForm">
    <form role="form" class="row" ng-submit="subscribe(); subscriberForm.$setUntouched();" name="subscriberForm">
        <div class="col-md-12">
            <div class="space-8"></div>
            <div class="inputbg pdlr">
                <div class="row orderbg">
                    <div class="col-md-12 col-sm-12 col-xs-12 clrg-space">
                    <div class="row">
                        <div class="col-md-2 col-sm-5 col-xs-6 " ng-repeat="subscriberType in sections[0].subData[0].subscriberTypes">
                            <h3><div class="radio light-orange"><label><input type="radio" ng-model="subscriber.orders.typeName" value="{{subscriberType.type}}" ng-checked="subscriberType.default" ng-change="changeSubscriberType(subscriberType)" name="optradio">{{subscriberType.name}}</label></div></h3>
                        </div>
                        </div>
                    </div>
                    <div class="space-10"></div>
                    <div class="border-bottom clearfix"></div>
                    <div class="space-8"></div>
                </div>
                <div class="row orderbg pad-alt">
                    <div class="col-md-6 col-sm-12">
                        <label>{{ subscriptionPackage.packageName }}</label>
                        <div class="space-10"> </div>
                    </div>
                    <div class="col-md-2 col-sm-5 pad-quantity">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" ng-model="subscriber.orders.qty" class="form-control" id="Qty">
                        </div>

                        <div class="space-10 visible-xs"></div>
                    </div>
                    <div class="col-md-2 col-sm-3 pad-price">
                        <div>
                            <label>Price per unit</label>
                            <br>
                            <span class="values"><b> {{subscriber.orders.ppu | currency}}</b></span>
                        </div>
                        <div class="space-10 visible-xs"></div>
                    </div>
                    <div class="col-md-2 col-sm-3 pad-price">
                        <div>
                            <label>Total Price</label>
                            <br>
                            <span class="values"><b> {{(subscriber.orders.ppu * subscriber.orders.qty) | currency}}</b></span>
                        </div>
                    </div>
                    <div class="space-10 visible-xs"></div>
                </div>
                <div class="orderbgtwo contentxt row">
                    <div class="col-md-6 col-sm-12 col-xs-12 pdlr"><span>Print edition is available at 50% off list price</span> </div>
                </div>
                <div class="inputform">
                    <label class="titletxt "><span class="meditator">*</span>- Required fields</label>
                    <div class="space-6"></div>
                    <div class="row inputlabel">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': subscriberForm.email.$touched && subscriberForm.email.$invalid}">
                                <label for="text">Email:<span class="meditator">*</span></label>
                                <input type="email" required class="form-control" name="email" ng-model="subscriber.auth.email" validate-this="emailId" validate-as="email" ng-blur="checkExistingSubscriber()">
                                <div class="help-block" ng-messages="subscriberForm.email.$error" ng-show="subscriberForm.email.$touched">
                                    <p ng-message="required">This field is required</p>
                                    <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row inputlabel">
                        <div class="col-md-4" ng-class="{'has-error': subscriberForm.name.$touched && subscriberForm.name.$invalid}">
                            <div class="form-group">
                                <label for="text">Name:<span class="meditator">*</span></label>
                                <input type="text" required name="name" ng-model="subscriber.name" class="form-control" id="First Name">
                                <div class="help-block" ng-messages="subscriberForm.name.$error" ng-show="subscriberForm.name.$touched">
                                    <p ng-message="required">This field is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="text">Title:</label>
                                <input type="text" ng-model="subscriber.title" class="form-control" id="Last Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="text">Institution:</label>
                                <input type="text" ng-model="subscriber.institution" class="form-control" id="Title">
                            </div>
                        </div>
                    </div>
                    <div class="row inputlabel">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': subscriberForm.address.$touched && subscriberForm.address.$invalid}">
                                <label for="text">Address:<span class="meditator">*</span></label>
                                <input type="text" required name="address" ng-model="subscriber.address" class="form-control" id="Organization">
                                <div class="help-block" ng-messages="subscriberForm.address.$error" ng-show="subscriberForm.address.$touched">
                                    <p ng-message="required">This field is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error' : subscriptionForm.addressCity.$touched && subscriptionForm.addressCity.$invalid}">
                                <label>City</label>
                                <input type="text" id="auto-complete-city" autocomplete="off" name="addressCity" ng-model="subscriber.city" class="form-control"></input>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>State/Territory</label>
                                <input type="text" id="auto-complete-state" autocomplete="off" ng-model="subscriber.state" class="form-control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row inputlabel">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="sel1">Zip/Postal Code:</label>
                                <input type="text" class="form-control" ng-model="subscriber.zip">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" id="auto-complete-country" autocomplete="off" ng-model="subscriber.country" class="form-control"></input>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': subscriberForm.phoneNumbers.$touched && subscriberForm.phoneNumbers.$invalid}">
                                <label for="text">Telephone:<span class="meditator">*</span></label>
                                <input type="text" required name="phoneNumbers" class="form-control" ng-model="subscriber.phoneNumbers">
                                <div class="help-block" ng-messages="subscriberForm.phoneNumbers.$error" ng-show="subscriberForm.phoneNumbers.$touched">
                                    <p ng-message="required">This field is required</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row inputlabel">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="text">Fax:</label>
                                <input type="text" class="form-control" ng-model="subscriber.faxNumbers">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txt">How did you hear about this site?</label>
                                <textarea class="form-control" rows="3" ng-model="subscriber.sourceOfInfo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btnfooter">
                        <button type="submit" class="btn btn-color" ng-disabled="subscriberForm.$invalid">SUBMIT</button>
                        <button type="reset" class="btn btn-cancel" ng-click="cancel();subscriberForm.$setUntouched();">RESET</button>
                    </div>
                    <h6>Please remit payment in U.S. dollars. Residents of NJ, GA, PA, & Canada include applicable sales tax on total cost of order. Orders will be charged applicable sales tax unless accompanied by a valid Tax-Exemption Certificate. Shipping and handling will be added to each order at $26.95 domestically and $55.00 internationally for each book ordered. Note: Please allow 1-3 weeks after publication for domestic delivery and up to 4-6 weeks from publication date for shipping outside the U.S. All returns must be requested within 30 days. For further information call Customer Service at 844-592-4197. ISBN 978-0-87217-052-0<h6>
                </div>


            </div>
        </div>
    </form>
    <div class="space-10"> </div>
</div>
