<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Exhibition":"Exhibition")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="exhibitionForm">
        <div class="abc ng-scope">
            <div class="widget-body">
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': exhibitionForm.sequenceNo.$touched && exhibitionForm.sequenceNo.$invalid}">
                        <label>Sequence No.</label>
                        <input type="text" class="form-control" name="sequenceNo" ng-model="exhibition.sequenceNumber" validate-this="sequenceNo" validate-as="digits">
                        <div class="help-block" ng-messages="exhibitionForm.sequenceNo.$error" ng-show="exhibitionForm.sequenceNo.$touched && exhibitionForm.sequenceNo.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': exhibitionForm.exhibition.$touched && exhibitionForm.exhibition.$invalid}">
                        <label>Name<span class="meditator">*</span></label>
                        <input type="text" class="form-control" name="exhibition" ng-model="exhibition.exhibitName" required>
                        <div class="help-block" ng-messages="exhibitionForm.exhibition.$error" ng-show="exhibitionForm.exhibition.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <div class="input-group">
                            <input type="text" readonly name="startDate" class="form-control date-picker" ng-model="exhibition.startDate" uib-datepicker-popup="dd MMMM, yyyy" is-open="popup1.opened" datepicker-options="startDateOptions" close-text="Close">
                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <div class="input-group">
                            <input type="text" readonly name="endDate" class="form-control date-picker" ng-model="exhibition.endDate" uib-datepicker-popup="dd MMMM, yyyy" is-open="popup2.opened" datepicker-options="endDateOptions" close-text="Close">
                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Show Date</label>
                        <input type="text" name="showDate" class="form-control" ng-model="exhibition.showDate">
                    </div>
                    <div class="form-group">
                        <label class="position-relative">
                            <input class="ace" type="checkbox" ng-model="exhibition.travelFlag" ng-true-value="'Y'" ng-false-value="'N'">
                            <span class="lbl"> Travel?</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled="exhibitionForm.$invalid || loading"><i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save</button>
                    <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
