<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{(editFlag ? "Edit Research Field":"Research Field")}}</h4>
    </div>
    <form ng-submit="editFlag ? update() : add()" name="researchForm">
        <div class="abc ng-scope">
            <div class="widget-body">
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': researchForm.researchDescription.$touched && researchForm.researchDescription.$invalid}">
                        <label>Description<span class="meditator">*</span></label>
                        <textarea class="form-control" name="researchDescription" rows="5" ng-model="research.description" required></textarea>
                        <div class="help-block" ng-messages="researchForm.researchDescription.$error" ng-show="researchForm.researchDescription.$touched">
                            <div ng-message="required">Please fill this field</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm sp10 mr" type="submit" ng-disabled=" researchForm.$invalid || loading">
                        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save</button>
                    <a class="btn btn-default btn-sm sp10 mr" type="submit" ng-click="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
