<div class="widget-box abc">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Details</div>
            </div>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Name</label>
                    <div>{{[(commentFeedback.name.first || ''), (commentFeedback.name.last || '')].join(' ')}}</div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Email</label>
                    <div>{{commentFeedback.email}}</div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Phone No.</label>
                    <div>{{commentFeedback.phone}}</div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Comments and Feedback</label>
                    <div>{{commentFeedback.details}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Reason for Contacting</label>
                    <div>{{commentFeedback.reasons}}</div>
                </div>
                <div class="col-md-3 form-group">
                    <label>
                        <strong><i class="fa" ng-class="{'fa-check': commentFeedback.active, 'fa-remove': !commentFeedback.active }"></i> Active</strong>
                    </label>
                </div>
                <div class="col-md-3 form-group">
                    <label>Progress Status</label>
                    <div>{{progressMap[commentFeedback.progress]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
