<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Remove Record(s)</h4>
</div>
<div class="modal-body">
    <h5>Are you sure you want to delete</h5>
    <h4>{{ webCommentFeedbacks.length }} record(s)?</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm sp10 mr" type="button" ng-click="remove()" ng-disabled="loading">
        <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : ''"></i>OK</button>
    <button class="btn btn-default btn-sm sp10 mr" type="button" ng-click="cancel()">Cancel</button>
</div>
