



<!-- end #top -->
<!-- <div class="space-40"></div> -->
<!-- <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" id="{{section.sectionName}}" class="{{section.class}}">

    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div  data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="mailing-page">
                    <div class="row">
                        <div id="animated-example" class="animated fadeInUp">
                            <div class="col-md-12">
                                <div class="space-40"> </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="space-40"> </div>
                                <div class="space-40 visible-xs"> </div>
                                <h1 class="white">{{section.sectionHeader}}</h1>
                            </div>
                            <div class="space-40"> </div>
                        </div>
                    </div>
                </div>
  			</div>
        </div>
    </div>
</section> -->
    <section class="module parallax-in parallax-mailing-list-banner">
        <div id="mailing-page" class="container">
            <div class="row">
			<div id="animated-example" class="animated fadeInUp">
                    <div class="col-md-12">
                        <div class="space-40"> </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="space-40"> </div>
						<div class="space-40 visible-xs"> </div>
                        <h1 class="white">Mailing Lists</h1>
                    </div>
                    <div class="space-40"> </div>
                </div>
            </div>
        </div>
    </section>

       	<div id="mailing-page" class="container">

		 <div class="row">
		 
		 <div class="col-md-9">

			<div class="space-18"></div>
               <h5 class="text-left dark-orange">Order Direct from the Publisher!</h5>
               <div class="space-8"></div>

    
                  <h6 class="text-left black">Your most authoritative and accurate source for identifying and reaching Catholic Church leaders and buyers is a list from The Official Catholic Directory®. This unique database file reaches qualified decision makers at all levels of the Catholic Church in the United States.</h6>
				  
				  
				  <h6 class="text-left black">Our database is an essential resource for marketers, fund raising campaigns, and new product introductions to this targeted audience including:</h6>
                  
                   <div class="space-20"></div>
        
			 
               <div class="col-md-2 text-center bx"> <div class="row"><span class="title title-one"> 14,410</span> <span class="txt one txt-one">Parish Catechesis Programs</span> </div></div>
			   <div class="col-md-2 text-center bx"> <div class="row"><span class="title title-two"> 388</span> <span class="txt one txt-two">Cardinals, Archbishops and Bishops</span> </div></div>
			   <div class="col-md-2 text-center bx"> <div class="row"><span class="title title-three"> 32,163</span> <span class="txt two txt-three">Priests</span> </div></div>
			   <div class="col-md-2 text-center bx"> <div class="row"><span class="title title-four"> 6,674</span> <span class="txt one txt-four">Catholic Schools and Seminaries</span> </div></div>
			   <div class="col-md-2 text-center bx"> <div class="row"><span class="title title-five"> 12,676</span> <span class="txt two txt-five">Pastors</span> </div></div>
				<h6 class="text-left black">
				
				Plus more than 50 additional selects!</h6>
				<div class="space-8"></div>
				<h6 class="text-left black">The list is constantly updated throughout the year reflecting the currency of the information provided by the listees in the Official Catholic Directory® print and electronic product databases to produce a highly responsive audience to maximize your mailing investment.</h6>

				<div class="space-20"></div>
				
				<h4 class="text-left orange border-bottom">For more information on The Official Catholic Directory Mailing Lists contact:</h4>
				
				<h6 class="text-left black"><b>Agnes Orlowska <br/>
				800-473-7020, ext. 1206 <br/>
				908-673-1206<br/>
		
				<a href="mailto:agnes.orlowska@officialcatholicdirectory.com"> agnes.orlowska@officialcatholicdirectory.com</a>
				</b>
				</h6>
				
				
				<div class="space-20"></div>
				<h4 class="text-left orange border-bottom">Request a Data Card</h4>
				
				<h6 class="text-left black">Click here to receive a list summary with selects and pricing
				</h6>
				<div class="space-10"></div>
				<a class="btn btn-sales" href="#request-datacard">Click here Request a Data Card</a>
				
         </div>
		 
		 <div class="col-md-3">
		 <div class="space-18"></div>

		 
		   <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
		 	 
			<div class="space-18"></div>
			
		</div>
			
		 </div>
		 
		 </div>
      </div>
	  
	  
	  <div class="space-40"> </div>



          