<div class="row">
    <!-- Masters Data start-->
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Masters Data </div>
            </div>
        </div>
        <div class="space"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">#</th>
                    <th>Masters</th>
                    <th>Source</th>
                    <th>Migrated</th>
                    <th>Current Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'Master' && sourceCount.recordType == 'Countries'  && sourceCount.directoryId[0]==dirID">
                    <td>1</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Countries</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Countries'">
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Countries'">
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{count.countries}}</b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'Master' && sourceCount.recordType == 'States'  && sourceCount.directoryId[0]==dirID">
                    <td>2</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>States</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'States'">
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'States'">
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{count.states}}</b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'Master' && sourceCount.recordType == 'Cities'  && sourceCount.directoryId[0]==dirID">
                    <td>3</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Cities</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Cities'">
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Cities'">
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{count.cities}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Masters Data End-->
    <!-- Organizational Data Start-->
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Organizational Data</div>
            </div>
        </div>
        <div class="space"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">#</th>
                    <!-- <th>Organisational Entities</th> -->
                    <th>Source</th>
                    <th>Migrated</th>
                    <th>Current Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalData' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Organization'  ">
                    <td>1</td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Organization' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Organization' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{isOCD ? organizationCountOCD['Organization'] : organizationCount.organization}}</b></td>
                </tr>
                <!-- <tr>
                                    <td>2</td>
                                    <td><b class="blue">11067</b></td>
                                    <td><b class="blue">11065</b></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><b class="blue">10290</b></td>
                                    <td><b class="blue">10285</b></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><b class="blue">12032</b></td>
                                    <td><b class="blue">12030</b></td>
                                </tr> -->
            </tbody>
        </table>
        <div ng-if="isOCD">
            <div class="pull-left addnewt add-button">Organizational Data Contains</div>
            <div class="pull-left summaryDetails">
                <div class="row">
                    <div class="col-md-4">
                        Base/Generic Organization, Religious Order Organization, Curia Organization, Parish, Residence, School, High School, Catechesis Religious Program, College, Seminary.
                    </div>
                    <div class="col-md-4">
                        Shrine, Oratory, Mission, Station, Chapel, Church, Hospital, Special Care Facility, Personal Prelature,Convent, Rectory, Missionary Activities, Child Care, Cemetery, Endowment.
                    </div>
                    <div class="col-md-4">
                        Monastery, Propogation of the Faith, Nursing Home/Homes for the Aged, Campus Ministry/Newman Center,Catholic Charity, Retreat House/Renewal Center.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Organizational Data End-->
    <!-- Organizational Entities Data Start-->
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left addnewt add-button">Organizational Entities</div>
            </div>
        </div>
        <div class="space"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="widthfcl">#</th>
                    <th>Organizational Entities</th>
                    <th>Source</th>
                    <th>Migrated</th>
                    <th>Current Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Exhibitions'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Exhibitions</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Exhibitions' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Exhibitions' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{exhibitionCount.exhibitions}}</b></td>
                </tr>
                <!-- <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Activities'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Activities</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Activities' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Activities' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{activityCount.activities}}</b></td>
                </tr> -->
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'US Diocese'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>US Diocese</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'US Diocese' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'US Diocese' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{organizationCountOCD['US Diocese']}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'World Diocese'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>World Diocese</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'World Diocese' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'World Diocese' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{organizationCountOCD['World Diocese']}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Organizations'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Organizations</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Organizations' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Organizations' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{organizationCountOCD['Organizations']}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Religious Order Organization'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Religious Order Organization</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Religious Order Organization' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Religious Order Organization' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{organizationCountOCD['Religious Order Organization']}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Organization Curia'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Curia Organization</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Organization Curia' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Organization Curia' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{organizationCountOCD['Curia Organization']}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Parish'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Parish</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Parish' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Parish' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{organizationCountOCD['Parish']}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'School'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>School</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'School' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'School' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{organizationCountOCD['School']}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Personnel'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Personnel</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Personnel' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Personnel' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{personnelCount.personnels}}</b></td>
                </tr>
                <!-- <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Features'">
                    <td>4</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Features</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Features' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">{{count.features}}</b></td>
                    
                </tr> -->
                <!-- Facilities + Categories + Collection = Features -->
                <!-- Facilities and Categories for Features -->
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Categories'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Categories</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Categories' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Categories' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Facilities'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Facilities</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Facilities' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Facilities' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                    <div>{{sourceCount.targetCount}}</div>
                   <!--  <div ng-if="facilities._id === 'FACILITY'"> {{facilitiesCount.count}}</div> --></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Collections'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Collections</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Collections' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Collections' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                     <div>{{sourceCount.targetCount}}</div>
                   <!--  {{facilityCount.facilities[0].count}} --></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Coded Subjects'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Coded Subjects</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Coded Subjects' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Coded Subjects' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"> <div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Courses Offered'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Courses Offered</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Courses Offered' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Courses Offered' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"> <div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Uncoded Subjects'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Uncoded Subjects</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Uncoded Subjects' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Uncoded Subjects' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"> <div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Library Holdings'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Library Holdings</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Library Holdings' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Library Holdings' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"> <div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Services Offered'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Services Offered</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Services Offered' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Services Offered' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Industry Preferences'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Industry Preferences</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Industry Preferences' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Industry Preferences' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Geographical Preferences'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Geographical Preferences</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Geographical Preferences' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Geographical Preferences' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Financing Preferred'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Financing Preferred</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Financing Preferred' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Financing Preferred' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
                <tr ng-repeat="sourceCount in sourceCount" ng-if="sourceCount.summaryType === 'OrganizationalEntities' &&  sourceCount.directoryId[0] === dirID && sourceCount.recordType == 'Fee Structure'">
                    <td>{{sourceCount.sequenceNo}}</td>
                    <td><span class="label label-warning arrowed arrowed-right"><b>Fee Structure</b></span></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Fee Structure' " >
                                            {{sourceCount.sourceCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue">
                                        <div ng-if="sourceCount.recordType === 'Fee Structure' " >
                                            {{sourceCount.migratedCount}}
                                        </div>
                                       </b></td>
                    <td><b class="blue"><div>{{sourceCount.targetCount}}</div></b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Organizational Entities Data End-->
    <!-- Products & Services start-->
    <!-- <div class="col-md-6">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="pull-left addnewt add-button">Products & Services</div>
                                                </div>
                                            </div>
                                            <div class="space"></div>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="widthfcl">#</th>
                                                        <th>Product & Services</th>
                                                        <th>Source</th>
                                                        <th>Target</th>
                                                        
                                                    </tr>
                                                </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                         <td><span class="label label-warning arrowed arrowed-right"><b>Categories</b></span></td>
                                                        <td><b class="blue">100</b></td>
                                                        <td><b class="blue">99</b></td>
                                                    </tr>
                                                     <tr>
                                                        <td>2</td>
                                                         <td><span class="label label-warning arrowed arrowed-right"><b>Sub-Categories</b></span></td>
                                                        <td><b class="blue">614</b></td>
                                                        <td><b class="blue">600</td>
                                                    </tr>
                                                     <tr>
                                                        <td>3</td>
                                                         <td><span class="label label-warning arrowed arrowed-right"><b>Vendirs</b></span></td>
                                                        <td><b class="blue">1279</b></td>
                                                        <td><b class="blue">1200</b></td>
                                                    </tr>
                                                    
                                                    
                                            </tbody>
                                                </table>
                                        </div> -->
    <!-- Products & Services End-->
</div>
<div class="clearfix"></div>
