body {
    width: 100%;
    height: 100%;
    /* font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    
    font-family: 'Segoe UI';
    color: #5a5a5a;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0px;
    /*  text-transform: uppercase; */
    /*  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    
   /*  font-weight: 700; */
    letter-spacing: 1px;
	font: normal normal 16px/0.8em adobe-caslon-w01-smbd,serif;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #FFF url('../img/loading.gif') no-repeat center center;
}
.meditator {
    color: #ff0000;
}
.space-80 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 80px 0 79px;
}
h3 {
    font-size: 2em;
}
.textuppercase {
    text-transform: uppercase;
}
.space-40 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 40px 0 39px;
}
.space-38 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 38px 0 37px;
}
.space-36 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 36px 0 35px;
}
.space-34 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 34px 0 33px;
}
.space-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 32px 0 31px;
}
.space-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 30px 0 29px;
}
.space-30-1 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 30px 0 0px 0;
}
.space-30-2 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 0px 0 130px 0;
}
.space-28 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 28px 0 27px;
}
.space-26 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 26px 0 25px;
}
.space-22 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 22px 0 21px;
}
.space-20 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 20px 0 19px;
}
.space-18 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 18px 0 17px;
}
.space-14 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 14px 0 13px;
}
.space-10 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 10px 0 9px;
}
.space-8 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 8px 0 7px;
}
.space-4 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 4px 0 3px;
}
.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}
.white {
    color: #fff !important;
}
.black {
    color: #333333 !important;
    font-size: 23px;
}
.dark-grey {
    color: #656565 !important;
}
.light-grey {
    color: #999 !important;
}
.blue {
    color: #003399 !important;
    font-size: 24px;
}
.dark-blue {
    color: #0d2f5c !important;
}
.dark-orange {
    color: #d7620c !important;
}
.orange {
    color: #e08746 !important;
}
a {} a:hover,
a:focus {
    text-decoration: none;
}
.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    background-color: #000;
/* 	font-family: 'Segoe UI';
    font-weight: bold; */
}
.navbar-custom .navbar-toggle {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: none;
}
.navbar-custom a {
    color: #d4d4d4;
}
.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: rgba(208, 207, 207, 0.96);
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: none;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
    color: white;
}
.dropdown-menu>li>a {
    color: #eaeaea!important
}
.dropdown li a:hover {
    color: #000!important
}
.clear {
    clear: both;
}
/*.mgtop{
	    margin-top: 25px;
}*/

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background:transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
		font: normal normal  20px/1.0em adobe-caslon-w01-smbd,serif;
    }
    .navbar-custom.top-nav-collapse {
        padding: 10px;
        background: rgba(0,0,0,0.8);
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-custom {
        background:#000;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    }
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/intro-bg.jpg) no-repeat top center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-box-shadow: inset 0px 200px 203px -131px #000;
    -moz-box-shadow: inset 0px 200px 203px -131px #000;
    box-shadow: inset 0px 200px 203px -131px #000;
}
.intro .intro-body {
   /*  display: table-cell;
    vertical-align: middle; */
	margin-top: 11em;
}
.intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 0px 2px 5px #000000;
	margin-top:181px;
}
.intro .intro-body .intro-text {
    font-size: 20px;
    text-shadow: 0px 2px 5px #000000;
	font: normal normal 36px/1.4em adobe-caslon-w01-smbd,serif;
	margin:0px;
}
#about h2 {
    font-size: 3em;
    padding: 0px;
    margin: 0px;
    font-family: Segoe UI;
    font-weight: bold;
}
#about p {
    font-size: 16px;
    padding: 10px 0px;
    line-height: 20px;
}
#about .title {
    font-size: 14px;
    color: #9c9c9c;
    font-weight: bold;
}
#about .subtitle {
    font-size: 18px;
    padding: 10px 0px 0px;
    font-weight: bold;
}
#about .ocd a {
    color: rgb(107, 43, 40);
    font-size: 1.2em;
    line-height: 28px;
}
#about .dmmp a {
    color: rgb(35, 31, 32);
    font-size: 1.2em;
    line-height: 28px;
}
#about .ocd a {
    color: rgb(122, 54, 47);
    font-size: 1.2em;
    line-height: 28px;
}
#about .omd a {
    color: rgb(0, 80, 132);
    font-size: 1.2em;
    line-height: 28px;
}
#about .aad a {
    color: rgb(80, 65, 96);
    font-size: 1.2em;
    line-height: 28px;
}
#about .cfs a {
    color: rgb(3, 81, 67);
    font-size: 1.2em;
    line-height: 28px;
}
.about-box {
    border: solid 5px #ddd;
    min-height: 300px;
    padding: 20px;
    margin: 15px 0px;
}
.pd-auto {
    padding: 0px
}
.mtb15 {
    margin: 15px 0;
}
.visit-btn {
    padding: 0px !Important;
}
.visit-btn a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    /* text-decoration: underline; */
	    position: absolute;
    bottom: 10px;
}
#mailinglist {
    background: url(../img/mailinglist.jpg);
    margin: 100px 0;
    padding-bottom: 18em;
    color: #fff;
    background-size: cover;
}
#mailinglist h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
#mailinglist h4 {
    font-size: 36px;
    text-transform: none;
    font-weight: normal;
}
#contact {
    /* background:#d1d1d1; */
    
    margin: 100px 0;
    padding-bottom: 100px;
}
#contact h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: none;
}
.textsaction {
    font-size: 14px;
    padding: 10px 0px;
}
@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 96px;
		
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}
.btn-circle {
    /* width: 70px;
    height: 70px; */
    margin-top: 15px;
    padding: 7px 16px;
   /*  border: 2px solid white; */
    /* border-radius: 100% !important; */
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: white;
   background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.content-section {
    padding-top: 100px;
} 
/* @media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
} */

.btn {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}
.btn-default {
    border: 1px solid #42DCA3;
    color: #42DCA3;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42DCA3;
    outline: none;
    color: black;
    background-color: #42DCA3;
}
ul.banner-social-buttons {
    margin-top: 0;
}

/* ::-moz-selection {
    text-shadow: none;
    background: #075fcd;
    background: rgba(255, 255, 255, 0.2);
}
::selection {
    text-shadow: none;
    background: #075fcd;
    background: rgba(255, 255, 255, 0.2);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
} */
/*-------------- tushar css----------------- */

@media (min-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
        margin-top: -12px;
    }
}
.sactionone {
    text-align: left;
}
.iconfa {
    font-size: 28px;
    color: #e08746 !important;
}
.textstyle {
    font-size: 18px;
}
.orangebg {
    background-color: #e08746;
    padding: 15px;
}
.border-bottom {
    border-bottom: 1px solid #c5c5c5;
}
.linehight {
    line-height: 27px;
}
.btn-color-search {
    color: #ffffff;
    background-color: #d7620c;
    text-transform: uppercase;
    font-family: 'Segoe UI';
    font-size: 16px;
    margin-bottom: 5px;
}
.form-control {
    border-radius: 0px;
    border: 1px solid #ddd;
    height: 37px;
}
/* footer class starts */

#footer {
    background-color: #00223e;
    /* background-image:url("../images/footer-bg.jpg"); */
}
/* Footer custom */

#footer.footer-custom h4 {
    font-size: 1em;
    color: #fff;
    margin: 1.7em 0 1em 0;
}
#footer.footer-custom .links {
    color: #fff;
    /* font-weight: 700; */
    
    font-size: 0.8em;
}
#footer.footer-custom .links > li > .service-txt {
    font-size: 1.4em;
}
#footer.footer-custom a {
    color: #fff;
    /* font-weight: 700; */
    
    font-size: 1em;
}
#footer.footer-custom ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.terms {
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font: 400 0.9em/1.6 'Segoe UI', Verdana, sans-serif;
}
.borderbox {
    border: 1px solid #ddd;
    padding: 14px;
}
@media (min-width: 1000px) {
    .mr {
        margin-right: -15px!important;
    }
}
@media (min-width: 1000px) {
    .ml {
        margin-left: -15px!important;
    }
}
#boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}
/* Make the image fit the box */

#boxshadow img {
    /* width: 100%; */
    /* border: 1px solid #8a4419; */
    
    border-style: inset;
    margin-left: 15px;
}
#boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* hide shadow behind image */
    
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%;
    /* one half of the remaining 30% */
    
    height: 100px;
    bottom: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.directory {
    min-height: 250px;
	position: relative;
}
.pdimag {
    padding: 2em;
}


/* responsive  */
@media (max-width: 955px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;

  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
      margin-bottom: 0px;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{ margin-left: 0;}
  .navbar-collapse.in{overflow-y: auto !important;}
  .navbar-right{margin-right: 0;}
}
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media(max-width:1024px) {
.intro .intro-body .brand-heading{margin-top:50px;}
.directory {
    min-height: 300px;
    position: relative;
	
}
 .logoimg {
            margin-top: 11px;
			width: 8em;
    }
	
}

@media(max-width:768px) {
.intro .intro-body .brand-heading{margin-top:50px;}
	ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
    .logoimg {
            margin-top: 2px;
			width: 8em;
    }
	.directory {
		min-height: 200px;
	}

    .navbar-right .dropdown-menu {
    /* right: 0; */
    left: auto;
    width: 100%;
    background: transparent;
    font-weight: bold;
}

.navbar-nav{
    height: 200px;
    overflow:auto;

}
}

@media (max-width: 640px) {
    #mailinglist h4 {
        font-size: 20px;
        text-transform: none;
        font-weight: normal;
	line-height:22px;
    }
    #mailinglist h2 {
        font-size: 28px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
    }
    h3 {
        font-size: 1.2em;
    }
	.directory {
		min-height: 250px;
	}
	
	
.intro .intro-body .brand-heading{margin-top:-58px;}
 #contact h2{line-height:42px;font-size: 36px;}	
 #about h2{line-height:46px;}
 .cont-btm{padding-top:90px;}
 .lineht{line-height:20px;}
}
.bgstyle {
    background-color: #ddd;
}
@media (max-width: 360px) {
    .br {
        display: block;
    }
}
input.nrpText {
    border: solid 1px red;
}

textarea.nrpTextarea {
    border: solid 1px red;
}
div#back_to_top {
 position: fixed;
 bottom: 30px;
 right: 30px;
 width: 46px;
 height: 46px;
 z-index: 99;
}
div#back_to_top a {
 display: block;
 line-height: 50px;
 color: #FFF;
 background-color: #666;
 text-decoration: none;
 text-align: center;/*border-radius: 20px;*/
 outline: medium none;
}
div#back_to_top a:hover {
	background-color: #333;
}

/*sugat*/
.pad-sec{padding:10px;}
.cont-btm{margin-bottom:0px!important;padding-bottom:20px!important;}
.txtcenter{position:relative;top:78px;}
.intro .intro-body {margin-top:6em;}
.pd-10{padding-left:10px;padding-right:10px;}
