<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div data-ng-switch on="section.sectionName">
            <div data-ng-switch-when="SectionHeader">
                <div class="row">
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="col-md-12">
                            <div class="space-40"> </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"> </div>
                            <div class="space-40 visible-xs"> </div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container backgroud-white">
    <div class="row">
        <div class="col-md-9">
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="{{section.class}}">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="Section1">
                        <div class="space-18"></div>
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <h6 class="text-left black" ng-bind-html="section.sectionDescription2 | html"></h6>
                        <div class="space-5"></div>
                    </div>
                    <div data-ng-switch-when="Section2 ">
                        <div class="space-18"></div>
                        <h5 class="text-left dark-orange">{{section.sectionHeader}}</h5>
                        <div class="space-8"></div>
                        <div ng-repeat="x in section.table | orderBy:'sequenceNo'">
                            <button ng-click="showHide(x)" class="accordion" ng-class="{active:x.toggle}">{{x.heading}}</button>
                            <div class="panel" ng-class="{show:x.toggle}">
                                <div ng-if="x.subHeading1 != ''">
                                    <div class="italic-info"><i class="fa fa-arrow-right arrow-space" aria-hidden="true"></i>{{x.subHeading1}}</div>
                                </div>
                                <div class="space-7"></div>
                                <div ng-bind-html="x.description1 | html"></div>
                                <div ng-if="x.subHeading2 != ''">
                                    <div class="italic-info"><i class="fa fa-arrow-right arrow-space" aria-hidden="true"></i> {{x.subHeading2}}
                                    </div>
                                    <div class="italic-info">{{x.subHeading2extra}}</div>
                                </div>
                                <div class="space-7"></div>
                                <div ng-bind-html="x.description2 | html"></div>
                                <div class="space-10"></div>
                            </div>
                        </div>
                    </div>
            </section>
            </div>
            <div class="col-md-3">
                <div class="space-18"></div>
                <div>
                    <div>
                        <a ui-view="right-partials"> </a>
                        <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-40"> </div>
    <div class="space-40"> </div>
    <div class="space-40"> </div>
    <div class="space-40"> </div>
