<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Employees</label>
                        <input type="text" class="form-control" ng-model="organization.employees">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openKeyPersonnelPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th>Contact Details</th>
                            <th>Active</th>
                            <th>Chairman</th>
                            <th>DMMP Contact</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel">
                            <td class="widthfcl text-center">{{ keyPersonnel.sequenceNumber }}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td>
                                <strong>Phone No.</strong>: {{ keyPersonnel.phoneNumbers }}
                                <br>
                                <strong>Fax</strong>: {{ keyPersonnel.faxNumbers }}
                                <br>
                                <strong>Primary Email</strong>: {{ keyPersonnel.email.primary }}
                                <br>
                                <strong>Secondary Email</strong>: {{ keyPersonnel.email.secondary }}
                                <br>
                                <strong>Websites</strong>: {{ keyPersonnel.website }}
                                <br>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openDMMPKeyPersonnelPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Key Personnel</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl text-center">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th class="widthth text-center">General Details</th>
                            <th class="widthth text-center">Responsibility Details</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="keyPersonnel.deleted!= true">
                            <td class="widthfcl text-center">{{ keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openDMMPKeyPersonnelGeneralDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openDMMPKeyPersonnelResponsibilityDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openDMMPKeyPersonnelPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Key Personnel')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
