<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- #section:elements.form -->
                    <div class="container-fluid">
                        <div class="row ng-scope ">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <!-- <div class="">
                                    <label class="h5 boldfont">Other Info</label>
                                    <p>{{organization.galleryDescription}}</p>
                                </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Account Preference</label>
                                    <p>{{organization.accountPreference}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Assets</label>
                                    <p>{{organization.assets}}</p>
                                </div>
                                <!-- <div class="">
                                    <label class="h5 boldfont">Direct Marketing Budget</label>
                                    <p>{{organization.directMarketingBudget}}</p>
                                </div> -->
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Advance Bill Type</label>
                                    <p>{{organization.advanceBillType.codeValue}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Annual Mailed</label>
                                    <p>{{organization.annualMailed}}</p>
                                </div>
                                <!-- <div class="">
                                    <label class="h5 boldfont">Annual Revenues:US</label>
                                    <p>{{organization.annualRevenues.us}}</p>
                                </div> -->
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Gross Sales or Billing</label>
                                    <p>{{organization.annualRevenues.wordwide | currency }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /section:elements.form -->
                </form>
            </div>
        </div>
    </div>
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-12 addnewt contacttop ">
                    <span>Mailing List</span>
                </div>
                <div class="space"></div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Prefix</label>
                    <p>{{organization.mailingList.prefix}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">First Name </label>
                    <p>{{organization.mailingList.first}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Middle Name</label>
                    <p>{{organization.mailingList.middle}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Last Name</label>
                    <p>{{organization.mailingList.last}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Suffix</label>
                    <p>{{organization.mailingList.suffix}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Mailing Contact</label>
                    <p>{{organization.mailingList.MailingContact}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Extension</label>
                    <p>{{organization.mailingList.extension}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Post Box</label>
                    <p>{{organization.mailingList.postBox}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Street 1</label>
                    <p>{{organization.mailingList.street1}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">City</label>
                    <p>{{organization.mailingList.cityName}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">State</label>
                    <p>{{organization.mailingList.stateName}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Zip</label>
                    <p>{{organization.mailingList.zip}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Email</label>
                    <p>{{organization.mailingList.email}}</p>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="position-relative boldfont">
                        <i class="fa fa-check " ng-class="organization.mailingList.mailListAvailableIndex ? 'fa-check' : 'fa-remove'"></i> Mail List Available
                    </label>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="position-relative boldfont">
                        <i class="fa fa-check " ng-class="organization.mailingList.emailListAvailableIndex ? 'fa-check' : 'fa-remove'"></i> Email List Available
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <!-- <a class="pull-right addnew" href="#" id="id-btn-dialog1"><ins>Add New Record</ins></a> -->
                <!-- Button trigger modal -->
                <!-- Modal -->
            </div>
            <div class="pull-left addnewt add-button">Notes</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Notes</th>
                            <th>Note Type</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="notes in organization.notes" ng-if="notes.note!=null && !notes.deleted">
                        <td class="text-center">{{notes.sequenceNo}}</td>
                        <td>{{notes.note}}</td>
                        <td>{{notes.noteType}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Vendors</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Vendor Type</th>
                            <th>Name</th>
                            <th>Post Box</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="vendors in organization.vendors" ng-if="!vendors.deleted">
                        <td class="text-center">{{vendors.sequenceNumber}}</td>
                        <td>{{vendors.vendorType.codeValue}}</td>
                        <td>{{vendors.name}}</td>
                        <td>{{vendors.postBox}}</td>
                        <td>{{vendors.street}}</td>
                        <td>{{vendors.cityName}}</td>
                        <td>{{vendors.stateName}}</td>
                        <td>{{vendors.zip}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
