<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone"></label>
                </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo"></label>
                </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <div class="widget-main">
            <form class="form-horizontal" role="form">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}</br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- #section:elements.form -->
                    <div class="container-fluid">
                        <div class="row ng-scope ">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <!--  <div class="">
                                   <label class="h5 boldfont">Other Info</label>
                                   <div ng-if="organization.galleryDescription == originalOrg.galleryDescription">
                                       <p>{{organization.galleryDescription}}</p>
                                   </div>
                                   <div ng-if="organization.galleryDescription != originalOrg.galleryDescription">
                                       <span class="nextcolor">{{originalOrg.galleryDescription}}&nbsp;</span>
                                       <div class="boxcolor">{{organization.galleryDescription}}</div>
                                   </div>
                               </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Account Preference</label>
                                    <div ng-if="organization.accountPreference == originalOrg.accountPreference">
                                        <p>{{organization.accountPreference}}</p>
                                    </div>
                                    <div ng-if="organization.accountPreference != originalOrg.accountPreference">
                                        <span class="nextcolor">{{originalOrg.accountPreference}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.accountPreference}}&nbsp;</div>
                                    </div>
                                </div>
                                <!-- <div class="">
                                    <label class="h5 boldfont">Direct Marketing Budget</label>
                                    <div ng-if="organization.directMarketingBudget == originalOrg.directMarketingBudget">
                                        <p>{{organization.directMarketingBudget}}</p>
                                    </div>
                                    <div ng-if="organization.directMarketingBudget != originalOrg.directMarketingBudget">
                                        <span class="nextcolor">{{originalOrg.directMarketingBudget}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.directMarketingBudget}}</div>
                                    </div>
                                </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Assets</label>
                                    <div ng-if="organization.assets == originalOrg.assets">
                                        <p>{{organization.assets}}</p>
                                    </div>
                                    <div ng-if="organization.assets != originalOrg.assets">
                                        <span class="nextcolor">{{originalOrg.assets}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.assets}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Advance Bill Type</label>
                                    <div ng-if="organization.advanceBillType.codeValue == originalOrg.advanceBillType.codeValue">
                                        <p>{{organization.advanceBillType.codeValue}}</p>
                                    </div>
                                    <div ng-if="organization.advanceBillType.codeValue != originalOrg.advanceBillType.codeValue">
                                        <span class="nextcolor">{{originalOrg.advanceBillType.codeValue}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.advanceBillType.codeValue}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Annual Mailed</label>
                                    <div ng-if="organization.annualMailed == originalOrg.annualMailed">
                                        <p>{{organization.annualMailed}}</p>
                                    </div>
                                    <div ng-if="organization.annualMailed != originalOrg.annualMailed">
                                        <span class="nextcolor">{{originalOrg.annualMailed}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.annualMailed}}&nbsp;</div>
                                    </div>
                                </div>
                                <!-- <div class="">
                                    <label class="h5 boldfont">Annual Revenues:US</label>
                                    <div ng-if="organization.annualRevenues.us == originalOrg.annualRevenues.us">
                                        <p>{{organization.annualRevenues.us}}</p>
                                    </div>
                                    <div ng-if="organization.annualRevenues.us != originalOrg.annualRevenues.us">
                                        <span class="nextcolor">{{originalOrg.annualRevenues.us}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.annualRevenues.us}}&nbsp;</div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Gross Sales or Billing</label>
                                    <div ng-if="organization.annualRevenues.wordwide == originalOrg.annualRevenues.wordwide">
                                        <p>{{organization.annualRevenues.wordwide}}</p>
                                    </div>
                                    <div ng-if="organization.annualRevenues.wordwide != originalOrg.annualRevenues.wordwide">
                                        <span class="nextcolor">{{originalOrg.annualRevenues.wordwide}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.annualRevenues.wordwide}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /section:elements.form -->
                </form>
            </div>
        </div>
    </div>
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-12 addnewt contacttop ">
                    <span>Mailing List</span>
                </div>
                <div class="space"></div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Prefix</label>
                    <div ng-if="organization.mailingList.prefix == originalOrg.mailingList.prefix">
                        <p>{{organization.mailingList.prefix}}</p>
                    </div>
                    <div ng-if="organization.mailingList.prefix != originalOrg.mailingList.prefix">
                        <span class="nextcolor">{{originalOrg.mailingList.prefix}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.prefix}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">First Name </label>
                    <div ng-if="organization.mailingList.first == originalOrg.mailingList.first">
                        <p>{{organization.mailingList.first}}</p>
                    </div>
                    <div ng-if="organization.mailingList.first != originalOrg.mailingList.first">
                        <span class="nextcolor">{{originalOrg.mailingList.first}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.first}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Middle Name</label>
                    <div ng-if="organization.mailingList.middle == originalOrg.mailingList.middle">
                        <p>{{organization.mailingList.middle}}</p>
                    </div>
                    <div ng-if="organization.mailingList.middle != originalOrg.mailingList.middle">
                        <span class="nextcolor">{{originalOrg.mailingList.middle}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.middle}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Last Name</label>
                    <div ng-if="organization.mailingList.last == originalOrg.mailingList.last">
                        <p>{{organization.mailingList.last}}</p>
                    </div>
                    <div ng-if="organization.mailingList.last != originalOrg.mailingList.last">
                        <span class="nextcolor">{{originalOrg.mailingList.last}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.last}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Suffix</label>
                    <div ng-if="organization.mailingList.suffix == originalOrg.mailingList.suffix">
                        <p>{{organization.mailingList.suffix}}</p>
                    </div>
                    <div ng-if="organization.mailingList.suffix != originalOrg.mailingList.suffix">
                        <span class="nextcolor">{{originalOrg.mailingList.suffix}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.suffix}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Mailing Contact</label>
                    <div ng-if="organization.mailingList.MailingContact == originalOrg.mailingList.MailingContact">
                        <p>{{organization.mailingList.MailingContact}}</p>
                    </div>
                    <div ng-if="organization.mailingList.MailingContact != originalOrg.mailingList.MailingContact">
                        <span class="nextcolor">{{originalOrg.mailingList.MailingContact}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.MailingContact}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Extension</label>
                    <div ng-if="organization.mailingList.extension == originalOrg.mailingList.extension">
                        <p>{{organization.mailingList.extension}}</p>
                    </div>
                    <div ng-if="organization.mailingList.extension != originalOrg.mailingList.extension">
                        <span class="nextcolor">{{originalOrg.mailingList.extension}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.extension}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Post Box</label>
                    <div ng-if="organization.mailingList.postBox == originalOrg.mailingList.postBox">
                        <p>{{organization.mailingList.postBox}}</p>
                    </div>
                    <div ng-if="organization.mailingList.postBox != originalOrg.mailingList.postBox">
                        <span class="nextcolor">{{originalOrg.mailingList.postBox}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.postBox}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Street 1</label>
                    <div ng-if="organization.mailingList.street1 == originalOrg.mailingList.street1">
                        <p>{{organization.mailingList.street1}}</p>
                    </div>
                    <div ng-if="organization.mailingList.street1 != originalOrg.mailingList.street1">
                        <span class="nextcolor">{{originalOrg.mailingList.street1}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.street1}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">City</label>
                    <div ng-if="organization.mailingList.cityName == originalOrg.mailingList.cityName">
                        <p>{{organization.mailingList.cityName}}</p>
                    </div>
                    <div ng-if="organization.mailingList.cityName != originalOrg.mailingList.cityName">
                        <span class="nextcolor">{{originalOrg.mailingList.cityName}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.cityName}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">State</label>
                    <div ng-if="organization.mailingList.stateName == originalOrg.mailingList.stateName">
                        <p>{{organization.mailingList.stateName}}</p>
                    </div>
                    <div ng-if="organization.mailingList.stateName != originalOrg.mailingList.stateName">
                        <span class="nextcolor">{{originalOrg.mailingList.stateName}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.stateName}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Zip</label>
                    <div ng-if="organization.mailingList.zip == originalOrg.mailingList.zip">
                        <p>{{organization.mailingList.zip}}</p>
                    </div>
                    <div ng-if="organization.mailingList.zip != originalOrg.mailingList.zip">
                        <span class="nextcolor">{{originalOrg.mailingList.zip}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.zip}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="h5 boldfont">Email</label>
                    <div ng-if="organization.mailingList.email == originalOrg.mailingList.email">
                        <p>{{organization.mailingList.email}}</p>
                    </div>
                    <div ng-if="organization.mailingList.email != originalOrg.mailingList.email">
                        <span class="nextcolor">{{originalOrg.mailingList.email}}&nbsp;</span>
                        <div class="boxcolor">{{organization.mailingList.email}}&nbsp;</div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="position-relative">
                        <div ng-if="organization.mailingList.mailListAvailableIndex == originalOrg.mailingList.mailListAvailableIndex && organization.mailingList.mailListAvailableIndex == originalOrg.mailingList.mailListAvailableIndex">
                            <i class="fa" ng-class="organization.mailingList.mailListAvailableIndex? 'fa-check' : 'fa-remove'"></i> Mail List Available
                        </div>
                        <div ng-if="organization.mailingList.mailListAvailableIndex != originalOrg.mailingList.mailListAvailableIndex || organization.mailingList.mailListAvailableIndex != originalOrg.mailingList.mailListAvailableIndex ">
                            <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.mailingList.mailListAvailableIndex? 'fa-check' : 'fa-remove'"></i> Mail List Available
                                </span>
                            <div class="boxcolor">
                                <i class="fa" ng-class="organization.mailingList.mailListAvailableIndex? 'fa-check' : 'fa-remove'"></i> Mail List Available
                            </div>
                        </div>
                    </label>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="position-relative">
                        <div ng-if="organization.mailingList.emailListAvailableIndex == originalOrg.mailingList.emailListAvailableIndex && organization.mailingList.emailListAvailableIndex == originalOrg.mailingList.emailListAvailableIndex">
                            <i class="fa" ng-class="organization.mailingList.emailListAvailableIndex? 'fa-check' : 'fa-remove'"></i> Email List Available
                        </div>
                        <div ng-if="organization.mailingList.emailListAvailableIndex != originalOrg.mailingList.emailListAvailableIndex || organization.mailingList.emailListAvailableIndex != originalOrg.mailingList.emailListAvailableIndex ">
                            <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.mailingList.emailListAvailableIndex? 'fa-check' : 'fa-remove'"></i> Email List Available
                                </span>
                            <div class="boxcolor">
                                <i class="fa" ng-class="organization.mailingList.emailListAvailableIndex? 'fa-check' : 'fa-remove'"></i> Email List Available
                            </div>
                        </div>
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Notes</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Notes</th>
                            <th>Note Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="notes in organization.notes" ng-if="notes.note!=null && !notes.deleted">
                            <td class="text-center">
                                <div ng-if="notes.sequenceNo == originalOrg.notes[$index].sequenceNo">
                                    <p>{{notes.sequenceNo}}</p>
                                </div>
                                <div ng-if="notes.sequenceNo != originalOrg.notes[$index].sequenceNo">
                                    <span class="nextcolor">{{originalOrg.notes[$index].sequenceNo}}&nbsp;</span>
                                    <div class="boxcolor">{{notes.sequenceNo}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="notes.note == originalOrg.notes[$index].note">
                                    <p>{{notes.note}}</p>
                                </div>
                                <div ng-if="notes.note != originalOrg.notes[$index].note">
                                    <span class="nextcolor">{{originalOrg.notes[$index].note}}&nbsp;</span>
                                    <div class="boxcolor">{{notes.note}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="notes.noteType == originalOrg.notes[$index].noteType">
                                    <p>{{notes.noteType}}</p>
                                </div>
                                <div ng-if="notes.noteType != originalOrg.notes[$index].noteType">
                                    <span class="nextcolor">{{originalOrg.notes[$index].noteType}}&nbsp;</span>
                                    <div class="boxcolor">{{notes.noteType }}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="notes in deletedNotes" bgcolor="42b6da">
                            <td class="text-center">{{notes.sequenceNo}}</td>
                            <td>{{notes.note}}</td>
                            <td>{{notes.noteType}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Vendors</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">Sequence No.</th>
                            <th>Vendor Type</th>
                            <th>Name</th>
                            <th>Post Box</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vendors in organization.vendors" ng-if="!vendors.deleted">
                            <td class="text-center">
                                <div ng-if="vendors.sequenceNumber == originalOrg.vendors[$index].sequenceNumber">
                                    <p>{{vendors.sequenceNumber}}</p>
                                </div>
                                <div ng-if="vendors.sequenceNumber != originalOrg.vendors[$index].sequenceNumber">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].sequenceNumber }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.sequenceNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vendors.vendorType.codeValue == originalOrg.vendors[$index].vendorType.codeValue">
                                    <p>{{vendors.vendorType.codeValue}}</p>
                                </div>
                                <div ng-if="vendors.vendorType.codeValue != originalOrg.vendors[$index].vendorType.codeValue">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].vendorType.codeValue }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.vendorType.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vendors.name == originalOrg.vendors[$index].name">
                                    <p>{{vendors.name}}</p>
                                </div>
                                <div ng-if="vendors.name != originalOrg.vendors[$index].name">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].name }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.name}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vendors.postBox == originalOrg.vendors[$index].postBox">
                                    <p>{{vendors.postBox}}</p>
                                </div>
                                <div ng-if="vendors.postBox != originalOrg.vendors[$index].postBox">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].postBox }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.postBox}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vendors.street == originalOrg.vendors[$index].street">
                                    <p>{{vendors.street}}</p>
                                </div>
                                <div ng-if="vendors.street != originalOrg.vendors[$index].street">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].street }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.street}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vendors.cityName == originalOrg.vendors[$index].cityName">
                                    <p>{{vendors.cityName}}</p>
                                </div>
                                <div ng-if="vendors.cityName != originalOrg.vendors[$index].cityName">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].cityName }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.cityName}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vendors.stateName == originalOrg.vendors[$index].stateName">
                                    <p>{{vendors.stateName}}</p>
                                </div>
                                <div ng-if="vendors.stateName != originalOrg.vendors[$index].stateName">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].stateName }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.stateName}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vendors.zip == originalOrg.vendors[$index].zip">
                                    <p>{{vendors.zip}}</p>
                                </div>
                                <div ng-if="vendors.zip != originalOrg.vendors[$index].zip">
                                    <span class="nextcolor">{{originalOrg.vendors[$index].zip }}&nbsp;</span>
                                    <div class="boxcolor">{{vendors.zip}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="vendors in deletedVendors" bgcolor="42b6da">
                            <td class="text-center">{{vendors.sequenceNumber}}</td>
                            <td>{{vendors.vendorType.codeValue}}</td>
                            <td>{{vendors.name}}</td>
                            <td>{{vendors.postBox}}</td>
                            <td>{{vendors.street}}</td>
                            <td>{{vendors.cityName}}</td>
                            <td>{{vendors.stateName}}</td>
                            <td>{{vendors.zip}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
