<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- #section:elements.form -->
                    <div class="container-fluid">
                        <div class="row ng-scope ">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Employees</label>
                                    <p>{{organization.employees}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /section:elements.form -->
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl text-center">Sequence No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th class="widthth text-center">General Details</th>
                            <th class="widthth text-center">Responsibility Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyPersonnel in organization.personnel" ng-if="keyPersonnel.deleted!= true">
                            <td class="widthfcl text-center">{{ keyPersonnel.sequenceNumber}}</td>
                            <td>{{keyPersonnel.titleMaster.codeValue}}</td>
                            <td>{{showPersonnelName(keyPersonnel)}}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openDMMPKeyPersonnelGeneralDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a class="green" ng-click="openDMMPKeyPersonnelResponsibilityDetailsPopup($index)">
                                        <i class="fa fa-file-text-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
