<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-md-4">
                    <div ng-hide="editState">
                        <div class="form-group" ng-class="{'has-error': addForm.orgId.$touched && addForm.orgId.$invalid}">
                            <label>Organization ID</label>
                            <input type="text" class="form-control" name="orgId" ng-model="organization.org_id" validate-this="orgId" validate-as="digits" ng-disabled="editStateDisable">
                            <div class="help-block" ng-messages="addForm.orgId.$error" ng-show="addForm.orgId.$touched">
                                <div ng-message="validateAs">
                                    <p ng-show="validateAsErrors.orgId.digits">Invalid digits found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid}">
                        <label>Sequence No.</label>
                        <input type="text" class="form-control" name="sequenceNo" ng-model="organization.sequenceNo" validate-this="sequenceNo" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.sequenceNo.$error" ng-show="addForm.sequenceNo.$touched && addForm.sequenceNo.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.sequenceNo.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <!--  <div class="form-group">
                       <label for="pwd">Section</label>
                       <ui-select ng-model="organization.sectionCode[0]">
                           <ui-select-match placeholder="Select">
                               <span ng-bind="$select.selected.description"></span>
                           </ui-select-match>
                           <ui-select-choices repeat="thisSection._id as thisSection in (sectionArray | filter: $select.search) track by thisSection._id">
                               <span ng-bind="thisSection.description"></span>
                           </ui-select-choices>
                       </ui-select>
                   </div> -->
                    <div class="form-group">
                        <label>Classification Code</label>
                        <ui-select ng-model="organization.classificationCode">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue "></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisClassificationCode._id as thisClassificationCode in (classificationCodeArray | filter: $select.search) track by thisClassificationCode._id">
                                <span ng-bind="thisClassificationCode.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!-- <div class="form-group">
                        <label>Listing Type</label>
                        <ui-select ng-model="listingType.listing" on-select="changeListingType($item)">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisListingType as thisListingType in (listingTypeArray | filter: $select.search) track by thisListingType._id">
                                <span ng-bind="thisListingType.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div> -->
                    <div class="form-group">
                        <label>Conduct Business</label>
                        <textarea class="form-control" rows="5" name="institutionType" ng-model="organization.conductBusiness"></textarea>
                    </div>
                    <!-- <div class="form-group" ng-class="{'has-error': addForm.adNo.$touched && addForm.adNo.$invalid}">
                        <label>Direct Marketing Ad Budget</label>
                        <input type="text" class="form-control" name="adNo" ng-model="organization.directMarketingBudget" validate-this="adNo" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.adNo.$error" ng-show="addForm.adNo.$touched && addForm.adNo.$invalid">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.adNo.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label>Advertising Marketing Budget Related to Direct Marketing</label>
                        <input type="text" class="form-control" name="directMarketingBudget" ng-model="organization.directMarketingBudget">
                    </div>
                    <div class="form-group">
                        <label>Business Description</label>
                        <input type="text" class="form-control" name="galleryDescription" ng-model="organization.galleryDescription">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': addForm.name.$touched && addForm.name.$invalid}">
                        <label for="pwd">Name<span class="meditator">*</span></label>
                        <input type="text" class="form-control" name="name" ng-model="organization.name" required validate-is-name-unique except-organization-id="{{ organization._id }}">
                        <div class="help-block" ng-messages="addForm.name.$error" ng-show="addForm.name.$touched">
                            <div ng-message="required">Please fill this field</div>
                            <p ng-message="validateIsNameUnique"><b>{{organization.name}}</b> already exists</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Minor Name</label>
                        <input type="text" class="form-control" name="shortName" ng-model="organization.shortName">
                    </div>
                    <div class="form-group">
                        <label>Sort Major Name</label>
                        <input type="text" class="form-control" name="sortMajorName" ng-model="organization.sortMajorName">
                    </div>
                    <div class="form-group">
                        <label>Established Description</label>
                        <textarea class="form-control" rows="5" name="estddesc" ng-model="organization.established.detail"></textarea>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.estd.$touched && addForm.estd.$invalid}">
                        <label for="pwd">Established Year</label>
                        <input type="text" class="form-control" name="estd" ng-model="organization.established.year" validate-this="estd" validate-as="digits">
                        <div class="help-block" ng-messages="addForm.estd.$error" ng-show="addForm.estd.$touched">
                            <div ng-message="validateAs">
                                <p ng-show="validateAsErrors.estd.digits">Invalid digits found</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Primary Market Served</label>
                        <ui-select ng-model="organization.primaryMarket">
                            <ui-select-match placeholder="Select">
                                <span ng-bind="$select.selected.codeValue "></span>
                            </ui-select-match>
                            <ui-select-choices repeat="thisPrimaryMarketCode._id as thisPrimaryMarketCode in (primaryMarketArray | filter: $select.search) track by thisPrimaryMarketCode._id">
                                <span ng-bind="thisPrimaryMarketCode.codeValue"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name Suffix</label>
                        <input type="text" class="form-control" name="NameSuffix" ng-model="organization.nameSuffix">
                    </div>
                    <div class="form-group">
                        <label>DMA Code</label>
                        <input type="text" class="form-control" name="dmacode" ng-model="organization.dmaCode">
                    </div>
                    <div class="form-group">
                        <label>DMA ID</label>
                        <input type="text" class="form-control" name="dmacode" ng-model="organization.dmaId">
                    </div>
                    <div class="form-group ">
                        <label>
                            <input type="checkbox" class="ace ace-checkbox-2" name="catalogOnline" ng-model="organization.flags.catalogOnline">
                            <span class="lbl"><strong class="checkboxspace"> Catalog Available Online</strong></span>
                        </label>
                        <ul class="nav catlog-available-online">
                            <li>
                                <label>
                                    <input type="radio" class="ace ace-checkbox-2" name="catalogOnline" value="D" ng-disabled="!organization.flags.catalogOnline" ng-model="organization.onlineSales">
                                    <span class="lbl"><span class="radiospace">Direct Online Sales</span></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="catalogOnline" value="I" class="ace ace-checkbox-2" ng-disabled="!organization.flags.catalogOnline" ng-model="organization.onlineSales">
                                    <span class="lbl"><span class="radiospace">Indirect Online Sales</span></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Direct Marketing Ad Budget</label>
                        <textarea class="form-control" rows="5" name="institutionType" ng-model="organization.totalAdvertisingBudget"></textarea>
                    </div>
                    <!-- To Do -  dynamically bind input-check boxes for dma disbursal -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openFormerNamesPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Former Name(s)</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Show Date</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name!=null && !formerName.deleted">
                            <td class="widthfcl text-center">{{ ($index+1) }}</td>
                            <td>{{formerName.name}}</td>
                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}</td>
                            <td>{{formerName.showDate}}</td>
                            <td class="widthth">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openFormerNamesPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'FormerName(s)')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openListingTypeDMMPPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Listing Types</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Listing Type</th>
                            <th>Listing Section</th>
                            <th>Listing Section No.</th>
                            <th>Active</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="listingType in organization.listingType" ng-if="!listingType.deleted">
                            <td class="widthfcl text-center">{{ ($index+1) }}</td>
                            <td>{{listingType.listingName}} </td>
                            <td>{{listingType.listingSectionName}}</td>
                            <td>{{listingType.sectionNumber}}</td>
                            <td>{{listingType.listingActive ? "YES" : (listingType.listingActive === false ? "NO" : "") }}</td>
                            <td class="widthth">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openListingTypeDMMPPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'DMMP Listing Types')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <a href="javascript:void(0)" type="button" class="addnew" ng-click="openDirectMarketingBudgetDisbrusalPopup()">
                    <ins>Add New Record</ins>
                </a>
            </div>
            <div class="pull-left addnewt add-button">Direct Marketing Ad Budget </div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th class="widthth text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="directMarketingBudgetDisbursal in organization.directMarketingBudgetDisbursal" ng-if="directMarketingBudgetDisbursal.codeName!= null && !directMarketingBudgetDisbursal.deleted">
                            <td class="widthfcl text-center">{{ ($index+1) }}</td>
                            <td>{{directMarketingBudgetDisbursal.codeName}} </td>
                            <td>{{directMarketingBudgetDisbursal.value}}</td>
                            <td class="widthth">
                                <div class="action-buttons">
                                    <a class="blue" ng-click="openDirectMarketingBudgetDisbrusalPopup($index)">
                                        <i class="fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" ng-click="openRemovePopup($index,'Direct Marketing Budget Disbursal')">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
