<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <div class="container-fluid">
                        <div class="addnewt">
                            <span>Contacts</span>
                        </div>
                        <div class="space"></div>
                        <div class="row ng-scope ">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Phone No.</label>
                                    <p>{{organization.contact.phoneNumbers}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Toll Free</label>
                                    <p>{{organization.contact.officeNumbers}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Fax</label>
                                    <p>{{organization.contact.faxNumbers}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Primary Email</label>
                                    <p>{{organization.contact.emails.primary}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Secondary Email</label>
                                    <p>{{organization.contact.emails.secondary}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Websites</label>
                                    <p>{{organization.contact.websites}}</p>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Social</label>
                                    <p>{{organization.contact.social}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /section:elements.form -->
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <!-- <a class="pull-right addnew" href="#" id="id-btn-dialog1"><ins>Add New Record</ins></a> -->
                <!-- Button trigger modal -->
                <!-- Modal -->
            </div>
            <div class="pull-left addnewt add-button">Address</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Mailing Index</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in organization.address" ng-if="address.cityName!=null && !address.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <!--  <td>{{addressTypes[address.addressType] || ""}}</td> -->
                            <td>{{address.addressType.description}}</td>
                            <td>
                                <b>Street 1: </b>{{address.street1}}
                                <br>
                                <b>Street 2: </b>{{address.street2}}
                                <br>
                                <b>City: </b>{{address.cityName}}
                                <br>
                                <b> State/Territory: </b>{{address.stateName}}
                                <br>
                                <b>Country: </b>{{address.countryName}}
                                <br>
                                <b>Post Box: </b>{{address.postBox}}
                                <br>
                                <b>Zip: </b>{{address.zip}}
                                <br>
                            </td>
                            <td>
                                {{address.mailingIndex ? "YES" : (address.mailingIndex === false ? "NO" : "")}}
                                <br>
                            </td>
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                <tr>
                    <th class="widthfcl">#</th>
                                                            <th>Type</th>
                                                            <th>Address</th>
                </tr>
            </tfoot> -->
                </table>
            </div>
        </div>
    </div>
</div>
