<div class="tab-pane active" id="home4">
    <div class="widget-box abc">
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentone"></label>
                </span>
            </span>
            <small class="lagentmedil">Old value  &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                <span class="legentbox">
                    <label class="lagentwo"></label>
                </span>
            </span>
            <small class="lagentmedil">Current value &nbsp;</small>
        </div>
        <div class="block pull-right">
            <span class="inline lagentmedil">
                    <span class="legentbox">
                        <label class="lagentwo deleted">    
                        </label>
                   </span>
            </span>
            <small class="lagentmedil">Deleted value &nbsp;</small>
        </div>
        <div class="historytitle">
            <label>Record History</label>
        </div>
        <div class="widget-main">
            <form class="form-horizontal" role="form">
                <!-- History Details start-->
                <div class="row inforowcolor">
                    <div class="col-md-4">
                        <label>Date & Time</label>
                        <p>{{ to_date_format(versions[indexPos].created.at, 'D, jS M Y \\at g:i:s A') }}</p>
                        <label>Comments</label>
                        <br>{{ versions[indexPos].comments }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> Record History Details</label>
                        <br>{{ versions[indexPos].status.description }}</br>
                    </div>
                    <div class="col-md-4">
                        <label> By</label>
                        <p>{{ getNameOfUser(versions[indexPos].created.by) }}</br>
                            <span class="text-muted">{{versions[indexPos].created.by.role.name}}</span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-horizontal" role="form">
                    <!-- #section:elements.form -->
                    <div class="container-fluid">
                        <div class="row ng-scope ">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Organization ID</label>
                                    <div ng-if="organization.org_id == originalOrg.org_id">
                                        <p class=".h5">{{organization.org_id}}</p>
                                    </div>
                                    <div ng-if="organization.org_id != originalOrg.org_id">
                                        <span class="nextcolor">{{originalOrg.org_id}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.org_id}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Sequence No.</label>
                                    <div ng-if="organization.sequenceNo == originalOrg.sequenceNo">
                                        <p class=".h5"> {{organization.sequenceNo}}</p>
                                    </div>
                                    <div ng-if="organization.sequenceNo != originalOrg.sequenceNo">
                                        <span class="nextcolor">{{originalOrg.sequenceNo}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.sequenceNo}}&nbsp;</div>
                                    </div>
                                </div>
                                <!-- <div class="">
                                    <label class="h5 boldfont">Section</label>
                                    <div ng-if="organization.sectionCode[0].description == originalOrg.sectionCode[0].description">
                                        <p> {{organization.sectionCode[0].description}}&nbsp;</p>
                                    </div>
                                    <div ng-if="organization.sectionCode[0].description != originalOrg.sectionCode[0].description">
                                        <p class="nextcolor"> {{originalOrg.sectionCode[0].description}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.sectionCode[0].description}}&nbsp;</p>
                                    </div>
                                </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Classification Code</label>
                                    <div ng-if="organization.classificationCode.codeValue == originalOrg.classificationCode.codeValue">
                                        <p class=".h5">{{organization.classificationCode.codeValue}}</p>
                                    </div>
                                    <div ng-if="organization.classificationCode.codeValue != originalOrg.classificationCode.codeValue">
                                        <span class="nextcolor">{{originalOrg.classificationCode.codeValue}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.classificationCode.codeValue}}&nbsp;</div>
                                    </div>
                                </div>
                                <!--  <div class="">
                                   <label class="h5 boldfont">Listing Type</label>
                                   <div ng-if="organization.listingType.codeValue == originalOrg.listingType.codeValue">
                                       <p class=".h5">{{organization.listingType.codeValue}}</p>
                                   </div>
                                   <div ng-if="organization.listingType.codeValue != originalOrg.listingType.codeValue">
                                       <span class="nextcolor">{{originalOrg.listingType.codeValue}}&nbsp;</span>
                                       <div class="boxcolor">{{organization.listingType.codeValue}}</div>
                                   </div>
                               </div> -->
                                <div class="">
                                    <label class="h5 boldfont">Conduct Business</label>
                                    <div ng-if="organization.conductBusiness == originalOrg.conductBusiness">
                                        <p class=".h5">{{organization.conductBusiness}}</p>
                                    </div>
                                    <div ng-if="organization.conductBusiness != originalOrg.conductBusiness">
                                        <span class="nextcolor">{{originalOrg.conductBusiness}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.conductBusiness}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Advertising Marketing Budget Related to Direct directMarketingBudget</label>
                                    <div ng-if="organization.directMarketingBudget == originalOrg.directMarketingBudget">
                                        <p class=".h5">{{organization.directMarketingBudget}}</p>
                                    </div>
                                    <div ng-if="organization.directMarketingBudget != originalOrg.directMarketingBudget">
                                        <span class="nextcolor">{{originalOrg.directMarketingBudget}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.directMarketingBudget}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Business Description</label>
                                    <div ng-if="organization.galleryDescription == originalOrg.galleryDescription">
                                        <p class=".h5">{{organization.galleryDescription}}</p>
                                    </div>
                                    <div ng-if="organization.galleryDescription != originalOrg.galleryDescription">
                                        <span class="nextcolor">{{originalOrg.galleryDescription}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.galleryDescription}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="">
                                    <label class="h5 boldfont">Name</label>
                                    <div ng-if="organization.name == originalOrg.name">
                                        <p class=".h5">{{organization.name}}</p>
                                    </div>
                                    <div ng-if="organization.name != originalOrg.name">
                                        <span class="nextcolor">{{originalOrg.name}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.name}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Minor Name</label>
                                    <div ng-if="organization.shortName == originalOrg.shortName">
                                        <p class=".h5">{{organization.shortName}}</p>
                                    </div>
                                    <div ng-if="organization.shortName != originalOrg.shortName">
                                        <span class="nextcolor">{{originalOrg.shortName}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.shortName}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Sort Major Name</label>
                                    <div ng-if="organization.sortMajorName == originalOrg.sortMajorName">
                                        <p class=".h5">{{organization.sortMajorName}}</p>
                                    </div>
                                    <div ng-if="organization.sortMajorName != originalOrg.sortMajorName">
                                        <span class="nextcolor">{{originalOrg.sortMajorName}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.sortMajorName}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Established Description</label>
                                    <div ng-if="organization.established.detail == originalOrg.established.detail">
                                        <p> {{organization.established.detail}}</p>
                                    </div>
                                    <div ng-if="organization.established.detail != originalOrg.established.detail">
                                        <p class="nextcolor"> {{originalOrg.established.detail}}&nbsp;</p>
                                        <p class="boxcolor">{{organization.established.detail}}&nbsp;</p>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Established Year</label>
                                    <div ng-if="organization.established.year == originalOrg.established.year">
                                        <p class=".h5">{{organization.established.year}}</p>
                                    </div>
                                    <div ng-if="organization.established.year != originalOrg.established.year">
                                        <span class="nextcolor">{{originalOrg.established.year}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.established.year}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Primary Market Served</label>
                                    <div ng-if="organization.primaryMarket.codeValue == originalOrg.primaryMarket.codeValue">
                                        <p class=".h5">{{organization.primaryMarket.codeValue}}</p>
                                    </div>
                                    <div ng-if="organization.primaryMarket.codeValue != originalOrg.primaryMarket.codeValue">
                                        <span class="nextcolor">{{originalOrg.primaryMarket.codeValue}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.primaryMarket.codeValue}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="h5 boldfont">Name Suffix</label>
                                    <div ng-if="organization.nameSuffix == originalOrg.nameSuffix">
                                        <p class=".h5">{{organization.nameSuffix}}</p>
                                    </div>
                                    <div ng-if="organization.nameSuffix != originalOrg.nameSuffix">
                                        <span class="nextcolor">{{originalOrg.nameSuffix}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.nameSuffix}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont">DMA Code</label>
                                    <div ng-if="organization.dmaCode == originalOrg.dmaCode">
                                        <p class=".h5">{{organization.dmaCode}}</p>
                                    </div>
                                    <div ng-if="organization.dmaCode != originalOrg.dmaCode">
                                        <span class="nextcolor">{{originalOrg.dmaCode}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.dmaCode}}&nbsp;</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="h5 boldfont">DMA ID</label>
                                    <div ng-if="organization.dmaId == originalOrg.dmaId">
                                        <p class=".h5">{{organization.dmaId}}</p>
                                    </div>
                                    <div ng-if="organization.dmaId != originalOrg.dmaId">
                                        <span class="nextcolor">{{originalOrg.dmaId}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.dmaId}}&nbsp;</div>
                                    </div>
                                </div>
                                <!-- gfdgfdghd -->
                                <div class="form-group">
                                    <label class="position-relative">
                                        <div ng-if="organization.flags.catalogOnline == originalOrg.flags.catalogOnline && organization.onlineSales == originalOrg.onlineSales">
                                            <i class="fa" ng-class="organization.flags.catalogOnline? 'fa-check' : 'fa-remove'"></i> Catalog Available Online
                                            <br>
                                            <span ng-if="organization.flags.catalogOnline == true">{{ (organization.onlineSales && organization.onlineSales !='') ? ("(" + (organization.onlineSales == 'D' ? 'Direct Online Sales' : 'Indirect Online Sales') + ")") : "" }}
                                            </span>
                                        </div>
                                        <div ng-if="organization.flags.catalogOnline != originalOrg.flags.catalogOnline || organization.onlineSales != originalOrg.onlineSales ">
                                            <span class="nextcolor">
                                                <i class="fa" ng-class="originalOrg.flags.catalogOnline? 'fa-check' : 'fa-remove'"></i> Catalog Available Online<br>
                                                <span ng-if="originalOrg.flags.catalogOnline == true">
                                                     {{ (originalOrg.onlineSales && originalOrg.onlineSales !='') ? ("(" + (originalOrg.onlineSales == 'D' ? 'Direct Online Sales' : 'Indirect Online Sales') + ")") : "" }}&nbsp;
                                                </span>
                                            </span>
                                            <div class="boxcolor">
                                                <i class="fa" ng-class="organization.flags.catalogOnline? 'fa-check' : 'fa-remove'"></i> Catalog Aailable Online
                                                <br>
                                                <span ng-if="organization.flags.catalogOnline == true">
                                                     {{ (organization.onlineSales && organization.onlineSales !='') ? ("(" + (organization.onlineSales == 'D' ? 'Direct Online Sales' : 'Indirect Online Sales') + ")") : "" }}&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="">
                                    <label class="h5 boldfont">Direct Marketing Ad Budget</label>
                                    <div ng-if="organization.totalAdvertisingBudget == originalOrg.totalAdvertisingBudget">
                                        <p class=".h5">{{organization.totalAdvertisingBudget}}</p>
                                    </div>
                                    <div ng-if="organization.totalAdvertisingBudget != originalOrg.totalAdvertisingBudget">
                                        <span class="nextcolor">{{originalOrg.totalAdvertisingBudget}}&nbsp;</span>
                                        <div class="boxcolor">{{organization.totalAdvertisingBudget}}&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /section:elements.form -->
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
                <!-- <a class="pull-right addnew" href="#" id="id-btn-dialog1"><ins>Add New Record</ins></a> -->
                <!-- Button trigger modal -->
                <!-- Modal -->
            </div>
            <div class="pull-left addnewt add-button">Former Name(s)</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Show Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="formerName in organization.formerNames" ng-if="formerName.name!=null && !formerName.deleted">
                            <td class="widthfcl text-center">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="formerName.name == originalOrg.formerNames[$index].name">
                                    <p> {{formerName.name}}&nbsp;</p>
                                </div>
                                <div ng-if="formerName.name != originalOrg.formerNames[$index].name">
                                    <p class="nextcolor">{{originalOrg.formerNames[$index].name}}&nbsp;</p>
                                    <p class="boxcolor">{{formerName.name}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="formerName.startDate == originalOrg.formerNames[$index].startDate">
                                    <p> {{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}&nbsp;</p>
                                </div>
                                <div ng-if="formerName.startDate != originalOrg.formerNames[$index].startDate">
                                    <p class="nextcolor"> {{originalOrg.formerNames[$index].startDate ? to_date_format(originalOrg.formerNames[$index].startDate,'jS M, Y'): ''}}&nbsp;</p>
                                    <p class="boxcolor">{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}&nbsp;</p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="formerName.endDate == originalOrg.formerNames[$index].endDate">
                                    <p>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}&nbsp;</p>
                                </div>
                                <div ng-if="formerName.endDate != originalOrg.formerNames[$index].endDate">
                                    <p class="nextcolor">{{originalOrg.formerNames[$index].endDate ? to_date_format(originalOrg.formerNames[$index].endDate,'jS M, Y'): ''}}&nbsp;</p>
                                    <p class="boxcolor">{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y') : ''}}&nbsp;</p>
                                </div>
                                <td>
                                    <div ng-if="formerName.showDate == originalOrg.formerNames[$index].showDate">
                                        <p> {{formerName.showDate}}&nbsp;</p>
                                    </div>
                                    <div ng-if="formerName.showDate != originalOrg.formerNames[$index].showDate">
                                        <p class="nextcolor">{{originalOrg.formerNames[$index].showDate}}&nbsp;</p>
                                        <p class="boxcolor">{{formerName.showDate}}&nbsp;</p>
                                    </div>
                                </td>
                            </td>
                        </tr>
                        <tr ng-repeat="formerName in deletedFormerNames" bgcolor="42b6da">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{formerName.name}}</td>
                            <td>{{formerName.startDate ? to_date_format(formerName.startDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.endDate ? to_date_format(formerName.endDate,'jS M, Y'): ''}}</td>
                            <td>{{formerName.showDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cal-md-12 pull-right add-button">
            </div>
            <div class="pull-left addnewt add-button">Listing Types</div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p class=".h5"></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Listing Type</th>
                            <th>Listing Section</th>
                            <th>Listing Section No.</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="listingType in organization.listingType" ng-if="!listingType.deleted">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="listingType.listingName == originalOrg.listingType[$index].listingName">
                                    <p class=".h5">{{listingType.listingName}}</p>
                                </div>
                                <div ng-if="listingType.listingName != originalOrg.listingType[$index].listingName">
                                    <span class="nextcolor">{{originalOrg.listingType[$index].listingName}}&nbsp;</span>
                                    <div class="boxcolor">{{listingType.listingName}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="listingType.listingSectionName == originalOrg.listingType[$index].listingSectionName">
                                    <p class=".h5">{{listingType.listingSectionName}}</p>
                                </div>
                                <div ng-if="listingType.listingSectionName != originalOrg.listingType[$index].listingSectionName">
                                    <span class="nextcolor">{{originalOrg.listingType[$index].listingSectionName}}&nbsp;</span>
                                    <div class="boxcolor">{{listingType.listingSectionName}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="listingType.sectionNumber == originalOrg.listingType[$index].sectionNumber">
                                    <p class=".h5">{{listingType.sectionNumber}}</p>
                                </div>
                                <div ng-if="listingType.sectionNumber != originalOrg.listingType[$index].sectionNumber">
                                    <span class="nextcolor">{{originalOrg.listingType[$index].sectionNumber}}&nbsp;</span>
                                    <div class="boxcolor">{{listingType.sectionNumber}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="listingType.listingActive == originalOrg.listingType[$index].listingActive">
                                    <p class=".h5">{{listingType.listingActive ? "YES" :(listingType.listingActive === false ? 'NO' : '') }}</p>
                                </div>
                                <div ng-if="listingType.listingActive != originalOrg.listingType[$index].listingActive">
                                    <span class="nextcolor">{{originalOrg.listingType[$index].listingActive ? "YES" : (originalOrg.listingType[$index].listingActive === false ? 'NO' : '') }}&nbsp;</span>
                                    <div class="boxcolor">{{listingType.listingActive ? "YES" : (listingType.listingActive === false ? 'NO' : '') }}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="listingType in deletedListingType" bgcolor="42b6da">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{listingType.listing.codeValue}}</td>
                            <td>{{listingType.listingSectionName}}</td>
                            <td>{{listingType.sectionNumber}}</td>
                            <td>{{listingType.listingActive ? "YES" : (listingType.listingActive === false ? 'NO' : '') }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left addnewt add-button">Direct Marketing Ad Budget </div>
        </div>
    </div>
    <div class="container-fluid box-body table-responsive cf">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="widthfcl">#</th>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="directMarketingBudgetDisbursal in organization.directMarketingBudgetDisbursal" ng-if="!directMarketingBudgetDisbursal.deleted">
                            <td class="widthfcl text-center">{{ ($index+1) }}</td>
                            <td>
                                <div ng-if="directMarketingBudgetDisbursal.codeName == originalOrg.directMarketingBudgetDisbursal[$index].codeName">
                                    <p class=".h5">{{directMarketingBudgetDisbursal.codeName}}</p>
                                </div>
                                <div ng-if="directMarketingBudgetDisbursal.codeName != originalOrg.directMarketingBudgetDisbursal[$index].codeName">
                                    <span class="nextcolor">{{originalOrg.directMarketingBudgetDisbursal[$index].codeName}}&nbsp;</span>
                                    <div class="boxcolor">{{directMarketingBudgetDisbursal.code.codeValue}}&nbsp;</div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="directMarketingBudgetDisbursal.value == originalOrg.directMarketingBudgetDisbursal[$index].value">
                                    <p class=".h5">{{directMarketingBudgetDisbursal.value}}</p>
                                </div>
                                <div ng-if="directMarketingBudgetDisbursal.value != originalOrg.directMarketingBudgetDisbursal[$index].value">
                                    <span class="nextcolor">{{originalOrg.directMarketingBudgetDisbursal[$index].value}}&nbsp;</span>
                                    <div class="boxcolor">{{directMarketingBudgetDisbursal.value}}&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="directMarketingBudgetDisbursal in deletedDisbursalType" bgcolor="42b6da">
                            <td class="text-center">{{ ($index+1) }}</td>
                            <td>{{directMarketingBudgetDisbursal.codeName}}</td>
                            <td>{{directMarketingBudgetDisbursal.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
