<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="actionForm" ng-submit="save()">
            <div class="form-group">
                <label>Module</label>
                <ui-select ng-model="selectedModule.value" ng-change="moduleChanged(selectedModule.value)">
                    <ui-select-match>
                        <span><i class="fa fa-{{ $select.selected.icon }}"></i> {{ $select.selected.name }}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="module in (moduleArray | filter: $select.search) track by module._id">
                        <span><i class="fa fa-{{ module.icon }}"></i> {{ module.name }}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Page</label>
                <ui-select ng-model="selectedPage.value">
                    <ui-select-match>
                        <span><i class="fa fa-{{ $select.selected.icon }}"></i> {{ $select.selected.name }}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="page in (pageArray | filter: $select.search) track by page._id">
                        <span><i class="fa fa-{{ page.icon }}"></i> {{ page.name }}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': actionForm.object.$touched && actionForm.object.$invalid }">
                <label>Object</label>
                <input type="text" class="form-control" name="object" ng-model="action.object" required validate-is-acl-action-unique acl-page-id="{{ selectedPage.value._id }}" except-acl-action-id="{{ action._id }}">
                <div class="help-block" ng-messages="actionForm.object.$error" ng-show="actionForm.object.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsAclPageUnique"><b>{{ action.object }}</b> already exists!</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': actionForm.order.$touched && actionForm.order.$invalid }">
                <label>Order</label>
                <input type="text" class="form-control" name="order" ng-model="action.order" required validate-is-number="{ natural: true, nonZero: true, decimal: false }">
                <div class="help-block" ng-messages="actionForm.order.$error" ng-show="actionForm.order.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsNumber">Enter a valid, non-zero number</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': actionForm.name.$touched && actionForm.name.$invalid }">
                <label>Name</label>
                <input type="text" class="form-control" name="name" ng-model="action.name" required>
                <div class="help-block" ng-messages="actionForm.name.$error" ng-show="actionForm.name.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <div class="form-group">
                <label>Icon</label>
                <input type="text" class="form-control" name="icon" ng-model="action.icon">
            </div>
            <div class="form-group">
                <label>Action type</label>
                <div class="row well well-sm">
                    <div class="col-sm-3">
                        <label>
                            <input type="radio" ng-model="action.actionType" value="view">View
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label>
                            <input type="radio" ng-model="action.actionType" value="add">Add
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label>
                            <input type="radio" ng-model="action.actionType" value="update">Update
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label>
                            <input type="radio" ng-model="action.actionType" value="delete">Delete
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="action.exclusive"> Exclusive
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="action.active"> Active
                </label>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="actionForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>
