<div class="table-responsive">
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th width="10%" class="text-center">Status</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th width="10%" class="text-center">Status</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="aclModule in aclModules">
                <td><a ui-sref="core.acl.module.edit({id: aclModule._id})"><i class="fa fa-{{aclModule.icon}}"></i> {{aclModule.name}}</a></td>
                <td class="text-center" ng-class="aclModule.active ? 'bg-success text-success' : 'bg-danger text-danger'">
                    {{ aclModule.active ? 'Active' : 'Inactive' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
