<nav class="navbar navbar-default" id="midNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-two" aria-expanded="false" aria-controls="navbar-two">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="core.acl.module.list">Access Control List</a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="core.acl.module.list">ACL</a>
        </div>
        <div id="navbar-two" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="core.acl.module.list"><i class="fa fa-star"></i> Modules</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="core.acl.page.list"><i class="fa fa-file"></i> Pages</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="core.acl.action.list"><i class="fa fa-check"></i> Actions</a>
                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container-fluid" ui-view></div>
