<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="moduleForm" ng-submit="save()">
            <div class="form-group" ng-class="{ 'has-error': moduleForm.object.$touched && moduleForm.object.$invalid }">
                <label>Object</label>
                <input type="text" class="form-control" name="object" ng-model="module.object" required validate-is-acl-module-unique except-acl-module-id="{{ module._id }}">
                <div class="help-block" ng-messages="moduleForm.object.$error" ng-show="moduleForm.object.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsAclModuleUnique"><b>{{ module.object }}</b> already exists!</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': moduleForm.order.$touched && moduleForm.order.$invalid }">
                <label>Order</label>
                <input type="text" class="form-control" name="order" ng-model="module.order" required validate-is-number="{ natural: true, nonZero: true, decimal: false }">
                <div class="help-block" ng-messages="moduleForm.order.$error" ng-show="moduleForm.order.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateIsNumber">Enter a valid, non-zero number</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': moduleForm.name.$touched && moduleForm.name.$invalid }">
                <label>Name</label>
                <input type="text" class="form-control" name="name" ng-model="module.name" required>
                <div class="help-block" ng-messages="moduleForm.name.$error" ng-show="moduleForm.name.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <div class="form-group">
                <label>Icon</label>
                <input type="text" class="form-control" name="icon" ng-model="module.icon">
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="module.active"> Active
                </label>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="moduleForm.$invalid || loading">
                <i class="fa fa-spin fa-refresh" ng-if="loading"></i> Save
            </button>
        </form>
    </div>
</div>
