<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
    <h3 class="modal-title">Switch Directory</h3>
</div>
<div class="modal-body">
    <div class="row row-eq-height text-center">
        <div class="col-md-4" ng-repeat="directory in directories.slice(0,3)">
            <a href="javascript:void(0)" ng-click="chooseDirectory(directory)" class="thumbnail" ng-class="{dirSelected: directory.selected}">
                <img ng-src="nrp-admin-theme/assets/images/{{directory.codeValue}}.png" class="image" alt="{{ directory.codeValue }}">
                <h5>{{ directory.description }}</h5>
            </a>
        </div>
    </div>
    <div class="row row-eq-height text-center">
        <div class="col-md-4" ng-repeat="directory in directories.slice(3,6)">
            <a href="javascript:void(0)" ng-click="chooseDirectory(directory)" class="thumbnail" ng-class="{dirSelected: directory.selected}">
                <img ng-src="nrp-admin-theme/assets/images/{{directory.codeValue}}.png" class="image" alt="{{ directory.codeValue }}">
                <h5>{{ directory.description }}</h5>
            </a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
