<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="faq">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <div class="space-18"></div>
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}" class="row">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="faq1">
                        <div class="container border-bottom">
                            <label>
                                <h3 class="dark-orange">{{section.sectionHeader}}</h3>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- <div class="space-10"></div>
                        <label class="titlelable">{{section.sectionDescription}}</label>
                        <div class="col-md-12 text-center">
                            <div class="space-20"> </div>
                            <h1>{{section.faqData}} </h1>
                            <div class="space-40"> </div>
                        </div> -->
                        <div  class="dotted-border-bottom" ng-repeat="faqData in section.faqData">
                    <span class="titlelable">{{faqData.question}}</span>
                   <p ng-bind-html="faqData.answer | html">{{faqData.answer}}</p>
                </div>
                
                        <div class="space-40"> </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="space-40"> </div>
<div class="space-40"> </div>
<div class="space-40"> </div>
<div class="space-40"> </div>
