<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>To</label>
            <div>
                <span ng-repeat="to in mail.to">
                    <b>{{ getNameOfUser(to) }}</b> 
                    <small>&lt;{{ to.auth.email }}&gt;</small>;
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Subject</label>
            <p class="lead">{{ mail.subject }}</p>
        </div>
        <div class="form-group">
            <label>Message</label>
            <div class="well well-sm" ng-bind-html="mail.body"></div>
        </div>
    </div>
</div>
