<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>From</label>
            <p class="lead">{{ getNameOfUser(mail.from) }} <small>&lt;{{ mail.from.auth.email }}&gt;</small></p>
        </div>
        <div class="form-group">
            <label>Subject</label>
            <p class="lead">{{ mail.subject }}</p>
        </div>
        <div class="form-group">
            <label>Message</label>
            <div class="well well-sm" ng-bind-html="mail.body"></div>
        </div>
    </div>
</div>
