<div class="page-header">
    <h5 class="pull-left">Mailbox</h5>
    <div class="clearfix"></div>
</div>
<div class="panel panel-primary">
    <nav class="panel-heading-navbar panel-heading navbar navbar-primary">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mailbox" aria-expanded="false" aria-controls="navbar-mailbox">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="portal.mailbox"></a>
            <a class="navbar-brand hidden-md hidden-lg" ui-sref="portal.mailbox"></a>
        </div>
        <div id="navbar-mailbox" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="portal.mailbox.inbox" ui-sref-opts="{reload: true}">
                        <i class="fa fa-inbox"></i> Inbox
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.mailbox.sent" ui-sref-opts="{reload: true}">
                        <i class="fa fa-send"></i> Sent
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="portal.mailbox.compose" ui-sref-opts="{reload: true}">
                        <i class="fa fa-pencil"></i> Compose
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="panel-body" ui-view></div>
</div>
