<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form name="composeForm" ng-submit="forward()">
            <div class="form-group">
                <label class="control-label">From</label>
                <p class="lead">
                    {{ getNameOfUser(currentUser) }}
                    <small>&lt;{{ currentUser.auth.email }}&gt;</small>
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : !(mail.to && mail.to.length > 0) }">
                <label class="control-label">To</label>
                <div class="input-group">
                    <ui-select multiple ng-model="mail.to">
                        <ui-select-match placeholder="Select user...">{{getNameOfUser($item)}} &lt;{{$item.auth.email}}&gt;</ui-select-match>
                        <ui-select-choices repeat="thisUser._id as thisUser in (userArray | filter: $select.search)" group-by="roleGrouping">
                            <b>{{ getNameOfUser(thisUser) }}</b> <small>&lt;{{thisUser.auth.email}}&gt;</small>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : composeForm.subject.$touched && composeForm.subject.$invalid }">
                <label class="control-label">Subject</label>
                <div class="input-group">
                    <input type="text" required class="form-control" name="subject" ng-model="mail.subject">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Message</label>
                <div ckeditor ng-model="mail.body"></div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="composeForm.$invalid || mail.to.length == 0 || loading">
                    <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-send'"></i> Send
                </button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
