<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form name="roleForm" ng-submit="edit()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" ng-model="role.name" required>
                <div class="help-block" ng-messages="roleForm.name.$error" ng-show="roleForm.name.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="active" ng-model="role.active"> Active
                </label>
            </div>
            <div class="table-responsive">
                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Page</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Module</th>
                            <th>Page</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="aclAction in aclActions">
                            <td>
                                <i class="fa fa-{{ aclAction.module.icon }}"></i> {{ aclAction.module.name }}
                            </td>
                            <td>
                                <i class="fa fa-{{ aclAction.page.icon }}"></i> {{ aclAction.page.name }}
                            </td>
                            <td>
                                <label>
                                    <input type="checkbox" ng-model="aclAction.selected" ng-change="checkChange(aclAction)">
                                    <i class="fa fa-{{ aclAction.icon }}"></i> {{ aclAction.name }}
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="roleForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-save'"></i> Save
            </button>
        </form>
    </div>
</div>