<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Add New User</h3>
        <form role="form" name="userForm" class="well well-sm" ng-submit="add()">
            <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                <label class="control-label"><i class="fa fa-at"></i> Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" required name="email" ng-model="user.auth.email" validate-is-email-unique validate-this="emailId" validate-as="email">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
                <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
                    <p ng-message="required">This field is required</p>
                    <div ng-message="validateAs">
                        <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                    </div>
                    <p ng-message="validateIsEmailUnique"><b>{{user.auth.email}}</b> already exists</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid }">
                <label class="control-label"><i class="fa fa-asterisk"></i> Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" required name="confirmPassword" ng-model="user.auth.confirmPassword" validate-password ng-minlength="8" ng-maxlength="15">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
                <div class="help-block" ng-messages="userForm.confirmPassword.$error" ng-show="userForm.confirmPassword.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="minlength">The password should be minimum 8 characters long</p>
                    <p ng-message="maxlength">The password should be maximum 15 characters long</p>
                    <ul ng-message="validatePassword">
                        <li ng-show="passwordValidationErrors.indexOf('lowercase') >= 0">The password needs to have at least 1 Lowercase character</li>
                        <li ng-show="passwordValidationErrors.indexOf('uppercase') >= 0">The password needs to have at least 1 Uppercase character</li>
                        <li ng-show="passwordValidationErrors.indexOf('digit') >= 0">The password needs to have at least 1 Digit</li>
                        <li ng-show="passwordValidationErrors.indexOf('special') >= 0">The password needs to have at least 1 Special character</li>
                    </ul>
                </div>
            </div>
            <p password-strength="userForm.confirmPassword.$viewValue"></p>
            <div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
                <label class="control-label"><i class="fa fa-lock"></i> Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" required name="password" ng-model="user.auth.password" validate-match="user.auth.confirmPassword">
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
                <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.password.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="validateMatch">Both the passwords do not match</p>
                </div>
            </div>
            <div class="form-group">
                <label>Access Date </label>
                <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="fa fa-calendar"></i></button></span>
                    <input type="text" readonly name="accessDate" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.accessDate" is-open="popup1.opened" datepicker-options="accessDateOptions" close-text="Close" />
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label>Expiry Date </label>
                <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="fa fa-calendar"></i></button></span>
                    <input type="text" readonly name="expiryDate" class="form-control" uib-datepicker-popup="dd MMMM, yyyy" ng-model="user.expiryDate" is-open="popup2.opened" ng-change="alert('changed')" datepicker-options="expiryDateOptions" close-text="Close" />
                    <span class="input-group-addon"><i class="fa fa-asterisk text-danger"></i></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="userForm.$invalid || loading">
                <i class="fa" ng-class="loading ? 'fa-spin fa-refresh' : 'fa-plus'"></i> Add
            </button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
