<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="$first" id="{{section.sectionName}}" class="{{section.class}}">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div data-ng-switch on="section.sectionName">
                <div data-ng-switch-when="museum-news">
                    <!-- <div class="row"> -->
                    <div id="animated-example" class="animated fadeInUp">
                        <div class="space-40"></div>
                        <div class="col-md-12 text-center">
                            <div class="space-40"></div>
                            <div class="space-40 visible-xs"></div>
                            <h1 class="white">{{section.sectionHeader}}</h1>
                        </div>
                        <div class="space-40"></div>
                    </div>
                    <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mailing-page" class="container">
    <div id="preloader" loading></div>
    <div class="row">
        <div class="col-md-9">
            <div class="space-18"></div>
            <section data-ng-repeat="section in sections | orderBy:'sequenceNo'" data-ng-if="!$first" id="{{section.sectionName}}">
                <div data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="mailing-page">
                        <h5 class="text-left dark-orange"> {{section.sectionHeader}}</h5>
                        <h6 class="graytext">{{section.sectionDescription1}}</h6>
                    </div>
                </div>
            </section>
            <div class="border-bottom"></div>
            <div class="space-10"></div>
            <!-- sanction-->
            <div class="space-8"></div>
            <div class="contanbox" id="news-one" ng-repeat="feed in feeds | filter:filterText ">
                <div class="col-md-12">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left borderright datestyle widthleft widthleft" ng-if="direcoryName=='OCD'">
                                <strong>{{feed.publishDate | date:'dd MMM, yyyy'}}</strong>
                            </div>
                            <div class="media-body">
                                <div class="mgt">
                                    <h4 class="media-heading text-left"><a href="{{feed.link}}"  target="_blank">{{feed.title}}</a></h4>
                                    <h6 ng-bind-html="feed.contentSnippet | html"></h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="border-bottom"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="space-18"></div>
            <div>
                <div>
                    <a ui-view="right-partials"> </a>
                    <ng-include src="'/assets/right-partials/right-view.html'" scope="" onload=""></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-20"> </div>
