<section data-ng-repeat="section in sections | orderBy:'sequenceNo'" id="{{section.sectionName}}" class="{{section.class}}" ng-style="section.backgroudStyle">
    <div ng-class="section.fluid == true ? 'container-fluid' : 'container'">
        <div class="row">
            <div class="animated fadeInUp">
                <div class="col-md-12" data-ng-switch on="section.sectionName">
                    <div data-ng-switch-when="home">
                        <div class="space-80 hidden-xs"></div>
                        <div class="space-80"></div>
                        <h1 class="brand-heading white text-center">{{section.sectionHeader}}</h1>
                        <div class="space-30-1"></div>
                        <!-- <a href="#about" class="btn btn-circle page-scroll" scroll-on-click>
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                        <div class="space-30-1 visible-xs"></div>
                    </div>
                    <div data-ng-switch-when="about">
                        <div class="container">
                            <div class="space-32"></div>
                            <div class="space-40 visible-xs visible-sm"></div>
                            <h1 class="white text-center" ng-bind-html="section.sectionHeader | html"></h1>
                            <div class="space-32"></div>
                            <h2 class="intro-text white text-center">{{section.sectionDescription1}}</h2>
                            <div class="space-18"></div>
                            <h2 class="intro-text white text-center">{{section.sectionDescription2}}</h2>
                            <div class="space-32"></div>
                            <div class="text-center">
                                <a ui-sref="{{section.buttonLink}}" class="btn btn-primary">
                                                         {{section.buttonTitle}}
                                         <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                       </a>
                            </div>
                            <div class="space-40"> </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="news">
                        <div class="row">
                            <div class="space-26"></div>
                            <div class="space-34"></div>
                            <div class="space-40 hidden-xs"></div>
                            <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 col-xs-12">
                                <h1 class="news-title text-center ">{{section.sectionHeader}}</h1>
                                <div class="space-18"></div>
                            </div>
                            <div class="col-md-12 text-center-md ml">
                                <ul class="list-unstyled row">
                                    <li data-ng-repeat-start="feed in feeds | filter:filterText | limitTo:4" class="col-md-6" style="margin-bottom:10px;">
                                        <h4>
                                            <a href ="{{feed.link}}" class="black" target="_blank">{{feed.title}}</a>
                                        </h4>
                                        <span class="small">{{feed.publishDate | date:'dd MMM, yyyy'}}</span>
                                        <h5 ng-bind-html="feed.contentSnippet | html"></h5>
                                    </li>
                                    <li role="clearfix" data-ng-repeat-end="data-ng-repeat-end" ng-if="$index % 2 == 1" data-ng-hide="$last" class="clearfix"></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                <div class="space-18"></div>
                                <a class="btn btn-primary" ui-sref="{{section.buttonLink}}">
                                    {{section.buttonTitle}}
                                 </a>
                                <div class="space-32"></div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="salesSection">
                        <div class="row">
                            <div class="col-md-7 visible-xs visible-sm text-center">
                                <div class="space-40"></div>
                                <div class="space-80 hidden-xs"></div>
                                <h1 class="brand-heading white text-center"></h1>
                                <a class="btn btn-primary" ui-sref="{{section.buttonLink}}">{{section.buttonTitle}}</a>
                                <div class="space-80 visible-sm"></div>
                                <div class="space-32 visible-xs"></div>
                            </div>
                            <div class="col-md-5 customer-content-bg">
                                <div class="space-26"></div>
                                <div class="space-18"></div>
                                <div class="customer-content">
                                    <div class="customer-content-inside" ng-repeat="package in section.package | orderBy:'sequenceNo'">
                                        <div class="client-testimonial">{{package.packageName}}</div>
                                        <div class="space-4"> </div>
                                        <div class="brows-style">
                                            <div class="client-name" ng-bind-html="package.packageDescription | html"></div>
                                        </div>
                                        <div ng-if="package.buttonTitle !=''">
                                            <a class="btn btn-primary  btn-buy" ui-sref="{{package.buttonLink}}({navigateTo: '#mailing-page', navigatePosition : 50})">{{package.buttonTitle}}</a>
                                        </div>
                                    </div>
                                    <div class="space-20"></div>
                                </div>
                            </div>
                            <div class="col-md-7 visible-lg visible-md text-center">
                                <div class="space-40"></div>
                                <div class="space-40"></div>
                                <div class="space-40"></div>
                                <div class="space-40"></div>
                                <div class="space-40"></div>
                                <div class="space-40"></div>
                                <div class="space-40"></div>
                                <div class="space-40"></div>
                                <h1 class="brand-heading white text-center">{{section.sectionHeader}}</h1>
                                <a class="btn btn-primary" ui-sref="{{section.buttonLink}}">{{section.buttonTitle}}</a>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="productSection">
                        <div id="product" class="container">
                            <div class="row">
                                <div id="animated-example" class="animated fadeInUp">
                                    <div class="col-md-12">
                                        <div class="space-40"> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="white">{{section.sectionHeader}}</h1>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- | orderBy:'sequenceNo' -->
                                        <p class="intro-text white text-center">
                                            <ul ng-repeat="productCategoryHome  in productCategoryHome  | orderBy:'_id.sequenceNo'">
                                                <li>{{productCategoryHome._id.ProductCategoryName}}</li>
                                            </ul>
                                        </p>
                                        <div class="space-32"></div>
                                        <!-- <a class="btn btn-primary mgbottom" ui-sref="products-services-guide.html">See All Services</a> -->
                                        <a class="btn btn-primary" ui-sref="{{section.buttonLink}}">{{section.buttonTitle}}</a>
                                    </div>
                                    <div class="space-40"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="sampleListing">
                        <div class="row">
                            <div class="space-26"></div>
                            <div class="space-34"></div>
                            <div class="space-40 visible-xs"></div>
                            <div class="text-center">
                                <div class="col-sm-12 col-md-9 col-lg-8 col-lg-offset-2 col-xs-12">
                                    <h1 class="mailing-title">{{section.sectionHeader}}</h1>
                                    <div class="space-18"></div>
                                </div>
                                <div class="col-md-10  col-md-offset-1">
                                    <h3 class="mailing-txt" ng-bind-html="section.sectionDescription1 | html"></h3>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                <div class="space-18"></div>
                                <a class="btn btn-primary" ui-sref="{{section.buttonLink}}">
                                    {{section.buttonTitle}}
                                 </a>
                                <div class="space-32"></div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="mailingSection">
                        <div class="space-26"> </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                <div class="space-18"></div>
                                <h1 class="mailing-title">{{section.sectionHeader}}</h1>
                                <div class="space-18"></div>
                            </div>
                            <div class="col-md-10  col-md-offset-1">
                                <h2 class="text-center black"><b>{{section.sectionDescription1}}</b></h2>
                                <div class="space-26"></div>
                            </div>
                            <div class="{{subData.class}}" ng-repeat="subData  in section.subData">
                                <!-- <span class="title"> 14,410</span> <span class="txt">Parish Catechesis Programs</span>  -->
                                <span class="title"> {{subData.count}}</span>
                                <span class="txt">{{subData.name}}</span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="space-20"></div>
                                <div id="mailing-page" class="text-center">
                                    <h2 class="black"><b>{{section.sectionDescription2}}</b></h2>
                                    <h4 class="blue">{{section.sectionDescription3}}</h4>
                                    <h3>
                                <i class="fa fa-envelope blue"></i> <a href="#" class="blue">{{section.sectionDescription4}}</a>
                                </h3>
                                    <h3 class="blue">
                                        <i class="fa fa-phone"></i> {{section.telephone}} <span class="br"></span>
                                                <div class="space-4 visible-xs"></div>
                                                                &nbsp;
                                        <i class="fa fa-fax"></i> {{section.fax}}
                                                     </h3>
                                    </h6>
                                    <div class="space-20"></div>
                                    <h6 class="blue">{{section.sectionDescription5}}</h6>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                <div class="space-18"></div>
                                <a class="btn btn-primary" ui-sref="{{section.buttonLink}}({navigateTo:'#mailing-page', navigatePosition : 50})">{{section.buttonTitle}}</a>
                            </div>
                        </div>
                        <div class="space-32"> </div>
                    </div>
                    <div data-ng-switch-when="mailingSection1">
                        <div class="space-26"> </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                <div class="space-18"></div>
                                <h1 class="mailing-title">{{section.sectionHeader}}</h1>
                                <div class="space-18"></div>
                            </div>
                            <div class="col-md-10  col-md-offset-1">
                                <h2 class="text-center black"><b>{{section.sectionDescription1}}</b></h2>
                                <div class="space-26" ng-if="section.sectionDescription6 != '' "></div>
                                <h4 class="text-center mailing-txt">{{section.sectionDescription6}}</h4>
                            </div>
                            <div class="">
                                <div class="col-sm-12 col-md-12 col-xs-12">
                                    <div class="space-20"></div>
                                    <div id="mailing-page" class="text-center">
                                        <h2 class="black"><b>{{section.sectionDescription2}}</b></h2>
                                        <div class="space-8"></div>
                                        <h4 class="blue">{{section.sectionDescription3}}</h4>
                                        <h3>
                                <i class="fa fa-envelope blue"></i> <a href="#" class="blue">{{section.sectionDescription4}}</a>
                                </h3>
                                        <h3 class="blue">
                                        <i class="fa fa-phone"></i> {{section.telephone}} <span class="br"></span>
                                                <div class="space-4 visible-xs"></div>
                                                                &nbsp;
                                        <i class="fa fa-fax"></i> {{section.fax}}
                                                     </h3>
                                        <!-- <h6 class="link">

                                          <a class="blue"  ui-sref="{{section.sectionDescription4}}">{{section.sectionDescription4}}</a>
                                        </h6> -->
                                        <div class="space-20"></div>
                                        <h6 class="blue">{{section.sectionDescription5}}</h6>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                    <div class="space-18"></div>
                                    <a class="btn btn-primary" ui-sref="{{section.buttonLink}}({navigateTo:'#mailing-page', navigatePosition : 50})">{{section.buttonTitle}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="space-32"> </div>
                        <div class="space-32"> </div>
                        <div class="space-32"> </div>
                        <div class="space-32"> </div>
                    </div>
                    <div data-ng-switch-when="customer">
                        <div class="row">
                            <div class="text-center-md">
                                <div id="animated-example" class="animated fadeInUp">
                                    <div class="col-md-7">
                                        <div class="space-40"></div>
                                        <h1 class="white col-md-offset-3 " ng-bind-html="section.sectionHeader | html">
                                        </h1>
                                    </div>
                                    <div class="col-md-5 customer-content-bg">
                                        <div class="space-40"></div>
                                        <div class="customer-content">
                                            <div class="customer-content-inside" ng-repeat="customerFeedback in customerFeedbacks | orderBy:'sequenceNo'">
                                                <div class="client-testimonial">{{customerFeedback.comments | limitTo : 69}}...</div>
                                                <div class="client-name">
                                                    -<span data-ng-hide="customerFeedback.name.prefix == ''">{{customerFeedback.name.prefix}} </span><span data-ng-hide="customerFeedback.name.first == ''">{{customerFeedback.name.first}} </span><span data-ng-hide="customerFeedback.name.last == ''">{{customerFeedback.name.last}} </span><span data-ng-hide="customerFeedback.name.middle == ''">{{customerFeedback.name.middle}} </span><span data-ng-hide="customerFeedback.name.suffix == ''">{{customerFeedback.name.suffix}}</span>
                                                </div>
                                            </div>
                                            <div class="space-32"></div>
                                            <a class="btn btn-primary" ui-sref="{{section.buttonLink}}({navigateTo: '#navigateTocustomers', navigatePosition : 50})">{{section.buttonTitle}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="offersSection">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                <div class="space-40"></div>
                                <div class="space-80 hidden-xs"></div>
                                <h1 class="mailing-title">{{section.sectionHeader}}</h1>
                                <div class="space-18"></div>
                                <h3>{{section.sectionDescription1}}</h3>
                                <div class="space-18"></div>
                                <!-- <form class="newsletter-form col-lg-offset-4" role="form" name="Offers" ng-submit="ClickOffers()"> -->
                                <form class="newsletter-form signup mob-sign" name="Offers" ng-submit="ClickOffers()">
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="email" ng-model="addOffers.email" placeholder="Your email address" validate-this="emailId" validate-as="email" required>
                                        <div class="help-block" ng-messages="Offers.email.$error" ng-show="Offers.email.$touched">
                                            <div ng-message="validateAs">
                                                <!-- <p class="red" ng-show="validateAsErrors.emailId.email">Invalid Email</p> -->
                                            </div>
                                        </div>
                                        <span class="input-group-btn">
                                          <div 
                                            class="clearfix"></div>
                                           <button class="btn btn-info" 
                                           type="submit" 
                                           ng-disabled="Offers.$invalid"
                                           ng-click="Offers.$setUntouched()"
                                           >
                                           <span>SIGN UP</span></button>
                                        </span>
                                    </div>
                                    <!-- <div class="form-group" ng-class="{'has-error': Offers.email.$touched && Offers.email.$invalid}">
                                    <label for="text">Your Email: <span class="meditator">*</span></label>
                                
                                    <input type="email" required class="form-control" name="email" ng-model="addOffers.email" validate-this="emailId" validate-as="email">
                                      <div class="help-block" ng-messages="Offers.email.$error" ng-show="Offers.email.$touched">
                                  
                                        <div ng-message="validateAs">
                                        <p ng-show="validateAsErrors.emailId.email">Invalid Email</p>
                                        </div>
                                  
                                      </div>
                                  </div> -->
                                </form>
                                <p class="red" ng-if="Offers.email.$touched && Offers.email.$invalid">Invalid Email</p>
                                <!-- <h3  class="orange">{{addOffersMsg}}</h3> -->
                                <!-- <form class="newsletter-form col-lg-offset-4" method="POST">
                                    <div class="input-group">
                                       <input type="email" class="form-control" name="email" placeholder="Your email address">
                                       <span class="input-group-btn">
                                          <div class="clearfix"></div>
                                          <a ui-sref="#" class="btn btn-info"><span>SIGN UP</span></a> 
                                       </span>
                                    </div>
                                 </form> -->
                                <div class="space-18"></div>
                                <h3>{{section.sectionDescription2}}</h3>
                                <div class="space-18"></div>
                                <a ui-sref="{{section.buttonLink}}" class="btn btn-primary"><span>{{section.buttonTitle}}</span></a>
                                <!-- <a ui-sref="ocd-sales.html" class="btn btn-primary"><span>Click Here</span></a>  -->
                                <div class="space-18 visible-xs visible-sm"></div>
                            </div>
                        </div>
                        <div class="space-32"></div>
                        <div class="space-80 hidden-xs"></div>
                    </div>
                    <div data-ng-switch-when="advertisingSection">
                        <div class="row">
                            <div class="col-md-12 text-center-md">
                                <div class="col-md-7">
                                    <div class="space-80"></div>
                                    <h1 class="white col-md-offset-3" ng-bind-html="section.sectionHeader | html">
                                                    </h1>
                                    <div ng-if="section.buttonTitle=='View More'">
                                        <div class="space-10"></div>
                                        <a class="btn btn-primary col-md-offset-3" ui-sref="{{section.buttonLink}}">{{section.buttonTitle}}</a>
                                    </div>
                                    <div ng-if="section.buttonTitle!='View More'">
                                        <h3 class="white text-center-md col-md-offset-3" ng-bind-html="section.sectionDescription2 | html"></h3>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="space-40"></div>
                                    <div class="col-md-15">
                                        <h3 class="white"> {{section.sectionDescription1}}</h3>
                                        <div class="space-40" ng-if="section.sectionPhoneEmail==false"></div>
                                        <div ng-if="section.sectionPhoneEmail==true">
                                            <div class="space-4"></div>
                                            <span class="white"><i class="fa fa-envelope"></i> {{section.email}}</span>
                                            <div class="space-4"></div>
                                            <span class="white"><i class="fa fa-phone"></i> {{section.phone}}</span>
                                            <div class="space-10"></div>
                                        </div>
                                        <form class="form-horizontal" role="form" name="AdvertiseInquiry" ng-submit="ClickAdvertiseInquiry(AdvertiseInquiry)">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <div class="col-md-10 col-sm-8 col-sm-offset-2 col-md-offset-0">
                                                            <input type="text" class="form-control" ng-model="addAdvertiseInquiry.name.first" id="name" name="name" placeholder="First & Last Name" ng-class="{AdvertiseInquiryEmailError:AdvertiseInquiry.name.$touched && AdvertiseInquiry.name.$invalid}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-10 col-sm-8 col-sm-offset-2 col-md-offset-0">
                                                            <input type="email" class="form-control" ng-model="addAdvertiseInquiry.email" id="email" name="email" placeholder="example@domain.com" validate-this="emailId" validate-as="email" ng-class="{AdvertiseInquiryEmailError:AdvertiseInquiry.email.$touched && AdvertiseInquiry.email.$invalid}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-10 col-sm-8 col-sm-offset-2 col-md-offset-0">
                                                            <input type="text" class="form-control" id="human" name="human" ng-model="addAdvertiseInquiry.subject" placeholder="Subject" ng-class="{AdvertiseInquiryEmailError:AdvertiseInquiry.human.$touched && AdvertiseInquiry.human.$invalid}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-10 col-sm-8 col-sm-offset-2 col-md-offset-0">
                                                            <textarea ng-model="addAdvertiseInquiry.details" placeholder="Description" class="form-control" rows="4" name="message" ng-class="{AdvertiseInquiryEmailError:AdvertiseInquiry.message.$touched && AdvertiseInquiry.message.$invalid}" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <h3 class="white">{{addAdvertiseInquiryMsg}}</h3>
                                                    <button class="btn btn-primary" type="submit" ng-disabled="AdvertiseInquiry.$invalid" ng-click="AdvertiseInquiry.$setUntouched()">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                     <div data-ng-switch-when="advertising">                      
                          <div class="">
                             <div id="animated-example" class="animated fadeInUp">
                                <div class="col-md-30">
                                   <div class="col-md-6">
                                      <div class="space-40"></div>
                                      <div class="space-40"></div>
                                      <h1 class="white col-md-offset-3">{{section.sectionHeader}}</h1>
                              <div class="space-40"></div>
                              <a class="btn btn-primary col-md-offset-3" ui-sref="{{section.buttonLink}}">{{section.buttonTitle}}</a>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="space-40"></div>
                                      <div class="col-md-10">
                                         <h3  class="white">{{section.sectionDescription1}}
                                         </h3>
                                         <div class="space-40"></div>
                                         <form class="form-horizontal" role="form"  name="AdvertiseInquiry" ng-submit="ClickAdvertiseInquiry()">
                                            <div class="row">
                                               <div class="col-md-10">
                                                  <div class="form-group">
                                                     <div class="col-sm-10">

                                                        <input type="text" class="form-control" id="name" ng-model="addAdvertiseInquiry.name.first" name="name" placeholder="First & Last Name" value="">
                                                     </div>
                                                  </div>
                                               <div class="form-group">
                                                  <div class="col-sm-10">
                                                     <input type="email" class="form-control"ng-model="addAdvertiseInquiry.email" id="email" name="email" placeholder="example@domain.com" required>
                                                  </div>
                                               </div>
                                                  <div class="form-group">
                                                     <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="human" name="human" ng-model="addAdvertiseInquiry.subject" placeholder="Subject">
                                                     </div>
                                                  </div>
                                                  <div class="form-group">
                                                     <div class="col-sm-12">
                                                        <textarea ng-model="addAdvertiseInquiry.details" class="form-control" rows="4" name="message"></textarea>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="form-group">
                                               <div class="col-sm-12">
                                                 <h3  class="white">{{addAdvertiseInquiryMsg}}</h3>
                                                <button class="btn btn-primary" type="submit"  >Send</button>
                   
                                               </div>
                                            </div>
                                         </form>
                                      </div>
                                   </div>
                                </div>
                                <div class="space-30-1"></div>
                             </div>
                          </div>               
                         </div>

-->
                    <div data-ng-switch-when="contact">
                        <div class="">
                            <div id="animated-example" class="animated fadeInUp">
                                <div class="space-40"></div>
                                <div class="col-md-12">
                                    <h1 class="mailing-title">{{section.sectionHeader}}</h1>
                                    <h3 class="black">
                                        {{section.sectionDescription1}}
                                        <div class="space-4"></div>
                                        <b>Email:</b> {{section.sectionDescription2}}
                                        <div class="tel-space"> </div>
                                        <b>Tel: </b> {{section.sectionDescription3}}
                                     </h3>
                                    <div class="space-6"></div>
                                </div>
                                <div class="col-md-12">
                                    <div ng-if="direcoryName=='OCD'">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.3728524330995!2d-74.3960021851522!3d40.68778534703463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b004b4888cf7%3A0xf7c09a20a6885fc6!2s430+Mountain+Ave+%23403%2C+New+Providence%2C+NJ+07974!5e0!3m2!1sen!2sin!4v1473340947563" class="contact-map" width="100%" frameborder="0" style="border:0" allowfullscreen>
                                        </iframe>
                                        <div class="space-10"></div>
                                    </div>
                                    <div ng-if="direcoryName=='OMD'">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.3728524330995!2d-74.3960021851522!3d40.68778534703463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b004b4888cf7%3A0xf7c09a20a6885fc6!2s430+Mountain+Ave+%23403%2C+New+Providence%2C+NJ+07974!5e0!3m2!1sen!2sin!4v1473340947563" class="contact-map" width="100%" frameborder="0" style="border:0" allowfullscreen>
                                        </iframe>
                                        <div class="space-10"></div>
                                    </div>
                                    <div ng-if="direcoryName=='DMMP'">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.3728524330995!2d-74.3960021851522!3d40.68778534703463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b004b4888cf7%3A0xf7c09a20a6885fc6!2s430+Mountain+Ave+%23403%2C+New+Providence%2C+NJ+07974!5e0!3m2!1sen!2sin!4v1473340947563" class="contact-map" width="100%" frameborder="0" style="border:0" allowfullscreen>
                                        </iframe>
                                        <div class="space-10"></div>
                                    </div>
                                    <div ng-if="direcoryName=='CFS'">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.3728524330995!2d-74.3960021851522!3d40.68778534703463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b004b4888cf7%3A0xf7c09a20a6885fc6!2s430+Mountain+Ave+%23403%2C+New+Providence%2C+NJ+07974!5e0!3m2!1sen!2sin!4v1473340947563" class="contact-map" width="100%" frameborder="0" style="border:0" allowfullscreen>
                                        </iframe>
                                        <div class="space-10"></div>
                                    </div>
                                    <div ng-if="direcoryName=='AAD'">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.3728524330995!2d-74.3960021851522!3d40.68778534703463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b004b4888cf7%3A0xf7c09a20a6885fc6!2s430+Mountain+Ave+%23403%2C+New+Providence%2C+NJ+07974!5e0!3m2!1sen!2sin!4v1473340947563" class="contact-map" width="100%" frameborder="0" style="border:0" allowfullscreen>
                                        </iframe>
                                        <div class="space-10"></div>
                                    </div>
                                </div>
                                <a class="btn btn-primary" ui-sref="{{section.buttonLink}}">{{section.buttonTitle}} </a>
                                <div class="space-14"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section id="home" class="module parallax parallax-1 text-center">
 <div class="container">
    <div class="row">
       <div id="animated-example" class="animated fadeInUp">
          <div class="col-md-12">
             <div class="space-80 hidden-xs"></div>
             <div class="space-80"></div>
             <h1 class="brand-heading white text-center">WELCOME TO THE OFFICIAL<br/>CATHOLIC DIRECTORY</h1>
             <div class="space-30-1"></div>
             <a ui-sref="#about" class="btn btn-circle page-scroll"> <i class="fa fa-angle-double-down animated"></i> </a> 
             <div class="space-30-1 visible-xs"></div>
          </div>
       </div>
    </div>
 </div>
</section>
<section class="module parallax parallax-about">
 <div id="about" class="container">
    <div class="row">
       <div id="animated-example" class="animated fadeInUp">
          <div class="col-md-12">
             <div class="space-32"></div>
             <div class="space-40 visible-xs visible-sm"></div>
             <h1 class="white text-center">New Owners - Our Vision</h1>
             <div class="space-32"></div>
             <h2 class="intro-text white text-center">
                Thank you for your business.  As the new owners of The Official Catholic Directory, we are grateful for your past business and current interest in our products and services. 
             </h2>
             <div class="space-18"></div>
             <h2 class="intro-text white text-center">
                We are glad that you are here and want you to be among the first to know that our goal is to become the most trusted and valued source of data collection, data storage, and publication within the marketplace for Catholic information.  
             </h2>
             <div class="space-32"></div>
             <div class="text-center">
                <a ui-sref="about-us.html" class="btn btn-primary"> Why use our data <i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
             </div>
          </div>
          <div class="space-40"> </div>
       </div>
    </div>
 </div>
</section>
<section id="news" class="module parallax parallax-news">
 <div class="container">
    <div class="row">
      <div class="space-26"></div>
      <div class="space-34"></div>
      <div class="space-40 visible-xs"></div>
       <div class="col-sm-12 col-md-9 col-lg-8 col-lg-offset-2 col-xs-12">
          <h1 class="news-title text-center"> Catholic News & Announcements</h1>
          <div class="space-18"></div>
       </div>
       <div class="col-md-6 text-center-md ml">
          <div class=" col-md-12">
             <h4 class="blue">USCCB among religious organizations urging Congress to 
                support $750 million contribution to Green Climate Fund
             </h4>
             <h5> 12 April, 2016</h5>
             <div class="space"></div>
          </div>
          <div class=" col-md-6"> <img class="img-responsive" src="assets/green.jpg"/> </div>
          <div class=" col-md-6">
             <h5>On the heels of the White House’s announcement that the United States has made its first $500 million contribution to the Green Climate Fund more than 120 faith-based organizations called on Congress to continue to support the effort in the fiscal year 2017 federal budget.
                In a letter to members of Congress April 11...
             </h5>
          </div>
       </div>
       <div class="col-md-6 text-center-md">
          <div class=" col-md-12">
             <div class="space-34 visible-xs"></div>
             <h4 class="blue">To be blessed by those who suffer, one must walk with them</h4>
             <h5> 21 April, 2016</h5>
             <div class="space"></div>
          </div>
          <div class=" col-md-6"> <img class="img-responsive" src="assets/blessed.jpg"/> </div>
          <div class=" col-md-6">
             <h5>IRBIL, Iraq — Every morning, as her son prepares to leave for preschool, the mother of 4-year old Luis Firas takes a stick of oil and makes the sign of the cross on his forehead.
                Blessing is important for this Christian family, which fled from Mosul during the 2014 takeover of the area by Islamic State militants and today — like tens of thousands...
             </h5>
          </div>
       </div>
       <div class="col-sm-12 col-md-12 col-xs-12 text-center">
          <div class="space-18"></div>
          <a class="btn btn-primary" ui-sref="catholic-news.html">
             See All News 
             <div class="space visible-xs"></div>
             & Announcement
          </a>
          <div class="space-32"></div>
       </div>
    </div>
 </div>
</section>
<section class="module parallax parallax-sales" id="sales">
 <div class="">
    <div class="">
       <div id="animated-example" class="animated fadeInUp">
          <div class="col-md-7 visible-xs">
             <div class="space-40"></div>
             <div class="space-80 hidden-xs"></div>
             <h1 class="brand-heading white text-center">The Official Catholic Directory <br/> Sales
             </h1>
          </div>
          <div class="col-md-5 customer-content-bg">
             <div class="space-26"></div>
             <div class="space-18"></div>
             <div class="customer-content">
                <div class="customer-content-inside">
                   <div class="client-testimonial">Print Package - $347 ($187 for clergy)</div>
                   <div class="space-4"> </div>
                   <div class="client-name">The 2016 print edition of The Official Catholic Directory is now available for purchase. </div>
                   <a class="btn btn-primary btn-buy" ui-sref="ocd-sales.html#ways">Buy Now</a>
                </div>
                <div class="customer-content-inside">
                   <div class="client-testimonial">Digital Package - $347 ($187 for clergy)</div>
                   <div class="space-4"> </div>
                   <div class="client-name">Download the 2016 edition of The Official Catholic Directory in a searchable, pdf format and receive instant access to the OCD Database for unparalleled searching capabilities of Catholic data within the United States.  </div>
                   <a class="btn btn-primary btn-buy" ui-sref="ocd-sales.html#ways">Buy Now</a>
                </div>
                <div class="customer-content-inside">
                   <div class="client-testimonial"> Ultimate Package - $389 ($209 for clergy)</div>
                   <div class="space-4"> </div>
                   <div class="client-name">Receive the 2016 print edition of The Official Catholic Directory + the Digital Package.   </div>
                   <a class="btn btn-primary btn-buy" ui-sref="ocd-sales.html#ways">Buy Now</a>
                </div>
                <div class="space-16"></div>
             </div>
          </div>
          <div class="col-md-7 hidden-xs text-center">
             <div class="space-40"></div>
             <div class="space-80"></div>
             <h1 class="brand-heading white text-center">OCD <br/> Sales</h1>
       <div class="space-40"></div> 
       <a class="btn btn-primary" ui-sref="ocd-sales.html">View More</a>
             
          </div>
       </div>
    </div>
 </div>
</section>
<section class="module parallax parallax-2">
 <div id="product" class="container">
    <div class="row">
       <div id="animated-example" class="animated fadeInUp">
          <div class="col-md-12">
             <div class="space-40"> </div>
          </div>
          <div class="col-md-6">
             <h1 class="white">Products & <br/>
                Services Guide
             </h1>
          </div>
          <div class="col-md-6">
             <p class="intro-text white text-center">
             <ul>
                <li>Church Art</li>
                <li>Professional Associations & Organizations</li>
                <li>Construction, Maintenance & Renovation</li>
                <li>Church Furnishings</li>
                <li>Liturgical & Church Goods</li>
             </ul>
             </p>
             <div class="space-32"></div>
             <a class="btn btn-primary mgbottom" ui-sref="products-services-guide.html">See All Services</a>
          </div>
          <div class="space-40"> </div>
       </div>
    </div>
 </div>
</section>
<div id="mailing" class="container">
 <div class="space-26"> </div>
 <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 text-center">
       <div class="space-18"></div>
       <h1 class="mailing-title">Mailing Lists</h1>
       <div class="space-18"></div>
    </div>
    <div class="col-md-10  col-md-offset-1">
       <h4 class="text-center mailing-txt">Our database is an essential resource for marketers, fund raising campaigns, and new product introductions to this targeted audience including</h4>
       <div class="space-26"></div>
    </div>
    <div class="col-md-2 text-center bx"> <span class="title"> 14,410</span> <span class="txt">Parish Catechesis Programs</span> </div>
    <div class="col-md-2 text-center bx"> <span class="title"> 388</span> <span class="txt">Cardinals, Archbishops and Bishops</span> </div>
    <div class="col-md-2 text-center bx"> <span class="title"> 32,564</span> <span class="txt">Priests</span> </div>
    <div class="col-md-2 text-center bx"> <span class="title"> 7,675</span> <span class="txt">Catholic Schools and Seminaries</span> </div>
    <div class="col-md-2 text-center bx"> <span class="title"> 8,432</span> <span class="txt">Pastors</span> </div>
    <div class="row">
       <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="space-20"></div>
          <div id="mailing-page" class="text-center">
             <h2 class="black"><b>For more information on The Official Catholic Directory Mailing Lists contact:</b></h2>
             <h4 class="light-grey">Agnes Orlowska
                800-473-7020, ext. 1206 
                908-673-1206<br/>
             </h4>
             <h6 class="link"><a class="blue" ui-sref="mailto:agnes.orlowska@officialcatholicdirectory.com"> agnes.orlowska@officialcatholicdirectory.com</a></h6>
             <div class="space-20"></div>
             <h6 class="black">For over 25 years, a special Papal Edition of The Official Catholic Directory® has been prepared for presentation to the Pope. The white leather-bound book has a gilded cover bearing the Papal coat-of-arms as well as gilded pages.
             </h6>
          </div>
       </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xs-12 text-center">
       <div class="space-18"></div>
       <a class="btn btn-primary" ui-sref="request-data-card.html">Request a Data Card</a>
    </div>
 </div>
 <div class="space-32"> </div>
</div>

<section class="module parallax parallax-customer" id="customer">
 <div class="">
    <div class="">
       <div id="animated-example" class="animated fadeInUp">
          <div class="col-md-7">
             <div class="space-40"></div>
             <h1 class="white col-md-offset-3">What<br/>
                Customers<br/>
                are Saying
             </h1>
          </div>
          <div class="col-md-5 customer-content-bg">
             <div class="space-40"></div>
             <div class="customer-content">
                <div class="customer-content-inside">
                   <div class="client-testimonial">There is nothing like The Official Catholic Directory to learn about...</div>
                   <div class="client-name">-Monsignor Roger C. Roensch</div>
                </div>
                <div class="customer-content-inside">
                   <div class="client-testimonial">The directory has proved to be an invaluable reference work...</div>
                   <div class="client-name">-Sister Ladonna Kassmeyer</div>
                </div>
                <div class="customer-content-inside">
                   <div class="client-testimonial">The Official Catholic Directory is an indispensible tool for keeping...</div>
                   <div class="client-name">-Sister Ladonna Cerejo</div>
                </div>
                <div class="space-32"></div>
                <a class="btn btn-primary" ui-sref="about-us.html#client-says">SHOW ALL</a>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
<div class="container" id="subscribe">
 <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 text-center">
       <div class="space-40"></div>
       <div class="space-40"></div>
       <div class="space-40"></div>
       <h1>Special Offers</h1>
       <div class="space-18"></div>
       <h3>Sign up here to receive special offers and discounts on all of our products.</h3>
       <div class="space-18"></div>
       <form class="newsletter-form col-lg-offset-4" method="POST">
          <div class="input-group">
             <input type="email" class="form-control" name="email" placeholder="Your email address">
             <span class="input-group-btn">
                <div class="clearfix"></div>
                <a ui-sref="#" class="btn btn-info"><span>SIGN UP</span></a> 
             </span>
          </div>
       </form>
       <div class="space-18"></div>
       <h3>To Subscribe</h3>
       <div class="space-18"></div>
       <a ui-sref="ocd-sales.html" class="btn btn-primary"><span>Click Here</span></a> 
     <div class="space-18 visible-xs visible-sm"></div>

    </div>
 </div>
 <div class="space-32"></div>
 <div class="space-80"></div>
</div>
<section class="module parallax parallax-advertising">
 <div id="advertising" class="">
    <div class="">
       <div id="animated-example" class="animated fadeInUp">
          <div class="col-md-12">
             <div class="col-md-6">
                <div class="space-40"></div>
                <div class="space-40"></div>
                <h1 class="white col-md-offset-3">Advertise<br/> with us
                </h1>
        <div class="space-40"></div>
        <a class="btn btn-primary col-md-offset-3" ui-sref="advertising.html">View More</a>
             </div>
             <div class="col-md-6">
                <div class="space-40"></div>
                <div class="col-md-10">
                   <h3  class="white">
                   For any general inquiries, please fill in the following contact form:</h1>
                   <div class="space-40"></div>
                   <form class="form-horizontal" role="form" method="" action="">
                      <div class="row">
                         <div class="col-md-10">
                            <div class="form-group">
                               <div class="col-sm-10">
                                  <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                               </div>
                            </div>
                            <div class="form-group">
                               <div class="col-sm-10">
                                  <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                               </div>
                            </div>
                            <div class="form-group">
                               <div class="col-sm-10">
                                  <input type="text" class="form-control" id="human" name="human" placeholder="Subject">
                               </div>
                            </div>
                            <div class="form-group">
                               <div class="col-sm-12">
                                  <textarea class="form-control" rows="4" name="message"></textarea>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="form-group">
                         <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
          <div class="space-30-1"></div>
       </div>
    </div>
 </div>
</section>
<section class="module parallax parallax-contact text-center">
 <div id="contact" class="">
    <div class="">
       <div id="animated-example" class="animated fadeInUp">
          <div class="space-80"></div>
          <div class="space-20"></div>
          <div class="col-md-12">
             <h1 class="black">OUR ADDRESS </h1>
             <h3 class="black">
                500 Terry Francois St. San Francisco, CA 94158​
                <div class="space-4"></div>
                <b>Email:</b> info@mysite.com
                <b>Tel: </b> 123-456-7890
             </h3>
             <div class="space-18"></div>
          </div>
          <div class="col-md-12">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.8389275162635!2d-122.38931128511175!3d37.770374820186454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7fc4fe7ace37%3A0xfa1746dd4faeb818!2s500+Terry+A+Francois+Blvd%2C+San+Francisco%2C+CA+94158%2C+USA!5e0!3m2!1sen!2sin!4v1466598540993" class="contact-map" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
          
      <div class="space-14"></div>
      
      
      </div>
      
      <a ui-sref="contact-us.html" class="btn btn-primary"><span>View Contact Details</span></a>
       <div class="space-14"></div>
       </div>
    </div>
 </div>
</section>
-->
