<!-- <div data-ng-controller="web.right.partials.controller">
    <div class="tabbable">
        <ul class="bxslider">
            <li>
                <div ng-repeat="advertise in sections[0].advertisesection1">
                    <a href="{{advertise.scetionURL}}"> <img src="{{advertise.sectionImage}}">
                    </a>
                    <div class="space-10"></div>
                </div>
            </li>
            <li>
                <div ng-repeat="advertise in sections[0].advertisesection2">
                    <a href="{{advertise.scetionURL}}"> <img src="{{advertise.sectionImage}}">
                    </a>
                    <div class="space-10"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
 -->

<div data-ng-controller="web.right.partials.controller">
    <!-- <div class="tabbable">
    <div class="responsive-tabs-container accordion-xs accordion-sm">
        <img width="100%" src="assets/add-1.jpg" />
    </div>

</div>
<div class="space-18"></div>
<img width="100%" src="assets/add-2.jpg" />
<div class="space-18"></div> -->
    <div class="tabbable">
        <ul class="bxslider">
            <li>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.willis.com" target="_blank">
                        <img width="100%" src="assets/add_01.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <!-- <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.glasbau-hahn.com" target="_blank">
                        <img width="100%" src="assets/add_04.jpg" />
                    </a>
                </div>
                <div class="space-10"></div> -->
                <!-- <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.htblanding.com/banners" target="_blank">
                        <img width="100%" src="assets/add_02.jpg" />
                    </a>
                </div>
                <div class="space-10"></div> -->
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="https://www.hubinternational.com" target="_blank">
                        <img width="100%" src="assets/add_05.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.nouvir.com" target="_blank">
                        <img width="100%" src="assets/add_03.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <!-- <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="https://www.bruneusa.com" target="_blank">
                        <img width="100%" src="assets/add_06.jpg" />
                    </a>
                </div>
                <div class="space-10"></div> -->
            </li>
            <li>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.htblanding.com/banners" target="_blank">
                        <img width="100%" src="assets/add_02.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
               <!--  <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="https://www.hubinternational.com" target="_blank">
                        <img width="100%" src="assets/add_05.jpg" />
                    </a>
                </div>
                <div class="space-10"></div> -->
                <!-- <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.nouvir.com" target="_blank">
                        <img width="100%" src="assets/add_03.jpg" />
                    </a>
                </div>
                <div class="space-10"></div> -->
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="https://www.bruneusa.com" target="_blank">
                        <img width="100%" src="assets/add_06.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.glasbau-hahn.com" target="_blank">
                        <img width="100%" src="assets/add_04.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <!-- <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.willis.com" target="_blank">
                        <img width="100%" src="assets/add_01.jpg" />
                    </a>
                </div>
                <div class="space-10"></div> -->
            </li>
            <!-- <li>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.nouvir.com" target="_blank">
                        <img width="100%" src="assets/add_03.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="https://www.bruneusa.com" target="_blank">
                        <img width="100%" src="assets/add_06.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.willis.com" target="_blank">
                        <img width="100%" src="assets/add_01.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.glasbau-hahn.com" target="_blank">
                        <img width="100%" src="assets/add_04.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="http://www.htblanding.com/banners" target="_blank">
                        <img width="100%" src="assets/add_02.jpg" /></a>
                </div>
                <div class="space-10"></div>
                <div class="responsive-tabs-container accordion-xs accordion-sm">
                    <a href="https://www.hubinternational.com" target="_blank">
                        <img width="100%" src="assets/add_05.jpg" />
                    </a>
                </div>
                <div class="space-10"></div>
            </li> -->
        </ul>
    </div>
</div>
